Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

More warnings resolved
  .editorconfig
  Core/Core/Api/GraphQL/Client.cs
  Core/Core/Api/GraphQL/Serializer/MapConverter.cs
  Core/Core/Api/GraphQL/Serializer/NewtonsoftJsonSerializer.cs
  Core/Core/Api/Operations/Operations.Serialize.cs
  Core/Core/Helpers/Http.cs
  Core/Core/Kits/KitDeclaration.cs
  Core/Core/Kits/KitManager.cs
  Core/Core/Kits/Units.cs
  Core/Core/Logging/LoggingHelpers.cs
  Core/Core/Logging/Setup.cs
  Core/Core/Logging/SpeckleLog.cs
  Core/Core/Models/Base.cs
  Core/Core/Models/Collection.cs
  Core/Core/Models/GraphTraversal/GraphTraversal.cs
  Core/Core/Models/InvalidPropNameException.cs
  Core/Core/Transports/Exceptions.cs
  Core/Core/Transports/ITransport.cs
  Core/Core/Transports/SQLite.cs
  Core/Core/Transports/ServerV2.cs
  Core/Transports/DiskTransport/DiskTransport.cs
  Objects/Objects/ObjectsKit.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

More warnings
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.BranchOperations.cs
  Core/Core/Api/GraphQL/Client.Subscriptions/Client.Subscriptions.Branch.cs
  Core/Core/Api/GraphQL/Client.Subscriptions/Client.Subscriptions.Stream.cs
  Core/Core/Api/GraphQL/Client.cs
  Core/Core/Api/Operations/Operations.cs
  Core/Core/Credentials/StreamWrapper.cs
  Core/Core/Helpers/State.cs
  Core/Core/Kits/ISpeckleConverter.cs
  Core/Core/Kits/Units.cs
  Core/Core/Models/Blob.cs
  Core/Core/Models/CommitObjectBuilder.cs
  Core/Core/Models/Extensions.cs
  Core/Core/Models/GraphTraversal/DefaultTraversal.cs
  Core/Core/Serialisation/BaseObjectSerializer.cs
  Core/Core/Transports/Memory.cs
  Core/Core/Transports/SQLite.cs
  Core/Core/Transports/ServerUtils/IServerApi.cs
  Core/Core/Transports/ServerUtils/ParallelServerAPI.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

chore(core): Explicit disable nullability syntax for select files
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.StreamOperations.cs
  Core/Core/Api/GraphQL/Client.Subscriptions/Client.Subscriptions.Branch.cs
  Core/Core/Api/GraphQL/Client.Subscriptions/Client.Subscriptions.Commit.cs
  Core/Core/Api/GraphQL/Client.Subscriptions/Client.Subscriptions.Stream.cs
  Core/Core/Api/GraphQL/Models.cs
  Core/Core/Api/GraphQL/Serializer/ConstantCaseEnumConverter.cs
  Core/Core/Api/GraphQL/Serializer/NewtonsoftJsonSerializer.cs
  Core/Core/Api/GraphQL/SubscriptionModels.cs
  Core/Core/Api/Helpers.cs
  Core/Core/Api/Operations/Operations.Serialize.cs
  Core/Core/Core.csproj
  Core/Core/Credentials/Account.cs
  Core/Core/Credentials/Exceptions.cs
  Core/Core/Credentials/Responses.cs
  Core/Core/Helpers/Constants.cs
  Core/Core/Helpers/State.cs
  Core/Core/Kits/Attributes.cs
  Core/Core/Kits/ISpeckleConverter.cs
  Core/Core/Kits/KitDeclaration.cs
  Core/Core/Logging/Analytics.cs
  Core/Core/Logging/CumulativeTimer.cs
  Core/Core/Logging/LoggingHelpers.cs
  Core/Core/Logging/Setup.cs
  Core/Core/Models/Attributes.cs
  Core/Core/Models/Base.cs
  Core/Core/Models/Blob.cs
  Core/Core/Models/Collection.cs
  Core/Core/Models/DynamicBaseMemberType.cs
  Core/Core/Models/Extras.cs
  Core/Core/Serialisation/BaseObjectDeserializerV2.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

split files
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/RoomConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/Utils.cs
  Objects/Objects/BuiltElements/Archicad/ComponentProperties.cs
  Objects/Objects/BuiltElements/Archicad/Property.cs
  Objects/Objects/BuiltElements/Archicad/PropertyGroup.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

DynamicBase.RemoveDisallowedPropNameChars
  Core/Core/Models/DynamicBase.cs
  Objects/Objects/BuiltElements/Archicad/ComponentProperties.cs
  Objects/Objects/BuiltElements/Archicad/Property.cs
  Objects/Objects/BuiltElements/Archicad/PropertyGroup.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

NullValueHandling
  Objects/Objects/BuiltElements/Archicad/Fenestration.cs
  Objects/Objects/BuiltElements/Beam.cs
  Objects/Objects/BuiltElements/Column.cs
  Objects/Objects/BuiltElements/Floor.cs
  Objects/Objects/BuiltElements/Roof.cs
  Objects/Objects/BuiltElements/Room.cs
  Objects/Objects/BuiltElements/Wall.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

build fix
  Objects/Objects/BuiltElements/Archicad/Fenestration.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

more exception doc
  All.sln.DotSettings
  Core/Core/Api/Operations/Operations.Serialize.cs
  Core/Core/Helpers/Crypt.cs
  Core/Core/Models/Utilities.cs
  Core/Core/Serialisation/BaseObjectDeserializerV2.cs
  Core/Core/Serialisation/BaseObjectSerializerV2.cs
  Core/Tests/Models/SerializerBreakingChanges.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Fix tests
  ConnectorGrasshopper/ConnectorGrasshopperShared/Loader.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/Plugin.cs
  Core/IntegrationTests/Api.cs
  Core/IntegrationTests/Subscriptions/Commits.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

The last warnings
  Core/Core/Api/GraphQL/Client.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

removed closure throw and tracked issue for further investigation
  Core/Core/Serialisation/BaseObjectDeserializerV2.cs
  Core/IntegrationTests/ServerTransportTests.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(navisworks) CNX-7436 navisworks is sending xzyz flip (#3107)
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Events.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Geometry.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToSpeckle.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(gh): Ignore CA1031 in obsolete classes
  ConnectorGrasshopper/ConnectorGrasshopperShared/Objects/Deprecated/CreateSpeckleObjectByKeyValueTaskComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Objects/Deprecated/ExpandSpeckleObjectTaskComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Objects/Deprecated/ExtendSpeckleObjectByKeyValueTaskComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Deprecated/Operations.ReceiveComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Deprecated/Operations.ReceiveComponentSync.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Deprecated/Operations.SendComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Deprecated/Operations.SendComponentSync.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Deprecated/Operations.VariableInputSendComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Streams/Deprecated/StreamCreateComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Streams/Deprecated/StreamDetailsComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Streams/Deprecated/StreamGetComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Streams/Deprecated/StreamListComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Streams/Deprecated/StreamUpdateComponent.cs
Due: rhino

fix(core): Throw SpeckleException in StreamWrapper
  Core/Core/Credentials/StreamWrapper.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(gh): Fix CA1931 on Account components
  ConnectorGrasshopper/ConnectorGrasshopperShared/Accounts/Accounts.ListAccounts.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Accounts/Accounts.ServerAccount.cs
Due: rhino

Requested changes
  Core/Core/Kits/Attributes.cs
  Core/Core/Serialisation/BaseObjectDeserializerV2.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fixes exception handling in rhino connector files
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/Plugin.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/SpeckleCommandWin.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/SpeckleMappingsCommandWin.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.Previews.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.Receive.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/MappingBindingsRhino.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Utils.cs
Due: rhino

refactors getlayer method to be more robust
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Utils.cs
Due: rhino

refactors to use new GetGuidFromString method
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.Receive.cs
Due: rhino

removes unnecessary else blocks
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/MappingBindingsRhino.cs
Due: rhino

fixes one more ca1031 warning
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.Selection.cs
Due: rhino

layer handling exceptions
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Organization.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Utils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Update ConverterRhinoGh.Organization.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Organization.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

remove some catches
  ConnectorRevit/ConnectorRevit/Entry/App.cs
  ConnectorRevit/ConnectorRevit/Entry/SpeckleRevitCommand.cs
Due: revit

refactors design speeds on alignments
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Removed extra config file
  Core/.config/dotnet-tools.json
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix: MeshToNative exceptions
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/PartialClasses/ConvertDirectShapeMesh.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(rhino): CNX-8572 Handles ca1031 in Rhino converter files (#3111)
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Organization.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Utils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Removed config file in core (#3117)
  Core/.config/dotnet-tools.json
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Transport exception handling
  Core/Core/Api/GraphQL/Client.cs
  Core/Core/Api/Helpers.cs
  Core/Core/Api/Operations/Operations.Receive.cs
  Core/Core/Api/Operations/Operations.Send.cs
  Core/Core/Credentials/AccountManager.cs
  Core/Core/Credentials/StreamWrapper.cs
  Core/Core/Helpers/Http.cs
  Core/Core/Helpers/Path.cs
  Core/Core/Kits/Units.cs
  Core/Core/Logging/Analytics.cs
  Core/Core/Logging/ExceptionHelpers.cs
  Core/Core/Logging/SpeckleLog.cs
  Core/Core/Models/Base.cs
  Core/Core/Models/CommitObjectBuilder.cs
  Core/Core/Models/DynamicBase.cs
  Core/Core/Models/Utilities.cs
  Core/Core/Serialisation/BaseObjectDeserializerV2.cs
  Core/Core/Serialisation/BaseObjectSerializerV2.cs
  Core/Core/Serialisation/DeserializationWorkerThreads.cs
  Core/Core/Transports/ITransport.cs
  Core/Core/Transports/Memory.cs
  Core/Core/Transports/SQLite.cs
  Core/Core/Transports/Server.cs
  Core/Core/Transports/ServerUtils/ParallelServerAPI.cs
  Core/Core/Transports/ServerUtils/ServerAPI.cs
  Core/Core/Transports/ServerV2.cs
  Core/Core/Transports/TransportExtensions.cs
  Core/Tests/Kits/KitManagerTests.cs
  Core/Tests/Kits/TestKit.cs
  DesktopUI2/DesktopUI2/ViewModels/CollaboratorsViewModel.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(civil3d): CNX-8013 add alignment properties design speed (#3116)
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Reverted inclusion of serializerv1 deprecation
  Core/Core/Models/Base.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Better exception message
  Core/Core/Credentials/AccountManager.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

continued work in progress
  ConnectorRevit/ConnectorRevit/Entry/App.cs
  ConnectorRevit/ConnectorRevit/Entry/SpeckleRevitCommand.cs
  ConnectorRevit/ConnectorRevit/Storage/StreamStateManager.cs
  ConnectorRevit/ConnectorRevit/TypeMapping/ElementTypeMapper.cs
  ConnectorRevit/ConnectorRevit/TypeMapping/FamilyImporter.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Events.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRevit/RevitSharedResources/Helpers/Extensions.cs
  ConnectorRevit/RevitSharedResources/Models/APIContext.cs
  ConnectorRevit/RevitSharedResources/Models/TransactionManager.cs
  DesktopUI2/DesktopUI2/ViewModels/TypeMappingOnReceiveViewModel.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.DxfImport.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertConnector.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertFaceWall.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertFreeformElement.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

pr fixes
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.Receive.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.Selection.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Utils.cs
Due: rhino

Update MappingBindingsRhino.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/MappingBindingsRhino.cs
Due: rhino

Path conditions:
  core: any of: Core/.*
  rhino: any of: (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.*
  revit: any of: (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.*
  dynamo: any of: (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.*
  autocadcivil: any of: (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.*
  csi: any of: (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.*
  bentley: any of: (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.*
  teklastructures: any of: (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.*
  archicad: any of: (Core|Objects|ConnectorArchicad)/.*
  navisworks: any of: (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.*
