Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

ci: verbose output when pushing nugets
  .circleci/scripts/config-template.yml
Due: none

refresh object Ids for selection and group modes as well
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Selection.cs
Due: csi

ci: Rotated pfx cert with new context env vars
  .circleci/scripts/config-template.yml
Due: none

fix: navis post build to only run on win or IsDesktopBuild
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2020/ConverterNavisworks2020.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2021/ConverterNavisworks2021.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2022/ConverterNavisworks2022.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2023/ConverterNavisworks2023.csproj
  Objects/Converters/ConverterRevit/ConverterRevit2022/ConverterRevit2022.csproj
  Objects/Converters/ConverterRevit/ConverterRevit2023/ConverterRevit2023.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

fix: navis connector post-build
  ConnectorNavisworks/ConnectorNavisworks2020/ConnectorNavisworks2020.csproj
  ConnectorNavisworks/ConnectorNavisworks2021/ConnectorNavisworks2021.csproj
  ConnectorNavisworks/ConnectorNavisworks2022/ConnectorNavisworks2022.csproj
  ConnectorNavisworks/ConnectorNavisworks2023/ConnectorNavisworks2023.csproj
Due: navisworks

updates CanConvertToNative rhino method to be reflective of document bake objects only
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

fix(rh/gh): scale intervals in BoxToNative conversion
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Geometry.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

fix ref CSiAPIv1
  ConnectorCSI/DriverPluginCSharp/DriverPluginCSharp.csproj
Due: csi

search context objects for original appId
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Send.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSI.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSIUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

(tests): initialize logger properly for unittests
  Core/Core/Core.csproj
  Core/Core/Logging/SpeckleLog.cs
  Core/Core/Transports/Memory.cs
  Core/Examples/Program.cs
  Core/Tests/Accounts.cs
  Core/Tests/Fixtures.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

(tests): initialize logger properly for integration tests
  Core/IntegrationTests/Fixtures.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

(feat): add hashed machine/user unique Id in the log context
  Core/Core/Api/Helpers.cs
  Core/Core/Credentials/Account.cs
  Core/Core/Helpers/Crypt.cs
  Core/Core/Logging/SpeckleLog.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

fix(revit): support Revit <-> Speckle conversions (#2063)
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFloor.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertLocation.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertOpening.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRoof.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertWall.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

ci: remove -v param as not supported
  .circleci/scripts/config-template.yml
Due: none

try catches retrieving corridor surfaces
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

fix(autocad): resolved the serialization of streams with long serialized strings (#2042)
  ConnectorAutocadCivil/ConnectorAutocadCivil/ConnectorAutocadCivilShared.projitems
  ConnectorAutocadCivil/ConnectorAutocadCivil/DocumentUtils/TransactionContext.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Storage/SpeckleStreamManager.cs
Due: autocadcivil

(feat): add extra data to logging init message.
  Core/Core/Logging/SpeckleLog.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

(chore): add gitguardian ignore config file
  .gitguardian.yml
Due: none

(fix): usage of logger in Objects
  Objects/Objects/ObjectsKit.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

(fix): objects accidental delete
  Objects/Objects/ObjectsKit.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

(fix): DUI2 replace SpeckleLog usages with Serilog calls
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/LogInViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/MainViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/NotificationsViewModel.cs
Due: none

feat(csi): enable roundtripping (#2076)
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Send.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSI.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSIUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

fix: additional instances of the old log
  All.sln
  ConnectorDynamo/ConnectorDynamo/ReceiveNode/Receive.cs
  ConnectorRevit/ConnectorRevit/Entry/App.cs
  ConnectorRevit/ConnectorRevit/Entry/SpeckleRevitCommand.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Events.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Selection.cs
  DesktopUI/DesktopUI/Streams/StreamCreateDialogViewModel.cs
  DesktopUI/DesktopUI/Streams/StreamUpdateObjectsDialogViewModel.cs
  DesktopUI/DesktopUI/Streams/StreamsRepository.cs
Due: revit, dynamo

feat(core): allow cuztomizing sentry dns, dev mode on debug
  Core/Core/Logging/SpeckleLog.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

fix(log): more logging updates
  ConnectorGrasshopper/ConnectorGrasshopperShared/Conversion/ToNativeTaskCapableComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Conversion/ToSpeckleTaskCapableComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Loader.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Objects/CreateSpeckleObjectByKeyValueTaskComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Objects/CreateSpeckleObjectTaskComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Objects/DeconstructSpeckleObjectTaskComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Objects/Deprecated/ExpandSpeckleObjectTaskComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Objects/ExtendSpeckleObjectByKeyValueTaskComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Objects/ExtendSpeckleObjectTaskComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Objects/GetObjectValueByKeyTaskComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Deprecated/Operations.ReceiveComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Deprecated/Operations.SendComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Deprecated/Operations.VariableInputSendComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Operations.ReceiveLocalComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Operations.VariableInputReceiveComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Operations.VariableInputSendComponent.cs
Due: rhino

deprecates old transform class and adds new class
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
  Objects/Objects/Geometry/Arc.cs
  Objects/Objects/Geometry/Brep.cs
  Objects/Objects/Geometry/ControlPoint.cs
  Objects/Objects/Geometry/Curve.cs
  Objects/Objects/Geometry/Line.cs
  Objects/Objects/Geometry/Mesh.cs
  Objects/Objects/Geometry/Plane.cs
  Objects/Objects/Geometry/Point.cs
  Objects/Objects/Geometry/Pointcloud.cs
  Objects/Objects/Geometry/Polycurve.cs
  Objects/Objects/Geometry/Polyline.cs
  Objects/Objects/Geometry/Surface.cs
  Objects/Objects/Geometry/Vector.cs
  Objects/Objects/Interfaces.cs
  Objects/Objects/Organization/Model.cs
  Objects/Objects/Other/Instance.cs
  Objects/Objects/Other/Transform.cs
  Objects/Objects/Other/Transform_old.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

more transolf_old updates
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
  Objects/Objects/Other/Block.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

feat: adds Polly and implements it in the ping methods
  Core/Core/Core.csproj
  Core/Core/Helpers/Http.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

feat(polly): better comments
  Core/Core/Helpers/Http.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

assign topLevel to family instances if applicable
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

Removal of previous traversal logic (rhino and revit)
  All.sln
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
Due: rhino, revit

Update Model.cs
  Objects/Objects/Structural/Analysis/Model.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

chore: make DUI the default UI in standalone mode
  DesktopUI2/DesktopUI2/App.xaml.cs
Due: none

flatten analytical model
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

fix: respect external build properties
  ConnectorNavisworks/ConnectorNavisworks2020/ConnectorNavisworks2020.csproj
  ConnectorNavisworks/ConnectorNavisworks2021/ConnectorNavisworks2021.csproj
  ConnectorNavisworks/ConnectorNavisworks2022/ConnectorNavisworks2022.csproj
  ConnectorNavisworks/ConnectorNavisworks2023/ConnectorNavisworks2023.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2020/ConverterNavisworks2020.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2021/ConverterNavisworks2021.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2022/ConverterNavisworks2022.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2023/ConverterNavisworks2023.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

Additional DUI settings
  DesktopUI2/DesktopUI2/DesktopUI2.csproj
  DesktopUI2/DesktopUI2/Models/Settings/NumericSetting.cs
  DesktopUI2/DesktopUI2/Models/Settings/SettingsConverter.cs
  DesktopUI2/DesktopUI2/Models/Settings/TextBoxSetting.cs
  DesktopUI2/DesktopUI2/Views/Settings/NumericSettingView.xaml
  DesktopUI2/DesktopUI2/Views/Settings/NumericSettingView.xaml.cs
  DesktopUI2/DesktopUI2/Views/Settings/TextBoxSettingView.xaml
  DesktopUI2/DesktopUI2/Views/Settings/TextBoxSettingView.xaml.cs
Due: none

Properties order
  DesktopUI2/DesktopUI2/Views/Settings/NumericSettingView.xaml
Due: none

I prefer this order
  DesktopUI2/DesktopUI2/Views/Settings/NumericSettingView.xaml
Due: none

Object Traversal Refactor MVP (Revit & Rhino) (#2066)
  All.sln
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  Core/Core/Models/DynamicBase.cs
  Core/Core/Models/DynamicBaseMemberType.cs
  Core/Core/Models/GraphTraversal/DefaultTraversal.cs
  Core/Core/Models/GraphTraversal/GraphTraversal.cs
  Core/Core/Models/GraphTraversal/ITraversalRule.cs
  Core/Core/Models/GraphTraversal/RuleBuilder.cs
  Core/Tests/ObjectTraversal/GraphTraversalTests.cs
  Core/Tests/ObjectTraversal/TraversalMockObjects.cs
  Core/Tests/ObjectTraversal/TraversalRuleTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

Path conditions:
  core: any of: Core/.*
  rhino: any of: (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.*
  revit: any of: (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.*
  dynamo: any of: (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.*
  autocadcivil: any of: (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.*
  csi: any of: (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.*
  microstation: any of: (Core|Objects|ConnectorMicroStation|.*/ConverterMicroStation)/.*
  teklastructures: any of: (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.*
  archicad: any of: (Core|Objects|ConnectorArchicad)/.*
  navisworks: any of: (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.*
