Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.3.1
  python: circleci/python@2.0.3

jobs:
  setup:
    executor: python/default
    steps:
      - checkout # checkout code
      - path-filtering/set-parameters:
          mapping: |
            Core/.* run_core true
            (Core|Objects|ConnectorRhino|.*/ConverterRhinoGh)/.* rhino true
            (Core|Objects|ConnectorGrasshopper|.*/ConverterRhinoGh)/.* grasshopper true
            (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.* revit true
            (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.* dynamo true
            (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.* autocadcivil true
            (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.* csi true
            (Core|Objects|ConnectorMicroStation|.*/ConverterMicroStation)/.* microstation true
            (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.* teklastructures true
            (Core|Objects|ConnectorArchicad)/.* archicad true
          base-revision: main
          output-path: .circleci/scripts/parameters.json
      - run:
          name: LS scripts folders
          command: ls .circleci/scripts
      - run: cat .circleci/scripts/parameters.json
      - run: pip install pyyaml
      - run: # run a command
          name: Generate config
          command: |
            python .circleci/scripts/config-generator.py
      - continuation/continue:
          configuration_path: .circleci/continuation-config.yml # use newly generated config to continue

workflows:
  setup:
    jobs:
      - setup

migrate to sharedproject for MainPlugin
  ConnectorTeklaStructures/ConnectorTeklaStructures2020/ConnectorTeklaStructures2020.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructures2020/MainForm.Designer.cs
  ConnectorTeklaStructures/ConnectorTeklaStructures2021/ConnectorTeklaStructures2021.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructures2021/MainForm.resx
  ConnectorTeklaStructures/ConnectorTeklaStructures2021/MainPlugin.cs
  ConnectorTeklaStructures/ConnectorTeklaStructures2022/ConnectorTeklaStructures2022.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructures2022/MainForm.Designer.cs
  ConnectorTeklaStructures/ConnectorTeklaStructures2022/MainForm.cs
  ConnectorTeklaStructures/ConnectorTeklaStructures2022/MainForm.resx
  ConnectorTeklaStructures/ConnectorTeklaStructures2022/MainPlugin.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/ConnectorTeklaStructuresShared.projitems
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/Util/MainForm.Designer.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/Util/MainForm.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/Util/MainForm.resx
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/Util/MainPlugin.cs
Due: teklastructures

Revert "Update `release/2.11` with changes in `main` (#1980)"
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Events.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Other.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.BuiltElements.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Geometry.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
  Objects/Objects/Other/Transform.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Revert "Update `release/2.11` with changes in `main`" (#1983)
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Events.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Other.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.BuiltElements.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Geometry.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
  Objects/Objects/Other/Transform.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

(fix) dependencies and old code fix
  ConnectorTeklaStructures/ConnectorTeklaStructures2020/ConnectorTeklaStructures2020.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructures2021/ConnectorTeklaStructures2021.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructures2022/ConnectorTeklaStructures2022.csproj
  Core/Core/Kits/Applications.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

chore(core): updates various nuget packages
  Core/Core/Core.csproj
  Core/IntegrationTests/TestsIntegration.csproj
  Core/Tests/TestsUnit.csproj
  Core/Transports/MongoDBTransport/MongoDBTransport.csproj
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

chore(core): updates GraphQL client nuget
  Core/Core/Core.csproj
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

ci: cherry picks integration tests fix
  .circleci/scripts/config-template.yml
Due: none

chore(dui): sets isAction: false on some events
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
  DesktopUI2/DesktopUI2/Views/MainUserControl.xaml.cs
  DesktopUI2/DesktopUI2/Views/Scheduler.xaml.cs
Due: none

ci(circleci): force integration test server to use localhost ipv4 adresses
  .circleci/scripts/config-template.yml
Due: none

feat(dui): improves error messages in DUI
  Core/Core/Logging/Analytics.cs
  DesktopUI2/DesktopUI2/Utils.cs
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/OneClickViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamSelectorViewModel.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat(log): improves error reporting in dui (#1987)
  Core/Core/Logging/Analytics.cs
  Core/Core/Logging/Log.cs
  DesktopUI2/DesktopUI2/Utils.cs
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/OneClickViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamSelectorViewModel.cs
  DesktopUI2/DesktopUI2/Views/MainUserControl.xaml.cs
  DesktopUI2/DesktopUI2/Views/Scheduler.xaml.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(core): fixes issues using the new sqlite on network drives
  Core/Core/Transports/SQLite.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

chore: removes duplicated using
  Core/Core/Transports/SQLite.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(core): fixes issues using the new sqlite on network drives (#1989)
  Core/Core/Transports/SQLite.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Example Model Changes
  ConnectorNavisworks/ConnectorNavisworks/Sample Models/KLY_ZHQ_CP2.nwf
  ConnectorNavisworks/ConnectorNavisworks/Sample Models/MEP Container.nwc
  ConnectorNavisworks/ConnectorNavisworks/Sample Models/MEP Container.nwf
Due: none

Fix: Saved StreamStates with TreeViewFilter objects recall correctly and restore intact
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings_File.cs
  DesktopUI2/DesktopUI2/Models/Filters/ISelectionFilter.cs
  DesktopUI2/DesktopUI2/Models/Filters/SelectionFilterConverter.cs
  DesktopUI2/DesktopUI2/Models/Filters/TreeSelectionFilter.cs
  DesktopUI2/DesktopUI2/Views/Filters/TreeFilterView.xaml
Due: none

Basic Send Implementation in-lieu of the Converter being ready
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings_Send.cs
Due: none

Code Cleanup
  ConnectorNavisworks/ConnectorNavisworks.2023/ConnectorNavisworks.2023.csproj
  ConnectorNavisworks/ConnectorNavisworks.2023/Properties/launchSettings.json
  ConnectorNavisworks/ConnectorNavisworks.sln
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings_Events.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings_Filters.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings_Mapping.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings_Objects.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings_Receive.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings_Selections.cs
  ConnectorNavisworks/ConnectorNavisworks/Commands/Commands.cs
  ConnectorNavisworks/ConnectorNavisworks/ConnectorNavisworks.Shared.projitems
  ConnectorNavisworks/ConnectorNavisworks/Entry/PackageContents.xml
  ConnectorNavisworks/ConnectorNavisworks/Entry/SpeckleNavisworksCommand.cs
  ConnectorNavisworks/ConnectorNavisworks/Objects/ConvertableObject.cs
  ConnectorNavisworks/ConnectorNavisworks/Storage/SpeckleStreamManager.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks.2023/ConverterNavisworks2023.csproj
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

GetUnits
  ConnectorNavisworks/ConnectorNavisworks/Utils.cs
Due: none

gergo/ciFixBackport (#1986)
  .circleci/scripts/config-template.yml
Due: none

Simple bugfix to allow conversion of Revit Spaces without a zone to Speckle.
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertSpace.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Fix(Revit): Allow conversion of Revit Spaces without a zone to Speckle (#1991)
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertSpace.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

test(core): add tests for how the speckle_type is generated
  Core/Tests/BaseTests.cs
  Core/Tests/SpeckleType.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

handles invalid user strings
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Utils.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

test build
  ConnectorNavisworks/ConnectorNavisworks.2023/App.config
  ConnectorNavisworks/ConnectorNavisworks.2023/ConnectorNavisworks.2023.csproj
  ConnectorNavisworks/ConnectorNavisworks.sln
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings_Send.cs
  Core/Core/Kits/KitManager.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks.2023/ConverterNavisworks.2023.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks.2023/ConverterNavisworks2023.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Geometry.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Other.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToNative.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToSpeckle.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Utils.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworksShared.projitems
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(Rhino): handle invalid userstrings (#1994)
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Utils.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Postbuild events switched to per user targets
  ConnectorNavisworks/ConnectorNavisworks.2023/ConnectorNavisworks.2023.csproj
  ConnectorNavisworks/ConnectorNavisworks.sln
Due: none

Convert Selections from SavedStream Filters to ObjectIds
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings_Objects.cs
Due: none

Sample Model saves
  ConnectorNavisworks/ConnectorNavisworks/Sample Models/KLY_ZHQ_CP2.nwf
Due: none

Fix: Actual Units returned
  ConnectorNavisworks/ConnectorNavisworks/Utils.cs
Due: none

Convert 1-based Array to addressable Array
  ConnectorNavisworks/ConnectorNavisworks/Utils.cs
Due: none

Remove ConvertableObject
  ConnectorNavisworks/ConnectorNavisworks/Objects/ConvertableObject.cs
Due: none

Get Select Objects
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings_Selections.cs
Due: none

Handle converted pseudoId addressed objects and Send
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings_Send.cs
Due: none

Stubbed non implemented Receive methods
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToNative.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

tidying up
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings_Send.cs
Due: none

Convert 1-based Array to 0-based Array
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Utils.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

First port of conversions from Rimshot
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Geometry.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Other.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Remove ConvertableObject
  ConnectorNavisworks/ConnectorNavisworks/ConnectorNavisworks.Shared.projitems
Due: none
