Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.3.1
  python: circleci/python@2.0.3

jobs:
  setup:
    executor: python/default
    steps:
      - checkout # checkout code
      - when:
          condition:
            and:
              - not:
                  equal: [main, << pipeline.git.branch >>]
              - not:
                  matches:
                    pattern: ".*/?ci/.*"
                    value: << pipeline.git.branch >>
              - not:
                  matches:
                    pattern: ".*/all$"
                    value: << pipeline.git.tag >>
          steps:
            - run: git branch internal_circleci
            - path-filtering/set-parameters:
                mapping: |
                  Core/.* core true
                  (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.* rhino true
                  (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.* revit true
                  (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.* dynamo true
                  (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.* autocadcivil true
                  (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.* csi true
                  (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.* bentley true
                  (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.* teklastructures true
                  (Core|Objects|ConnectorArchicad)/.* archicad true
                  (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.* navisworks true
                base-revision: main
                output-path: .circleci/scripts/parameters.json
      - run: cat .circleci/scripts/parameters.json
      - run: pip install pyyaml
      - run: # run a command
          name: Generate config
          command: |
            python .circleci/scripts/config-generator.py -d ${CIRCLE_TAG:-none} -o .circleci/continuation-config.yml -e ${CIRCLE_PR_REPONAME:-none}
      - continuation/continue:
          configuration_path: .circleci/continuation-config.yml # use newly generated config to continue
workflows:
  setup:
    jobs:
      - setup:
          name: Build Setup
      - setup:
          name: Deploy Setup
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^(nugets\/)?([0-9]+)\.([0-9]+)\.([0-9]+)(?:-\w+)?(\/all)?$/

nicely handle typeLoadException
  Core/Core/Models/Base.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.Conflicting.Revit2023/Plugin/RevitExternalApplication.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Bindings/SendBinding.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Plugin/DllConflictDetector.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Plugin/RevitExternalApplication.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Speckle.Connectors.RevitShared.projitems
  DUI3-DX/Sdk/Speckle.Connectors.Utils/SpeckleTopLevelExceptionHandler.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Shouldn't have added Objects
  All.sln
Due: none

Better launch settings
  ConnectorNavisworks/ConnectorNavisworks2020/Properties/launchSettings.json
  ConnectorNavisworks/ConnectorNavisworks2021/Properties/launchSettings.json
  ConnectorNavisworks/ConnectorNavisworks2022/Properties/launchSettings.json
  ConnectorNavisworks/ConnectorNavisworks2023/Properties/launchSettings.json
  ConnectorNavisworks/ConnectorNavisworks2024/Properties/launchSettings.json
Due: navisworks

Yay Nuget
  ConnectorNavisworks/ConnectorNavisworks2025/ConnectorNavisworks2025.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2025/ConverterNavisworks2025.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Implement receive binding and host object builder
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Bindings/ArcGISReceiveBinding.cs
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/DependencyInjection/AutofacArcGISModule.cs
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/HostApp/SpeckleModule.cs
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Operations/Receive/HostObjectBuilder.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3.DependencyInjection/AutofacArcGIS3ConverterModule.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/ArcGISConverterToHost.cs
Due: none

handle missing method exception
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Bindings/SendBinding.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Plugin/DllConflictDetector.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Plugin/DllConflictManagment/AssemblyConflictInfo.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Plugin/DllConflictManagment/DllConflictManager.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Plugin/RevitExternalApplication.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Speckle.Connectors.RevitShared.projitems
Due: none

remove dll conflict manager from send binding
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Bindings/SendBinding.cs
  DUI3-DX/Sdk/Speckle.Connectors.Utils/SpeckleTopLevelExceptionHandler.cs
Due: none

add do not show again box
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Plugin/DllConflictManagment/DllConflictManager.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Plugin/DllConflictManagment/DllConflictManagmentOptions.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Plugin/DllConflictManagment/DllConflictManagmentOptionsLoader.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Plugin/RevitExternalApplication.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Speckle.Connectors.RevitShared.projitems
Due: none

add savable options
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Plugin/DllConflictManagment/DllConflictManager.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Plugin/DllConflictManagment/DllConflictManagmentOptions.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Plugin/DllConflictManagment/DllConflictManagmentOptionsLoader.cs
Due: none

undo changes to Base
  Core/Core/Models/Base.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Plugin/RevitExternalApplication.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

remove dummy project
  All.sln
  DUI3-DX/Connectors/Revit/Speckle.Connectors.Conflicting.Revit2023/App.config
  DUI3-DX/Connectors/Revit/Speckle.Connectors.Conflicting.Revit2023/Plugin/RevitExternalApplication.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.Conflicting.Revit2023/Plugin/RevitPlugin.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.Conflicting.Revit2023/Plugin/Speckle.Connectors.Conflicting.Revit2023.addin
  DUI3-DX/Connectors/Revit/Speckle.Connectors.Conflicting.Revit2023/Program.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.Conflicting.Revit2023/Speckle.Connectors.Conflicting.Revit2023.csproj
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Speckle.Converters.RevitShared.projitems
Due: none

rename stuff
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Bindings/SendBinding.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Plugin/DllConflictManagment/DllConflictManager.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Plugin/RevitExternalApplication.cs
Due: none

Initial receive attempt (WIP)
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Features/GisFeatureToHostConverter.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Geometry/PolylineToHostConverter.cs
Due: none

feat: Receive operation in Rhino WIP
  DUI3-DX.slnf
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Operations/Receive/HostObjectBuilder.cs
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/Bindings/RhinoReceiveBinding.cs
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/DependencyInjection/AutofacRhinoModule.cs
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/HostApp/SpeckleRhinoPanel.xaml.cs
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/Operations/Receive/RhinoHostObjectBuilder.cs
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/Plugin/Speckle.Connectors.Rhino7Plugin.cs
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/Speckle.Connectors.Rhino7.csproj
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7.DependencyInjection/AutofacRhinoConverterModule.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7.DependencyInjection/Speckle.Converters.Rhino7.DependencyInjection.csproj
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/RhinoConverterToNative.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/Speckle.Converters.Rhino7.csproj
  DUI3-DX/DUI3/Speckle.Connectors.DUI/Speckle.Connectors.DUI.csproj
  DUI3-DX/Sdk/Speckle.Connectors.Utils/Builders/IHostObjectBuilder.cs
  DUI3-DX/Sdk/Speckle.Connectors.Utils/Operations/ReceiveOperation.cs
Due: none

fix: Move RhinoConverter to native
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/RhinoConverterToNative.cs
Due: none

fix: Renamed RhinoConverterToNative to ToHost
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7.DependencyInjection/AutofacRhinoConverterModule.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/RhinoConverterToHost.cs
Due: none

fix: Build warnigns on CI
  DUI3-DX.slnf
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/Operations/Receive/RhinoHostObjectBuilder.cs
  DUI3-DX/Sdk/Speckle.Connectors.Utils/Builders/IHostObjectBuilder.cs
Due: none

Remove debug messagebox
  ConnectorNavisworks/ConnectorNavisworks/Entry/Ribbon.xaml.cs
Due: navisworks

CNX-9206 - Adds Navis2025 support (#3260)
  All.sln
  ConnectorNavisworks/ConnectorNavisworks.slnf
  ConnectorNavisworks/ConnectorNavisworks/Entry/PackageContents.xml
  ConnectorNavisworks/ConnectorNavisworks/Entry/Ribbon.xaml.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/Utilities.cs
  ConnectorNavisworks/ConnectorNavisworks2020/Properties/launchSettings.json
  ConnectorNavisworks/ConnectorNavisworks2021/Properties/launchSettings.json
  ConnectorNavisworks/ConnectorNavisworks2022/Properties/launchSettings.json
  ConnectorNavisworks/ConnectorNavisworks2023/Properties/launchSettings.json
  ConnectorNavisworks/ConnectorNavisworks2024/Properties/launchSettings.json
  ConnectorNavisworks/ConnectorNavisworks2025/ConnectorNavisworks2025.csproj
  ConnectorNavisworks/ConnectorNavisworks2025/Properties/launchSettings.json
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2025/ConverterNavisworks2025.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(dui3): wraps up rhino POC implementation of blocks + block change detection
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/ReceiveBinding.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/SendBinding.cs
  ConnectorRhino/ConnectorRhinoWebUI/Utils/RawSelectionUnpackerAkaBlockManager.cs
  ConnectorRhino/ConnectorRhinoWebUI/Utils/Utils.cs
Due: rhino

chore(dui3): cleanup that was forgotten
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/ReceiveBinding.cs
  ConnectorRhino/ConnectorRhinoWebUI/Utils/Utils.cs
Due: rhino

add all elements types to cache under "undefined" type
  ConnectorRevit/ConnectorRevit/TypeMapping/ElementTypeMapper.cs
  DesktopUI2/DesktopUI2/ViewModels/TypeMappingOnReceiveViewModel.cs
Due: revit

chore: Add POC comments where necessary based on PR comments
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/Operations/Receive/RhinoHostObjectBuilder.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7.DependencyInjection/AutofacRhinoConverterModule.cs
Due: none

fix: missing using
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/Operations/Receive/RhinoHostObjectBuilder.cs
Due: none

CNX-9142 DUI3-DX Rhino Receive connector structure with no conversions (#3262)
  DUI3-DX.slnf
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Operations/Receive/HostObjectBuilder.cs
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/Bindings/RhinoReceiveBinding.cs
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/DependencyInjection/AutofacRhinoModule.cs
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/HostApp/SpeckleRhinoPanel.xaml.cs
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/Operations/Receive/RhinoHostObjectBuilder.cs
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/Plugin/Speckle.Connectors.Rhino7Plugin.cs
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/Speckle.Connectors.Rhino7.csproj
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7.DependencyInjection/AutofacRhinoConverterModule.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7.DependencyInjection/Speckle.Converters.Rhino7.DependencyInjection.csproj
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/Speckle.Converters.Rhino7.csproj
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/RhinoConverterToHost.cs
  DUI3-DX/DUI3/Speckle.Connectors.DUI/Speckle.Connectors.DUI.csproj
  DUI3-DX/Sdk/Speckle.Connectors.Utils/Builders/IHostObjectBuilder.cs
  DUI3-DX/Sdk/Speckle.Connectors.Utils/Operations/ReceiveOperation.cs
Due: none

changes event name and no longer passes default account
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Receive.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Send.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Send.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.Receive.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.Send.cs
  Core/Core/Logging/Analytics.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

removes unnecessary usings
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Receive.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Send.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.Receive.cs
Due: rhino, revit, autocadcivil

Update ConnectorBindingsRevit.Send.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Send.cs
Due: revit

feat: Initial simple raw converters
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/Raw/SpecklePlaneToHostConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/Raw/SpecklePointToHostConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/Raw/SpeckleVectorToHostConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/SpecklePointToPointObjectConverter.cs
Due: none

clean conversion interfaces; add lists as return type; move renaming hack to least used code
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/HostApp/SpeckleModule.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Features/GeometryToSpeckleBase.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Features/GisFeatureToSpeckleConverter.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Features/MultipointFeatureToSpeckleConverter.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Features/PointFeatureToSpeckleConverter.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Features/PolygonFeatureToSpeckleConverter.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Features/PolylineFeatureToSpeckleConverter.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Geometry/BezierSegmentToSpeckleConverter.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Geometry/EllipticArcSegmentToSpeckleConverter.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Geometry/PointToSpeckleConverter.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Geometry/SegmentCollectionToSpeckleConverter.cs
Due: none

optimized
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Features/GeometryToSpeckleBase.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Features/PointFeatureToSpeckleConverter.cs
Due: none

add conflict management project
  All.sln
  ConnectorCore/DllConflictManagment/AssemblyConflictInfo.cs
  ConnectorCore/DllConflictManagment/DllConflictManager.cs
  ConnectorCore/DllConflictManagment/DllConflictManagment.csproj
  ConnectorCore/DllConflictManagment/DllConflictManagmentOptions.cs
  ConnectorCore/DllConflictManagment/DllConflictManagmentOptionsLoader.cs
  ConnectorCore/DllConflictManagment/DllConflictUserNotifier.cs
  ConnectorRevit/ConnectorRevit.slnf
  ConnectorRevit/ConnectorRevit/ConnectorRevit.projitems
  ConnectorRevit/ConnectorRevit/Entry/App.cs
  ConnectorRevit/ConnectorRevit/Entry/RevitDllConflictUserNotifier.cs
  ConnectorRevit/ConnectorRevit2020/ConnectorRevit2020.csproj
  ConnectorRevit/ConnectorRevit2021/ConnectorRevit2021.csproj
  ConnectorRevit/ConnectorRevit2022/ConnectorRevit2022.csproj
  ConnectorRevit/ConnectorRevit2023/ConnectorRevit2023.csproj
  ConnectorRevit/ConnectorRevit2024/ConnectorRevit2024.csproj
Due: revit

feat: Working Rhino receive conversions with simple unit scaling
  .editorconfig
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/Operations/Receive/RhinoHostObjectBuilder.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/Raw/FlatPointListRawToHostConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/Raw/SpeckleArcRawToHostConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/Raw/SpeckleIntervalRawToHostConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/Raw/SpeckleLineRawToHostConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/Raw/SpeckleMeshRawToHostConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/Raw/SpecklePlaneRawToHostConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/Raw/SpecklePointRawToHostConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/Raw/SpecklePointToHostConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/Raw/SpecklePolylineRawToHostConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/Raw/SpeckleVectorRawToHostConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/Raw/SpeckleVectorToHostConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/RhinoConverterToHost.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/SpecklePointToPointObjectConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/TopLevel/SpeckleArcToHostArcCurveConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/TopLevel/SpeckleLineToHostLineCurveConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/TopLevel/SpeckleMeshToHostMeshConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/TopLevel/SpecklePointToHostPointConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/TopLevel/SpecklePolylineToHostPolylineCurveConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/TopLevel/SpeckleToHostGeometryBaseConversion.cs
Due: none

rename namespace
  All.sln
  ConnectorCore/DllConflictManagement/AssemblyConflictInfo.cs
  ConnectorCore/DllConflictManagement/DllConflictManagement.csproj
  ConnectorCore/DllConflictManagement/DllConflictManager.cs
  ConnectorCore/DllConflictManagement/DllConflictManagmentOptions.cs
  ConnectorCore/DllConflictManagement/DllConflictManagmentOptionsLoader.cs
  ConnectorCore/DllConflictManagement/DllConflictUserNotifier.cs
  ConnectorRevit/ConnectorRevit/Entry/App.cs
  ConnectorRevit/ConnectorRevit/Entry/RevitDllConflictUserNotifier.cs
  ConnectorRevit/ConnectorRevit2020/ConnectorRevit2020.csproj
  ConnectorRevit/ConnectorRevit2021/ConnectorRevit2021.csproj
  ConnectorRevit/ConnectorRevit2022/ConnectorRevit2022.csproj
  ConnectorRevit/ConnectorRevit2023/ConnectorRevit2023.csproj
  ConnectorRevit/ConnectorRevit2024/ConnectorRevit2024.csproj
Due: revit

don't over catch exception
  ConnectorCore/DllConflictManagement/DllConflictManager.cs
Due: none

convert to host vector layer; create a new database
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Operations/Receive/HostObjectBuilder.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Features/GisFeatureToHostConverter.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Layers/VectorLayerToHostConverter.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Utils/ArcGISProjectUtils.cs
Due: none

fix: MIssing NameAndRank
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/TopLevel/SpeckleLineToHostLineCurveConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/TopLevel/SpeckleMeshToHostMeshConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/TopLevel/SpecklePointToHostPointConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/TopLevel/SpecklePolylineToHostPolylineCurveConversion.cs
Due: none

Change UI url from preview to exact one
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/HostApp/SpeckleRhinoPanel.xaml
Due: none

fix: inject correct raw conversion
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/Raw/SpeckleMeshRawToHostConversion.cs
Due: none
