Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.3.1
  python: circleci/python@2.0.3

jobs:
  setup:
    executor: python/default
    steps:
      - checkout # checkout code
      - when:
          condition:
            and:
              - not:
                  equal: [main, << pipeline.git.branch >>]
              - not:
                  matches:
                    pattern: ".*/?ci/.*"
                    value: << pipeline.git.branch >>
              - not:
                  matches:
                    pattern: ".*/all$"
                    value: << pipeline.git.tag >>
          steps:
            - run: git branch internal_circleci
            - path-filtering/set-parameters:
                mapping: |
                  Core/.* core true
                  (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.* rhino true
                  (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.* revit true
                  (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.* dynamo true
                  (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.* autocadcivil true
                  (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.* csi true
                  (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.* bentley true
                  (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.* teklastructures true
                  (Core|Objects|ConnectorArchicad)/.* archicad true
                  (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.* navisworks true
                base-revision: main
                output-path: .circleci/scripts/parameters.json
      - run: cat .circleci/scripts/parameters.json
      - run: pip install pyyaml
      - run: # run a command
          name: Generate config
          command: |
            python .circleci/scripts/config-generator.py -d ${CIRCLE_TAG:-none} -o .circleci/continuation-config.yml -e ${CIRCLE_PR_REPONAME:-none}
      - continuation/continue:
          configuration_path: .circleci/continuation-config.yml # use newly generated config to continue
workflows:
  setup:
    jobs:
      - setup:
          name: Build Setup
      - setup:
          name: Deploy Setup
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^(nugets\/)?([0-9]+)\.([0-9]+)\.([0-9]+)(?:-\w+)?(\/all)?$/

update core
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/packages.lock.json
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.Autocad2023/packages.lock.json
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.Civil3d2024/packages.lock.json
  DUI3-DX/Connectors/Revit/Speckle.Connectors.Revit2023/packages.lock.json
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/packages.lock.json
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3.DependencyInjection/packages.lock.json
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/packages.lock.json
  DUI3-DX/Converters/Autocad/Speckle.Converters.Autocad2023.DependencyInjection/packages.lock.json
  DUI3-DX/Converters/Autocad/Speckle.Converters.Autocad2023/packages.lock.json
  DUI3-DX/Converters/Autocad/Speckle.Converters.Autocad2024.DependencyInjection/packages.lock.json
  DUI3-DX/Converters/Autocad/Speckle.Converters.Autocad2024/packages.lock.json
  DUI3-DX/Converters/Civil3d/Speckle.Converters.Civil3d2024.DependencyInjection/packages.lock.json
  DUI3-DX/Converters/Civil3d/Speckle.Converters.Civil3d2024/packages.lock.json
  DUI3-DX/Converters/Revit/Speckle.Converters.Revit2023.DependencyInjection/packages.lock.json
  DUI3-DX/Converters/Revit/Speckle.Converters.Revit2023.Tests/packages.lock.json
  DUI3-DX/Converters/Revit/Speckle.Converters.Revit2023/packages.lock.json
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7.DependencyInjection/packages.lock.json
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7.Tests/packages.lock.json
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/packages.lock.json
  DUI3-DX/DUI3/Speckle.Connectors.DUI.WebView/packages.lock.json
  DUI3-DX/DUI3/Speckle.Connectors.DUI/packages.lock.json
  DUI3-DX/Directory.Packages.props
  DUI3-DX/Sdk/Speckle.Connectors.Utils/packages.lock.json
  DUI3-DX/Sdk/Speckle.Converters.Common.DependencyInjection/packages.lock.json
  DUI3-DX/Sdk/Speckle.Converters.Common/packages.lock.json
Due: none

xml doc
  Core/Core/Api/GraphQL/Models/FileUpload.cs
  Core/Core/Api/GraphQL/Models/Project.cs
  Core/Core/Api/GraphQL/Models/ServerInfo.cs
  Core/Core/Api/GraphQL/Resources/ActiveUserResource.cs
  Core/Core/Api/GraphQL/Resources/CommentResource.cs
  Core/Core/Api/GraphQL/Resources/ModelResource.cs
  Core/Core/Api/GraphQL/Resources/OtherUserResource.cs
  Core/Core/Api/GraphQL/Resources/ProjectResource.cs
  Core/Core/Api/GraphQL/Resources/VersionResource.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

removed commented out properties
  Core/Core/Api/GraphQL/Models/UserInfo.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

removed todo comments
  Core/Core/Api/GraphQL/Models/Collections.cs
  Core/Core/Api/GraphQL/Models/Responses/Responses.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/ProjectInviteResourceExceptionalTests.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

more pr comments resolved
  Core/Core/Api/GraphQL/Enums/FileUploadConversionStatus.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/ProjectResourceExceptionalTests.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

server limits
  Core/Core/Api/GraphQL/Legacy/Client.GraphqlCleintOperations/Client.ActivityOperations.cs
  Core/Core/Api/GraphQL/Resources/ActiveUserResource.cs
  Core/Core/Api/GraphQL/Resources/CommentResource.cs
  Core/Core/Api/GraphQL/Resources/ModelResource.cs
  Core/Core/Api/GraphQL/Resources/OtherUserResource.cs
  Core/Core/Api/GraphQL/Resources/ProjectResource.cs
  Core/Core/Api/GraphQL/Resources/VersionResource.cs
  Core/Core/Api/ServerLimits.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

int enum as int
  Core/Core/Api/GraphQL/Enums/FileUploadConversionStatus.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(Revit Connector): Added null check for pipes not connected to a MEPSystem in revit
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertPipe.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Fixed accidental negation of execution success
  Core/Core/Api/GraphQL/Client.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Disable the installer trigger for alpha branch
  .github/workflows/main.yml
Due: none

Disable the installer trigger for alpha branch (#3561)
  .github/workflows/main.yml
Due: none

subscriptions
  Core/Core/Api/GraphQL/Client.cs
  Core/Core/Api/GraphQL/Enums/ProjectCommentsUpdatedMessageType.cs
  Core/Core/Api/GraphQL/Enums/ProjectFileImportUpdatedMessageType.cs
  Core/Core/Api/GraphQL/Enums/ProjectModelsUpdatedMessageType.cs
  Core/Core/Api/GraphQL/Enums/ProjectPendingModelsUpdatedMessageType.cs
  Core/Core/Api/GraphQL/Enums/ProjectUpdatedMessageType.cs
  Core/Core/Api/GraphQL/Enums/ProjectVersionsUpdatedMessageType.cs
  Core/Core/Api/GraphQL/Enums/UserProjectsUpdatedMessageType.cs
  Core/Core/Api/GraphQL/ISpeckleGraphQLClient.cs
  Core/Core/Api/GraphQL/Inputs/CommentInputs.cs
  Core/Core/Api/GraphQL/Inputs/SubscriptionInputs.cs
  Core/Core/Api/GraphQL/Legacy/Client.GraphqlCleintOperations/Client.BranchOperations.cs
  Core/Core/Api/GraphQL/Models/Collections.cs
  Core/Core/Api/GraphQL/Models/Comment.cs
  Core/Core/Api/GraphQL/Models/Model.cs
  Core/Core/Api/GraphQL/Models/Responses/MutationResponses.cs
  Core/Core/Api/GraphQL/Models/SubscriptionMessages.cs
  Core/Core/Api/GraphQL/Models/Version.cs
  Core/Core/Api/GraphQL/Resources/CommentResource.cs
  Core/Core/Api/GraphQL/Resources/ModelResource.cs
  Core/Core/Api/GraphQL/Resources/SubscriptionResource.cs
  Core/Core/Api/GraphQL/Resources/VersionResource.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Legacy/LegacyAPITests.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Legacy/Subscriptions/Branches.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Legacy/Subscriptions/Commits.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Legacy/Subscriptions/Streams.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/ActiveUserResourceTests.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/CommentResourceTests.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/ModelResourceTests.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/ProjectInviteResourceTests.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/ProjectResourceExceptionalTests.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/SubscriptionResourceTests.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/VersionResourceTests.cs
  Core/Tests/Speckle.Core.Tests.Integration/Fixtures.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

csharpier
  Core/Core/Api/GraphQL/Inputs/CommentInputs.cs
  Core/Core/Api/GraphQL/Inputs/SubscriptionInputs.cs
  Core/Core/Api/GraphQL/Models/Responses/MutationResponses.cs
  Core/Core/Api/GraphQL/Resources/CommentResource.cs
  Core/Core/Api/GraphQL/Resources/ModelResource.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/ActiveUserResourceTests.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/CommentResourceTests.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/ModelResourceTests.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/ProjectInviteResourceTests.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/ProjectResourceExceptionalTests.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/SubscriptionResourceTests.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/VersionResourceTests.cs
  Core/Tests/Speckle.Core.Tests.Integration/Fixtures.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Added typefinder...
  DUI3-DX/Sdk/Speckle.Converters.Common.DependencyInjection/ContainerRegistration.cs
Due: none

Pulling types through for object upgrdading
  All.sln.DotSettings
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/Bindings/RhinoReceiveBinding.cs
  DUI3-DX/Sdk/Speckle.Connectors.Utils/Operations/ReceiveOperation.cs
  DUI3-DX/Sdk/Speckle.Connectors.Utils/Operations/RootObjectSender.cs
  DUI3-DX/Sdk/Speckle.Converters.Common.DependencyInjection/ContainerRegistration.cs
Due: none

broken binding beause I removed a calss and left the namespace
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/Bindings/RhinoReceiveBinding.cs
Due: none

subscription queries
  Core/Core/Api/GraphQL/Resources/SubscriptionResource.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

using directive
  Core/Core/Api/GraphQL/Resources/VersionResource.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

CNX-9823 Add MaterialQuantity attribute to Archicad elements (interim commit for add-on only)
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateCommand.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateDoor.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateGridElement.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateObject.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateOpening.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateSkylight.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateWindow.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetDataCommand.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/FieldNames.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/PropertyExportManager.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/PropertyExportManager.hpp
Due: archicad

Reverted consolidation of userinfo and user base
  Core/Core/Api/GraphQL/Legacy/Client.GraphqlCleintOperations/Client.UserOperations.cs
  Core/Core/Api/GraphQL/Models/Responses/Responses.cs
  Core/Core/Api/GraphQL/Models/User.cs
  Core/Core/Api/GraphQL/Resources/ActiveUserResource.cs
  Core/Core/Credentials/AccountManager.cs
  Core/Core/Credentials/Responses.cs
  Core/Tests/Speckle.Core.Tests.Integration/Fixtures.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

removed redundant comment
  Core/Core/Api/GraphQL/Models/User.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

some small polish
  Core/Core/Credentials/AccountManager.cs
  Core/Core/Credentials/Responses.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

correct schema nullability
  Core/Core/Credentials/Responses.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Reverted consolidation of UserInfo and UserBase (#3563)
  Core/Core/Api/GraphQL/Legacy/Client.GraphqlCleintOperations/Client.UserOperations.cs
  Core/Core/Api/GraphQL/Models/Responses/Responses.cs
  Core/Core/Api/GraphQL/Models/User.cs
  Core/Core/Api/GraphQL/Resources/ActiveUserResource.cs
  Core/Core/Credentials/AccountManager.cs
  Core/Core/Credentials/Responses.cs
  Core/Tests/Speckle.Core.Tests.Integration/Fixtures.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Getters for Conversion Settings
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Settings.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

These dynamic proprties needn't be set if they dont exist
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Properties.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

remove this fake applicationId - it doesn't add anything useful
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Properties.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Use the Settings getters we already have rather than reinvent the wheel.
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Properties.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

extract the magic separator char
  ConnectorNavisworks/ConnectorNavisworks/Other/Elements.cs
Due: navisworks

More robust Progress looper and then implement more widely
  ConnectorNavisworks/ConnectorNavisworks/Other/SelectionBuilder.cs
Due: navisworks

HashSets for better distinct element handling
  ConnectorNavisworks/ConnectorNavisworks/Other/SelectionBuilder.cs
Due: navisworks

Multithreading traversals
  ConnectorNavisworks/ConnectorNavisworks/Other/Elements.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/SelectionBuilder.cs
Due: navisworks

Extracted Property Management
  ConnectorNavisworks/ConnectorNavisworks/NavisworksOptions/Manager.cs
  ConnectorNavisworks/ConnectorNavisworks/NavisworksOptions/Properties.cs
Due: navisworks

Move the CommitObject definition
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Selections.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.cs
Due: navisworks

Added stream setting to omit properties for geometry only
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Settings.cs
Due: navisworks

housekeeping
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Selections.cs
Due: navisworks

Extract the Conversion handoff and refactor methods out of Send
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Conversion.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.cs
  ConnectorNavisworks/ConnectorNavisworks/ConnectorNavisworks.Shared.projitems
Due: navisworks

Developer mode stub class
  ConnectorNavisworks/ConnectorNavisworks/ConnectorNavisworks.Shared.projitems
  ConnectorNavisworks/ConnectorNavisworks/Other/Developer.cs
Due: navisworks
