Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Update Conduit.cs
  Objects/Objects/BuiltElements/Conduit.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix dui dialog conflict
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/DialogUserControl.cs
Due: none

Revit/mep networks (#1870)
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertNetwork.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertPipe.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Revit/ConnectionPair.cs
  Objects/Objects/BuiltElements/Conduit.cs
  Objects/Objects/BuiltElements/Network.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

mep network fixes from sergii
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertNetwork.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertPipe.cs
  Objects/Objects/BuiltElements/Network.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

removed revit converter 2019 from objects sln
  Objects/Objects.sln
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Update Objects.sln
  Objects/Objects.sln
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(revit): bug fixes for receiving mep networks (#1874)
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertNetwork.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertPipe.cs
  Objects/Objects.sln
  Objects/Objects/BuiltElements/Network.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Update Vector.cs
  Objects/Objects/Geometry/Vector.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

format code
  Objects/Objects/Geometry/Vector.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix indent size 4 space to 2 space
  Objects/Objects/Geometry/Vector.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(dui): dialog conflict (#1872)
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/DialogUserControl.cs
Due: none

feat(core): changes how the user app data folder is retrieved
  Core/Core/Api/Helpers.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Archicad nested elements
  ConnectorArchicad/AddOn/Sources/AddOn/AddOnMain.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateWall.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetDoorData.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetDoorData.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetSubElementInfo.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetSubElementInfo.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetWallData.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetWindowData.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetWindowData.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/FieldNames.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/ResourceIds.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/TypeNameTables.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/TypeNameTables.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/Utility.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Utility.hpp
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetDoorData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetSubelementInfo.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetWindowData.cs
  ConnectorArchicad/ConnectorArchicad/ConnectorBinding.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/CustomConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/DoorConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/WallConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/WindowConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/ElementConverterManager.cs
  ConnectorArchicad/ConnectorArchicad/Converters/ElementTypeProvider.cs
  Objects/Objects/BuiltElements/Archicad/Door.cs
  Objects/Objects/BuiltElements/Archicad/SubelementModelData.cs
  Objects/Objects/BuiltElements/Archicad/Wall.cs
  Objects/Objects/BuiltElements/Archicad/Window.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

AC25 build fix
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateDoor.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateWindow.cpp
Due: archicad

add test point
  All.sln
  Objects/Objects.NUnit/Geometry/PointTest.cs
  Objects/Objects.NUnit/Objects.NUnit.csproj
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(dui): checks for a valid internet connection before refreshing
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
  DesktopUI2/DesktopUI2/Views/Pages/HomeView.xaml
Due: none

fix(dui): notification when cannot get streams for account
  DesktopUI2/DesktopUI2/Models/NotificationManager.cs
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
Due: none

feat(dui): no connection fix (#1884)
  DesktopUI2/DesktopUI2/Models/NotificationManager.cs
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
  DesktopUI2/DesktopUI2/Views/Pages/HomeView.xaml
Due: none

fix sqlite and null value error
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Selection.cs
  ConnectorCSI/DriverPluginCSharp/DriverPluginCSharp.csproj
Due: csi

feat(core): changes how the user app data folder is retrieved (#1879)
  Core/Core/Api/Helpers.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Add Nunit Test Point Geometry (#1883)
  All.sln
  Objects/Objects.NUnit/Geometry/PointTest.cs
  Objects/Objects.NUnit/Objects.NUnit.csproj
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Revert "Add Nunit Test Point Geometry (#1883)"
  All.sln
  Objects/Objects.NUnit/Geometry/PointTest.cs
  Objects/Objects.NUnit/Objects.NUnit.csproj
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Revert "Add Nunit Test Point Geometry" (#1885)
  All.sln
  Objects/Objects.NUnit/Geometry/PointTest.cs
  Objects/Objects.NUnit/Objects.NUnit.csproj
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix reference test objects
  All.sln
  Objects/Tests/Tests.csproj
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(mapping): correctly apply style to usercontrol (dark mode issue)
  DesktopUI2/DesktopUI2/Views/MappingsControl.xaml
Due: none

fix(mapping): rhino idle event handling
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/Plugin.cs
  DesktopUI2/DesktopUI2/ViewModels/MappingTool/MappingsViewModel.cs
Due: rhino

fix(mapping): idele and styles (#1887)
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/Plugin.cs
  DesktopUI2/DesktopUI2/ViewModels/MappingTool/MappingsViewModel.cs
  DesktopUI2/DesktopUI2/Views/MappingsControl.xaml
Due: rhino

resolve comment review return void, add Unitize is Obsolete
  Objects/Objects/Geometry/Vector.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(dui): better offline state management & fix for #1888
  Core/Core/Api/Helpers.cs
  DesktopUI2/DesktopUI2/App.xaml.cs
  DesktopUI2/DesktopUI2/ViewModels/CollaboratorsViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(rhino): fixed issue with everything filter
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
Due: rhino

chore(acad): adds post build event to acad 2023
  ConnectorAutocadCivil/ConnectorAutocad2021/Properties/AssemblyInfo.cs
  ConnectorAutocadCivil/ConnectorAutocad2022/Properties/AssemblyInfo.cs
  ConnectorAutocadCivil/ConnectorAutocad2023/ConnectorAutocad2023.csproj
  ConnectorAutocadCivil/ConnectorAutocad2023/Properties/AssemblyInfo.cs
  ConnectorAutocadCivil/ConnectorCivil2021/Properties/AssemblyInfo.cs
  ConnectorAutocadCivil/ConnectorCivil2022/Properties/AssemblyInfo.cs
  ConnectorAutocadCivil/ConnectorCivil2023/Properties/AssemblyInfo.cs
Due: autocadcivil

chore(acad): adds post build event to acad 2023 (#1895)
  ConnectorAutocadCivil/ConnectorAutocad2021/Properties/AssemblyInfo.cs
  ConnectorAutocadCivil/ConnectorAutocad2022/Properties/AssemblyInfo.cs
  ConnectorAutocadCivil/ConnectorAutocad2023/ConnectorAutocad2023.csproj
  ConnectorAutocadCivil/ConnectorAutocad2023/Properties/AssemblyInfo.cs
  ConnectorAutocadCivil/ConnectorCivil2021/Properties/AssemblyInfo.cs
  ConnectorAutocadCivil/ConnectorCivil2022/Properties/AssemblyInfo.cs
  ConnectorAutocadCivil/ConnectorCivil2023/Properties/AssemblyInfo.cs
Due: autocadcivil

fix(dui): idle check on mac
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/Plugin.cs
Due: rhino

Fix(Sap): Include platform target and fix null value error (#1893)
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Selection.cs
  ConnectorCSI/DriverPluginCSharp/DriverPluginCSharp.csproj
Due: csi

fixes to revit analytical stick conversion
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAnalyticalStick.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(dui): better offline state management & fix for #1888 (#1892)
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/Plugin.cs
  Core/Core/Api/Helpers.cs
  DesktopUI2/DesktopUI2/App.xaml.cs
  DesktopUI2/DesktopUI2/ViewModels/CollaboratorsViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Auto stash before checking out "origin/release/2.10"
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Geometry/ConvertArea.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Path conditions:
  run_core: any of: Core/.*
  rhino: any of: (Core|Objects|ConnectorRhino|.*/ConverterRhinoGh)/.*
  grasshopper: any of: (Core|Objects|ConnectorGrasshopper|.*/ConverterRhinoGh)/.*
  revit: any of: (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.*
  dynamo: any of: (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.*
  autocadcivil: any of: (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.*
  csi: any of: (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.*
  microstation: any of: (Core|Objects|ConnectorMicroStation|.*/ConverterMicroStation)/.*
  teklastructures: any of: (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.*
  archicad: any of: (Core|Objects|ConnectorArchicad)/.*
