Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(core): Ignore non-relevant projects from coverage
  Core/Examples/ExampleApp.csproj
  Core/IntegrationTests/TestsIntegration.csproj
  Core/Tests/TestsUnit.csproj
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat(core): Added ShallowCopy unit test
  Core/Tests/BaseTests.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat(objects): Added empty constructor test
  Objects/Tests/GenericTests.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat(ci): Added test steps to objects job
  .circleci/scripts/config-template.yml
Due: none

fix(objects): Added junit to test project
  Objects/Tests/Tests.csproj
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(ci): Build objects with docker images
  .circleci/scripts/config-template.yml
Due: none

fix(ci): Change commands to use dotnet cli
  .circleci/scripts/config-template.yml
Due: none

fix(ci): Just build objects csproj and tests
  .circleci/scripts/config-template.yml
Due: none

fix(ci): Use net6.0 for tests
  .circleci/scripts/config-template.yml
  Objects/Tests/Tests.csproj
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(ci): Added net6.0 docker img
  .circleci/scripts/config-template.yml
Due: none

fix(ci): Pebkac
  .circleci/scripts/config-template.yml
Due: none

fix(ci): Use 3.1 for tests and 9.0 lang version
  .circleci/scripts/config-template.yml
  Objects/Tests/Tests.csproj
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(ci): Don't use KitManager in Objects tests, use reflection instead
  Objects/Tests/GenericTests.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(ci): Disabled codecov upload for Objects tests
  .circleci/scripts/config-template.yml
Due: none

fix(rhino): disable Speckle when using Rhino.Inside.Revit, attempt #2
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/Plugin.cs
Due: rhino

Objects: Adds tests to CI job (#1621)
  .circleci/scripts/config-template.yml
  Objects/Tests/GenericTests.cs
  Objects/Tests/Tests.csproj
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(objects): All converter's build on mac now (even the ones that don't work on mac)
  Objects/Converters/ConverterDynamo/ConverterDynamoRevit/ConverterDynamoRevit.csproj
  Objects/Converters/ConverterRevit/ConverterRevit2019/ConverterRevit2019.csproj
  Objects/Converters/ConverterRevit/ConverterRevit2020/ConverterRevit2020.csproj
  Objects/Converters/ConverterRevit/ConverterRevit2021/ConverterRevit2021.csproj
  Objects/Converters/ConverterRevit/ConverterRevit2022/ConverterRevit2022.csproj
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

updates report with application objects
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(rhino): disable Speckle when using Rhino.Inside.Revit, attempt #2 (#1623)
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/Plugin.cs
Due: rhino

updated interactive report selection
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Utils.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

update for non-appid objects fix
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Utils.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat(dui): replace itemscontrol with itemsrepeater for improved virtualization
  DesktopUI2/DesktopUI2/Styles/Button.xaml
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  DesktopUI2/DesktopUI2/Views/Pages/HomeControls/SavedStreams.xaml
  DesktopUI2/DesktopUI2/Views/Pages/HomeView.xaml
  DesktopUI2/DesktopUI2/Views/Pages/StreamEditControls/Report.xaml
Due: none

fix: font
  DesktopUI2/DesktopUI2/Styles/Text.xaml
Due: none

fix: font
  DesktopUI2/DesktopUI2/Views/Pages/HomeView.xaml
  DesktopUI2/DesktopUI2/Views/Scheduler.xaml
Due: none

fix(dui): #1612 dui crashing revit at startup if it has an invalid account
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
Due: none

feat(core): keeps track if an account is online or not
  Core/Core/Credentials/Account.cs
  Core/Core/Credentials/AccountManager.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

xdata bug fixed
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Utils.cs
Due: autocadcivil

oops
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat(dui): reintroduces the collaborators page
  Core/Core/Api/GraphQL/Models.cs
  Core/Core/Api/Helpers.cs
  DesktopUI2/DesktopUI2/DesktopUI2.csproj
  DesktopUI2/DesktopUI2/ViewModels/AccountViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/Share/CollaboratorsViewModel.cs
  DesktopUI2/DesktopUI2/Views/Converters/RoleCanShareValueConverter.cs
  DesktopUI2/DesktopUI2/Views/Converters/RoleValueConverter.cs
  DesktopUI2/DesktopUI2/Views/Pages/ShareControls/ChangeRoleDialog.xaml
  DesktopUI2/DesktopUI2/Views/Pages/ShareControls/ChangeRoleDialog.xaml.cs
  DesktopUI2/DesktopUI2/Views/Pages/ShareControls/CollaboratorsView.xaml
  DesktopUI2/DesktopUI2/Views/Pages/StreamEditView.xaml
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

consolidate repeated code
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertCurves.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(rhino): stream edit view selection issues in rhino
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/Plugin.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/Panel.xaml.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: rhino

GH: Fixes `ShallowCopy` issue with `displayValue` only containing 1 item (#1620)
  Core/Core/Models/Base.cs
  Core/Core/Models/DynamicBase.cs
  Core/Core/Models/DynamicBaseMemberType.cs
  Core/Examples/ExampleApp.csproj
  Core/IntegrationTests/TestsIntegration.csproj
  Core/Tests/BaseTests.cs
  Core/Tests/TestsUnit.csproj
  Objects/Tests/Utils/ShallowCopyTests.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(ci): disables tekla build as failing
  .circleci/scripts/config-template.yml
Due: none

fix(rhino): stream edit view selection issues in rhino (#1614)
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/Plugin.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/Panel.xaml.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: rhino

SQLite library update (#1616)
  .circleci/scripts/config-template.yml
  Core/Core/Core.csproj
  Core/Core/Credentials/Account.cs
  Core/Core/Credentials/AccountManager.cs
  Core/Core/Transports/SQLite.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

chore: Added paper-cut issue template
  .github/ISSUE_TEMPLATE/papercut.yml
Due: none

chore: Added paper-cut issue template (#1635)
  .github/ISSUE_TEMPLATE/papercut.yml
Due: none

fix: Papercut issue template
  .github/ISSUE_TEMPLATE/papercut.md
  .github/ISSUE_TEMPLATE/papercut.yml
Due: none

feat(autocadcivil): interactive reports and update receive mode (#1628)
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Utils.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Updated ToSpeckle conversion to use 3/4 Mesh face indicator (#1262)
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Geometry.cs
  Objects/Converters/ConverterDynamo/ConverterDynamoShared/ConverterDynamo.Geometry.cs
  Objects/Converters/ConverterMicroStation/ConverterMicroStationOpenShared/ConverterMicroStationOpen.Geometry.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertGeometry.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertMeshUtils.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Geometry.cs
  Objects/Converters/StructuralUtilities/PolygonMesher/PolygonMesher.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Path conditions:
  run_core: any of: Core/.*
  rhino: any of: (Core|Objects|ConnectorRhino|.*/ConverterRhinoGh)/.*
  grasshopper: any of: (Core|Objects|ConnectorGrasshopper|.*/ConverterRhinoGh)/.*
  revit: any of: (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.*
  dynamo: any of: (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.*
  autocadcivil: any of: (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.*
  csi: any of: (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.*
  microstation: any of: (Core|Objects|ConnectorMicroStation|.*/ConverterMicroStation)/.*
  teklastructures: any of: (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.*
  archicad: any of: (Core|Objects|ConnectorArchicad)/.*
