Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat: get-ci-tools will now try to mirror branches
  .circleci/scripts/config-template.yml
Due: none

fix(ci): Build mac connectors with dotnet
  .circleci/scripts/connector-jobs.yml
Due: none

fix(ci): build-with-mono instead of build-with-msbuild
  .circleci/scripts/connector-jobs.yml
Due: none

fix(ci): Git ci-tools checkout fix
  .circleci/scripts/config-template.yml
Due: none

refactors rhino collections after Core migration
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
Due: rhino

fix(ci): Build with mono path fix
  .circleci/scripts/config-template.yml
Due: none

fix(ci): SDK changes for avalonia to build rhino with dotnet targeting win
  ConnectorRhino/ConnectorRhino6/ConnectorRhino6.csproj
  ConnectorRhino/ConnectorRhino7/ConnectorRhino7.csproj
Due: rhino

fix(Navisworks): Conversion fails due to single unconverted property (#2417)
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Properties.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(ci): new dotnet build for mac
  .circleci/scripts/config-template.yml
  .circleci/scripts/connector-jobs.yml
Due: none

fix(ci): no build with mono param
  .circleci/scripts/connector-jobs.yml
Due: none

fix(ci): run slnf
  .circleci/scripts/config-template.yml
Due: none

fix: do not use self-contained for connector mac build
  .circleci/scripts/config-template.yml
Due: none

fix(ci): Env vars not being propagated... 🤦🏼‍♂️
  .circleci/scripts/config-template.yml
Due: none

fix(ci): PEBKAC
  .circleci/scripts/config-template.yml
Due: none

Revit launch configurations
  All.sln
  ConnectorRevit/ConnectorRevit.slnf
  ConnectorRevit/ConnectorRevit2020/ConnectorRevit2020.csproj
  ConnectorRevit/ConnectorRevit2020/Properties/launchSettings.json
  ConnectorRevit/ConnectorRevit2021/ConnectorRevit2021.csproj
  ConnectorRevit/ConnectorRevit2021/Properties/launchSettings.json
  ConnectorRevit/ConnectorRevit2022/ConnectorRevit2022.csproj
  ConnectorRevit/ConnectorRevit2022/Properties/launchSettings.json
  ConnectorRevit/ConnectorRevit2023/ConnectorRevit2023.csproj
  ConnectorRevit/ConnectorRevit2023/Properties/launchSettings.json
  Core/Core/Core.csproj
  Core/Core/Properties/launchSettings.json
  Objects/Converters/ConverterRevit/ConverterRevit2020/ConverterRevit2020.csproj
  Objects/Converters/ConverterRevit/ConverterRevit2021/ConverterRevit2021.csproj
  Objects/Converters/ConverterRevit/ConverterRevit2022/ConverterRevit2022.csproj
  Objects/Converters/ConverterRevit/ConverterRevit2022/Properties/launchSettings.json
  Objects/Converters/ConverterRevit/ConverterRevit2023/ConverterRevit2023.csproj
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

CSProj backups removed Removed unused usings
  Core/Core/Core - Backup.csproj
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.ASGeometry.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.AdvanceSteel.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.Beams.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.Bolts.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.Gratings.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.Plates.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.Slabs.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.SpecialParts.cs
  Objects/Objects/Objects - Backup.csproj
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(ci): Install zip
  .circleci/scripts/config-template.yml
Due: none

fix(ci): case sensitive name of installer
  .circleci/scripts/connector-jobs.yml
Due: none

build(revit): Launch config (#2422)
  All.sln
  ConnectorRevit/ConnectorRevit.slnf
  ConnectorRevit/ConnectorRevit2020/ConnectorRevit2020.csproj
  ConnectorRevit/ConnectorRevit2020/Properties/launchSettings.json
  ConnectorRevit/ConnectorRevit2021/ConnectorRevit2021.csproj
  ConnectorRevit/ConnectorRevit2021/Properties/launchSettings.json
  ConnectorRevit/ConnectorRevit2022/ConnectorRevit2022.csproj
  ConnectorRevit/ConnectorRevit2022/Properties/launchSettings.json
  ConnectorRevit/ConnectorRevit2023/ConnectorRevit2023.csproj
  ConnectorRevit/ConnectorRevit2023/Properties/launchSettings.json
  Core/Core/Core.csproj
  Core/Core/Properties/launchSettings.json
  Objects/Converters/ConverterRevit/ConverterRevit2020/ConverterRevit2020.csproj
  Objects/Converters/ConverterRevit/ConverterRevit2021/ConverterRevit2021.csproj
  Objects/Converters/ConverterRevit/ConverterRevit2022/ConverterRevit2022.csproj
  Objects/Converters/ConverterRevit/ConverterRevit2022/Properties/launchSettings.json
  Objects/Converters/ConverterRevit/ConverterRevit2023/ConverterRevit2023.csproj
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(ci): Testing SDK build instead
  .circleci/scripts/config-generator.py
  .circleci/scripts/config-template.yml
  .circleci/scripts/connector-jobs.yml
Due: none

fix(ci): PEBKAC round 2002
  .circleci/scripts/config-template.yml
Due: none

fix(ci): Do not wait for integration tests to build connectors, just wait for deploy
  .circleci/scripts/config-generator.py
Due: none

fix(ci): Rename `build-core` to `build-sdk`
  .circleci/scripts/config-generator.py
  .circleci/scripts/config-template.yml
  .circleci/scripts/connector-jobs.yml
Due: none

fix(ci): 🤦🏼‍♂️ missing the parameter
  .circleci/scripts/config-template.yml
Due: none

fix(ci): Name cannot be used as parameter name
  .circleci/scripts/config-template.yml
Due: none

fix(ci): pebkac yet again
  .circleci/scripts/config-template.yml
Due: none

fix(ci): this is it!
  .circleci/scripts/common-jobs.yml
Due: none

fix(ci): use net6.0 image
  .circleci/scripts/config-template.yml
  Objects/Tests/Tests.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(ci): rollback to use net6 in tests
  Objects/Tests/Tests.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Attempt at fixing our CI on mac after the reformat (#2420)
  .circleci/scripts/common-jobs.yml
  .circleci/scripts/config-generator.py
  .circleci/scripts/config-template.yml
  .circleci/scripts/connector-jobs.yml
  ConnectorRhino/ConnectorRhino6/ConnectorRhino6.csproj
  ConnectorRhino/ConnectorRhino7/ConnectorRhino7.csproj
  Objects/Tests/Tests.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

add support for type parameters
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertView.Schedule.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

skip column if it's hidden
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertView.Schedule.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(revit): altered traversal rules to ensure displayValues are traversed
  Core/Core/Models/GraphTraversal/DefaultTraversal.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

removes incorrect using refs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Organization.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

deprecates old revit mesh helper methods
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAdaptiveComponent.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAnalyticalStick.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAnalyticalSurface.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertArea.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertBeam.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertBuildingPad.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertCableTray.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertCeiling.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertColumn.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertConduit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertDuct.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFloor.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertMeshUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertPipe.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRailing.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRevitElement.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRoof.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRoom.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertSpace.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertStair.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertStructuralConnectionHandlers.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertTopRail.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertTopography.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertWall.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

ci(navis): navisworks 2024 post build
  ConnectorNavisworks/ConnectorNavisworks2024/ConnectorNavisworks2024.csproj
Due: navisworks

Path conditions:
  core: any of: Core/.*
  rhino: any of: (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.*
  revit: any of: (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.*
  dynamo: any of: (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.*
  autocadcivil: any of: (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.*
  csi: any of: (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.*
  bentley: any of: (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.*
  teklastructures: any of: (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.*
  archicad: any of: (Core|Objects|ConnectorArchicad)/.*
  navisworks: any of: (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.*
