Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

support parameter units version < 2021
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertModel.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix conflict namespace
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/ObjectConverter.cs
Due: archicad

fix conflict namespace unit
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Other.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Receive cancellation behaviour
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/BeamConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/ColumnConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/DirectShapeConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/DoorConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/FloorConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/ObjectConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/RoofConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/RoomConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/SkylightConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/WallConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/WindowConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/ElementConverterManagerReceive.cs
Due: archicad

fix(Archicad): Receive cancellation behaviour (#2776)
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/BeamConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/ColumnConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/DirectShapeConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/DoorConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/FloorConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/ObjectConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/RoofConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/RoomConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/SkylightConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/WallConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/WindowConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/ElementConverterManagerReceive.cs
Due: archicad

wip: trying to set up revit 2020 shared project
  ConnectorRevit/RevitDUI3/Revit2020DUI3/Properties/launchSettings.json
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Panel.xaml
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Panel.xaml.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/SpeckleRevit2DUI3.addin
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/SpeckleRevitDUI3Command.cs
Due: revit

wip: trying to set up revit 2020 shared project
  ConnectorRevit/ConnectorRevit.sln
  ConnectorRevit/ConnectorRevit/ConnectorRevitShared.shproj
  ConnectorRevit/ConnectorRevit/Entry/App.cs
  ConnectorRevit/ConnectorRevit/Entry/SpeckleRevitCommand.cs
  ConnectorRevit/RevitDUI3/Revit2020DUI3/Properties/launchSettings.json
  ConnectorRevit/RevitDUI3/Revit2020DUI3/Revit2020DUI3.csproj
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Entry.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Panel.xaml
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Panel.xaml.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/RevitDUI3Shared.projitems
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/RevitDUI3Shared.shproj
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/SpeckleRevit2DUI3.addin
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/SpeckleRevitDUI3Command.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevitShared.shproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

wip
  ConnectorRevit/ConnectorRevit.sln
  ConnectorRevit/ConnectorRevit2020/ConnectorRevit2020.csproj
  ConnectorRevit/RevitDUI3/Revit2020DUI3/Revit2020DUI3.csproj
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/RevitBaseBinding.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Entry.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Panel.xaml
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/RevitDUI3Shared.projitems
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/SpeckleRevit2DUI3.addin
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/SpeckleRevitDUI3Command.cs
Due: revit

full on DI for connector and converter
  ConnectorRevit/ConnectorRevit/ConnectorRevit.projitems
  ConnectorRevit/ConnectorRevit/Operations/ReceiveOperation.cs
  ConnectorRevit/ConnectorRevit/Revit/ErrorEater.cs
  ConnectorRevit/ConnectorRevit/Services/DUIEntityProvider.cs
  ConnectorRevit/ConnectorRevit/Services/ISpeckleObjectReceiver.cs
  ConnectorRevit/ConnectorRevit/Services/SpeckleObjectServerReceiver.cs
  ConnectorRevit/ConnectorRevit/Services/StreamStateConversionSettings.cs
  ConnectorRevit/ConnectorRevit/Services/TransactionManager.cs
  ConnectorRevit/ConnectorRevit/Services/UIDocumentProvider.cs
  ConnectorRevit/ConnectorRevit/Storage/StreamStateCache.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.cs
  ConnectorRevit/RevitSharedResources/Interfaces/IConversionSettings.cs
  ConnectorRevit/RevitSharedResources/Interfaces/IEntityProvider.cs
  ConnectorRevit/RevitSharedResources/Interfaces/IRevitTransactionManager.cs
  ConnectorRevit/RevitSharedResources/RevitSharedResources.projitems
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.SettingsHelpers.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertBeam.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertWall.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

add autofac to all revit versions
  ConnectorRevit/ConnectorRevit2020/ConnectorRevit2020.csproj
  ConnectorRevit/ConnectorRevit2021/ConnectorRevit2021.csproj
  ConnectorRevit/ConnectorRevit2022/ConnectorRevit2022.csproj
  ConnectorRevit/ConnectorRevit2024/ConnectorRevit2024.csproj
Due: revit

delete unused code
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
Due: revit

delete more unused code
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
Due: revit

more unused code
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.cs
Due: revit

feat(revit): add revit air terminal category (#2721)
  ConnectorRevit/RevitSharedResources/Helpers/Categories.cs
Due: revit

some changes to the test project
  ConnectorRevit/ConnectorRevit/Services/DUIEntityProvider.cs
  ConnectorRevit/ConnectorRevit/Services/StreamStateConversionSettings.cs
  ConnectorRevit/ConnectorRevit/Services/UIDocumentProvider.cs
  ConnectorRevit/ConnectorRevit/Storage/ConvertedObjectsCache.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/Services/SpeckleObjectLocalReceiver.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/SpeckleConversionTest.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

wip
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/RevitBaseBinding.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Entry.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Panel.xaml
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/SpeckleRevitDUI3Command.cs
Due: revit

implemented di for send operation
  ConnectorRevit/ConnectorRevit/ConnectorRevit.projitems
  ConnectorRevit/ConnectorRevit/Operations/SendOperation.cs
  ConnectorRevit/ConnectorRevit/Services/SendSelection.cs
  ConnectorRevit/ConnectorRevit/Services/TransactionManager.cs
  ConnectorRevit/ConnectorRevit/Storage/StreamStateCache.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Previews.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.cs
  ConnectorRevit/RevitSharedResources/Interfaces/ISendSelection.cs
  ConnectorRevit/RevitSharedResources/RevitSharedResources.projitems
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertGroup.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertNetwork.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRailing.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTests2021/ConverterRevitTests2021.csproj
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/ConverterRevitTestsShared.projitems
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/SpeckleConversionTest.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

delete unused code
  ConnectorRevit/ConnectorRevit/ConnectorRevit.projitems
  ConnectorRevit/ConnectorRevit/Operations/SendOperation.cs
  ConnectorRevit/ConnectorRevit/Services/ISpeckleObjectSender.cs
  ConnectorRevit/ConnectorRevit/Services/SpeckleObjectServerSender.cs
  ConnectorRevit/ConnectorRevit/Services/TransactionManager.cs
  ConnectorRevit/ConnectorRevit/Storage/ConvertedObjectsCacheSend.cs
  ConnectorRevit/ConnectorRevit/Storage/StreamStateCache.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Previews.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Selection.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Send.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertGroup.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertNetwork.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

almost have some tests running i think
  ConnectorRevit/ConnectorRevit/Operations/ReceiveOperation.cs
  ConnectorRevit/RevitSharedResources/Helpers/Categories.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTests2022/ConverterRevitTests2022.csproj
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTests2023/ConverterRevitTests2023.csproj
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/AssertUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/BrepTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/ConverterRevitTestsShared.projitems
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/Generated/REVIT2021/TestGenerator/TestGenerator.Generator/GeneratedTests.g.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/Generated/REVIT2022/TestGenerator/TestGenerator.Generator/GeneratedTests.g.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/Services/SpeckleObjectLocalReceiver.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/Services/SpeckleObjectLocalSender.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/SpeckleConversionFixture.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/SpeckleConversionTest.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/SpeckleUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/TestCategories.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/TestGenerator/Categories.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/TestGenerator/Generator.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/TestGenerator/TestTemplate.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

wip: revit 2020 implementation
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/RevitBaseBinding.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Entry.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Panel.xaml.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/SpeckleRevitDUI3Command.cs
  DesktopUI3/DUI3/Bridge.cs
  DesktopUI3/DUI3/Interfaces.cs
Due: revit

adds support for revit 2023
  ConnectorRevit/ConnectorRevit.sln
  ConnectorRevit/RevitDUI3/Revit2023DUI3/Properties/launchSettings.json
  ConnectorRevit/RevitDUI3/Revit2023DUI3/Revit2023DUI3.csproj
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Entry.cs
Due: revit

Fix(Revit) : Don't show every mapped value for each receive operation (#2775)
  ConnectorRevit/ConnectorRevit/TypeMapping/ElementTypeMapper.cs
  ConnectorRevit/ConnectorRevit/TypeMapping/TypeMap.cs
Due: revit

hotspot
  ConnectorArchicad/AddOn/Sources/AddOn/LibpartImportManager.cpp
Due: archicad

Clearer error message for no visible geometry objects
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
Due: navisworks

fix(Navisworks): Closing 2.15 UX/UI papercuts (#2766)
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/Elements.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/Invokers.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/SelectionBuilder.cs
Due: navisworks

fix(core): Fixed issue with blob storage folder being ignored in server transport
  Core/Core/Transports/ServerV2.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

refactors bindings
  ConnectorAutocadCivil/ConnectorAutocadCivil/ConnectorAutocadCivilShared.projitems
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Events.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Previews.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Receive.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Selection.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Send.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
Due: autocadcivil

feat(dui3): even more support for revit 2023 (adds webview!)
  All.sln
  ConnectorAutocadCivil/AutocadCivilDUI3/Autocad2023/ConnectorAutocad2023DUI3.csproj
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/AutocadCivilDUI3Shared.projitems
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/AutocadCivilDUI3Shared.shproj
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/DUI3PanelCefSharp.xaml
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/DUI3PanelCefSharp.xaml.cs
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/DUI3PanelWebView.xaml
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/DUI3PanelWebView.xaml.cs
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Entry.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil.slnf
  ConnectorAutocadCivil/ConnectorAutocadCivil/Entry/App.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
Due: autocadcivil

Added blobStorageFolder to clone
  Core/Core/Transports/ServerV2.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(Navisworks): Handles lack of One-click-send implementation causing host app to be unresponsive (#2759)
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.File.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Selections.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.cs
Due: navisworks

feat(dui3): adds autocad2022 project
  All.sln
  ConnectorAutocadCivil/AutocadCivilDUI3/Autocad2022/ConnectorAutocad2022DUI3.csproj
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Entry.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil.slnf
Due: autocadcivil

add class descriptions
  All.sln
  ConnectorRevit/ConnectorRevit/Operations/ReceiveOperation.cs
  ConnectorRevit/ConnectorRevit/Operations/SendOperation.cs
  ConnectorRevit/ConnectorRevit/Services/DUIEntityProvider.cs
  ConnectorRevit/ConnectorRevit/Services/ISpeckleObjectReceiver.cs
  ConnectorRevit/ConnectorRevit/Services/ISpeckleObjectSender.cs
  ConnectorRevit/ConnectorRevit/Services/SendSelection.cs
  ConnectorRevit/ConnectorRevit/Services/SpeckleObjectServerReceiver.cs
  ConnectorRevit/ConnectorRevit/Services/SpeckleObjectServerSender.cs
  ConnectorRevit/ConnectorRevit/Services/StreamStateConversionSettings.cs
  ConnectorRevit/ConnectorRevit/Services/TransactionManager.cs
  ConnectorRevit/ConnectorRevit/Services/UIDocumentProvider.cs
  ConnectorRevit/ConnectorRevit/Storage/ConvertedObjectsCacheSend.cs
  ConnectorRevit/RevitSharedResources/Interfaces/IConversionSettings.cs
  ConnectorRevit/RevitSharedResources/Interfaces/IEntityProvider.cs
  ConnectorRevit/RevitSharedResources/Interfaces/IRevitTransactionManager.cs
  ConnectorRevit/RevitSharedResources/Interfaces/ISendSelection.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/Globals.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

add back brep tests
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/BrepTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/ConverterRevitTestsShared.projitems
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/Services/SpecificObjectReciever.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/SpeckleUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix family instance placement
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/Generated/REVIT2022/TestGenerator/TestGenerator.Generator/GeneratedTests.g.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Adds collections to send
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Send.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Utils.cs
Due: autocadcivil

feat(AdvanceSteel): Mechanism to get main properties of native objects (#2444)
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.ASGeometry.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.AdvanceSteel.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.Gratings.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.Slabs.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/Properties/ASBaseProperties.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/Properties/ASPropertiesCache.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/Properties/ASProperty.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/Properties/ASPropertyMethods.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/Properties/ASTypeData.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/Properties/IASProperties.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/Properties/PropertySets/AtomicElementProperties.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/Properties/PropertySets/BeamProperties.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/Properties/PropertySets/MainAliasProperties.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/Properties/PropertySets/PolybeamProperties.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/Converter.AutocadCivil.Utils.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivilShared.projitems
  Objects/Objects/BuiltElements/AdvanceSteel/AsteelBeam.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AsteelBolt.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AsteelGrating.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AsteelPlate.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AsteelPolyBeam.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AsteelSlab.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AsteelSpecialPart.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AsteelStraightBeam.cs
  Objects/Objects/BuiltElements/AdvanceSteel/IAsteelObject.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

log(revit): Added missing exception to log
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
Due: revit

Path conditions:
  core: any of: Core/.*
  rhino: any of: (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.*
  revit: any of: (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.*
  dynamo: any of: (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.*
  autocadcivil: any of: (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.*
  csi: any of: (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.*
  bentley: any of: (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.*
  teklastructures: any of: (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.*
  archicad: any of: (Core|Objects|ConnectorArchicad)/.*
  navisworks: any of: (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.*
