Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

MEP-Curevs: only pipes and flexpipes
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertMaterialQuantities.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

NaN instead of 0
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertMaterialQuantities.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(dui3): fixes bug in bridge_v2 and first pass at send cancellation
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/SendBinding.cs
  DesktopUI3/DUI3/BridgeV2.cs
Due: rhino

Dim/bridge v2 (#2964)
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/SendBinding.cs
  DesktopUI3/DUI3/BridgeV2.cs
Due: rhino

Minor tweaks to improve GrassHopper experience
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertToposolid.cs
  Objects/Objects/BuiltElements/Revit/RevitToposolid.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

BIM to Revit on the schema attribute
  Objects/Objects/BuiltElements/Revit/RevitToposolid.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Implemented Traversal Refactor for CSI connectors (#2961)
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Recieve.cs
Due: csi

feat(revit): Support for TopoSolid (#2951)
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevitShared.projitems
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertGeometry.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertToposolid.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertView.cs
  Objects/Objects/BuiltElements/Revit/RevitToposolid.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Use browser dispacther for Autocad cef
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Bindings/SendBinding.cs
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/DUI3PanelWebView.xaml.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/SendBinding.cs
  ConnectorRhino/ConnectorRhinoWebUI/WebUIPanelCef.xaml.cs
Due: rhino, autocadcivil

Commit transaction
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Bindings/SendBinding.cs
Due: autocadcivil

Pass model card id to create version
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Bindings/SendBinding.cs
Due: autocadcivil

adds dashed line style and textdots to gridline
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.Previews.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.BuiltElements.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Cancel AutoCAD send
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Bindings/SendBinding.cs
Due: autocadcivil

Init CancellationManager
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Bindings/SendBinding.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/SendBinding.cs
  DesktopUI3/DUI3/Operations/CancellationManager.cs
Due: rhino, autocadcivil

Use browser dispacther for Revit cef
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/CefSharpPanel.xaml.cs
Due: revit

Cancel send operation for Revit
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/SendBinding.cs
Due: revit

wip gridline receiving
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSI.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSIShared.projitems
  Objects/Converters/ConverterCSI/ConverterCSIShared/Models/DatabaseTableWrapper.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Models/GridLineDefinitionTable.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Models/GridLineManager.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Geometry/ConvertGridLines.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Cancel receive
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Bindings/ReceiveBinding.cs
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Bindings/SendBinding.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/ReceiveBinding.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/SendBinding.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/ReceiveBinding.cs
  DesktopUI3/DUI3/Operations/CancellationManager.cs
  DesktopUI3/DUI3/Operations/Operations.cs
  DesktopUI3/DUI3/Utils/Receive.cs
Due: rhino, revit, autocadcivil

Finalize progress when cancel happened
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/ReceiveBinding.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/SendBinding.cs
Due: rhino

avoid app object mutation in converter
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Recieve.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSI.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Geometry/ConvertArea.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Geometry/ConvertBuiltElement.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Geometry/ConvertFrame.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Geometry/ConvertLine.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Geometry/ConvertLinks.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Geometry/ConvertPoint.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Geometry/ConvertStories.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Loading/Loading1DElements.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Loading/Loading2DElements.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Properties/Convert1DProperty.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Properties/Convert2DProperty.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Properties/Convert2DPropertyFloor.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Properties/Convert2DPropertyWall.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Properties/ConvertDiaphragm.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Properties/ConvertLinkProperty.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Properties/ConvertSpring.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Listening for progress
  BatchUploadOperationDriver/BatchUploadOperationDriver.cs
Due: none

Better notification for send operations
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Bindings/SendBinding.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/SendBinding.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/SendBinding.cs
  DesktopUI3/DUI3/Models/ModelProgress.cs
  DesktopUI3/DUI3/Utils/Progress.cs
Due: rhino, revit, autocadcivil

creates grids if grid system is existing
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSIShared.projitems
  Objects/Converters/ConverterCSI/ConverterCSIShared/Models/DatabaseTableWrapper.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Models/GridLineDefinitionTable.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Geometry/ConvertGridLines.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Services/ToNativeScalingService.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Better notification for receive operations
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Bindings/ReceiveBinding.cs
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Bindings/SendBinding.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/ReceiveBinding.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/SendBinding.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/ReceiveBinding.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/SendBinding.cs
  DesktopUI3/DUI3/Utils/Progress.cs
Due: rhino, revit, autocadcivil

code cleanup
  Objects/Converters/ConverterCSI/ConverterCSIShared/Models/DatabaseTableWrapper.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Models/GridLineDefinitionTable.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Geometry/ConvertGridLines.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

appears to be working
  Objects/Converters/ConverterCSI/ConverterCSIShared/Models/GridLineDefinitionTable.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

small logic improvements
  Objects/Converters/ConverterCSI/ConverterCSIShared/Models/GridLineDefinitionTable.cs
  Objects/Objects/Other/Transform.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

move create grid to separate method
  Objects/Converters/ConverterCSI/ConverterCSIShared/Models/GridLineDefinitionTable.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Simplify duplications for send operations
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Bindings/SendBinding.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/SendBinding.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Utils/RevitAppProvider.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/SendBinding.cs
  DesktopUI3/DUI3/Models/DocumentModelStore.cs
  DesktopUI3/DUI3/Operations/CancellationManager.cs
  DesktopUI3/DUI3/Operations/Operations.cs
  DesktopUI3/DUI3/Utils/Accounts.cs
  DesktopUI3/DUI3/Utils/Converters.cs
  DesktopUI3/DUI3/Utils/Exceptions.cs
Due: rhino, revit, autocadcivil

generic method for quantities
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertMaterialQuantities.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Rhino receive function tidy up
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Bindings/SendBinding.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/SendBinding.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/ReceiveBinding.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/SendBinding.cs
  DesktopUI3/DUI3/Operations/Operations.cs
  DesktopUI3/DUI3/Utils/Receive.cs
  DesktopUI3/DUI3/Utils/Traversal.cs
Due: rhino, revit, autocadcivil

Update ConverterRhinoGh.Other.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

adjust tolerances
  Objects/Converters/ConverterCSI/ConverterCSIShared/Models/GridLineDefinitionTable.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

added documentation
  Objects/Converters/ConverterCSI/ConverterCSIShared/Models/GridLineDefinitionTable.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(batchuploader): Added BatchUploader SDK project
  All.sln
  BatchUploadOperationDriver/BatchUploadOperationDriver.cs
  BatchUploadOperationDriver/BatchUploadOperationDriver.csproj
  ConnectorCore/BatchUploader.OperationDriver/BatchUploadOperationDriver.cs
  ConnectorCore/BatchUploader.OperationDriver/BatchUploader.OperationDriver.csproj
  ConnectorCore/BatchUploader.Sdk/BatchUploader.Sdk.csproj
  ConnectorCore/BatchUploader.Sdk/BatchUploaderClient.cs
  ConnectorCore/BatchUploader.Sdk/CommunicationModels/Models.cs
  ConnectorCore/BatchUploader.Sdk/Interfaces/IApplicationFunctionalityController.cs
  ConnectorCore/BatchUploader.Sdk/Interfaces/IApplicationLifetimeController.cs
  ConnectorRevit/ConnectorRevit/Entry/App.cs
  ConnectorRevit/ConnectorRevit/RevitApplicationFunctionalityController.cs
  ConnectorRevit/ConnectorRevit2020/ConnectorRevit2020.csproj
  ConnectorRevit/ConnectorRevit2021/ConnectorRevit2021.csproj
  ConnectorRevit/ConnectorRevit2022/ConnectorRevit2022.csproj
  ConnectorRevit/ConnectorRevit2023/ConnectorRevit2023.csproj
  ConnectorRevit/ConnectorRevit2024/ConnectorRevit2024.csproj
  Directory.Build.props
Due: revit

rename file
  Objects/Converters/ConverterCSI/ConverterCSIShared/Models/ETABSGridLineDefinitionTable.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Models/GridLineManager.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

don't override existing grid system properties
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSIShared.projitems
  Objects/Converters/ConverterCSI/ConverterCSIShared/Models/ETABSGridLineDefinitionTable.cs
  Objects/Objects/Other/Transform.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Simplify receive operations
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Bindings/ReceiveBinding.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/BasicConnectorBindingRevit.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/ReceiveBinding.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/ReceiveBinding.cs
  DesktopUI3/DUI3/Bindings/IReceiveBinding.cs
  DesktopUI3/DUI3/DUI3.csproj
  DesktopUI3/DUI3/Models/Card/ModelCardNotification.cs
  DesktopUI3/DUI3/Models/Card/ModelCardProgress.cs
  DesktopUI3/DUI3/Operations/Operations.cs
  DesktopUI3/DUI3/Utils/Notification.cs
  DesktopUI3/DUI3/Utils/Progress.cs
Due: rhino, revit, autocadcivil

Feat (DUI3): cancellation (#2966)
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Bindings/ReceiveBinding.cs
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Bindings/SendBinding.cs
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/DUI3PanelWebView.xaml.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/BasicConnectorBindingRevit.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/ReceiveBinding.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/SendBinding.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/CefSharpPanel.xaml.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Utils/RevitAppProvider.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/ReceiveBinding.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/SendBinding.cs
  ConnectorRhino/ConnectorRhinoWebUI/WebUIPanelCef.xaml.cs
  DesktopUI3/DUI3/Bindings/IReceiveBinding.cs
  DesktopUI3/DUI3/DUI3.csproj
  DesktopUI3/DUI3/Models/Card/ModelCardNotification.cs
  DesktopUI3/DUI3/Models/Card/ModelCardProgress.cs
  DesktopUI3/DUI3/Models/DocumentModelStore.cs
  DesktopUI3/DUI3/Models/ModelProgress.cs
  DesktopUI3/DUI3/Operations/CancellationManager.cs
  DesktopUI3/DUI3/Operations/Operations.cs
  DesktopUI3/DUI3/Utils/Accounts.cs
  DesktopUI3/DUI3/Utils/Converters.cs
  DesktopUI3/DUI3/Utils/Exceptions.cs
  DesktopUI3/DUI3/Utils/Notification.cs
  DesktopUI3/DUI3/Utils/Progress.cs
  DesktopUI3/DUI3/Utils/Receive.cs
  DesktopUI3/DUI3/Utils/Traversal.cs
Due: rhino, revit, autocadcivil

Added BatchUploader to solution files
  ConnectorRevit/ConnectorRevit.sln
  ConnectorRevit/ConnectorRevit.slnf
  SDK.slnf
Due: revit

Path conditions:
  core: any of: Core/.*
  rhino: any of: (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.*
  revit: any of: (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.*
  dynamo: any of: (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.*
  autocadcivil: any of: (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.*
  csi: any of: (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.*
  bentley: any of: (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.*
  teklastructures: any of: (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.*
  archicad: any of: (Core|Objects|ConnectorArchicad)/.*
  navisworks: any of: (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.*
