Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.3.1
  python: circleci/python@2.0.3

jobs:
  setup:
    executor: python/default
    steps:
      - checkout # checkout code
      - path-filtering/set-parameters:
          mapping: |
            Core/.* run_core true
            (Core|Objects|ConnectorRhino|.*/ConverterRhinoGh)/.* rhino true
            (Core|Objects|ConnectorGrasshopper|.*/ConverterRhinoGh)/.* grasshopper true
            (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.* revit true
            (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.* dynamo true
            (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.* autocadcivil true
            (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.* csi true
            (Core|Objects|ConnectorMicroStation|.*/ConverterMicroStation)/.* microstation true
            (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.* teklastructures true
            (Core|Objects|ConnectorArchicad)/.* archicad true
          base-revision: main
          output-path: .circleci/scripts/parameters.json
      - run:
          name: LS scripts folders
          command: ls .circleci/scripts
      - run: cat .circleci/scripts/parameters.json
      - run: pip install pyyaml
      - run: # run a command
          name: Generate config
          command: |
            python .circleci/scripts/config-generator.py
      - continuation/continue:
          configuration_path: .circleci/continuation-config.yml # use newly generated config to continue

workflows:
  setup:
    jobs:
      - setup

feat(revit): ui fiddles and export dialog
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Events.cs
  Core/Core/Logging/Analytics.cs
  DesktopUI2/DesktopUI2/Assets/logo.png
  DesktopUI2/DesktopUI2/DesktopUI2.csproj
  DesktopUI2/DesktopUI2/Models/ConfigManager.cs
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
  DesktopUI2/DesktopUI2/Views/Pages/HomeView.xaml
  DesktopUI2/DesktopUI2/Views/Pages/SettingsView.xaml
  DesktopUI2/DesktopUI2/Views/Pages/ShareControls/CollaboratorsView.xaml
  DesktopUI2/DesktopUI2/Views/Pages/StreamEditView.xaml
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/ImportExportAlert.xaml
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/ImportExportAlert.xaml.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

support all the trades
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevitShared.projitems
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertConduit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertNetwork.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Revit/ConnectionPair.cs
  Objects/Objects/BuiltElements/Conduit.cs
  Objects/Objects/Organization/NetworkElement.cs
  Objects/Objects/Organization/NetworkLink.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat: tracking unregistered accs
  ConnectorRevit/ConnectorRevit/Entry/App.cs
  Core/Core/Logging/Analytics.cs
  Core/Core/Logging/Setup.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat(dui): minor ui fiddles
  ConnectorRevit/ConnectorRevit/Entry/App.cs
  Core/Core/Logging/Analytics.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  DesktopUI2/DesktopUI2/Views/Pages/HomeView.xaml
  DesktopUI2/DesktopUI2/Views/Pages/StreamEditView.xaml
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

chore: targetframework
  Core/Core/Core.csproj
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Etabs/sqlite fix (#1672)
  ConnectorCSI/ConnectorETABS/ConnectorETABS.csproj
  Core/Core/Core.csproj
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Revit/export dialog (#1673)
  ConnectorRevit/ConnectorRevit/Entry/App.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Events.cs
  Core/Core/Core.csproj
  Core/Core/Logging/Analytics.cs
  Core/Core/Logging/Setup.cs
  DesktopUI2/DesktopUI2/Assets/logo.png
  DesktopUI2/DesktopUI2/DesktopUI2.csproj
  DesktopUI2/DesktopUI2/Models/ConfigManager.cs
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  DesktopUI2/DesktopUI2/Views/Pages/HomeView.xaml
  DesktopUI2/DesktopUI2/Views/Pages/SettingsView.xaml
  DesktopUI2/DesktopUI2/Views/Pages/ShareControls/CollaboratorsView.xaml
  DesktopUI2/DesktopUI2/Views/Pages/StreamEditView.xaml
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/ImportExportAlert.xaml
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/ImportExportAlert.xaml.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Update ConvertNetwork.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertNetwork.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

change phase to phaseCreated
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

merge fix
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertConduit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertNetwork.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(ci): No longer deploy using old strategy
  .circleci/scripts/config-template.yml
Due: none

fix(ci): All mac connectors and Archicad for windows deployment (#1665)
  .circleci/scripts/config-generator.py
  .circleci/scripts/config-template.yml
  .circleci/scripts/connector-jobs.yml
  ConnectorArchicad/ConnectorArchicad/ConnectorArchicad.csproj
  ConnectorArchicad/ConnectorArchicad/Properties/AssemblyInfo.cs
Due: archicad

Receiving in 23 now works
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Geometry/ConvertFrame.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAnalyticalStick.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAnalyticalSurface.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFloor.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(Revit): Cannot parse null value
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(Revit): Cannot parse null value (#1678)
  .github/ISSUE_TEMPLATE/papercut.md
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/Plugin.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/Panel.xaml.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Fix(Revit): Duplicated mesh when sending nested familyinstance
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertMeshUtils.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Fix(dyn): Changes Arc conversion to use 3Point constructor (#1670)
  ConnectorDynamo/ConnectorDynamo/ReceiveNode/Receive.cs
  ConnectorDynamo/ConnectorDynamoFunctions/Functions.cs
  Core/Core/Kits/Applications.cs
  Objects/Converters/ConverterDynamo/ConverterDynamoShared/ConverterDynamo.Geometry.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat (CSI) - materials update new conversion routines for recieve
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Materials/ConvertMaterials.cs
  Objects/Objects/Structural/ApplicationSpecific/ETABS/Materials/CSIConcrete.cs
  Objects/Objects/Structural/ApplicationSpecific/ETABS/Materials/CSIRebar.cs
  Objects/Objects/Structural/ApplicationSpecific/ETABS/Materials/CSISteel.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

featureline minor changes
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
  Objects/Objects/BuiltElements/Featureline.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

remove border logic - doesn't work
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/Converter.AutocadCivil.Utils.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

all 1D elements updating correctly
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAnalyticalStick.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

remove unused imports
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAnalyticalStick.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

revert changes to converterCSI
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Geometry/ConvertFrame.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

simplify object name
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Feat(Revit): Added phase parameter (#1466)
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Revert unintentional changes
  .github/ISSUE_TEMPLATE/papercut.md
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/Plugin.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/Panel.xaml.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: rhino

fixed extra edges
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Fix(Rhino): Revert unintentional changes (#1692)
  .github/ISSUE_TEMPLATE/papercut.md
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/Plugin.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/Panel.xaml.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: rhino

feat(civil3d): receive TIN meshes as surfaces (#1686)
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/Converter.AutocadCivil.Utils.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.cs
  Objects/Objects/BuiltElements/Featureline.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Csi/reynold/material fixes (#1680)
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Materials/ConvertMaterials.cs
  Objects/Objects/Structural/ApplicationSpecific/ETABS/Materials/CSIConcrete.cs
  Objects/Objects/Structural/ApplicationSpecific/ETABS/Materials/CSIRebar.cs
  Objects/Objects/Structural/ApplicationSpecific/ETABS/Materials/CSISteel.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(rhino): mac preprocessor statements
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/ConnectorRhinoCommand.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/Plugin.cs
Due: rhino

fix(rhino,gh): sql issues in gh and rhino mac
  ConnectorGrasshopper/ConnectorGrasshopperUtils/ConnectorGrasshopperUtils.csproj
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/ConnectorRhinoCommand.cs
  ConnectorRhino/ConnectorRhino7/ConnectorRhino7.csproj
Due: rhino, grasshopper

feat(rhino): Added try/catch and print to Rhino instead of swallowing error
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/ConnectorRhinoCommand.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/Plugin.cs
Due: rhino

fix(rh): Mac config no longer builds Rhino6 as we don't deploy it.
  ConnectorRhino/ConnectorRhino.sln
Due: rhino

fix(rh): prevent DUI from loading when a file is opened that contained speckle streams
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/Plugin.cs
Due: rhino

fix(rh): Sorts out mac stuff into it's configurations
  ConnectorRhino/ConnectorRhino6/ConnectorRhino6.csproj
  ConnectorRhino/ConnectorRhino7/ConnectorRhino7.csproj
Due: rhino

fix(rh/gh): Fixes build step to include SQLite dylib dependencies (#1696)
  ConnectorGrasshopper/ConnectorGrasshopperUtils/ConnectorGrasshopperUtils.csproj
  ConnectorRhino/ConnectorRhino.sln
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/ConnectorRhinoCommand.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/Plugin.cs
  ConnectorRhino/ConnectorRhino6/ConnectorRhino6.csproj
  ConnectorRhino/ConnectorRhino7/ConnectorRhino7.csproj
Due: rhino, grasshopper

Cache revit phases for faster receiving
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Fix(Revit): Multiple fixes for analytical members in Revit 23 (#1690)
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Geometry/ConvertFrame.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAnalyticalStick.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAnalyticalSurface.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFloor.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(gh): sqlite issues
  ConnectorGrasshopper/ConnectorGrasshopper/SchemaBuilder/SchemaBuilderGen.cs
  ConnectorRhino/ConnectorRhino6/ConnectorRhino6.csproj
  ConnectorRhino/ConnectorRhino7/ConnectorRhino7.csproj
Due: rhino, grasshopper
