Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.3.1
  python: circleci/python@2.0.3

jobs:
  setup:
    executor: python/default
    steps:
      - checkout # checkout code
      - path-filtering/set-parameters:
          mapping: |
            Core/.* run_core true
            (Core|Objects|ConnectorRhino|.*/ConverterRhinoGh)/.* rhino true
            (Core|Objects|ConnectorGrasshopper|.*/ConverterRhinoGh)/.* grasshopper true
            (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.* revit true
            (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.* dynamo true
            (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.* autocadcivil true
            (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.* csi true
            (Core|Objects|ConnectorMicroStation|.*/ConverterMicroStation)/.* microstation true
            (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.* teklastructures true
            (Core|Objects|ConnectorArchicad)/.* archicad true
          base-revision: main
          output-path: .circleci/scripts/parameters.json
      - run:
          name: LS scripts folders
          command: ls .circleci/scripts
      - run: cat .circleci/scripts/parameters.json
      - run: pip install pyyaml
      - run: # run a command
          name: Generate config
          command: |
            python .circleci/scripts/config-generator.py
      - continuation/continue:
          configuration_path: .circleci/continuation-config.yml # use newly generated config to continue

workflows:
  setup:
    jobs:
      - setup

fix(dyn): Converter not found due to missmatch in app name
  ConnectorDynamo/ConnectorDynamoFunctions/Utils.cs
Due: dynamo

Fix(dyn): Fixes the Converter loading issues with Dynamo (#1740)
  ConnectorDynamo/ConnectorDynamo/ReceiveNode/Receive.cs
  ConnectorDynamo/ConnectorDynamoFunctions/Utils.cs
Due: dynamo

fix(autocadcivil): get from id collection should check for `CanRead` prop (#1736)
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/Converter.AutocadCivil.Utils.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(dyn): Hide System.EventArgs from showing
  ConnectorDynamo/ConnectorDynamoFunctions/BatchConverter.cs
  ConnectorDynamo/ConnectorDynamoFunctions/ConnectorDynamoFunctions.csproj
  ConnectorDynamo/ConnectorDynamoFunctions/OnErrorEventArgs.cs
Due: dynamo

fix(dyn): Handle deserialisation errors better
  ConnectorDynamo/ConnectorDynamo/ReceiveNode/Receive.cs
  ConnectorDynamo/ConnectorDynamoFunctions/Functions.cs
Due: dynamo

(fix) - sending/receiving fix for etabs
  ConnectorCSI/ConnectorETABS/ConnectorETABS.csproj
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Materials/ConvertMaterials.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

reorders update to look for appid match before guid
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
Due: rhino

Fix(Revit): Don't remove context object unless it converts successfully (#1726)
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Fix(Revit): invalid characters causing object conversion failure (#1717)
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertBlock.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(ETABS): Sending/receiving fix (#1742)
  ConnectorCSI/ConnectorETABS/ConnectorETABS.csproj
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Materials/ConvertMaterials.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(rhino): update receive mode checks for user string before guid match (#1743)
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
Due: rhino

Dynamo: Handle deserialisation errors on Receive (#1745)
  ConnectorDynamo/ConnectorDynamo/ReceiveNode/Receive.cs
  ConnectorDynamo/ConnectorDynamoFunctions/BatchConverter.cs
  ConnectorDynamo/ConnectorDynamoFunctions/ConnectorDynamoFunctions.csproj
  ConnectorDynamo/ConnectorDynamoFunctions/Functions.cs
  ConnectorDynamo/ConnectorDynamoFunctions/OnErrorEventArgs.cs
Due: dynamo

test - config tsep
  .circleci/scripts/config-template.yml
Due: none

Update ManifestGenerator.xml
  ConnectorTeklaStructures/ConnectorTeklaStructures2021/ManifestGenerator.xml
Due: teklastructures

building artificats for TSEP
  .circleci/scripts/config-template.yml
Due: none

feat(dui): adds info to send & receive events
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: none

Squash
  .circleci/config.yml
  .circleci/old-config.yml
  .circleci/scripts/config-template.yml
  .circleci/scripts/connector-jobs.yml
  .circleci/scripts/parameters.json
  ConnectorArchicad/.vscode/tasks.json
  ConnectorArchicad/AddOn/CMakeLists.txt
  ConnectorArchicad/AddOn/Sources/AddOn/AddOnMain.cpp
  ConnectorArchicad/ConnectorArchicad/ConnectorArchicad.csproj
  ConnectorArchicad/ConnectorArchicad/ConnectorBinding.cs
  ConnectorArchicad/ConnectorArchicad/Program.cs
  ConnectorArchicad/ConnectorArchicad/Properties/AssemblyInfo.cs
  ConnectorArchicad/README.md
Due: archicad

Some reverts
  .circleci/scripts/parameters.json
  ConnectorArchicad/AddOn/Sources/AddOn/AddOnMain.cpp
  ConnectorArchicad/ConnectorArchicad/ConnectorBinding.cs
  ConnectorArchicad/ConnectorArchicad/Program.cs
Due: archicad

Escape
  .circleci/scripts/config-template.yml
Due: none

Revert
  .circleci/config.yml
Due: none

fix
  .circleci/scripts/config-template.yml
Due: none

wip(dui): finessing
  DesktopUI2/DesktopUI2/ViewModels/MainViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/OneClickViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/ProgressViewModel.cs
  DesktopUI2/DesktopUI2/Views/Pages/OneClickView.xaml
Due: none

Refact
  .circleci/scripts/config-template.yml
Due: none

Variable scope
  .circleci/scripts/config-template.yml
Due: none

fix(dui): urlencode branch url
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: none

feat(dui): adds logging to mappings
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Mappings.cs
  DesktopUI2/DesktopUI2/ViewModels/MappingViewModel.cs
Due: revit

fix(dui): wrong escape function
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: none

feat(dui): some additional logging
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/SettingsPageViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: none

Dui/analytics (#1755)
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Mappings.cs
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/MappingViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/SettingsPageViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: revit

removes invalid layer name characters
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Utils.cs
Due: rhino

fix(rhino): handles invalid chars in layer name (#1756)
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Utils.cs
Due: rhino

fix(tekla): Regenerated Tekla's `ManifestGenerator.xml` and re-added C tsep build step (#1748)
  .circleci/scripts/config-template.yml
  ConnectorTeklaStructures/ConnectorTeklaStructures2021/ManifestGenerator.xml
Due: teklastructures

Revit/mep networks (#1760)
  .gitignore
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Send.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevitShared.projitems
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertConduit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertNetwork.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertPipe.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Revit/ConnectionPair.cs
  Objects/Objects/BuiltElements/Conduit.cs
  Objects/Objects/BuiltElements/Revit/FamilyInstance.cs
  Objects/Objects/Organization/NetworkElement.cs
  Objects/Objects/Organization/NetworkLink.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Update FamilyInstance.cs
  Objects/Objects/BuiltElements/Revit/FamilyInstance.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Update NetworkElement.cs
  Objects/Objects/Organization/NetworkElement.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(revit): Fixed issue occurs when receiving object with an application id that is not currently loaded
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(revit): Fixed issue occurs when receiving object with an applicat… (#1761)
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

(fix)- Tekla Saved Streams
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.cs
  ConnectorTeklaStructures/ConnectorTeklaStructures2020/MainForm.cs
  ConnectorTeklaStructures/ConnectorTeklaStructures2021/MainForm.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/StreamStateManager/StreamStateManager.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/UI/ConnectorBindingsTeklaStructure.Settings.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/UI/ConnectorBindingsTeklaStructures.cs
Due: csi, teklastructures

Fix(Revit): add backup calc if structuralMatType of family is undefined
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAnalyticalStick.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad
