Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.3.1
  python: circleci/python@2.0.3

jobs:
  setup:
    executor: python/default
    steps:
      - checkout # checkout code
      - when:
          condition:
            and:
              - not:
                  equal: [main, << pipeline.git.branch >>]
              - not:
                  matches:
                    pattern: ".*/?ci/.*"
                    value: << pipeline.git.branch >>
              - not:
                  matches:
                    pattern: ".*/all$"
                    value: << pipeline.git.tag >>
          steps:
            - run: git branch internal_circleci
            - path-filtering/set-parameters:
                mapping: |
                  Core/.* core true
                  (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.* rhino true
                  (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.* revit true
                  (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.* dynamo true
                  (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.* autocadcivil true
                  (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.* csi true
                  (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.* bentley true
                  (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.* teklastructures true
                  (Core|Objects|ConnectorArchicad)/.* archicad true
                  (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.* navisworks true
                base-revision: main
                output-path: .circleci/scripts/parameters.json
      - run: cat .circleci/scripts/parameters.json
      - run: pip install pyyaml
      - run: # run a command
          name: Generate config
          command: |
            python .circleci/scripts/config-generator.py -d ${CIRCLE_TAG:-none} -o .circleci/continuation-config.yml -e ${CIRCLE_PR_REPONAME:-none}
      - continuation/continue:
          configuration_path: .circleci/continuation-config.yml # use newly generated config to continue
workflows:
  setup:
    jobs:
      - setup:
          name: Build Setup
      - setup:
          name: Deploy Setup
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^(nugets\/)?([0-9]+)\.([0-9]+)\.([0-9]+)(?:-\w+)?(\/all)?$/

remove out of scope function
  Core/Core/Credentials/AccountManager.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

add upgrade account method
  Core/Core/Credentials/AccountManager.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(dui3): various fixes - pretty much nothing was working previously
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/BasicConnectorBindingRevit.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/Factory.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/Filters.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/ReceiveBinding.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/SelectionBinding.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/SendBinding.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/RevitDUI3Shared.projitems
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Utils/Elements.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Utils/PortedOverStuff.cs
Due: revit

feat(dui3): simplifies selection logic
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/SelectionBinding.cs
Due: revit

addressed comments
  Core/Core/Api/GraphQL/Models.cs
  Core/Core/Credentials/AccountManager.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

more addressed comments
  Core/Core/Credentials/AccountManager.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

adds runtime identifier to rhino 8 connector
  ConnectorRhino/ConnectorRhino8/ConnectorRhino8.csproj
Due: rhino

TypeLoadException was blowing up the deserializing of the SenderModelCard
  CNX-8892/Connectors/Revit/Speckle.Connectors.RevitShared/Bindings/BasicConnectorBindingRevit.cs
  CNX-8892/Connectors/Revit/Speckle.Connectors.RevitShared/Bindings/ReceiveBinding.cs
  CNX-8892/Connectors/Revit/Speckle.Connectors.RevitShared/Bindings/RevitBaseBinding.cs
  CNX-8892/Connectors/Revit/Speckle.Connectors.RevitShared/Bindings/SelectionBinding.cs
  CNX-8892/Connectors/Revit/Speckle.Connectors.RevitShared/Bindings/SendBinding.cs
  CNX-8892/Connectors/Revit/Speckle.Connectors.RevitShared/DependencyInjection/AutofacUIModule.cs
  CNX-8892/Connectors/Revit/Speckle.Connectors.RevitShared/Plugin/RevitIdleManager.cs
  CNX-8892/Connectors/Revit/Speckle.Connectors.RevitShared/Plugin/RevitPlugin.cs
  CNX-8892/DUI3/Speckle.Connectors.DUI/Bindings/ISendBinding.cs
  CNX-8892/DUI3/Speckle.Connectors.DUI/Bindings/ISendBindingUICommands.cs
  CNX-8892/DUI3/Speckle.Connectors.DUI/Bindings/SendBindingUICommands.cs
  CNX-8892/DUI3/Speckle.Connectors.DUI/Bridge/BrowserBridge.cs
  CNX-8892/DUI3/Speckle.Connectors.DUI/Bridge/BrowserSender.cs
  CNX-8892/DUI3/Speckle.Connectors.DUI/Bridge/IBridge.cs
  CNX-8892/DUI3/Speckle.Connectors.DUI/Bridge/IBrowserSender.cs
  CNX-8892/DUI3/Speckle.Connectors.DUI/Utils/DiscriminatedObjectConverter.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/SendBinding.cs
Due: revit

Interim fix of DiscriminatedObjectConverter
  CNX-8892/Connectors/Revit/Speckle.Connectors.RevitShared/DependencyInjection/AutofacUIModule.cs
  CNX-8892/DUI3/Speckle.Connectors.DUI/Utils/DiscriminatedObject.cs
  CNX-8892/DUI3/Speckle.Connectors.DUI/Utils/DiscriminatedObjectConverter.cs
Due: none

fix(rhino8): adds runtime identifier to rhino 8 connector (#3202)
  ConnectorRhino/ConnectorRhino8/ConnectorRhino8.csproj
Due: rhino

remove deprecated method and fix string comparison
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.ObsoleteOperations.cs
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.ServerOperations.cs
  Core/Core/Api/GraphQL/GraphQLHttpClientExtensions.cs
  Core/Core/Credentials/AccountManager.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

remove unused import
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.ObsoleteOperations.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

only capture first 3 numbers in server version
  Core/Core/Api/GraphQL/GraphQLHttpClientExtensions.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

remove unused import
  Core/Core/Api/GraphQL/GraphQLHttpClientExtensions.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

CNX-9043 update server info return type and queries to include new migration property (#3201)
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.ObsoleteOperations.cs
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.ServerOperations.cs
  Core/Core/Api/GraphQL/GraphQLHttpClientExtensions.cs
  Core/Core/Api/GraphQL/Models.cs
  Core/Core/Credentials/AccountManager.cs
  Core/Core/Helpers/Http.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

add default values
  ConnectorRevit/ConnectorRevit/ConnectorRevit.projitems
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Send.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.cs
  ConnectorRevit/RevitSharedResources/Models/ConvertedObjectsCache.cs
  ConnectorRevit/RevitSharedResources/Models/RevitDocumentAggregateCache.cs
  ConnectorRevit/RevitSharedResources/Models/RevitObjectCache.cs
  ConnectorRevit/RevitSharedResources/Models/UIDocumentProvider.cs
  ConnectorRevit/RevitSharedResources/RevitSharedResources.projitems
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

re-inject caches
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Send.cs
Due: revit

remove unused import
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.cs
Due: revit

Statics clean-up
  All.sln
  CNX-8892/Connectors/Revit/Speckle.Connectors.RevitShared/Bindings/SelectionBinding.cs
  CNX-8892/Connectors/Revit/Speckle.Connectors.RevitShared/HostApp/Elements.cs
  CNX-8892/Connectors/Revit/Speckle.Connectors.RevitShared/HostApp/RevitDocumentStore.cs
  CNX-8892/Connectors/Revit/Speckle.Connectors.RevitShared/Plugin/RevitExternalApplication.cs
  CNX-8892/DUI3/Speckle.Connectors.DUI/Bindings/IBasicConnectorBinding.cs
  CNX-8892/DUI3/Speckle.Connectors.DUI/Bindings/IReceiveBinding.cs
  CNX-8892/DUI3/Speckle.Connectors.DUI/Bindings/ISelectionBinding.cs
  CNX-8892/DUI3/Speckle.Connectors.DUI/Bindings/SendBindingUICommands.cs
  CNX-8892/DUI3/Speckle.Connectors.DUI/Utils/DiscriminatedObjectConverter.cs
Due: none

Binding re-instate
  CNX-8892/Connectors/Revit/Speckle.Connectors.RevitShared/Bindings/BasicConnectorBindingRevit.cs
Due: none

Library Additions
  All.sln
  CNX-8892/Connectors/Revit/Speckle.Connectors.RevitShared/Bindings/BasicConnectorBindingRevit.cs
  CNX-8892/Converters/Revit/Speckle.Converters.Revit2023/Speckle.Converters.Revit2023.csproj
  CNX-8892/Converters/Revit/Speckle.Converters.RevitShared/Speckle.Converters.RevitShared.projitems
  CNX-8892/Converters/Revit/Speckle.Converters.RevitShared/Speckle.Converters.RevitShared.shproj
  CNX-8892/Converters/Speckle.Converters.Common/Speckle.Converters.Common.csproj
  CNX-8892/Objects/Speckle.Objects.Common/BuiltElements/Floor.cs
  CNX-8892/Objects/Speckle.Objects.Common/BuiltElements/Level.cs
  CNX-8892/Objects/Speckle.Objects.Common/Common/EncodingOptimisations.cs
  CNX-8892/Objects/Speckle.Objects.Common/Common/IDisplayValue.cs
  CNX-8892/Objects/Speckle.Objects.Common/Geometry/Arc.cs
  CNX-8892/Objects/Speckle.Objects.Common/Geometry/Box.cs
  CNX-8892/Objects/Speckle.Objects.Common/Geometry/Circle.cs
  CNX-8892/Objects/Speckle.Objects.Common/Geometry/Curve.cs
  CNX-8892/Objects/Speckle.Objects.Common/Geometry/Ellipse.cs
  CNX-8892/Objects/Speckle.Objects.Common/Geometry/Interfaces.cs
  CNX-8892/Objects/Speckle.Objects.Common/Geometry/Line.cs
  CNX-8892/Objects/Speckle.Objects.Common/Geometry/Mesh.cs
  CNX-8892/Objects/Speckle.Objects.Common/Geometry/Plane.cs
  CNX-8892/Objects/Speckle.Objects.Common/Geometry/Point.cs
  CNX-8892/Objects/Speckle.Objects.Common/Geometry/Polycurve.cs
  CNX-8892/Objects/Speckle.Objects.Common/Geometry/Polyline.cs
  CNX-8892/Objects/Speckle.Objects.Common/Geometry/Vector.cs
  CNX-8892/Objects/Speckle.Objects.Common/Primitives/Interval.cs
  CNX-8892/Objects/Speckle.Objects.Common/Primitives/Interval2d.cs
  CNX-8892/Objects/Speckle.Objects.Common/Speckle.Objects.Common.csproj
  CNX-8892/Objects/Speckle.Objects.Common/ThreeD/Transform.cs
  CNX-8892/Objects/Speckle.Objects.Revit/Speckle.Objects.Revit.csproj
  DUI3-CNX-8893.slnf
Due: none

Minor changes...
  CNX-8892/Objects/Speckle.Objects.Common/Geometry/Arc.cs
  CNX-8892/Objects/Speckle.Objects.Common/Geometry/Curve.cs
  CNX-8892/Objects/Speckle.Objects.Common/Geometry/Interfaces.cs
  CNX-8892/Objects/Speckle.Objects.Common/Geometry/Line.cs
  CNX-8892/Objects/Speckle.Objects.Common/Geometry/Mesh.cs
  CNX-8892/Objects/Speckle.Objects.Common/Geometry/Plane.cs
  CNX-8892/Objects/Speckle.Objects.Common/Geometry/Point.cs
  CNX-8892/Objects/Speckle.Objects.Common/Geometry/Polycurve.cs
  CNX-8892/Objects/Speckle.Objects.Common/Geometry/Polyline.cs
  CNX-8892/Objects/Speckle.Objects.Common/Geometry/Vector.cs
  CNX-8892/Objects/Speckle.Objects.Common/Utils/Transform.cs
Due: none

API tests
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.ObsoleteOperations.cs
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.ServerOperations.cs
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.StreamOperations.cs
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.UserOperations.cs
  Core/Core/Api/GraphQL/Client.cs
  Core/Core/Api/GraphQL/ISpeckleGraphQLClient.cs
  Core/Core/Api/GraphQL/Inputs/ProjectInputs.cs
  Core/Core/Api/GraphQL/LegacyGraphQLModels.cs
  Core/Core/Api/GraphQL/Models/Activity.cs
  Core/Core/Api/GraphQL/Models/Collections.cs
  Core/Core/Api/GraphQL/Models/Comment.cs
  Core/Core/Api/GraphQL/Models/FileUpload.cs
  Core/Core/Api/GraphQL/Models/Model.cs
  Core/Core/Api/GraphQL/Models/ModelsTreeItem.cs
  Core/Core/Api/GraphQL/Models/Project.cs
  Core/Core/Api/GraphQL/Models/ProjectCollaborator.cs
  Core/Core/Api/GraphQL/Models/Responses.cs
  Core/Core/Api/GraphQL/Models/User.cs
  Core/Core/Api/GraphQL/Models/Version.cs
  Core/Core/Api/GraphQL/Models/ViewerResourceGroup.cs
  Core/Core/Api/GraphQL/Models/ViewerResourceItem.cs
  Core/Core/Api/GraphQL/Resources/ActiveUserResource.cs
  Core/Core/Api/GraphQL/Resources/ModelResource.cs
  Core/Core/Api/GraphQL/Resources/OtherUserResource.cs
  Core/Core/Api/GraphQL/Resources/ProjectInviteResource.cs
  Core/Core/Api/GraphQL/Resources/ProjectResource.cs
  Core/Core/Api/GraphQL/Resources/VersionResource.cs
  Core/Core/Credentials/AccountManager.cs
  Core/Core/Credentials/Responses.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/ActiveUserResourceTests.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/OtherUserResourceTests.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/ProjectInviteResourceTests.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/ProjectResourceExceptionalTests.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/ProjectResourceTests.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/ResourcesTests.cs
  Core/Tests/Speckle.Core.Tests.Integration/Fixtures.cs
  DesktopUI2/DesktopUI2/Utils.cs
  DesktopUI2/DesktopUI2/ViewModels/AccountViewModel.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

DI Converter Shape
  CNX-8892/Connectors/Revit/Speckle.Connectors.Revit2023/Speckle.Connectors.Revit2023.csproj
  CNX-8892/Connectors/Revit/Speckle.Connectors.RevitShared/Bindings/SendBinding.cs
  CNX-8892/Converters/Revit/Speckle.Converters.Revit2023/Speckle.Converters.Revit2023.csproj
  CNX-8892/Converters/Revit/Speckle.Converters.RevitShared/DependencyInjection/AutofacRevitConverterModule.cs
  CNX-8892/Converters/Revit/Speckle.Converters.RevitShared/FromRevitConverter.cs
  CNX-8892/Converters/Revit/Speckle.Converters.RevitShared/Speckle.Converters.RevitShared.projitems
  CNX-8892/Converters/Speckle.Converters.Common/IFromHostConveter.cs
  CNX-8892/Converters/Speckle.Converters.Common/IHostToSpeckleConverter.cs
  CNX-8892/Converters/Speckle.Converters.Common/ReceiveMode.cs
  CNX-8892/Converters/Speckle.Converters.Common/Speckle.Converters.Common.csproj
  CNX-8892/Speckle.Autofac/DependencyInjection/IScopedFactory.cs
  CNX-8892/Speckle.Autofac/DependencyInjection/ScopedFactory.cs
  CNX-8892/Speckle.Autofac/GlobalSuppressions.cs
  CNX-8892/Speckle.Connectors.Utils/Speckle.Connectors.Utils.csproj
  CNX-8892/Speckle.Connectors.Utils/SpeckleTopLevelExceptionHandler.cs
  DUI3-CNX-8893.slnf
Due: none

Disposing & Factories
  All.sln
  CNX-8892/Connectors/Revit/Speckle.Connectors.RevitShared/Bindings/RevitBaseBinding.cs
  CNX-8892/Connectors/Revit/Speckle.Connectors.RevitShared/Bindings/SendBinding.cs
  CNX-8892/Converters/Revit/Speckle.Converters.Revit2023.DependencyInjection/AutofacRevitConverterModule.cs
  CNX-8892/Converters/Revit/Speckle.Converters.Revit2023.DependencyInjection/Speckle.Converters.Revit2023.DependencyInjection.csproj
  CNX-8892/Converters/Revit/Speckle.Converters.Revit2023/Speckle.Converters.Revit2023.csproj
  CNX-8892/Converters/Revit/Speckle.Converters.RevitShared/FromRevitConverter.cs
  CNX-8892/Converters/Revit/Speckle.Converters.RevitShared/Objects/FloorConversion.cs
  CNX-8892/Converters/Revit/Speckle.Converters.RevitShared/RevitConverterToSpeckle.cs
  CNX-8892/Converters/Revit/Speckle.Converters.RevitShared/Speckle.Converters.RevitShared.projitems
  CNX-8892/Converters/Speckle.Converters.Common/ISpeckleConverterToHost.cs
  CNX-8892/Converters/Speckle.Converters.Common/ISpeckleConverterToSpeckle.cs
  CNX-8892/Converters/Speckle.Converters.Common/Objects/FloorConversion.cs
  CNX-8892/Converters/Speckle.Converters.Common/Objects/IHostObjectToSpeckleConversion.cs
  CNX-8892/Converters/Speckle.Converters.Common/Objects/ISpeckleObjectToHostConversion.cs
  CNX-8892/Converters/Speckle.Converters.Common/Speckle.Converters.Common.csproj
  CNX-8892/Speckle.Autofac/DependencyInjection/Factory.cs
  CNX-8892/Speckle.Autofac/DependencyInjection/IFactory.cs
  CNX-8892/Speckle.Autofac/DependencyInjection/IScopedFactory.cs
  CNX-8892/Speckle.Autofac/DependencyInjection/ScopedFactory.cs
  DUI3-CNX-8893.slnf
Due: none

make comment slightly more helpful
  Core/Core/Credentials/AccountManager.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(dui3): structures data from revit
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/SelectionBinding.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/SendBinding.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Entry.cs
Due: revit

test: SSL.com signing setup
  .circleci/scripts/config-template.yml
  .circleci/scripts/connector-jobs.yml
Due: none

test: add context to rhino job
  .circleci/scripts/connector-jobs.yml
Due: none

TEST: remove lines referencing missing exe
  .circleci/scripts/config-template.yml
Due: none

deletes existing objects in a subtransaction
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
Due: revit

Logging woes + DI Problems with lifetimes
  CNX-8892/Connectors/Revit/Speckle.Connectors.Revit2023/Speckle.Connectors.Revit2023.csproj
  CNX-8892/Connectors/Revit/Speckle.Connectors.RevitShared/DependencyInjection/AutofacUIModule.cs
  CNX-8892/Connectors/Revit/Speckle.Connectors.RevitShared/Plugin/RevitExternalApplication.cs
  CNX-8892/Converters/Revit/Speckle.Converters.Revit2023.DependencyInjection/AutofacRevitConverterModule.cs
  CNX-8892/Converters/Revit/Speckle.Converters.RevitShared/Objects/FloorConversion.cs
  CNX-8892/Converters/Revit/Speckle.Converters.RevitShared/RevitConverterToSpeckle.cs
  CNX-8892/Converters/Revit/Speckle.Converters.RevitShared/Speckle.Converters.RevitShared.projitems
  CNX-8892/Converters/Revit/Speckle.Converters.RevitShared/ToSpeckle/FloorConversionToSpeckle.cs
  CNX-8892/DUI3/Speckle.Connectors.DUI/Bridge/BrowserBridge.cs
  CNX-8892/DUI3/Speckle.Connectors.DUI/GlobalSuppressions.cs
  CNX-8892/DUI3/Speckle.Connectors.DUI/Speckle.Connectors.DUI.csproj
  CNX-8892/Speckle.Autofac/DependencyInjection/AutofacContainer.cs
  CNX-8892/Speckle.Autofac/DependencyInjection/ScopedFactory.cs
  CNX-8892/Speckle.Autofac/Speckle.Autofac.csproj
Due: none

Type discovery
  All.sln
  CNX-8892/Connectors/Revit/Speckle.Connectors.Revit2023/Speckle.Connectors.Revit2023.csproj
  CNX-8892/Connectors/Revit/Speckle.Connectors.RevitShared/Bindings/SendBinding.cs
  CNX-8892/Connectors/Revit/Speckle.Connectors.RevitShared/DependencyInjection/AutofacUIModule.cs
  CNX-8892/Connectors/Revit/Speckle.Connectors.RevitShared/Plugin/RevitExternalApplication.cs
  CNX-8892/Connectors/Revit/Speckle.Connectors.RevitShared/Plugin/RevitSettings.cs
  CNX-8892/Converters/Revit/Speckle.Converters.Revit2023.DependencyInjection/AutofacRevitConverterModule.cs
  CNX-8892/Converters/Revit/Speckle.Converters.Revit2023.DependencyInjection/Speckle.Converters.Revit2023.DependencyInjection.csproj
  CNX-8892/Converters/Revit/Speckle.Converters.Revit2023/Speckle.Converters.Revit2023.csproj
  CNX-8892/Converters/Revit/Speckle.Converters.RevitShared/RevitConverterToSpeckle.cs
  CNX-8892/Converters/Revit/Speckle.Converters.RevitShared/ToSpeckle/FloorConversionToSpeckle.cs
  CNX-8892/Converters/Speckle.Converters.Common/Speckle.Converters.Common.csproj
  CNX-8892/Speckle.Autofac/DependencyInjection/AutofacContainer.cs
  CNX-8892/Speckle.Autofac/DependencyInjection/Factory.cs
  CNX-8892/Speckle.Autofac/DependencyInjection/IFactory.cs
  CNX-8892/Speckle.Autofac/DependencyInjection/NameAndRankValueAttribute.cs
  CNX-8892/Speckle.Autofac/DependencyInjection/NamedTypeInjector.cs
  CNX-8892/Speckle.Autofac/Speckle.Autofac.csproj
Due: none

fix(gh): Mixpanel misreported metrics
  ConnectorGrasshopper/ConnectorGrasshopperShared/BaseComponents/ComponentTracker.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Loader.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/Plugin.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.Previews.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.Receive.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Utils.cs
  Core/Core/Logging/Analytics.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(gh): Pending refactor usages
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.Selection.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.Send.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
Due: rhino

Dynamo analytics utils with hostapp override
  ConnectorDynamo/ConnectorDynamo/AccountsNode/Accounts.cs
  ConnectorDynamo/ConnectorDynamo/CreateStreamNode/CreateStream.cs
  ConnectorDynamo/ConnectorDynamo/ViewNode/View.cs
  ConnectorDynamo/ConnectorDynamoFunctions/Account.cs
  ConnectorDynamo/ConnectorDynamoFunctions/AnalyticsUtils.cs
  ConnectorDynamo/ConnectorDynamoFunctions/Developer/Conversion.cs
  ConnectorDynamo/ConnectorDynamoFunctions/Developer/Local.cs
  ConnectorDynamo/ConnectorDynamoFunctions/Developer/Serialization.cs
  ConnectorDynamo/ConnectorDynamoFunctions/Developer/Transport.cs
  ConnectorDynamo/ConnectorDynamoFunctions/Functions.cs
  ConnectorDynamo/ConnectorDynamoFunctions/Stream.cs
Due: dynamo

non nullable custom properties
  ConnectorDynamo/ConnectorDynamoFunctions/AnalyticsUtils.cs
  ConnectorDynamo/ConnectorDynamoFunctions/Functions.cs
Due: dynamo

unused using directives
  ConnectorDynamo/ConnectorDynamo/AccountsNode/Accounts.cs
  ConnectorDynamo/ConnectorDynamo/CreateStreamNode/CreateStream.cs
  ConnectorDynamo/ConnectorDynamo/ViewNode/View.cs
  ConnectorDynamo/ConnectorDynamoFunctions/Account.cs
  ConnectorDynamo/ConnectorDynamoFunctions/Developer/Conversion.cs
  ConnectorDynamo/ConnectorDynamoFunctions/Developer/Local.cs
  ConnectorDynamo/ConnectorDynamoFunctions/Developer/Serialization.cs
  ConnectorDynamo/ConnectorDynamoFunctions/Developer/Transport.cs
Due: dynamo

get classes list
  .vscode/launch.json
  class_crawler.py
Due: none

uses old FaceWallToNative method for 2021&2022
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertFaceWall.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks
