Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

refactor(repo): Added recommended VSCode settings for OmniSharp
  .vscode/settings.json
Due: none

refactor(repo): Consolidate .editorconfig files
  .editorconfig
  ConnectorArchicad/ConnectorArchicad/.editorconfig
  ConnectorAutocadCivil/ConnectorAutocadCivil/.editorconfig
  ConnectorGrasshopper/.editorconfig
  ConnectorRevit/.editorconfig
  ConnectorRhino/.editorconfig
  Core/.editorconfig
  Objects/.editorconfig
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/.editorconfig
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

refactor(repo): Created global *.props and *.targets files
  Directory.Build.props
  Directory.Build.targets
Due: none

refactor(core/objects/dui): Cleaned up projects
  Core/Core/Core.csproj
  Core/Transports/DiskTransport/DiskTransport.csproj
  Core/Transports/MongoDBTransport/MongoDBTransport.csproj
  DesktopUI2/DesktopUI2.WPF/DesktopUI2.WPF.csproj
  DesktopUI2/DesktopUI2/DesktopUI2.csproj
  Objects/Objects/Objects.csproj
  Objects/Tests/Tests.csproj
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

refactor(converters): Cleaned up converter projects
  Objects/Converters/ConverterAutocadCivil/ConverterAutocad2021/ConverterAutocad2021.csproj
  Objects/Converters/ConverterAutocadCivil/ConverterAutocad2022/ConverterAutocad2022.csproj
  Objects/Converters/ConverterAutocadCivil/ConverterAutocad2023/ConverterAutocad2023.csproj
  Objects/Converters/ConverterAutocadCivil/ConverterCivil2021/ConverterCivil2021.csproj
  Objects/Converters/ConverterAutocadCivil/ConverterCivil2022/ConverterCivil2022.csproj
  Objects/Converters/ConverterAutocadCivil/ConverterCivil2023/ConverterCivil2023.csproj
  Objects/Converters/ConverterBentley/ConverterMicroStation/ConverterMicroStation.csproj
  Objects/Converters/ConverterBentley/ConverterOpenBuildings/ConverterOpenBuildings.csproj
  Objects/Converters/ConverterBentley/ConverterOpenRail/ConverterOpenRail.csproj
  Objects/Converters/ConverterBentley/ConverterOpenRoads/ConverterOpenRoads.csproj
  Objects/Converters/ConverterCSI/ConverterCSIBridge/ConverterCSIBridge.csproj
  Objects/Converters/ConverterCSI/ConverterETABS/ConverterETABS.csproj
  Objects/Converters/ConverterCSI/ConverterSAFE/ConverterSAFE.csproj
  Objects/Converters/ConverterCSI/ConverterSAP2000/ConverterSAP2000.csproj
  Objects/Converters/ConverterDxf/ConverterDxf/ConverterDxf.csproj
  Objects/Converters/ConverterDynamo/ConverterDynamoRevit/ConverterDynamoRevit.csproj
  Objects/Converters/ConverterDynamo/ConverterDynamoRevit2021/ConverterDynamoRevit2021.csproj
  Objects/Converters/ConverterDynamo/ConverterDynamoRevit2022/ConverterDynamoRevit2022.csproj
  Objects/Converters/ConverterDynamo/ConverterDynamoRevit2023/ConverterDynamoRevit2023.csproj
  Objects/Converters/ConverterDynamo/ConverterDynamoSandbox/ConverterDynamoSandbox.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2020/ConverterNavisworks2020.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2021/ConverterNavisworks2021.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2022/ConverterNavisworks2022.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2023/ConverterNavisworks2023.csproj
  Objects/Converters/ConverterRevit/ConverterRevit2020/ConverterRevit2020.csproj
  Objects/Converters/ConverterRevit/ConverterRevit2021/ConverterRevit2021.csproj
  Objects/Converters/ConverterRevit/ConverterRevit2022/ConverterRevit2022.csproj
  Objects/Converters/ConverterRevit/ConverterRevit2023/ConverterRevit2023.csproj
  Objects/Converters/ConverterRhinoGh/ConverterGrasshopper6/ConverterGrasshopper6.csproj
  Objects/Converters/ConverterRhinoGh/ConverterGrasshopper7/ConverterGrasshopper7.csproj
  Objects/Converters/ConverterRhinoGh/ConverterRhino6/ConverterRhino6.csproj
  Objects/Converters/ConverterRhinoGh/ConverterRhino7/ConverterRhino7.csproj
  Objects/Converters/ConverterRhinoGhTests/ConverterRhinoGhTests.csproj
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructures2020/ConverterTeklaStructures2020.csproj
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructures2021/ConverterTeklaStructures2021.csproj
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructures2022/ConverterTeklaStructures2022.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

need to rethink dataTable... again
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertView.Schedule.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

refactor(acad): Upgraded projects to SDK style
  ConnectorAutocadCivil/ConnectorAutocad2021/ConnectorAutocad2021.csproj
  ConnectorAutocadCivil/ConnectorAutocad2021/Properties/AssemblyInfo.cs
  ConnectorAutocadCivil/ConnectorAutocad2022/ConnectorAutocad2022.csproj
  ConnectorAutocadCivil/ConnectorAutocad2022/Properties/AssemblyInfo.cs
  ConnectorAutocadCivil/ConnectorAutocad2023/ConnectorAutocad2023.csproj
  ConnectorAutocadCivil/ConnectorAutocad2023/Properties/AssemblyInfo.cs
  ConnectorAutocadCivil/ConnectorCivil2021/ConnectorCivil2021.csproj
  ConnectorAutocadCivil/ConnectorCivil2021/Properties/AssemblyInfo.cs
  ConnectorAutocadCivil/ConnectorCivil2022/ConnectorCivil2022.csproj
  ConnectorAutocadCivil/ConnectorCivil2022/Properties/AssemblyInfo.cs
  ConnectorAutocadCivil/ConnectorCivil2023/ConnectorCivil2023.csproj
  ConnectorAutocadCivil/ConnectorCivil2023/Properties/AssemblyInfo.cs
Due: autocadcivil

refactor(csi): Upgraded projects to SDK style
  ConnectorCSI/ConnectorCSIBridge/ConnectorCSIBridge.csproj
  ConnectorCSI/ConnectorCSIBridge/Properties/AssemblyInfo.cs
  ConnectorCSI/ConnectorETABS/ConnectorETABS.csproj
  ConnectorCSI/ConnectorETABS/Properties/AssemblyInfo.cs
  ConnectorCSI/ConnectorSAFE/ConnectorSAFE.csproj
  ConnectorCSI/ConnectorSAFE/Properties/AssemblyInfo.cs
  ConnectorCSI/ConnectorSAP2000/ConnectorSAP2000.csproj
  ConnectorCSI/ConnectorSAP2000/Properties/AssemblyInfo.cs
  ConnectorCSI/DriverCSharp/DriverCSharp.csproj
  ConnectorCSI/DriverCSharp/Properties/AssemblyInfo.cs
  ConnectorCSI/DriverPluginCSharp/DriverPluginCSharp.csproj
  ConnectorCSI/DriverPluginCSharp/Properties/AssemblyInfo.cs
Due: csi

refactor(dynamo): Upgraded projects to SDK style
  ConnectorDynamo/ConnectorDynamo/ConnectorDynamo.csproj
  ConnectorDynamo/ConnectorDynamo/Properties/AssemblyInfo.cs
  ConnectorDynamo/ConnectorDynamoExtension/ConnectorDynamoExtension.csproj
  ConnectorDynamo/ConnectorDynamoExtension/Properties/AssemblyInfo.cs
  ConnectorDynamo/ConnectorDynamoFunctions/ConnectorDynamoFunctions.csproj
  ConnectorDynamo/ConnectorDynamoFunctions/Properties/AssemblyInfo.cs
Due: dynamo

refactor(navis): Upgraded projects to SDK style
  ConnectorNavisworks/ConnectorNavisworks2020/ConnectorNavisworks2020.csproj
  ConnectorNavisworks/ConnectorNavisworks2020/Properties/launchSettings.json
  ConnectorNavisworks/ConnectorNavisworks2021/ConnectorNavisworks2021.csproj
  ConnectorNavisworks/ConnectorNavisworks2022/ConnectorNavisworks2022.csproj
  ConnectorNavisworks/ConnectorNavisworks2023/ConnectorNavisworks2023.csproj
Due: navisworks

refactor(revit): Upgraded projects to SDK style
  ConnectorRevit/ConnectorRevit2020/ConnectorRevit2020.csproj
  ConnectorRevit/ConnectorRevit2020/Properties/AssemblyInfo.cs
  ConnectorRevit/ConnectorRevit2021/ConnectorRevit2021.csproj
  ConnectorRevit/ConnectorRevit2021/Properties/AssemblyInfo.cs
  ConnectorRevit/ConnectorRevit2022/ConnectorRevit2022.csproj
  ConnectorRevit/ConnectorRevit2022/Properties/AssemblyInfo.cs
  ConnectorRevit/ConnectorRevit2023/ConnectorRevit2023.csproj
  ConnectorRevit/ConnectorRevit2023/Properties/AssemblyInfo.cs
Due: revit

refactor(tekla): Upgraded projects to SDK style
  ConnectorTeklaStructures/ConnectorTeklaStructures2020/ConnectorTeklaStructures2020.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructures2020/Properties/AssemblyInfo.cs
  ConnectorTeklaStructures/ConnectorTeklaStructures2021/ConnectorTeklaStructures2021.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructures2021/Properties/AssemblyInfo.cs
  ConnectorTeklaStructures/ConnectorTeklaStructures2022/ConnectorTeklaStructures2022.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructures2022/Properties/AssemblyInfo.cs
  ConnectorTeklaStructures/ConnectorTeklaStructures2023/ConnectorTeklaStructures2023.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructures2023/Properties/AssemblyInfo.cs
Due: teklastructures

refactor(rhino): Updated projects to SDK style
  ConnectorGrasshopper/ConnectorGrasshopper6/ConnectorGrasshopper6.csproj
  ConnectorGrasshopper/ConnectorGrasshopper7/ConnectorGrasshopper7.csproj
  ConnectorGrasshopper/ConnectorGrasshopperUtils/ConnectorGrasshopperUtils.csproj
  ConnectorRhino/ConnectorRhino6/ConnectorRhino6.csproj
  ConnectorRhino/ConnectorRhino7/ConnectorRhino7.csproj
Due: rhino

refactor(bentley): Updated projects to SDK style
  ConnectorBentley/ConnectorMicroStation/ConnectorMicroStation.csproj
  ConnectorBentley/ConnectorMicroStation/Properties/AssemblyInfo.cs
  ConnectorBentley/ConnectorOpenBuildings/ConnectorOpenBuildings.csproj
  ConnectorBentley/ConnectorOpenBuildings/Properties/AssemblyInfo.cs
  ConnectorBentley/ConnectorOpenRail/ConnectorOpenRail.csproj
  ConnectorBentley/ConnectorOpenRail/Properties/AssemblyInfo.cs
  ConnectorBentley/ConnectorOpenRoads/ConnectorOpenRoads.csproj
  ConnectorBentley/ConnectorOpenRoads/Properties/AssemblyInfo.cs
Due: bentley

refactor(steel): Updated projects to SDK style
  ConnectorAutocadCivil/AdvanceSteelAddinRegistrator/AdvanceSteelAddinRegistrator.csproj
  ConnectorAutocadCivil/AdvanceSteelAddinRegistrator/Properties/AssemblyInfo.cs
  ConnectorAutocadCivil/ConnectorAdvanceSteel2023/ConnectorAdvanceSteel2023.csproj
  ConnectorAutocadCivil/ConnectorAdvanceSteel2023/Properties/AssemblyInfo.cs
Due: autocadcivil

refactor(repo): Added DeepClean target to be optionally run after a clean
  Directory.Build.targets
Due: none

refactor(revit): Upgraded Revit Test projects to SDK style
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTests2021/ConverterRevitTests2021.csproj
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTests2021/Properties/AssemblyInfo.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTests2023/ConverterRevitTests2023.csproj
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTests2023/Properties/AssemblyInfo.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

chore: 💅
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Linked models & shared coords improvements (#2368)
  ConnectorRevit/ConnectorRevit.sln
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Linked models & shared coords improvements (#2368) (#2369)
  ConnectorRevit/ConnectorRevit.sln
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Revert "Linked models & shared coords improvements (#2368) (#2369)"
  ConnectorRevit/ConnectorRevit.sln
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Revert "Linked models & shared coords improvements (#2368)" (#2370)
  ConnectorRevit/ConnectorRevit.sln
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Rhino Web UI with ETO WebVeiw2
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/ConnectorRhinoShared.projitems
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/SpeckleWebUICommand.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/WebUI/RhinoWebUIBindings.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/WebUI/WebUIBindings.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/WebUI/WebUIPanel.cs
  ConnectorRhino/ConnectorRhino7/ConnectorRhino7.csproj
Due: rhino

cosmetic
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/WebUI/WebUIPanel.cs
Due: rhino

feat: includes the avaloniahost proj in the Revit slnf
  ConnectorRevit/ConnectorRevit.slnf
Due: revit

url
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/WebUI/WebUIPanel.cs
Due: rhino

correct dispose
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/WebUI/WebUIPanel.cs
Due: rhino

remove objects ref
  ConnectorCSI/ConnectorCSIBridge/ConnectorCSIBridge.csproj
Due: csi

Fix(CSiBridge): remove objs ref (#2372)
  ConnectorCSI/ConnectorCSIBridge/ConnectorCSIBridge.csproj
Due: csi

Add 2024 support
  All.sln
  ConnectorNavisworks/ConnectorNavisworks.sln
  ConnectorNavisworks/ConnectorNavisworks/Entry/PackageContents.xml
  ConnectorNavisworks/ConnectorNavisworks/Entry/Ribbon.xaml.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/Utils.cs
  ConnectorNavisworks/ConnectorNavisworks/Storage/SpeckleStreamManager.cs
  ConnectorNavisworks/ConnectorNavisworks2024/ConnectorNavisworks2024.csproj
  ConnectorNavisworks/ConnectorNavisworks2024/Properties/launchSettings.json
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2024/ConverterNavisworks2024.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Add 2024 to All.sln
  All.sln
Due: none

chore(repo): Remove all duplicated gitignore files
  ConnectorArchicad/.gitignore
  ConnectorDynamo/.gitignore
  ConnectorGrasshopper/.gitignore
  ConnectorRevit/.gitignore
  Core/.gitignore
  Objects/.gitignore
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Unify Connector Projects
  ConnectorNavisworks/ConnectorNavisworks.sln
  ConnectorNavisworks/ConnectorNavisworks2021/ConnectorNavisworks2021.csproj
  ConnectorNavisworks/ConnectorNavisworks2022/ConnectorNavisworks2022.csproj
  ConnectorNavisworks/ConnectorNavisworks2023/ConnectorNavisworks2023.csproj
  ConnectorNavisworks/ConnectorNavisworks2024/ConnectorNavisworks2024.csproj
Due: navisworks

Add 2024 to Solution filter
  ConnectorNavisworks/ConnectorNavisworks.slnf
Due: navisworks

better sending and receiving generic table class
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertView.Schedule.cs
  Objects/Objects/Organization/DataTable.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

seems to work better
  Objects/Objects/Organization/DataTable.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat: button to send stream
  ConnectorRevit/ConnectorRevit.sln
  ConnectorRevit/ConnectorRevit/Entry/App.cs
  ConnectorRevit/ConnectorRevit/Entry/WebUISpeckleRevitCommand.cs
  ConnectorRevit/ConnectorRevit/WebUI/RevitWebUIBindings.cs
  ConnectorRevit/ConnectorRevit/WebUI/WebUIBindings.cs
  ConnectorRevit/ConnectorRevit/WebUI/WebUIPanel.xaml.cs
  Core/Core/Core.csproj
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

chore(repo): Remove all duplicated gitignore files (#2376)
  ConnectorArchicad/.gitignore
  ConnectorDynamo/.gitignore
  ConnectorGrasshopper/.gitignore
  ConnectorRevit/.gitignore
  Core/.gitignore
  Objects/.gitignore
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat: devtools and snackbar
  ConnectorRevit/ConnectorRevit/WebUI/RevitWebUIBindings.cs
  ConnectorRevit/ConnectorRevit/WebUI/WebUIBindings.cs
  ConnectorRevit/ConnectorRevit/WebUI/WebUIPanel.xaml.cs
Due: revit

Adds the UseWpf flag to enable builds on linux/mac
  ConnectorNavisworks/ConnectorNavisworks2020/ConnectorNavisworks2020.csproj
  ConnectorNavisworks/ConnectorNavisworks2021/ConnectorNavisworks2021.csproj
  ConnectorNavisworks/ConnectorNavisworks2022/ConnectorNavisworks2022.csproj
  ConnectorNavisworks/ConnectorNavisworks2023/ConnectorNavisworks2023.csproj
Due: navisworks

Path conditions:
  core: any of: Core/.*
  rhino: any of: (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.*
  revit: any of: (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.*
  dynamo: any of: (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.*
  autocadcivil: any of: (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.*
  csi: any of: (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.*
  bentley: any of: (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.*
  teklastructures: any of: (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.*
  archicad: any of: (Core|Objects|ConnectorArchicad)/.*
  navisworks: any of: (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.*
