Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

chore: moves controls
  DesktopUI2/DesktopUI2/DesktopUI2.csproj
  DesktopUI2/DesktopUI2/Views/Controls/PreviewButton.xaml
  DesktopUI2/DesktopUI2/Views/Controls/PreviewButton.xaml.cs
  DesktopUI2/DesktopUI2/Views/Controls/ReceiveButton.xaml
  DesktopUI2/DesktopUI2/Views/Controls/ReceiveButton.xaml.cs
  DesktopUI2/DesktopUI2/Views/Controls/SendButton.xaml
  DesktopUI2/DesktopUI2/Views/Controls/SendButton.xaml.cs
  DesktopUI2/DesktopUI2/Views/Pages/HomeControls/SavedStreams.xaml
  DesktopUI2/DesktopUI2/Views/Pages/StreamEditControls/Receive.xaml
  DesktopUI2/DesktopUI2/Views/Pages/StreamEditControls/Report.xaml
  DesktopUI2/DesktopUI2/Views/Pages/StreamEditControls/Send.xaml
Due: none

feat(dui): adds scrollbar when stream edit tab item is too small
  DesktopUI2/DesktopUI2/Views/Converters/StreamEditHeightConverter.cs
  DesktopUI2/DesktopUI2/Views/Pages/StreamEditView.xaml
Due: none

feat(dui): adds caption text
  DesktopUI2/DesktopUI2/Views/Pages/StreamEditControls/Receive.xaml
  DesktopUI2/DesktopUI2/Views/Pages/StreamEditControls/Send.xaml
Due: none

feat(dui): undoes some minor changes
  DesktopUI2/DesktopUI2/Views/Controls/PreviewButton.xaml
  DesktopUI2/DesktopUI2/Views/Controls/ReceiveButton.xaml
Due: none

Dui/misc (#1595)
  DesktopUI2/DesktopUI2/DesktopUI2.csproj
  DesktopUI2/DesktopUI2/Views/Controls/PreviewButton.xaml
  DesktopUI2/DesktopUI2/Views/Controls/PreviewButton.xaml.cs
  DesktopUI2/DesktopUI2/Views/Controls/ReceiveButton.xaml
  DesktopUI2/DesktopUI2/Views/Controls/ReceiveButton.xaml.cs
  DesktopUI2/DesktopUI2/Views/Controls/SendButton.xaml
  DesktopUI2/DesktopUI2/Views/Controls/SendButton.xaml.cs
  DesktopUI2/DesktopUI2/Views/Converters/StreamEditHeightConverter.cs
  DesktopUI2/DesktopUI2/Views/Pages/HomeControls/SavedStreams.xaml
  DesktopUI2/DesktopUI2/Views/Pages/StreamEditControls/Receive.xaml
  DesktopUI2/DesktopUI2/Views/Pages/StreamEditControls/Report.xaml
  DesktopUI2/DesktopUI2/Views/Pages/StreamEditControls/Send.xaml
  DesktopUI2/DesktopUI2/Views/Pages/StreamEditView.xaml
Due: none

fix (CSI) - receiving new Analytical models from revit
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSI.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSIShared.projitems
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Analysis/ConvertBuiltElementModel.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(core): Prevent invalid account from slipping out (#1594)
  Core/Core/Credentials/AccountManager.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat(core): adds processor architecture to connector model
  Core/Core/Api/GraphQL/Models.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Core/arch (#1597)
  Core/Core/Api/GraphQL/Models.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix (CSI) - receiving new Analytical models from revit (#1596)
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSI.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSIShared.projitems
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Analysis/ConvertBuiltElementModel.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat(core): Added test for TimeAgo function
  Core/Tests/Helpers.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(tests): Moved to correct namespace
  Core/Tests/ExceptionTests.cs
  Core/Tests/Helpers.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat(core): Added test for TimeAgo function (#1598)
  Core/Tests/ExceptionTests.cs
  Core/Tests/Helpers.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

added functionality and UI cleanup
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Mappings.cs
  DesktopUI2/DesktopUI2/ViewModels/ImportFamiliesDialogViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/MainViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/MappingViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/ImportFamiliesDialog.xaml
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/ImportFamiliesDialog.xaml.cs
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/MappingViewDialog.xaml.cs
Due: revit

implemented top checkmark
  DesktopUI2/DesktopUI2/ViewModels/ImportFamiliesDialogViewModel.cs
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/ImportFamiliesDialog.xaml
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/MappingViewDialog.xaml
Due: none

add default value for type mapping
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2 .Settings.cs
Due: revit

fix(gh): Unload top-menu if it exists before loading
  ConnectorGrasshopper/ConnectorGrasshopper/Loader.cs
Due: grasshopper

Merge pull request #1603 from specklesystems/hotfix/gh/duplicate-top-menu
  ConnectorGrasshopper/ConnectorGrasshopper/Loader.cs
Due: grasshopper

handles commits with objects with duplicate ids
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Utils.cs
Due: rhino

hotfix(rhino): handles commits with objects with duplicate ids (#1604)
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Utils.cs
Due: rhino

Feature(Revit): adds a way to import specific family types during mapping (#1602)
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2 .Settings.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Mappings.cs
  DesktopUI2/DesktopUI2/DesktopUI2.csproj
  DesktopUI2/DesktopUI2/ViewModels/ImportFamiliesDialogViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/MainViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/MappingViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/ImportFamiliesDialog.xaml
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/ImportFamiliesDialog.xaml.cs
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/MappingViewDialog.xaml
Due: revit

Set units for analytical stick
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAnalyticalStick.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertStructuralModel.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

delete all appObject children, not just first
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertCurves.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

NetworkToSpeckle
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Send.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevitShared.projitems
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertNetwork.cs
  Objects/Objects/Organization/NetworkLink.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

wip: new sqlite library
  Core/Core/Core.csproj
  Core/Core/Transports/SQLite.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

adds update receive mode in rhino
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat(rhino): adds update receive setting (#1609)
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix: transaction logic for new sql library
  Core/Core/Transports/SQLite.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Update Core.csproj
  Core/Core/Core.csproj
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(core): Fixes shallow
  Core/Core/Models/Base.cs
  Core/Core/Models/DynamicBase.cs
  Objects/Tests/Utils/ShallowCopyTests.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat(dui): increase number of streams fetched to 25
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
Due: none

feat(gh): Regen schema nodes
  ConnectorGrasshopper/ConnectorGrasshopper/SchemaBuilder/SchemaBuilderGen.cs
Due: grasshopper

fix(objects): Renamed Structure.Material to StructuralMaterial
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Analysis/ConvertModel.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Materials/ConvertMaterials.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Properties/Convert1DProperty.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAnalyticalStick.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAnalyticalSurface.cs
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/ConverterTeklaStructureUtils.cs
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/Partial Classes/ConvertRebar.cs
  Objects/Objects/BuiltElements/Beam.cs
  Objects/Objects/BuiltElements/Rebar.cs
  Objects/Objects/BuiltElements/TeklaStructures/TeklaContourPlate.cs
  Objects/Objects/Structural/ApplicationSpecific/ETABS/Properties/CSIProperty2D.cs
  Objects/Objects/Structural/ApplicationSpecific/GSA/Materials/GSAMaterial.cs
  Objects/Objects/Structural/ApplicationSpecific/GSA/Properties/GSAProperty1D.cs
  Objects/Objects/Structural/ApplicationSpecific/GSA/Properties/GSAProperty2D.cs
  Objects/Objects/Structural/Material/Concrete.cs
  Objects/Objects/Structural/Material/Steel.cs
  Objects/Objects/Structural/Material/StructuralMaterial.cs
  Objects/Objects/Structural/Material/Timber.cs
  Objects/Objects/Structural/Property/Property1D.cs
  Objects/Objects/Structural/Property/Property2D.cs
  Objects/Objects/Structural/Property/Property3D.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(gh): Enabled t4 generator logic
  ConnectorGrasshopper/ConnectorGrasshopper/ConnectorGrasshopper.csproj
  ConnectorGrasshopper/ConnectorGrasshopper/SchemaBuilder/SchemaBuilderGen.cs
  ConnectorGrasshopper/ConnectorGrasshopper/SchemaBuilder/SchemaBuilderGen.tt
Due: grasshopper

fix(objects): All.sln missing projects borked renaming
  All.sln
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAnalyticalStick.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAnalyticalSurface.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Fix: Renames Structure.Material to StructuralMaterial (#1618)
  All.sln
  ConnectorGrasshopper/ConnectorGrasshopper/ConnectorGrasshopper.csproj
  ConnectorGrasshopper/ConnectorGrasshopper/SchemaBuilder/SchemaBuilderGen.cs
  ConnectorGrasshopper/ConnectorGrasshopper/SchemaBuilder/SchemaBuilderGen.tt
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Analysis/ConvertModel.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Materials/ConvertMaterials.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Properties/Convert1DProperty.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAnalyticalStick.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAnalyticalSurface.cs
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/ConverterTeklaStructureUtils.cs
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/Partial Classes/ConvertRebar.cs
  Objects/Objects/BuiltElements/Beam.cs
  Objects/Objects/BuiltElements/Rebar.cs
  Objects/Objects/BuiltElements/TeklaStructures/TeklaContourPlate.cs
  Objects/Objects/Structural/ApplicationSpecific/ETABS/Properties/CSIProperty2D.cs
  Objects/Objects/Structural/ApplicationSpecific/GSA/Materials/GSAMaterial.cs
  Objects/Objects/Structural/ApplicationSpecific/GSA/Properties/GSAProperty1D.cs
  Objects/Objects/Structural/ApplicationSpecific/GSA/Properties/GSAProperty2D.cs
  Objects/Objects/Structural/Material/Concrete.cs
  Objects/Objects/Structural/Material/Steel.cs
  Objects/Objects/Structural/Material/StructuralMaterial.cs
  Objects/Objects/Structural/Material/Timber.cs
  Objects/Objects/Structural/Property/Property1D.cs
  Objects/Objects/Structural/Property/Property2D.cs
  Objects/Objects/Structural/Property/Property3D.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(core): Refactored GetMembers to use flags instead of booleans
  Core/Core/Models/Base.cs
  Core/Core/Models/DynamicBase.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat(core): Added DynamicBase.GetMembers test
  Core/Tests/BaseTests.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(core): Swapped hardcoded prop names for `nameof` calls
  Core/Tests/BaseTests.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat(core): Moved DynamicBaseMemberType to it's own file
  Core/Core/Models/DynamicBase.cs
  Core/Core/Models/DynamicBaseMemberType.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Path conditions:
  run_core: any of: Core/.*
  rhino: any of: (Core|Objects|ConnectorRhino|.*/ConverterRhinoGh)/.*
  grasshopper: any of: (Core|Objects|ConnectorGrasshopper|.*/ConverterRhinoGh)/.*
  revit: any of: (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.*
  dynamo: any of: (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.*
  autocadcivil: any of: (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.*
  csi: any of: (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.*
  microstation: any of: (Core|Objects|ConnectorMicroStation|.*/ConverterMicroStation)/.*
  teklastructures: any of: (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.*
  archicad: any of: (Core|Objects|ConnectorArchicad)/.*
