Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Wrapper for ConvertToSpeckle to address the future recursive conversion methods
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToSpeckle.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Stubbed CanConvertToSpeckle - returns true for Geometry Elements
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToSpeckle.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Magic gathering of ModelItem from the pseudoId
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToSpeckle.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Initial Send Traversal
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings_Objects.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings_Send.cs
Due: none

ToSpeckle Fundamentals
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Geometry.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToSpeckle.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Utils.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Object Sorter
  ConnectorNavisworks/ConnectorNavisworks/Utils.cs
Due: none

SavedStreams
  ConnectorNavisworks/ConnectorNavisworks/Sample Models/KLY_ZHQ_CP2.nwf
Due: none

Simple displayValue addition.
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Geometry.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToSpeckle.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

update debug config rvt 2023
  Objects/Converters/ConverterRevit/ConverterRevit2023/Properties/launchSettings.json
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Update launchSettings.json
  Objects/Converters/ConverterRevit/ConverterRevit2023/Properties/launchSettings.json
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix all defind version
  ConnectorRevit/ConnectorRevit/ConnectorRevitUtils.cs
  ConnectorRevit/ConnectorRevit/RevitVersionHelper.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Categories.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAnalyticalStick.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAnalyticalSurface.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertCeiling.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertLocation.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitVersionHelper.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat(mappings): ensure all required fileds are filled before the apply button is enabled
  DesktopUI2/DesktopUI2/App.xaml.cs
  DesktopUI2/DesktopUI2/ViewModels/MappingTool/Schemas.cs
  DesktopUI2/DesktopUI2/Views/MappingsControl.xaml
Due: none

feat(core): updates speckle newtonsoft to 13.0.2
  All.sln
  Core/Core/Core.csproj
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Matteo/deps update (#1998)
  All.sln
  Core/Core/Core.csproj
  Core/IntegrationTests/TestsIntegration.csproj
  Core/Tests/TestsUnit.csproj
  Core/Transports/MongoDBTransport/MongoDBTransport.csproj
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat(core): merge all takeaways in pathing
  Core/Core/Helpers/Path.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

test(core): update test to reflect the user data path creation changes
  Core/Tests/Path.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix: removes direct references to core and speckle.newtonsoft from structural connectors
  ConnectorCSI/ConnectorCSIBridge/ConnectorCSIBridge.csproj
  ConnectorCSI/ConnectorETABS/ConnectorETABS.csproj
  ConnectorCSI/ConnectorSAFE/ConnectorSAFE.csproj
  ConnectorCSI/ConnectorSAP2000/ConnectorSAP2000.csproj
  ConnectorCSI/DriverCSharp/DriverCSharp.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructures2020/ConnectorTeklaStructures2020.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructures2021/ConnectorTeklaStructures2021.csproj
Due: csi, teklastructures

fix(gh): missing win deps in gh6
  ConnectorGrasshopper/ConnectorGrasshopper6/ConnectorGrasshopper6.csproj
Due: grasshopper

fix(rhino): update sqlitepclraw.lib.e_sqlite3 version
  ConnectorRhino/ConnectorRhino7/ConnectorRhino7.csproj
Due: rhino

Fix config debug revit 2023 (#1995)
  Objects/Converters/ConverterRevit/ConverterRevit2023/Properties/launchSettings.json
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Fix all define version, improvement object missing (#1996)
  ConnectorRevit/ConnectorRevit/ConnectorRevitUtils.cs
  ConnectorRevit/ConnectorRevit/RevitVersionHelper.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Categories.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAnalyticalStick.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAnalyticalSurface.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertCeiling.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertLocation.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitVersionHelper.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Fix dependency conflicts after update (#2000)
  ConnectorCSI/ConnectorCSIBridge/ConnectorCSIBridge.csproj
  ConnectorCSI/ConnectorETABS/ConnectorETABS.csproj
  ConnectorCSI/ConnectorSAFE/ConnectorSAFE.csproj
  ConnectorCSI/ConnectorSAP2000/ConnectorSAP2000.csproj
  ConnectorCSI/DriverCSharp/DriverCSharp.csproj
  ConnectorGrasshopper/ConnectorGrasshopper6/ConnectorGrasshopper6.csproj
  ConnectorRhino/ConnectorRhino7/ConnectorRhino7.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructures2020/ConnectorTeklaStructures2020.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructures2021/ConnectorTeklaStructures2021.csproj
Due: rhino, grasshopper, csi, teklastructures

fix(core): ApplicationObject not serializing correctly
  Core/Core/Models/Extras.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

implement report on send
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Send.cs
Due: csi

gergo/tests for speckle type (#1992)
  Core/Tests/BaseTests.cs
  Core/Tests/SpeckleType.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Sample Model Update
  ConnectorNavisworks/ConnectorNavisworks/Sample Models/MEP Container.nwf
Due: none

Add Navisworks projects to All.sln
  All.sln
Due: none

added setting for comprehensive report
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.ClientOperations.cs
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Recieve.cs
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Send.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSI.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSIUtils.cs
  Objects/Objects/Structural/Analysis/AnalyticalModel.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat(mappings): imporve selection and clearing logic
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/MappingBindingsRhino.cs
  DesktopUI2/DesktopUI2/DummyMappingsBindings.cs
  DesktopUI2/DesktopUI2/MappingsBindings.cs
  DesktopUI2/DesktopUI2/ViewModels/MappingTool/MappingsViewModel.cs
  DesktopUI2/DesktopUI2/Views/MappingsControl.xaml
  DesktopUI2/DesktopUI2/Views/MappingsControl.xaml.cs
Due: rhino

Added 2020, 2021, 2022 Navisworks versions
  All.sln
  ConnectorNavisworks/ConnectorNavisworks.2020/ConnectorNavisworks.2020.csproj
  ConnectorNavisworks/ConnectorNavisworks.2020/Properties/launchSettings.json
  ConnectorNavisworks/ConnectorNavisworks.2021/ConnectorNavisworks.2021.csproj
  ConnectorNavisworks/ConnectorNavisworks.2021/Properties/launchSettings.json
  ConnectorNavisworks/ConnectorNavisworks.2022/ConnectorNavisworks.2022.csproj
  ConnectorNavisworks/ConnectorNavisworks.2022/Properties/launchSettings.json
  ConnectorNavisworks/ConnectorNavisworks.sln
  ConnectorNavisworks/ConnectorNavisworks/Entry/PackageContents.xml
  Objects/Converters/ConverterNavisworks/ConverterNavisworks.2020/ConverterNavisworks.2020.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks.2021/ConverterNavisworks.2021.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks.2022/ConverterNavisworks.2022.csproj
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat(core): adds OS: Any and Linux to Manager Feed Api
  Core/Core/Api/GraphQL/Models.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat: Adds `Any` and `Linux` to the manager feed api OS list (#2005)
  Core/Core/Api/GraphQL/Models.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix: handles meshes correctly in the direct shape option
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Expand CanConvert to all Geometry Nodes
  .gitignore
  ConnectorNavisworks/ConnectorNavisworks/Sample Models/KLY_ZHQ_CP2.nwf
  ConnectorNavisworks/ConnectorNavisworks/Sample Models/MEP Container.nwc
  ConnectorNavisworks/ConnectorNavisworks/Sample Models/MEP Container.nwf
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToSpeckle.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

create report branch
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Send.cs
  Objects/Objects/Structural/Analysis/AnalyticalModel.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

cleanup unused code
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSI.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(rhino): handle generic conversion exceptions and log them in the report
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat(dui): minor ui fiddles
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  DesktopUI2/DesktopUI2/Views/Filters/ManualFilterView.xaml
Due: none

update all installers to net6
  .circleci/scripts/config-template.yml
Due: none

Path conditions:
  run_core: any of: Core/.*
  rhino: any of: (Core|Objects|ConnectorRhino|.*/ConverterRhinoGh)/.*
  grasshopper: any of: (Core|Objects|ConnectorGrasshopper|.*/ConverterRhinoGh)/.*
  revit: any of: (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.*
  dynamo: any of: (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.*
  autocadcivil: any of: (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.*
  csi: any of: (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.*
  microstation: any of: (Core|Objects|ConnectorMicroStation|.*/ConverterMicroStation)/.*
  teklastructures: any of: (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.*
  archicad: any of: (Core|Objects|ConnectorArchicad)/.*
