Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(AdvanceSteel): Converting AS Slab to Speckle (#2412)
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.ASGeometry.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.AdvanceSteel.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.Beams.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.Bolts.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.DxfNames.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.Gratings.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.Plates.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.Slabs.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.SpecialParts.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivilShared.projitems
  Objects/Objects/BuiltElements/AdvanceSteel/AsteelSlab.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Fixed nunit test
  Objects/Tests/NUnit_Fixtures.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Construction tests will not only run for concrete types
  Objects/Tests/GenericTests.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Checking text height in MText
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Other.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

add support for hidden fields
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertView.Schedule.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(revit): add applicationId to material conversion
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAnalyticalStick.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(revit): add applicationId to property1d conversion
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAnalyticalStick.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(Autocad): MText height property shows 0 (#2344)
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Other.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(revit): add null check to property name on conversion
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAnalyticalStick.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(revit): fixed traversal issue of displayValues (#2423)
  Core/Core/Models/GraphTraversal/DefaultTraversal.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(tasks):Ignore triangles
  .vscode/tasks.json
  Directory.Build.props
Due: none

add support for schedules with no headers
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertView.Schedule.cs
  Objects/Objects/Organization/DataTable.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

reformat(navis): reformat
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Events.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.File.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Filters.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Mapping.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Objects.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Receive.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Selections.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Settings.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.cs
  ConnectorNavisworks/ConnectorNavisworks/Commands/Commands.cs
  ConnectorNavisworks/ConnectorNavisworks/Entry/Ribbon.xaml.cs
  ConnectorNavisworks/ConnectorNavisworks/Entry/SpeckleHostPane.xaml.cs
  ConnectorNavisworks/ConnectorNavisworks/Entry/SpeckleNavisworksCommand.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/Utils.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/ViewProxy.cs
  ConnectorNavisworks/ConnectorNavisworks/Storage/SpeckleStreamManager.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Geometry.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Other.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Properties.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Settings.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToNative.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToSpeckle.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Utils.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(repo): Added husky for pre-commit formatting + auto-install on NugetRestore
  .config/dotnet-tools.json
  .husky/pre-commit
  .husky/task-runner.json
  Core/Core/Core.csproj
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(repo): Added husky for pre-commit formatting + auto-install on NugetRestore (#2439)
  .config/dotnet-tools.json
  .husky/pre-commit
  .husky/task-runner.json
  Core/Core/Core.csproj
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

reformat(navis): (#2433)
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Events.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.File.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Filters.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Mapping.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Objects.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Receive.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Selections.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Settings.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.cs
  ConnectorNavisworks/ConnectorNavisworks/Commands/Commands.cs
  ConnectorNavisworks/ConnectorNavisworks/Entry/Ribbon.xaml.cs
  ConnectorNavisworks/ConnectorNavisworks/Entry/SpeckleHostPane.xaml.cs
  ConnectorNavisworks/ConnectorNavisworks/Entry/SpeckleNavisworksCommand.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/Utils.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/ViewProxy.cs
  ConnectorNavisworks/ConnectorNavisworks/Storage/SpeckleStreamManager.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Geometry.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Other.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Properties.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Settings.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToNative.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToSpeckle.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Utils.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

less repeated code
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertView.Schedule.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

get rid of closures
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertView.Schedule.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

pass first column header
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertView.Schedule.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

delete old dataTable class that was much more complicated
  Objects/Objects/Organization/DataTable.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(rhino): Fixed converter cleanup using removals
  ConnectorRhino/ConnectorRhino6/ConnectorRhino6.csproj
  ConnectorRhino/ConnectorRhino7/ConnectorRhino7.csproj
  Directory.Build.props
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Geometry.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(rhino): Readded removed using statements
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/Plugin.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/SpeckleCommandMac.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/SpeckleMappingsCommandMac.cs
  ConnectorRhino/ConnectorRhino6/ConnectorRhino6.csproj
  ConnectorRhino/ConnectorRhino7/ConnectorRhino7.csproj
  Directory.Build.props
  Objects/Converters/ConverterRhinoGh/ConverterGrasshopper6/ConverterGrasshopper6.csproj
  Objects/Converters/ConverterRhinoGh/ConverterGrasshopper7/ConverterGrasshopper7.csproj
  Objects/Converters/ConverterRhinoGh/ConverterRhino7/ConverterRhino7.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(rh): Minor tweaks in rhino and gh projs
  ConnectorGrasshopper/ConnectorGrasshopper7/ConnectorGrasshopper7.csproj
  ConnectorRhino/ConnectorRhino7/ConnectorRhino7.csproj
Due: rhino

fix(aSteel): Using our own nuget now
  Objects/Converters/ConverterAutocadCivil/ConverterAdvanceSteel2023/ConverterAdvanceSteel2023.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(aSteel): Removed triangle from acad solution
  ConnectorAutocadCivil/ConnectorAutocadCivil.sln
Due: autocadcivil

fix: exclude face hosted families from new instancing logic
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat: minor build fixes
  ConnectorAutocadCivil/ConnectorAdvanceSteel2023/ConnectorAdvanceSteel2023.csproj
  ConnectorAutocadCivil/ConnectorAdvanceSteel2023/Properties/launchSettings.json
  ConnectorAutocadCivil/ConnectorAutocadCivil.sln
  Objects/Converters/ConverterAutocadCivil/ConverterAdvanceSteel2023/ConverterAdvanceSteel2023.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(husky): Fixed install on restore in Core target
  Core/Core/Core.csproj
  Directory.Build.props
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(husky): Fixed install on restore in Core target (#2443)
  Core/Core/Core.csproj
  Directory.Build.props
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(aSteel): AdvanceSteel needs triangles.net in the kit. Reorganized the output to get the desired result
  Objects/Converters/ConverterAutocadCivil/ConverterAdvanceSteel2023/ConverterAdvanceSteel2023.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

style changes
  Core/Core/Models/GraphTraversal/DefaultTraversal.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFloor.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Path conditions:
  core: any of: Core/.*
  rhino: any of: (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.*
  revit: any of: (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.*
  dynamo: any of: (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.*
  autocadcivil: any of: (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.*
  csi: any of: (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.*
  bentley: any of: (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.*
  teklastructures: any of: (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.*
  archicad: any of: (Core|Objects|ConnectorArchicad)/.*
  navisworks: any of: (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.*
