Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.3.1
  python: circleci/python@2.0.3

jobs:
  setup:
    executor: python/default
    steps:
      - checkout # checkout code
      - when:
          condition:
            and:
              - not:
                  equal: [main, << pipeline.git.branch >>]
              - not:
                  matches:
                    pattern: ".*/?ci/.*"
                    value: << pipeline.git.branch >>
              - not:
                  matches:
                    pattern: ".*/all$"
                    value: << pipeline.git.tag >>
          steps:
            - run: git branch internal_circleci
            - path-filtering/set-parameters:
                mapping: |
                  Core/.* core true
                  (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.* rhino true
                  (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.* revit true
                  (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.* dynamo true
                  (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.* autocadcivil true
                  (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.* csi true
                  (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.* bentley true
                  (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.* teklastructures true
                  (Core|Objects|ConnectorArchicad)/.* archicad true
                  (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.* navisworks true
                base-revision: main
                output-path: .circleci/scripts/parameters.json
      - run: cat .circleci/scripts/parameters.json
      - run: pip install pyyaml
      - run: # run a command
          name: Generate config
          command: |
            python .circleci/scripts/config-generator.py -d ${CIRCLE_TAG:-none} -o .circleci/continuation-config.yml -e ${CIRCLE_PR_REPONAME:-none}
      - continuation/continue:
          configuration_path: .circleci/continuation-config.yml # use newly generated config to continue
workflows:
  setup:
    jobs:
      - setup:
          name: Build Setup
      - setup:
          name: Deploy Setup
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^(nugets\/)?([0-9]+)\.([0-9]+)\.([0-9]+)(?:-\w+)?(\/all)?$/

CNX-9586 Text input not working in Rhino 8 (#3461)
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/DuiPanel.xaml.cs
Due: rhino

CNX-9443 Rhino Compute units set as mm (#3460)
  ConnectorGrasshopper/ConnectorGrasshopperShared/Extras/Utilities.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Loader.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/SchemaBuilder/CreateSchemaObject.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/SchemaBuilder/CreateSchemaObjectBase.cs
Due: rhino

update references to dotnet 8 assemblies and update Core csproj
  Core/Core/Core.csproj
  Core/Core/Logging/SpeckleLog.cs
  Core/Tests/Speckle.Core.Tests.Integration/Speckle.Core.Tests.Integration.csproj
  Core/Tests/Speckle.Core.Tests.Unit/Speckle.Core.Tests.Unit.csproj
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Speckle.Connectors.ArcGIS3.csproj
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.Autocad2023/Speckle.Connectors.Autocad2023.csproj
  DUI3-DX/DUI3/Speckle.Connectors.DUI/Speckle.Connectors.DUI.csproj
  DUI3-DX/Sdk/Speckle.Autofac/Speckle.Autofac.csproj
  DUI3-DX/Sdk/Speckle.Connectors.Utils/Speckle.Connectors.Utils.csproj
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Column
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertColumn.cs
  Objects/Objects/BuiltElements/Revit/RevitColumn.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

build fixes
  All.sln
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/packages.lock.json
  DUI3-DX/Speckle.Revit2023.Api/IRevitModelCurveArrArrayProxy.cs
  DUI3-DX/Speckle.Revit2023.Api/IRevitModelCurveArrayProxy.cs
  DUI3-DX/Speckle.Revit2023.Api/IRevitModelCurveProxy.cs
Due: none

ignore const array
  .editorconfig
Due: none

CNX-9752 add parts data to pipes and structures (#3457)
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
  Objects/Objects/Other/Civil/CivilDataField.cs
  Objects/Objects/Other/DataField.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(automate): if function runs to completion we always need to exit with 0
  Automate/Speckle.Automate.Sdk/Runner.cs
Due: none

chore(automate): reformat
  Automate/Speckle.Automate.Sdk/Runner.cs
Due: none

add more wrappers
  DUI3-DX/Speckle.Revit2023.Api/IRevitDocumentProxy.cs
  DUI3-DX/Speckle.Revit2023.Api/RevitFilterFactory.cs
  DUI3-DX/Speckle.Revit2023.Api/Speckle.Revit2023.Api.csproj
  DUI3-DX/Speckle.Revit2023.Api/packages.lock.json
  DUI3-DX/Speckle.Revit2023.Interfaces/Extensions.cs
  DUI3-DX/Speckle.Revit2023.Interfaces/Filters.cs
  DUI3-DX/Speckle.Revit2023.Interfaces/IRevitDocument.cs
  DUI3-DX/Speckle.Revit2023.Interfaces/IRevitUnits.cs
  DUI3-DX/Speckle.Revit2023.Interfaces/RevitBuiltInCategory.cs
Due: none

add extensions for intermediate compile
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Raw/Geometry/MeshByMaterialDictionaryToSpeckle.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Raw/Geometry/MeshConversionToSpeckle.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Services/ScalingServiceToSpeckle.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/ToSpeckle/HostedElementConversionToSpeckle.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/ToSpeckle/WallTopLevelConverterToSpeckle.cs
  DUI3-DX/Speckle.Revit2023.Api/DocumentExtensions.cs
Due: none

add more proxies to let it compile
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Operations/Send/RevitRootObjectBuilder.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/ReferencePointConverter.cs
  DUI3-DX/Speckle.Revit2023.Api/IRevitDocumentProxy.cs
  DUI3-DX/Speckle.Revit2023.Api/RevitFilterFactory.cs
  DUI3-DX/Speckle.Revit2023.Interfaces/Filters.cs
  DUI3-DX/Speckle.Revit2023.Interfaces/IRevitDocument.cs
Due: none

fmt
  DUI3-DX/Converters/Revit/Speckle.Converters.Revit2023.Tests/LocationConversionToSpeckleTests.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.Revit2023.Tests/ModelCurveArrArrayConverterToSpeckle.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/ReferencePointConverter.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Services/ScalingServiceToSpeckle.cs
  DUI3-DX/Speckle.Revit2023.Api/IRevitDocumentProxy.cs
  DUI3-DX/Speckle.Revit2023.Api/IRevitModelCurveProxy.cs
  DUI3-DX/Speckle.Revit2023.Api/RevitFilterFactory.cs
  DUI3-DX/Speckle.Revit2023.Interfaces/Extensions.cs
  DUI3-DX/Speckle.Revit2023.Interfaces/Filters.cs
  DUI3-DX/Speckle.Revit2023.Interfaces/IRevitDocument.cs
  DUI3-DX/Speckle.Revit2023.Interfaces/IRevitModelCurve.cs
  DUI3-DX/Speckle.Revit2023.Interfaces/IRevitModelCurveArray.cs
Due: none

Copy important changes to core from DUI3/alpha to dev
  Core/Core/Credentials/Account.cs
  Core/Core/Credentials/AccountManager.cs
  Core/Core/Models/Extensions/BaseExtensions.cs
  Core/Core/Models/GraphTraversal/DefaultTraversal.cs
  Core/Core/Models/GraphTraversal/GraphTraversal.cs
  Core/Core/Models/GraphTraversal/ITraversalRule.cs
  Core/Core/Models/GraphTraversal/RuleBuilder.cs
  Core/Core/Models/GraphTraversal/TraversalContextExtensions.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

remove extras
  .github/workflows/test.yml
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/HostApp/Elements.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Speckle.Connectors.RevitShared.projitems
Due: none

some clean up
  DUI3-DX/Connectors/Revit/Speckle.Connectors.Revit2023/packages.lock.json
  DUI3-DX/Converters/Revit/Speckle.Converters.Revit2023.DependencyInjection/packages.lock.json
  DUI3-DX/Converters/Revit/Speckle.Converters.Revit2023.Tests/packages.lock.json
  DUI3-DX/Converters/Revit/Speckle.Converters.Revit2023/packages.lock.json
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Helpers/ParameterObjectBuilder.cs
  DUI3-DX/Speckle.Revit2023.Api/ContainerRegistration.cs
  DUI3-DX/Speckle.Revit2023.Api/DocumentExtensions.cs
  DUI3-DX/Speckle.Revit2023.Api/RevitFilterFactory.cs
  DUI3-DX/Speckle.Revit2023.Api/packages.lock.json
  DUI3-DX/Speckle.Revit2023.Interfaces/Speckle.Revit2023.Interfaces.csproj
  DUI3-DX/Speckle.Revit2023.Interfaces/packages.lock.json
Due: none

adds additional corridor classes
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
  Objects/Objects/BuiltElements/Baseline.cs
  Objects/Objects/BuiltElements/Civil/CivilAppliedAssembly.cs
  Objects/Objects/BuiltElements/Civil/CivilAppliedSubassembly.cs
  Objects/Objects/BuiltElements/Civil/CivilBaseline.cs
  Objects/Objects/BuiltElements/Civil/CivilBaselineRegion.cs
  Objects/Objects/BuiltElements/Civil/CivilCalculatedLink.cs
  Objects/Objects/BuiltElements/Civil/CivilCalculatedPoint.cs
  Objects/Objects/BuiltElements/Civil/CivilCalculatedShape.cs
  Objects/Objects/Interfaces.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

provide test utils from sdk
  Automate/Speckle.Automate.Sdk/Test/TestEnvironment.cs
  Automate/Speckle.Automate.Sdk/Test/TestUtils.cs
Due: none

remove redundant class and convert a missed one
  DUI3-DX/Converters/Revit/Speckle.Converters.Revit2023/Helpers/ParameterObjectBuilder.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.Revit2023/Raw/Geometry/SolidConversionToSpeckle.cs
Due: none

gergo/automateSdkExitCodeHotfix (#3465)
  Automate/Speckle.Automate.Sdk/Runner.cs
Due: none

Register ArcGISDocument
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3.DependencyInjection/ArcGISConverterModule.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/ArcGISConversionContextStack.cs
Due: none

lint errors
  Automate/Speckle.Automate.Sdk/Test/TestAutomateEnvironment.cs
  Automate/Speckle.Automate.Sdk/Test/TestAutomateUtils.cs
Due: none

adds gis attributes as user strings
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.Receive.cs
Due: rhino

add support for openings
  ConnectorArchicad/AddOn/Sources/AddOn/AddOnMain.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateOpening.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateOpening.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateOpeningBase.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetDoorData.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetOpeningData.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetOpeningData.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/FieldNames.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/ResourceIds.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/TypeNameTables.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/TypeNameTables.hpp
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_CreateOpening.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetOpening.cs
  ConnectorArchicad/ConnectorArchicad/Converters/ConverterArchicad.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/OpeningConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/Utils.cs
  ConnectorArchicad/ConnectorArchicad/Converters/ElementConverterManager.cs
  ConnectorArchicad/ConnectorArchicad/Converters/ElementTypeProvider.cs
  ConnectorArchicad/ConnectorArchicad/Converters/ModelConverter.cs
  Objects/Objects/BuiltElements/Archicad/ArchicadOpening.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

adds custom conversion for GIS elements
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.Previews.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.Receive.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.GIS.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGhShared.projitems
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

adds generic gis attribute case for fallback conversion
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.Receive.cs
Due: rhino

export properties of GDL objects
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetElementBaseData.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/DirectShapeConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/Utils.cs
  Objects/Objects/BuiltElements/Archicad/DirectShape.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Update ConnectorBindingsRhino.Receive.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.Receive.cs
Due: rhino

build fix
  Objects/Objects/BuiltElements/Archicad/DirectShape.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

build fix
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetElementBaseData.cs
Due: archicad

add default commit message
  ConnectorArchicad/ConnectorArchicad/ConnectorBinding.cs
Due: archicad

update connector icon for mac
  .circleci/scripts/config-template.yml
  ConnectorArchicad/AddOn/Sources/AddOn/AddOnMain.cpp
  ConnectorArchicad/AddOn/Sources/AddOnResources/RFIX/AddOnFix.grc
  ConnectorArchicad/AddOn/Sources/AddOnResources/RFIX/Images/AddOnIconMac_18x18.svg
  ConnectorArchicad/AddOn/Sources/AddOnResources/RFIX/Images/AddOnIconWin_18x18.svg
  ConnectorArchicad/AddOn/Sources/AddOnResources/RFIX/Images/AddOnIcon_18x18.svg
  ConnectorArchicad/ConnectorArchicad/Assets/icon-mac.icns
  ConnectorArchicad/ConnectorArchicad/ConnectorArchicad.csproj
  ConnectorArchicad/ConnectorArchicad/Info.plist
Due: archicad

Compile in shared instead of a project
  All.sln
  DUI3-DX.slnf
  DUI3-DX/Connectors/Revit/Speckle.Connectors.Revit2023/Speckle.Connectors.Revit2023.csproj
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Speckle.Connectors.RevitShared.projitems
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Speckle.Connectors.RevitShared.shproj
  DUI3-DX/Converters/Revit/Speckle.Converters.Revit2023/Speckle.Converters.Revit2023.csproj
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Helpers/ParameterObjectBuilder.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Raw/Geometry/SolidConversionToSpeckle.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Speckle.Converters.RevitShared.projitems
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Speckle.Converters.RevitShared.shproj
Due: none

use sln name
  .circleci/scripts/config-template.yml
Due: none

updates with subassembly info and featureline based baselines
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.cs
  Objects/Objects/BuiltElements/Baseline.cs
  Objects/Objects/BuiltElements/Civil/CivilAppliedSubassembly.cs
  Objects/Objects/BuiltElements/Civil/CivilBaseline.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

warnings fix
  Objects/Objects/BuiltElements/Baseline.cs
  Objects/Objects/BuiltElements/Civil/CivilAppliedSubassembly.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

database URI fix
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/ArcGISConversionContextStack.cs
Due: none
