Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

fix null exception
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertCombinableElement.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

attempt to fix the avalonia lost context crash
  ConnectorNavisworks/ConnectorNavisworks/Entry/SpeckleNavisworksCommand.cs
Due: navisworks

removed unused dependency
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToSpeckle.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

feat(core): rework graphql exception handling and reporting in the Client
  Core/Core/Api/Exceptions.cs
  Core/Core/Api/GraphQL/Client.cs
  Core/Core/Logging/SpeckleException.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

fix(revit): various fixes to analytical elements in Revit (#2175)
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAnalyticalStick.cs
  Objects/Objects/Structural/Enums/PropertyType.cs
  Objects/Objects/Structural/Property/SectionProfile.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

fix(core): its graphql, not grapql
  Core/Core/Api/GraphQL/Client.cs
  Core/IntegrationTests/Fixtures.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

fix(integrationTests): do not log to seq
  Core/IntegrationTests/Fixtures.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

Fix(csi): fix incoming units issue and set beam sizes on update (#2166)
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSIUtils.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Geometry/ConvertFrame.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Properties/Convert1DProperty.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

feat(core): make sure to attach the variables object to the request logs
  Core/Core/Api/GraphQL/Client.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

Fix(Revit): Resolve received room separation lines association to the wrong level (#2136)
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertCurves.cs
  Objects/Objects/BuiltElements/Revit/ModelCurves.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

discard unused out prop
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertCurves.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

Added method name to all Swallow exceptions
  DesktopUI2/DesktopUI2/Utils.cs
  DesktopUI2/DesktopUI2/ViewModels/AccountViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/CollaboratorsViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/FilterViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/OneClickViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: none

rework the grahpql client to reduce usage of the SpeckleException (#2100)
  Core/Core/Api/Exceptions.cs
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.ActivityOperations.cs
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.BranchOperations.cs
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.CommentOperations.cs
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.CommitOperations.cs
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.ObjectOperations.cs
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.ServerOperations.cs
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.StreamOperations.cs
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.UserOperations.cs
  Core/Core/Api/GraphQL/Client.GraphqlClientOperations.cs
  Core/Core/Api/GraphQL/Client.Subscriptions.Branch.cs
  Core/Core/Api/GraphQL/Client.Subscriptions.Commit.cs
  Core/Core/Api/GraphQL/Client.Subscriptions.Stream.cs
  Core/Core/Api/GraphQL/Client.Subscriptions/Client.Subscriptions.Branch.cs
  Core/Core/Api/GraphQL/Client.Subscriptions/Client.Subscriptions.Commit.cs
  Core/Core/Api/GraphQL/Client.Subscriptions/Client.Subscriptions.Stream.cs
  Core/Core/Api/GraphQL/Client.cs
  Core/Core/Api/GraphQL/SubscriptionModels.cs
  Core/Core/Core.csproj
  Core/Core/Logging/SpeckleException.cs
  Core/Examples/Program.cs
  Core/IntegrationTests/Api.cs
  Core/IntegrationTests/GraphQLCLient.cs
  Core/Tests/GraphQLClient.cs
  DesktopUI2/DesktopUI2/Utils.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

perf(rhino): minor mesh to native performance optimisation (#2155)
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Geometry.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

log(rhino): connector logging refactor/scoping (#2156)
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/Plugin.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  Core/Core/Helpers/Http.cs
  Core/Core/Logging/Analytics.cs
  DesktopUI2/DesktopUI2/Models/Filters/SelectionFilterConverter.cs
  DesktopUI2/DesktopUI2/Utils.cs
  DesktopUI2/DesktopUI2/ViewModels/AccountViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/CollaboratorsViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/CommentViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/FilterViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/LogInViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/MainViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/NotificationsViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/OneClickViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamSelectorViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

Optimised polyline to native performance
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Geometry.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
  Objects/Objects/Geometry/Polyline.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

Build with dotnet publish
  .circleci/scripts/config-template.yml
  .circleci/scripts/connector-jobs.yml
Due: none

run ci
  .circleci/config.yml
Due: none

Fix
  .circleci/scripts/config-template.yml
  .circleci/scripts/connector-jobs.yml
Due: none

Fix(revit): Resolve received room separation lines association to the wrong level (#2177)
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertCurves.cs
  Objects/Objects/BuiltElements/Revit/ModelCurves.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

info
  .circleci/scripts/config-template.yml
Due: none

persist
  .circleci/scripts/config-template.yml
Due: none

Updating a report object is now much faster
  ConnectorArchicad/ConnectorArchicad/Converters/ElementConverterManager.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Send.cs
  Core/Core/Models/Extras.cs
  DesktopUI2/DesktopUI2/ViewModels/OneClickViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSI.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertNetwork.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

Artifacts for testing
  .circleci/scripts/config-template.yml
Due: none

Revert
  .circleci/config.yml
  .circleci/scripts/config-template.yml
Due: none

handle separation line creation on correct view
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertCurves.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertLevel.cs
  Objects/Objects/BuiltElements/Revit/ModelCurves.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

Archicad self contained connector on Windows (#2180)
  .circleci/scripts/config-template.yml
  .circleci/scripts/connector-jobs.yml
Due: none

chore: trigger changes in the archicad folder
  ConnectorArchicad/README.md
Due: archicad

Revert "ci: Test using linux to build archicad installer"
  .circleci/scripts/config-template.yml
  .circleci/scripts/connector-jobs.yml
Due: none

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

Update CODEOWNERS (#2183)
  .github/CODEOWNERS
Due: none

chore(CI): Optimised build time (#2144)
  .circleci/scripts/config-template.yml
  Objects/Tests/Tests.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

feat(core account manager): add sqlite based account flow locking mechanism
  Core/Core/Credentials/AccountManager.cs
  Core/Core/Credentials/Exceptions.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

docs(core account manager): extra comments
  Core/Core/Credentials/AccountManager.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

fix(core account manager): fix missing commmit from manager repo
  Core/Core/Credentials/AccountManager.cs
  Core/Core/Credentials/Exceptions.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

Optimised polyline to native performance (#2179)
  ConnectorArchicad/ConnectorArchicad/Converters/ElementConverterManager.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Send.cs
  Core/Core/Models/Extras.cs
  DesktopUI2/DesktopUI2/ViewModels/OneClickViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSI.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertNetwork.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Geometry.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
  Objects/Objects/Geometry/Polyline.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

Wall improvements (#2170)
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateWall.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetWallData.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/FieldNames.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/TypeNameTables.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/TypeNameTables.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/Utility.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Utility.hpp
  Objects/Objects/BuiltElements/Wall.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

fixes bug when sending nested layers
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Utils.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Organization.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Utils.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
  Objects/Objects/Organization/Collection.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

fixed sending just layers
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
Due: rhino

adds sending layers as collections
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Organization.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGhShared.projitems
  Objects/Objects/Organization/Collection.cs
  Objects/Objects/Organization/Container.cs
  Objects/Objects/Other/DisplayStyle.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

Path conditions:
  core: any of: Core/.*
  rhino: any of: (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.*
  revit: any of: (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.*
  dynamo: any of: (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.*
  autocadcivil: any of: (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.*
  csi: any of: (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.*
  microstation: any of: (Core|Objects|ConnectorMicroStation|.*/ConverterMicroStation)/.*
  teklastructures: any of: (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.*
  archicad: any of: (Core|Objects|ConnectorArchicad)/.*
  navisworks: any of: (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.*
