Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.3.1
  python: circleci/python@2.0.3

jobs:
  setup:
    executor: python/default
    steps:
      - checkout # checkout code
      - when:
          condition:
            and:
              - not:
                  equal: [main, << pipeline.git.branch >>]
              - not:
                  matches:
                    pattern: ".*/?ci/.*"
                    value: << pipeline.git.branch >>
              - not:
                  matches:
                    pattern: ".*/all$"
                    value: << pipeline.git.tag >>
          steps:
            - run: git branch internal_circleci
            - path-filtering/set-parameters:
                mapping: |
                  Core/.* core true
                  (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.* rhino true
                  (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.* revit true
                  (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.* dynamo true
                  (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.* autocadcivil true
                  (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.* csi true
                  (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.* bentley true
                  (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.* teklastructures true
                  (Core|Objects|ConnectorArchicad)/.* archicad true
                  (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.* navisworks true
                base-revision: main
                output-path: .circleci/scripts/parameters.json
      - run: cat .circleci/scripts/parameters.json
      - run: pip install pyyaml
      - run: # run a command
          name: Generate config
          command: |
            python .circleci/scripts/config-generator.py -d ${CIRCLE_TAG:-none} -o .circleci/continuation-config.yml -e ${CIRCLE_PR_REPONAME:-none}
      - continuation/continue:
          configuration_path: .circleci/continuation-config.yml # use newly generated config to continue
workflows:
  setup:
    jobs:
      - setup:
          name: Build Setup
      - setup:
          name: Deploy Setup
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^(nugets\/)?([0-9]+)\.([0-9]+)\.([0-9]+)(?:-\w+)?(\/all)?$/

Changed dot net installer url (#3602)
  .circleci/scripts/config-template.yml
Due: none

Persist to workspace
  .circleci/scripts/config-template.yml
Due: none

Jrm/ci test (#3603)
  .circleci/scripts/config-template.yml
Due: none

dotnet version 206
  .circleci/scripts/config-template.yml
Due: none

Jrm/ci test (#3604)
  .circleci/scripts/config-template.yml
Due: none

duplicate list instead of referencing
  Objects/Objects/Other/Revit/RevitInstance.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

duplicate list instead of referencing (#3605)
  Objects/Objects/Other/Revit/RevitInstance.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

add null check around assembly & location
  ConnectorCore/DllConflictManagement/DllConflictManager.cs
Due: none

Add PathIsValid check
  ConnectorCore/DllConflictManagement/DllConflictManager.cs
Due: none

fmt
  ConnectorCore/DllConflictManagement/DllConflictManager.cs
Due: none

Regex on RC builds
  .circleci/scripts/config-template.yml
Due: none

Adding TeklaContourPlate correction
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/PartialClasses/ConvertContourPlate.cs
  Objects/Objects/BuiltElements/TeklaStructures/TeklaContourPlate.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fmt
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/PartialClasses/ConvertContourPlate.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Add filter to skip the modifying when the zone of space is null (#3525)
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertZone.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

CNX-9912 - Implement a display fallback for Revit Areas equivalent to the outline. (#3594)
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertArea.cs
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/PartialClasses/ConvertContourPlate.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AsteelPlate.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AsteelSlab.cs
  Objects/Objects/BuiltElements/Area.cs
  Objects/Objects/BuiltElements/TeklaStructures/TeklaContourPlate.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Change regex to Sign rc builds (#3607)
  .circleci/scripts/config-template.yml
Due: none

add null check around assembly & location (#3606)
  ConnectorCore/DllConflictManagement/DllConflictManager.cs
Due: none

Improve SelectionSet extraction with error handling and documentation
  ConnectorNavisworks/ConnectorNavisworks/Other/SelectionBuilder.cs
Due: navisworks

Restored helper function for faster library/object creation
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateCommand.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateDoor.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateGridElement.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateObject.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateSkylight.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateWindow.cpp
Due: archicad

fix(Navisworks) - Improve SelectionSet extraction with error handling and documentation (#3608)
  ConnectorNavisworks/ConnectorNavisworks/Other/SelectionBuilder.cs
Due: navisworks

Restored helper function for faster library/object creation (#3610)
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateCommand.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateDoor.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateGridElement.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateObject.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateSkylight.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateWindow.cpp
Due: archicad

fix(automate): remove extra slash
  Automate/Speckle.Automate.Sdk/AutomationContext.cs
Due: none

CSIElement2D and ConvertArea changes
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertArea.cs
  Objects/Objects/Structural/CSI/Geometry/CSIElement2D.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Swallow an exception specific for .NET Core and other plugins
  ConnectorCore/DllConflictManagement/DllConflictManager.cs
Due: none

Change of modifiers from double[] to List<double>
  ConnectorCSI/ConnectorETABS/ConnectorETABS.csproj
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertArea.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertFrame.cs
  Objects/Objects/Structural/CSI/Geometry/CSIElement1D.cs
  Objects/Objects/Structural/CSI/Geometry/CSIElement2D.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Swallow an exception specific for .NET Core and other plugins (#3613)
  ConnectorCore/DllConflictManagement/DllConflictManager.cs
Due: none

fix: Minor tweak and rebuild schema objects
  ConnectorGrasshopper/ConnectorGrasshopperShared/SchemaBuilder/SchemaBuilderGen.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/SchemaBuilder/SchemaBuilderGen.tt
  Objects/Objects/Structural/CSI/Geometry/CSIElement1D.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

otel v2
  Core/Core/Api/Operations/Operations.Send.cs
  Core/Core/Core.csproj
  Core/Core/Logging/Setup.cs
  Core/Core/Serialisation/BaseObjectDeserializerV2.cs
  Core/Core/Transports/SQLite.cs
  Core/Core/Transports/ServerUtils/ParallelServerAPI.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

log ray output
  Core/Core/Transports/ServerUtils/ServerAPI.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Added Long Send Test
  Objects/Tests/Objects.Tests.Unit/LogSendTest.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

cxvxcv
  Objects/Tests/Objects.Tests.Unit/LogSendTest.cs
  Objects/Tests/Objects.Tests.Unit/NUnit_Fixtures.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Text description
  Objects/Objects/Structural/CSI/Geometry/CSIElement1D.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Update to the PackageReference
  ConnectorCSI/ConnectorETABS/ConnectorETABS.csproj
  ConnectorCSI/ConnectorSAFE/ConnectorSAFE.csproj
Due: csi

Resiliency
  Core/Core/Api/GraphQL/Client.cs
  Core/Core/Helpers/Http.cs
  Core/Core/Transports/Server.cs
  Core/Core/Transports/ServerUtils/ServerAPI.cs
  Core/Core/Transports/ServerV2.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(Revit): Only physical connectors can have an origin property.
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertConnector.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

net8.0 updates
  ConnectorCSI/ConnectorETABS/ConnectorETABS.csproj
  ConnectorCSI/DriverCSharp/DriverCSharp.csproj
  Objects/Converters/ConverterCSI/ConverterCSIBridge/ConverterCSIBridge.csproj
  Objects/Converters/ConverterCSI/ConverterETABS/ConverterETABS.csproj
  Objects/Converters/ConverterCSI/ConverterSAP2000/ConverterSAP2000.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

formatting
  Core/Core/Api/GraphQL/Client.cs
  Core/Core/Transports/ServerUtils/ServerAPI.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

IDE0005 violation
  Core/Core/Helpers/Http.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(Revit): Only physical connectors can have an origin property. (#3618)
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertConnector.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Fixed issue with Meters to Km unit scalling
  Core/Core/Kits/Units.cs
  Core/Tests/Speckle.Core.Tests.Unit/Kits/UnitsTest.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks
