Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.3.1
  python: circleci/python@2.0.3

jobs:
  setup:
    executor: python/default
    steps:
      - checkout # checkout code
      - when:
          condition:
            and:
              - not:
                  equal: [main, << pipeline.git.branch >>]
              - not:
                  matches:
                    pattern: ".*/?ci/.*"
                    value: << pipeline.git.branch >>
              - not:
                  matches:
                    pattern: ".*/all$"
                    value: << pipeline.git.tag >>
          steps:
            - run: git branch internal_circleci
            - path-filtering/set-parameters:
                mapping: |
                  Core/.* core true
                  (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.* rhino true
                  (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.* revit true
                  (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.* dynamo true
                  (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.* autocadcivil true
                  (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.* csi true
                  (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.* bentley true
                  (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.* teklastructures true
                  (Core|Objects|ConnectorArchicad)/.* archicad true
                  (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.* navisworks true
                base-revision: main
                output-path: .circleci/scripts/parameters.json
      - run: cat .circleci/scripts/parameters.json
      - run: pip install pyyaml
      - run: # run a command
          name: Generate config
          command: |
            python .circleci/scripts/config-generator.py -d ${CIRCLE_TAG:-none} -o .circleci/continuation-config.yml -e ${CIRCLE_PR_REPONAME:-none}
      - continuation/continue:
          configuration_path: .circleci/continuation-config.yml # use newly generated config to continue
workflows:
  setup:
    jobs:
      - setup:
          name: Build Setup
      - setup:
          name: Deploy Setup
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^(nugets\/)?([0-9]+)\.([0-9]+)\.([0-9]+)(?:-\w+)?(\/all)?$/

Fix(Styling): fix remaining styling issues after squash
  Core/Core/Api/GraphQL/Models.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Remove unused using statements
  ConnectorRhino/ConnectorRhinoWebUI/Properties/AssemblyInfo.cs
Due: rhino

feat(civil3d): CNX-8013 adds design speeds to alignments (#3086)
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Add solution filter for DUI3 projects
  DUI3.slnf
Due: none

Chore(Dui3): Add slnf for DUI3 projects (#3088)
  DUI3.slnf
Due: none

Deprecated serailizer v1 for sending
  Core/Core/Api/Operations/Operations.Send.cs
  Core/Core/Api/Operations/Operations.Serialize.cs
  Core/Core/Kits/Applications.cs
  Core/Core/Transports/Exceptions.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fixed typo
  Core/Core/Models/Base.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Deprecated send using v1 deserailize and offered cleaner overloads to send function
  Core/Core/Api/Operations/Operations.Send.cs
  Core/Core/Serialisation/BaseObjectSerializerV2.cs
  Core/Core/Transports/ITransport.cs
  Core/Core/Transports/Memory.cs
  Core/IntegrationTests/Api.cs
  Core/IntegrationTests/ServerTransportTests.cs
  Core/IntegrationTests/Subscriptions/Commits.cs
  Core/Transports/DiskTransport/DiskTransport.cs
  Directory.Build.props
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

chore(all): Flag CA1806 as error in CI
  Directory.Build.props
Due: none

fix(objects): Remove obsolete warning that had CA1806 warning.
  Objects/Objects/BuiltElements/Wall.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(revit): Fix usage of obsolete `Wall.surface`
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertFaceWall.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(rhino/gh): CTX-8340 CTX-8341 - Fixes CA1806 in Rhino/Grasshopper projects
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(csi): Removes unnecessary `ToList` calls that were not saving the output
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Analysis/ConvertModel.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(csi): Fixed output of `GetAllNamesOfObjectType` for `"Model"` input type.
  ConnectorCSI/ConnectorCSIShared/Util/ConnectorCSIUtils.cs
Due: csi

fix(rhino/gh): CNX-8340 CNX-8341 - Fixes CA1806 in Rhino/Grasshopper projects (#3091)
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

unnecessary using directive
  Core/IntegrationTests/Subscriptions/Commits.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(navisworks): Local build was missing a using statement
  ConnectorNavisworks/ConnectorNavisworks/Entry/Ribbon.xaml.cs
Due: navisworks

fix(navisworks): Local build was missing a using statement (#3093)
  ConnectorNavisworks/ConnectorNavisworks/Entry/Ribbon.xaml.cs
Due: navisworks

fixed issue with checking struct for null
  ConnectorDynamo/ConnectorDynamoFunctions/Functions.cs
Due: dynamo

Feat(Core)!: Cleaner Send overloads with clear exception throws (#3089)
  ConnectorDynamo/ConnectorDynamoFunctions/Functions.cs
  Core/Core/Api/Operations/Operations.Send.cs
  Core/Core/Api/Operations/Operations.Serialize.cs
  Core/Core/Kits/Applications.cs
  Core/Core/Models/Base.cs
  Core/Core/Serialisation/BaseObjectSerializerV2.cs
  Core/Core/Transports/Exceptions.cs
  Core/Core/Transports/ITransport.cs
  Core/Core/Transports/Memory.cs
  Core/IntegrationTests/Api.cs
  Core/IntegrationTests/ServerTransportTests.cs
  Core/IntegrationTests/Subscriptions/Commits.cs
  Core/Transports/DiskTransport/DiskTransport.cs
  Directory.Build.props
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Add exception handling and logging for unhandled exceptions in Navisworks command plugin
  ConnectorNavisworks/ConnectorNavisworks/Entry/SpeckleNavisworksCommand.cs
Due: navisworks

Refactor error handling in SpeckleNavisworksCommandPlugin
  ConnectorNavisworks/ConnectorNavisworks/Entry/SpeckleNavisworksCommand.cs
Due: navisworks

XML Comments
  ConnectorNavisworks/ConnectorNavisworks/Entry/SpeckleNavisworksCommand.cs
Due: navisworks

fix ca 1806 (mostly)
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertRebar.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitVersionHelper.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(csi): CNX-8342 Fix CA1806 for CSI projects (#3092)
  ConnectorCSI/ConnectorCSIShared/Util/ConnectorCSIUtils.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Analysis/ConvertModel.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

adds rhino 8 connector and converter to all and rhino sln filter
  All.sln
  ConnectorRhino/ConnectorRhino.slnf
  ConnectorRhino/ConnectorRhino8/ConnectorRhino8.csproj
  ConnectorRhino/ConnectorRhino8/Properties/launchSettings.json
  Core/Core/Kits/Applications.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhino8/ConverterRhino8.csproj
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/BrepEncoder.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Geometry.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Update launchSettings.json
  ConnectorRhino/ConnectorRhino8/Properties/launchSettings.json
Due: rhino

suppress warning in class
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertGeometry.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Fix CA1806 for Revit (#3096)
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertGeometry.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertRebar.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitVersionHelper.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fixed spelling mistake
  Core/Core/Models/Base.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(dyn): CA1806 warnings in Dynamo
  ConnectorDynamo/ConnectorDynamoFunctions/BatchConverter.cs
Due: dynamo

fix(dyn): CNX-8344 Fix CA1806 in Dynamo projects (#3097)
  ConnectorDynamo/ConnectorDynamoFunctions/BatchConverter.cs
Due: dynamo

Updated send overloads to make use of sqlite cache more explicit
  Automate/Speckle.Automate.Sdk/AutomationContext.cs
  Automate/Tests/Speckle.Automate.Sdk.Tests.Integration/SpeckleAutomate.cs
  ConnectorDynamo/ConnectorDynamoFunctions/Developer/Local.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Operations.SendLocalComponent.cs
  Core/Core/Api/Helpers.cs
  Core/Core/Api/Operations/Operations.Send.cs
  Core/Core/Api/Operations/Operations.cs
  Core/Core/Transports/SQLite.cs
  Core/IntegrationTests/Api.cs
  Core/IntegrationTests/ServerTransportTests.cs
  Core/IntegrationTests/Subscriptions/Commits.cs
  Core/Tests/ClosureTests.cs
  Core/Tests/SendReceiveLocal.cs
  DesktopUI2/DesktopUI2/ConnectorHelpers.cs
  Directory.Build.props
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Extra overload to smooth backwards compat
  Core/Core/Api/Operations/Operations.Send.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(dui): broken fe2 url when in oneclick mode
  DesktopUI2/DesktopUI2/ViewModels/OneClickViewModel.cs
Due: none

Added net runtime version info to global logging
  Core/Core/Logging/SpeckleLog.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

include custom properties
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertProjectInfo.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

updates missing rhino 8 directives
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/Plugin.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Utils.cs
  ConnectorRhino/ConnectorRhino8/Properties/launchSettings.json
Due: rhino
