Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.3.1
  python: circleci/python@2.0.3

jobs:
  setup:
    executor: python/default
    steps:
      - checkout # checkout code
      - when:
          condition:
            and:
              - not:
                  equal: [main, << pipeline.git.branch >>]
              - not:
                  matches:
                    pattern: ".*/?ci/.*"
                    value: << pipeline.git.branch >>
              - not:
                  matches:
                    pattern: ".*/all$"
                    value: << pipeline.git.tag >>
          steps:
            - run: git branch internal_circleci
            - path-filtering/set-parameters:
                mapping: |
                  Core/.* core true
                  (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.* rhino true
                  (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.* revit true
                  (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.* dynamo true
                  (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.* autocadcivil true
                  (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.* csi true
                  (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.* bentley true
                  (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.* teklastructures true
                  (Core|Objects|ConnectorArchicad)/.* archicad true
                  (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.* navisworks true
                base-revision: main
                output-path: .circleci/scripts/parameters.json
      - run: cat .circleci/scripts/parameters.json
      - run: pip install pyyaml
      - run: # run a command
          name: Generate config
          command: |
            python .circleci/scripts/config-generator.py -d ${CIRCLE_TAG:-none} -o .circleci/continuation-config.yml -e ${CIRCLE_PR_REPONAME:-none}
      - continuation/continue:
          configuration_path: .circleci/continuation-config.yml # use newly generated config to continue
workflows:
  setup:
    jobs:
      - setup:
          name: Build Setup
      - setup:
          name: Deploy Setup
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^(nugets\/)?([0-9]+)\.([0-9]+)\.([0-9]+)(?:-\w+)?(\/all)?$/

Update progress bar with a maximum value of 1.0 and fix fractionDone calculation
  ConnectorNavisworks/ConnectorNavisworks/Other/Invokers.cs
Due: navisworks

Fix(Revit) : retrieving types for mep elements (#2758)
  ConnectorRevit/RevitSharedResources/Helpers/Categories.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertDuct.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertPipe.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitElementTypeUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

wip
  ConnectorRhino/ConnectorRhinoWebUI/SpeckleWebUIPanelCef.xaml.cs
  ConnectorRhino/ConnectorRhinoWebUI/SpeckleWebUiPanelWebView2.xaml.cs
  ConnectorRhino/ConnectorRhinoWebUI/WebUIBinding.cs
  DesktopUI3/DUI3/Bridge.cs
  DesktopUI3/DUI3/Interfaces.cs
Due: rhino

removes polyline assignment and constrains facewall to basic wall types
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/MappingBindingsRhino.cs
  DesktopUI2/DesktopUI2/ViewModels/MappingTool/MappingsViewModel.cs
Due: rhino

add support parameter unit
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Fix(Revit) : retrieving types for mep elements (#2758) (#2768)
  ConnectorRevit/RevitSharedResources/Helpers/Categories.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertDuct.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertPipe.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitElementTypeUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(Archicad): build readme update (#2756)
  ConnectorArchicad/README.md
Due: archicad

fix(rhino): mapping constraints on polylines and facewalls (#2769)
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/MappingBindingsRhino.cs
  DesktopUI2/DesktopUI2/ViewModels/MappingTool/MappingsViewModel.cs
Due: rhino

use symbol geom
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertMeshUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix geom call
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertMeshUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

add logging to element mesh retrieval
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertMeshUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Update README.md
  ConnectorArchicad/README.md
Due: archicad

better error reporting
  ConnectorRevit/ConnectorRevit/Revit/ErrorEater.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  Core/Core/Logging/SpeckleLog.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

remove unused code
  ConnectorRevit/ConnectorRevit/Revit/ErrorEater.cs
Due: revit

Fix typo on panel id target
  ConnectorRhino/ConnectorRhinoWebUI/SpeckleWebUIWebView2PanelHost.cs
Due: rhino

fix logging names
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertMeshUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

disable preview receive
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Previews.cs
Due: revit

add autofac
  ConnectorRevit/ConnectorRevit/ConnectorRevit.projitems
  ConnectorRevit/ConnectorRevit/Operations/ReceiveOperation.cs
  ConnectorRevit/ConnectorRevit/Storage/StreamStateCache.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.cs
  ConnectorRevit/ConnectorRevit2023/ConnectorRevit2023.csproj
Due: revit

add more catch
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

dui3
  ConnectorRhino/ConnectorRhinoWebUI/SpeckleWebUIPanelCef.xaml.cs
  ConnectorRhino/ConnectorRhinoWebUI/SpeckleWebUiPanelWebView2.xaml.cs
  ConnectorRhino/ConnectorRhinoWebUI/WebUIBinding.cs
  DesktopUI3/DUI3/Bridge.cs
  DesktopUI3/DUI3/Interfaces.cs
  DesktopUI3/DUI3/Models.cs
Due: rhino

Add detail unit value parameter define
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAnalyticalSurface.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertProfileWall.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRailing.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRoof.cs
  Objects/Objects/BuiltElements/Revit/Parameter.cs
  Objects/Objects/BuiltElements/Revit/Units.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

cover catch with revit lower version
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

allow null units
  Objects/Objects/BuiltElements/Revit/Units.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Fix(Revit): disable preview receive (#2772)
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Previews.cs
Due: revit

Transport tests
  Core/Core/Api/Operations/Operations.Receive.cs
  Core/Core/Transports/SQLite.cs
  Core/Core/Transports/ServerUtils/ParallelServerAPI.cs
  Core/Tests/Models/ObjectModelDeprecationTests.cs
  Core/Tests/Transports/SQLiteTransportTests.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

lazy initialize receivedObjectIdMap
  ConnectorRevit/ConnectorRevit/Operations/ReceiveOperation.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

add model units, save time send data
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertModel.cs
  Objects/Objects/BuiltElements/Revit/Parameter.cs
  Objects/Objects/BuiltElements/Revit/Units.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Included exception in logs + ensured stack trace from error eater
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  Core/Core/Logging/SpeckleLog.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Added non user facing speckle exception
  ConnectorRevit/ConnectorRevit/Revit/ErrorEater.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  Core/Core/Logging/SpeckleException.cs
  Core/Core/Logging/SpeckleNonUserFacingException.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Fix(Revit): Better reporting of critical errors in Revit (#2771)
  ConnectorRevit/ConnectorRevit/Revit/ErrorEater.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  Core/Core/Logging/SpeckleException.cs
  Core/Core/Logging/SpeckleLog.cs
  Core/Core/Logging/SpeckleNonUserFacingException.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(objects): only load converters matching the version of the Objects dll (#2761)
  ConnectorRevit/ConnectorRevit/Entry/App.cs
  Objects/Objects/ObjectsKit.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Fix (Revit): fix for nested geometry instances (#2760)
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertMeshUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

receive instances in Tekla
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/UI/ConnectorBindingsTeklaStructures.Receive.cs
  Core/Core/Models/GraphTraversal/DefaultTraversal.cs
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructures2022/ConverterTeklaStructures2022.csproj
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/ConverterTeklaStructures.cs
  Objects/Objects/Other/Instance.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

implement a second type map for the current operation only
  ConnectorRevit/ConnectorRevit/TypeMapping/ElementTypeMapper.cs
  ConnectorRevit/ConnectorRevit/TypeMapping/TypeMap.cs
Due: revit

support v20
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertModel.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

various .net bridge chores
  ConnectorRhino/ConnectorRhinoWebUI/Properties/launchSettings.json
  ConnectorRhino/ConnectorRhinoWebUI/SpeckleWebUIPanelCef.xaml.cs
  ConnectorRhino/ConnectorRhinoWebUI/SpeckleWebUiPanelWebView2.xaml.cs
  ConnectorRhino/ConnectorRhinoWebUI/WebUIBinding.cs
  DesktopUI3/DUI3/Bridge.cs
  DesktopUI3/DUI3/TestBinding.cs
Due: rhino

Feat(Tekla) : receive instances in Tekla (#2774)
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/UI/ConnectorBindingsTeklaStructures.Receive.cs
  Core/Core/Models/GraphTraversal/DefaultTraversal.cs
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructures2022/ConverterTeklaStructures2022.csproj
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/ConverterTeklaStructures.cs
  Objects/Objects/Other/Instance.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

simplify method signatures
  ConnectorRevit/ConnectorRevit/TypeMapping/ElementTypeMapper.cs
  ConnectorRevit/ConnectorRevit/TypeMapping/TypeMap.cs
Due: revit

wip receive operation
  ConnectorRevit/ConnectorRevit/Operations/ReceiveOperation.cs
Due: revit
