Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.3.1
  python: circleci/python@2.0.3

jobs:
  setup:
    executor: python/default
    steps:
      - checkout # checkout code
      - path-filtering/set-parameters:
          mapping: |
            Core/.* run_core true
            (Core|Objects|ConnectorRhino|.*/ConverterRhinoGh)/.* rhino true
            (Core|Objects|ConnectorGrasshopper|.*/ConverterRhinoGh)/.* grasshopper true
            (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.* revit true
            (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.* dynamo true
            (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.* autocadcivil true
            (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.* csi true
            (Core|Objects|ConnectorMicroStation|.*/ConverterMicroStation)/.* microstation true
            (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.* teklastructures true
            (Core|Objects|ConnectorArchicad)/.* archicad true
          base-revision: main
          output-path: .circleci/scripts/parameters.json
      - run:
          name: LS scripts folders
          command: ls .circleci/scripts
      - run: cat .circleci/scripts/parameters.json
      - run: pip install pyyaml
      - run: # run a command
          name: Generate config
          command: |
            python .circleci/scripts/config-generator.py
      - continuation/continue:
          configuration_path: .circleci/continuation-config.yml # use newly generated config to continue

workflows:
  setup:
    jobs:
      - setup

feat(blobs): adds noise to obj and removes cache bypass hack
  Core/Core/Api/Operations/Operations.Receive.cs
  Core/IntegrationTests/Fixtures.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(ci): Removes -mac suffix from slug as OS is now it's own parameter
  .circleci/scripts/config-generator.py
Due: none

fix(ci): Removes -mac suffix from slug as OS is now it's own parameter (#1462)
  .circleci/scripts/config-generator.py
Due: none

fix: Bumped leftover avalonia 0.10.16 refs
  ConnectorRhino/ConnectorRhino7/ConnectorRhino7.csproj
  DesktopUI2/AvaloniaHwndHost/AvaloniaHwndHost.csproj
Due: rhino

Changes user info from dict to Base
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Utils.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Phase string added
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Add phase parameter to ConvertToSpeckle
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

converter attributes bug fix
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Utils.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

rhino: changes user attributes from dict to base (#1464)
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Utils.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat(dui): disables preview button when InProgress
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Receive.cs
  DesktopUI2/DesktopUI2/Controls/PreviewButton.xaml
  DesktopUI2/DesktopUI2/Views/Pages/StreamEditControls/Receive.xaml
  DesktopUI2/DesktopUI2/Views/Pages/StreamEditControls/Send.xaml
Due: revit

Revit: Adds support for wall hosted opening families (#1452)
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertLevel.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertWall.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(revit): workaround for #1469
  ConnectorRevit/ConnectorRevit/Entry/App.cs
  ConnectorRevit/ConnectorRevit/Entry/SpeckleRevitCommand2.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Events.cs
Due: revit

Added new network classes
  Objects/Objects/BuiltElements/Fitting.cs
  Objects/Objects/BuiltElements/Revit/FamilyInstance.cs
  Objects/Objects/Organization/Network.cs
  Objects/Objects/Organization/NetworkLink.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Added network element and indices
  Objects/Objects/Organization/Network.cs
  Objects/Objects/Organization/NetworkElement.cs
  Objects/Objects/Organization/NetworkLink.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

added folders
  ConnectorDlubal/ConnectorRFEM6/README.md
  ConnectorDlubal/ConnectorRSTAB9/README.md
Due: none

fix(rhino): init issue fix attempt (#1453)
  ConnectorRhino/ConnectorRhino.sln
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/Plugin.cs
  ConnectorRhino/ConnectorRhino6/Properties/AssemblyInfo.cs
  ConnectorRhino/ConnectorRhino7/Properties/AssemblyInfo.cs
Due: rhino

Mappings working when receiving etabs commit
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2 .Settings.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Receive.cs
  DesktopUI2/DesktopUI2/ViewModels/MappingViewModel.cs
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/MappingViewDialog.xaml
Due: revit

existing mapping updates correctly
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Receive.cs
Due: revit

Modified dialog message as per Connor's comments
  ConnectorRevit/ConnectorRevit/Entry/SpeckleRevitCommand2.cs
Due: revit

fix(revit): workaround for #1469 (#1470)
  ConnectorRevit/ConnectorRevit/Entry/App.cs
  ConnectorRevit/ConnectorRevit/Entry/SpeckleRevitCommand2.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Events.cs
Due: revit

switches to report tab on preview click
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  DesktopUI2/DesktopUI2/Views/Pages/StreamEditControls/Send.xaml
  DesktopUI2/DesktopUI2/Views/Pages/StreamEditView.xaml
Due: none

fix(gh): Fixed Setup.Init call on Loader.cs + added comments
  ConnectorGrasshopper/ConnectorGrasshopper/Loader.cs
Due: grasshopper

mapping works for etabs!
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Receive.cs
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/MappingViewDialog.xaml
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAnalyticalStick.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(gh): Switched to using unit name from Enum instead of localised units
  ConnectorGrasshopper/ConnectorGrasshopper/SchemaBuilder/CreateSchemaObject.cs
  ConnectorGrasshopper/ConnectorGrasshopper/SchemaBuilder/CreateSchemaObjectBase.cs
Due: grasshopper

fix for installer
  ConnectorTeklaStructures/ConnectorTeklaStructures2020/Properties/AssemblyInfo.cs
  ConnectorTeklaStructures/ConnectorTeklaStructures2021/Properties/AssemblyInfo.cs
Due: teklastructures

fix(gh): Switched to using unit name from Enum instead of localised units (#1475)
  ConnectorGrasshopper/ConnectorGrasshopper/SchemaBuilder/CreateSchemaObject.cs
  ConnectorGrasshopper/ConnectorGrasshopper/SchemaBuilder/CreateSchemaObjectBase.cs
Due: grasshopper

Tekla: Fix AssemblyVersion for Installer (#1476)
  ConnectorTeklaStructures/ConnectorTeklaStructures2020/Properties/AssemblyInfo.cs
  ConnectorTeklaStructures/ConnectorTeklaStructures2021/Properties/AssemblyInfo.cs
Due: teklastructures

filtering types works with etabs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Receive.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.cs
  DesktopUI2/DesktopUI2/ViewModels/MappingViewModel.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Works for Revit (again)
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Receive.cs
Due: revit

fix(archicad): self contained proj
  ConnectorArchicad/ConnectorArchicad/ConnectorArchicad.csproj
Due: archicad

ci: do not create pre-release channels
  .circleci/scripts/config-template.yml
Due: none

ci
  .circleci/scripts/config-template.yml
Due: none

fix(revit): dupe walls if embedded
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Revert "fix(archicad): self contained proj"
  ConnectorArchicad/ConnectorArchicad/ConnectorArchicad.csproj
Due: archicad

fix(revit): duped walls
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Revit/dupes fix (#1482)
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

WIP receive object mesh to account for all software
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/UI/ConnectorBindingsTeklaStructures.Receive.cs
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/ConverterTeklaStructures.cs
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/Partial Classes/ConvertBeam.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad
