Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Update Vector.cs (#1875)
  Objects/Objects/Geometry/Vector.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

update all installers to net6 (#2006)
  .circleci/scripts/config-template.yml
Due: none

remove converter references in connector
  ConnectorTeklaStructures/ConnectorTeklaStructures.sln
  ConnectorTeklaStructures/ConnectorTeklaStructures2020/ConnectorTeklaStructures2020.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructures2021/ConnectorTeklaStructures2021.csproj
Due: teklastructures

feat: mappings work (#2007)
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/MappingBindingsRhino.cs
  DesktopUI2/DesktopUI2/DummyMappingsBindings.cs
  DesktopUI2/DesktopUI2/MappingsBindings.cs
  DesktopUI2/DesktopUI2/ViewModels/MappingTool/MappingsViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  DesktopUI2/DesktopUI2/Views/Filters/ManualFilterView.xaml
  DesktopUI2/DesktopUI2/Views/MappingsControl.xaml
  DesktopUI2/DesktopUI2/Views/MappingsControl.xaml.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Adoption of Speckle.Navisworks.Api Nugets
  ConnectorNavisworks/ConnectorNavisworks.2020/ConnectorNavisworks.2020.csproj
  ConnectorNavisworks/ConnectorNavisworks.2021/ConnectorNavisworks.2021.csproj
  ConnectorNavisworks/ConnectorNavisworks.2022/ConnectorNavisworks.2022.csproj
  ConnectorNavisworks/ConnectorNavisworks.2023/ConnectorNavisworks.2023.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks.2020/ConverterNavisworks.2020.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks.2021/ConverterNavisworks.2021.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks.2022/ConverterNavisworks.2022.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks.2023/ConverterNavisworks.2023.csproj
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Rebuild of Connector Solution
  ConnectorNavisworks/ConnectorNavisworks.sln
Due: none

Send traversal refactor 1
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings_Send.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Remove local assembly references
  Objects/Converters/ConverterNavisworks/ConverterNavisworks.2020/ConverterNavisworks.2020.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks.2021/ConverterNavisworks.2021.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks.2022/ConverterNavisworks.2022.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks.2023/ConverterNavisworks.2023.csproj
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

origin
  .circleci/scripts/config-template.yml
Due: none

ls
  .circleci/scripts/config-template.yml
Due: none

checkout
  .circleci/scripts/config-template.yml
Due: none

cherry pick
  .circleci/scripts/config-template.yml
  ConnectorArchicad/AddOn/Sources/AddOn/AddOnMain.cpp
Due: archicad

Store artifact
  .circleci/scripts/config-template.yml
Due: none

Revert
  .circleci/scripts/config-template.yml
Due: none

Use only publish folder of mac installer
  .circleci/scripts/config-template.yml
Due: none

Installer error with multiple users on mac #51 (#1984)
  .circleci/scripts/config-template.yml
  ConnectorArchicad/AddOn/Sources/AddOn/AddOnMain.cpp
Due: archicad

add doc id to xdata on send
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Utils.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Additional Converter Versions added for Navisworks
  Objects/Objects.sln
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Navisworks Installer additions
  .circleci/config.yml
  .circleci/scripts/connector-jobs.yml
  .circleci/scripts/parameters.json
Due: none

added shared files to the shared proj
  ConnectorTeklaStructures/ConnectorTeklaStructures2020/ConnectorTeklaStructures2020.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructures2020/MainForm.Designer.cs
  ConnectorTeklaStructures/ConnectorTeklaStructures2020/MainForm.cs
  ConnectorTeklaStructures/ConnectorTeklaStructures2021/ConnectorTeklaStructures2021.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructures2021/MainForm.resx
  ConnectorTeklaStructures/ConnectorTeklaStructures2021/MainPlugin.cs
  ConnectorTeklaStructures/ConnectorTeklaStructures2021/et_element_Speckle.ConnectorTeklaStructures.bmp
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/ConnectorTeklaStructuresShared.projitems
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/MainForm.Designer.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/MainForm.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/MainForm.resx
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/MainPlugin.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/et_element_Speckle.ConnectorTeklaStructures.bmp
Due: teklastructures

copy objects to programData on tekla converter build
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructures2020/ConverterTeklaStructures2020.csproj
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructures2021/ConverterTeklaStructures2021.csproj
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

added converter 2022
  ConnectorTeklaStructures/ConnectorTeklaStructures.sln
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructures2021/Properties/launchSettings.json
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructures2022/ConverterTeklaStructures2022.csproj
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

add connector2022 and upgrade nuget packages
  ConnectorTeklaStructures/ConnectorTeklaStructures.sln
  ConnectorTeklaStructures/ConnectorTeklaStructures2022/ConnectorTeklaStructures2022.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructures2022/Properties/AssemblyInfo.cs
Due: teklastructures

style: Renaming Bindings partials
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Events.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.File.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Filters.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Mapping.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Objects.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Receive.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Selections.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
Due: none

delete: cruft file
  ConnectorNavisworks/ConnectorNavisworks/Entry/RimshotPane.xaml
  ConnectorNavisworks/ConnectorNavisworks/Entry/RimshotPane.xaml.cs
Due: none

style: renaming Version Projects for Connector and Converter
  ConnectorNavisworks/ConnectorNavisworks.2020/ConnectorNavisworks2020.csproj
  ConnectorNavisworks/ConnectorNavisworks.2021/ConnectorNavisworks2021.csproj
  ConnectorNavisworks/ConnectorNavisworks.2022/ConnectorNavisworks2022.csproj
  ConnectorNavisworks/ConnectorNavisworks.2023/ConnectorNavisworks2023.csproj
  ConnectorNavisworks/ConnectorNavisworks/ConnectorNavisworks.Shared.projitems
  Objects/Converters/ConverterNavisworks/ConverterNavisworks.2020/ConverterNavisworks2020.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks.2021/ConverterNavisworks2021.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks.2022/ConverterNavisworks2022.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks.2023/ConverterNavisworks2023.csproj
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix: remove errant dependency and missing file
  DesktopUI2/DesktopUI2/DesktopUI2.csproj
Due: none

fix: repoint solution to renamed version projects
  ConnectorNavisworks/ConnectorNavisworks.sln
Due: none

edited post build events
  ConnectorTeklaStructures/ConnectorTeklaStructures2020/ConnectorTeklaStructures2020.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructures2021/ConnectorTeklaStructures2021.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructures2022/ConnectorTeklaStructures2022.csproj
Due: teklastructures

fix: repointing to renamed projects
  All.sln
  ConnectorNavisworks/ConnectorNavisworks2020/ConnectorNavisworks2020.csproj
  ConnectorNavisworks/ConnectorNavisworks2020/Properties/launchSettings.json
  ConnectorNavisworks/ConnectorNavisworks2021/ConnectorNavisworks2021.csproj
  ConnectorNavisworks/ConnectorNavisworks2021/Properties/launchSettings.json
  ConnectorNavisworks/ConnectorNavisworks2022/ConnectorNavisworks2022.csproj
  ConnectorNavisworks/ConnectorNavisworks2022/Properties/launchSettings.json
  ConnectorNavisworks/ConnectorNavisworks2023/ConnectorNavisworks2023.csproj
  ConnectorNavisworks/ConnectorNavisworks2023/Properties/launchSettings.json
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2020/ConverterNavisworks2020.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2021/ConverterNavisworks2021.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2022/ConverterNavisworks2022.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2023/ConverterNavisworks2023.csproj
  Objects/Objects.sln
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix: repointing to renamed projects
  ConnectorNavisworks/ConnectorNavisworks.sln
Due: none

fix: Remove Colorful.Console package
  ConnectorNavisworks/ConnectorNavisworks2020/ConnectorNavisworks2020.csproj
  ConnectorNavisworks/ConnectorNavisworks2021/ConnectorNavisworks2021.csproj
  ConnectorNavisworks/ConnectorNavisworks2022/ConnectorNavisworks2022.csproj
  ConnectorNavisworks/ConnectorNavisworks2023/ConnectorNavisworks2023.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2020/ConverterNavisworks2020.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2021/ConverterNavisworks2021.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2022/ConverterNavisworks2022.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2023/ConverterNavisworks2023.csproj
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

style: remove unused directives
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Selections.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.cs
  ConnectorNavisworks/ConnectorNavisworks/Utils.cs
  DesktopUI2/DesktopUI2/Models/Filters/TreeSelectionFilter.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Other.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToNative.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToSpeckle.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Utils.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix: adapting logging helpers to do without Colurful.Console
  ConnectorNavisworks/ConnectorNavisworks/Utils.cs
Due: none

2022 now working!
  ConnectorTeklaStructures/ConnectorTeklaStructures2022/ConnectorTeklaStructures2022.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/Util/ConnectorTeklaStructuresUtils.cs
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructures2022/ConverterTeklaStructures2022.csproj
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/ConverterTeklaStructures.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

do something unknown to get rid of error messages from tekla
  ConnectorTeklaStructures/ConnectorTeklaStructures2020/ConnectorTeklaStructures2020.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructures2021/ConnectorTeklaStructures2021.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructures2022/ConnectorTeklaStructures2022.csproj
Due: teklastructures

git rid of useless .config files
  ConnectorTeklaStructures/ConnectorTeklaStructures2020/ConnectorTeklaStructures2020.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructures2020/app.config
  ConnectorTeklaStructures/ConnectorTeklaStructures2020/packages.config
  ConnectorTeklaStructures/ConnectorTeklaStructures2021/ConnectorTeklaStructures2021.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructures2021/Exclude.txt
  ConnectorTeklaStructures/ConnectorTeklaStructures2021/app.config
  ConnectorTeklaStructures/ConnectorTeklaStructures2021/logo.png
  ConnectorTeklaStructures/ConnectorTeklaStructures2021/packages.config
Due: teklastructures

git rid of exclude option in post build events
  ConnectorTeklaStructures/ConnectorTeklaStructures2020/ConnectorTeklaStructures2020.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructures2021/ConnectorTeklaStructures2021.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructures2022/ConnectorTeklaStructures2022.csproj
Due: teklastructures

fix: PostBuildEvent rationalisation and Release target for installer
  ConnectorNavisworks/ConnectorNavisworks2020/ConnectorNavisworks2020.csproj
  ConnectorNavisworks/ConnectorNavisworks2021/ConnectorNavisworks2021.csproj
  ConnectorNavisworks/ConnectorNavisworks2022/ConnectorNavisworks2022.csproj
  ConnectorNavisworks/ConnectorNavisworks2023/ConnectorNavisworks2023.csproj
Due: none

Path conditions:
  run_core: any of: Core/.*
  rhino: any of: (Core|Objects|ConnectorRhino|.*/ConverterRhinoGh)/.*
  grasshopper: any of: (Core|Objects|ConnectorGrasshopper|.*/ConverterRhinoGh)/.*
  revit: any of: (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.*
  dynamo: any of: (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.*
  autocadcivil: any of: (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.*
  csi: any of: (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.*
  microstation: any of: (Core|Objects|ConnectorMicroStation|.*/ConverterMicroStation)/.*
  teklastructures: any of: (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.*
  archicad: any of: (Core|Objects|ConnectorArchicad)/.*
