Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Removed generic args from graphql exception types
  Core/Core/Api/Exceptions.cs
  Core/Core/Api/GraphQL/Client.cs
  Core/Core/Api/GraphQL/Legacy/Client.GraphqlCleintOperations/Client.StreamOperations.cs
  Core/Core/Api/GraphQL/Resources/ProjectInviteResource.cs
  Core/Core/Api/GraphQL/Resources/ProjectResource.cs
  Core/Core/Api/Helpers.cs
  Core/Tests/Speckle.Core.Tests.Integration/GraphQLCLient.cs
  Core/Tests/Speckle.Core.Tests.Unit/Api/GraphQLClient.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

remove unused revit dependency
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/packages.lock.json
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.Autocad2023/packages.lock.json
  DUI3-DX/Connectors/Revit/Speckle.Connectors.Revit2023/packages.lock.json
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/packages.lock.json
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3.DependencyInjection/packages.lock.json
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/packages.lock.json
  DUI3-DX/Converters/Autocad/Speckle.Converters.Autocad2023.DependencyInjection/packages.lock.json
  DUI3-DX/Converters/Autocad/Speckle.Converters.Autocad2023/packages.lock.json
  DUI3-DX/Converters/Revit/Speckle.Converters.Revit2023.DependencyInjection/packages.lock.json
  DUI3-DX/Converters/Revit/Speckle.Converters.Revit2023.Tests/packages.lock.json
  DUI3-DX/Converters/Revit/Speckle.Converters.Revit2023/packages.lock.json
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7.DependencyInjection/packages.lock.json
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/packages.lock.json
  DUI3-DX/Sdk/Speckle.Converters.Common.DependencyInjection/packages.lock.json
  DUI3-DX/Sdk/Speckle.Converters.Common.Tests/packages.lock.json
  DUI3-DX/Sdk/Speckle.Converters.Common/Speckle.Converters.Common.csproj
  DUI3-DX/Sdk/Speckle.Converters.Common/packages.lock.json
Due: none

Don't use new solution
  All-v3.sln
  DUI3-DX.slnf
Due: none

remove unused file
  DUI3-DX/Sdk/Speckle.Converters.Common/Speckle.Converters.Common.csproj.DotSettings
Due: none

Fixed tests
  Core/Core/Api/GraphQL/Legacy/Client.GraphqlCleintOperations/Client.StreamOperations.cs
  Core/Core/Api/GraphQL/Models/Responses/Responses.cs
  Core/Core/Api/GraphQL/Resources/ActiveUserResource.cs
  Core/Core/Api/GraphQL/Resources/OtherUserResource.cs
  Core/Core/Credentials/AccountManager.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/ActiveUserResourceTests.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/ModelResourceTests.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/OtherUserResourceTests.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/ProjectInviteResourceTests.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/ProjectResourceExceptionalTests.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/ProjectResourceTests.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/ResourcesTestsFixture.cs
  Core/Tests/Speckle.Core.Tests.Integration/Fixtures.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

update core
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/packages.lock.json
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.Autocad2023/packages.lock.json
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.Civil3d2024/Speckle.Connectors.Civil3d2024.csproj
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.Civil3d2024/packages.lock.json
  DUI3-DX/Connectors/Revit/Speckle.Connectors.Revit2023/packages.lock.json
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/packages.lock.json
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3.DependencyInjection/packages.lock.json
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/packages.lock.json
  DUI3-DX/Converters/Autocad/Speckle.Converters.Autocad2023.DependencyInjection/packages.lock.json
  DUI3-DX/Converters/Autocad/Speckle.Converters.Autocad2023/packages.lock.json
  DUI3-DX/Converters/Autocad/Speckle.Converters.Autocad2024.DependencyInjection/packages.lock.json
  DUI3-DX/Converters/Autocad/Speckle.Converters.Autocad2024/packages.lock.json
  DUI3-DX/Converters/Revit/Speckle.Converters.Revit2023.DependencyInjection/packages.lock.json
  DUI3-DX/Converters/Revit/Speckle.Converters.Revit2023.Tests/packages.lock.json
  DUI3-DX/Converters/Revit/Speckle.Converters.Revit2023/packages.lock.json
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7.DependencyInjection/packages.lock.json
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/packages.lock.json
  DUI3-DX/DUI3/Speckle.Connectors.DUI.WebView/packages.lock.json
  DUI3-DX/DUI3/Speckle.Connectors.DUI/Speckle.Connectors.DUI.csproj
  DUI3-DX/DUI3/Speckle.Connectors.DUI/packages.lock.json
  DUI3-DX/Sdk/Speckle.Connectors.Utils/Speckle.Connectors.Utils.csproj
  DUI3-DX/Sdk/Speckle.Connectors.Utils/packages.lock.json
  DUI3-DX/Sdk/Speckle.Converters.Common.DependencyInjection/packages.lock.json
  DUI3-DX/Sdk/Speckle.Converters.Common.Tests/packages.lock.json
  DUI3-DX/Sdk/Speckle.Converters.Common/Speckle.Converters.Common.csproj
  DUI3-DX/Sdk/Speckle.Converters.Common/packages.lock.json
Due: none

More tests
  Core/Core/Api/GraphQL/Inputs/ModelInputs.cs
  Core/Core/Api/GraphQL/Inputs/ProjectInputs.cs
  Core/Core/Api/GraphQL/Resources/ModelResource.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/ActiveUserResourceTests.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/ModelResourceExceptionalTests.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/ModelResourceTests.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/ProjectResourceExceptionalTests.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/ProjectResourceTests.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(dui3): blocks correctly handled in acad
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/DependencyInjection/AutocadConnectorModule.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/HostApp/AutocadInstanceObjectManager.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/HostApp/AutocadLayerManager.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Operations/Receive/AutocadHostObjectBuilder.cs
Due: none

More tests passing
  Core/Core/Api/GraphQL/Legacy/LegacyGraphQLModels.cs
  Core/Core/Api/GraphQL/Models/PendingStreamCollaborator.cs
  Core/Core/Api/GraphQL/Models/Responses/Responses.cs
  Core/Core/Api/GraphQL/Models/UserInfo.cs
  Core/Core/Api/GraphQL/Resources/ActiveUserResource.cs
  Core/Core/Api/GraphQL/Resources/ProjectInviteResource.cs
  Core/Core/Api/GraphQL/Resources/ProjectResource.cs
  Core/Core/Api/GraphQL/Resources/SubscriptionResource.cs
  Core/Core/Api/GraphQL/ServerRoles.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/ProjectInviteResourceTests.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/ProjectResourceExceptionalTests.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/ProjectResourceTests.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/Legacy.cs
  DesktopUI2/DesktopUI2/DummyBindings.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

working receive, but incorrect object types
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Bindings/RevitReceiveBinding.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/DependencyInjection/RevitConnectorModule.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Operations/Receive/RevitContextAccessor.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Operations/Receive/RevitHostObjectBuilder.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Operations/Receive/TransactionManager.cs
Due: none

update WKT format
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Utils/CRSorigin.cs
Due: none

Update FeatureClassUtils.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Utils/FeatureClassUtils.cs
Due: none

.NotNull will never return null, but cause Exception instead
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Bindings/BasicConnectorBinding.cs
Due: none

show CRS name
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Geometry/PointToSpeckleConverter.cs
Due: none

fixed up multiple autocad versions
  All.sln
  DUI3-DX.slnf
  DUI3-DX/Connectors/Autocad/Directory.Packages.props
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.Autocad2023/Speckle.Connectors.Autocad2023.csproj
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.Civil3d2024/Speckle.Connectors.Civil3d2024.csproj
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.Civil3d2024/packages.lock.json
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/packages.lock.json
  DUI3-DX/Converters/Autocad/2023/Directory.Packages.props
  DUI3-DX/Converters/Autocad/2023/Speckle.Converters.Autocad2023.DependencyInjection/AutocadConverterModule.cs
  DUI3-DX/Converters/Autocad/2023/Speckle.Converters.Autocad2023.DependencyInjection/Speckle.Converters.Autocad2023.DependencyInjection.csproj
  DUI3-DX/Converters/Autocad/2023/Speckle.Converters.Autocad2023.DependencyInjection/packages.lock.json
  DUI3-DX/Converters/Autocad/2023/Speckle.Converters.Autocad2023/Speckle.Converters.Autocad2023.csproj
  DUI3-DX/Converters/Autocad/2023/Speckle.Converters.Autocad2023/packages.lock.json
  DUI3-DX/Converters/Autocad/2024/Directory.Packages.props
  DUI3-DX/Converters/Autocad/2024/Speckle.Converters.Autocad2024.DependencyInjection/AutocadConverterModule.cs
  DUI3-DX/Converters/Autocad/2024/Speckle.Converters.Autocad2024.DependencyInjection/Speckle.Converters.Autocad2024.DependencyInjection.csproj
  DUI3-DX/Converters/Autocad/2024/Speckle.Converters.Autocad2024.DependencyInjection/packages.lock.json
  DUI3-DX/Converters/Autocad/2024/Speckle.Converters.Autocad2024/Speckle.Converters.Autocad2024.csproj
  DUI3-DX/Converters/Autocad/2024/Speckle.Converters.Autocad2024/packages.lock.json
  DUI3-DX/Converters/Autocad/Speckle.Converters.Autocad2023/Speckle.Converters.Autocad2023.csproj
  DUI3-DX/Converters/Autocad/Speckle.Converters.Autocad2024/Speckle.Converters.Autocad2024.csproj
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7.DependencyInjection/Speckle.Converters.Rhino7.DependencyInjection.csproj
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7.DependencyInjection/packages.lock.json
  DUI3-DX/Directory.Build.props
Due: none

do smth in RootObjectBuilder
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Operations/Send/ArcGISRootObjectBuilder.cs
Due: none

don't break DI if Map is still not loaded
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Utils/ArcGisDocumentStore.cs
Due: none

D ui3 299 arc gis not opening saved model cards (#3532)
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Utils/ArcGisDocumentStore.cs
Due: none

exception message
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Utils/FeatureClassUtils.cs
Due: none

more complete constructor
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Utils/CRSoffsetRotation.cs
Due: none

add Send-Receive transforms
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Utils/CRSoffsetRotation.cs
Due: none

Do not send any progress update if cancelled
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Bindings/ArcGISReceiveBinding.cs
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Bindings/ArcGISSendBinding.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Bindings/AutocadReceiveBinding.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Bindings/AutocadSendBinding.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Bindings/RevitSendBinding.cs
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/Bindings/RhinoReceiveBinding.cs
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/Bindings/RhinoSendBinding.cs
  DUI3-DX/DUI3/Speckle.Connectors.DUI/Bindings/IBasicConnectorBinding.cs
Due: none

covnersion added
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

null
  Objects/Converters/ConverterRevit/ConverterRevit2023/ConverterRevit2023.csproj
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

params null
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

proj
  Objects/Converters/ConverterRevit/ConverterRevit2023/ConverterRevit2023.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix up project dependencies
  DUI3-DX/Connectors/Revit/Speckle.Connectors.Revit2023/packages.lock.json
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/packages.lock.json
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3.DependencyInjection/packages.lock.json
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/packages.lock.json
  DUI3-DX/Converters/Autocad/2023/Speckle.Converters.Autocad2023.DependencyInjection/packages.lock.json
  DUI3-DX/Converters/Autocad/2023/Speckle.Converters.Autocad2023/packages.lock.json
  DUI3-DX/Converters/Revit/Speckle.Converters.Revit2023.DependencyInjection/packages.lock.json
  DUI3-DX/Converters/Revit/Speckle.Converters.Revit2023/Speckle.Converters.Revit2023.csproj
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7.DependencyInjection/Speckle.Converters.Rhino7.DependencyInjection.csproj
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7.DependencyInjection/packages.lock.json
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/Speckle.Converters.Rhino7.csproj
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/packages.lock.json
  DUI3-DX/Directory.Packages.props
  DUI3-DX/Sdk/Speckle.Converters.Common.DependencyInjection/packages.lock.json
Due: none

V3 core sdk via nuget (#3533)
  .editorconfig
  DUI3-DX.slnf
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/packages.lock.json
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.Autocad2023/packages.lock.json
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.Civil3d2024/Speckle.Connectors.Civil3d2024.csproj
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.Civil3d2024/packages.lock.json
  DUI3-DX/Connectors/Revit/Speckle.Connectors.Revit2023/packages.lock.json
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Plugin/RevitExternalApplication.cs
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/Plugin/Speckle.Connectors.Rhino7Plugin.cs
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/packages.lock.json
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3.DependencyInjection/packages.lock.json
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Speckle.Converters.ArcGIS3.csproj
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/packages.lock.json
  DUI3-DX/Converters/Autocad/Speckle.Converters.Autocad2023.DependencyInjection/packages.lock.json
  DUI3-DX/Converters/Autocad/Speckle.Converters.Autocad2023/packages.lock.json
  DUI3-DX/Converters/Autocad/Speckle.Converters.Autocad2024.DependencyInjection/packages.lock.json
  DUI3-DX/Converters/Autocad/Speckle.Converters.Autocad2024/packages.lock.json
  DUI3-DX/Converters/Revit/Speckle.Converters.Revit2023.DependencyInjection/packages.lock.json
  DUI3-DX/Converters/Revit/Speckle.Converters.Revit2023.Tests/XyzConversionToPointTests.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.Revit2023.Tests/packages.lock.json
  DUI3-DX/Converters/Revit/Speckle.Converters.Revit2023/packages.lock.json
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Helpers/DisplayValueExtractor.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Helpers/ParameterObjectAssigner.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7.DependencyInjection/packages.lock.json
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/packages.lock.json
  DUI3-DX/DUI3/Speckle.Connectors.DUI.WebView/packages.lock.json
  DUI3-DX/DUI3/Speckle.Connectors.DUI/Speckle.Connectors.DUI.csproj
  DUI3-DX/DUI3/Speckle.Connectors.DUI/packages.lock.json
  DUI3-DX/Sdk/Speckle.Autofac/DependencyInjection/SpeckleContainerBuilder.cs
  DUI3-DX/Sdk/Speckle.Autofac/ExceptionExtensions.cs
  DUI3-DX/Sdk/Speckle.Autofac/Speckle.Autofac.csproj
  DUI3-DX/Sdk/Speckle.Connectors.Utils/Speckle.Connectors.Utils.csproj
  DUI3-DX/Sdk/Speckle.Connectors.Utils/packages.lock.json
  DUI3-DX/Sdk/Speckle.Converters.Common.DependencyInjection/packages.lock.json
  DUI3-DX/Sdk/Speckle.Converters.Common.Tests/packages.lock.json
  DUI3-DX/Sdk/Speckle.Converters.Common/Speckle.Converters.Common.csproj
  DUI3-DX/Sdk/Speckle.Converters.Common/packages.lock.json
Due: none

some changes from reviewing
  Build/Consts.cs
  Build/Program.cs
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/Bindings/RhinoSelectionBinding.cs
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/Bindings/RhinoSendBinding.cs
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/DependencyInjection/RhinoConnectorModule.cs
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/DependencyInjection/RhinoPlugin.cs
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/HostApp/RhinoIdleManager.cs
Due: none

fix up lock files
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/packages.lock.json
  DUI3-DX/Connectors/Revit/Speckle.Connectors.Revit2023/packages.lock.json
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/packages.lock.json
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3.DependencyInjection/packages.lock.json
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/packages.lock.json
  DUI3-DX/Converters/Autocad/2023/Speckle.Converters.Autocad2023.DependencyInjection/packages.lock.json
  DUI3-DX/Converters/Autocad/2023/Speckle.Converters.Autocad2023/packages.lock.json
  DUI3-DX/Converters/Revit/Speckle.Converters.Revit2023.DependencyInjection/packages.lock.json
  DUI3-DX/Converters/Revit/Speckle.Converters.Revit2023.Tests/packages.lock.json
  DUI3-DX/Converters/Revit/Speckle.Converters.Revit2023/packages.lock.json
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7.DependencyInjection/packages.lock.json
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/packages.lock.json
  DUI3-DX/Sdk/Speckle.Converters.Common.DependencyInjection/packages.lock.json
  DUI3-DX/Sdk/Speckle.Converters.Common.Tests/packages.lock.json
Due: none

Merge remote-tracking branch 'origin/dui3/alpha' into rollback-interfaces
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Utils/ArcGisDocumentStore.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.Civil3d2024/Speckle.Connectors.Civil3d2024.csproj
  DUI3-DX/DUI3/Speckle.Connectors.DUI/Speckle.Connectors.DUI.csproj
  DUI3-DX/Sdk/Speckle.Autofac/Speckle.Autofac.csproj
  DUI3-DX/Sdk/Speckle.Connectors.Utils/Speckle.Connectors.Utils.csproj
Due: none

merge fixes and fmt
  Build/Consts.cs
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/Bindings/RhinoSendBinding.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Helpers/DisplayValueExtractor.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Helpers/ParameterObjectAssigner.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Raw/ColumnConversionToSpeckle.cs
  DUI3-DX/Directory.Packages.props
Due: none

more review changes
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Utils/ArcGisDocumentStore.cs
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/DependencyInjection/RhinoConnectorModule.cs
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/DependencyInjection/RhinoPlugin.cs
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/Interfaces/IRhinoPlugin.cs
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/Plugin/Speckle.Connectors.Rhino7Plugin.cs
Due: none

more fixes
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3.DependencyInjection/ArcGISConverterModule.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7.DependencyInjection/RhinoConverterModule.cs
  DUI3-DX/Sdk/Speckle.Converters.Common/IRootToSpeckleConverter.cs
  DUI3-DX/Sdk/Speckle.Converters.Common/RootToSpeckleConverter.cs
Due: none

recheck lock files
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.Autocad2023/packages.lock.json
  DUI3-DX/Connectors/Revit/Speckle.Connectors.Revit2023/packages.lock.json
  DUI3-DX/Converters/Autocad/2024/Speckle.Converters.Autocad2024/packages.lock.json
  DUI3-DX/DUI3/Speckle.Connectors.DUI.WebView/packages.lock.json
Due: none

adds converter project with pipe conversion
  All.sln
  DUI3-DX.slnf
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/GlobalUsings.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/Speckle.Converters.AutocadShared.projitems
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToSpeckle/Geometry/Solid3dToSpeckleConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToSpeckle/Raw/CircularArc3dToSpeckleRawConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToSpeckle/Raw/DBCurveToSpeckleRawConverter.cs
  DUI3-DX/Converters/Civil3d/Speckle.Converters.Civil3d2024.DependencyInjection/Civil3dConverterModule.cs
  DUI3-DX/Converters/Civil3d/Speckle.Converters.Civil3d2024.DependencyInjection/Speckle.Converters.Civil3d2024.DependencyInjection.csproj
  DUI3-DX/Converters/Civil3d/Speckle.Converters.Civil3d2024.DependencyInjection/packages.lock.json
  DUI3-DX/Converters/Civil3d/Speckle.Converters.Civil3d2024/Speckle.Converters.Civil3d2024.csproj
  DUI3-DX/Converters/Civil3d/Speckle.Converters.Civil3d2024/packages.lock.json
  DUI3-DX/Converters/Civil3d/Speckle.Converters.Civil3dShared/Civil3dConversionContextStack.cs
  DUI3-DX/Converters/Civil3d/Speckle.Converters.Civil3dShared/Civil3dRootToHostConverter.cs
  DUI3-DX/Converters/Civil3d/Speckle.Converters.Civil3dShared/Civil3dToSpeckleUnitConverter.cs
  DUI3-DX/Converters/Civil3d/Speckle.Converters.Civil3dShared/GlobalUsings.cs
  DUI3-DX/Converters/Civil3d/Speckle.Converters.Civil3dShared/Speckle.Converters.Civil3dShared.projitems
  DUI3-DX/Converters/Civil3d/Speckle.Converters.Civil3dShared/Speckle.Converters.Civil3dShared.shproj
  DUI3-DX/Converters/Civil3d/Speckle.Converters.Civil3dShared/ToSpeckle/BuiltElements/PipeToSpeckleConverter.cs
  DUI3-DX/Converters/Civil3d/Speckle.Converters.Civil3dShared/ToSpeckle/Raw/PropertySetToSpeckleRawConverter.cs
Due: none

Path conditions:
  core: any of: Core/.*
  rhino: any of: (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.*
  revit: any of: (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.*
  dynamo: any of: (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.*
  autocadcivil: any of: (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.*
  csi: any of: (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.*
  bentley: any of: (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.*
  teklastructures: any of: (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.*
  archicad: any of: (Core|Objects|ConnectorArchicad)/.*
  navisworks: any of: (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.*
