Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.3.1
  python: circleci/python@2.0.3

jobs:
  setup:
    executor: python/default
    steps:
      - checkout # checkout code
      - when:
          condition:
            and:
              - not:
                  equal: [main, << pipeline.git.branch >>]
              - not:
                  matches:
                    pattern: ".*/?ci/.*"
                    value: << pipeline.git.branch >>
              - not:
                  matches:
                    pattern: ".*/all$"
                    value: << pipeline.git.tag >>
          steps:
            - run: git branch internal_circleci
            - path-filtering/set-parameters:
                mapping: |
                  Core/.* core true
                  (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.* rhino true
                  (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.* revit true
                  (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.* dynamo true
                  (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.* autocadcivil true
                  (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.* csi true
                  (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.* bentley true
                  (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.* teklastructures true
                  (Core|Objects|ConnectorArchicad)/.* archicad true
                  (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.* navisworks true
                base-revision: main
                output-path: .circleci/scripts/parameters.json
      - run: cat .circleci/scripts/parameters.json
      - run: pip install pyyaml
      - run: # run a command
          name: Generate config
          command: |
            python .circleci/scripts/config-generator.py -d ${CIRCLE_TAG:-none} -o .circleci/continuation-config.yml -e ${CIRCLE_PR_REPONAME:-none}
      - continuation/continue:
          configuration_path: .circleci/continuation-config.yml # use newly generated config to continue
workflows:
  setup:
    jobs:
      - setup:
          name: Build Setup
      - setup:
          name: Deploy Setup
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^(nugets\/)?([0-9]+)\.([0-9]+)\.([0-9]+)(?:-\w+)?(\/all)?$/

mapping fix
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Mappings.cs
Due: revit

Namespace formater
  Objects/Objects/BuiltElements/AdvanceSteel/AsteelBeam.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AsteelBolt.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AsteelGrating.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AsteelPlate.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AsteelPolyBeam.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AsteelSlab.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AsteelSpecialPart.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AsteelStraightBeam.cs
  Objects/Objects/BuiltElements/AdvanceSteel/IAsteelObject.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

After cleanup
  ConnectorAutocadCivil/AdvanceSteelAddinRegistrator/Program.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/DocumentUtils/TransactionContext.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Entry/SpeckleAutocadCommand.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Storage/SpeckleStreamManager.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Utils.cs
  Core/Core/Api/Helpers.cs
  Core/Core/Helpers/Http.cs
  Core/Core/Logging/SpeckleLog.cs
  Core/Core/Models/Base.cs
  Core/Core/Models/Extensions.cs
  Core/Core/Models/GraphTraversal/GraphTraversal.cs
  Core/Core/Serialisation/ValueConverter.cs
  DesktopUI2/DesktopUI2/Utils.cs
  DesktopUI2/DesktopUI2/ViewModels/OneClickViewModel.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.ASGeometry.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.AdvanceSteel.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.Beams.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.Bolts.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.DxfNames.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/Properties/ASPropertiesCache.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/Properties/ASTypeData.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/Properties/PropertySets/AtomicElementProperties.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/Properties/PropertySets/BeamProperties.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/Properties/PropertySets/MainAliasProperties.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/Properties/PropertySets/PolybeamProperties.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/Converter.AutocadCivil.Utils.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Geometry.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Other.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AsteelGrating.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AsteelPlate.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AsteelPolyBeam.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AsteelSlab.cs
  Objects/Objects/Geometry/Arc.cs
  Objects/Objects/Organization/DataTable.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix merge conflicts
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/FloorTests.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

CI: AdvanceSteel build and installer (#2479)
  .circleci/scripts/config-template.yml
  .circleci/scripts/connector-jobs.yml
Due: none

fix: Removes or demotes some warnings that were mostly noise right now.
  .editorconfig
  Core/Core/Api/GraphQL/Serializer/MapConverter.cs
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/DialogUserControl.cs
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/ImportFamiliesDialog.xaml.cs
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/MappingViewDialog.xaml.cs
  Directory.Build.props
  Objects/Objects/Objects.csproj
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Fix: Removes or demotes warnings in monorepo (#2484)
  .editorconfig
  Core/Core/Api/GraphQL/Serializer/MapConverter.cs
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/DialogUserControl.cs
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/ImportFamiliesDialog.xaml.cs
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/MappingViewDialog.xaml.cs
  Directory.Build.props
  Objects/Objects/Objects.csproj
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

change all instances of "GetType"
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAdaptiveComponent.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAnalyticalStick.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAnalyticalSurface.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertBeam.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertCableTray.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertCeiling.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertColumn.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertConduit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertDuct.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFaceWall.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFloor.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertNetwork.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertPipe.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertProfileWall.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRailing.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRebar.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRoof.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertWall.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertWire.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

remove old element type
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

various fixes
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAdaptiveComponent.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertBeam.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertColumn.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertNetwork.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(revit): adds revit csproj
  ConnectorRevit/ConnectorRevit2020/ConnectorRevit2020.csproj
  ConnectorRevit/ConnectorRevit2021/ConnectorRevit2021.csproj
  ConnectorRevit/ConnectorRevit2022/ConnectorRevit2022.csproj
  ConnectorRevit/ConnectorRevit2023/ConnectorRevit2023.csproj
Due: revit

feat(navis): adds navis csproj
  ConnectorNavisworks/ConnectorNavisworks2020/ConnectorNavisworks2020.csproj
  ConnectorNavisworks/ConnectorNavisworks2022/ConnectorNavisworks2022.csproj
  ConnectorNavisworks/ConnectorNavisworks2023/ConnectorNavisworks2023.csproj
  ConnectorNavisworks/ConnectorNavisworks2024/ConnectorNavisworks2024.csproj
Due: navisworks

feat(as): updates addin path, adds argument for year field
  ConnectorAutocadCivil/AdvanceSteelAddinRegistrator/Program.cs
Due: autocadcivil

Revert "After cleanup"
  ConnectorAutocadCivil/AdvanceSteelAddinRegistrator/Program.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/DocumentUtils/TransactionContext.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Entry/SpeckleAutocadCommand.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Storage/SpeckleStreamManager.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Utils.cs
  Core/Core/Api/Helpers.cs
  Core/Core/Helpers/Http.cs
  Core/Core/Logging/SpeckleLog.cs
  Core/Core/Models/Base.cs
  Core/Core/Models/Extensions.cs
  Core/Core/Models/GraphTraversal/GraphTraversal.cs
  Core/Core/Serialisation/ValueConverter.cs
  DesktopUI2/DesktopUI2/Utils.cs
  DesktopUI2/DesktopUI2/ViewModels/OneClickViewModel.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.ASGeometry.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.AdvanceSteel.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.Beams.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.Bolts.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.DxfNames.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/Properties/ASPropertiesCache.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/Properties/ASTypeData.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/Properties/PropertySets/AtomicElementProperties.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/Properties/PropertySets/BeamProperties.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/Properties/PropertySets/MainAliasProperties.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/Properties/PropertySets/PolybeamProperties.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/Converter.AutocadCivil.Utils.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Geometry.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Other.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AsteelGrating.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AsteelPlate.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AsteelPolyBeam.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AsteelSlab.cs
  Objects/Objects/Geometry/Arc.cs
  Objects/Objects/Organization/DataTable.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

TriangleNET.dll changed to Triangle.dll
  Objects/Converters/ConverterAutocadCivil/ConverterAdvanceSteel2023/ConverterAdvanceSteel2023.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Bolt pattern properties
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/Properties/PropertySets/BoltPatternProperties.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/Properties/PropertySets/MainAliasProperties.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivilShared.projitems
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Screw bolt properties
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/Properties/ASPropertiesCache.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/Properties/PropertySets/BoltPatternProperties.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/Properties/PropertySets/ScrewBoltPatternProperties.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivilShared.projitems
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Filer object and construction properties
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/Properties/ASPropertiesCache.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/Properties/PropertySets/ConstructionElementProperties.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/Properties/PropertySets/FilerObjectProperties.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivilShared.projitems
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

driven connection property in constructionElement
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/Properties/PropertySets/ConstructionElementProperties.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fixed corridor featureline conversion to include break points
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
  Objects/Objects/BuiltElements/Featureline.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

set correct column headers
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertView.Schedule.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

add cheaper check before more expensive one
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertView.Schedule.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

make switch cleaner
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Update ConverterAutocadCivil.Civil.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(dui): fix wrong Id passed when getting comment activity and wraps it in a try catch
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.UserOperations.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(core): Revert some of the using declarations i added
  Core/Core/Models/Utilities.cs
  Core/Core/Transports/ServerUtils/GzipContent.cs
  Core/Core/Transports/ServerUtils/ServerAPI.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(dui): Removed unclear using declaration
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: none

fix(acadcivil): better handling of application ids (#2480)
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Utils.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
  Objects/Objects/BuiltElements/Featureline.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Dui/comment notification fix (#2493)
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.UserOperations.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Fix(Revit): mapping on receive (#2482)
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Mappings.cs
Due: revit

fix(dui): adds some try catches
  DesktopUI2/DesktopUI2/ViewModels/CollaboratorsViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: none

add tests
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFloor.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRailing.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRebar.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/AdaptiveComponentTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/CurveTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/DirectShapeTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/DuctTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/FamilyInstanceTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/FloorTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/OpeningTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/PipeTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/RoofTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/ScheduleTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/SpeckleConversionTest.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/WallTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/WireTests.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

chore: change logging level to error
  DesktopUI2/DesktopUI2/ViewModels/CollaboratorsViewModel.cs
Due: none

removes erroneous unit scaling factor on transform conversion
  Objects/Objects/Other/Transform.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

formatting
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Geometry.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Settings.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToSpeckle.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAnalyticalStick.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFloor.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertGroup.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertNetwork.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRailing.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRoof.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertView.Schedule.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertView.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/Units.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitVersionHelper.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/AdaptiveComponentTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/CurveTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/DirectShapeTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/DuctTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/FamilyInstanceTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/FloorTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/OpeningTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/PipeTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/RoofTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/ScheduleTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/SpeckleConversionTest.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/SpeckleUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/WallTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/WireTests.cs
  Objects/Objects/Organization/DataTable.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks
