Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

modify tests
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFloor.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRoof.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/Units.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/FloorTests.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

tests work now
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFloor.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRoof.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/FloorTests.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

add ellipse and circle conversion
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFloor.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(ci): Deploy flag was manually changed and inadvertently comited
  .circleci/scripts/config-generator.py
Due: none

adds user attributes to block instances on receive
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Potential fix for unobserved task exception
  ConnectorRevit/ConnectorRevit/Entry/SpeckleRevitCommand.cs
  Core/Core/Api/GraphQL/Client.cs
  Core/Core/Helpers/Http.cs
  Core/Core/Serialisation/BaseObjectSerializerV2.cs
  Core/Core/Serialisation/DeserializationWorkerThreads.cs
  Core/Core/Serialisation/OperationTask.cs
  Core/Core/Transports/ServerUtils/ParallelServerAPI.cs
  Core/Core/Transports/ServerV2.cs
  DesktopUI2/DesktopUI2/ViewModels/AccountViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/ApplicationObjectViewModel.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(rhino): adds missing user attributes to block instances on receive (#2461)
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

change the way we get the slope arrow
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFloor.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertGroup.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRoof.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

wip
  ConnectorRevit/ConnectorRevit/WebUI/WebUIPanel.xaml.cs
Due: revit

performance boost for 2022+ floors
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

get rid of commented code
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

chore:(Navisworks): Cleanup Code
  ConnectorNavisworks/ConnectorNavisworks/Storage/SpeckleStreamManager.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Geometry.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Settings.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToSpeckle.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

check for invalid radii
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFloor.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(revit): fallback for PreviousContextObjects
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

get rid of magic string
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(Revit): change get floor slope method (#2466)
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFloor.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertGroup.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRoof.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

More cancellation cleanup
  Core/Core/Credentials/AccountManager.cs
  Core/Core/Helpers/Http.cs
  Core/Core/Serialisation/BaseObjectDeserializerV2.cs
  Core/Core/Serialisation/DeserializationWorkerThreads.cs
  Core/Core/Transports/Server.cs
  Core/Core/Transports/ServerUtils/ParallelServerAPI.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

open dev tools automatically in revit
  ConnectorRevit/ConnectorRevit/WebUI/WebUIPanel.xaml.cs
Due: revit

add default initialization to logger with Core as the app name
  Core/Core/Logging/SpeckleLog.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Update ConverterRhinoGh.Geometry.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Geometry.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Transport cancellation cleanup
  Core/Core/Transports/ITransport.cs
  Core/Core/Transports/Memory.cs
  Core/Core/Transports/SQLite.cs
  Core/Core/Transports/ServerV2.cs
  Core/Transports/DiskTransport/DiskTransport.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(rhino): handle invalid curve conversions to speckle (#2470)
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Geometry.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

refactor(Navisworks): adopting some code analyser recommendations
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Events.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.File.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Filters.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Mapping.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Objects.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Receive.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Selections.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.cs
  ConnectorNavisworks/ConnectorNavisworks/Commands/Commands.cs
  ConnectorNavisworks/ConnectorNavisworks/ConnectorNavisworks.Shared.projitems
  ConnectorNavisworks/ConnectorNavisworks/Entry/Ribbon.xaml.cs
  ConnectorNavisworks/ConnectorNavisworks/Entry/SpeckleHostPane.xaml.cs
  ConnectorNavisworks/ConnectorNavisworks/Entry/SpeckleNavisworksCommand.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/Utilities.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/ViewProxy.cs
  ConnectorNavisworks/ConnectorNavisworks/Storage/SpeckleStreamManager.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Geometry.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Other.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Settings.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToSpeckle.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Utils.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(revit): preview send crashing Revit
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Previews.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Selection.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: revit

add back used import
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFloor.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fixes empty appId handling
  ConnectorAutocadCivil/ConnectorAutocadCivil/Utils.cs
Due: autocadcivil

add default initialization to logger with Core as the app name (#2469)
  Core/Core/Logging/SpeckleLog.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Hotfix(Revit): add floor conversion for ellipse and circle (#2459)
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFloor.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(dui2): Fixed issues with date time formatting
  All.sln
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Utils.cs
  Core/Core/Api/GraphQL/Models.cs
  Core/Core/Api/Helpers.cs
  Core/Tests/Helpers.cs
  DesktopUI2/DesktopUI2/DummyBindings.cs
  DesktopUI2/DesktopUI2/Models/StreamState.cs
  DesktopUI2/DesktopUI2/Utils.cs
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/OneClickViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamSelectorViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

If context objects doesn't contain element, then skip it
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(revit): SetContextObject to handle cases where multiple instances of the same object ids exist in the result of FlattenCommitObject
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Implements Pagination to a hardcoded limit in excess of the server hard limit
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.BranchOperations.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(core): Ensures objects needing disposing are wrapped in using statements
  Core/Core/Api/Helpers.cs
  Core/Core/Api/Operations/Operations.Send.cs
  Core/Core/Credentials/AccountManager.cs
  Core/Core/Credentials/StreamWrapper.cs
  Core/Core/Helpers/Http.cs
  Core/Core/Models/Utilities.cs
  Core/Core/Transports/Server.cs
  Core/Core/Transports/ServerUtils/GzipContent.cs
  Core/Core/Transports/ServerUtils/ServerAPI.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(dui): Ensures objects needing disposing are wrapped in using statements
  DesktopUI2/DesktopUI2/ConnectorHelpers.cs
  DesktopUI2/DesktopUI2/ViewModels/DesignViewModels/DesignHomeViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/MappingTool/MappingsViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/OneClickViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamSelectorViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: none

ci: Added advance-steel build step
  .circleci/scripts/connector-jobs.yml
Due: none

fix(ci): CI-Tools checkout is now tag aware
  .circleci/scripts/config-template.yml
Due: none

fixes old saved application ids
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
Due: autocadcivil

Update ConverterAutocadCivil.Civil.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(acad): exclude adsk nugets from being copied to the output dir
  ConnectorAutocadCivil/ConnectorAdvanceSteel2023/ConnectorAdvanceSteel2023.csproj
  ConnectorAutocadCivil/ConnectorAutocad2021/ConnectorAutocad2021.csproj
  ConnectorAutocadCivil/ConnectorAutocad2022/ConnectorAutocad2022.csproj
  ConnectorAutocadCivil/ConnectorAutocad2023/ConnectorAutocad2023.csproj
  ConnectorAutocadCivil/ConnectorCivil2021/ConnectorCivil2021.csproj
  ConnectorAutocadCivil/ConnectorCivil2022/ConnectorCivil2022.csproj
  ConnectorAutocadCivil/ConnectorCivil2023/ConnectorCivil2023.csproj
Due: autocadcivil

Path conditions:
  core: any of: Core/.*
  rhino: any of: (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.*
  revit: any of: (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.*
  dynamo: any of: (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.*
  autocadcivil: any of: (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.*
  csi: any of: (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.*
  bentley: any of: (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.*
  teklastructures: any of: (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.*
  archicad: any of: (Core|Objects|ConnectorArchicad)/.*
  navisworks: any of: (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.*
