Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.3.1
  python: circleci/python@2.0.3

jobs:
  setup:
    executor: python/default
    steps:
      - checkout # checkout code
      - when:
          condition:
            and:
              - not:
                  equal: [main, << pipeline.git.branch >>]
              - not:
                  matches:
                    pattern: ".*/?ci/.*"
                    value: << pipeline.git.branch >>
              - not:
                  matches:
                    pattern: ".*/all$"
                    value: << pipeline.git.tag >>
          steps:
            - run: git branch internal_circleci
            - path-filtering/set-parameters:
                mapping: |
                  Core/.* core true
                  (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.* rhino true
                  (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.* revit true
                  (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.* dynamo true
                  (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.* autocadcivil true
                  (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.* csi true
                  (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.* bentley true
                  (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.* teklastructures true
                  (Core|Objects|ConnectorArchicad)/.* archicad true
                  (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.* navisworks true
                base-revision: main
                output-path: .circleci/scripts/parameters.json
      - run: cat .circleci/scripts/parameters.json
      - run: pip install pyyaml
      - run: # run a command
          name: Generate config
          command: |
            python .circleci/scripts/config-generator.py -d ${CIRCLE_TAG:-none} -o .circleci/continuation-config.yml -e ${CIRCLE_PR_REPONAME:-none}
      - continuation/continue:
          configuration_path: .circleci/continuation-config.yml # use newly generated config to continue
workflows:
  setup:
    jobs:
      - setup:
          name: Build Setup
      - setup:
          name: Deploy Setup
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^(nugets\/)?([0-9]+)\.([0-9]+)\.([0-9]+)(?:-\w+)?(\/all)?$/

Update ConnectorBindingsAutocadCivil.Receive.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Receive.cs
Due: autocadcivil

Add typeparamref for TInput
  Automate/Speckle.Automate.Sdk/Runner.cs
Due: none

Add property to projects to make CI fail if any warning
  Automate/Speckle.Automate.Sdk/Speckle.Automate.Sdk.csproj
  Automate/Tests/Speckle.Automate.Sdk.Tests.Integration/Speckle.Automate.Sdk.Tests.Integration.csproj
Due: none

Remove NoWarn prop in test project for CA2007
  Automate/Tests/Speckle.Automate.Sdk.Tests.Integration/Speckle.Automate.Sdk.Tests.Integration.csproj
Due: none

Enforce WarningsAsErrors all projects that have reached zero warnings
  ConnectorCore/BatchUploader.OperationDriver/BatchUploadOperationDriver.cs
  ConnectorCore/BatchUploader.OperationDriver/BatchUploader.OperationDriver.csproj
  ConnectorCore/BatchUploader.Sdk/BatchUploader.Sdk.csproj
  Core/Tests/Speckle.Core.Tests.Integration/Speckle.Core.Tests.Integration.csproj
  Core/Tests/Speckle.Core.Tests.Unit/Speckle.Core.Tests.Unit.csproj
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Performance test project warnings
  All.sln
  Core/Tests/Speckle.Core.Tests.Performance/Api/Operations/ReceiveFromSQLite.cs
  Core/Tests/Speckle.Core.Tests.Performance/RegressionTestConfig.cs
  Core/Tests/Speckle.Core.Tests.Performance/Serialisation/DeserializationWorkerThreads.cs
  Core/Tests/Speckle.Core.Tests.Performance/Speckle.Core.Tests.Performance.csproj
  Directory.Build.targets
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

refactor(autocadcivil): CNX-8389 fixes CA1031 warnings in autocad and civil3d projects (#3119)
  ConnectorAutocadCivil/ConnectorAutocadCivil/Entry/App.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Entry/SpeckleAutocadCommand.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Storage/SpeckleStreamManager.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Events.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Receive.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Selection.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Send.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Utils.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/Converter.AutocadCivil.Utils.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Geometry.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Other.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Fix(Automate): CNX-8610 automate sdk warnings (#3132)
  Automate/Speckle.Automate.Sdk/AutomationContext.cs
  Automate/Speckle.Automate.Sdk/Runner.cs
  Automate/Speckle.Automate.Sdk/Schema/AutomationRunData.cs
  Automate/Speckle.Automate.Sdk/Schema/AutomationStatusMapping.cs
  Automate/Speckle.Automate.Sdk/Schema/ObjectResultLevelMapping.cs
  Automate/Speckle.Automate.Sdk/Schema/ObjectResultValues.cs
  Automate/Speckle.Automate.Sdk/Schema/ObjectResults.cs
  Automate/Speckle.Automate.Sdk/Speckle.Automate.Sdk.csproj
  Automate/Tests/Speckle.Automate.Sdk.Tests.Integration/GetAutomationStatus.cs
  Automate/Tests/Speckle.Automate.Sdk.Tests.Integration/README.md
  Automate/Tests/Speckle.Automate.Sdk.Tests.Integration/Speckle.Automate.Sdk.Tests.Integration.csproj
  Automate/Tests/Speckle.Automate.Sdk.Tests.Integration/SpeckleAutomate.cs
  Automate/Tests/Speckle.Automate.Sdk.Tests.Integration/TestAutomateFunction.cs
  Automate/Tests/Speckle.Automate.Sdk.Tests.Integration/TestAutomateUtils.cs
Due: none

Chore(Tests): CNX-8640 core integration test project (#3130)
  .editorconfig
  Core/Tests/Speckle.Core.Tests.Integration/Api.cs
  Core/Tests/Speckle.Core.Tests.Integration/Fixtures.cs
  Core/Tests/Speckle.Core.Tests.Integration/GraphQLCLient.cs
  Core/Tests/Speckle.Core.Tests.Integration/ServerTransportTests.cs
  Core/Tests/Speckle.Core.Tests.Integration/Speckle.Core.Tests.Integration.csproj
  Core/Tests/Speckle.Core.Tests.Integration/Subscriptions/Branches.cs
  Core/Tests/Speckle.Core.Tests.Integration/Subscriptions/Commits.cs
  Core/Tests/Speckle.Core.Tests.Integration/Subscriptions/Streams.cs
  Core/Tests/Speckle.Core.Tests.Unit/Api/GraphQLClient.cs
  Core/Tests/Speckle.Core.Tests.Unit/Api/Operations/OperationsReceiveTests.Exceptional.cs
  Core/Tests/Speckle.Core.Tests.Unit/Api/Operations/OperationsReceiveTests.cs
  Core/Tests/Speckle.Core.Tests.Unit/Api/Operations/SendReceiveLocal.cs
  Core/Tests/Speckle.Core.Tests.Unit/Api/Operations/SerializationTests.cs
  Core/Tests/Speckle.Core.Tests.Unit/Credentials/Accounts.cs
  Core/Tests/Speckle.Core.Tests.Unit/Credentials/FE2WrapperTests.cs
  Core/Tests/Speckle.Core.Tests.Unit/Helpers/Path.cs
  Core/Tests/Speckle.Core.Tests.Unit/Kits/KitManagerTests.cs
  Core/Tests/Speckle.Core.Tests.Unit/Models/BaseTests.cs
  Core/Tests/Speckle.Core.Tests.Unit/Models/Extensions/ExceptionTests.cs
  Core/Tests/Speckle.Core.Tests.Unit/Models/Hashing.cs
  Core/Tests/Speckle.Core.Tests.Unit/Models/TraversalTests.cs
  Core/Tests/Speckle.Core.Tests.Unit/Serialisation/SerializerNonBreakingChanges.cs
  Core/Tests/Speckle.Core.Tests.Unit/Transports/SQLiteTransportTests.cs
  Core/Tests/Speckle.Core.Tests.Unit/Transports/TransportTests.cs
  Directory.Build.targets
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Chore(Test): CNX-8688 core performance test project (#3134)
  All.sln
  Core/Tests/Speckle.Core.Tests.Performance/Api/Operations/ReceiveFromSQLite.cs
  Core/Tests/Speckle.Core.Tests.Performance/RegressionTestConfig.cs
  Core/Tests/Speckle.Core.Tests.Performance/Serialisation/DeserializationWorkerThreads.cs
  Core/Tests/Speckle.Core.Tests.Performance/Speckle.Core.Tests.Performance.csproj
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Chore: Enforce WarningsAsErrors on CI builds for all projects currently at zero warnings (#3133)
  ConnectorCore/BatchUploader.OperationDriver/BatchUploadOperationDriver.cs
  ConnectorCore/BatchUploader.OperationDriver/BatchUploader.OperationDriver.csproj
  ConnectorCore/BatchUploader.Sdk/BatchUploader.Sdk.csproj
  Core/Tests/Speckle.Core.Tests.Integration/Speckle.Core.Tests.Integration.csproj
  Core/Tests/Speckle.Core.Tests.Unit/Speckle.Core.Tests.Unit.csproj
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

archicad v27 and arm
  .circleci/scripts/config-template.yml
  ConnectorArchicad/AddOn/CMakeLists.txt
  ConnectorArchicad/AddOn/Sources/AddOn/APIMigrationHelper.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/AddOnMain.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateBeam.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateColumn.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateCommand.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateCommandHelpers.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateDirectShape.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateObject.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateOpeningBase.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateRoof.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateShell.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateSlab.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateWall.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetBeamData.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetColumnData.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetDataCommand.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetModelForElements.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetOpeningBaseData.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetProjectInfo.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetRoofData.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetShellData.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetSlabData.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetWallData.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/SelectElements.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Database.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/LibpartImportManager.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/PropertyExportManager.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Utility.cpp
Due: archicad

ci-tools checkout
  .circleci/scripts/config-template.yml
Due: none

update jobs
  .circleci/scripts/connector-jobs.yml
Due: none

build fix
  ConnectorArchicad/AddOn/Sources/AddOn/PropertyExportManager.cpp
Due: archicad

cd fix
  .circleci/scripts/config-template.yml
Due: none

fix
  .circleci/scripts/config-template.yml
Due: none

fix(gh): Adds serverUrl to AccountList output
  ConnectorGrasshopper/ConnectorGrasshopperShared/Accounts/Accounts.ListAccounts.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Extras/GH_SpeckleAccount.cs
Due: rhino

Upgraded all tests to use new nunit syntax
  Core/Core/Logging/SpeckleLog.cs
  Core/Tests/Speckle.Core.Tests.Integration/Speckle.Core.Tests.Integration.csproj
  Core/Tests/Speckle.Core.Tests.Performance/Speckle.Core.Tests.Performance.csproj
  Core/Tests/Speckle.Core.Tests.Unit/Speckle.Core.Tests.Unit.csproj
  Directory.Build.targets
  Objects/Tests/GenericTests.cs
  Objects/Tests/Geometry/ArcTests.cs
  Objects/Tests/Geometry/MeshTests.cs
  Objects/Tests/Geometry/PointTests.cs
  Objects/Tests/Geometry/TransformTests.cs
  Objects/Tests/Tests.csproj
  Objects/Tests/Utils/ShallowCopyTests.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Moved Objects unit test project to folder
  .circleci/scripts/config-template.yml
  All.sln
  ConnectorArchicad/ConnectorArchicad.slnf
  ConnectorAutocadCivil/ConnectorAutocadCivil.slnf
  ConnectorBentley/ConnectorBentley.slnf
  ConnectorCSI/ConnectorCSI.slnf
  ConnectorDynamo/ConnectorDynamo.slnf
  ConnectorNavisworks/ConnectorNavisworks.slnf
  ConnectorRevit/ConnectorRevit.slnf
  ConnectorRhino/ConnectorRhino.slnf
  ConnectorTeklaStructures/ConnectorTeklaStructures.slnf
  Core/Core/Logging/SpeckleLog.cs
  Objects/Objects.sln
  Objects/Objects/Objects.csproj
  Objects/Tests/Objects.Tests.Unit/GenericTests.cs
  Objects/Tests/Objects.Tests.Unit/Geometry/ArcTests.cs
  Objects/Tests/Objects.Tests.Unit/Geometry/MeshTests.cs
  Objects/Tests/Objects.Tests.Unit/Geometry/PointTests.cs
  Objects/Tests/Objects.Tests.Unit/Geometry/TransformTests.cs
  Objects/Tests/Objects.Tests.Unit/NUnit_Fixtures.cs
  Objects/Tests/Objects.Tests.Unit/Objects.Tests.Unit.csproj
  Objects/Tests/Objects.Tests.Unit/Utils/MeshTriangulationHelperTests.cs
  Objects/Tests/Objects.Tests.Unit/Utils/ShallowCopyTests.cs
  SDK.slnf
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Ci to use STS
  .circleci/scripts/config-template.yml
Due: none

small tweaks to assertions
  Objects/Tests/Objects.Tests.Unit/Geometry/MeshTests.cs
  Objects/Tests/Objects.Tests.Unit/Utils/ShallowCopyTests.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Chore(Tests): CNX-8693 Resolved warnings in Objects unit test project and moved folder structure (#3136)
  .circleci/scripts/config-template.yml
  All.sln
  ConnectorArchicad/ConnectorArchicad.slnf
  ConnectorAutocadCivil/ConnectorAutocadCivil.slnf
  ConnectorBentley/ConnectorBentley.slnf
  ConnectorCSI/ConnectorCSI.slnf
  ConnectorDynamo/ConnectorDynamo.slnf
  ConnectorNavisworks/ConnectorNavisworks.slnf
  ConnectorRevit/ConnectorRevit.slnf
  ConnectorRhino/ConnectorRhino.slnf
  ConnectorTeklaStructures/ConnectorTeklaStructures.slnf
  Core/Tests/Speckle.Core.Tests.Integration/Speckle.Core.Tests.Integration.csproj
  Core/Tests/Speckle.Core.Tests.Performance/Speckle.Core.Tests.Performance.csproj
  Directory.Build.targets
  Objects/Objects.sln
  Objects/Objects/Objects.csproj
  Objects/Tests/Geometry/ArcTests.cs
  Objects/Tests/Geometry/PointTests.cs
  Objects/Tests/Objects.Tests.Unit/GenericTests.cs
  Objects/Tests/Objects.Tests.Unit/Geometry/ArcTests.cs
  Objects/Tests/Objects.Tests.Unit/Geometry/MeshTests.cs
  Objects/Tests/Objects.Tests.Unit/Geometry/PointTests.cs
  Objects/Tests/Objects.Tests.Unit/Geometry/TransformTests.cs
  Objects/Tests/Objects.Tests.Unit/NUnit_Fixtures.cs
  Objects/Tests/Objects.Tests.Unit/Objects.Tests.Unit.csproj
  Objects/Tests/Objects.Tests.Unit/Utils/MeshTriangulationHelperTests.cs
  Objects/Tests/Objects.Tests.Unit/Utils/ShallowCopyTests.cs
  Objects/Tests/Tests.csproj
  SDK.slnf
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

hotfix(core): SQLite transport to use new connection for updating objects
  Core/Core/Transports/SQLite.cs
  Core/Tests/Speckle.Core.Tests.Unit/Transports/SQLiteTransportTests.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

use correct format specifiers
  ConnectorArchicad/AddOn/Sources/AddOn/LibpartImportManager.cpp
Due: archicad

adjusted more namespaces
  Objects/Objects/BuiltElements/Network.cs
  Objects/Objects/BuiltElements/Revit/Curve/ModelCurves.cs
  Objects/Objects/BuiltElements/Revit/RevitNetwork.cs
  Objects/Objects/BuiltElements/Revit/RevitRoof/RevitRoof.cs
  Objects/Objects/Structural/CSI/Analysis/CSIStories.cs
  Objects/Objects/Structural/GSA/Loading/GSAPolyline.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Deleted ExampleApp
  All.sln
  Core/Examples/.vscode/launch.json
  Core/Examples/ExampleApp.csproj
  Core/Examples/Program.cs
  Core/Examples/Subscriptions.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Chore(core): CNX-8689 - Example App Removed (#3139)
  All.sln
  Core/Examples/.vscode/launch.json
  Core/Examples/ExampleApp.csproj
  Core/Examples/Program.cs
  Core/Examples/Subscriptions.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Align with core changes
  DesktopUI3/DUI3/Operations/Operations.cs
  DesktopUI3/DUI3/Utils/DiscriminatedObjectConverter.cs
Due: none

Test the order objects are saved when copy
  Core/Core/Transports/ServerV2.cs
  Core/Core/Transports/TransportHelpers.cs
  Core/Tests/Speckle.Core.Tests.Integration/ServerTransportTests.cs
  Core/Tests/Speckle.Core.Tests.Integration/Speckle.Core.Tests.Integration.csproj
  Core/Tests/Speckle.Core.Tests.Unit/Speckle.Core.Tests.Unit.csproj
  Core/Tests/Speckle.Core.Tests.Unit/Transports/TransportTests.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(gh): Minor re-structuring of Account list logic
  ConnectorGrasshopper/ConnectorGrasshopperShared/Accounts/Accounts.ListAccounts.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Extras/GH_SpeckleAccount.cs
  Core/Core/Credentials/Account.cs
  Core/Core/Credentials/AccountManager.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Set global contexts on LoggerConfiguration instance
  Core/Core/Logging/SpeckleLog.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(gh): Removed unnecessary using statements
  Core/Core/Credentials/Account.cs
  Core/Core/Credentials/AccountManager.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

handles obsolete classes and warnings
  Objects/Objects/BuiltElements/Alignment.cs
  Objects/Objects/BuiltElements/Duct.cs
  Objects/Objects/BuiltElements/Network.cs
  Objects/Objects/BuiltElements/Rebar.cs
  Objects/Objects/BuiltElements/Revit/FreeformElement.cs
  Objects/Objects/BuiltElements/Revit/RevitCeiling.cs
  Objects/Objects/BuiltElements/Revit/RevitNetwork.cs
  Objects/Objects/BuiltElements/Space.cs
  Objects/Objects/BuiltElements/TeklaStructures/TeklaRebar.cs
  Objects/Objects/Geometry/ControlPoint.cs
  Objects/Objects/Geometry/Line.cs
  Objects/Objects/Geometry/Mesh.cs
  Objects/Objects/Geometry/Point.cs
  Objects/Objects/Geometry/Polyline.cs
  Objects/Objects/Geometry/Vector.cs
  Objects/Objects/Other/Hatch.cs
  Objects/Objects/Other/Transform.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

small naming warn fixes
  Objects/Objects/Geometry/Mesh.cs
  Objects/Objects/Geometry/Polyline.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Remove empty Logging folder from
  Core/Tests/Speckle.Core.Tests.Unit/Speckle.Core.Tests.Unit.csproj
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

additional obsolete fixes
  Objects/Objects/BuiltElements/Pipe.cs
  Objects/Objects/BuiltElements/Revit/RevitColumn.cs
  Objects/Objects/Geometry/Brep.cs
  Objects/Objects/Geometry/BrepTrim.cs
  Objects/Objects/Geometry/Plane.cs
  Objects/Objects/Geometry/Pointcloud.cs
  Objects/Objects/Geometry/Surface.cs
  Objects/Objects/Other/Hatch.cs
  Objects/Objects/Other/Instance.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Reversed reversed dictionary since it was no longer needed
  Core/Tests/Speckle.Core.Tests.Unit/Transports/SQLiteTransportTests.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks
