Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix: Remove unused contexts
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/Raw/SpeckleMeshRawToHostConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/Raw/SpecklePointRawToHostConversion.cs
Due: none

feat: Accumulate conversion exceptions and throw at the end
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/Bindings/RhinoReceiveBinding.cs
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/Operations/Receive/RhinoHostObjectBuilder.cs
Due: none

create and add database connection to project
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Operations/Receive/HostObjectBuilder.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Features/GisFeatureToHostConverter.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Layers/VectorLayerToHostConverter.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Speckle.Converters.ArcGIS3.csproj
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Utils/ArcGISProjectUtils.cs
Due: none

CNX-9163 type mapping dialog not picking up loaded families (#3266)
  ConnectorRevit/ConnectorRevit/TypeMapping/ElementTypeMapper.cs
  DesktopUI2/DesktopUI2/ViewModels/TypeMappingOnReceiveViewModel.cs
Due: revit

formatting
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Geometry.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

removed ToNative
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

refactors payload to be an array capped at 250 entries
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Receive.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Send.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Send.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.Receive.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.Send.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

oops capped it at 25 accidentally
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Receive.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Send.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Send.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.Receive.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.Send.cs
Due: rhino, revit, autocadcivil

save options to different location
  All.sln
  ConnectorCore/DllConflictManagement/DllConflictManager.cs
  ConnectorCore/DllConflictManagement/DllConflictManagmentOptionsLoader.cs
  ConnectorCore/DllConflictManagement/DllConflictUserNotifier.cs
  ConnectorCore/DllConflictManagement/LoggingEventArgs.cs
  ConnectorRevit/ConnectorRevit.slnf
  ConnectorRevit/ConnectorRevit/Entry/App.cs
Due: revit

minor refactors
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Receive.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Send.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Send.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.Receive.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.Send.cs
Due: rhino, revit, autocadcivil

changes type list to be capped at 200 instead of 250
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Receive.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Send.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Send.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.Receive.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.Send.cs
Due: rhino, revit, autocadcivil

UnitOfWork changes
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Bindings/ArcGISSendBinding.cs
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/DependencyInjection/AutofacArcGISModule.cs
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Operations/Send/RootObjectBuilder.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Bindings/AutocadSendBinding.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/DependencyInjection/AutofacAutocadModule.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Operations/Receive/HostObjectBuilder.cs
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/DependencyInjection/AutofacRhinoModule.cs
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/Operations/Send/RootObjectBuilder.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7.DependencyInjection/AutofacRhinoConverterModule.cs
  DUI3-DX/Sdk/Speckle.Autofac/DependencyInjection/IScopedFactory._cs
  DUI3-DX/Sdk/Speckle.Autofac/DependencyInjection/IUnitOfWork.cs
  DUI3-DX/Sdk/Speckle.Autofac/DependencyInjection/IUnitOfWorkFactory.cs
  DUI3-DX/Sdk/Speckle.Autofac/DependencyInjection/ScopedFactory._cs
  DUI3-DX/Sdk/Speckle.Autofac/DependencyInjection/UnitOfWork.cs
  DUI3-DX/Sdk/Speckle.Autofac/DependencyInjection/UnitOfWorkFactory.cs
Due: none

Hotfix(metrics): CNX-9196 add object type event tracking for mixpanel in autocad, rhino, and revit (#3257)
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Receive.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Send.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Send.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.Receive.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.Send.cs
  Core/Core/Logging/Analytics.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

removed redundant check for invisible faces
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Initial Push Unit of Work
  Core/Core/Logging/Setup.cs
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Bindings/ArcGISSendBinding.cs
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/DependencyInjection/AutofacArcGISModule.cs
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Operations/Send/RootObjectBuilder.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Bindings/AutocadSendBinding.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/DependencyInjection/AutofacAutocadModule.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Operations/Receive/HostObjectBuilder.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.Revit2023/log20240410.txt
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Bindings/SendBinding.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/DependencyInjection/AutofacUIModule.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Operations/Send/RootObjectBuilder.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Operations/Send/SendOperation.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Plugin/RevitExternalApplication.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Plugin/RevitPlugin.cs
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/Operations/Send/RootObjectBuilder.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.Revit2023.DependencyInjection/AutofacRevitConverterModule.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7.DependencyInjection/AutofacRhinoConverterModule.cs
  DUI3-DX/Sdk/Speckle.Autofac/DependencyInjection/IUnitOfWorkFactory.cs
  DUI3-DX/Sdk/Speckle.Autofac/DependencyInjection/UnitOfWorkFactory.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Port and split arc, circle, ellipse, line, mesh, point, polyline
  All.sln
  DUI3-DX.slnf
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.Autocad2023/Speckle.Connectors.Autocad2023.csproj
  DUI3-DX/Converters/Autocad/Speckle.Converters.Autocad2023.DependencyInjection/AutofacAutocadConverterModule.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.Autocad2023.DependencyInjection/Speckle.Converters.Autocad2023.DependencyInjection.csproj
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/Geometry/PointToHostConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/Speckle.Converters.AutocadShared.projitems
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToHost/DataBase/ArcToHostDBArcConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToHost/DataBase/CircleToHostDBCircleConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToHost/DataBase/EllipseToHostDBEllipseConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToHost/DataBase/LineToHostDBLineConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToHost/DataBase/MeshToHostDBPolyFaceMeshConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToHost/DataBase/PointToHostDBPointConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToHost/DataBase/PolylineToHostDBPolylineConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToHost/Geometry/ArcToHostGeometryConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToHost/Geometry/PlaneToHostGeometryConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToHost/Geometry/PointToHostGeometryConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToHost/Geometry/PointToHostRawConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToHost/Geometry/VectorToHostGeometryConverter.cs
Due: none

reorganizes converter folder structure and names
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/Geometry/IntervalToSpeckleConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/Speckle.Converters.AutocadShared.projitems
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToHost/Geometry/PointToHostConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToHost/Raw/PointToHostRawConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToSpeckle/Geometry/LineToSpeckleConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToSpeckle/Geometry/PointToSpeckleConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToSpeckle/Raw/BoxToSpeckleRawConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToSpeckle/Raw/IntervalToSpeckleRawConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToSpeckle/Raw/PlaneToSpeckleRawConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToSpeckle/Raw/PointToSpeckleRawConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToSpeckle/Raw/VectorToSpeckleRawConverter.cs
Due: none

Add curve conversions
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/Speckle.Converters.AutocadShared.projitems
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToHost/Geometry/ArcToHostDBArcConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToHost/Geometry/CircleToHostDBCircleConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToHost/Geometry/CurveToHostDBCurveConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToHost/Geometry/EllipseToHostDBEllipseConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToHost/Geometry/LineToHostDBLineConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToHost/Geometry/MeshToHostDBPolyFaceMeshConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToHost/Geometry/PointToHostDBPointConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToHost/Geometry/PointToHostRawConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToHost/Geometry/PolylineToHostDBPolylineConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToHost/Raw/ArcToHostRawConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToHost/Raw/CurveToHostRawConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToHost/Raw/IntervalToHostRawConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToHost/Raw/PlaneToHostRawConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToHost/Raw/PointToHostRawConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToHost/Raw/VectorToHostRawConverter.cs
Due: none

perf(civil): CNX-9178 Civil: Optimised ToSpeckle conversion performance of Tin Surfaces (#3274)
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Geometry.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Fix for issue #3222 (#3232)
  Core/Core/Models/CommitObjectBuilder.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Add polycurve as polyline
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Operations/Receive/HostObjectBuilder.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/Speckle.Converters.AutocadShared.projitems
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToHost/Geometry/MeshToHostDBPolyFaceMeshConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToHost/Geometry/PolycurveToHostDBPolycurveConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToHost/Raw/PolycurveToHostPolylineRawConverter.cs
Due: none

simplified type checks
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Features/GeometryToSpeckleBase.cs
Due: none

basic receive functionality
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Bindings/ReceiveBinding.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/DependencyInjection/AutofacUIModule.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Operations/Receive/RevitHostObjectBuilder.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Plugin/RevitExternalApplication.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Speckle.Connectors.RevitShared.projitems
  DUI3-DX/Converters/Revit/Speckle.Converters.Revit2023.DependencyInjection/AutofacRevitConverterModule.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/GlobalUsings.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/RevitConverterToHost.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/RevitConverterToSpeckle.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Services/ToHostScalingService.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Speckle.Converters.RevitShared.projitems
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/ToNative/BaseConversionToHost.cs
Due: none

fix: Minor tweaks in csproj for conflictmanager
  ConnectorCore/DllConflictManagement/DllConflictManagement.csproj
Due: none

chore: Address PR comments and POCs for later
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/Operations/Receive/RhinoHostObjectBuilder.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/Raw/FlatPointListRawToHostConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/Raw/SpeckleArcRawToHostConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/Raw/SpeckleMeshRawToHostConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/Raw/SpecklePolylineRawToHostConversion.cs
Due: none

more specific types in Lists
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Features/GeometryToSpeckleBase.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Features/MultipointFeatureToSpeckleConverter.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Features/PointFeatureToSpeckleConverter.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Features/PolygonFeatureToSpeckleConverter.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Features/PolylineFeatureToSpeckleConverter.cs
Due: none

fix: Unnecessary usings
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/Bindings/RhinoReceiveBinding.cs
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/Operations/Receive/RhinoHostObjectBuilder.cs
Due: none

CNX-9142 DUI3-DX Rhino Basic Receive Conversions (#3272)
  .editorconfig
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/HostApp/SpeckleRhinoPanel.xaml
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/Operations/Receive/RhinoHostObjectBuilder.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/Raw/FlatPointListRawToHostConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/Raw/SpeckleArcRawToHostConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/Raw/SpeckleIntervalRawToHostConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/Raw/SpeckleLineRawToHostConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/Raw/SpeckleMeshRawToHostConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/Raw/SpecklePlaneRawToHostConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/Raw/SpecklePointRawToHostConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/Raw/SpecklePolylineRawToHostConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/Raw/SpeckleVectorRawToHostConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/RhinoConverterToHost.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/TopLevel/SpeckleArcToHostArcCurveConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/TopLevel/SpeckleLineToHostLineCurveConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/TopLevel/SpeckleMeshToHostMeshConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/TopLevel/SpecklePointToHostPointConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/TopLevel/SpecklePolylineToHostPolylineCurveConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/TopLevel/SpeckleToHostGeometryBaseConversion.cs
Due: none

optimized types
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Features/GeometryToSpeckleBase.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Features/MultipointFeatureToSpeckleConverter.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Features/PointFeatureToSpeckleConverter.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Features/PolygonFeatureToSpeckleConverter.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Features/PolylineFeatureToSpeckleConverter.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Geometry/BezierSegmentToSpeckleConverter.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Geometry/EllipticArcSegmentToSpeckleConverter.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Geometry/PointToSpeckleConverter.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Geometry/SegmentCollectionToSpeckleConverter.cs
Due: none

removing import
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Features/MultipointFeatureToSpeckleConverter.cs
Due: none

feat: Separate raw conversions
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/ArcToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/BoxToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/BrepToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/CircleToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/ControlPointToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/CurveToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/EllipseToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/IntervalToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/LineToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/MeshToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/NurbsCurveConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/NurbsSurfaceToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/PlaneToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/PointToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/PolyCurveToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/PolylineToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/VectorToSpeckleConverter.cs
Due: none

chore: Moved toSpeckle conversions into subfolder
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/ArcToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/BoxToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/BrepToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/CircleToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/ControlPointToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/CurveToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/EllipseToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/IntervalToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/LineToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/MeshToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/NurbsCurveConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/NurbsSurfaceToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/PlaneToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/PointToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/PolyCurveToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/PolylineToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/VectorToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/RhinoConverterToSpeckle.cs
Due: none

fix: Namespace cleanup and removed unused methods
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7.DependencyInjection/AutofacRhinoConverterModule.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/ArcToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/BoxToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/BrepToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/CircleToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/ControlPointToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/CurveToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/EllipseToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/IntervalToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/LineToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/NurbsCurveConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/NurbsSurfaceToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/PolylineToSpeckleConverter.cs
Due: none

chore: Removed unused unit converter
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/RhinoConverterToSpeckle.cs
Due: none

feat: Fully reorganised toSpeckle converters
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7.DependencyInjection/AutofacRhinoConverterModule.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/HostToSpeckleGeometryBaseConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/SpeckleToHostGeometryBaseConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/TopLevel/SpeckleLineToHostLineCurveConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/TopLevel/SpeckleMeshToHostMeshConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/TopLevel/SpecklePointToHostPointConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/TopLevel/SpecklePolylineToHostPolylineCurveConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/ArcCurveToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/CurveToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/TopLevel/RhinoArcCurveToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/TopLevel/RhinoBrepToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/TopLevel/RhinoLineCurveToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/TopLevel/RhinoMeshToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/TopLevel/RhinoNurbsCurveToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/TopLevel/RhinoPointToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/TopLevel/RhinoPolyCurveToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/TopLevel/RhinoPolylineCurveConverter.cs
Due: none

fix: Registration for ToSpeckle was missing attribute and circular dependency setting
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/Operations/Receive/RhinoHostObjectBuilder.cs
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/Operations/Send/RootObjectBuilder.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7.DependencyInjection/AutofacRhinoConverterModule.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/HostToSpeckleGeometryBaseConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/CurveToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/LineToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/MeshToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/NurbsCurveConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/NurbsSurfaceToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/PlaneToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/PointToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/PolyCurveToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/Raw/PolylineToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/TopLevel/RhinoArcCurveToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/TopLevel/RhinoBrepToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/TopLevel/RhinoLineCurveToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/TopLevel/RhinoMeshToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/TopLevel/RhinoNurbsCurveToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/TopLevel/RhinoPointToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/TopLevel/RhinoPolyCurveToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToSpeckle/TopLevel/RhinoPolylineCurveConverter.cs
  DUI3-DX/Sdk/Speckle.Converters.Common.DependencyInjection/RawConversionRegisterer.cs
Due: none

revert: Add attributes to receive converters back
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/Raw/SpecklePlaneRawToHostConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/TopLevel/SpeckleArcToHostArcCurveConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/TopLevel/SpeckleLineToHostLineCurveConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/TopLevel/SpeckleMeshToHostMeshConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/TopLevel/SpecklePointToHostPointConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/TopLevel/SpecklePolylineToHostPolylineCurveConversion.cs
Due: none

Add polycurve as spline to host conversion
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/Speckle.Converters.AutocadShared.projitems
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToHost/Geometry/ArcToHostConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToHost/Geometry/CircleToHostConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToHost/Geometry/CurveToHostConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToHost/Geometry/EllipseToHostConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToHost/Geometry/LineToHostConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToHost/Geometry/MeshToHostConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToHost/Geometry/PointToHostConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToHost/Geometry/PolycurveToHostConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToHost/Geometry/PolylineToHostConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToHost/Raw/ArcToHostRawConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToHost/Raw/CurveToHostRawConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToHost/Raw/PolycurveToHostPolylineRawConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToHost/Raw/PolycurveToHostSplineRawConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToHost/Raw/VectorToHostRawConverter.cs
Due: none

Add comments to polycurve conversions
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToHost/Raw/PolycurveToHostPolylineRawConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToHost/Raw/PolycurveToHostSplineRawConverter.cs
Due: none

Do not flatten native objects if they inherited from IEnumerable
  Core/Core/Models/Utilities.cs
  Core/Tests/Speckle.Core.Tests.Unit/Models/UtilitiesTests.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Operations/Receive/HostObjectBuilder.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Path conditions:
  core: any of: Core/.*
  rhino: any of: (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.*
  revit: any of: (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.*
  dynamo: any of: (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.*
  autocadcivil: any of: (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.*
  csi: any of: (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.*
  bentley: any of: (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.*
  teklastructures: any of: (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.*
  archicad: any of: (Core|Objects|ConnectorArchicad)/.*
  navisworks: any of: (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.*
