Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.3.1
  python: circleci/python@2.0.3

jobs:
  setup:
    executor: python/default
    steps:
      - checkout # checkout code
      - when:
          condition:
            and:
              - not:
                  equal: [main, << pipeline.git.branch >>]
              - not:
                  matches:
                    pattern: ".*/?ci/.*"
                    value: << pipeline.git.branch >>
              - not:
                  matches:
                    pattern: ".*/all$"
                    value: << pipeline.git.tag >>
          steps:
            - run: git branch internal_circleci
            - path-filtering/set-parameters:
                mapping: |
                  Core/.* core true
                  (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.* rhino true
                  (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.* revit true
                  (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.* dynamo true
                  (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.* autocadcivil true
                  (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.* csi true
                  (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.* bentley true
                  (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.* teklastructures true
                  (Core|Objects|ConnectorArchicad)/.* archicad true
                  (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.* navisworks true
                base-revision: main
                output-path: .circleci/scripts/parameters.json
      - run: cat .circleci/scripts/parameters.json
      - run: pip install pyyaml
      - run: # run a command
          name: Generate config
          command: |
            python .circleci/scripts/config-generator.py -d ${CIRCLE_TAG:-none} -o .circleci/continuation-config.yml -e ${CIRCLE_PR_REPONAME:-none}
      - continuation/continue:
          configuration_path: .circleci/continuation-config.yml # use newly generated config to continue
workflows:
  setup:
    jobs:
      - setup:
          name: Build Setup
      - setup:
          name: Deploy Setup
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^(nugets\/)?([0-9]+)\.([0-9]+)\.([0-9]+)(?:-\w+)?(\/all)?$/

fix(rhino): Apply preprocessor directives to RHINO7_OR_GREATER not just RHINO7
  ConnectorGrasshopper/ConnectorGrasshopperShared/Loader.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/SchemaBuilder/CreateSchemaObject.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/SchemaBuilder/CreateSchemaObjectBase.cs
Due: rhino

Arcgis highlight objects method
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Bindings/ArcGISReceiveBinding.cs
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Bindings/BasicConnectorBinding.cs
Due: none

ci: Upgrade to m1 macs
  .circleci/scripts/config-template.yml
Due: none

fix: try with lower xcode
  .circleci/scripts/config-template.yml
Due: none

ci: Bump xcode version accordingly
  .circleci/scripts/config-template.yml
Due: none

fix(ci): Install rosetta in m1 machines
  .circleci/scripts/config-template.yml
Due: none

fix(ci): Missing mac orb
  .circleci/scripts/config-template.yml
Due: none

Hopefully fixed all the problems
  Automate/Speckle.Automate.Sdk/Speckle.Automate.Sdk.csproj
  ConnectorCore/DllConflictManagement/EventEmitter/DllConflictEventEmitter.cs
  Core/Core/Core.csproj
  Directory.Build.props
  Directory.Build.targets
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertWall.cs
  Objects/Objects/BuiltElements/Archicad/ArchicadColumn.cs
  Objects/Objects/BuiltElements/Brace.cs
  Objects/Objects/BuiltElements/Column.cs
  Objects/Objects/BuiltElements/Duct.cs
  Objects/Objects/BuiltElements/Revit/RevitColumn.cs
  Objects/Objects/BuiltElements/Revit/RevitDuct.cs
  Objects/Objects/BuiltElements/Revit/RevitProfileWall.cs
  Objects/Objects/BuiltElements/Revit/RevitWall.cs
  Objects/Objects/BuiltElements/Wall.cs
  Objects/Objects/Objects.csproj
  Objects/Objects/Structural/Geometry/Element1D.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

CNX-9674 CNX-9673: Stop using intel mac images on CircleCI (#3449)
  .circleci/scripts/config-template.yml
Due: none

Beam
  Directory.Build.props
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertBrace.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AsteelBeam.cs
  Objects/Objects/BuiltElements/Beam.cs
  Objects/Objects/BuiltElements/Revit/RevitBeam.cs
  Objects/Objects/BuiltElements/Revit/RevitBrace.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Reverted changes to revit wall subtypes
  Objects/Objects/BuiltElements/Revit/RevitFaceWall.cs
  Objects/Objects/BuiltElements/Revit/RevitProfileWall.cs
  Objects/Objects/BuiltElements/Revit/RevitWall.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

unit converter fix
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/ArcGISToSpeckleUnitConverter.cs
Due: none

Promoted CS8616 from `NoWarn` to `Warning`
  Automate/Speckle.Automate.Sdk/Speckle.Automate.Sdk.csproj
  ConnectorCore/DllConflictManagement/EventEmitter/DllConflictEventEmitter.cs
  Core/Core/Core.csproj
  Directory.Build.props
  Directory.Build.targets
  Objects/Objects/Objects.csproj
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Fix: Reverting wrong conflict resolving unit converter (#3452)
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/ArcGISToSpeckleUnitConverter.cs
Due: none

Promoted several warnings out of `NoWarn`
  Core/Core/Core.csproj
  DUI3-DX/DUI3/Speckle.Connectors.DUI/Bridge/BrowserBridge.cs
  Directory.Build.props
  Directory.Build.targets
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix warnings
  Objects/Objects/BuiltElements/Revit/RevitWall.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

accidental CS9057
  Directory.Build.props
Due: none

Have public setters for deserialization
  DUI3-DX/DUI3/Speckle.Connectors.DUI/Utils/DiscriminatedObjectConverter.cs
  DUI3-DX/Sdk/Speckle.Connectors.Utils/ReceiveConversionResult.cs
  DUI3-DX/Sdk/Speckle.Connectors.Utils/SendConversionResult.cs
Due: none

Promoted CS8618 to warning (dev) (#3453)
  Automate/Speckle.Automate.Sdk/Speckle.Automate.Sdk.csproj
  ConnectorCore/DllConflictManagement/EventEmitter/DllConflictEventEmitter.cs
  Core/Core/Core.csproj
  Directory.Build.props
  Directory.Build.targets
  Objects/Objects/Objects.csproj
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Promoted several analysers to warnings for DUI3 (#3454)
  Core/Core/Core.csproj
  DUI3-DX/DUI3/Speckle.Connectors.DUI/Bridge/BrowserBridge.cs
  Directory.Build.props
  Directory.Build.targets
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Store response and return later
  DUI3-DX/DUI3/Speckle.Connectors.DUI/Bridge/BrowserBridge.cs
Due: none

Store emit response and return later from bridge (#3456)
  DUI3-DX/DUI3/Speckle.Connectors.DUI/Bridge/BrowserBridge.cs
Due: none

reverted some uneeded changes
  Directory.Build.props
  Objects/Objects/BuiltElements/Archicad/ArchicadColumn.cs
  Objects/Objects/BuiltElements/Archicad/ElementShape.cs
  Objects/Objects/BuiltElements/Column.cs
  Objects/Objects/BuiltElements/Revit/RevitColumn.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

add parts class and property to pipes and structures
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
  Objects/Objects/Other/Civil/CivilDataField.cs
  Objects/Objects/Other/DataField.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

chore(revit): Delete remaining files from old DUI3 POC
  ConnectorRevit/RevitDUI3/Speckle.Connectors.Revit2023/Class1.cs
  ConnectorRevit/RevitDUI3/Speckle.Connectors.Revit2023/Properties/AssemblyInfo.cs
  ConnectorRevit/RevitDUI3/Speckle.Connectors.Revit2023/Speckle.Connectors.Revit2023.csproj
  ConnectorRevit/RevitDUI3/Speckle.Connectors.Revit2023/packages.config
  ConnectorRevit/RevitDUI3/Speckle.Connectors.RevitShared/RevitPlugin/IRevitPlugin.cs
  ConnectorRevit/RevitDUI3/Speckle.Connectors.RevitShared/RevitPlugin/RevitExternalApplication.cs
  ConnectorRevit/RevitDUI3/Speckle.Connectors.RevitShared/RevitPlugin/RevitSettings.cs
  ConnectorRevit/RevitDUI3/Speckle.Connectors.RevitShared/RevitPlugin/SpeckleRevit.addin
  ConnectorRevit/RevitDUI3/Speckle.Connectors.RevitShared/RevitPlugin/SpeckleRevitCommand.cs
  ConnectorRevit/RevitDUI3/Speckle.Connectors.RevitShared/Speckle.Connectors.RevitShared.projitems
  ConnectorRevit/RevitDUI3/Speckle.Connectors.RevitShared/Speckle.Connectors.RevitShared.shproj
Due: revit

chore(revit): Delete remaining files from old DUI3 POC (#3458)
  ConnectorRevit/RevitDUI3/Speckle.Connectors.Revit2023/Class1.cs
  ConnectorRevit/RevitDUI3/Speckle.Connectors.Revit2023/Properties/AssemblyInfo.cs
  ConnectorRevit/RevitDUI3/Speckle.Connectors.Revit2023/Speckle.Connectors.Revit2023.csproj
  ConnectorRevit/RevitDUI3/Speckle.Connectors.Revit2023/packages.config
  ConnectorRevit/RevitDUI3/Speckle.Connectors.RevitShared/RevitPlugin/IRevitPlugin.cs
  ConnectorRevit/RevitDUI3/Speckle.Connectors.RevitShared/RevitPlugin/RevitExternalApplication.cs
  ConnectorRevit/RevitDUI3/Speckle.Connectors.RevitShared/RevitPlugin/RevitSettings.cs
  ConnectorRevit/RevitDUI3/Speckle.Connectors.RevitShared/RevitPlugin/SpeckleRevit.addin
  ConnectorRevit/RevitDUI3/Speckle.Connectors.RevitShared/RevitPlugin/SpeckleRevitCommand.cs
  ConnectorRevit/RevitDUI3/Speckle.Connectors.RevitShared/Speckle.Connectors.RevitShared.projitems
  ConnectorRevit/RevitDUI3/Speckle.Connectors.RevitShared/Speckle.Connectors.RevitShared.shproj
Due: revit

expanding context stack Document from Map to (Project, Map)
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Operations/Receive/HostObjectBuilder.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3.DependencyInjection/ArcGISConverterModule.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/ArcGISConversionContextStack.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Features/GisRasterToSpeckleConverter.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Features/MultipatchFeatureToSpeckleConverter.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Features/PointFeatureToSpeckleConverter.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Features/PolylineFeatureToSpeckleConverter.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Geometry/EnvelopBoxToSpeckleConverter.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Geometry/ISpeckleObjectToHost/CircleToHostConverter.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Geometry/PointSingleToHostConverter.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Geometry/PointToSpeckleConverter.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Geometry/SegmentCollectionToSpeckleConverter.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Layers/PointcloudLayerToSpeckleConverter.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Layers/RasterLayerToSpeckleConverter.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Layers/TableToSpeckleConverter.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Layers/VectorLayerToHostConverter.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Layers/VectorLayerToSpeckleConverter.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Utils/NonNativeFeaturesUtils.cs
Due: none

move all database operations to context stack (it should only be called once per any operation and results (e.g. database path) accessible throughout converters)
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Operations/Receive/HostObjectBuilder.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3.DependencyInjection/ArcGISConverterModule.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/ArcGISConversionContextStack.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Layers/FeatureClassToHostConverter.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Layers/TableToHostConverter.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Utils/ArcGISProjectUtils.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Utils/IArcGISProjectUtils.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Utils/NonNativeFeaturesUtils.cs
Due: none

fix Uri format needed for adding layers
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Operations/Receive/HostObjectBuilder.cs
Due: none

fix: Unify getVersionedName + fix initial exception on document open
  ConnectorGrasshopper/ConnectorGrasshopperShared/Extras/Utilities.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Loader.cs
Due: rhino

chore: Flag GetVersionedAppName as obsolete
  ConnectorGrasshopper/ConnectorGrasshopperShared/Extras/Utilities.cs
Due: rhino

fix: Apply text input fix from #1362 to fix Rhino8 text panel
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/DuiPanel.xaml.cs
Due: rhino

fix: Add missing braces
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/DuiPanel.xaml.cs
Due: rhino

fix: Remove unnecessary using statement
  ConnectorGrasshopper/ConnectorGrasshopperShared/Extras/Utilities.cs
Due: rhino

Clean up for build merge. Need global.json to not roll on major versions
  Build/Program.cs
  DUI3-DX/Directory.Build.Props
  global.json
Due: none

latestMajor back
  global.json
Due: none

feat(xxx): this is an experimental throwaway branch
  Core/Core/Serialisation/BaseObjectSerializerV2.cs
  Core/Core/Transports/Server.cs
  Core/Core/Transports/ServerUtils/ParallelServerAPI.cs
  Core/Core/Transports/ServerUtils/ServerAPI.cs
  Core/Core/Transports/ServerV2.cs
  Core/Core/Transports/ServerV3.cs
  Core/Core/Transports/ServerV3b.cs
  Core/Core/Transports/ServerV4.cs
  DUI3-DX/Sdk/Speckle.Connectors.Utils/Operations/RootObjectSender.cs
  DUI3-DX/Sdk/Speckle.Connectors.Utils/Operations/Send.cs
  Directory.Build.props
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Alpha branch fixes (#3462)
  Build/Program.cs
  DUI3-DX/Directory.Build.Props
Due: none

Update global.json to net8
  All.sln
  global.json
Due: none

change CI and tests
  .github/workflows/ci.yml
  Automate/Tests/Speckle.Automate.Sdk.Tests.Integration/Speckle.Automate.Sdk.Tests.Integration.csproj
  Build/Build.csproj
  Core/Tests/Speckle.Core.Tests.Integration/Speckle.Core.Tests.Integration.csproj
  Core/Tests/Speckle.Core.Tests.Unit/Speckle.Core.Tests.Unit.csproj
  Objects/Tests/Objects.Tests.Unit/Objects.Tests.Unit.csproj
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks
