Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

use dockerize wait to run the server
  .circleci/scripts/config-template.yml
Due: none

use the helper
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateObject.cpp
Due: archicad

fix(ci): Use docker orb?
  .circleci/scripts/config-template.yml
Due: none

fix(ci): Install dockerize before running anything
  .circleci/scripts/config-template.yml
Due: none

fix(ci): PEBKAC
  .circleci/scripts/config-template.yml
Due: none

adds profile conversions to alignment to speckle method
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

hotfix(collections): Deprecated object models for backwards compatibility. (#2626)
  Core/Core/Serialisation/BaseObjectSerialzerUtilities.cs
  Core/Tests/ObjectModelDeprecationTests.cs
  Objects/Objects/Organization/Deprecated/Collection.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(ci): Integration tests now running with docker-compose
  .circleci/scripts/config-template.yml
  Core/docker-compose.yml
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(ci): Ugly but effective, everybody installs dotnet
  .circleci/scripts/config-template.yml
Due: none

fix(ci): Use absolutepath to dotnet
  .circleci/scripts/config-template.yml
Due: none

fix(ci): Upgrade to net7.0
  Core/Examples/ExampleApp.csproj
  Core/IntegrationTests/TestsIntegration.csproj
  Core/Tests/TestsUnit.csproj
  Objects/Tests/Tests.csproj
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(ci): docker-compose command fix
  .circleci/scripts/config-template.yml
  DesktopUI2/DesktopUI2.Launcher/DesktopUI2.Launcher.csproj
  DesktopUI2/DesktopUI2.WPF/DesktopUI2.WPF.csproj
Due: none

fix(Archicad): Creation of library part as definitions speed regression fix (#2633)
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateObject.cpp
Due: archicad

fix(ci): updated cimg
  .circleci/scripts/config-template.yml
Due: none

fix(ci): setup remote docker
  .circleci/scripts/config-template.yml
Due: none

fix(ci): Forward port 3000
  Core/docker-compose.yml
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(ci): internal bridge network
  Core/docker-compose.yml
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(ci): Use ubuntu
  .circleci/scripts/config-template.yml
Due: none

fix(ci): use `docker compose` instead
  .circleci/scripts/config-template.yml
Due: none

fix(ci): Revert network change to default
  Core/docker-compose.yml
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(ci): Use bigger image for integration tests
  .circleci/scripts/config-template.yml
Due: none

fix(ci): Try with medium size and scale 0 on preview-service
  .circleci/scripts/config-template.yml
Due: none

Revert "fix(ci): Try with medium size and scale 0 on preview-service"
  .circleci/scripts/config-template.yml
Due: none

fix(ci): use dockerize wait to run the server (#2631)
  .circleci/scripts/config-template.yml
  Core/Examples/ExampleApp.csproj
  Core/IntegrationTests/TestsIntegration.csproj
  Core/Tests/TestsUnit.csproj
  Core/docker-compose.yml
  DesktopUI2/DesktopUI2.Launcher/DesktopUI2.Launcher.csproj
  DesktopUI2/DesktopUI2.WPF/DesktopUI2.WPF.csproj
  Objects/Tests/Tests.csproj
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Remove the need to calculate PseudoIds again in the Converter
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToSpeckle.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Utilities.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Reducing Bindings complexity
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Objects.cs
Due: navisworks

Remove ViewProxy object class
  ConnectorNavisworks/ConnectorNavisworks/Other/ViewProxy.cs
Due: navisworks

Adding name to Properties Base class for FE2 goodness
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Properties.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Removing placeholder code
  ConnectorNavisworks/ConnectorNavisworks/Entry/Commands.cs
  ConnectorNavisworks/ConnectorNavisworks/Entry/Ribbon.xaml.cs
Due: navisworks

Add Constants class for rationalisation
  ConnectorNavisworks/ConnectorNavisworks/Other/Constants.cs
Due: navisworks

Invokers class + 2 implementations
  ConnectorNavisworks/ConnectorNavisworks/Other/Invokers.cs
Due: navisworks

refactor: SelectionBuilder and Elements class extracted from SendStream
  ConnectorNavisworks/ConnectorNavisworks/Other/Elements.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/SelectionBuilder.cs
Due: navisworks

Remove the PseudoId juggling from Utilities
  ConnectorNavisworks/ConnectorNavisworks/Other/Utilities.cs
Due: navisworks

refactor: Namespace Consistency
  ConnectorNavisworks/ConnectorNavisworks/Storage/SpeckleStreamManager.cs
Due: navisworks

Default pane size improved
  ConnectorNavisworks/ConnectorNavisworks/Entry/SpeckleHostPane.xaml
  ConnectorNavisworks/ConnectorNavisworks/Entry/SpeckleNavisworksCommand.cs
Due: navisworks

Reflects the namespace and rationalisation refactoring
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Events.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.cs
  ConnectorNavisworks/ConnectorNavisworks/ConnectorNavisworks.Shared.projitems
Due: navisworks

fix(dui): #2605 handles exceptions during search
  DesktopUI2/DesktopUI2/ViewModels/CollaboratorsViewModel.cs
Due: none

New Setting to request the full model hierarchy
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Settings.cs
Due: navisworks

fix(dui): #2605 handles exceptions during search (#2639)
  DesktopUI2/DesktopUI2/ViewModels/CollaboratorsViewModel.cs
Due: none

Path conditions:
  core: any of: Core/.*
  rhino: any of: (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.*
  revit: any of: (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.*
  dynamo: any of: (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.*
  autocadcivil: any of: (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.*
  csi: any of: (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.*
  bentley: any of: (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.*
  teklastructures: any of: (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.*
  archicad: any of: (Core|Objects|ConnectorArchicad)/.*
  navisworks: any of: (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.*
