Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(rhino): Update Rhino solution
  ConnectorRhino/ConnectorRhino.sln
  ConnectorRhino/ConnectorRhino8/ConnectorRhino8.csproj
Due: rhino

fix(rhino): Bumped rhino dependency to version 8.3
  ConnectorGrasshopper/ConnectorGrasshopper7/ConnectorGrasshopper7.csproj
  ConnectorGrasshopper/ConnectorGrasshopper8/ConnectorGrasshopper8.csproj
  ConnectorGrasshopper/ConnectorGrasshopperUtils/ConnectorGrasshopperUtils.csproj
  ConnectorRhino/ConnectorRhino8/ConnectorRhino8.csproj
  Objects/Converters/ConverterRhinoGh/ConverterGrasshopper8/ConverterGrasshopper8.csproj
  Objects/Converters/ConverterRhinoGh/ConverterRhino8/ConverterRhino8.csproj
  Objects/Objects.sln
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(rvt): Lowered log from fatal to error
  ConnectorRevit/RevitSharedResources/Models/ErrorEater.cs
Due: revit

fix(gh): one final push
  ConnectorGrasshopper/ConnectorGrasshopperShared/BaseComponents/SelectKitAsyncComponentBase.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/BaseComponents/SelectKitComponentBase.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/BaseComponents/SelectKitTaskCapableComponentBase.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Conversion/DeserialiseTaskCapableComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Conversion/SerialiseTaskCapableComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Conversion/ToNativeTaskCapableComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Conversion/ToSpeckleTaskCapableComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Extras/GH_SpeckleAccount.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Extras/SpeckleStreamParam.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Extras/Utilities.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Loader.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Objects/CreateSpeckleObjectByKeyValueV2TaskComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Objects/CreateSpeckleObjectTaskComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Objects/DeconstructSpeckleObjectTaskComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Objects/ExtendSpeckleObjectByKeyValueV2TaskComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Objects/ExtendSpeckleObjectTaskComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Objects/GetObjectValueByKeyTaskComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Operations.ReceiveLocalComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Operations.SendLocalComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Operations.SyncReceiveComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Operations.SyncSendComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Operations.VariableInputReceiveComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Operations.VariableInputSendComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/SchemaBuilder/CreateSchemaObject.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/SchemaBuilder/CreateSchemaObjectBase.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/SchemaBuilder/CreateSchemaObjectDialog.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Streams/StreamGetComponentV2.cs
Due: rhino

fix(gh): Final exception handling fixes
  ConnectorGrasshopper/ConnectorGrasshopperShared/Objects/CreateSpeckleObjectTaskComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Objects/ExtendSpeckleObjectByKeyValueV2TaskComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Objects/ExtendSpeckleObjectTaskComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Operations.VariableInputSendComponent.cs
Due: rhino

fix(gh): removed unnecessary using
  ConnectorGrasshopper/ConnectorGrasshopperShared/Loader.cs
Due: rhino

fixes
  ConnectorArchicad/ConnectorArchicad/Communication/AsyncCommandProcessor.cs
  ConnectorArchicad/ConnectorArchicad/ConnectorBinding.cs
Due: archicad

fix(Archicad): CNX-8392 Handle CA1031 warnings in ArchiCAD projects #2 (#3127)
  ConnectorArchicad/ConnectorArchicad/Communication/AsyncCommandProcessor.cs
  ConnectorArchicad/ConnectorArchicad/ConnectorBinding.cs
Due: archicad

Made requested changes
  Core/Core/Models/Base.cs
  Core/Core/Serialisation/BaseObjectDeserializerV2.cs
  Core/Core/Serialisation/BaseObjectSerializer.cs
  Core/Core/Serialisation/SerializationUtilities/BaseObjectSerializationUtilities.cs
  Core/Core/Serialisation/SerializationUtilities/CallsiteCache.cs
  Core/Core/Serialisation/SerializationUtilities/DeserializationWorkerThreads.cs
  Core/Core/Serialisation/SerializationUtilities/OperationTask.cs
  Core/Core/Serialisation/SerializationUtilities/ValueConverter.cs
  Core/Core/Serialisation/SpeckleSerializerException.cs
  Core/Core/Transports/ServerUtils/ParallelServerAPI.cs
  Core/Tests/Speckle.Core.Tests.Unit/Serialisation/ObjectModelDeprecationTests.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Fix bug in setting space limits, using BuiltInParameters ROOM_UPPER_OFFSET and ROOM_LOWER_OFFSET for setting LimitOffset and BaseOffset.
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertSpace.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Fix bug in SetSpaceLimits.
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertSpace.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

changes
  .editorconfig
  Core/Core/Api/Operations/Operations.Receive.Obsolete.cs
  Core/Core/Api/Operations/Operations.Receive.cs
  Core/Core/Api/Operations/Operations.Send.Obsolete.cs
  Core/Core/Api/Operations/Operations.Send.cs
  Core/Core/Transports/ServerUtils/ParallelServerAPI.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Resolved warnings in Integration test project
  Core/Tests/Speckle.Core.Tests.Integration/Api.cs
  Core/Tests/Speckle.Core.Tests.Integration/Fixtures.cs
  Core/Tests/Speckle.Core.Tests.Integration/GraphQLCLient.cs
  Core/Tests/Speckle.Core.Tests.Integration/ServerTransportTests.cs
  Core/Tests/Speckle.Core.Tests.Integration/Speckle.Core.Tests.Integration.csproj
  Core/Tests/Speckle.Core.Tests.Integration/Subscriptions/Branches.cs
  Core/Tests/Speckle.Core.Tests.Integration/Subscriptions/Commits.cs
  Core/Tests/Speckle.Core.Tests.Integration/Subscriptions/Streams.cs
  Directory.Build.targets
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Updated test projects to use newer nunit syntax
  .editorconfig
  Core/Tests/Speckle.Core.Tests.Integration/Api.cs
  Core/Tests/Speckle.Core.Tests.Integration/Fixtures.cs
  Core/Tests/Speckle.Core.Tests.Integration/GraphQLCLient.cs
  Core/Tests/Speckle.Core.Tests.Integration/ServerTransportTests.cs
  Core/Tests/Speckle.Core.Tests.Integration/Subscriptions/Branches.cs
  Core/Tests/Speckle.Core.Tests.Integration/Subscriptions/Commits.cs
  Core/Tests/Speckle.Core.Tests.Integration/Subscriptions/Streams.cs
  Core/Tests/Speckle.Core.Tests.Unit/Api/GraphQLClient.cs
  Core/Tests/Speckle.Core.Tests.Unit/Api/Operations/SendReceiveLocal.cs
  Core/Tests/Speckle.Core.Tests.Unit/Api/Operations/SerializationTests.cs
  Core/Tests/Speckle.Core.Tests.Unit/Credentials/Accounts.cs
  Core/Tests/Speckle.Core.Tests.Unit/Credentials/FE2WrapperTests.cs
  Core/Tests/Speckle.Core.Tests.Unit/Helpers/Path.cs
  Core/Tests/Speckle.Core.Tests.Unit/Kits/KitManagerTests.cs
  Core/Tests/Speckle.Core.Tests.Unit/Models/BaseTests.cs
  Core/Tests/Speckle.Core.Tests.Unit/Models/Extensions/ExceptionTests.cs
  Core/Tests/Speckle.Core.Tests.Unit/Models/Hashing.cs
  Core/Tests/Speckle.Core.Tests.Unit/Models/TraversalTests.cs
  Core/Tests/Speckle.Core.Tests.Unit/Serialisation/SerializerNonBreakingChanges.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Removed Configure Awaits from Unit test project
  Core/Tests/Speckle.Core.Tests.Unit/Api/GraphQLClient.cs
  Core/Tests/Speckle.Core.Tests.Unit/Api/Operations/OperationsReceiveTests.cs
  Core/Tests/Speckle.Core.Tests.Unit/Api/Operations/SendReceiveLocal.cs
  Core/Tests/Speckle.Core.Tests.Unit/Transports/SQLiteTransportTests.cs
  Core/Tests/Speckle.Core.Tests.Unit/Transports/TransportTests.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

polish
  Core/Tests/Speckle.Core.Tests.Unit/Models/BaseTests.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

wtf csharpier...
  Core/Tests/Speckle.Core.Tests.Unit/Api/GraphQLClient.cs
  Core/Tests/Speckle.Core.Tests.Unit/Api/Operations/OperationsReceiveTests.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Retrieve FunctionRunData from file
  Automate/Speckle.Automate.Sdk/Runner.cs
  Automate/Speckle.Automate.Sdk/Schema/FunctionRunData.cs
  Automate/Speckle.Automate.Sdk/Schema/FunctionRunDataParser.cs
  Automate/Tests/Speckle.Automate.Sdk.Tests.Integration/SpeckleAutomate.cs
Due: none

fix(gh): Changes based on Jedds review comments
  ConnectorGrasshopper/ConnectorGrasshopperShared/Conversion/SerialiseTaskCapableComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Extras/GH_SpeckleAccount.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Extras/SpeckleStreamParam.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Extras/Utilities.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Objects/CreateSpeckleObjectByKeyValueV2TaskComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Objects/Deprecated/ExpandSpeckleObjectTaskComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Objects/Deprecated/ExtendSpeckleObjectByKeyValueTaskComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Objects/ExtendSpeckleObjectByKeyValueV2TaskComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Deprecated/Operations.ReceiveComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Operations.SendLocalComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/SchemaBuilder/CreateSchemaObject.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/SchemaBuilder/CreateSchemaObjectBase.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Streams/Deprecated/StreamListComponent.cs
Due: rhino

fix(gh): Changes to pass CI checks
  ConnectorGrasshopper/ConnectorGrasshopperShared/Objects/Deprecated/ExpandSpeckleObjectTaskComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/SchemaBuilder/CreateSchemaObjectBase.cs
Due: rhino

feat(rhino): CNX-8348 CNX-8349 create rhino 8 connector converter projects (#3101)
  All.sln
  ConnectorGrasshopper/ConnectorGrasshopper6/ConnectorGrasshopper6.csproj
  ConnectorGrasshopper/ConnectorGrasshopper8/ConnectorGrasshopper8.csproj
  ConnectorGrasshopper/ConnectorGrasshopperShared/Loader.cs
  ConnectorGrasshopper/ConnectorGrasshopperUtils/ConnectorGrasshopperUtils.csproj
  ConnectorRhino/ConnectorRhino.sln
  ConnectorRhino/ConnectorRhino.slnf
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/Plugin.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Utils.cs
  ConnectorRhino/ConnectorRhino6/ConnectorRhino6.csproj
  ConnectorRhino/ConnectorRhino8/ConnectorRhino8.csproj
  Core/Core/Kits/Applications.cs
  Objects/Converters/ConverterRhinoGh/ConverterGrasshopper6/ConverterGrasshopper6.csproj
  Objects/Converters/ConverterRhinoGh/ConverterGrasshopper8/ConverterGrasshopper8.csproj
  Objects/Converters/ConverterRhinoGh/ConverterRhino6/ConverterRhino6.csproj
  Objects/Converters/ConverterRhinoGh/ConverterRhino8/ConverterRhino8.csproj
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/BrepEncoder.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Geometry.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
  Objects/Objects.sln
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Reformat using CSharpier.
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertSpace.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Changed Cancellation tests to use CatchAsync rather than ThrowsAsync
  Core/Tests/Speckle.Core.Tests.Integration/GraphQLCLient.cs
  Core/Tests/Speckle.Core.Tests.Unit/Api/Operations/OperationsReceiveTests.Exceptional.cs
  Core/Tests/Speckle.Core.Tests.Unit/Transports/TransportTests.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

pr comment fixes
  ConnectorAutocadCivil/ConnectorAutocadCivil/Entry/SpeckleAutocadCommand.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Storage/SpeckleStreamManager.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Events.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Receive.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Selection.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Utils.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/Converter.AutocadCivil.Utils.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Geometry.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Update ConnectorBindingsAutocadCivil.Receive.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Receive.cs
Due: autocadcivil

Add FileNotFoundException doc to FromPath
  Automate/Speckle.Automate.Sdk/Schema/FunctionRunDataParser.cs
Due: none

Feat (Automate): CNX-8636 automate sdk breaking change (#3131)
  Automate/Speckle.Automate.Sdk/Runner.cs
  Automate/Speckle.Automate.Sdk/Schema/FunctionRunData.cs
  Automate/Speckle.Automate.Sdk/Schema/FunctionRunDataParser.cs
  Automate/Tests/Speckle.Automate.Sdk.Tests.Integration/SpeckleAutomate.cs
Due: none

Fix warnings on Automate.SDK
  Automate/Speckle.Automate.Sdk/AutomationContext.cs
  Automate/Speckle.Automate.Sdk/Runner.cs
  Automate/Speckle.Automate.Sdk/Schema/AutomationRunData.cs
  Automate/Speckle.Automate.Sdk/Schema/AutomationStatusMapping.cs
  Automate/Speckle.Automate.Sdk/Schema/ObjectResultLevelMapping.cs
  Automate/Speckle.Automate.Sdk/Schema/ObjectResultValues.cs
  Automate/Speckle.Automate.Sdk/Schema/ObjectResults.cs
Due: none

Add doc for exceptions and fix styling
  Automate/Speckle.Automate.Sdk/AutomationContext.cs
Due: none

Fix failing runner unit test
  Automate/Speckle.Automate.Sdk/Schema/ObjectResults.cs
Due: none

Fix warnings on Automate SDK test project
  Automate/Tests/Speckle.Automate.Sdk.Tests.Integration/GetAutomationStatus.cs
  Automate/Tests/Speckle.Automate.Sdk.Tests.Integration/SpeckleAutomate.cs
  Automate/Tests/Speckle.Automate.Sdk.Tests.Integration/TestAutomateFunction.cs
  Automate/Tests/Speckle.Automate.Sdk.Tests.Integration/TestAutomateUtils.cs
Due: none

Add README for Automate SDK test project
  Automate/Tests/Speckle.Automate.Sdk.Tests.Integration/README.md
Due: none

Do not handle fatal errors
  Automate/Speckle.Automate.Sdk/Runner.cs
Due: none

isfatal
  ConnectorAutocadCivil/ConnectorAutocadCivil/Storage/SpeckleStreamManager.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Utils.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/Converter.AutocadCivil.Utils.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Geometry.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Other.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Fix grammar on doc
  Automate/Speckle.Automate.Sdk/Schema/AutomationRunData.cs
Due: none

logger errors
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Receive.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Send.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Utils.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

missed todo
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Geometry.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Path conditions:
  core: any of: Core/.*
  rhino: any of: (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.*
  revit: any of: (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.*
  dynamo: any of: (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.*
  autocadcivil: any of: (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.*
  csi: any of: (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.*
  bentley: any of: (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.*
  teklastructures: any of: (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.*
  archicad: any of: (Core|Objects|ConnectorArchicad)/.*
  navisworks: any of: (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.*
