Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(Archicad): Timeout after 100s when sending large models #2 (#3048)
  ConnectorArchicad/ConnectorArchicad/Communication/ConnectionManager.cs
Due: archicad

use correct rethrow
  Core/Core/Api/Helpers.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/SpeckleConversionTest.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Chore(Core) : use correct rethrow (#3051)
  Core/Core/Api/Helpers.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/SpeckleConversionTest.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Split global and connector configs and onboardings
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/Factory.cs
  DesktopUI3/DUI3/Bindings/ConfigBinding.cs
  DesktopUI3/DUI3/Config/ConnectorConfig.cs
  DesktopUI3/DUI3/Config/GlobalConfig.cs
  DesktopUI3/DUI3/Config/UiConfig.cs
  DesktopUI3/DUI3/Onboarding/Factory.cs
  DesktopUI3/DUI3/Onboarding/OnboardingData.cs
Due: rhino

Forward and backward compatibility for configs
  DesktopUI3/DUI3/Bindings/ConfigBinding.cs
  DesktopUI3/DUI3/Utils/DiscriminatedObjectConverter.cs
  DesktopUI3/DUI3/Utils/PropertyValidator.cs
  DesktopUI3/DUI3/Utils/SerializationSettingsFactory.cs
Due: none

chore: symbol naming enforcement across all csprojects
  .editorconfig
  All.sln.DotSettings
  Core/Core/Api/GraphQL/.editorconfig
  Directory.Build.props
  Objects/Objects/.editorconfig
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Extract ValidateConfigs
  DesktopUI3/DUI3/Bindings/ConfigBinding.cs
  DesktopUI3/DUI3/Config/ConnectorConfig.cs
  DesktopUI3/DUI3/Config/GlobalConfig.cs
Due: none

timeout error
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetModelForElements.cpp
  ConnectorArchicad/ConnectorArchicad/ConnectorBinding.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/BeamConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/ColumnConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/DirectShapeConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/DoorConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/FloorConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/GridLineConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/RoofConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/RoomConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/SkylightConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/WallConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/WindowConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/ModelConverter.cs
  ConnectorArchicad/ConnectorArchicad/Helpers/Timer.cs
  ConnectorArchicad/ConnectorArchicad/Properties/OperationNameTemplates.Designer.cs
  ConnectorArchicad/ConnectorArchicad/Properties/OperationNameTemplates.resx
  ConnectorArchicad/ConnectorArchicad/Properties/launchSettings.json
Due: archicad

correctly parse units coming from other applications
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/Units.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Add default value for OnboardingData
  DesktopUI3/DUI3/Onboarding/Factory.cs
  DesktopUI3/DUI3/Onboarding/OnboardingData.cs
Due: none

Note for sample connector onboarding
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/Factory.cs
Due: rhino

Feat (DUI3): Onboarding and configs (#3055)
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Bindings/BasicConnectorBindingAutocad.cs
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Bindings/Factory.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/BasicConnectorBindingRevit.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/Factory.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/BasicConnectorBinding.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/Factory.cs
  ConnectorRhino/ConnectorRhinoWebUI/ConnectorRhinoWebUI.csproj
  DUI3.sln
  DesktopUI3/DUI3/Bindings/ConfigBinding.cs
  DesktopUI3/DUI3/Bindings/IBasicConnectorBinding.cs
  DesktopUI3/DUI3/Config/ConnectorConfig.cs
  DesktopUI3/DUI3/Config/GlobalConfig.cs
  DesktopUI3/DUI3/Config/UiConfig.cs
  DesktopUI3/DUI3/Onboarding/Factory.cs
  DesktopUI3/DUI3/Onboarding/OnboardingData.cs
  DesktopUI3/DUI3/Utils/DiscriminatedObjectConverter.cs
  DesktopUI3/DUI3/Utils/PropertyValidator.cs
  DesktopUI3/DUI3/Utils/SerializationSettingsFactory.cs
Due: rhino, revit, autocadcivil

test for formatted string
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/Units.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Fix(Revit) : correctly parse units coming from other applications (#3054)
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/Units.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(Archicad): Timeout after 100s when sending large models #3 (#3052)
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetModelForElements.cpp
  ConnectorArchicad/ConnectorArchicad/ConnectorBinding.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/BeamConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/ColumnConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/DirectShapeConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/DoorConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/FloorConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/GridLineConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/RoofConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/RoomConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/SkylightConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/WallConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/WindowConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/ModelConverter.cs
  ConnectorArchicad/ConnectorArchicad/Helpers/Timer.cs
  ConnectorArchicad/ConnectorArchicad/Properties/OperationNameTemplates.Designer.cs
  ConnectorArchicad/ConnectorArchicad/Properties/OperationNameTemplates.resx
  ConnectorArchicad/ConnectorArchicad/Properties/launchSettings.json
Due: archicad

Commented editorconfig
  .editorconfig
  Directory.Build.props
Due: none

Fix for calling Clash API and receiving nothing back.
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Filters.cs
  ConnectorNavisworks/ConnectorNavisworks/Entry/SpeckleNavisworksCommand.cs
Due: navisworks

fix: Minor updates to.props file
  Directory.Build.props
Due: none

fix(dui): Do not warn about DUI2 in CI
  DesktopUI2/DesktopUI2/DesktopUI2.csproj
Due: none

feat: Bump min sdk to >8.0
  global.json
Due: none

bump: Use 8.0 on ci too
  .circleci/scripts/config-template.yml
Due: none

Revert "bump: Use 8.0 on ci too"
  .circleci/scripts/config-template.yml
Due: none

Revert "feat: Bump min sdk to >8.0"
  global.json
Due: none

Refactor ConnectorNavisworksBindings.Filters.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Filters.cs
Due: navisworks

feat(gh): Add support for TextEntity conversion both ways.
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

chore: symbol naming enforcement across all csprojects (#3053)
  .editorconfig
  All.sln.DotSettings
  Core/Core/Api/GraphQL/.editorconfig
  DesktopUI2/DesktopUI2/DesktopUI2.csproj
  Directory.Build.props
  Objects/Objects/.editorconfig
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(gh): Add support for TextEntity conversion both ways. (#3057)
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

chore: Flag IDE0005 as Error in builds
  Directory.Build.props
Due: none

fix(core): Autofix for IDE0005
  Core/Core/Api/GraphQL/Models.cs
  Core/Core/Api/Helpers.cs
  Core/Core/Credentials/Account.cs
  Core/Core/Credentials/AccountManager.cs
  Core/Core/Helpers/Http.cs
  Core/Core/Logging/CumulativeTimer.cs
  Core/Core/Models/CommitObjectBuilder.cs
  Core/Core/Models/DynamicBase.cs
  Core/Core/Serialisation/BaseObjectSerializer.cs
  Core/Core/Serialisation/BaseObjectSerializerV2.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix: Expose warnings to CI builds
  .circleci/scripts/config-template.yml
Due: none

fix(objects): autofix for IDE0005
  Objects/Objects/BuiltElements/AdvanceSteel/AsteelGrating.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AsteelPlate.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AsteelSlab.cs
  Objects/Objects/BuiltElements/Archicad/Classification.cs
  Objects/Objects/BuiltElements/Duct.cs
  Objects/Objects/BuiltElements/Featureline.cs
  Objects/Objects/BuiltElements/GridLine.cs
  Objects/Objects/BuiltElements/Rebar.cs
  Objects/Objects/BuiltElements/Revit/Interfaces/IHasMEPConnectors.cs
  Objects/Objects/BuiltElements/Revit/RevitCurtainWallPanel.cs
  Objects/Objects/BuiltElements/Revit/RevitMEPConnector.cs
  Objects/Objects/BuiltElements/Room.cs
  Objects/Objects/BuiltElements/Zone.cs
  Objects/Objects/GIS/GisTopography.cs
  Objects/Objects/GIS/PolygonElement.cs
  Objects/Objects/Geometry/PolylineExtensions.cs
  Objects/Objects/Organization/DataTable.cs
  Objects/Objects/Structural/ApplicationSpecific/ETABS/Geometry/CSIElement1D.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(automate): autofix for IDE0005
  Automate/Speckle.Automate.Sdk/AutomationContext.cs
Due: none

reduced IDE0058 to suggestion
  .editorconfig
Due: none

Removed CI fail from batchuploader
  ConnectorCore/BatchUploader.OperationDriver/BatchUploader.OperationDriver.csproj
  ConnectorCore/BatchUploader.Sdk/BatchUploader.Sdk.csproj
Due: none

fix main build warnings batchuploader
  .editorconfig
  ConnectorCore/BatchUploader.OperationDriver/BatchUploader.OperationDriver.csproj
  ConnectorCore/BatchUploader.Sdk/BatchUploader.Sdk.csproj
Due: none

Refactor clash filter code and remove unnecessary comments
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Filters.cs
Due: navisworks

fix(ci): Expose all warnings in CI builds
  .circleci/scripts/config-template.yml
Due: none

fix main build warnings batchuploader (#3061)
  .editorconfig
  ConnectorCore/BatchUploader.OperationDriver/BatchUploader.OperationDriver.csproj
  ConnectorCore/BatchUploader.Sdk/BatchUploader.Sdk.csproj
Due: none

generate documentation file
  Directory.Build.props
Due: none

Card setting for send
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/SendBinding.cs
  DesktopUI3/DUI3/Bindings/ISendBinding.cs
  DesktopUI3/DUI3/Models/ModelCard.cs
  DesktopUI3/DUI3/Settings/CardSetting.cs
Due: rhino

Path conditions:
  core: any of: Core/.*
  rhino: any of: (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.*
  revit: any of: (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.*
  dynamo: any of: (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.*
  autocadcivil: any of: (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.*
  csi: any of: (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.*
  bentley: any of: (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.*
  teklastructures: any of: (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.*
  archicad: any of: (Core|Objects|ConnectorArchicad)/.*
  navisworks: any of: (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.*
