Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.3.1
  python: circleci/python@2.0.3

jobs:
  setup:
    executor: python/default
    steps:
      - checkout # checkout code
      - when:
          condition:
            and:
              - not:
                  equal: [main, << pipeline.git.branch >>]
              - not:
                  matches:
                    pattern: ".*/?ci/.*"
                    value: << pipeline.git.branch >>
              - not:
                  matches:
                    pattern: ".*/all$"
                    value: << pipeline.git.tag >>
          steps:
            - run: git branch internal_circleci
            - path-filtering/set-parameters:
                mapping: |
                  Core/.* core true
                  (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.* rhino true
                  (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.* revit true
                  (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.* dynamo true
                  (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.* autocadcivil true
                  (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.* csi true
                  (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.* bentley true
                  (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.* teklastructures true
                  (Core|Objects|ConnectorArchicad)/.* archicad true
                  (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.* navisworks true
                base-revision: main
                output-path: .circleci/scripts/parameters.json
      - run: cat .circleci/scripts/parameters.json
      - run: pip install pyyaml
      - run: # run a command
          name: Generate config
          command: |
            python .circleci/scripts/config-generator.py -d ${CIRCLE_TAG:-none} -o .circleci/continuation-config.yml -e ${CIRCLE_PR_REPONAME:-none}
      - continuation/continue:
          configuration_path: .circleci/continuation-config.yml # use newly generated config to continue
workflows:
  setup:
    jobs:
      - setup:
          name: Build Setup
      - setup:
          name: Deploy Setup
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^(nugets\/)?([0-9]+)\.([0-9]+)\.([0-9]+)(?:-\w+)?(\/all)?$/

Remove Launched Event (#3656)
  DesktopUI2/DesktopUI2/Views/MainUserControl.xaml.cs
Due: none

fix(ci): install net7.0 explicitly on CI
  .circleci/scripts/config-template.yml
Due: none

test: Bump everything to net8 or drop
  Automate/Tests/Speckle.Automate.Sdk.Tests.Integration/Speckle.Automate.Sdk.Tests.Integration.csproj
  ConnectorGrasshopper/ConnectorGrasshopper8/ConnectorGrasshopper8.csproj
  ConnectorGrasshopper/ConnectorGrasshopperUtils/ConnectorGrasshopperUtils.csproj
  Core/Tests/Speckle.Core.Tests.Integration/Speckle.Core.Tests.Integration.csproj
  Core/Tests/Speckle.Core.Tests.Unit/Speckle.Core.Tests.Unit.csproj
  DesktopUI2/DesktopUI2.Launcher/DesktopUI2.Launcher.csproj
  DesktopUI2/DesktopUI2.WPF/DesktopUI2.WPF.csproj
  Objects/Tests/Objects.Tests.Unit/Objects.Tests.Unit.csproj
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

test: Global.json points to net8 with `latestFeature`. This prevents using net9 accidentally
  global.json
Due: none

fix: Typo in target framework
  Core/Tests/Speckle.Core.Tests.Unit/Speckle.Core.Tests.Unit.csproj
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix: TargetFramework instead of plural
  ConnectorGrasshopper/ConnectorGrasshopper8/ConnectorGrasshopper8.csproj
  ConnectorGrasshopper/ConnectorGrasshopperUtils/ConnectorGrasshopperUtils.csproj
Due: rhino

fix: Use net8:0 image to build on mac
  .circleci/scripts/config-template.yml
Due: none

fix(automate): submit project id with run status
  Automate/Speckle.Automate.Sdk/AutomationContext.cs
Due: none

Default Fallback
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertArea.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Added deprecation warning to comments API
  Core/Core/Api/GraphQL/Inputs/CommentInputs.cs
  Core/Core/Api/GraphQL/Resources/CommentResource.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/CommentResourceTests.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/SubscriptionResourceTests.cs
  Core/Tests/Speckle.Core.Tests.Integration/Fixtures.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

reverted inputs change
  Core/Core/Api/GraphQL/Inputs/CommentInputs.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Removed inputs
  Core/Core/Api/GraphQL/Inputs/CommentInputs.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(ci): Bump to net8.0 and drop unused net7.0 target for grasshopper (#3659)
  .circleci/scripts/config-template.yml
  Automate/Tests/Speckle.Automate.Sdk.Tests.Integration/Speckle.Automate.Sdk.Tests.Integration.csproj
  ConnectorGrasshopper/ConnectorGrasshopper8/ConnectorGrasshopper8.csproj
  ConnectorGrasshopper/ConnectorGrasshopperUtils/ConnectorGrasshopperUtils.csproj
  Core/Core/Api/GraphQL/Inputs/CommentInputs.cs
  Core/Core/Api/GraphQL/Resources/CommentResource.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/CommentResourceTests.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/SubscriptionResourceTests.cs
  Core/Tests/Speckle.Core.Tests.Integration/Fixtures.cs
  Core/Tests/Speckle.Core.Tests.Integration/Speckle.Core.Tests.Integration.csproj
  Core/Tests/Speckle.Core.Tests.Unit/Speckle.Core.Tests.Unit.csproj
  DesktopUI2/DesktopUI2.Launcher/DesktopUI2.Launcher.csproj
  DesktopUI2/DesktopUI2.WPF/DesktopUI2.WPF.csproj
  Objects/Tests/Objects.Tests.Unit/Objects.Tests.Unit.csproj
  global.json
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(automate): submit project id with run status (#3660)
  Automate/Speckle.Automate.Sdk/AutomationContext.cs
Due: none

Updated DUI2
  ConnectorDynamo/ConnectorDynamo/ReceiveNode/Receive.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Operations.SyncReceiveComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Operations.VariableInputReceiveComponent.cs
  Core/Core/Api/GraphQL/Legacy/Client.GraphqlCleintOperations/Client.StreamOperations.cs
  Core/Core/Api/GraphQL/Legacy/Client.Subscriptions/Client.Subscriptions.Branch.cs
  Core/Core/Api/GraphQL/Legacy/Client.Subscriptions/Client.Subscriptions.Commit.cs
  Core/Core/Api/GraphQL/Legacy/Client.Subscriptions/Client.Subscriptions.Stream.cs
  Core/Core/Api/GraphQL/Legacy/LegacyGraphQLModels.cs
  Core/Core/Api/GraphQL/Legacy/SubscriptionModels.cs
  Core/Core/Api/GraphQL/Models/FileUpload.cs
  Core/Core/Api/GraphQL/Models/PendingStreamCollaborator.cs
  Core/Core/Api/GraphQL/Models/User.cs
  Core/Core/Credentials/Responses.cs
  DesktopUI2/DesktopUI2/ViewModels/CollaboratorsViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  DesktopUI2/DesktopUI2/Views/Pages/HomeView.xaml
  DesktopUI2/DesktopUI2/Views/Pages/StreamEditView.xaml
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

remove comment subscription
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: none

Comments
  Core/Core/Api/GraphQL/Legacy/Client.GraphqlCleintOperations/Client.StreamOperations.cs
  Core/Core/Api/GraphQL/Models/Comment.cs
  Core/Core/Api/GraphQL/Resources/CommentResource.cs
  DesktopUI2/DesktopUI2/ViewModels/CommentViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix comment
  Core/Core/Api/GraphQL/Models/Comment.cs
  DesktopUI2/DesktopUI2/ViewModels/CommentViewModel.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

VersionUpdate subscription workaround
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Operations.VariableInputReceiveComponent.cs
  Core/Core/Api/GraphQL/Resources/SubscriptionResource.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Dynamo
  ConnectorDynamo/ConnectorDynamo/ReceiveNode/Receive.cs
Due: dynamo

Fixed issue with collections being modified while enumerating
  DesktopUI2/DesktopUI2/ViewModels/CollaboratorsViewModel.cs
Due: none

removed deprecated tests
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Legacy/LegacyAPITests.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Marked deprecated true on all legacy subscriptions
  Core/Core/Api/GraphQL/Legacy/Client.GraphqlCleintOperations/Client.ActivityOperations.cs
  Core/Core/Api/GraphQL/Legacy/Client.GraphqlCleintOperations/Client.CommentOperations.cs
  Core/Core/Api/GraphQL/Legacy/Client.GraphqlCleintOperations/Client.StreamOperations.cs
  Core/Core/Api/GraphQL/Legacy/Client.Subscriptions/Client.Subscriptions.Branch.cs
  Core/Core/Api/GraphQL/Legacy/Client.Subscriptions/Client.Subscriptions.Commit.cs
  Core/Core/Api/GraphQL/Legacy/Client.Subscriptions/Client.Subscriptions.Stream.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Legacy/LegacyAPITests.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Legacy/Subscriptions/Branches.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Legacy/Subscriptions/Commits.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Legacy/Subscriptions/Streams.cs
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

using directives
  ConnectorDynamo/ConnectorDynamo/ReceiveNode/Receive.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Operations.SyncReceiveComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Operations.VariableInputReceiveComponent.cs
  ConnectorRevit/RevitSharedResources/Helpers/Extensions.cs
  Core/Tests/Speckle.Core.Tests.Integration/Fixtures.cs
  Core/Tests/Speckle.Core.Tests.Unit/Helpers/Path.cs
  Core/Tests/Speckle.Core.Tests.Unit/Logging/SpeckleLogTests.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  DesktopUI2/DesktopUI2/Views/MainUserControl.xaml.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix: update direct shape parameters when it already exists
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertDirectShape.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix: update direct shape parameters when it already exists (#3664)
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertDirectShape.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Limit FE1 API usage to essentials (#3662)
  ConnectorDynamo/ConnectorDynamo/ReceiveNode/Receive.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Operations.SyncReceiveComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Operations.VariableInputReceiveComponent.cs
  ConnectorRevit/RevitSharedResources/Helpers/Extensions.cs
  Core/Core/Api/GraphQL/Legacy/Client.GraphqlCleintOperations/Client.ActivityOperations.cs
  Core/Core/Api/GraphQL/Legacy/Client.GraphqlCleintOperations/Client.CommentOperations.cs
  Core/Core/Api/GraphQL/Legacy/Client.GraphqlCleintOperations/Client.StreamOperations.cs
  Core/Core/Api/GraphQL/Legacy/Client.Subscriptions/Client.Subscriptions.Branch.cs
  Core/Core/Api/GraphQL/Legacy/Client.Subscriptions/Client.Subscriptions.Commit.cs
  Core/Core/Api/GraphQL/Legacy/Client.Subscriptions/Client.Subscriptions.Stream.cs
  Core/Core/Api/GraphQL/Legacy/LegacyGraphQLModels.cs
  Core/Core/Api/GraphQL/Legacy/SubscriptionModels.cs
  Core/Core/Api/GraphQL/Models/Comment.cs
  Core/Core/Api/GraphQL/Models/FileUpload.cs
  Core/Core/Api/GraphQL/Models/PendingStreamCollaborator.cs
  Core/Core/Api/GraphQL/Models/User.cs
  Core/Core/Api/GraphQL/Resources/CommentResource.cs
  Core/Core/Api/GraphQL/Resources/SubscriptionResource.cs
  Core/Core/Credentials/Responses.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Legacy/LegacyAPITests.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Legacy/Subscriptions/Branches.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Legacy/Subscriptions/Commits.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Legacy/Subscriptions/Streams.cs
  Core/Tests/Speckle.Core.Tests.Integration/Fixtures.cs
  Core/Tests/Speckle.Core.Tests.Unit/Helpers/Path.cs
  Core/Tests/Speckle.Core.Tests.Unit/Logging/SpeckleLogTests.cs
  DesktopUI2/DesktopUI2/ViewModels/CollaboratorsViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/CommentViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  DesktopUI2/DesktopUI2/Views/MainUserControl.xaml.cs
  DesktopUI2/DesktopUI2/Views/Pages/HomeView.xaml
  DesktopUI2/DesktopUI2/Views/Pages/StreamEditView.xaml
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Remove keyboard shortcuts from plugin registration
  ConnectorNavisworks/ConnectorNavisworks/Entry/Ribbon.xaml.cs
Due: navisworks

removed chunking from model class.
  Objects/Objects/Structural/Analysis/Model.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Fixed email invites
  DesktopUI2/DesktopUI2/ViewModels/CollaboratorsViewModel.cs
Due: none

Ensure CI runs on net8
  .circleci/scripts/config-template.yml
  Core/Tests/Speckle.Core.Tests.Integration/Credentials/UserServerInfoTests.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

CNX-961 - Remove keyboard shortcuts from plugin registration (#3667)
  ConnectorNavisworks/ConnectorNavisworks/Entry/Ribbon.xaml.cs
Due: navisworks

fix(Revit): DirectShape Instances to Speckle Conversion support (#3572)
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertDirectShape.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

remove net 7
  .circleci/scripts/config-template.yml
Due: none

ensure net8 sdk is available on connector builds
  .circleci/scripts/config-template.yml
Due: none

relax rollforward rules instead
  .circleci/scripts/config-template.yml
  global.json
Due: none

Fixed email invites (#3669)
  DesktopUI2/DesktopUI2/ViewModels/CollaboratorsViewModel.cs
Due: none

removed chunking from model class. (#3668)
  Objects/Objects/Structural/Analysis/Model.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks
