Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.3.1
  python: circleci/python@2.0.3

jobs:
  setup:
    executor: python/default
    steps:
      - checkout # checkout code
      - path-filtering/set-parameters:
          mapping: |
            Core/.* run_core true
            (Core|Objects|ConnectorRhino|.*/ConverterRhinoGh)/.* rhino true
            (Core|Objects|ConnectorGrasshopper|.*/ConverterRhinoGh)/.* grasshopper true
            (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.* revit true
            (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.* dynamo true
            (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.* autocadcivil true
            (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.* csi true
            (Core|Objects|ConnectorMicroStation|.*/ConverterMicroStation)/.* microstation true
            (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.* teklastructures true
            (Core|Objects|ConnectorArchicad)/.* archicad true
          base-revision: main
          output-path: .circleci/scripts/parameters.json
      - run:
          name: LS scripts folders
          command: ls .circleci/scripts
      - run: cat .circleci/scripts/parameters.json
      - run: pip install pyyaml
      - run: # run a command
          name: Generate config
          command: |
            python .circleci/scripts/config-generator.py
      - continuation/continue:
          configuration_path: .circleci/continuation-config.yml # use newly generated config to continue

workflows:
  setup:
    jobs:
      - setup

feat(core): adds mutex in Setup (#1574)
  Core/Core/Logging/Setup.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix: null check for send
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Utils.cs
Due: rhino

catchs guid exception with report named view selection
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
Due: rhino

fix(Rhino): send everything bug (#1577)
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Utils.cs
Due: rhino

fix(gh): Removed structural material that shouldn't have been generated
  ConnectorGrasshopper/ConnectorGrasshopper/SchemaBuilder/SchemaBuilderGen.cs
Due: grasshopper

Gh/alan/structural material node (#1578)
  ConnectorGrasshopper/ConnectorGrasshopper/SchemaBuilder/SchemaBuilderGen.cs
Due: grasshopper

feat: implements refresh token strategy #1518
  Core/Core/Credentials/AccountManager.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Core/refresh token (#1579)
  Core/Core/Credentials/AccountManager.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(Revit): Certain objects failing to import
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertColumn.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(gh): Get account fail when no OriginalInput was set in the StreamWrapper
  ConnectorGrasshopper/ConnectorGrasshopper/Ops/Operations.VariableInputReceiveComponent.cs
  Core/Core/Credentials/StreamWrapper.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(gh): Get account fail when no OriginalInput was set in the StreamWrapper (#1581)
  ConnectorGrasshopper/ConnectorGrasshopper/Ops/Operations.VariableInputReceiveComponent.cs
  Core/Core/Credentials/StreamWrapper.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(Revit): Certain objects failing to import (#1580)
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertColumn.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Fix(Revit): support one-faced solid geometries (like mass floor) (#1566)
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertMeshUtils.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

preview bug fixes for rhino
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Receive.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Send.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  DesktopUI2/DesktopUI2/ConnectorBindings.cs
  DesktopUI2/DesktopUI2/DummyBindings.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.BuiltElements.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Getting list of family symbols without importing
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Mappings.cs
Due: revit

updated all connector bindings
  ConnectorArchicad/ConnectorArchicad/ConnectorBinding.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Recieve.cs
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Send.cs
  ConnectorMicroStation/ConnectorMicroStationOpenShared/UI/Bindings2.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/UI/ConnectorBindingsTeklaStructures.Receive.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/UI/ConnectorBindingsTeklaStructures.Selection.cs
Due: autocadcivil, csi, microstation, teklastructures, archicad

Update ConnectorBindingsTeklaStructure.Send.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/UI/ConnectorBindingsTeklaStructure.Send.cs
Due: teklastructures

fix: fixes for runninng on osx
  Core/Core/Credentials/AccountManager.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat: prevent invalid accounts from slipping out
  Core/Core/Credentials/AccountManager.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Objects: null point equality operator fix (#1570)
  Objects/Objects/Geometry/Point.cs
  Objects/Tests/Geometry/PointTests.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(mac): Delayed `Init` call for Avalonia until necessary. Disabled plugin on Mac
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/ConnectorRhinoCommand.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/Plugin.cs
Due: rhino

fix(rh): Added disable warning on Mac
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/ConnectorRhinoCommand.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/Plugin.cs
Due: rhino

Patch(Rhino): Temporarily disable Rhino on Mac and delay `Init` call (#1584)
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/ConnectorRhinoCommand.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/Plugin.cs
Due: rhino

fix(dui2/rhino): preview and report bugs (#1582)
  ConnectorArchicad/ConnectorArchicad/ConnectorBinding.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Recieve.cs
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Send.cs
  ConnectorMicroStation/ConnectorMicroStationOpenShared/UI/Bindings2.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Receive.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Send.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/UI/ConnectorBindingsTeklaStructure.Send.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/UI/ConnectorBindingsTeklaStructures.Receive.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/UI/ConnectorBindingsTeklaStructures.Selection.cs
  DesktopUI2/DesktopUI2/ConnectorBindings.cs
  DesktopUI2/DesktopUI2/DummyBindings.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.BuiltElements.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

updated how new report handles old report items
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/ConnectorRhinoCommand.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  DesktopUI2/DesktopUI2/Views/Pages/StreamEditView.xaml
Due: rhino

fix(dui2): uses old report log as fallback in new report (#1586)
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/ConnectorRhinoCommand.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  DesktopUI2/DesktopUI2/Views/Pages/StreamEditView.xaml
Due: rhino

Fix(Revit): add conversion support for TopRail elements associated with Railing elements (#1554)
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevitShared.projitems
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRailing.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertTopRail.cs
  Objects/Objects/BuiltElements/Revit/RevitRailing.cs
  Objects/Objects/BuiltElements/Revit/RevitTopRail.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

this sort of works
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Mappings.cs
  DesktopUI2/DesktopUI2/DesktopUI2.csproj
  DesktopUI2/DesktopUI2/ViewModels/ImportFamiliesDialogViewModel.cs
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/ImportFamiliesDialog.xaml
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/ImportFamiliesDialog.xaml.cs
Due: revit

feat(revit): ensure the top rail is visible in the viewer
  Objects/Converters/ConverterRevit/ConverterRevit2022/Properties/launchSettings.json
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRailing.cs
  Objects/Objects/BuiltElements/Revit/RevitRailing.cs
  Objects/Objects/BuiltElements/Revit/RevitTopRail.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Revit/toprail displayvalue (#1587)
  Objects/Converters/ConverterRevit/ConverterRevit2022/Properties/launchSettings.json
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRailing.cs
  Objects/Objects/BuiltElements/Revit/RevitRailing.cs
  Objects/Objects/BuiltElements/Revit/RevitTopRail.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(rhino): Init call in RunCommand was debug only
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/ConnectorRhinoCommand.cs
Due: rhino

fix(rhino): Brought back Init call onLoad only for windows
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/ConnectorRhinoCommand.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/Plugin.cs
Due: rhino

fix(rhino): Init call in RunCommand was debug only (#1588)
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/ConnectorRhinoCommand.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/Plugin.cs
Due: rhino

feat(revit): include parameters with no value
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Revit/params novalue (#1589)
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

cleanup(gh): Ensure all user facing error calls use `ToFormattedString()`
  ConnectorGrasshopper/ConnectorGrasshopper/BaseComponents/SelectKitTaskCapableComponentBase.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Conversion/DeserialiseTaskCapableComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Conversion/SerialiseTaskCapableComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Conversion/ToNativeTaskCapableComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Conversion/ToSpeckleTaskCapableComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Objects/CreateSpeckleObjectByKeyValueTaskComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Objects/CreateSpeckleObjectTaskComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Objects/DeconstructSpeckleObjectTaskComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Objects/Deprecated/ExpandSpeckleObjectTaskComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Objects/ExtendSpeckleObjectByKeyValueTaskComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Objects/ExtendSpeckleObjectTaskComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Objects/GetObjectValueByKeyTaskComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Ops/Deprecated/Operations.ReceiveComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Ops/Deprecated/Operations.SendComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Ops/Deprecated/Operations.SendComponentSync.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Ops/Deprecated/Operations.VariableInputSendComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Ops/Operations.ReceiveLocalComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Ops/Operations.SendLocalComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Ops/Operations.SyncSendComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Ops/Operations.VariableInputReceiveComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Ops/Operations.VariableInputSendComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/SchemaBuilder/CreateSchemaObject.cs
  ConnectorGrasshopper/ConnectorGrasshopper/SchemaBuilder/CreateSchemaObjectBase.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Streams/StreamCreateComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Streams/StreamDetailsComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Streams/StreamGetComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Streams/StreamListComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Streams/StreamUpdateComponent.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Geometry.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(rhino): disables plugin loading if avalonia is already initialized (eg running inside revit)
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/Plugin.cs
Due: rhino

Revit/rhino inside (#1591)
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/Plugin.cs
Due: rhino

fix(gh): Fix null exception when commit is non-existent
  ConnectorGrasshopper/ConnectorGrasshopper/Ops/Operations.VariableInputReceiveComponent.cs
Due: grasshopper

GH: Use `ToFormattedString` everywhere + fix non-existent commit error message in receiver (#1592)
  ConnectorGrasshopper/ConnectorGrasshopper/BaseComponents/SelectKitTaskCapableComponentBase.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Conversion/DeserialiseTaskCapableComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Conversion/SerialiseTaskCapableComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Conversion/ToNativeTaskCapableComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Conversion/ToSpeckleTaskCapableComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Objects/CreateSpeckleObjectByKeyValueTaskComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Objects/CreateSpeckleObjectTaskComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Objects/DeconstructSpeckleObjectTaskComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Objects/Deprecated/ExpandSpeckleObjectTaskComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Objects/ExtendSpeckleObjectByKeyValueTaskComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Objects/ExtendSpeckleObjectTaskComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Objects/GetObjectValueByKeyTaskComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Ops/Deprecated/Operations.ReceiveComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Ops/Deprecated/Operations.SendComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Ops/Deprecated/Operations.SendComponentSync.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Ops/Deprecated/Operations.VariableInputSendComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Ops/Operations.ReceiveLocalComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Ops/Operations.SendLocalComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Ops/Operations.SyncSendComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Ops/Operations.VariableInputReceiveComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Ops/Operations.VariableInputSendComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/SchemaBuilder/CreateSchemaObject.cs
  ConnectorGrasshopper/ConnectorGrasshopper/SchemaBuilder/CreateSchemaObjectBase.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Streams/StreamCreateComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Streams/StreamDetailsComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Streams/StreamGetComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Streams/StreamListComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Streams/StreamUpdateComponent.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Geometry.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad
