Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.3.1
  python: circleci/python@2.0.3

jobs:
  setup:
    executor: python/default
    steps:
      - checkout # checkout code
      - when:
          condition:
            and:
              - not:
                  equal: [main, << pipeline.git.branch >>]
              - not:
                  matches:
                    pattern: ".*/?ci/.*"
                    value: << pipeline.git.branch >>
              - not:
                  matches:
                    pattern: ".*/all$"
                    value: << pipeline.git.tag >>
          steps:
            - run: git branch internal_circleci
            - path-filtering/set-parameters:
                mapping: |
                  Core/.* core true
                  (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.* rhino true
                  (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.* revit true
                  (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.* dynamo true
                  (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.* autocadcivil true
                  (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.* csi true
                  (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.* bentley true
                  (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.* teklastructures true
                  (Core|Objects|ConnectorArchicad)/.* archicad true
                  (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.* navisworks true
                base-revision: main
                output-path: .circleci/scripts/parameters.json
      - run: cat .circleci/scripts/parameters.json
      - run: pip install pyyaml
      - run: # run a command
          name: Generate config
          command: |
            python .circleci/scripts/config-generator.py -d ${CIRCLE_TAG:-none} -o .circleci/continuation-config.yml -e ${CIRCLE_PR_REPONAME:-none}
      - continuation/continue:
          configuration_path: .circleci/continuation-config.yml # use newly generated config to continue
workflows:
  setup:
    jobs:
      - setup:
          name: Build Setup
      - setup:
          name: Deploy Setup
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^(nugets\/)?([0-9]+)\.([0-9]+)\.([0-9]+)(?:-\w+)?(\/all)?$/

Renamed project to avoid spaces in directory path
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSIShared.projitems
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Analysis/ConvertModel.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Analysis/ConvertModelInfo.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Analysis/ConvertModelSettings.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Analysis/ConvertModelUnits.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertArea.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertBeam.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertBraces.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertBuiltElement.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertColumn.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertFloor.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertFrame.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertGridLines.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertLine.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertLinks.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertPier.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertPoint.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertSpandrel.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertStories.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertTendon.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertWall.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Loading/ConvertLoadPattern.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Loading/Loading1DElements.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Loading/Loading2DElements.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Loading/LoadingNode.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Materials/ConvertMaterials.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Properties/Convert1DProperty.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Properties/Convert2DProperty.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Properties/Convert2DPropertyFloor.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Properties/Convert2DPropertyWall.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Properties/ConvertDiaphragm.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Properties/ConvertLinkProperty.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Properties/ConvertSectionProfile.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Properties/ConvertSpring.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Properties/ConvertTendonProperty.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Results/ConvertResultGlobal.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Results/ConvertResultNodes.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Results/ConvertResultSet1D.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Results/ConvertResultSet2D.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Results/ConvertResults.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Csharpier format
  Objects/Converters/ConverterCSI/ConverterCSIShared/Models/DatabaseTableWrapper.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Models/ETABSGridLineDefinitionTable.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertGridLines.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

csharpier format 2
  Objects/Converters/ConverterCSI/ConverterCSIShared/Models/DatabaseTableWrapper.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertGridLines.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Properties/Convert1DProperty.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Properties/ConvertLinkProperty.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

csharpier shenanigans
  Core/Core/Api/GraphQL/Models.cs
  Core/Core/Transports/Server.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRoom.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Removed csi batchuploader experiment from this PR
  ConnectorCSI/ConnectorCSIShared/CSIApplicationLifetimeController.cs
  ConnectorCore/BatchUploader.Sdk/Interfaces/IApplicationLifetimeController.cs
Due: csi

Experiment delete objects
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Recieve.cs
  ConnectorCSI/ConnectorCSIShared/Util/ConnectorCSIUtils.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSIUtils.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertArea.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertFrame.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(core): regression with stream invite query
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.StreamOperations.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(core): Fixed regression with stream collaborators query parameters (#3000)
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.StreamOperations.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

change detail level settings via advanced settings
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Settings.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAdaptiveComponent.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAnalyticalSurface.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertBeam.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertBuildingPad.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertCableTray.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertCeiling.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertColumn.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertConduit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertDuct.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFloor.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertMeshUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertPipe.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRailing.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRevitElement.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRoof.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertStair.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertTopRail.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertTopography.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertWall.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

add some line breaks in tooltip
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Settings.cs
Due: revit

Hotfix(Revit) : change detail level settings via advanced settings (#3002)
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Settings.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAdaptiveComponent.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAnalyticalSurface.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertBeam.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertBuildingPad.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertCableTray.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertCeiling.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertColumn.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertConduit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertDuct.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFloor.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertMeshUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertPipe.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRailing.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRevitElement.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRoof.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertStair.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertTopRail.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertTopography.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertWall.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(batchUploader): Batchuploader Client (#2967)
  All.sln
  ConnectorCore/BatchUploader.OperationDriver/BatchUploadOperationDriver.cs
  ConnectorCore/BatchUploader.OperationDriver/BatchUploader.OperationDriver.csproj
  ConnectorCore/BatchUploader.Sdk/BatchUploader.Sdk.csproj
  ConnectorCore/BatchUploader.Sdk/BatchUploaderClient.cs
  ConnectorCore/BatchUploader.Sdk/CommunicationModels/Models.cs
  ConnectorCore/BatchUploader.Sdk/Interfaces/IApplicationFunctionalityController.cs
  ConnectorRevit/ConnectorRevit.sln
  ConnectorRevit/ConnectorRevit.slnf
  ConnectorRevit/ConnectorRevit/ConnectorRevit.projitems
  ConnectorRevit/ConnectorRevit/Entry/App.cs
  ConnectorRevit/ConnectorRevit/RevitApplicationFunctionalityController.cs
  ConnectorRevit/ConnectorRevit2020/ConnectorRevit2020.csproj
  ConnectorRevit/ConnectorRevit2021/ConnectorRevit2021.csproj
  ConnectorRevit/ConnectorRevit2022/ConnectorRevit2022.csproj
  ConnectorRevit/ConnectorRevit2023/ConnectorRevit2023.csproj
  ConnectorRevit/ConnectorRevit2024/ConnectorRevit2024.csproj
  Core/Core/Api/GraphQL/Models.cs
  Core/Core/Transports/Server.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  Directory.Build.props
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRoom.cs
  SDK.slnf
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

replaced curve based element failure with exception throw
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertBuiltElement.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

first pass of new rebar class and revit conversions
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRebar.cs
  Objects/Objects/BuiltElements/Rebar.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

cleanup
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRebar.cs
  Objects/Objects/BuiltElements/Rebar.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

chore(objects): corrected nullability to objects in structural namespace
  Objects/Objects/Geometry/Point.cs
  Objects/Objects/Geometry/Vector.cs
  Objects/Objects/Structural/Analysis/Model.cs
  Objects/Objects/Structural/Analysis/ModelInfo.cs
  Objects/Objects/Structural/Analysis/ModelSettings.cs
  Objects/Objects/Structural/ApplicationSpecific/ETABS/Geometry/CSIElement1D.cs
  Objects/Objects/Structural/ApplicationSpecific/ETABS/Geometry/CSIElement2D.cs
  Objects/Objects/Structural/ApplicationSpecific/ETABS/Geometry/CSINode.cs
  Objects/Objects/Structural/ApplicationSpecific/ETABS/Geometry/CSITendon.cs
  Objects/Objects/Structural/ApplicationSpecific/ETABS/Properties/CSIDiaphragm.cs
  Objects/Objects/Structural/ApplicationSpecific/ETABS/Properties/CSILinkProperty.cs
  Objects/Objects/Structural/ApplicationSpecific/ETABS/Properties/CSISpringProperty.cs
  Objects/Objects/Structural/Geometry/Node.cs
  Objects/Objects/Structural/Loading/Load.cs
  Objects/Objects/Structural/Loading/LoadBeam.cs
  Objects/Objects/Structural/Loading/LoadFace.cs
  Objects/Objects/Structural/Loading/LoadNode.cs
  Objects/Objects/Structural/Material/StructuralMaterial.cs
  Objects/Objects/Structural/Property/Property1D.cs
  Objects/Objects/Structural/Property/Property2D.cs
  Objects/Objects/Structural/Results/ResultAll.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat: Aligns C# Automate SDK with latest changes in Automate API
  Automate/Speckle.Automate.Sdk/AutomationContext.cs
  Automate/Speckle.Automate.Sdk/Schema/AutomationRunData.cs
Due: none

fix: Set name on test AutomationRunData
  Automate/Tests/Speckle.Automate.Sdk.Tests.Integration/SpeckleAutomate.cs
Due: none

fix: Added test for version creation
  Automate/Tests/Speckle.Automate.Sdk.Tests.Integration/SpeckleAutomate.cs
Due: none

a bunch more messy changes
  .husky/pre-commit
  .husky/task-runner.json
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSI.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSIUtils.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Analysis/ConvertModel.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Analysis/ConvertModelInfo.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Analysis/ConvertModelSettings.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Analysis/ConvertModelUnits.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertArea.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertBraces.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertColumn.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertFloor.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertFrame.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertGridLines.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertLine.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertLinks.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertPier.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertPoint.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertSpandrel.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertStories.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertTendon.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Loading/ConvertLoadPattern.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Loading/Loading1DElements.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Loading/Loading2DElements.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Loading/LoadingNode.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Materials/ConvertMaterials.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Properties/Convert1DProperty.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Properties/Convert2DProperty.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Properties/Convert2DPropertyFloor.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Properties/Convert2DPropertyWall.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Properties/ConvertDiaphragm.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Properties/ConvertSpring.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Properties/ConvertTendonProperty.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Results/ConvertResultNodes.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Results/ConvertResultSet1D.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Results/ConvertResultSet2D.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix: Remove docker layer caching
  .circleci/scripts/config-template.yml
Due: none

Suppress CRL checking
  Core/Core/Helpers/Http.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Suppress CRL checking (#3005)
  Core/Core/Helpers/Http.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat: Adds setContextView to automationContext
  Automate/Speckle.Automate.Sdk/AutomationContext.cs
  Automate/Speckle.Automate.Sdk/Schema/AutomationResult.cs
  Automate/Tests/Speckle.Automate.Sdk.Tests.Integration/SpeckleAutomate.cs
Due: none

easy fixes
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSI.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Loading/Loading2DElements.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Create IFinalizable interface in core
  All.sln
  ConnectorCSI/ConnectorCSI.slnf
  ConnectorCSI/ConnectorCSIBridge/ConnectorCSIBridge.csproj
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Recieve.cs
  ConnectorCSI/ConnectorETABS/ConnectorETABS.csproj
  ConnectorCSI/ConnectorSAFE/ConnectorSAFE.csproj
  ConnectorCSI/ConnectorSAP2000/ConnectorSAP2000.csproj
  ConnectorCSI/DriverCSharp/DriverCSharp.csproj
  Core/Core/Kits/ConverterInterfaces/IFinalizable.cs
  Objects/Converters/ConverterCSI/ConverterCSIBridge/ConverterCSIBridge.csproj
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSI.DatabaseTableUtils.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSI.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertGridLines.cs
  Objects/Converters/ConverterCSI/ConverterETABS/ConverterETABS.csproj
  Objects/Converters/ConverterCSI/ConverterSAFE/ConverterSAFE.csproj
  Objects/Converters/ConverterCSI/ConverterSAP2000/ConverterSAP2000.csproj
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

potential property fix
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSI.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertFrame.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Properties/Convert1DProperty.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

remove project from sln as well as slnf
  ConnectorCSI/CSiSharedResources/CSiSharedResources.csproj
  ConnectorCSI/CSiSharedResources/Interfaces/ICSiSpeckleConverter.cs
  ConnectorCSI/ConnectorCSI.sln
Due: csi

feat: Updates Automate.SDK with new API changes (#3004)
  .circleci/scripts/config-template.yml
  Automate/Speckle.Automate.Sdk/AutomationContext.cs
  Automate/Speckle.Automate.Sdk/Schema/AutomationResult.cs
  Automate/Speckle.Automate.Sdk/Schema/AutomationRunData.cs
  Automate/Tests/Speckle.Automate.Sdk.Tests.Integration/SpeckleAutomate.cs
Due: none

potential property fix (#3006)
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSI.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertFrame.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Properties/Convert1DProperty.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix: Adds return code to automate Runner
  Automate/Speckle.Automate.Sdk/Runner.cs
  Automate/Tests/Speckle.Automate.Sdk.Tests.Integration/SpeckleAutomate.cs
Due: none

Revert "Suppress CRL checking (#3005)"
  Core/Core/Helpers/Http.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Added ConversionNotSupported exception
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Recieve.cs
  Core/Core/Kits/Exceptions.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSI.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Properties/Convert1DProperty.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Properties/Convert2DPropertyWall.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Properties/ConvertSpring.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat (Archicad, Revit) Speckle Levels
  ConnectorArchicad/ConnectorArchicad/Communication/AsyncCommandProcessor.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_CreateBeam.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetBeamData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetColumnData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetFloorData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetRoofData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetShellData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetWallData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/HttpCommandExecutor.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/BeamConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/ColumnConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/DirectShapeConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/DoorConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/FloorConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/RoofConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/RoomConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/SkylightConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/Utils.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/WallConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/WindowConverter.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertBeam.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertColumn.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFloor.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRoof.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertWall.cs
  Objects/Objects/BuiltElements/Archicad/Fenestration.cs
  Objects/Objects/BuiltElements/Beam.cs
  Objects/Objects/BuiltElements/Column.cs
  Objects/Objects/BuiltElements/Floor.cs
  Objects/Objects/BuiltElements/Roof.cs
  Objects/Objects/BuiltElements/Room.cs
  Objects/Objects/BuiltElements/Wall.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

csharpier
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertBeam.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertColumn.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFloor.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRoof.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertWall.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

layers send and receive
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateBeam.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateColumn.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateCommand.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateCommand.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateDoor.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateObject.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateRoof.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateShell.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateSkylight.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateSlab.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateWall.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateWindow.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateZone.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetDataCommand.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/FieldNames.hpp
  ConnectorArchicad/ConnectorArchicad/Elements/Object.cs
  ConnectorArchicad/ConnectorArchicad/Elements/Room.cs
  Objects/Objects/BuiltElements/Beam.cs
  Objects/Objects/BuiltElements/Column.cs
  Objects/Objects/BuiltElements/Floor.cs
  Objects/Objects/BuiltElements/Roof.cs
  Objects/Objects/BuiltElements/Room.cs
  Objects/Objects/BuiltElements/Wall.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

collections
  ConnectorArchicad/ConnectorArchicad/Converters/ElementConverterManager.cs
Due: archicad

feat (Revit, Archicad): Support grids between Revit and Archicad (#2990)
  ConnectorArchicad/AddOn/Sources/AddOn/AddOnMain.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateBeam.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateGridElement.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateGridElement.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateOpeningBase.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetDataCommand.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetElementTypes.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetGridElementData.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetGridElementData.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetModelForElements.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetOpeningBaseData.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetSubElementInfo.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/FieldNames.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/LibpartImportManager.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Objects/ModelInfo.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Objects/ModelInfo.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/ResourceIds.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/TypeNameTables.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/TypeNameTables.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/Utility.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Utility.hpp
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_CreateGridElement.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetGridElementData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/HttpCommandExecutor.cs
  ConnectorArchicad/ConnectorArchicad/Converters/ConverterArchicad.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/GridLineConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/ElementConverterManager.cs
  ConnectorArchicad/ConnectorArchicad/Converters/ElementTypeProvider.cs
  ConnectorArchicad/ConnectorArchicad/Converters/ModelConverter.cs
  ConnectorArchicad/ConnectorArchicad/Elements/GridElement.cs
  ConnectorArchicad/ConnectorArchicad/Model/MeshModel.cs
  Objects/Objects/BuiltElements/GridLine.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Revert "Suppress CRL checking" (#3007)
  Core/Core/Helpers/Http.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks
