Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.3.1
  python: circleci/python@2.0.3

jobs:
  setup:
    executor: python/default
    steps:
      - checkout # checkout code
      - path-filtering/set-parameters:
          mapping: |
            Core/.* run_core true
            (Core|Objects|ConnectorRhino|.*/ConverterRhinoGh)/.* rhino true
            (Core|Objects|ConnectorGrasshopper|.*/ConverterRhinoGh)/.* grasshopper true
            (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.* revit true
            (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.* dynamo true
            (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.* autocadcivil true
            (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.* csi true
            (Core|Objects|ConnectorMicroStation|.*/ConverterMicroStation)/.* microstation true
            (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.* teklastructures true
            (Core|Objects|ConnectorArchicad)/.* archicad true
          base-revision: main
          output-path: .circleci/scripts/parameters.json
      - run:
          name: LS scripts folders
          command: ls .circleci/scripts
      - run: cat .circleci/scripts/parameters.json
      - run: pip install pyyaml
      - run: # run a command
          name: Generate config
          command: |
            python .circleci/scripts/config-generator.py
      - continuation/continue:
          configuration_path: .circleci/continuation-config.yml # use newly generated config to continue

workflows:
  setup:
    jobs:
      - setup

Workflow tracking (#1660)
  All.sln
  ConnectorArchicad/ConnectorArchicad/ConnectorBinding.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Utils.cs
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Recieve.cs
  ConnectorDynamo/ConnectorDynamoExtension/SpeckleExtension.cs
  ConnectorDynamo/ConnectorDynamoFunctions/Functions.cs
  ConnectorDynamo/ConnectorDynamoFunctions/Utils.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Extras/Utilities.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Loader.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Ops/Deprecated/Operations.ReceiveComponentSync.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Ops/Operations.SyncReceiveComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Ops/Operations.VariableInputReceiveComponent.cs
  ConnectorMicroStation/ConnectorMicroStationOpenShared/UI/Bindings2.cs
  ConnectorMicroStation/ConnectorMicroStationOpenShared/Utils.cs
  ConnectorRevit/ConnectorRevit/ConnectorRevitUtils.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Receive.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Utils.cs
  ConnectorTeklaStructures/ConnectorTeklaStructures2020/Properties/AssemblyInfo.cs
  ConnectorTeklaStructures/ConnectorTeklaStructures2021/Properties/AssemblyInfo.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/UI/ConnectorBindingsTeklaStructures.Receive.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/Util/ConnectorTeklaStructuresUtils.cs
  Core/Core/Api/Helpers.cs
  Core/Core/Kits/Applications.cs
  Core/Core/Logging/Setup.cs
  DesktopUI2/DesktopUI2/Models/StreamState.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSI.cs
  Objects/Converters/ConverterDxf/ConverterDxf/SpeckleDxfConverter.cs
  Objects/Converters/ConverterDynamo/ConverterDynamoShared/ConverterDynamo.cs
  Objects/Converters/ConverterMicroStation/ConverterMicroStationOpenShared/ConverterMicroStationOpen.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/ConverterTeklaStructures.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

family instance rotation fix
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
  Objects/Objects/BuiltElements/Revit/FamilyInstance.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(civil3d): updates converter name to match the standard one
  Objects/Converters/ConverterAutocadCivil/ConverterCivil2021/ConverterCivil2021.csproj
  Objects/Converters/ConverterAutocadCivil/ConverterCivil2022/ConverterCivil2022.csproj
  Objects/Converters/ConverterAutocadCivil/ConverterCivil2023/ConverterCivil2023.csproj
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Civil3d/converter fix (#1663)
  Objects/Converters/ConverterAutocadCivil/ConverterCivil2021/ConverterCivil2021.csproj
  Objects/Converters/ConverterAutocadCivil/ConverterCivil2022/ConverterCivil2022.csproj
  Objects/Converters/ConverterAutocadCivil/ConverterCivil2023/ConverterCivil2023.csproj
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat(dui): fix #1662 show filters on card UI
  Core/Core/Api/GraphQL/Client.GraphqlClientOperations.cs
  DesktopUI2/DesktopUI2/Styles/Text.xaml
  DesktopUI2/DesktopUI2/Views/Pages/HomeControls/SavedStreams.xaml
  DesktopUI2/DesktopUI2/Views/Pages/SharedControls/StreamDetails.xaml
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(dui): fix invite role issue
  DesktopUI2/DesktopUI2/ViewModels/Share/CollaboratorsViewModel.cs
Due: none

feat(dui): show share prompt when sending
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  DesktopUI2/DesktopUI2/Views/Pages/HomeControls/SavedStreams.xaml
  DesktopUI2/DesktopUI2/Views/Pages/StreamEditView.xaml
Due: none

Dui/fiddles (#1664)
  Core/Core/Api/GraphQL/Client.GraphqlClientOperations.cs
  DesktopUI2/DesktopUI2/Styles/Text.xaml
  DesktopUI2/DesktopUI2/ViewModels/Share/CollaboratorsViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  DesktopUI2/DesktopUI2/Views/Pages/HomeControls/SavedStreams.xaml
  DesktopUI2/DesktopUI2/Views/Pages/SharedControls/StreamDetails.xaml
  DesktopUI2/DesktopUI2/Views/Pages/StreamEditView.xaml
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(ci): run deploy always
  .circleci/scripts/config-generator.py
Due: none

Revert "fix(ci): run deploy always"
  .circleci/scripts/config-generator.py
Due: none

fix(ci): Use extension in upload url
  .circleci/scripts/config-template.yml
Due: none

fix(ci): Removed -mac suffix from mac build slug
  .circleci/scripts/connector-jobs.yml
Due: none

fix(ci): Added name to mac builds and fixed bug in py generator
  .circleci/scripts/config-generator.py
  .circleci/scripts/connector-jobs.yml
Due: none

cmake
  .circleci/config.yml
  .circleci/scripts/config-template.yml
Due: none

Revit-Archicad workflow
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateBeam.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/FieldNames.hpp
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_CreateBeam.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetBeamData.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/BeamConverter.cs
  Objects/Objects/BuiltElements/Archicad/BeamComponents.cs
  Objects/Objects/BuiltElements/Beam.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Cleaning code
  ConnectorArchicad/AddOn/Sources/AddOn/FieldNames.hpp
  Objects/Objects/BuiltElements/Archicad/BeamComponents.cs
  Objects/Objects/BuiltElements/Beam.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Line endings
  Objects/Objects/BuiltElements/Archicad/BeamComponents.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Fixes
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateBeam.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetBeamData.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/FieldNames.hpp
  Objects/Objects/BuiltElements/Archicad/BeamComponents.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Build fix
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/BeamConverter.cs
Due: archicad

Revert
  .circleci/config.yml
  .circleci/old-config.yml
  .circleci/scripts/config-template.yml
  .circleci/scripts/connector-jobs.yml
  .circleci/scripts/parameters.json
Due: none

mac build
  .circleci/old-config.yml
  .circleci/scripts/config-template.yml
  .circleci/scripts/connector-jobs.yml
  .circleci/scripts/parameters.json
Due: none

feat(Dyn): Send/Receive tolerate conversion errors and reports them as node warnings (#1649)
  ConnectorDynamo/ConnectorDynamo/ReceiveNode/Receive.cs
  ConnectorDynamo/ConnectorDynamo/SendNode/Send.cs
  ConnectorDynamo/ConnectorDynamoFunctions/BatchConverter.cs
  ConnectorDynamo/ConnectorDynamoFunctions/Developer/Conversion.cs
  ConnectorDynamo/ConnectorDynamoFunctions/Developer/Local.cs
  ConnectorDynamo/ConnectorDynamoFunctions/Functions.cs
  Core/Core/Credentials/StreamWrapper.cs
  Core/Core/Models/Base.cs
  Core/Core/Models/DynamicBase.cs
  Objects/Converters/ConverterDynamo/ConverterDynamoShared/ConverterDynamo.Geometry.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(dyn): Arc conversion should use 3Pt constructor for geometric consistency
  Objects/Converters/ConverterDynamo/ConverterDynamoShared/ConverterDynamo.Geometry.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(dyn): Added not found message to Receiver
  ConnectorDynamo/ConnectorDynamo/ReceiveNode/Receive.cs
Due: dynamo

fix(dyn): Do not track receive event when sourceApplication is null
  ConnectorDynamo/ConnectorDynamoFunctions/Functions.cs
Due: dynamo

fix(core): Return `Other` when hostApp is null
  ConnectorDynamo/ConnectorDynamoFunctions/Functions.cs
  Core/Core/Kits/Applications.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

adds tin surface to native conversion
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/Converter.AutocadCivil.Utils.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat(revit): #1100 Support sending fabrication parts from Revit
  All.sln
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevitShared.projitems
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFabricationPart.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertMeshUtils.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(etabs): resolves the issue about sqlite by copying it on build to the etabs bin folder
  ConnectorCSI/ConnectorETABS/ConnectorETABS.csproj
  Core/Core/Core.csproj
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(archicad): Missing MSBuild nuget and AssemblyInfo.cs file
  ConnectorArchicad/ConnectorArchicad/ConnectorArchicad.csproj
  ConnectorArchicad/ConnectorArchicad/Properties/AssemblyInfo.cs
Due: archicad

fix(etabs): platformtarget
  ConnectorCSI/ConnectorETABS/ConnectorETABS.csproj
  Core/Core/Core.csproj
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(archicad): do not generate assembly info
  ConnectorArchicad/ConnectorArchicad/ConnectorArchicad.csproj
Due: archicad

Update AssemblyInfo.cs
  ConnectorArchicad/ConnectorArchicad/Properties/AssemblyInfo.cs
Due: archicad

(feature) - update conversion routines for material conversion WIP
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Materials/ConvertMaterials.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(ci): Added arch input to deploy step
  .circleci/scripts/config-template.yml
Due: none

fix(ci): Fixed "isMac" check in python generator
  .circleci/scripts/config-generator.py
Due: none

Cosmetics
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateBeam.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetBeamData.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/FieldNames.hpp
  Objects/Objects/BuiltElements/Archicad/BeamComponents.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Spelling
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateBeam.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetBeamData.cpp
Due: archicad
