Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(dui3): doc state wrap up (for now...) with @oguzhankoral
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/BasicConnectorBinding.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/Factory.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/SendBinding.cs
  ConnectorRhino/ConnectorRhinoWebUI/Utils/RhinoDocumentStore.cs
  DesktopUI3/DUI3/Models/DocumentModelStore.cs
  DesktopUI3/DUI3/Utils/DiscriminatedObjectConverter.cs
Due: rhino

feat(dui3): wip
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/BasicConnectorBindingRevit.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/Factory.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Entry.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/RevitDUI3Shared.projitems
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Utils/RevitDocumentStore.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Utils/Schemas.cs
  ConnectorRhino/ConnectorRhinoWebUI/Utils/RhinoDocumentStore.cs
Due: rhino, revit

add curtain panels as nested elements
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertGroup.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertWall.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Init bindings for autocad and (WIP) interact
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/AutocadCivilDUI3Shared.projitems
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Bindings/BasicConnectorBindingAutocad.cs
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Bindings/Factory.cs
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Bindings/Filters.cs
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Bindings/SelectionBinding.cs
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Bindings/SendBinding.cs
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/DUI3PanelWebView.xaml.cs
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Utils/AutocadDocumentManager.cs
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Utils/AutocadDocumentModelStore.cs
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Utils/TransactionContext.cs
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Utils/Utils.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/Factory.cs
  ConnectorRhino/ConnectorRhinoWebUI/Utils/RhinoDocumentStore.cs
Due: rhino, autocadcivil

Null check existing Doc too
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Utils/AutocadDocumentModelStore.cs
Due: autocadcivil

Use better event for selection detect
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Bindings/SelectionBinding.cs
Due: autocadcivil

Note for document events for selection TBD
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Bindings/SelectionBinding.cs
Due: autocadcivil

feat(dui3): revit wip
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/BasicConnectorBindingRevit.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/Factory.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/SelectionBinding.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/SendBinding.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Entry.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Panel.xaml.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/RevitDUI3Shared.projitems
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Utils/RevitDocumentStore.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/Filters.cs
  DesktopUI3/DUI3/Models/DocumentModelStore.cs
Due: rhino, revit

Implement expiration checks
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Bindings/SelectionBinding.cs
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Bindings/SendBinding.cs
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Utils/AutocadDocumentModelStore.cs
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Utils/Utils.cs
Due: autocadcivil

Cache visited documents and subscribe selection events
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Bindings/SelectionBinding.cs
Due: autocadcivil

Remove debug writelines
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Bindings/SelectionBinding.cs
Due: autocadcivil

Correct documentation
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Utils/AutocadDocumentManager.cs
Due: autocadcivil

feat(dui3): revit wip
  ConnectorRevit/RevitDUI3/Revit2023DUI3/Revit2023DUI3.csproj
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/BasicConnectorBindingRevit.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/Factory.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/Filters.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/SelectionBinding.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/SendBinding.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/CefSharpPanel.xaml
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/CefSharpPanel.xaml.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Entry.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/RevitDUI3Shared.projitems
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/SpeckleRevitDUI3Command.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Utils/RevitAppProvider.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Utils/RevitDocumentStore.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Utils/RevitIdleManager.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/SelectionBinding.cs
Due: rhino, revit

Feat(csi) : add element2d openings on receive (#2838)
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSI.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSIShared.projitems
  Objects/Converters/ConverterCSI/ConverterCSIShared/Extensions/ArcExtensions.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Extensions/CurveExtensions.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Extensions/ICurveExtensions.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Extensions/LineExtensions.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Extensions/PolycurveExtensions.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Geometry/ConvertArea.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Properties/Convert2DProperty.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Properties/Convert2DPropertyFloor.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Properties/Convert2DPropertyWall.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(gh): null check on CSI node (#2836)
  Objects/Objects/Structural/ApplicationSpecific/ETABS/Geometry/CSINode.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Feat (Autocad): implement bindings (#2842)
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/AutocadCivilDUI3Shared.projitems
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Bindings/BasicConnectorBindingAutocad.cs
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Bindings/Factory.cs
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Bindings/Filters.cs
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Bindings/SelectionBinding.cs
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Bindings/SendBinding.cs
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/DUI3PanelWebView.xaml.cs
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Utils/AutocadDocumentManager.cs
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Utils/AutocadDocumentModelStore.cs
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Utils/TransactionContext.cs
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Utils/Utils.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/Factory.cs
  ConnectorRhino/ConnectorRhinoWebUI/Utils/RhinoDocumentStore.cs
Due: rhino, autocadcivil

feat(dui3): revit wip implementation
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Events.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/Filters.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/SelectionBinding.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/SendBinding.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/SendBinding.cs
Due: rhino, revit

fix(dui3): reverts accidental change
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Events.cs
Due: revit

Dim/dui3 revit (#2843)
  ConnectorRevit/RevitDUI3/Revit2023DUI3/Revit2023DUI3.csproj
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/BasicConnectorBindingRevit.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/Factory.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/Filters.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/SelectionBinding.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/SendBinding.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/CefSharpPanel.xaml
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/CefSharpPanel.xaml.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Entry.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/RevitDUI3Shared.projitems
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/SpeckleRevitDUI3Command.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Utils/RevitAppProvider.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Utils/RevitDocumentStore.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Utils/RevitIdleManager.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Utils/Schemas.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/Filters.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/SelectionBinding.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/SendBinding.cs
  ConnectorRhino/ConnectorRhinoWebUI/Utils/RhinoDocumentStore.cs
  DesktopUI3/DUI3/Models/DocumentModelStore.cs
Due: rhino, revit

add some comments on APIContext class
  ConnectorRevit/RevitSharedResources/Models/APIContext.cs
Due: revit

Feat(Revit) : send performance enhancement (#2825)
  ConnectorRevit/ConnectorRevit/Entry/App.cs
  ConnectorRevit/ConnectorRevit/TypeMapping/FamilyImporter.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Events.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Previews.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Send.cs
  ConnectorRevit/ConnectorRevit2020/ConnectorRevit2020.csproj
  ConnectorRevit/ConnectorRevit2021/ConnectorRevit2021.csproj
  ConnectorRevit/ConnectorRevit2022/ConnectorRevit2022.csproj
  ConnectorRevit/ConnectorRevit2023/ConnectorRevit2023.csproj
  ConnectorRevit/ConnectorRevit2024/ConnectorRevit2024.csproj
  ConnectorRevit/RevitSharedResources/Models/APIContext.cs
  ConnectorRevit/RevitSharedResources/RevitSharedResources.projitems
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/Units.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitCommitObjectBuilder.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitVersionHelper.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTests2021/ConverterRevitTests2021.csproj
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTests2022/ConverterRevitTests2022.csproj
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTests2023/ConverterRevitTests2023.csproj
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/AssertUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/SpeckleConversionTest.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/SpeckleUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

chore(objects): sets ExactVersion="false" on core dep
  Objects/Objects/Objects.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

transactionManager
  ConnectorRevit/ConnectorRevit/ConnectorRevit.projitems
  ConnectorRevit/ConnectorRevit/Revit/ErrorEater.cs
  ConnectorRevit/ConnectorRevit/Revit/TransactionManager.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRevit/RevitSharedResources/Interfaces/ITransactionManager.cs
  ConnectorRevit/RevitSharedResources/RevitSharedResources.projitems
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertWall.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix the explosion
  ConnectorRevit/ConnectorRevit/Entry/App.cs
  ConnectorRevit/ConnectorRevit/Storage/StreamStateCache.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Previews.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertWall.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

refactors logic to add new converter bindings
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  Core/Core/Kits/ISpeckleConverter.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

build: Added security analysers as errors
  ConnectorAutocadCivil/ConnectorAutocadCivil/Entry/SpeckleAutocadCommand.cs
  ConnectorCSI/ConnectorCSIShared/cPlugin.cs
  ConnectorDynamo/ConnectorDynamo/ReceiveNode/Receive.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Extras/Utilities.cs
  ConnectorRevit/ConnectorRevit/Entry/SchedulerCommand.cs
  ConnectorRevit/ConnectorRevit/Entry/SpeckleRevitCommand.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/MainForm.cs
  DesktopUI2/AvaloniaHwndHost/UnmanagedMethods.cs
  Directory.Build.props
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertGeometry.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Performance test experimentation
  All.sln
  Core/Core/Logging/LoggingHelpers.cs
  Core/Core/Models/DynamicBase.cs
  Core/Core/Serialisation/BaseObjectDeserializerV2.cs
  Core/Core/Transports/SQLite.cs
  Core/TestsPerformance/Api/Operations/Receive.cs
  Core/TestsPerformance/Program.cs
  Core/TestsPerformance/RegressionTestConfig.cs
  Core/TestsPerformance/TestsPerformance.csproj
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

traversal performance test
  Core/TestsPerformance/Api/Operations/Receive.cs
  Core/TestsPerformance/Api/Operations/ReceiveFromSQLite.cs
  Core/TestsPerformance/Api/Operations/TraverseCommit.cs
  Core/TestsPerformance/Program.cs
  Core/TestsPerformance/RegressionTestConfig.cs
  Core/TestsPerformance/TestDataHelper.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

adds new convert to native displayable bindings
  Core/Core/Kits/ISpeckleConverter.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.cs
  Objects/Converters/ConverterBentley/ConverterBentleyShared/ConverterBentley.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSI.cs
  Objects/Converters/ConverterDynamo/ConverterDynamoShared/ConverterDynamo.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToNative.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/ConverterTeklaStructures.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Update ConverterArchicad.cs
  ConnectorArchicad/ConnectorArchicad/Converters/ConverterArchicad.cs
Due: archicad

transaction manager with benchmarks
  ConnectorRevit/ConnectorRevit/Revit/TransactionManager.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Previews.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Send.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(civil): populates `curve` property of corridor featurelines (#2807)
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Resolved security violations
  Core/Core/Credentials/AccountManager.cs
  Core/Core/Helpers/Http.cs
  Core/Core/Logging/Setup.cs
  Core/IntegrationTests/Fixtures.cs
  Directory.Build.props
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

get rid of code for timing
  ConnectorRevit/ConnectorRevit/Revit/TransactionManager.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Previews.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fully implement transaction manager
  ConnectorRevit/ConnectorRevit/ConnectorRevit.projitems
  ConnectorRevit/RevitSharedResources/Models/ErrorEater.cs
  ConnectorRevit/RevitSharedResources/Models/TransactionManager.cs
  ConnectorRevit/RevitSharedResources/RevitSharedResources.projitems
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertView.Schedule.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/SpeckleUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

better unhandled exception message
  ConnectorRevit/ConnectorRevit/Entry/App.cs
Due: revit

fix unintented change
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Send.cs
Due: revit

clean up exception handle
  ConnectorRevit/RevitSharedResources/Interfaces/ITransactionManager.cs
  ConnectorRevit/RevitSharedResources/Models/TransactionManager.cs
  ConnectorRevit/RevitSharedResources/RevitSharedResources.projitems
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

test(perf): Deserailizer worker threads parallelisation tests
  Core/Core/Serialisation/BaseObjectDeserializerV2.cs
  Core/Core/Serialisation/DeserializationWorkerThreads.cs
  Core/TestsPerformance/Api/Operations/ReceiveFromSQLite.cs
  Core/TestsPerformance/Api/Operations/TraverseCommit.cs
  Core/TestsPerformance/RegressionTestConfig.cs
  Core/TestsPerformance/Serialisation/DeserializationWorkerThreads.cs
  Core/TestsPerformance/TestDataHelper.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Path conditions:
  core: any of: Core/.*
  rhino: any of: (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.*
  revit: any of: (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.*
  dynamo: any of: (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.*
  autocadcivil: any of: (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.*
  csi: any of: (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.*
  bentley: any of: (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.*
  teklastructures: any of: (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.*
  archicad: any of: (Core|Objects|ConnectorArchicad)/.*
  navisworks: any of: (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.*
