Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(gh): Adds "is Base" check to ESO-K/V input
  ConnectorGrasshopper/ConnectorGrasshopperShared/Objects/ExtendSpeckleObjectByKeyValueV2TaskComponent.cs
Due: rhino

fix(ci): Fixes regex version parsing for nuget packages
  .circleci/scripts/config-template.yml
Due: none

fix(dynamo): broken project after build step
  ConnectorDynamo/ConnectorDynamo/ConnectorDynamo.csproj
  ConnectorDynamo/ConnectorDynamoFunctions/ConnectorDynamoFunctions.csproj
Due: dynamo

fix(ci): Fixes regex version parsing for nuget packages (#2611)
  .circleci/scripts/config-template.yml
Due: none

fix(gh): Adds "is Base" check to ESO-K/V input (#2610)
  ConnectorGrasshopper/ConnectorGrasshopperShared/Objects/ExtendSpeckleObjectByKeyValueV2TaskComponent.cs
Due: rhino

fix(dynamo): broken project after build step (#2613)
  ConnectorDynamo/ConnectorDynamo/ConnectorDynamo.csproj
  ConnectorDynamo/ConnectorDynamoFunctions/ConnectorDynamoFunctions.csproj
Due: dynamo

chore: Throw errors on DynamicBase deprecated methods
  Core/Core/Models/DynamicBase.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

chore(core): Fix calls to dynamicbase obsolete members
  Core/Core/Models/Base.cs
  Core/Core/Models/GraphTraversal/DefaultTraversal.cs
  Core/Core/Models/Utilities.cs
  Core/Core/Serialisation/BaseObjectSerializerV2.cs
  Core/Tests/BaseTests.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(rhino/gh): Fix calls to DynamicBase obsolete members
  ConnectorGrasshopper/ConnectorGrasshopperShared/Extras/Utilities.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Objects/Deprecated/ExpandSpeckleObjectTaskComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Objects/GetObjectKeysComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Operations.VariableInputReceiveComponent.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Mappings.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
Due: rhino, revit

fix(tekla): Fix calls to DynamicBase obsolete members
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/UI/ConnectorBindingsTeklaStructures.Receive.cs
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/ConverterTeklaStructureUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(revit): Fix calls to DynamicBase obsolete members
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(bentley): Fix calls to DynamicBase obsolete members
  ConnectorBentley/ConnectorBentleyShared/UI/Bindings.cs
Due: bentley

fix(core): remove deprecated user queries in account management
  .vscode/launch.json
  Core/.vscode/launch.json
  Core/.vscode/settings.json
  Core/.vscode/tasks.json
  Core/Core/Credentials/Account.cs
  Core/Core/Credentials/AccountManager.cs
  Core/Examples/.vscode/launch.json
  Core/IntegrationTests/.vscode/launch.json
  Core/IntegrationTests/.vscode/tasks.json
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(core): remove deprecated user queries in account management (#2615)
  .vscode/launch.json
  Core/.vscode/launch.json
  Core/.vscode/settings.json
  Core/.vscode/tasks.json
  Core/Core/Credentials/Account.cs
  Core/Core/Credentials/AccountManager.cs
  Core/Examples/.vscode/launch.json
  Core/IntegrationTests/.vscode/launch.json
  Core/IntegrationTests/.vscode/tasks.json
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

adds applicationid to instance conversion method
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(rhino): missing application ids in nested block instances (#2616)
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

test: Shallow clone to speed up checkout
  .circleci/scripts/config-template.yml
Due: none

test: Add ssh?
  .circleci/scripts/config-template.yml
Due: none

test: Last attempt?
  .circleci/scripts/config-template.yml
Due: none

sets appid for all instance conversions
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

remove currentSettings
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Mappings.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Previews.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Selection.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Send.cs
Due: revit

get rid of global preview and storedObjects
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Mappings.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Previews.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
Due: revit

hotfix(rhino): adds applicationId to nested instances (#2618)
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(nugets): rip out RevitConverterTests from All.sln
  All.sln
Due: none

delete
  Objects/Directory.Build.Props
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

re-add with non capital `.props`
  Objects/Directory.Build.props
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(advanceSteel): Case-sensitive ref not found in linux
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivilShared.projitems
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

remove unused code
  Objects/Converters/ConverterRevit/ConverterRevitTests/TestGenerator/TestTemplate.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

remove more unused code
  Objects/Converters/ConverterRevit/ConverterRevitTests/TestGenerator/Globals.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

chore(core): updates sentry, avalonia and other packages minor verisons
  Core/Core/Core.csproj
  Core/IntegrationTests/TestsIntegration.csproj
  Core/Tests/TestsUnit.csproj
  Core/Transports/MongoDBTransport/MongoDBTransport.csproj
  DesktopUI2/AvaloniaHwndHost/AvaloniaHwndHost.csproj
  DesktopUI2/DesktopUI2/DesktopUI2.csproj
  Objects/Tests/Tests.csproj
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(core): adds a StreamExists method to check if a stream exists and is accessible
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.StreamOperations.cs
  Core/IntegrationTests/Api.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(dui): checks if a stream exists before opening it
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
Due: none

feat(serializer): Deserializer type target will fall-back to a `.Deprecated` namespace
  Core/Core/Serialisation/BaseObjectSerialzerUtilities.cs
  Core/Tests/ObjectModelDeprecationTests.cs
  Objects/Objects/Organization/Deprecated/Collection.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

chore(core): more deps
  Core/Core/Core.csproj
  DesktopUI2/DesktopUI2.Launcher/DesktopUI2.Launcher.csproj
  DesktopUI2/DesktopUI2.WPF/DesktopUI2.WPF.csproj
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(dui): fatal crash when the SavedStrems state collection had items removed and scroll happened on the ItemsRepeater
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
Due: none

chore: update libAvaloniaNative.dylib
  ConnectorRhino/ConnectorRhino7/ConnectorRhino7.csproj
Due: rhino

fix(gh): Adding root namespace to GH6 project fixes missing resource error.
  ConnectorGrasshopper/ConnectorGrasshopper6/ConnectorGrasshopper6.csproj
Due: rhino

fix(gh): Adding root namespace to GH6 project fixes missing resource error. (#2629)
  ConnectorGrasshopper/ConnectorGrasshopper6/ConnectorGrasshopper6.csproj
Due: rhino

fix(dui): fatal crash when the SavedStrems state collection had items… (#2627)
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
Due: none

chore(core): updates sentry, avalonia and other packages minor verisons (#2624)
  ConnectorRhino/ConnectorRhino7/ConnectorRhino7.csproj
  Core/Core/Core.csproj
  Core/IntegrationTests/TestsIntegration.csproj
  Core/Tests/TestsUnit.csproj
  Core/Transports/MongoDBTransport/MongoDBTransport.csproj
  DesktopUI2/AvaloniaHwndHost/AvaloniaHwndHost.csproj
  DesktopUI2/DesktopUI2.Launcher/DesktopUI2.Launcher.csproj
  DesktopUI2/DesktopUI2.WPF/DesktopUI2.WPF.csproj
  DesktopUI2/DesktopUI2/DesktopUI2.csproj
  Objects/Tests/Tests.csproj
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Path conditions:
  core: any of: Core/.*
  rhino: any of: (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.*
  revit: any of: (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.*
  dynamo: any of: (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.*
  autocadcivil: any of: (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.*
  csi: any of: (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.*
  bentley: any of: (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.*
  teklastructures: any of: (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.*
  archicad: any of: (Core|Objects|ConnectorArchicad)/.*
  navisworks: any of: (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.*
