Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(rvt): Isolated `HostElement` in new `RevitConverterState`
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit .Settings.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Previews.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Send.cs
  ConnectorRevit/RevitSharedResources/Models/RevitConverterState.cs
  ConnectorRevit/RevitSharedResources/RevitSharedResources.projitems
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(rvt): Added directshape fallback setting
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit .Settings.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
Due: revit

fix(dui): do not break the get streams loop if one server times out
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
Due: none

add configurable timeout to http client factory
  Core/Core/Helpers/Http.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(rvt): Reorganized fallback to DS behaviour
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
Due: revit

feat(rvt): Added new setting for DirectShape fallback
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit .Settings.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
Due: revit

configurettimeout value overrides
  Core/Core/Api/GraphQL/Client.cs
  Core/Core/Helpers/Http.cs
  Core/Core/Transports/ServerUtils/ServerAPI.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(rvt): Minor cleanup of fallback logic
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
Due: revit

fix(rvt): Update appObject when everything fails
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
Due: revit

Simplify rhino send
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Bindings/SendBinding.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/SendBinding.cs
  DesktopUI3/DUI3/Bindings/ISendBinding.cs
Due: rhino, autocadcivil

fix(revit): Added support for nested elements inside adaptive components
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAdaptiveComponent.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

partial(rvt): DirectShape fallback working with new setting + resolution of some conflicting changes after dev merge (#2861)
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit .Settings.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Previews.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Send.cs
  ConnectorRevit/RevitSharedResources/Models/RevitConverterState.cs
  ConnectorRevit/RevitSharedResources/RevitSharedResources.projitems
  Core/Core/Kits/ISpeckleConverter.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Fix(Revit) : fatal crash in Revit and speed upgrade for large receive operations (#2849)
  ConnectorRevit/ConnectorRevit/ConnectorRevit.projitems
  ConnectorRevit/ConnectorRevit/Entry/App.cs
  ConnectorRevit/ConnectorRevit/Storage/StreamStateCache.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Previews.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRevit/RevitSharedResources/Models/ErrorEater.cs
  ConnectorRevit/RevitSharedResources/Models/TransactionManager.cs
  ConnectorRevit/RevitSharedResources/RevitSharedResources.projitems
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertView.Schedule.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertWall.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/SpeckleUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(rvt): Added transactionManager as input of ConvertObject
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
Due: revit

fix(rvt): Missed one ConvertObject ref
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
Due: revit

fix(rvt): Prevent Connector2022 from copying files if not on windows
  ConnectorRevit/ConnectorRevit2022/ConnectorRevit2022.csproj
Due: revit

WIP revit send
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/SendBinding.cs
Due: revit

feat(rvt): Send elements without display meshes
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRevitElement.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Copy/clean build files folders correctly with @AlanRynne
  ConnectorRevit/RevitDUI3/Revit2023DUI3/Revit2023DUI3.csproj
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/RevitDUI3Shared.projitems
Due: revit

fix(rvt): Send objects that have no 3d representation to Speckle (#2856)
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRevitElement.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

element type filter
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetElementIds.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/FieldNames.hpp
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetElementIds.cs
  ConnectorArchicad/ConnectorArchicad/ConnectorBinding.cs
  ConnectorArchicad/ConnectorArchicad/Converters/ElementConverterManager.cs
Due: archicad

code style
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetElementIds.cs
  ConnectorArchicad/ConnectorArchicad/ConnectorBinding.cs
  ConnectorArchicad/ConnectorArchicad/Converters/ElementConverterManager.cs
Due: archicad

non localized element type names
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetDataCommand.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetElementIds.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/ResourceIds.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/ResourceStrings.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/ResourceStrings.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/Utility.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Utility.hpp
  ConnectorArchicad/AddOn/Sources/AddOnResources/RFIX/AddOnFix.grc
Due: archicad

Equipment is Object subtype
  ConnectorArchicad/ConnectorArchicad/ConnectorBinding.cs
Due: archicad

Select unique id of the elements for selection binding
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/SelectionBinding.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/SendBinding.cs
Due: revit

Send progress for Rhino, Revit and AutoCAD
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Bindings/SendBinding.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/SendBinding.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/SendBinding.cs
  DesktopUI3/DUI3/Utils/Progress.cs
Due: rhino, revit, autocadcivil

feat: Add Zone class with constructors and properties
  Objects/Objects/BuiltElements/Zone.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

adds ceiling and roof mappings
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/MappingBindingsRhino.cs
  DesktopUI2/DesktopUI2/ViewModels/MappingTool/MappingsViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/MappingTool/Schemas.cs
  DesktopUI2/DesktopUI2/Views/MappingsControl.xaml
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Mappings.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Use dispatcher to send progress update
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/SendBinding.cs
  DesktopUI3/DUI3/Bindings/ISendBinding.cs
Due: revit

Use dispatcher for also Rhino and AutoCAD
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Bindings/SendBinding.cs
  ConnectorRevit/RevitDUI3/Revit2023DUI3/Revit2023DUI3.csproj
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/SendBinding.cs
  DUI3.sln
Due: rhino, revit, autocadcivil

renamed footprint roofs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/MappingBindingsRhino.cs
  DesktopUI2/DesktopUI2/ViewModels/MappingTool/MappingsViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/MappingTool/Schemas.cs
  DesktopUI2/DesktopUI2/Views/MappingsControl.xaml
Due: rhino

feat(rhino): adds ceiling and footprint roof mappings (#2866)
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/MappingBindingsRhino.cs
  DesktopUI2/DesktopUI2/ViewModels/MappingTool/MappingsViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/MappingTool/Schemas.cs
  DesktopUI2/DesktopUI2/Views/MappingsControl.xaml
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Mappings.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(rvt): Make revit converter Doc non-static
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(rvt): First run at Block->Family conversion
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertBlock.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

add gis polygon element and conversion
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevitShared.projitems
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertPolygonElement.cs
  Objects/Objects/GIS/PolygonElement.cs
  Objects/Objects/Objects.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat: Add Zone object to Space class
  Objects/Objects/BuiltElements/Space.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat: Add Zone class and conversion methods
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevitShared.projitems
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertZone.cs
  Objects/Objects/BuiltElements/Zone.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat: Add validation and element retrieval for selected objects
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Selection.cs
Due: revit

feat: Convert and cache zone for Revit space
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertSpace.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat: Add caching for converted Zones
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Path conditions:
  core: any of: Core/.*
  rhino: any of: (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.*
  revit: any of: (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.*
  dynamo: any of: (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.*
  autocadcivil: any of: (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.*
  csi: any of: (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.*
  bentley: any of: (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.*
  teklastructures: any of: (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.*
  archicad: any of: (Core|Objects|ConnectorArchicad)/.*
  navisworks: any of: (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.*
