Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.3.1
  python: circleci/python@2.0.3

jobs:
  setup:
    executor: python/default
    steps:
      - checkout # checkout code
      - when:
          condition:
            and:
              - not:
                  equal: [main, << pipeline.git.branch >>]
              - not:
                  matches:
                    pattern: ".*/?ci/.*"
                    value: << pipeline.git.branch >>
              - not:
                  matches:
                    pattern: ".*/all$"
                    value: << pipeline.git.tag >>
          steps:
            - run: git branch internal_circleci
            - path-filtering/set-parameters:
                mapping: |
                  Core/.* core true
                  (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.* rhino true
                  (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.* revit true
                  (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.* dynamo true
                  (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.* autocadcivil true
                  (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.* csi true
                  (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.* bentley true
                  (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.* teklastructures true
                  (Core|Objects|ConnectorArchicad)/.* archicad true
                  (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.* navisworks true
                base-revision: main
                output-path: .circleci/scripts/parameters.json
      - run: cat .circleci/scripts/parameters.json
      - run: pip install pyyaml
      - run: # run a command
          name: Generate config
          command: |
            python .circleci/scripts/config-generator.py -d ${CIRCLE_TAG:-none} -o .circleci/continuation-config.yml -e ${CIRCLE_PR_REPONAME:-none}
      - continuation/continue:
          configuration_path: .circleci/continuation-config.yml # use newly generated config to continue
workflows:
  setup:
    jobs:
      - setup:
          name: Build Setup
      - setup:
          name: Deploy Setup
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^(nugets\/)?([0-9]+)\.([0-9]+)\.([0-9]+)(?:-\w+)?(\/all)?$/

fix warnings
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Bindings/BasicConnectorBindingRevit.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Plugin/RevitExternalApplication.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.Revit2023/Speckle.Converters.Revit2023.csproj
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Extensions/ForgeTypeIdExtensions.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Extensions/ParameterExtensions.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Helpers/DisplayValueExtractor.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Helpers/ParameterValueExtractor.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Helpers/RevitConversionContextStack.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/ToSpeckle/BeamConversionToSpeckle.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/ToSpeckle/ColumnConversionToSpeckle.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/ToSpeckle/FamilyInstanceConversionToSpeckle.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/ToSpeckle/ParameterConversionToSpeckle.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/ToSpeckle/SolidsConversionToSpeckle.cs
  DUI3-DX/Sdk/Speckle.Connectors.Utils/Speckle.Connectors.Utils.csproj
Due: none

fix scope
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Layers/VectorLayerToSpeckleConverter.cs
Due: none

fix more warnings
  Core/Core/Kits/Exceptions.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Bindings/RevitBaseBinding.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Bindings/SendBinding.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/DependencyInjection/AutofacUIModule.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/GlobalUsings.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Helpers/MeshBuildHelper.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Helpers/RevitCategories.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Helpers/RevitCategoryInfo.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Helpers/SendSelection.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Services/ToSpeckleScalingService.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/ToSpeckle/ColumnConversionToSpeckle.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/ToSpeckle/ElementConversionToSpeckle.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/ToSpeckle/MeshConversionToSpeckle.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/ToSpeckle/ParameterConversionToSpeckle.cs
  global.json
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

create converter ourside of for-loop
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Operations/Send/RootObjectBuilder.cs
Due: none

feat(dui3): pure experiments in unpacking blocks on send - extremely WIP
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/SendBinding.cs
  ConnectorRhino/ConnectorRhinoWebUI/Utils/Utils.cs
Due: rhino

adds converter to host files and point to host conversion
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/AutocadConverterToHost.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/DependencyInjection/AutofacAutocadConverterModule.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/Geometry/PointToHostConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/Speckle.Converters.AutocadShared.projitems
  DUI3-DX/Sdk/Speckle.Converters.Common/ISpeckleConverterToHost.cs
  DUI3-DX/Sdk/Speckle.Converters.Common/Objects/ISpeckleObjectToHostConversion.cs
Due: none

adds converters to receive binding
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Bindings/AutocadReceiveBinding.cs
Due: none

Receive with layers WIP
  Core/Core/Models/Base.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Bindings/AutocadReceiveBinding.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/DependencyInjection/AutofacAutocadModule.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/HostApp/AutocadContext.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/HostApp/AutocadLayerManager.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/HostApp/Extensions/DatabaseExtensions.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/HostApp/Extensions/EntityExtensions.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Speckle.Connectors.AutocadShared.projitems
  DUI3-DX/DUI3/Speckle.Connectors.DUI/Bindings/IReceiveBinding.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Register ISpeckleConverterToHost
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Bindings/AutocadReceiveBinding.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/DependencyInjection/AutofacAutocadModule.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/HostApp/AutocadLayerManager.cs
Due: none

Start transaction for layer creation
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/HostApp/AutocadLayerManager.cs
Due: none

Lock document
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/HostApp/AutocadLayerManager.cs
Due: none

feat(dui3): POC blocks rhino<>rhino working as advertised - note speckle commits created with previous version of this branch are poisoned (bad data on depth)
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/ReceiveBinding.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/SendBinding.cs
  ConnectorRhino/ConnectorRhinoWebUI/Utils/Utils.cs
  Core/Core/Models/Extras.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Wrap up receive binding
  Core/Core/Models/Base.cs
  Core/Core/Models/Extensions/BaseExtensions.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Bindings/AutocadReceiveBinding.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/HostApp/AutocadLayerManager.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Plugin/AutocadCommand.cs
  DUI3-DX/DUI3/Speckle.Connectors.DUI/Bindings/IReceiveBinding.cs
  DUI3-DX/DUI3/Speckle.Connectors.DUI/Bindings/ReceiveBindingUICommands.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(Revit): Dockable panel initialization not working when launching Revit form a file
  ConnectorRevit/ConnectorRevit/Entry/App.cs
  ConnectorRevit/ConnectorRevit/Entry/SpeckleRevitCommand.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Events.cs
Due: revit

Self review notes/changes
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Bindings/AutocadReceiveBinding.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/HostApp/AutocadContext.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/HostApp/AutocadLayerManager.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/HostApp/Extensions/DatabaseExtensions.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/HostApp/Extensions/EntityExtensions.cs
Due: none

Remove IDE0005 for BaseExtension attempt before
  Core/Core/Models/Base.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

adds events on send
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Send.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Send.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.Send.cs
  Core/Core/Logging/Analytics.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Remove various IDE0005
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/Geometry/PointToHostConverter.cs
  DUI3-DX/DUI3/Speckle.Connectors.DUI/Bindings/IReceiveBinding.cs
Due: none

Receive catch when it is not fatal
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Bindings/AutocadReceiveBinding.cs
Due: none

fix(arcgis): Removed unnecessary using statement
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Layers/VectorLayerToSpeckleConverter.cs
Due: none

Revert "fix(arcgis): Removed unnecessary using statement"
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Layers/VectorLayerToSpeckleConverter.cs
Due: none

fix(arcgis): Lower IDE0063 to suggestion
  .editorconfig
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Layers/VectorLayerToSpeckleConverter.cs
Due: none

adds logging to receive
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Receive.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.Receive.cs
Due: rhino, revit, autocadcivil

address some comments
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Bindings/RevitBaseBinding.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Bindings/SendBinding.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/DependencyInjection/AutofacUIModule.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Operations/Send/IRootObjectSender.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Operations/Send/RootObjectBuilder.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Operations/Send/RootObjectSender.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Operations/Send/SendOperation.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Speckle.Connectors.RevitShared.projitems
Due: none

add back type parameters
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Helpers/ParameterObjectAssigner.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Helpers/ParameterValueExtractor.cs
Due: none

make variable constant
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Helpers/RevitConversionContextStack.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/ToSpeckle/CurveArrayConversionToSpeckle.cs
Due: none

fix(core): logging of connectors and profile identified
  Core/Core/Logging/Analytics.cs
  Core/Core/Logging/Setup.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(core): remove profile-set from profile-union call in logging
  Core/Core/Logging/Analytics.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Adding POC comments
  DUI3-DX/Connectors/Revit/Speckle.Connectors.Revit2023/Speckle.Connectors.Revit2023.csproj
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Bindings/SendBinding.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/DependencyInjection/AutofacUIModule.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Operations/Send/RootObjectBuilder.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Operations/Send/SendOperation.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Plugin/RevitExternalApplication.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.Revit2023.DependencyInjection/AutofacRevitConverterModule.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Extensions/DefinitionExtensions.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Helpers/DisplayValueExtractor.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Helpers/MeshBuildHelper.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Helpers/ParameterObjectAssigner.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Helpers/ParameterValueExtractor.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Helpers/RevitCategories.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Helpers/RevitCategoryInfo.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Helpers/RevitConversionContextStack.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Helpers/SendSelection.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Helpers/ToSpeckleConvertedObjectsCache.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/RevitConverterToSpeckle.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Services/CachingService.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Services/RevitToSpeckleUnitConverter.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Services/ToSpeckleScalingService.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/ToSpeckle/BaseConversionToSpeckle.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/ToSpeckle/ColumnConversionToSpeckle.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/ToSpeckle/CurveConversionToSpeckle.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/ToSpeckle/ElementConversionToSpeckle.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/ToSpeckle/FamilyInstanceConversionToSpeckle.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/ToSpeckle/HostedElementConversionToSpeckle.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/ToSpeckle/LocationConversionToSpeckle.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/ToSpeckle/MeshConversionToSpeckle.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/ToSpeckle/ParameterConversionToSpeckle.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/ToSpeckle/SolidsConversionToSpeckle.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/ToSpeckle/WallConversionToSpeckle.cs
  DUI3-DX/Sdk/Speckle.Autofac/DependencyInjection/ScopedFactory.cs
  DUI3-DX/Sdk/Speckle.Converters.Common.DependencyInjection/RawConversionRegisterer.cs
  DUI3-DX/Sdk/Speckle.Converters.Common/Objects/IRawConversion.cs
Due: none

OOps, phat finger mistake
  DUI3-DX/Sdk/Speckle.Converters.Common.DependencyInjection/RawConversionRegisterer.cs
Due: none

Using directive
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/ToSpeckle/CurveConversionToSpeckle.cs
Due: none

Other usings
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Bindings/SendBinding.cs
Due: none

add conflict project
  All.sln
  DUI3-DX/Connectors/Revit/Speckle.Connectors.Conflicting.Revit2023/App.config
  DUI3-DX/Connectors/Revit/Speckle.Connectors.Conflicting.Revit2023/Plugin/RevitExternalApplication.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.Conflicting.Revit2023/Plugin/RevitPlugin.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.Conflicting.Revit2023/Plugin/Speckle.Connectors.Conflicting.Revit2023.addin
  DUI3-DX/Connectors/Revit/Speckle.Connectors.Conflicting.Revit2023/Program.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.Conflicting.Revit2023/Speckle.Connectors.Conflicting.Revit2023.csproj
Due: none

Base 2025 Support
  All.sln
  ConnectorNavisworks/ConnectorNavisworks.slnf
  ConnectorNavisworks/ConnectorNavisworks/Entry/PackageContents.xml
  ConnectorNavisworks/ConnectorNavisworks/Entry/Ribbon.xaml.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/Utilities.cs
  ConnectorNavisworks/ConnectorNavisworks2025/Properties/launchSettings.json
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Connector and Converter projects
  ConnectorNavisworks/ConnectorNavisworks2025/ConnectorNavisworks2025.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2025/ConverterNavisworks2025.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

WIP
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/SendBinding.cs
  ConnectorRhino/ConnectorRhinoWebUI/Utils/BlockHierarchyPaths.cs
  ConnectorRhino/ConnectorRhinoWebUI/WebUIPanelWebView2.xaml
Due: rhino

Addressing PR comments vol 1
  Core/Core/Models/Utilities.cs
  Core/Tests/Speckle.Core.Tests.Unit/Models/UtilitiesTests.cs
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Bindings/ArcGISSendBinding.cs
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/DependencyInjection/AutofacArcGISModule.cs
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Filters/ArcGISEverythingFilter.cs
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Filters/ArcGISSelectionFilter.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Bindings/AutocadReceiveBinding.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Bindings/AutocadSendBinding.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/DependencyInjection/AutofacAutocadModule.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Filters/AutocadSelectionFilter.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/HostApp/Extensions/DocumentExtensions.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/HostApp/Extensions/EntityExtensions.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Speckle.Connectors.AutocadShared.projitems
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Bindings/Filters.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Bindings/SendBinding.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/DependencyInjection/AutofacUIModule.cs
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/Bindings/RhinoSendBinding.cs
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/DependencyInjection/AutofacRhinoModule.cs
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/Filters/RhinoEverythingFilter.cs
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/Filters/RhinoSelectionFilter.cs
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/Operations/Send/RootObjectBuilder.cs
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/Operations/Send/SendOperation.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/AutocadConverterToHost.cs
  DUI3-DX/DUI3/Speckle.Connectors.DUI/Bindings/IReceiveBinding.cs
  DUI3-DX/DUI3/Speckle.Connectors.DUI/Bindings/ISendBinding.cs
  DUI3-DX/DUI3/Speckle.Connectors.DUI/Bindings/ReceiveBindingUICommands.cs
  DUI3-DX/DUI3/Speckle.Connectors.DUI/Models/Card/CreateVersionArgs.cs
  DUI3-DX/DUI3/Speckle.Connectors.DUI/Models/Card/ReceiveResult.cs
  DUI3-DX/DUI3/Speckle.Connectors.DUI/Models/Card/ReceiverModelCard.cs
  DUI3-DX/DUI3/Speckle.Connectors.DUI/Models/Card/ReceiverModelCardResult.cs
  DUI3-DX/DUI3/Speckle.Connectors.DUI/Models/Card/SendFilter/DirectSelectionSendFilter.cs
  DUI3-DX/DUI3/Speckle.Connectors.DUI/Models/Card/SendFilter/EverythingSendFilter.cs
  DUI3-DX/DUI3/Speckle.Connectors.DUI/Models/Card/SendFilter/ISendFilter.cs
  DUI3-DX/DUI3/Speckle.Connectors.DUI/Models/Card/SenderModelCard.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Fix csharpier warnings
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/HostApp/Extensions/DocumentExtensions.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/HostApp/Extensions/EntityExtensions.cs
Due: none

Add unit test for TraverseWithPath
  Core/Tests/Speckle.Core.Tests.Unit/Models/Extensions/BaseExtensionsTests.cs
  DUI3-DX/DUI3/Speckle.Connectors.DUI/Models/DocumentModelStore.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks
