Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

refactor(autocad): Traversal refactor autocad
  ConnectorAutocadCivil/ConnectorAutocad2023/ConnectorAutocad2023.csproj
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Utils.cs
Due: autocadcivil

reverted accidental change
  Objects/Objects/Structural/Analysis/Model.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

wip retry implementation
  Core/Core/Api/GraphQL/Client.GraphqlClientOperations.cs
  Core/Core/Api/GraphQL/Client.cs
  Core/Core/Api/GraphQL/SubscriptionModels.cs
  Core/Core/Core.csproj
  Core/IntegrationTests/Api.cs
  Core/IntegrationTests/GraphQLCLient.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

changed revit instance to speckle method
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertBlock.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertModel.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
  Objects/Objects/BuiltElements/Revit/FamilyInstance.cs
  Objects/Objects/Other/Block.cs
  Objects/Objects/Other/Instance.cs
  Objects/Objects/Other/Transform.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

Remove code not related to PR
  ConnectorNavisworks/ConnectorNavisworks2020/ConnectorNavisworks2020.csproj
  ConnectorNavisworks/ConnectorNavisworks2021/ConnectorNavisworks2021.csproj
  ConnectorNavisworks/ConnectorNavisworks2022/ConnectorNavisworks2022.csproj
  ConnectorNavisworks/ConnectorNavisworks2023/ConnectorNavisworks2023.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2020/ConverterNavisworks2020.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2021/ConverterNavisworks2021.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2022/ConverterNavisworks2022.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2023/ConverterNavisworks2023.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

Remove code change not related to PR
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2020/ConverterNavisworks2020.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2021/ConverterNavisworks2021.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2022/ConverterNavisworks2022.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2023/ConverterNavisworks2023.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

feat: logs ping exception
  Core/Core/Helpers/Http.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

DUI Changes for Advanced Settings
  DesktopUI2/DesktopUI2/DesktopUI2.csproj
  DesktopUI2/DesktopUI2/Models/Settings/NumericSetting.cs
  DesktopUI2/DesktopUI2/Models/Settings/SettingsConverter.cs
  DesktopUI2/DesktopUI2/Models/Settings/TextBoxSetting.cs
  DesktopUI2/DesktopUI2/Views/Settings/NumericSettingView.xaml
  DesktopUI2/DesktopUI2/Views/Settings/NumericSettingView.xaml.cs
  DesktopUI2/DesktopUI2/Views/Settings/TextBoxSettingView.xaml
  DesktopUI2/DesktopUI2/Views/Settings/TextBoxSettingView.xaml.cs
Due: none

transform to native draft
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

backwards compatibility for new transform
  Core/Core/Serialisation/BaseObjectSerializerV2.cs
  Core/Core/Serialisation/ValueConverter.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
  Objects/Objects/Geometry/Arc.cs
  Objects/Objects/Geometry/Brep.cs
  Objects/Objects/Geometry/ControlPoint.cs
  Objects/Objects/Geometry/Curve.cs
  Objects/Objects/Geometry/Line.cs
  Objects/Objects/Geometry/Mesh.cs
  Objects/Objects/Geometry/Plane.cs
  Objects/Objects/Geometry/Point.cs
  Objects/Objects/Geometry/Pointcloud.cs
  Objects/Objects/Geometry/Polycurve.cs
  Objects/Objects/Geometry/Polyline.cs
  Objects/Objects/Geometry/Surface.cs
  Objects/Objects/Geometry/Vector.cs
  Objects/Objects/Interfaces.cs
  Objects/Objects/Organization/Model.cs
  Objects/Objects/Other/Block.cs
  Objects/Objects/Other/Instance.cs
  Objects/Objects/Other/Transform.cs
  Objects/Objects/Other/Transform_old.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

Implemented Send Settings for Origin Transformation
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Settings.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.cs
  ConnectorNavisworks/ConnectorNavisworks/ConnectorNavisworks.Shared.projitems
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Geometry.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Other.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Settings.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToSpeckle.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworksShared.projitems
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

Addition of units for the Coordinate Transform.
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Settings.cs
  ConnectorNavisworks/ConnectorNavisworks/Utils.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Geometry.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Settings.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

Modified the TreeViewFilter to accept SelectionMode Binding
  DesktopUI2/DesktopUI2/Models/Filters/TreeSelectionFilter.cs
  DesktopUI2/DesktopUI2/Views/Filters/TreeFilterView.xaml
  DesktopUI2/DesktopUI2/Views/Filters/TreeFilterView.xaml.cs
Due: none

Populate a treeview filter with Saved Viewpoints
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Filters.cs
Due: navisworks

Disabled addition of bbox. Fixes: #2050
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToSpeckle.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

removes legacy transform name
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertBlock.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertModel.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

feat(core): add specific SpeckleException derivatives for GraphQL exceptions
  Core/Core/Api/Exceptions.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

docs(example): add logging example
  Core/Examples/Program.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

chore(core): make sure the core internals are visible to integration tests
  Core/Core/Core.csproj
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

feat(core graphql client): add common graphql operation executor implementation for uniform behavior
  Core/Core/Api/GraphQL/Client.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

refactor(core graphql client): refactor graphql operations to new execution method, split operations to files separated by topic
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.ActivityOperations.cs
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.BranchOperations.cs
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.CommentOperations.cs
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.CommitOperations.cs
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.ObjectOperations.cs
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.StreamOperations.cs
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.UserOperations.cs
  Core/Core/Api/GraphQL/Client.GraphqlClientOperations.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

chore(core integration tests): delete obsolete version test, the support for the old version has been dropeed
  Core/IntegrationTests/Api.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

test(core unit test): add tests for the new graphql client executor methods
  Core/Tests/GraphQLClient.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

test(core integration test): add test to ensure the new GraphqlException is thrown, where appropriate
  Core/IntegrationTests/GraphQLCLient.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

updates transform class and rhino instance to native conversions
  Core/Core/Serialisation/ValueConverter.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertBlock.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
  Objects/Objects/Geometry/Arc.cs
  Objects/Objects/Geometry/Brep.cs
  Objects/Objects/Geometry/ControlPoint.cs
  Objects/Objects/Geometry/Curve.cs
  Objects/Objects/Geometry/Line.cs
  Objects/Objects/Geometry/Mesh.cs
  Objects/Objects/Geometry/Plane.cs
  Objects/Objects/Geometry/Point.cs
  Objects/Objects/Geometry/Pointcloud.cs
  Objects/Objects/Geometry/Polycurve.cs
  Objects/Objects/Geometry/Polyline.cs
  Objects/Objects/Geometry/Vector.cs
  Objects/Objects/Other/Block.cs
  Objects/Objects/Other/Instance.cs
  Objects/Objects/Other/Transform.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

fix(revit): assign topLevel to family instances if applicable (#2082)
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

Null checking on DocumentDatabase - Fixes #2091
  ConnectorNavisworks/ConnectorNavisworks/Storage/SpeckleStreamManager.cs
Due: navisworks

chore (Navisworks): Adds file links to Core .editorConfigs
  ConnectorNavisworks/ConnectorNavisworks/ConnectorNavisworks.Shared.projitems
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworksShared.projitems
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

Expands the `GetPseudoId` helper to convert more input types
  ConnectorNavisworks/ConnectorNavisworks/Utils.cs
Due: navisworks

feature(Navisworks): Added Lines & Polylines as supported geometries
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Geometry.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToSpeckle.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

fix: Sending no valid objects now safely cancels and returns control
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
Due: navisworks

rhino transform bug fixes
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  Core/Core/Serialisation/BaseObjectSerializerV2.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
  Objects/Objects/Other/Block.cs
  Objects/Objects/Other/Instance.cs
  Objects/Objects/Other/Transform.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

feat: uses DecorrelatedJitterBackoffV2
  Core/Core/Helpers/Http.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

feat: updates proj
  Core/Core/Core.csproj
  Core/Core/Helpers/Http.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

Removed unused line
  Core/Core/Models/GraphTraversal/RuleBuilder.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

add operating system related data to log messages
  Core/Core/Logging/SpeckleLog.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

fix(logging): remove redundant using
  Core/Core/Logging/SpeckleLog.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

Path conditions:
  core: any of: Core/.*
  rhino: any of: (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.*
  revit: any of: (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.*
  dynamo: any of: (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.*
  autocadcivil: any of: (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.*
  csi: any of: (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.*
  microstation: any of: (Core|Objects|ConnectorMicroStation|.*/ConverterMicroStation)/.*
  teklastructures: any of: (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.*
  archicad: any of: (Core|Objects|ConnectorArchicad)/.*
  navisworks: any of: (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.*
