Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

log(rhino): started implementing new logging
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/Plugin.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
Due: rhino

perf(rhino): minor performance optimisation of mesh to native
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Geometry.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

Fixed regression with rhino traversal
  Core/Core/Models/GraphTraversal/DefaultTraversal.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

Fixed regression with rhino traversal (#2157)
  Core/Core/Models/GraphTraversal/DefaultTraversal.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

updates autocad instance handling
  DesktopUI2/DesktopUI2/ConnectorBindings.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Other.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.cs
  Objects/Objects/Other/Instance.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

chore(gh): Flagged old K/V nodes as obsolete
  ConnectorGrasshopper/ConnectorGrasshopperShared/Objects/CreateSpeckleObjectByKeyValueTaskComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Objects/ExtendSpeckleObjectByKeyValueTaskComponent.cs
Due: rhino

small autocad bakedGeo bug fix
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Other.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

fix(csi): set correct beam sizes on update
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Geometry/ConvertFrame.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Properties/Convert1DProperty.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

feat(gh): WIP account input refactor
  ConnectorGrasshopper/ConnectorGrasshopperShared/Accounts/AccountFromServerToken.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Accounts/Accounts.AccountDetailsV2.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/ConnectorGrasshopperShared.projitems
  ConnectorGrasshopper/ConnectorGrasshopperShared/Extras/GH_SpeckleAccount.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Streams/StreamCreateComponentV2.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Streams/StreamGetComponentV2.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Streams/StreamListComponentV2.cs
  Core/Core/Credentials/StreamWrapper.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

feat(gh): New node and param icons
  ConnectorGrasshopper/ConnectorGrasshopperShared/Accounts/Accounts.ServerAccount.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/ConnectorGrasshopperShared.projitems
  ConnectorGrasshopper/ConnectorGrasshopperShared/Conversion/ToSpeckleTaskCapableComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Extras/GH_SpeckleAccount.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Properties/Resources.Designer.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Properties/Resources.resx
  ConnectorGrasshopper/ConnectorGrasshopperShared/Resources/AccountParam.png
  ConnectorGrasshopper/ConnectorGrasshopperShared/Resources/ServerAccount.png
Due: rhino

chore(gh): Minor icon tweaks
  ConnectorGrasshopper/ConnectorGrasshopperShared/Resources/LocalReceiver.png
  ConnectorGrasshopper/ConnectorGrasshopperShared/Resources/Receiver.png
  ConnectorGrasshopper/ConnectorGrasshopperShared/Resources/Serialize.png
  ConnectorGrasshopper/ConnectorGrasshopperShared/Resources/ToNative.png
Due: rhino

Getting started incorporating profiles - doing best to incorporate existing patterns
  Objects/Converters/ConverterBentley/ConverterBentleyShared/ConverterBentley.Civil.cs
  Objects/Objects/BuiltElements/Alignment.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

working through it...
  Objects/Converters/ConverterBentley/ConverterBentleyShared/ConverterBentley.Civil.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

actually building
  Objects/Converters/ConverterBentley/ConverterBentleyShared/ConverterBentley.Geometry.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

tried using the exisiting approaches but not appropriate for profile types
  Objects/Converters/ConverterBentley/ConverterBentleyShared/ConverterBentley.Civil.cs
  Objects/Converters/ConverterBentley/ConverterBentleyShared/ConverterBentley.Geometry.cs
  Objects/Converters/ConverterBentley/ConverterOpenRoads/Properties/launchSettings.json
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

refactored to only export the active profile per guidance from a modeller
  Objects/Converters/ConverterBentley/ConverterBentleyShared/ConverterBentley.Civil.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

adding comments and clearing up some using crud to ensure other converters build
  Objects/Converters/ConverterBentley/ConverterBentleyShared/ConverterBentley.Civil.cs
  Objects/Converters/ConverterBentley/ConverterBentleyShared/ConverterBentley.Geometry.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

trying to perform checks
  Objects/Converters/ConverterBentley/ConverterBentleyShared/ConverterBentley.Civil.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

compiler misbehaving and missed some info
  Objects/Converters/ConverterBentley/ConverterBentleyShared/ConverterBentley.Civil.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

Added some comments and skipping alignments that aren't defined as features
  Objects/Converters/ConverterBentley/ConverterBentleyShared/ConverterBentley.Civil.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

removed more usings
  Objects/Converters/ConverterBentley/ConverterBentleyShared/ConverterBentley.Civil.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

building
  Objects/Converters/ConverterBentley/ConverterBentleyShared/ConverterBentley.Civil.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

fixed chainages on profile
  Objects/Converters/ConverterBentley/ConverterBentleyShared/ConverterBentley.Civil.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

Wall improvements
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateWall.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetWallData.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/FieldNames.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/TypeNameTables.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/TypeNameTables.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/Utility.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Utility.hpp
  Objects/Objects/BuiltElements/Wall.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

use geocombination for display
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevitShared.projitems
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertCombinableElement.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertGenericFormElement.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

fix family document all filter
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Selection.cs
Due: revit

fix(ci): make sure brew install is not trying to update dependent packages
  .circleci/scripts/config-template.yml
Due: none

Move Core to .net6
  Core/Core.sln
  Core/Core/Api/GraphQL/Client.cs
  Core/Core/Api/GraphQL/Serializer/ConstantCaseEnumConverter.cs
  Core/Core/Api/GraphQL/Serializer/MapConverter.cs
  Core/Core/Api/GraphQL/Serializer/NewtonsoftJsonSerializer.cs
  Core/Core/Api/Operations/Operations.Receive.cs
  Core/Core/Api/Operations/Operations.Send.cs
  Core/Core/Api/Operations/Operations.Serialize.cs
  Core/Core/Api/Operations/Operations.cs
  Core/Core/Core.csproj
  Core/Core/Credentials/AccountManager.cs
  Core/Core/Logging/Analytics.cs
  Core/Core/Models/Base.cs
  Core/Core/Models/Extras.cs
  Core/Core/Serialisation/BaseObjectDeserializerV2.cs
  Core/Core/Serialisation/BaseObjectSerializer.cs
  Core/Core/Serialisation/BaseObjectSerializerV2.cs
  Core/Core/Serialisation/BaseObjectSerialzerUtilities.cs
  Core/Core/Transports/Server.cs
  Core/Core/Transports/ServerUtils/ServerAPI.cs
  Core/Core/Transports/ServerV2.cs
  Core/IntegrationTests/TestsIntegration.csproj
  Core/Tests/TestsUnit.csproj
  Core/Transports/DiskTransport/DiskTransport.cs
  Core/Transports/DiskTransport/DiskTransport.csproj
  Core/Transports/MongoDBTransport/MongoDBTransport.csproj
  Directory.Build.props
  Directory.Build.targets
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

fix(ci): make sure brew install is not trying to update dependent packages (#2171)
  .circleci/scripts/config-template.yml
Due: none

more robust way for handling section props
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAnalyticalStick.cs
  Objects/Objects/Structural/Property/SectionProfile.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

fix(ci): force brew to not clean up
  .circleci/scripts/config-template.yml
Due: none

gergo/fix mac ci (#2173)
  .circleci/scripts/config-template.yml
Due: none

fix(ci): remove unused brew install create-dmg
  .circleci/scripts/config-template.yml
Due: none

gergo/fix mac ci (#2174)
  .circleci/scripts/config-template.yml
Due: none

add default shape type of undefined
  Objects/Objects/Structural/Enums/PropertyType.cs
  Objects/Objects/Structural/Property/SectionProfile.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

fix(Navisworks): View target calculation corrected.
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToSpeckle.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

Resolved PR review feedback
  DesktopUI2/DesktopUI2/ViewModels/AccountViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/MainViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/OneClickViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamSelectorViewModel.cs
Due: none

Replaced debug logs with warning logs
  DesktopUI2/DesktopUI2/ViewModels/AccountViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/CollaboratorsViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: none

fix freeform material
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFreeformElement.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

Path conditions:
  core: any of: Core/.*
  rhino: any of: (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.*
  revit: any of: (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.*
  dynamo: any of: (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.*
  autocadcivil: any of: (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.*
  csi: any of: (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.*
  microstation: any of: (Core|Objects|ConnectorMicroStation|.*/ConverterMicroStation)/.*
  teklastructures: any of: (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.*
  archicad: any of: (Core|Objects|ConnectorArchicad)/.*
  navisworks: any of: (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.*
