Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

simplify type conversion
  DUI3-DX/Sdk/Speckle.Converters.Common.DependencyInjection/RawConversionRegisterer.cs
Due: none

add specklepy classes
  Objects/Objects/GIS/CRS.cs
  Objects/Objects/GIS/GisTopography.cs
  Objects/Objects/GIS/LineElement.cs
  Objects/Objects/GIS/NonGeometryElement.cs
  Objects/Objects/GIS/PointElement.cs
  Objects/Objects/GIS/RasterElement.cs
  Objects/Objects/GIS/RasterLayer.cs
  Objects/Objects/GIS/VectorLayer.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Enforced CS8618
  Automate/Speckle.Automate.Sdk/Speckle.Automate.Sdk.csproj
  Automate/Tests/Speckle.Automate.Sdk.Tests.Integration/Speckle.Automate.Sdk.Tests.Integration.csproj
  Automate/Tests/Speckle.Automate.Sdk.Tests.Integration/SpeckleAutomate.cs
  Core/Core/Core.csproj
  Core/Tests/Speckle.Core.Tests.Performance/Api/Operations/ReceiveFromSQLite.cs
  Core/Tests/Speckle.Core.Tests.Performance/Speckle.Core.Tests.Performance.csproj
  Core/Tests/Speckle.Core.Tests.Unit/Models/GraphTraversal/TraversalMockObjects.cs
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/HostApp/SpeckleModule.cs
  DUI3-DX/Sdk/Speckle.Autofac/DependencyInjection/AutofacContainer.cs
  Directory.Build.props
  Objects/Objects/Objects.csproj
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

add constructors
  Objects/Objects/GIS/LineElement.cs
  Objects/Objects/GIS/NonGeometryElement.cs
  Objects/Objects/GIS/PointElement.cs
  Objects/Objects/GIS/RasterElement.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Suppressed Rhino Warnings
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/Speckle.Connectors.Rhino7.csproj
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/Geometry/PolyCurveToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/Speckle.Converters.Rhino7.csproj
  Directory.Build.props
Due: none

Fixed warnings
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/HostApp/SpeckleDUI3Wrapper.cs
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/HostApp/SpeckleModule.cs
Due: none

Update DUI3-DX.slnf
  DUI3-DX.slnf
Due: none

Update Directory.Build.props
  Directory.Build.props
Due: none

Enforced CS8618 (#3248)
  Automate/Speckle.Automate.Sdk/Speckle.Automate.Sdk.csproj
  Automate/Tests/Speckle.Automate.Sdk.Tests.Integration/Speckle.Automate.Sdk.Tests.Integration.csproj
  Automate/Tests/Speckle.Automate.Sdk.Tests.Integration/SpeckleAutomate.cs
  Core/Core/Core.csproj
  Core/Tests/Speckle.Core.Tests.Performance/Api/Operations/ReceiveFromSQLite.cs
  Core/Tests/Speckle.Core.Tests.Performance/Speckle.Core.Tests.Performance.csproj
  Core/Tests/Speckle.Core.Tests.Unit/Models/GraphTraversal/TraversalMockObjects.cs
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/HostApp/SpeckleDUI3Wrapper.cs
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/HostApp/SpeckleModule.cs
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/Speckle.Connectors.Rhino7.csproj
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/Geometry/PolyCurveToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/Speckle.Converters.Rhino7.csproj
  DUI3-DX/Sdk/Speckle.Autofac/DependencyInjection/AutofacContainer.cs
  Directory.Build.props
  Objects/Objects/Objects.csproj
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Update AutocadSendBinding.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Bindings/AutocadSendBinding.cs
Due: none

Packages props
  All.sln
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Speckle.Connectors.ArcGIS3.csproj
  DUI3-DX/Connectors/Revit/Speckle.Connectors.Revit2023/Speckle.Connectors.Revit2023.csproj
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/Speckle.Connectors.Rhino7.csproj
  DUI3-DX/DUI3/Speckle.Connectors.DUI/Speckle.Connectors.DUI.csproj
  DUI3-DX/Directory.Packages.props
  DUI3-DX/Sdk/Speckle.Autofac/Speckle.Autofac.csproj
  DUI3-DX/Sdk/Speckle.Converters.Common.DependencyInjection/Speckle.Converters.Common.DependencyInjection.csproj
Due: none

add hosted element conversions
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Bindings/SendBinding.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/DependencyInjection/AutofacUIModule.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Operations/Send/RootObjectBuilder.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Operations/Send/SendOperation.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Speckle.Connectors.RevitShared.projitems
  DUI3-DX/Converters/Revit/Speckle.Converters.Revit2023.DependencyInjection/AutofacRevitConverterModule.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Helpers/RevitConversionContextStack.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Helpers/SendSelection.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Helpers/ToSpeckleConvertedObjectsCache.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/RevitConverterToSpeckle.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Speckle.Converters.RevitShared.projitems
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/ToSpeckle/BaseConversionToSpeckle.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/ToSpeckle/CurveArrayConversionToSpeckle.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/ToSpeckle/HostedElementConversionToSpeckle.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/ToSpeckle/WallConversionToSpeckle.cs
Due: none

Resolves some warnings and formatting in the connector
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.Autocad2023/Speckle.Connectors.Autocad2023.csproj
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Bindings/AutocadBasicConnectorBinding.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Bindings/AutocadSelectionBinding.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Bindings/AutocadSendBinding.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/GlobalUsings.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/HostApp/AutocadSettings.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Speckle.Connectors.AutocadShared.projitems
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Utils.cs
Due: none

suppresses disposable warn on TransactionContext
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/HostApp/TransactionContext.cs
Due: none

more formatting changes
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/HostApp/Extensions/EditorExtensions.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Plugin/AutocadExtensionApplication.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Plugin/AutocadPlugin.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/Geometry/BoxToSpeckleConverter.cs
Due: none

Update AutocadDocumentManager.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/HostApp/AutocadDocumentManager.cs
Due: none

Selection based on mapmembers
  ConnectorArcGIS/Bindings/BasicConnectorBinding.cs
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Bindings/ArcGISSendBinding.cs
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/DependencyInjection/AutofacArcGISModule.cs
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Operations/Send/IRootObjectSender.cs
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Operations/Send/RootObjectBuilder.cs
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Operations/Send/RootObjectSender.cs
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Operations/Send/SendOperation.cs
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Speckle.Connectors.ArcGIS3.csproj
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Utils/GisObjectId.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/ArcGISConverterToSpeckle.cs
Due: none

remove relative paths from csprojects
  Objects/Converters/ConverterCSI/ConverterCSIBridge/ConverterCSIBridge.csproj
  Objects/Converters/ConverterCSI/ConverterETABS/ConverterETABS.csproj
  Objects/Converters/ConverterCSI/ConverterSAFE/ConverterSAFE.csproj
  Objects/Converters/ConverterCSI/ConverterSAP2000/ConverterSAP2000.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

point feature layer converter
  All.sln
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Features/PointElementToSpeckleConverter.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Geometry/PointToSpeckleConverter.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Layers/VectorLayerToSpeckleConverter.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Speckle.Converters.ArcGIS3.csproj
  Objects/Objects/GIS/CRS.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Selection
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Bindings/ArcGISSendBinding.cs
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Bindings/BasicConnectorBinding.cs
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/DependencyInjection/AutofacArcGISModule.cs
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Filters/ArcGISSelectionFilter.cs
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/HostApp/ArcGISSettings.cs
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/HostApp/SpeckleDUI3.xaml.cs
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/HostApp/SpeckleModule.cs
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Operations/Send/IRootObjectSender.cs
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Operations/Send/RootObjectBuilder.cs
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Operations/Send/SendOperation.cs
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Utils/GisObjectId.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/ArcGISConverterToSpeckle.cs
  Objects/Converters/ConverterCSI/ConverterETABS/ConverterETABS.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Fix target framework
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3.DependencyInjection/Speckle.Converters.ArcGIS3.DependencyInjection.csproj
Due: none

Name and rank value
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Operations/Send/SendOperation.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3.DependencyInjection/AutofacArcGIS3ConverterModule.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3.DependencyInjection/Speckle.Converters.ArcGIS3.DependencyInjection.csproj
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Features/PointElementToSpeckleConverter.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Geometry/PointToSpeckleConverter.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Layers/VectorLayerToSpeckleConverter.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Speckle.Converters.ArcGIS3.csproj
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/Geometry/PolyCurveToSpeckleConverter.cs
Due: none

Fixed warnings
  All.sln.DotSettings
  Objects/Objects/GIS/CRS.cs
  Objects/Objects/GIS/GisTopography.cs
  Objects/Objects/GIS/LineElement.cs
  Objects/Objects/GIS/NonGeometryElement.cs
  Objects/Objects/GIS/RasterLayer.cs
  Objects/Objects/GIS/VectorLayer.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Update PolyCurveToSpeckleConverter.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/Geometry/PolyCurveToSpeckleConverter.cs
Due: none

Update ConverterETABS.csproj
  Objects/Converters/ConverterCSI/ConverterETABS/ConverterETABS.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Fixed empty objects constructors
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Features/PointElementToSpeckleConverter.cs
  Objects/Objects/GIS/CRS.cs
  Objects/Objects/GIS/LineElement.cs
  Objects/Objects/GIS/NonGeometryElement.cs
  Objects/Objects/GIS/PointElement.cs
  Objects/Objects/GIS/RasterElement.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

wall conversion works for most cases
  DUI3-DX/Converters/Revit/Speckle.Converters.Revit2023.DependencyInjection/AutofacRevitConverterModule.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Extensions/ParameterExtensions.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Helpers/ParameterValueExtractor.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Helpers/RevitCategories.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Helpers/RevitCategoryInfo.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/RevitConverterToSpeckle.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Speckle.Converters.RevitShared.projitems
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/ToSpeckle/ElementConversionToSpeckle.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/ToSpeckle/HostedElementConversionToSpeckle.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/ToSpeckle/ParameterConversionToSpeckle.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/ToSpeckle/WallConversionToSpeckle.cs
Due: none

final comments addressed
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Bindings/AutocadBasicConnectorBinding.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Bindings/AutocadSendBinding.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/HostApp/AutocadContext.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/HostApp/AutocadDocumentModelStore.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/HostApp/Extensions/EditorExtensions.cs
Due: none

Update AutocadCommand.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Plugin/AutocadCommand.cs
Due: none

use column conversion
  DUI3-DX/Converters/Revit/Speckle.Converters.Revit2023.DependencyInjection/AutofacRevitConverterModule.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Extensions/CategoryExtensions.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Helpers/ParameterObjectAssigner.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Helpers/ParameterObjectBuilder.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Helpers/ParameterValueExtractor.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Speckle.Converters.RevitShared.projitems
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/ToSpeckle/BeamConversionToSpeckle.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/ToSpeckle/ColumnConversionToSpeckle.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/ToSpeckle/FamilyInstanceConversionToSpeckle.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/ToSpeckle/WallConversionToSpeckle.cs
  DUI3-DX/Sdk/Speckle.Converters.Common.DependencyInjection/RawConversionRegisterer.cs
Due: none

Potential optimisation for civil converter
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Geometry.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(autocad): CNX-9132 dui3 dx autocad create baseline project and bring up to include di (#3246)
  All.sln
  DUI3-DX.slnf
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.Autocad2023/Speckle.Connectors.Autocad2023.csproj
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Bindings/AutocadBasicConnectorBinding.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Bindings/AutocadSelectionBinding.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Bindings/AutocadSendBinding.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/DependencyInjection/AutofacAutocadModule.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Filters/AutocadSelectionFilter.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/GlobalUsings.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/HostApp/AutocadContext.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/HostApp/AutocadDocumentManager.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/HostApp/AutocadDocumentModelStore.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/HostApp/AutocadIdleManager.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/HostApp/AutocadSettings.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/HostApp/DUI3PanelWebView.xaml
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/HostApp/DUI3PanelWebView.xaml.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/HostApp/Extensions/EditorExtensions.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/HostApp/TransactionContext.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Interfaces/IAutocadPlugin.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Plugin/AutocadCommand.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Plugin/AutocadExtensionApplication.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Plugin/AutocadPlugin.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Speckle.Connectors.AutocadShared.projitems
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Speckle.Connectors.AutocadShared.shproj
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Utils.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.Autocad2023/Speckle.Converters.Autocad2023.csproj
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/AutocadConversionContextStack.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/AutocadConverterToSpeckle.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/AutocadToSpeckleUnitConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/DependencyInjection/AutofacAutocadConverterModule.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/Geometry/BoxToSpeckleConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/Geometry/IntervalToSpeckleConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/Geometry/LineToSpeckleConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/Geometry/PlaneToSpeckleConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/Geometry/PointToSpeckleConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/Geometry/VectorToSpeckleConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/GlobalUsings.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/Speckle.Converters.AutocadShared.projitems
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/Speckle.Converters.AutocadShared.shproj
  DUI3-DX/DUI3/Speckle.Connectors.DUI/Bindings/ISendBinding.cs
Due: none

adds send binding file
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Bindings/AutocadReceiveBinding.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Speckle.Connectors.AutocadShared.projitems
  DUI3-DX/DUI3/Speckle.Connectors.DUI/Bindings/IReceiveBinding.cs
  DUI3-DX/Sdk/Speckle.Converters.Common/ISpeckleConverterToHost.cs
Due: none

receives commit base in binding
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Bindings/AutocadReceiveBinding.cs
Due: none

Update AutocadReceiveBinding.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Bindings/AutocadReceiveBinding.cs
Due: none

constructor inject send selection
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Operations/Send/RootObjectBuilder.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Operations/Send/SendOperation.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Helpers/SendSelection.cs
Due: none

Align and inject receive binding
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Bindings/AutocadReceiveBinding.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/DependencyInjection/AutofacAutocadModule.cs
  DUI3-DX/DUI3/Speckle.Connectors.DUI/Bindings/IReceiveBinding.cs
  DUI3-DX/DUI3/Speckle.Connectors.DUI/Bindings/ReceiveBindingUICommands.cs
Due: none

CNX-9176 remove relative paths from csprojects (#3250)
  Objects/Converters/ConverterCSI/ConverterCSIBridge/ConverterCSIBridge.csproj
  Objects/Converters/ConverterCSI/ConverterETABS/ConverterETABS.csproj
  Objects/Converters/ConverterCSI/ConverterSAFE/ConverterSAFE.csproj
  Objects/Converters/ConverterCSI/ConverterSAP2000/ConverterSAP2000.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Path conditions:
  core: any of: Core/.*
  rhino: any of: (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.*
  revit: any of: (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.*
  dynamo: any of: (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.*
  autocadcivil: any of: (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.*
  csi: any of: (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.*
  bentley: any of: (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.*
  teklastructures: any of: (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.*
  archicad: any of: (Core|Objects|ConnectorArchicad)/.*
  navisworks: any of: (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.*
