Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(Archicad): Parametric receive fixes (#2736)
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateBeam.cpp
  ConnectorArchicad/ConnectorArchicad/UI/ConnectorBinding.Settings.cs
  Objects/Objects/BuiltElements/Archicad/Fenestration.cs
  Objects/Objects/BuiltElements/Beam.cs
  Objects/Objects/BuiltElements/Column.cs
  Objects/Objects/BuiltElements/Floor.cs
  Objects/Objects/BuiltElements/Roof.cs
  Objects/Objects/BuiltElements/Room.cs
  Objects/Objects/BuiltElements/Wall.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

removes `Model` class object from Objects and Revit Converter
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertModel.cs
  Objects/Objects/Organization/Model.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Cleanup of warnings round 2
  Core/Core/Helpers/Constants.cs
  Core/Core/Logging/Setup.cs
  Core/Core/Logging/SpeckleLog.cs
  Core/Core/Models/Base.cs
  Core/Core/Serialisation/BaseObjectDeserializerV2.cs
  Core/Core/Serialisation/BaseObjectSerializer.cs
  Core/Core/Serialisation/BaseObjectSerializerV2.cs
  Core/Core/Serialisation/BaseObjectSerialzerUtilities.cs
  Core/Core/Serialisation/OperationTask.cs
  Core/Core/Serialisation/ValueConverter.cs
  Core/Core/Transports/SQLite.cs
  Core/Core/Transports/Server.cs
  Core/Core/Transports/ServerUtils/ServerAPI.cs
  Core/IntegrationTests/Api.cs
  Core/IntegrationTests/Subscriptions/Commits.cs
  Core/Tests/Accounts.cs
  Core/Tests/BaseTests.cs
  Core/Tests/ClosureTests.cs
  Core/Tests/ExceptionTests.cs
  Core/Tests/Fixtures.cs
  Core/Tests/GraphQLClient.cs
  Core/Tests/Hashing.cs
  Core/Tests/Helpers.cs
  Core/Tests/Kits.cs
  Core/Tests/Models/SerializerNonBreakingChanges.cs
  Core/Tests/Models/TraversalTests.cs
  Core/Tests/Path.cs
  Core/Tests/SendReceiveLocal.cs
  Core/Tests/SerializationTests.cs
  Core/Tests/SpeckleType.cs
  Core/Tests/TestKit.cs
  Core/Tests/Wrapper.cs
  Core/Transports/DiskTransport/DiskTransport.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(revit): fixes regression where 2.12 and older commits were nto being received by any sharp connector (#2738)
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertModel.cs
  Objects/Objects/Organization/Model.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(Archicad): Receive all kind of instances (#2734)
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/ObjectConverter.cs
Due: archicad

super wip work from last night
  ConnectorRhino/ConnectorRhinoWebUI/ConnectorRhinoWebUI.csproj
  ConnectorRhino/ConnectorRhinoWebUI/SpeckleRhinoWebUICefCommand.cs
  ConnectorRhino/ConnectorRhinoWebUI/SpeckleWebUIPanelCef.xaml
  ConnectorRhino/ConnectorRhinoWebUI/SpeckleWebUIPanelCef.xaml.cs
  ConnectorRhino/ConnectorRhinoWebUI/SpeckleWebUIWebView2PanelHost.cs
  ConnectorRhino/ConnectorRhinoWebUI/SpeckleWebUiPanelWebView2.xaml
  ConnectorRhino/ConnectorRhinoWebUI/SpeckleWebUiPanelWebView2.xaml.cs
  ConnectorRhino/ConnectorRhinoWebUI/WebUIBinding.cs
Due: rhino

Element type names in Archicad 25
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetElementBaseData.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/ResourceIds.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/ResourceStrings.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/ResourceStrings.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/Utility.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Utility.hpp
  ConnectorArchicad/AddOn/Sources/AddOnResources/RINT/AddOn.grc
Due: archicad

Slab fatal crash
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateSlab.cpp
Due: archicad

fix(Archicad): Slab import crash (#2741)
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateSlab.cpp
Due: archicad

bug(Archicad): Element type names in Archicad 25 (#2740)
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetElementBaseData.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/ResourceIds.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/ResourceStrings.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/ResourceStrings.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/Utility.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Utility.hpp
  ConnectorArchicad/AddOn/Sources/AddOnResources/RINT/AddOn.grc
Due: archicad

wip
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  ConnectorRhino/ConnectorRhinoWebUI/SpeckleWebUiPanelWebView2.xaml.cs
  ConnectorRhino/ConnectorRhinoWebUI/WebUIBinding.cs
  Core/Core/Api/GraphQL/Models.cs
  Core/Core/Credentials/Account.cs
  Core/Core/Credentials/Responses.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

wip
  ConnectorRhino/ConnectorRhinoWebUI/SpeckleWebUiPanelWebView2.xaml.cs
  ConnectorRhino/ConnectorRhinoWebUI/WebUIBinding.cs
  ConnectorRhino/ConnectorRhinoWebUI/WebViewBridge.cs
Due: rhino

Refactor Navisworks connector code and rename `SpeckleNavisworksCommand.cs` to `SpeckleNavisworksCommandPlugin.cs`.
  ConnectorNavisworks/ConnectorNavisworks/ConnectorNavisworks.Shared.projitems
  ConnectorNavisworks/ConnectorNavisworks/Entry/Ribbon.xaml.cs
  ConnectorNavisworks/ConnectorNavisworks/Entry/SpeckleNavisworksCommandPlugin.cs
Due: navisworks

Update progress bar with a maximum value of 1.0 and fix fractionDone calculation
  ConnectorNavisworks/ConnectorNavisworks/Other/Invokers.cs
Due: navisworks

progress bar increments and update sub-operation descriptions
  ConnectorNavisworks/ConnectorNavisworks/Other/SelectionBuilder.cs
Due: navisworks

descendant traversal logic and add progress bar cancellation handling
  ConnectorNavisworks/ConnectorNavisworks/Other/SelectionBuilder.cs
Due: navisworks

Update progress bar percentages and descriptions in ConnectorNavisworksBindings.Send.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.cs
Due: navisworks

Fix progress bar bug and improve cancellation handling
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.cs
Due: navisworks

Round 3 clean ups
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/ObjectConverter.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
  ConnectorBentley/ConnectorBentleyShared/UI/Bindings.cs
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.cs
  ConnectorDynamo/ConnectorDynamoFunctions/BatchConverter.cs
  ConnectorDynamo/ConnectorDynamoFunctions/Functions.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/SchemaBuilder/CreateSchemaObject.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/SchemaBuilder/CreateSchemaObjectBase.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.cs
  ConnectorRevit/ConnectorRevit/Revit/ErrorEater.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/UI/ConnectorBindingsTeklaStructures.cs
  Core/Core/Api/Exceptions.cs
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.CommentOperations.cs
  Core/Core/Api/GraphQL/Models.cs
  Core/Core/Api/GraphQL/Serializer/MapConverter.cs
  Core/Core/Api/Helpers.cs
  Core/Core/Api/Operations/Operations.Receive.cs
  Core/Core/Api/Operations/Operations.Serialize.cs
  Core/Core/Core.csproj
  Core/Core/Credentials/Account.cs
  Core/Core/Credentials/AccountManager.cs
  Core/Core/Credentials/StreamWrapper.cs
  Core/Core/Kits/KitManager.cs
  Core/Core/Logging/Analytics.cs
  Core/Core/Logging/SpeckleException.cs
  Core/Core/Models/Base.cs
  Core/Core/Models/Utilities.cs
  Core/Core/Serialisation/BaseObjectDeserializerV2.cs
  Core/Core/Serialisation/BaseObjectSerializer.cs
  Core/Core/Serialisation/BaseObjectSerializerV2.cs
  Core/Core/Serialisation/BaseObjectSerialzerUtilities.cs
  Core/Core/Serialisation/DeserializationWorkerThreads.cs
  Core/Core/Transports/SQLite.cs
  Core/Core/Transports/Server.cs
  Core/IntegrationTests/Subscriptions/Commits.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.DxfImport.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertGeometry.cs
  Objects/Objects/BuiltElements/Opening.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Fixed tests
  Core/Tests/SpeckleType.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Add null handling
  ConnectorNavisworks/ConnectorNavisworks/Other/Elements.cs
Due: navisworks

Reword error message for unhidden objects with geometry
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
Due: navisworks

Lowered accessibility of Client's empty constructor to avoid invalid construction of clients
  Core/Core/Api/GraphQL/Client.cs
  Core/Core/Api/GraphQL/SubscriptionModels.cs
  Core/Core/Credentials/AccountManager.cs
  Core/Core/Kits/Units.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

pls pls pls fix instance display meshes once and for all
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertMeshUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

cleanup
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertMeshUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Archicad Readme update
  ConnectorArchicad/README.md
Due: archicad

fix
  ConnectorArchicad/README.md
Due: archicad

fix retrieving types for mep elements
  ConnectorRevit/RevitSharedResources/Helpers/Categories.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertDuct.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertPipe.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

check for family match if the speckle object has a family prop
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitElementTypeUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

wip
  All.sln
  ConnectorRhino/ConnectorRhino.slnf
  ConnectorRhino/ConnectorRhinoWebUI/SpeckleWebUIPanelCef.xaml.cs
  ConnectorRhino/ConnectorRhinoWebUI/WebUIBinding.cs
  ConnectorRhino/ConnectorRhinoWebUI/WebViewBridge.cs
  DesktopUI3/DUI3/Bridge.cs
  DesktopUI3/DUI3/DUI3.csproj
  DesktopUI3/DUI3/Interfaces.cs
Due: rhino

Amend GetFileName method to handle exceptions and improve error handling
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.File.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.cs
Due: navisworks

Add validation checks before sending data
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Selections.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
Due: navisworks

extracts bridge logic out of rhino into a dui3 project
  All.sln
  ConnectorRhino/ConnectorRhinoWebUI/ConnectorRhinoWebUI.csproj
  ConnectorRhino/ConnectorRhinoWebUI/SpeckleWebUIPanelCef.xaml.cs
  ConnectorRhino/ConnectorRhinoWebUI/SpeckleWebUiPanelWebView2.xaml.cs
  ConnectorRhino/ConnectorRhinoWebUI/WebUIBinding.cs
  ConnectorRhino/ConnectorRhinoWebUI/WebViewBridge.cs
  DesktopUI3/DUI3/Bridge.cs
  DesktopUI3/DUI3/DUI3.csproj
  DesktopUI3/DUI3/Interfaces.cs
Due: rhino

Refactor file and model validation logic
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.File.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Selections.cs
Due: navisworks

Added unit tests for local transports.
  Core/Core/Api/GraphQL/SubscriptionModels.cs
  Core/Core/Transports/Memory.cs
  Core/Core/Transports/SQLite.cs
  Core/IntegrationTests/ServerTransportTests.cs
  Core/Tests/BaseTests.cs
  Core/Tests/ExceptionTests.cs
  Core/Tests/FE2WrapperTests.cs
  Core/Tests/HelpersTests.cs
  Core/Tests/KitManagerTests.cs
  Core/Tests/ObjectModelDeprecationTests.cs
  Core/Tests/Path.cs
  Core/Tests/SendReceiveLocal.cs
  Core/Tests/TransportTests.cs
  Core/Tests/Transports/DiskTransportTests.cs
  Core/Tests/Transports/MemoryTransportTests.cs
  Core/Tests/Transports/SQLiteTransportTests.cs
  Core/Tests/Transports/TransportTests.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

- Add check for "Sent everything" commit message in state filter
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
Due: navisworks

Exception Testing
  Core/Core/Transports/Memory.cs
  Core/Core/Transports/SQLite.cs
  Core/Core/Transports/ServerV2.cs
  Core/Tests/Transports/SQLiteTransportTests.cs
  Core/Tests/Transports/TransportTests.cs
  Core/Transports/DiskTransport/DiskTransport.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Signature Comments
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.File.cs
Due: navisworks

feat(objects): only load converters matching the version of the Objects dll
  ConnectorRevit/ConnectorRevit/Entry/App.cs
  Objects/Objects/ObjectsKit.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat: Add file and model presence check
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.File.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Selections.cs
Due: navisworks

Path conditions:
  core: any of: Core/.*
  rhino: any of: (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.*
  revit: any of: (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.*
  dynamo: any of: (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.*
  autocadcivil: any of: (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.*
  csi: any of: (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.*
  bentley: any of: (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.*
  teklastructures: any of: (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.*
  archicad: any of: (Core|Objects|ConnectorArchicad)/.*
  navisworks: any of: (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.*
