Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.3.1
  python: circleci/python@2.0.3

jobs:
  setup:
    executor: python/default
    steps:
      - checkout # checkout code
      - when:
          condition:
            and:
              - not:
                  equal: [main, << pipeline.git.branch >>]
              - not:
                  matches:
                    pattern: ".*/?ci/.*"
                    value: << pipeline.git.branch >>
              - not:
                  matches:
                    pattern: ".*/all$"
                    value: << pipeline.git.tag >>
          steps:
            - run: git branch internal_circleci
            - path-filtering/set-parameters:
                mapping: |
                  Core/.* core true
                  (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.* rhino true
                  (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.* revit true
                  (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.* dynamo true
                  (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.* autocadcivil true
                  (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.* csi true
                  (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.* bentley true
                  (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.* teklastructures true
                  (Core|Objects|ConnectorArchicad)/.* archicad true
                  (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.* navisworks true
                base-revision: main
                output-path: .circleci/scripts/parameters.json
      - run: cat .circleci/scripts/parameters.json
      - run: pip install pyyaml
      - run: # run a command
          name: Generate config
          command: |
            python .circleci/scripts/config-generator.py -d ${CIRCLE_TAG:-none} -o .circleci/continuation-config.yml -e ${CIRCLE_PR_REPONAME:-none}
      - continuation/continue:
          configuration_path: .circleci/continuation-config.yml # use newly generated config to continue
workflows:
  setup:
    jobs:
      - setup:
          name: Build Setup
      - setup:
          name: Deploy Setup
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^(nugets\/)?([0-9]+)\.([0-9]+)\.([0-9]+)(?:-\w+)?(\/all)?$/

fixes assigning materials when receiving revit instances
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Utils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(rhino): assigns materials when receiving revit instances (#2290)
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Utils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Navisworks bindings update
  All.sln
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
  Core/Core/Api/Operations/Operations.Send.cs
  Core/Core/Kits/KitManager.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Added transaction group rollback to revit
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
Due: revit

fix(revit): send objects in family document (#1945)
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Selection.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Send.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevitShared.projitems
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertCombinableElement.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFreeformElement.cs
  Objects/Objects/BuiltElements/Revit/FreeformElement.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

don't pass Progress bar to the converter like that
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
Due: navisworks

remove unused usings
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Filters.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToSpeckle.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/Objects/ConverterNavisworks.Collections.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(csi): add support for recieving built elements (#2285)
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSI.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSIShared.projitems
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Geometry/ConvertBeam.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Geometry/ConvertBuiltElement.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Geometry/ConvertFrame.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Properties/Convert1DProperty.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Simple Type created in Base class
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
  Core/Core/Models/Base.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAdvanceSteel2023/ConverterAdvanceSteel2023.csproj
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.AdvanceSteel.cs
  Objects/Converters/StructuralUtilities/Triangle/Triangle.csproj
  Objects/Objects/BuiltElements/AdvanceSteel/AdvanceSteelObject.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fixes layer bugs with repeated receives
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
Due: rhino

feat(rhino/objects): sends and receives layers as `Collection` (#2259)
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Utils.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Organization.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Utils.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGhShared.projitems
  Objects/Objects/Organization/Collection.cs
  Objects/Objects/Organization/Container.cs
  Objects/Objects/Other/DisplayStyle.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(dui2): Improved receive exception handling (#2264)
  All.sln
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/BaseComponents/SelectKitAsyncComponentBase.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/BaseComponents/SelectKitTaskCapableComponentBase.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Events.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Previews.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Send.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  ConnectorRhino/ConnectorRhino6/ConnectorRhino6.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/UI/ConnectorBindingsTeklaStructure.Send.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/UI/ConnectorBindingsTeklaStructures.Receive.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/UI/ConnectorBindingsTeklaStructures.cs
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.CommitOperations.cs
  Core/Core/Api/GraphQL/Client.cs
  Core/Core/Api/Helpers.cs
  Core/Core/Api/Operations/Operations.Receive.cs
  Core/Core/Api/Operations/Operations.Send.cs
  Core/Core/Core.csproj
  Core/Core/Credentials/Account.cs
  Core/Core/Helpers/Http.cs
  Core/Core/Kits/ISpeckleKit.cs
  Core/Core/Kits/KitDeclaration.cs
  Core/Core/Kits/KitManager.cs
  Core/Core/Logging/SpeckleException.cs
  Core/Core/Models/Base.cs
  Core/Core/Serialisation/BaseObjectDeserializerV2.cs
  Core/Core/Serialisation/BaseObjectSerializer.cs
  Core/Core/Serialisation/BaseObjectSerialzerUtilities.cs
  Core/Core/Transports/ServerUtils/ServerAPI.cs
  DesktopUI2/DesktopUI2/ConnectorBindings.cs
  DesktopUI2/DesktopUI2/ConnectorHelpers.cs
  DesktopUI2/DesktopUI2/DummyBindings.cs
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/OneClickViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/ProgressViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  Objects/Objects/ObjectsKit.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Adopt collections class
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Geometry.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToSpeckle.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworksShared.projitems
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/Objects/ConverterNavisworks.Objects.cs
  Objects/Objects/Organization/Collection.cs
  Objects/Objects/Organization/Container.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Add initial panel
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/ConnectorRhinoShared.projitems
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI3/SampleCsEtoPanel.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI3/SampleCsEtoPanelCommand.cs
Due: rhino

feat(Navisworks): Implement the Collections class and revise the tree conversions (#2267)
  ConnectorGrasshopper/ConnectorGrasshopperShared/Accounts/Obsolete/Accounts.AccountDetails.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Streams/Deprecated/StreamDetailsComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Streams/Deprecated/StreamGetComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Streams/Deprecated/StreamListComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Streams/Deprecated/StreamUpdateComponent.cs
  ConnectorNavisworks/ConnectorNavisworks.sln
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Filters.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Objects.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Selections.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Settings.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Geometry.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Properties.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToSpeckle.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Utils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Base communication
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI3/SampleCsEtoPanel.cs
Due: rhino

fix(gh): StreamGet and StreamUpdate were missing Task.Run
  ConnectorGrasshopper/ConnectorGrasshopperShared/Streams/StreamGetComponentV2.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Streams/StreamUpdateComponentV2.cs
Due: rhino

Tekla + CSI bindings exception handling
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Recieve.cs
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Send.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.CommitOperations.cs
  Core/Core/Models/Extras.cs
  DesktopUI2/DesktopUI2/ConnectorHelpers.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(gh): StreamGet and StreamUpdate were missing Task.Run (#2292)
  ConnectorGrasshopper/ConnectorGrasshopperShared/Streams/StreamGetComponentV2.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Streams/StreamUpdateComponentV2.cs
Due: rhino

Simple type removed
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
  Core/Core/Models/Base.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(AdvanceSteel): Specializing Beam to Polybeam (#2282)
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Utils.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAdvanceSteel2023/ConverterAdvanceSteel2023.csproj
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/Converter.AutocadCivil.ASGeometry.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.AdvanceSteel.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Geometry.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivilShared.projitems
  Objects/Converters/StructuralUtilities/Triangle/Triangle.csproj
  Objects/Objects/BuiltElements/AdvanceSteel/AdvanceSteelBeam.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AdvanceSteelBolt.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AdvanceSteelGrating.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AdvanceSteelObject.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AdvanceSteelPlate.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AdvanceSteelPolyBeam.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AdvanceSteelSpecialPart.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AdvanceSteelStraightBeam.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Fixed issue with 1 click send
  DesktopUI2/DesktopUI2/ViewModels/OneClickViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: none

Bentley + Archicad
  ConnectorArchicad/ConnectorArchicad/ConnectorBinding.cs
  ConnectorArchicad/ConnectorArchicad/Converters/ElementConverterManager.cs
  ConnectorBentley/ConnectorBentleyShared/UI/Bindings.cs
Due: bentley, archicad

Connector exception handling fixes (#2293)
  ConnectorArchicad/ConnectorArchicad/ConnectorBinding.cs
  ConnectorArchicad/ConnectorArchicad/Converters/ElementConverterManager.cs
  ConnectorBentley/ConnectorBentleyShared/UI/Bindings.cs
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Recieve.cs
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Send.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.CommitOperations.cs
  Core/Core/Models/Extras.cs
  DesktopUI2/DesktopUI2/ConnectorHelpers.cs
  DesktopUI2/DesktopUI2/ViewModels/OneClickViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Sending database profile row
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.AdvanceSteel.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AdvanceSteelBeam.cs
  Objects/Objects/BuiltElements/AdvanceSteel/SecondaryObjects/AdsSectionProfile.cs
  Objects/Objects/BuiltElements/AdvanceSteel/SecondaryObjects/AdsSectionProfileDB.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks
