Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

use struct for nestingInstructions
  Core/Core/Models/CommitObjectBuilder.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

add more flexible revit commit builder
  ConnectorRevit/ConnectorRevit/ConnectorRevit.projitems
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Send.cs
  ConnectorRevit/RevitSharedResources/Interfaces/IRevitCommitObjectBuilder.cs
  ConnectorRevit/RevitSharedResources/Interfaces/IRevitCommitObjectBuilderExposer.cs
  ConnectorRevit/RevitSharedResources/RevitSharedResources.projitems
  Core/Core/Models/CommitObjectBuilder.cs
  Core/Core/Models/NestingInstructions.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevitShared.projitems
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitCommitObjectBuilder.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitCommitObjectBuilderExposer.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

get rid of MEP network name
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitCommitObjectBuilder.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

add MEP to commit builder
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitCommitObjectBuilder.cs
  Objects/Objects/Organization/Graph.cs
  Objects/Objects/Organization/GraphNode.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

creates basecurve for corridor featurelines
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(dui2): Fixed issue with unresponsive progress bar
  DesktopUI2/DesktopUI2/ViewModels/ProgressViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: none

this semi works on receive
  ConnectorRevit/ConnectorRevit/Storage/ConvertedObjectsCache.cs
  ConnectorRevit/ConnectorRevit/Storage/RevitDocumentAggregateCache.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRevit/RevitSharedResources/Interfaces/IRevitDocumentAggregateCache.cs
  Core/Core/Models/CommitObjectBuilder.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevitShared.projitems
  Objects/Converters/ConverterRevit/ConverterRevitShared/Extensions/ConnectorExtensions.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Extensions/ElementExtensions.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Extensions/PointExtensions.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Extensions/RevitMEPConnector.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertConnector.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertDuct.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertMEPFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/Units.cs
  Objects/Objects/BuiltElements/Duct.cs
  Objects/Objects/BuiltElements/Revit/Interfaces/IGraphNode.cs
  Objects/Objects/BuiltElements/Revit/Interfaces/IHasMEPConnectors.cs
  Objects/Objects/BuiltElements/Revit/MEPFamilyInstance.cs
  Objects/Objects/BuiltElements/Revit/RevitMEPConnector.cs
  Objects/Objects/Objects.csproj
  Objects/Objects/Organization/Graph.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(revit): Blender instances receive
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertBlock.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fixes objects on default layer and other bugs
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Receive.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Other.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat: Add support for Text primitive type in Navisworks converter
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToSpeckle.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

error message for hidden or unconvertible geometry objects
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
Due: navisworks

fittings are working
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  Core/Core/Kits/Exceptions.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevitShared.projitems
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFitting.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertMEPFamilyInstance.cs
  Objects/Objects/BuiltElements/Revit/MEPFamilyInstance.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

added decent logging for creating fittings
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertDuct.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFitting.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertMEPFamilyInstance.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix: Add condition to 2022 Tekla converter post-build event
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructures2022/ConverterTeklaStructures2022.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(autocadcivil): implements collections (#2797)
  ConnectorAutocadCivil/ConnectorAutocadCivil/ConnectorAutocadCivilShared.projitems
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Events.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Previews.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Receive.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Selection.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Send.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Utils.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Other.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

chore(dui2): Deleted nuget config in the hopes that CI get's unstuck by it
  DesktopUI2/DesktopUI2/nuget.config
Due: none

chore(dui2): Deleted nuget config in the hopes that CI get's unstuck by it (#2805)
  DesktopUI2/DesktopUI2/nuget.config
Due: none

fix: Add condition to 2022 Tekla converter post-build event (#2803)
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructures2022/ConverterTeklaStructures2022.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Added the Silk.NET.Maths package Converted from Matrix4x4 to Matrix4X4<double> Modified TransformTests accordingly
  Core/Core/Core.csproj
  Objects/Objects/Other/Transform.cs
  Objects/Tests/Geometry/TransformTests.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(Navisworks): Civil3D Models failing as geometries containing embedded primitives (#2802)
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToSpeckle.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

core: hotfix for sqlite transport swallowing exception when failing t… (#2796)
  Core/Core/Transports/Exceptions.cs
  Core/Core/Transports/SQLite.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(dui3): WIP
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/BasicConnectorBindingRhino.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/SelectionBinding.cs
  ConnectorRhino/ConnectorRhinoWebUI/SpeckleWebUiPanelWebView2.xaml.cs
  DesktopUI3/DUI3/Bindings/ConfigBinding.cs
  DesktopUI3/DUI3/Bindings/SelectionBinding.cs
  DesktopUI3/DUI3/Bridge.cs
  DesktopUI3/DUI3/Filters/ISendFilter.cs
  DesktopUI3/DUI3/Models.cs
Due: rhino

add better logging for failures
  ConnectorRevit/ConnectorRevit/Storage/RevitDocumentAggregateCache.cs
  ConnectorRevit/ConnectorRevit/Storage/RevitObjectCache.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRevit/RevitSharedResources/Helpers/Categories.cs
  ConnectorRevit/RevitSharedResources/Interfaces/IRevitObjectCache.cs
  ConnectorRevit/RevitSharedResources/Models/ConversionNotReadyCacheData.cs
  ConnectorRevit/RevitSharedResources/RevitSharedResources.projitems
  Core/Core/Kits/Exceptions.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFitting.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertMEPFamilyInstance.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

renew elements after rollback if necessary
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFitting.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

I actually don't need the graph object... oops
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRevit/RevitSharedResources/Helpers/Categories.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFitting.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitCommitObjectBuilder.cs
  Objects/Objects/BuiltElements/Revit/Interfaces/IGraphNode.cs
  Objects/Objects/BuiltElements/Revit/MEPFamilyInstance.cs
  Objects/Objects/Organization/ApplicationIdReference.cs
  Objects/Objects/Organization/Graph.cs
  Objects/Objects/Organization/GraphNode.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

delete unused imports
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
Due: revit

Feat(Revit) : more flexible commit builder (#2798)
  ConnectorRevit/ConnectorRevit/ConnectorRevit.projitems
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Send.cs
  ConnectorRevit/RevitSharedResources/Interfaces/IRevitCommitObjectBuilder.cs
  ConnectorRevit/RevitSharedResources/Interfaces/IRevitCommitObjectBuilderExposer.cs
  ConnectorRevit/RevitSharedResources/RevitSharedResources.projitems
  Core/Core/Models/CommitObjectBuilder.cs
  Core/Core/Models/NestingInstructions.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevitShared.projitems
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitCommitObjectBuilder.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitCommitObjectBuilderExposer.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

remove unused props on class
  Core/Core/Kits/Exceptions.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

adjust commitObject Builder
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitCommitObjectBuilder.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

add connector conversion to other object conversions
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevitShared.projitems
  Objects/Converters/ConverterRevit/ConverterRevitShared/Extensions/ElementExtensions.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Extensions/PointExtensions.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Extensions/RevitMEPConnector.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertCableTray.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertConduit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertDuct.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertMEPFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertPipe.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertWire.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitCommitObjectBuilder.cs
  Objects/Objects/BuiltElements/CableTray.cs
  Objects/Objects/BuiltElements/Conduit.cs
  Objects/Objects/BuiltElements/Pipe.cs
  Objects/Objects/BuiltElements/Wire.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

add more props to the connector object
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertConnector.cs
  Objects/Objects/BuiltElements/Revit/RevitMEPConnector.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

get rid of old network class
  ConnectorRevit/ConnectorRevit/Storage/ConvertedObjectsCache.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevitShared.projitems
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertConnector.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertMEPFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertNetwork.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/SpeckleConversionTest.cs
  Objects/Objects/BuiltElements/Network.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

add obsolete tag to all network constructors
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertNetwork.cs
  Objects/Objects/BuiltElements/Network.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(revit): Blender instances receive (#2801)
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertBlock.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

add convertNetwork back to project
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevitShared.projitems
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

add support for view specific design options
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Previews.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Selection.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Send.cs
Due: revit

feat(rvt): Adds dynamic displayableObject conversion support
  Core/Core/Models/Extensions.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevitShared.projitems
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertDisplayableObject.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(rvt): DirectShape would fail if appId was null
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertDirectShape.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

WIP
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/BasicConnectorBindingRhino.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/Filters.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/SelectionBinding.cs
  DesktopUI2/DesktopUI2/Models/Filters/ListSelectionFilter.cs
  DesktopUI3/DUI3/Bindings/BasicConnectorBinding.cs
  DesktopUI3/DUI3/Bridge.cs
  DesktopUI3/DUI3/Filters/ISendFilter.cs
  DesktopUI3/DUI3/Models.cs
Due: rhino

view specific design option fix
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Previews.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Selection.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Send.cs
Due: revit

Path conditions:
  core: any of: Core/.*
  rhino: any of: (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.*
  revit: any of: (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.*
  dynamo: any of: (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.*
  autocadcivil: any of: (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.*
  csi: any of: (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.*
  bentley: any of: (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.*
  teklastructures: any of: (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.*
  archicad: any of: (Core|Objects|ConnectorArchicad)/.*
  navisworks: any of: (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.*
