Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat: changes the default server URL
  Core/Core/Credentials/Account.cs
  Core/Core/Credentials/AccountManager.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat: changes the default server URL (#3033)
  Core/Core/Credentials/Account.cs
  Core/Core/Credentials/AccountManager.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

crash fix
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetElementTypes.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetSubElementInfo.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/TypeNameTables.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/TypeNameTables.hpp
Due: archicad

fix issue with load cases setting throwing and causing broken UI state
  ConnectorCSI/ConnectorCSIShared/Util/ResultUtils.cs
Due: csi

fix(dui): Bumps branch limit to 500 everywhere it's needed in DUI
  DesktopUI2/DesktopUI2/ViewModels/StreamSelectorViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: none

fix(Archicad): Crash when sending a Corner Window (#3034)
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetElementTypes.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetSubElementInfo.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/TypeNameTables.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/TypeNameTables.hpp
Due: archicad

feat: Created `ServerLimits` static class
  Core/Core/Api/ServerLimits.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamSelectorViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

test(core): Added unit tests for branch limits
  Core/IntegrationTests/Api.cs
  Core/IntegrationTests/TestsIntegration.csproj
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(csi): Fix settings throwing (#3035)
  ConnectorCSI/ConnectorCSIShared/Util/ResultUtils.cs
Due: csi

fix: Branch limit integration tests.
  Core/IntegrationTests/Api.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix: Lower parallelism and add env var to server config
  Core/IntegrationTests/Api.cs
  Core/docker-compose.yml
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix: Removes env var from compose file
  Core/docker-compose.yml
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Revert "fix: Removes env var from compose file"
  Core/docker-compose.yml
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(core): Fixes Branch get Limit up to 500 (#3036)
  Core/Core/Api/ServerLimits.cs
  Core/IntegrationTests/Api.cs
  Core/IntegrationTests/TestsIntegration.csproj
  Core/docker-compose.yml
  DesktopUI2/DesktopUI2/ViewModels/StreamSelectorViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat: add default context view reporting
  Automate/Speckle.Automate.Sdk/AutomationContext.cs
  Automate/Speckle.Automate.Sdk/Runner.cs
Due: none

update result creation message
  Automate/Speckle.Automate.Sdk/AutomationContext.cs
Due: none

timeout of 100s
  ConnectorArchicad/ConnectorArchicad/Communication/HttpCommandExecutor.cs
Due: archicad

Hooked StreamGetBranches for retry if 500 limit fails
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.BranchOperations.cs
  Core/Core/Api/GraphQL/Client.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamSelectorViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Hotfix to tolerate server branch limits of 100 and 500 (#3039)
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.BranchOperations.cs
  Core/Core/Api/GraphQL/Client.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamSelectorViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Merging back branch limit tolerances added in Main
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.BranchOperations.cs
  Core/Core/Api/ServerLimits.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

uses basegeometries instead of displayvalue for ds rhino receive
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.BuiltElements.cs
  Objects/Objects/BuiltElements/Revit/DirectShape.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(Archicad): Timeout after 100s when sending large models (#3038)
  ConnectorArchicad/ConnectorArchicad/Communication/HttpCommandExecutor.cs
Due: archicad

removes directshape conversion
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.Receive.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.BuiltElements.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fixes receiving generic mep elements and some bugs in roofs and freeform elements
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertDuct.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFreeformElement.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertPipe.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRoof.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Update ConvertRoof.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRoof.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(revit): receiving generic mep elements (#3043)
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertDuct.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFreeformElement.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertPipe.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRoof.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(rvt): Revit's UnitToNative did not ensure units were parsed
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/Units.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(rvt): Revit's UnitToNative did not ensure units were parsed (#3044)
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/Units.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

gergo/defaultContextView (#3037)
  Automate/Speckle.Automate.Sdk/AutomationContext.cs
  Automate/Speckle.Automate.Sdk/Runner.cs
Due: none

refactor(rhino): removes DirectShapeToNative conversion (#3042)
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.Receive.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.BuiltElements.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
  Objects/Objects/BuiltElements/Revit/DirectShape.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Update ConvertFreeformElement.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFreeformElement.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fixes extrusion roof conversion
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertGeometry.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRoof.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(revit): extrusion roof and freeform elements conversion (#3045)
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFreeformElement.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertGeometry.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRoof.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Clearer error message for failed spaces
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertSpace.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Update ConvertSpace.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertSpace.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Clearer error message for failed spaces (#3047)
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertSpace.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

increase time for HTTP requests
  ConnectorArchicad/ConnectorArchicad/Communication/ConnectionManager.cs
Due: archicad

fix(CSI): wrong case in shared CSI file path
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSIShared.projitems
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(CSI): wrong case in shared CSI file path (#3049)
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSIShared.projitems
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Path conditions:
  core: any of: Core/.*
  rhino: any of: (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.*
  revit: any of: (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.*
  dynamo: any of: (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.*
  autocadcivil: any of: (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.*
  csi: any of: (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.*
  bentley: any of: (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.*
  teklastructures: any of: (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.*
  archicad: any of: (Core|Objects|ConnectorArchicad)/.*
  navisworks: any of: (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.*
