Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

don't sign builds unless they're tag AND in main or dev
  .circleci/scripts/config-template.yml
Due: none

make steps have different names
  .circleci/scripts/config-template.yml
Due: none

fix yaml?
  .circleci/scripts/config-template.yml
Due: none

only sign if there's a tag and it doesn't have a dash
  .circleci/scripts/config-template.yml
Due: none

Added material quantity take-offs for mesh, morph, roof, shell and slab elements
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetDataCommand.cpp
Due: archicad

feat: Adds direct support for ModelObject conversions
  ConnectorGrasshopper/ConnectorGrasshopperShared/Conversion/ToSpeckleTaskCapableComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Extras/Utilities.cs
Due: rhino

fix: Incorrectly placed bracket
  ConnectorGrasshopper/ConnectorGrasshopperShared/Extras/Utilities.cs
Due: rhino

CNX-9438 Grasshopper in Rhino 8 - New Types Support for Text, User Attributes, and Hatches (#3569)
  ConnectorGrasshopper/ConnectorGrasshopperShared/Conversion/ToSpeckleTaskCapableComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Extras/Utilities.cs
Due: rhino

Explicitly included map & vector containers Removed C++17 use to allow AC25/26 builds Changed documentation comment style in C# to MS XML
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetDataCommand.cpp
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/Utils.cs
Due: archicad

use constructors to generate element1ds
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertFrame.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertLinks.cs
  Objects/Objects/Structural/CSI/Geometry/CSIElement1D.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Restored AC25 compatibility
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetDataCommand.cpp
Due: archicad

rework matches to not be yaml arrays
  .circleci/scripts/config-template.yml
Due: none

[CNX-9823] add material quantity attribute to archicad elements (#3567)
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateCommand.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateDoor.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateGridElement.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateObject.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateOpening.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateSkylight.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateWindow.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetDataCommand.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/FieldNames.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/PropertyExportManager.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/PropertyExportManager.hpp
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/Utils.cs
Due: archicad

Disable signed builds on non-main/dev branches (#3566)
  .circleci/scripts/config-template.yml
Due: none

*** THIS IS ALL IN THE WRONG REPO ***
  DUI3-DX/Connectors/Revit/Speckle.Connectors.Revit2023/packages.lock.json
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/packages.lock.json
  DUI3-DX/Converters/Revit/Speckle.Converters.Revit2023.DependencyInjection/packages.lock.json
  DUI3-DX/Converters/Revit/Speckle.Converters.Revit2023/packages.lock.json
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7.DependencyInjection/packages.lock.json
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/packages.lock.json
  DUI3-DX/DUI3/Speckle.Connectors.DUI.WebView/packages.lock.json
  DUI3-DX/DUI3/Speckle.Connectors.DUI/packages.lock.json
  DUI3-DX/Sdk/Speckle.Connectors.Utils/packages.lock.json
  DUI3-DX/Sdk/Speckle.Converters.Common.DependencyInjection/packages.lock.json
  DUI3-DX/Sdk/Speckle.Converters.Common/packages.lock.json
Due: none

For POC purposes - implements a fix - needs investigation
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertDirectShape.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Preprocessor directives for SAP and ETABS
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSIUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Formatting and commenting
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSIUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

use constructors to generate element1ds (#3571)
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertFrame.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertLinks.cs
  Objects/Objects/Structural/CSI/Geometry/CSIElement1D.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(core): Fixed issue with DispalyValue helper functions
  Core/Core/Models/Extensions/BaseExtensions.cs
  Core/Tests/Speckle.Core.Tests.Unit/Models/Extensions/DisplayValueTests.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(core): Fixed issue with DisplayValue helper functions (#3575)
  Core/Core/Models/Extensions/BaseExtensions.cs
  Core/Tests/Speckle.Core.Tests.Unit/Models/Extensions/DisplayValueTests.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(core/http): log message should not duplicate path separator (#3573)
  Core/Core/Helpers/Http.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Switched back to double.NaN
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(logging): adds correlation ID to http logs to assist debugging
  Core/Core/Helpers/Http.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

catch another exception type
  ConnectorCore/DllConflictManagement/DllConflictManager.cs
Due: none

Update port for Automate tests
  Automate/Speckle.Automate.Sdk/Test/TestAutomateEnvironment.cs
Due: none

Include toxiproxy.json file
  Core/toxiproxy.json
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Jsdb/navisworks/optiimisations (#3565)
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Conversion.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Events.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.File.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Filters.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Selections.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Settings.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.cs
  ConnectorNavisworks/ConnectorNavisworks/ConnectorNavisworks.Shared.projitems
  ConnectorNavisworks/ConnectorNavisworks/NavisworksOptions/Manager.cs
  ConnectorNavisworks/ConnectorNavisworks/NavisworksOptions/Properties.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/Developer.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/Elements.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/Invokers.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/SelectionBuilder.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Properties.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Settings.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix: if headless use original material (#3511)
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

CNX-9877-units-fix (#3577)
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSIUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(logging): adds correlation ID to http logs to assist debugging (#3579)
  Core/Core/Helpers/Http.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Updates images and orbs for circleci
  .circleci/config.yml
  .circleci/scripts/config-template.yml
Due: none

Use concurrent dictionary with GetOrAdd
  Core/Core/Models/DynamicBase.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fmt
  Core/Core/Models/DynamicBase.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Cnx 9776 rhino 8 issue with non concurrent collections (#3582)
  Core/Core/Models/DynamicBase.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Fix: resolved issue sending pipes from Revit (#3560)
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertPipe.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

chore(send operation): print correlation ID in error & success messages
  Core/Core/Api/Operations/Operations.Send.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Cnx 9894 update circle ci windows images to newer ones (#3581)
  .circleci/config.yml
  .circleci/scripts/config-template.yml
Due: none

updates partsdata and property sets to send as base
  ConnectorAutocadCivil/ConnectorAutocadCivil/Utils.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

do not send property sets if count is 0
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Send.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Utils.cs
Due: autocadcivil

Path conditions:
  core: any of: Core/.*
  rhino: any of: (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.*
  revit: any of: (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.*
  dynamo: any of: (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.*
  autocadcivil: any of: (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.*
  csi: any of: (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.*
  bentley: any of: (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.*
  teklastructures: any of: (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.*
  archicad: any of: (Core|Objects|ConnectorArchicad)/.*
  navisworks: any of: (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.*
