Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

further integration for treeviewfilter
  DesktopUI2/DesktopUI2/Models/Filters/SelectionFilterConverter.cs
  DesktopUI2/DesktopUI2/Models/Filters/TreeSelectionFilter.cs
Due: none

Binding tidyups
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings_Events.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings_Filters.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings_Receive.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings_Send.cs
Due: none

remove property from supported objects
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSI.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSIShared.projitems
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

add check for items already added to stored list
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Recieve.cs
Due: csi

minor bug fixes
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSI.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Geometry/ConvertFrame.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Geometry/ConvertPoint.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Added MeshTest
  Objects/Converters/ConverterRhinoGhTests/Geometry/MeshTest.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

refresh view after successful conversion
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Recieve.cs
  ConnectorCSI/ConnectorETABS/ConnectorETABS.csproj
Due: csi

remove unused imports
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Recieve.cs
Due: csi

length added to material quantities
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertMaterialQuantities.cs
  Objects/Objects/Other/MaterialQuantity.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

conversion factor updated
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertMaterialQuantities.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(dui): ensures preview state is reset when changing branch
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  DesktopUI2/DesktopUI2/Views/Controls/StreamEditControls/Receive.xaml.cs
Due: none

Improvement Model Units (#1921)
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/Units.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(dui): preview issues #1961 #1960 (#1964)
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  DesktopUI2/DesktopUI2/Views/Controls/StreamEditControls/Receive.xaml
  DesktopUI2/DesktopUI2/Views/Controls/StreamEditControls/Receive.xaml.cs
Due: none

fix(csi): removes old unused packages.config file and Stylet nuget
  ConnectorCSI/ConnectorCSIBridge/ConnectorCSIBridge.csproj
  ConnectorCSI/ConnectorCSIBridge/packages.config
  ConnectorCSI/ConnectorSAFE/ConnectorSAFE.csproj
  ConnectorCSI/ConnectorSAP2000/ConnectorSAP2000.csproj
  ConnectorCSI/DriverCSharp/DriverCSharp.csproj
Due: csi

chore(csi): removes old unused packages.config file and Stylet nuget (#1978)
  ConnectorCSI/ConnectorCSIBridge/ConnectorCSIBridge.csproj
  ConnectorCSI/ConnectorCSIBridge/packages.config
  ConnectorCSI/ConnectorSAFE/ConnectorSAFE.csproj
  ConnectorCSI/ConnectorSAP2000/ConnectorSAP2000.csproj
  ConnectorCSI/DriverCSharp/DriverCSharp.csproj
Due: csi

adds pipe, flex pipe, duct, and topography vms
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/MappingBindingsRhino.cs
  DesktopUI2/DesktopUI2/ViewModels/MappingTool/MappingsViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/MappingTool/Schemas.cs
Due: rhino

tabs
  .circleci/scripts/config-template.yml
Due: none

tabs
  ConnectorArchicad/AddOn/Sources/AddOn/AddOnMain.cpp
Due: archicad

fix(rhino/gh): Do not weld Brep displayMeshes anymore (#1968)
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Geometry.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

ci-tools branch
  .circleci/scripts/config-template.yml
Due: none

fix(rhino): no longer using commit top layer in update receive mode (#1959)
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
Due: rhino

hotfix(objects): incorrect application of `Transform` to vector (#1957)
  Objects/Objects/Other/Transform.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Matteo/notifications hotfix (#1962)
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Events.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: revit

Folder
  ConnectorArchicad/AddOn/Sources/AddOn/AddOnMain.cpp
Due: archicad

hotfix(rhino/autocadcivil): fixed block, layer, and material names on update receive mode (#1965)
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Other.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.BuiltElements.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat: improves the Sentry initialization logic
  Core/Core/Logging/Log.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Revert "chore(deps): bump System.Drawing.Common from 4.5.0 to 4.7.2 in /ConnectorCSI/ConnectorCSIBridge"
  ConnectorCSI/ConnectorCSIBridge/packages.config
Due: csi

Revert "chore(deps): bump System.Drawing.Common from 4.5.0 to 4.7.2 in /ConnectorCSI/ConnectorCSIBridge" (#1981)
  ConnectorCSI/ConnectorCSIBridge/packages.config
Due: csi

Update `release/2.11` with changes in `main` (#1980)
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Events.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Other.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.BuiltElements.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Geometry.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
  Objects/Objects/Other/Transform.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Feat(CSI): Add report (#1975)
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Recieve.cs
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Selection.cs
  ConnectorCSI/ConnectorCSIShared/Util/ConnectorCSIUtils.cs
  ConnectorCSI/ConnectorETABS/ConnectorETABS.csproj
  ConnectorCSI/DriverCSharp/PluginCallback.cs
  ConnectorCSI/DriverCSharp/Program.cs
  ConnectorCSI/DriverPluginCSharp/cPlugin.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSI.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSIShared.projitems
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSIUtils.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Analysis/ConvertBuiltElementModel.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Analysis/ConvertModel.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Geometry/ConvertArea.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Geometry/ConvertFrame.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Geometry/ConvertLine.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Geometry/ConvertLinks.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Geometry/ConvertPoint.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Geometry/ConvertStories.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Loading/Loading1DElements.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Loading/Loading2DElements.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Properties/Convert1DProperty.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Properties/Convert2DProperty.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Properties/Convert2DPropertyFloor.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Properties/Convert2DPropertyWall.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Properties/ConvertDiaphragm.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Properties/ConvertLinkProperty.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Properties/ConvertSpring.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

updating works for frames
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Recieve.cs
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSI.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSIUtils.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Geometry/ConvertFrame.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Geometry/ConvertPoint.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Connector Archicad
  ConnectorArchicad/AddOn/.editorconfig
  ConnectorArchicad/ConnectorArchicad/.editorconfig
  ConnectorArchicad/ConnectorArchicad/Communication/AsyncCommandProcessor.cs
  ConnectorArchicad/ConnectorArchicad/Communication/CommandRequest.cs
  ConnectorArchicad/ConnectorArchicad/Communication/CommandResponse.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_CreateDirectShape.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetDoorData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetWindowData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/ICommand.cs
  ConnectorArchicad/ConnectorArchicad/Communication/HttpCommandExecutor.cs
  ConnectorArchicad/ConnectorArchicad/ConnectorBinding.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/DirectShapeConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/DoorConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/FloorConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/IElementConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/RoomConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/Utils.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/WallConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/WindowConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/ElementConverterManager.cs
  ConnectorArchicad/ConnectorArchicad/Converters/ElementTypeProvider.cs
  ConnectorArchicad/ConnectorArchicad/Converters/ModelConverter.cs
  ConnectorArchicad/ConnectorArchicad/Model/ElementModelData.cs
  ConnectorArchicad/ConnectorArchicad/Model/MeshModel.cs
  ConnectorArchicad/ConnectorArchicad/Model/ProjectInfoData.cs
Due: archicad

C++ 2
  ConnectorArchicad/AddOn/Sources/.editorconfig
  ConnectorArchicad/AddOn/Sources/AddOn/AddOnMain.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/BaseCommand.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/BaseCommand.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateBeam.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateBeam.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateDirectShape.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateDirectShape.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateDoor.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateDoor.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateOpeningBase.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateSlab.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateSlab.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateWall.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateWall.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateWindow.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateWindow.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateZone.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateZone.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetBeamData.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Database.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Database.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/FieldNames.hpp
Due: archicad

C++ try
  ConnectorArchicad/AddOn/.editorconfig
  ConnectorArchicad/AddOn/Sources/AddOn/APIEnvir.h
  ConnectorArchicad/AddOn/Sources/AddOn/AddOnMain.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/BaseCommand.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateBeam.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateBeam.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateDirectShape.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateDirectShape.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateDoor.cpp
Due: archicad

C++ all
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetBeamData.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetDoorData.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetDoorData.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetElementTypes.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetElementTypes.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetModelForElements.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetModelForElements.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetOpeningBaseData.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetProjectInfo.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetProjectInfo.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetRoofData.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetRoofData.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetRoomData.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetRoomData.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetSlabData.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetSlabData.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetSubElementInfo.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetSubElementInfo.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetWallData.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetWallData.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetWindowData.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetWindowData.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/Objects/ModelInfo.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Objects/ModelInfo.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/Objects/Point.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Objects/Point.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/Objects/Polyline.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Objects/Polyline.hpp
  ConnectorArchicad/AddOn/Sources/AddOn/Utility.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Utility.hpp
Due: archicad

Experimentation with builder pattern
  Core/Core/Models/GraphTraversal/GraphTraversal.cs
  Core/Core/Models/GraphTraversal/IGraphTraversal.cs
  Core/Core/Models/GraphTraversal/ITraversalRule.cs
  Core/Core/Models/GraphTraversal/RuleBuilder.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

add send and receive setting
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Recieve.cs
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Send.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSI.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

WIP - Tekla Structures -2022 Support
  ConnectorTeklaStructures/ConnectorTeklaStructures2022/Class1.cs
  ConnectorTeklaStructures/ConnectorTeklaStructures2022/ConnectorTeklaStructures2022.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructures2022/Properties/AssemblyInfo.cs
Due: teklastructures

(feat) Tekla Strucutres -2022 support
  ConnectorTeklaStructures/ConnectorTeklaStructures.sln
  ConnectorTeklaStructures/ConnectorTeklaStructures2022/Class1.cs
  ConnectorTeklaStructures/ConnectorTeklaStructures2022/ConnectorTeklaStructures2022.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructures2022/MainForm.Designer.cs
  ConnectorTeklaStructures/ConnectorTeklaStructures2022/MainForm.cs
  ConnectorTeklaStructures/ConnectorTeklaStructures2022/MainForm.resx
  ConnectorTeklaStructures/ConnectorTeklaStructures2022/MainPlugin.cs
  ConnectorTeklaStructures/ConnectorTeklaStructures2022/app.config
  ConnectorTeklaStructures/ConnectorTeklaStructures2022/et_element_Speckle.ConnectorTeklaStructures.bmp
  ConnectorTeklaStructures/ConnectorTeklaStructures2022/packages.config
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/Util/ConnectorTeklaStructuresUtils.cs
  Core/Core/Kits/Applications.cs
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructures2022/ConverterTeklaStructures2022.csproj
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/ConverterTeklaStructures.cs
  Objects/Objects.sln
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Update AssemblyInfo.cs
  ConnectorTeklaStructures/ConnectorTeklaStructures2022/Properties/AssemblyInfo.cs
Due: teklastructures

Path conditions:
  run_core: any of: Core/.*
  rhino: any of: (Core|Objects|ConnectorRhino|.*/ConverterRhinoGh)/.*
  grasshopper: any of: (Core|Objects|ConnectorGrasshopper|.*/ConverterRhinoGh)/.*
  revit: any of: (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.*
  dynamo: any of: (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.*
  autocadcivil: any of: (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.*
  csi: any of: (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.*
  microstation: any of: (Core|Objects|ConnectorMicroStation|.*/ConverterMicroStation)/.*
  teklastructures: any of: (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.*
  archicad: any of: (Core|Objects|ConnectorArchicad)/.*
