Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Reduction of Send method complexity
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Selections.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
Due: navisworks

added type and category getter
  Objects/Converters/ConverterRevit/ConverterRevitShared/ElementTypeInfo.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitElementTypeUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

cache implementation wip
  Objects/Converters/ConverterRevit/ConverterRevitShared/Cache/ConversionOperationCache.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Cache/SingleObjectCacheImplementation.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ElementTypeInfo.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitElementTypeUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

added cache and type retrieval helpers
  ConnectorRevit/RevitSharedResources/Interfaces/IRevitElementTypeRetriever.cs
  ConnectorRevit/RevitSharedResources/RevitSharedResources.csproj
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevitShared.projitems
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitElementTypeUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

working on DUI changes
  ConnectorRevit/ConnectorRevit/ConnectorRevit.projitems
  ConnectorRevit/ConnectorRevit/ElementTypeMapper.cs
  ConnectorRevit/ConnectorRevit/TypeMap.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit .Settings.cs
  ConnectorRevit/RevitSharedResources/Interfaces/IRevitElementTypeRetriever.cs
  DesktopUI2/DesktopUI2/Models/TypeMappingOnReceive/ISingleValueToMap.cs
  DesktopUI2/DesktopUI2/Models/TypeMappingOnReceive/ITypeMap.cs
  DesktopUI2/DesktopUI2/Models/TypeMappingOnReceive/MappingValue.cs
  DesktopUI2/DesktopUI2/Models/TypeMappingOnReceive/SingleCategoryMap.cs
  DesktopUI2/DesktopUI2/Models/TypeMappingOnReceive/TypeMap.cs
  DesktopUI2/DesktopUI2/ViewModels/TypeMappingOnReceiveViewModel.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitElementTypeUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(nugets): Packing release was broken due to wrong projects being packed (#2621)
  All.sln
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivilShared.projitems
  Objects/Directory.Build.props
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(ci): Use absolute path to dotnet in packandpublish step
  .circleci/scripts/config-template.yml
Due: none

fix(ci): Use absolute path to dotnet in packandpublish step (#2642)
  .circleci/scripts/config-template.yml
Due: none

feat(dyn): Changes resource building step so it works with dotnet build
  ConnectorDynamo/ConnectorDynamo/ConnectorDynamo.csproj
  ConnectorDynamo/ConnectorDynamoFunctions/ConnectorDynamoFunctions.csproj
  ConnectorDynamo/ConnectorDynamoFunctions/SpeckleConnectorDynamoImagesFunctions.resources
Due: dynamo

fix(csi): Add polygonmesher to copy to kit task
  Objects/Converters/ConverterCSI/ConverterCSIBridge/ConverterCSIBridge.csproj
  Objects/Converters/ConverterCSI/ConverterETABS/ConverterETABS.csproj
  Objects/Converters/ConverterCSI/ConverterSAFE/ConverterSAFE.csproj
  Objects/Converters/ConverterCSI/ConverterSAP2000/ConverterSAP2000.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

moved some model from DUI to connector
  ConnectorRevit/ConnectorRevit/ConnectorRevit.projitems
  ConnectorRevit/ConnectorRevit/ElementTypeMapper.cs
  ConnectorRevit/ConnectorRevit/SingleCategoryMap.cs
  ConnectorRevit/ConnectorRevit/TypeMap.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRevit/RevitSharedResources/Interfaces/IRevitElementTypeRetriever.cs
  DesktopUI2/DesktopUI2/Models/TypeMappingOnReceive/ISingleValueToMap.cs
  DesktopUI2/DesktopUI2/Models/TypeMappingOnReceive/ITypeMap.cs
  DesktopUI2/DesktopUI2/Models/TypeMappingOnReceive/SingleCategoryMap.cs
  DesktopUI2/DesktopUI2/Models/TypeMappingOnReceive/TypeMap.cs
  DesktopUI2/DesktopUI2/ViewModels/TypeMappingOnReceiveViewModel.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitElementTypeUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

mapping works
  ConnectorRevit/ConnectorRevit/ConnectorRevit.projitems
  ConnectorRevit/ConnectorRevit/ElementTypeMapper.cs
  ConnectorRevit/ConnectorRevit/HostTypeAsStringContainer.cs
  ConnectorRevit/ConnectorRevit/TypeMap.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  DesktopUI2/DesktopUI2/Models/TypeMappingOnReceive/IHostTypeAsStringContainer.cs
  DesktopUI2/DesktopUI2/Models/TypeMappingOnReceive/ITypeMap.cs
  DesktopUI2/DesktopUI2/ViewModels/TypeMappingOnReceiveViewModel.cs
Due: revit

deserializing correctly
  ConnectorRevit/ConnectorRevit/ElementTypeMapper.cs
  ConnectorRevit/ConnectorRevit/SingleCategoryMap.cs
  ConnectorRevit/ConnectorRevit/TypeMap.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit .Settings.cs
  DesktopUI2/DesktopUI2/Models/TypeMappingOnReceive/ITypeMap.cs
Due: revit

delete unneeded code
  ConnectorRevit/ConnectorRevit/ElementTypeMapper.cs
  ConnectorRevit/ConnectorRevit/SingleCategoryMap.cs
  ConnectorRevit/ConnectorRevit/TypeMap.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRevit/RevitSharedResources/Interfaces/IRevitElementTypeRetriever.cs
  DesktopUI2/DesktopUI2/Models/TypeMappingOnReceive/SingleCategoryMap.cs
  DesktopUI2/DesktopUI2/Models/TypeMappingOnReceive/TypeMap.cs
  DesktopUI2/DesktopUI2/ViewModels/TypeMappingOnReceiveViewModel.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitElementTypeUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

moved files into folder and working on importing symbols
  ConnectorRevit/ConnectorRevit/TypeMapping/ElementTypeMapper.cs
  ConnectorRevit/ConnectorRevit/TypeMapping/FamilyImporter.cs
  ConnectorRevit/ConnectorRevit/TypeMapping/HostTypeAsStringContainer.cs
  ConnectorRevit/ConnectorRevit/TypeMapping/SingleCategoryMap.cs
  ConnectorRevit/ConnectorRevit/TypeMapping/TypeMap.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ElementTypeInfo.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(dyn): Add customization dll as content
  ConnectorDynamo/ConnectorDynamoFunctions/ConnectorDynamoFunctions.csproj
Due: dynamo

fix(dyn): Re-add resource icons for UI buttons
  ConnectorDynamo/ConnectorDynamo/ConnectorDynamo.csproj
Due: dynamo

fix(dyn): Flip build order, satellite assembly last
  ConnectorDynamo/ConnectorDynamo/ConnectorDynamo.csproj
  ConnectorDynamo/ConnectorDynamoFunctions/ConnectorDynamoFunctions.csproj
Due: dynamo

Slab issue
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.Plates.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.Slabs.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

importing families works
  ConnectorRevit/ConnectorRevit/ConnectorRevit.projitems
  ConnectorRevit/ConnectorRevit/TypeMapping/ElementTypeMapper.cs
  ConnectorRevit/ConnectorRevit/TypeMapping/FamilyImporter.cs
  ConnectorRevit/ConnectorRevit/TypeMapping/HostTypeAsStringContainer.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRevit/RevitSharedResources/Interfaces/IElementTypeInfo.cs
  ConnectorRevit/RevitSharedResources/Interfaces/IRevitElementTypeRetriever.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ElementTypeInfo.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitElementTypeUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

turn element type mapper into non-static
  ConnectorRevit/ConnectorRevit/TypeMapping/ElementTypeMapper.cs
  ConnectorRevit/ConnectorRevit/TypeMapping/FamilyImporter.cs
  ConnectorRevit/ConnectorRevit/TypeMapping/HostTypeAsStringContainer.cs
  ConnectorRevit/ConnectorRevit/TypeMapping/SingleCategoryMap.cs
  ConnectorRevit/ConnectorRevit/TypeMapping/TypeMap.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
Due: revit

cleanup
  ConnectorRevit/ConnectorRevit/TypeMapping/ElementTypeMapper.cs
  ConnectorRevit/RevitSharedResources/Interfaces/IRevitElementTypeRetriever.cs
  DesktopUI2/DesktopUI2/ViewModels/TypeMappingOnReceiveViewModel.cs
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/MappingViewDialog.xaml.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitElementTypeUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Add Element class methods for creating and resolving elements by pseudoId or ModelItem. Also add methods for building a nested object hierarchy from a dictionary of flat key-value pairs.
  ConnectorNavisworks/ConnectorNavisworks/Other/Elements.cs
Due: navisworks

Refactor selection builder to improve performance
  ConnectorNavisworks/ConnectorNavisworks/Other/SelectionBuilder.cs
Due: navisworks

Refactor code to improve readability and maintainability
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Filters.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
Due: navisworks

start using cached types during receive
  ConnectorRevit/ConnectorRevit/Storage/ConvertedObjectsCache.cs
  ConnectorRevit/ConnectorRevit/TypeMapping/ElementTypeMapper.cs
  ConnectorRevit/RevitSharedResources/Interfaces/IRevitElementTypeRetriever.cs
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/MappingViewDialog.xaml
  Objects/Converters/ConverterRevit/ConverterRevitShared/Cache/ConversionOperationCache.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ElementTypeInfo.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitElementTypeUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

add a little pre-mapping menu
  ConnectorRevit/ConnectorRevit/TypeMapping/ElementTypeMapper.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit .Settings.cs
  DesktopUI2/DesktopUI2/DesktopUI2.csproj
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/MissingIncomingTypesDialog.xaml
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/MissingIncomingTypesDialog.xaml.cs
Due: revit

use new getTypes method that takes advantage of cache
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitElementTypeUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

delete unused code
  Objects/Converters/ConverterRevit/ConverterRevitShared/ElementTypeInfo.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Add FilterTypes and amend SelectionBuilder classes
  ConnectorNavisworks/ConnectorNavisworks/ConnectorNavisworks.Shared.projitems
  ConnectorNavisworks/ConnectorNavisworks/Other/Constants.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/FilterTypes.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/SelectionBuilder.cs
Due: navisworks

Invoking SavedView to CurrentView on Main
  ConnectorNavisworks/ConnectorNavisworks/Other/SelectionBuilder.cs
Due: navisworks

deleted some old mapping logic
  ConnectorRevit/ConnectorRevit/ConnectorRevit.projitems
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Mappings.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Previews.cs
  DesktopUI2/DesktopUI2/ConnectorBindings.cs
  DesktopUI2/DesktopUI2/DummyBindings.cs
  DesktopUI2/DesktopUI2/ViewModels/MappingViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/TypeMappingOnReceiveViewModel.cs
Due: revit

split revit element type retriever interface
  ConnectorRevit/ConnectorRevit/TypeMapping/ElementTypeMapper.cs
  ConnectorRevit/ConnectorRevit/TypeMapping/FamilyImporter.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRevit/RevitSharedResources/Interfaces/IElementTypeInfoExposer.cs
  ConnectorRevit/RevitSharedResources/Interfaces/IRevitElementTypeRetriever.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitElementTypeUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Refactor SelectionBuilder.cs to improve code readability
  ConnectorNavisworks/ConnectorNavisworks/Other/SelectionBuilder.cs
Due: navisworks

Cleanup
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/Constants.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/Elements.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/FilterTypes.cs
Due: navisworks

Cleanup code for Navisworks converter
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Geometry.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Types.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Sending views either/or
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
Due: navisworks

chore: remove xunit submodule
  .gitmodules
Due: none

chore(revit): adds test projects with nugets
  All.sln
  ConnectorRevit/ConnectorRevit.slnf
  ConnectorRevit/ConnectorRevitTests.slnf
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTests2021/ConverterRevitTests2021.csproj
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTests2023/ConverterRevitTests2023.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix incoming type check
  ConnectorRevit/ConnectorRevit/TypeMapping/ElementTypeMapper.cs
Due: revit

Path conditions:
  core: any of: Core/.*
  rhino: any of: (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.*
  revit: any of: (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.*
  dynamo: any of: (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.*
  autocadcivil: any of: (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.*
  csi: any of: (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.*
  bentley: any of: (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.*
  teklastructures: any of: (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.*
  archicad: any of: (Core|Objects|ConnectorArchicad)/.*
  navisworks: any of: (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.*
