Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.3.1
  python: circleci/python@2.0.3

jobs:
  setup:
    executor: python/default
    steps:
      - checkout # checkout code
      - when:
          condition:
            and:
              - not:
                  equal: [main, << pipeline.git.branch >>]
              - not:
                  matches:
                    pattern: ".*/?ci/.*"
                    value: << pipeline.git.branch >>
              - not:
                  matches:
                    pattern: ".*/all$"
                    value: << pipeline.git.tag >>
          steps:
            - run: git branch internal_circleci
            - path-filtering/set-parameters:
                mapping: |
                  Core/.* core true
                  (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.* rhino true
                  (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.* revit true
                  (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.* dynamo true
                  (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.* autocadcivil true
                  (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.* csi true
                  (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.* bentley true
                  (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.* teklastructures true
                  (Core|Objects|ConnectorArchicad)/.* archicad true
                  (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.* navisworks true
                base-revision: main
                output-path: .circleci/scripts/parameters.json
      - run: cat .circleci/scripts/parameters.json
      - run: pip install pyyaml
      - run: # run a command
          name: Generate config
          command: |
            python .circleci/scripts/config-generator.py -d ${CIRCLE_TAG:-none} -o .circleci/continuation-config.yml -e ${CIRCLE_PR_REPONAME:-none}
      - continuation/continue:
          configuration_path: .circleci/continuation-config.yml # use newly generated config to continue
workflows:
  setup:
    jobs:
      - setup:
          name: Build Setup
      - setup:
          name: Deploy Setup
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^(nugets\/)?([0-9]+)\.([0-9]+)\.([0-9]+)(?:-\w+)?(\/all)?$/

get converter files
  class_crawler.py
Due: none

fix(core): Race condition in Analytics between disposal and Async post call
  Core/Core/Logging/Analytics.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

get converters from files
  class_crawler.py
Due: none

can convert bools
  class_crawler.py
Due: none

wip: check for conflicts with other plugins
  ConnectorRevit/ConnectorRevit/Entry/SpeckleRevitCommand.cs
Due: revit

json per app
  class_crawler.py
Due: none

apply conditions for to_native converters
  class_crawler.py
Due: none

get function names to_native
  class_crawler.py
Due: none

more functions
  class_crawler.py
Due: none

ci: Use new keylocker context
  .circleci/scripts/config-template.yml
  .circleci/scripts/connector-jobs.yml
Due: none

ci: Disable diffing
  .circleci/config.yml
Due: none

temp: just build rhino
  .circleci/scripts/parameters.json
Due: none

Revert "temp: just build rhino"
  .circleci/scripts/parameters.json
Due: none

find functions inside files
  class_crawler.py
Due: none

Tweaks
  CNX-8892/Connectors/Revit/Speckle.Connectors.RevitShared/Bindings/SendBinding.cs
  CNX-8892/Converters/Revit/Speckle.Converters.RevitShared/RevitConverterToSpeckle.cs
  CNX-8892/Speckle.Autofac/DependencyInjection/NamedTypeInjector.cs
Due: none

fix: Minor tweaks to dynamo initialisation
  ConnectorDynamo/ConnectorDynamoExtension/SpeckleExtension.cs
  ConnectorDynamo/ConnectorDynamoFunctions/AnalyticsUtils.cs
  ConnectorDynamo/ConnectorDynamoFunctions/Utils.cs
  Core/Core/Logging/Analytics.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix: Align host app version with revit format
  ConnectorDynamo/ConnectorDynamoExtension/SpeckleExtension.cs
Due: dynamo

Moved dynamic document retrieval into its own private function
  ConnectorDynamo/ConnectorDynamoExtension/SpeckleExtension.cs
Due: dynamo

forward cancellation token
  Core/Core/Credentials/AccountManager.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix: Hide internals from dynamo zero-touch greedy behaviour
  ConnectorDynamo/ConnectorDynamoFunctions/AnalyticsUtils.cs
  ConnectorDynamo/ConnectorDynamoFunctions/ConnectorDynamoFunctions.csproj
  ConnectorDynamo/ConnectorDynamoFunctions/Utils.cs
Due: dynamo

CI: Use Keylocker to sign releases (#3213)
  .circleci/config.yml
  .circleci/scripts/config-template.yml
  .circleci/scripts/connector-jobs.yml
Due: none

fix: IDE0005 Remove unecessary using
  ConnectorDynamo/ConnectorDynamoFunctions/AnalyticsUtils.cs
Due: dynamo

CNX-8975: mixpanel metrics for grasshopper and dynamo are incorrectly logged as rhino revit (#3210)
  ConnectorDynamo/ConnectorDynamo/AccountsNode/Accounts.cs
  ConnectorDynamo/ConnectorDynamo/CreateStreamNode/CreateStream.cs
  ConnectorDynamo/ConnectorDynamo/ViewNode/View.cs
  ConnectorDynamo/ConnectorDynamoExtension/SpeckleExtension.cs
  ConnectorDynamo/ConnectorDynamoFunctions/Account.cs
  ConnectorDynamo/ConnectorDynamoFunctions/AnalyticsUtils.cs
  ConnectorDynamo/ConnectorDynamoFunctions/ConnectorDynamoFunctions.csproj
  ConnectorDynamo/ConnectorDynamoFunctions/Developer/Conversion.cs
  ConnectorDynamo/ConnectorDynamoFunctions/Developer/Local.cs
  ConnectorDynamo/ConnectorDynamoFunctions/Developer/Serialization.cs
  ConnectorDynamo/ConnectorDynamoFunctions/Developer/Transport.cs
  ConnectorDynamo/ConnectorDynamoFunctions/Functions.cs
  ConnectorDynamo/ConnectorDynamoFunctions/Stream.cs
  ConnectorDynamo/ConnectorDynamoFunctions/Utils.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/BaseComponents/ComponentTracker.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Loader.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/Plugin.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.Previews.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.Receive.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.Selection.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.Send.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Utils.cs
  Core/Core/Logging/Analytics.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Feat(Core) : [CNX-8816] Add account upgrade method (#3205)
  Core/Core/Credentials/AccountManager.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(dui3): encapsulates changed objs by model card to avoid prev caching issue (see prev commit)
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/SendBinding.cs
  DesktopUI3/DUI3/Bindings/ISendBinding.cs
Due: rhino

feat(dui3): cleanup
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/SendBinding.cs
Due: rhino

feat(dui3): implements change detection in revit
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/SendBinding.cs
Due: revit

feat(dui3): implements change detection in acad
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Bindings/SendBinding.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/SendBinding.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/SendBinding.cs
Due: rhino, revit, autocadcivil

AccountManager and StreamWrapper
  Core/Core/Credentials/AccountManager.cs
  Core/Core/Credentials/StreamWrapper.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Unit tests
  Core/Tests/Speckle.Core.Tests.Unit/Credentials/AccountServerMigrationTests.cs
  Core/Tests/Speckle.Core.Tests.Unit/Credentials/Accounts.cs
  Core/Tests/Speckle.Core.Tests.Unit/Fixtures.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

teardown
  Core/Tests/Speckle.Core.Tests.Unit/Credentials/AccountServerMigrationTests.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

More test cases
  Core/Tests/Speckle.Core.Tests.Unit/Credentials/AccountServerMigrationTests.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

polish
  Core/Tests/Speckle.Core.Tests.Unit/Credentials/AccountServerMigrationTests.cs
  Core/Tests/Speckle.Core.Tests.Unit/Credentials/Accounts.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

assign to_native classes (there are missing and false positives)
  class_crawler.py
Due: none

test(core): [CNX-9138] Unit tests for AccountManager server migration (#3215)
  Core/Tests/Speckle.Core.Tests.Unit/Credentials/AccountServerMigrationTests.cs
  Core/Tests/Speckle.Core.Tests.Unit/Credentials/Accounts.cs
  Core/Tests/Speckle.Core.Tests.Unit/Fixtures.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

removing dupes
  Core/Core/Credentials/AccountManager.cs
  Core/Tests/Speckle.Core.Tests.Unit/Credentials/AccountServerMigrationTests.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Updated summary comment
  Core/Core/Credentials/AccountManager.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(dui3): comments and cleanup
  Core/Core/Api/Operations/Operations.Send.Obsolete.cs
  Core/Core/Models/Extras.cs
  Core/Core/Serialisation/BaseObjectSerializerV2.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

TrimEnd('/');
  Core/Core/Credentials/AccountManager.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Account unit tests
  Core/Tests/Speckle.Core.Tests.Unit/Credentials/AccountServerMigrationTests.cs
  Core/Tests/Speckle.Core.Tests.Unit/Credentials/Accounts.cs
  Core/Tests/Speckle.Core.Tests.Unit/Fixtures.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks
