Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(dui): close notification button crashes the app (#1815)
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: none

directContext3DServer class
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevitShared.projitems
  Objects/Converters/ConverterRevit/ConverterRevitShared/DirectContext3DServer.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(gh): Use static constructor to prevent event from being set up more than once
  ConnectorGrasshopper/ConnectorGrasshopperShared/Conversion/DeserialiseTaskCapableComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Conversion/SerialiseTaskCapableComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Conversion/ToNativeTaskCapableComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Conversion/ToSpeckleTaskCapableComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/SchemaBuilder/CreateSchemaObjectBase.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/SchemaBuilder/SchemaBuilderGen.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/SchemaBuilder/SchemaBuilderGen.tt
  ConnectorGrasshopper/ConnectorGrasshopperShared/Transports/SendReceiveTransport.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Transports/Transports.Disk.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Transports/Transports.Memory.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Transports/Transports.Sqlite.cs
  ConnectorRhino/ConnectorRhino.sln
Due: rhino, grasshopper

feat(gh): Ribbon will now be refreshed when tabs settings are changed (#1817)
  ConnectorGrasshopper/ConnectorGrasshopperShared/Conversion/DeserialiseTaskCapableComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Conversion/SerialiseTaskCapableComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Conversion/ToNativeTaskCapableComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Conversion/ToSpeckleTaskCapableComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/SchemaBuilder/SchemaBuilderGen.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/SchemaBuilder/SchemaBuilderGen.tt
  ConnectorGrasshopper/ConnectorGrasshopperShared/SpeckleGHSettings.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Transports/SendReceiveTransport.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Transports/Transports.Disk.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Transports/Transports.Memory.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Transports/Transports.Sqlite.cs
  ConnectorRhino/ConnectorRhino.sln
Due: rhino, grasshopper

feat(gh): Made GH_SpeckleBase public
  ConnectorGrasshopper/ConnectorGrasshopperShared/Extras/SpeckleBaseParam.cs
Due: grasshopper

feat(gh): Made GH_SpeckleBase public (#1819)
  ConnectorGrasshopper/ConnectorGrasshopperShared/Extras/SpeckleBaseParam.cs
Due: grasshopper

fix(objects): Adds missing plane assignment to Arc constructor
  Objects/Objects/Geometry/Arc.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat(objects): Adds test to ensure 180 degree edge-case is already covered
  Objects/Tests/Geometry/ArcTests.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(objects): Missing plane assignment in arc constructor (#1821)
  Objects/Objects/Geometry/Arc.cs
  Objects/Tests/Geometry/ArcTests.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

wip: almost working
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/Plugin.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/MappingBindingsRhino.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/MappingsPanel.xaml.cs
  DesktopUI2/DesktopUI2/DesktopUI2.csproj
  DesktopUI2/DesktopUI2/DummyMappingsBindings.cs
  DesktopUI2/DesktopUI2/MappingsBindings.cs
  DesktopUI2/DesktopUI2/Styles/ComboBox.xaml
  DesktopUI2/DesktopUI2/ViewModels/MappingTool/MappingComponents.cs
  DesktopUI2/DesktopUI2/ViewModels/MappingTool/MappingsViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/MappingTool/RevitMetadataViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/MappingTool/RevitViewModels.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamSelectorViewModel.cs
  DesktopUI2/DesktopUI2/Views/Controls/StreamSelector.xaml
  DesktopUI2/DesktopUI2/Views/MappingsControl.xaml
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertBeam.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertProjectInfo.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertWall.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
  Objects/Objects/BuiltElements/Revit/RevitElementType.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

move example app to net6
  .gitignore
  Core/Examples/ExampleApp.csproj
  DesktopUI2/.vscode/launch.json
  DesktopUI2/.vscode/tasks.json
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat(mapping): UI work
  DesktopUI2/DesktopUI2/ViewModels/MappingTool/MappingsViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/MappingTool/RevitViewModels.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamSelectorViewModel.cs
  DesktopUI2/DesktopUI2/Views/MappingsControl.xaml
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat(core): fallback to default Objects folder if no converter is found
  Core/Core/Kits/KitManager.cs
  Objects/Objects/ObjectsKit.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat(mappings): addes reference to Objects and sets it not to be copied
  ConnectorGrasshopper/ConnectorGrasshopper6/ConnectorGrasshopper6.csproj
  ConnectorRhino/ConnectorRhino.sln
  DesktopUI2/DesktopUI2/App.xaml.cs
  DesktopUI2/DesktopUI2/DesktopUI2.csproj
  DesktopUI2/DesktopUI2/ViewModels/MappingTool/MappingsViewModel.cs
Due: rhino, grasshopper

feat(mappings): adds direct shapes and freeformelements
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/MappingBindingsRhino.cs
  DesktopUI2/DesktopUI2/App.xaml.cs
  DesktopUI2/DesktopUI2/DummyMappingsBindings.cs
  DesktopUI2/DesktopUI2/MappingsBindings.cs
  DesktopUI2/DesktopUI2/Styles/TextBox.xaml
  DesktopUI2/DesktopUI2/ViewModels/MappingTool/MappingsViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/MappingTool/RevitViewModels.cs
  DesktopUI2/DesktopUI2/ViewModels/MappingTool/Schemas.cs
  DesktopUI2/DesktopUI2/Views/MappingsControl.xaml
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

can send and receive sloped roof. no mullions though
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Send.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRoof.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

remove Dim folder dependency from blob tests
  Core/Core/Models/Base.cs
  Core/IntegrationTests/Fixtures.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat(mapping): better stream selection
  DesktopUI2/DesktopUI2/Assets/instructions.gif
  DesktopUI2/DesktopUI2/Assets/mapping.png
  DesktopUI2/DesktopUI2/Styles/ListBox.xaml
  DesktopUI2/DesktopUI2/Styles/Styles.xaml
  DesktopUI2/DesktopUI2/ViewModels/MappingTool/MappingsViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamSelectorViewModel.cs
  DesktopUI2/DesktopUI2/Views/Controls/StreamSelector.xaml
  DesktopUI2/DesktopUI2/Views/MappingsControl.xaml
Due: none

added *some* interior mullions and all exterior ones
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRoof.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

random code cleanup
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRoof.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix checkOrtho formula
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRoof.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fixed empty setting error
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertWall.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

add a space bc it looks nice
  DesktopUI2/DesktopUI2/Models/Settings/MultiSelectBoxSetting.cs
Due: none

rearrange a little
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(gh): Adds case for any IGH_Goo holding a Base object
  ConnectorGrasshopper/ConnectorGrasshopperShared/Objects/ExtendSpeckleObjectTaskComponent.cs
Due: grasshopper

feat(mappings): existing mappings & display conduit
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/Plugin.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/MappingBindingsRhino.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Utils.cs
  DesktopUI2/DesktopUI2/DummyMappingsBindings.cs
  DesktopUI2/DesktopUI2/MappingsBindings.cs
  DesktopUI2/DesktopUI2/Styles/Expander.xaml
  DesktopUI2/DesktopUI2/ViewModels/MappingTool/MappingsViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/MappingTool/Schemas.cs
  DesktopUI2/DesktopUI2/Views/MappingsControl.xaml
  DesktopUI2/DesktopUI2/Views/MappingsControl.xaml.cs
Due: rhino

chore(gh): Added obsolete flag to most methods in DynamicBase regarding `GetMembers`
  Core/Core/Models/DynamicBase.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat(mapping): selection and other minor touches
  ConnectorRhino/ConnectorRhino.sln
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/MappingBindingsRhino.cs
  DesktopUI2/DesktopUI2/DummyMappingsBindings.cs
  DesktopUI2/DesktopUI2/MappingsBindings.cs
  DesktopUI2/DesktopUI2/Styles/ListBox.xaml
  DesktopUI2/DesktopUI2/Views/MappingsControl.xaml
  DesktopUI2/DesktopUI2/Views/MappingsControl.xaml.cs
Due: rhino

only create async context once
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Send.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertBeam.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertDirectShape.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRoof.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat(core): Added tests to ensure all obsolete methods can be replicated with new GetMembers
  Core/Core/Models/DynamicBase.cs
  Core/Core/Models/DynamicBaseMemberType.cs
  Core/Tests/BaseTests.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Fix(gh): Handle `GH_Goo<Base>` objects in `ESO` (#1830)
  ConnectorGrasshopper/ConnectorGrasshopperShared/Objects/ExtendSpeckleObjectTaskComponent.cs
Due: grasshopper

refactor(core): Flags DynamicBase misleadingly named methods as obsolete (#1832)
  Core/Core/Models/DynamicBase.cs
  Core/Core/Models/DynamicBaseMemberType.cs
  Core/Tests/BaseTests.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat(core): fallback to default Objects folder if no converter is found (#1825)
  Core/Core/Kits/KitManager.cs
  Objects/Objects/ObjectsKit.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Fix(Revit): Added support for curtain roofs, fixed height columns, and host elements that do not know they are host elements (#1831)
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Send.cs
  DesktopUI2/DesktopUI2/Models/Settings/MultiSelectBoxSetting.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAnalyticalStick.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertBeam.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertColumn.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertDirectShape.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRoof.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertWall.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix integration test setup
  Core/Core/Api/Operations/Operations.Send.cs
  Core/Core/Models/Base.cs
  Core/IntegrationTests/Fixtures.cs
  Core/IntegrationTests/ServerTransportTests.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat(mappings): clear schema
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/MappingBindingsRhino.cs
  DesktopUI2/DesktopUI2/DummyMappingsBindings.cs
  DesktopUI2/DesktopUI2/MappingsBindings.cs
  DesktopUI2/DesktopUI2/ViewModels/MappingTool/MappingsViewModel.cs
  DesktopUI2/DesktopUI2/Views/MappingsControl.xaml
Due: rhino

feat(gh): Prevents empty meshes from being sent
  ConnectorGrasshopper/ConnectorGrasshopperShared/Extras/Utilities.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Operations.VariableInputSendComponent.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Geometry.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat(gh): Prevents empty meshes from being sent (#1841)
  ConnectorGrasshopper/ConnectorGrasshopperShared/Extras/Utilities.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Operations.VariableInputSendComponent.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Geometry.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

allow check distance from owner point
  Objects/Objects/Geometry/Point.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Revert "Merge branch 'main' into release/2.10"
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/Plugin.cs
  ConnectorRhino/ConnectorRhino6/ConnectorRhino6.csproj
  ConnectorRhino/ConnectorRhino6/Properties/AssemblyInfo.cs
  ConnectorRhino/ConnectorRhino7/ConnectorRhino7.csproj
  ConnectorRhino/ConnectorRhino7/Properties/AssemblyInfo.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  DesktopUI2/README.md
  Objects/Converters/ConverterRhinoGh/ConverterGrasshopper7/ConverterGrasshopper7.csproj
  Objects/Converters/ConverterRhinoGh/ConverterGrasshopper7/Properties/AssemblyInfo.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhino6/Properties/launchSettings.json
  Objects/Converters/ConverterRhinoGh/ConverterRhino7/ConverterRhino7.csproj
  Objects/Converters/ConverterRhinoGh/ConverterRhino7/Properties/AssemblyInfo.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Path conditions:
  run_core: any of: Core/.*
  rhino: any of: (Core|Objects|ConnectorRhino|.*/ConverterRhinoGh)/.*
  grasshopper: any of: (Core|Objects|ConnectorGrasshopper|.*/ConverterRhinoGh)/.*
  revit: any of: (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.*
  dynamo: any of: (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.*
  autocadcivil: any of: (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.*
  csi: any of: (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.*
  microstation: any of: (Core|Objects|ConnectorMicroStation|.*/ConverterMicroStation)/.*
  teklastructures: any of: (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.*
  archicad: any of: (Core|Objects|ConnectorArchicad)/.*
