Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(rhino): Minor changes in build configs
  ConnectorRhino/ConnectorRhino.sln
Due: rhino

test(gh): Added xunit project
  Objects/Converters/ConverterRhinoGhTests/ConverterRhinoGhTests.csproj
  Objects/Converters/ConverterRhinoGhTests/Geometry/BrepTests.cs
  Objects/Converters/ConverterRhinoGhTests/RhinoTestFixture.cs
  Objects/Objects.sln
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(core): use Environment.SpecialFolderOption.Createoption for Core folders
  Core/Core/Api/Helpers.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(core): creates Speckle folders if they do not exist (#1953)
  Core/Core/Api/Helpers.cs
  Core/Core/Transports/SQLite.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

adds top level commit layer only if on create receive mode
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
Due: rhino

no longer uses commit layer prefix for update mode
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
Due: autocadcivil

small reporting fix
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
Due: autocadcivil

fixes modification of list during iteration
  Objects/Objects/Other/Transform.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

🧹
  Objects/Objects/Other/Transform.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat(dui): adds support for hiding the receive tab
  DesktopUI2/DesktopUI2/ConnectorBindings.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  DesktopUI2/DesktopUI2/Views/Pages/StreamEditView.xaml
Due: none

fix: loads receive modes before checking for them :)
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: none

fix(dui): hides setting button if none is available
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  DesktopUI2/DesktopUI2/Views/Controls/StreamEditControls/Receive.xaml
  DesktopUI2/DesktopUI2/Views/Controls/StreamEditControls/Send.xaml
Due: none

starting to return app objs to implement report functionality
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Recieve.cs
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Selection.cs
  ConnectorCSI/ConnectorCSIShared/Util/ConnectorCSIUtils.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSI.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Geometry/ConvertArea.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Geometry/ConvertFrame.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Delete Helpers.cs
  Core/Core/Api/Helpers.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

only adds commit info in top layer for create mode
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
Due: rhino

fix null projectinformation exception
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Selection.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

chore: removes unused bindings
  DesktopUI2/DesktopUI2/ConnectorBindings.cs
Due: none

fix(dui): dispose client if stream is not saved
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: none

hotfix(objects): incorrect application of `Transform` to vector (#1957)
  Objects/Objects/Other/Transform.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat: diasbles the import/export alert
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Events.cs
Due: revit

feat(dui): adds support for hiding the receive tab (#1958)
  DesktopUI2/DesktopUI2/ConnectorBindings.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  DesktopUI2/DesktopUI2/Views/Controls/StreamEditControls/Receive.xaml
  DesktopUI2/DesktopUI2/Views/Controls/StreamEditControls/Send.xaml
  DesktopUI2/DesktopUI2/Views/Pages/StreamEditView.xaml
Due: none

fix(rhino): no longer using commit top layer in update receive mode (#1959)
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
Due: rhino

fix(dui): preview issues #1961 #1960
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  DesktopUI2/DesktopUI2/Views/Controls/StreamEditControls/Receive.xaml
  DesktopUI2/DesktopUI2/Views/Controls/StreamEditControls/Receive.xaml.cs
Due: none

handles block definition names and layers
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.BuiltElements.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

uses existing render material for all modes
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

changes block def name as well
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Other.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

hotfix(rhino/autocadcivil): fixed block, layer, and material names on update receive mode (#1965)
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Other.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.BuiltElements.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Matteo/notifications hotfix (#1962)
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Events.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: revit

fix(rhino/gh): Do not weld Brep displayMeshes anymore
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Geometry.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(core): temporary fix for GetMembers throwing for get only properties
  Core/Core/Models/DynamicBase.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Jrm/core/temp fix get members (#1970)
  Core/Core/Models/DynamicBase.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(rhino/gh): Do not weld Brep displayMeshes anymore (#1968)
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Geometry.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

report object implemented
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Recieve.cs
  ConnectorCSI/ConnectorCSIShared/Util/ConnectorCSIUtils.cs
  ConnectorCSI/DriverCSharp/PluginCallback.cs
  ConnectorCSI/DriverCSharp/Program.cs
  ConnectorCSI/DriverPluginCSharp/cPlugin.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSI.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSIShared.projitems
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSIUtils.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Analysis/ConvertBuiltElementModel.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Analysis/ConvertModel.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Geometry/ConvertArea.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Geometry/ConvertFrame.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Geometry/ConvertLine.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Geometry/ConvertLinks.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Geometry/ConvertPoint.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Geometry/ConvertStories.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Loading/Loading1DElements.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Loading/Loading2DElements.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Properties/Convert1DProperty.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Properties/Convert2DProperty.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Properties/Convert2DPropertyFloor.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Properties/Convert2DPropertyWall.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Properties/ConvertDiaphragm.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Properties/ConvertLinkProperty.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Properties/ConvertSpring.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

get rid of unused imports
  ConnectorCSI/ConnectorCSIShared/Util/ConnectorCSIUtils.cs
Due: csi

Logging
  ConnectorNavisworks/ConnectorNavisworks/Utils.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks.2023/ConverterNavisworks.2023.csproj
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Working NWF
  ConnectorNavisworks/ConnectorNavisworks/Sample Models/KLY_ZHQ_CP2.nwf
Due: none

Clashes
  ConnectorNavisworks/ConnectorNavisworks.2023/ConnectorNavisworks.2023.csproj
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings_Filters.cs
Due: none

Differentiation of generic solution to specific
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings_Filters.cs
Due: none

Store states in file
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings_File.cs
  ConnectorNavisworks/ConnectorNavisworks/Storage/SpeckleStreamManager.cs
Due: none

Tidy up
  DesktopUI2/DesktopUI2/Views/Filters/TreeFilterView.xaml
  DesktopUI2/DesktopUI2/Views/Filters/TreeFilterView.xaml.cs
Due: none

Path conditions:
  run_core: any of: Core/.*
  rhino: any of: (Core|Objects|ConnectorRhino|.*/ConverterRhinoGh)/.*
  grasshopper: any of: (Core|Objects|ConnectorGrasshopper|.*/ConverterRhinoGh)/.*
  revit: any of: (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.*
  dynamo: any of: (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.*
  autocadcivil: any of: (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.*
  csi: any of: (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.*
  microstation: any of: (Core|Objects|ConnectorMicroStation|.*/ConverterMicroStation)/.*
  teklastructures: any of: (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.*
  archicad: any of: (Core|Objects|ConnectorArchicad)/.*
