Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Update Utils.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Utils.cs
Due: rhino

adds conversionnotsupported exceptions and better exception handling in converter
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Update ConverterRhinoGh.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Add logging for properties that cannot be set in ConverterTeklaStructures
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/ConverterTeklaStructureUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat: Add initialization and setup logic to MainForm
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/MainForm.cs
Due: teklastructures

feat: Add logging and error handling to StreamStateManager
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/StreamStateManager/StreamStateManager.cs
Due: teklastructures

Update StreamStateManager.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/StreamStateManager/StreamStateManager.cs
Due: teklastructures

fixes generic exception handling
  ConnectorAutocadCivil/ConnectorAutocadCivil/Entry/App.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Entry/SpeckleAutocadCommand.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Storage/SpeckleStreamManager.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Events.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Receive.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Selection.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Utils.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/Converter.AutocadCivil.Utils.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Geometry.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Other.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

some bug fixes
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Receive.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Utils.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Update ConnectorBindingsAutocadCivil.Receive.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Receive.cs
Due: autocadcivil

Found more exceptions to avoid catching
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.ObsoleteOperations.cs
  Core/Core/Api/GraphQL/Client.cs
  Core/Core/Api/Helpers.cs
  Core/Core/Credentials/Account.cs
  Core/Core/Credentials/AccountManager.cs
  Core/Core/Credentials/StreamWrapper.cs
  Core/Core/Helpers/Constants.cs
  Core/Core/Helpers/Http.cs
  Core/Core/Kits/KitManager.cs
  Core/Core/Kits/Units.cs
  Core/Core/Models/Base.cs
  Core/Core/Models/Blob.cs
  Core/Core/Models/Collection.cs
  Core/Core/Models/CommitObjectBuilder.cs
  Core/Core/Models/DynamicBase.cs
  Core/Core/Models/Extras.cs
  Core/Core/Models/GraphTraversal/DefaultTraversal.cs
  Core/Core/Models/Utilities.cs
  Core/Core/Serialisation/BaseObjectDeserializerV2.cs
  Core/Core/Serialisation/BaseObjectSerialzerUtilities.cs
  Core/Core/Transports/ServerUtils/GzipContent.cs
  Core/Core/Transports/ServerUtils/ParallelServerAPI.cs
  Core/Core/Transports/ServerUtils/ServerAPI.cs
  Core/Core/Transports/ServerV2.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fixes trying to access a disposed error
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Utils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

removes unnecessary disposal
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Utils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix: handle FabricationPart host retrieval
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitCommitObjectBuilder.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

continued work
  ConnectorRevit/ConnectorRevit/Entry/App.cs
  ConnectorRevit/ConnectorRevit/Storage/StreamStateManager.cs
  ConnectorRevit/ConnectorRevit/TypeMapping/ElementTypeMapper.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Events.cs
  Core/Core/Logging/ExceptionHelpers.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.Previews.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/DirectContext3DServer.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertAdaptiveComponent.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertBeam.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertColumn.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertCurves.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertDirectShape.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertFaceWall.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertFloor.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertFreeformElement.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertMEPFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertOpening.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertRoof.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertStructuralModel.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/SpeckleConversionTest.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

remove todo statements
  ConnectorRevit/ConnectorRevit/TypeMapping/ElementTypeMapper.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Events.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.DxfImport.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.Previews.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertMEPFamilyInstance.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Removed defunct usings
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/PartialClasses/ConvertDirectShapeMesh.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix some errors
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertFreeformElement.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertOpening.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/SpeckleConversionTest.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

last couple tweaks I think
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertCeiling.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/SpeckleConversionTest.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix ci error
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertCeiling.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/SpeckleUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

remove catches for "GetAll___Names" methods in converter and connector
  ConnectorCSI/ConnectorCSIShared/StreamStateManager/StreamStateManager.cs
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Selection.cs
  ConnectorCSI/ConnectorCSIShared/Util/ConnectorCSIUtils.cs
  Core/Core/Logging/ExceptionHelpers.cs
  DesktopUI2/DesktopUI2/Models/Filters/TreeSelectionFilter.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSIUtils.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Analysis/ConvertModel.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertArea.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertFrame.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Materials/ConvertMaterials.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

remove usings
  ConnectorCSI/ConnectorCSIShared/StreamStateManager/StreamStateManager.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSIUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Reverted transport changes
  Core/Core/Transports/ITransport.cs
  Core/Core/Transports/Memory.cs
  Core/Core/Transports/SQLite.cs
  Core/Core/Transports/ServerV2.cs
  Core/Core/Transports/TransportExtensions.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(Revit): CNX-8655 - handle FabricationPart host retrieval (#3120)
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitCommitObjectBuilder.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Throw an exception when the mesh cannot be converted or inserted.
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/PartialClasses/ConvertDirectShapeMesh.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Fix file write issue in StreamStateManager.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/StreamStateManager/StreamStateManager.cs
Due: teklastructures

Fix exception handling in SetupApplication method
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/MainForm.cs
Due: teklastructures

Resolved review comments
  Core/Core/Helpers/Http.cs
  Core/Core/Models/Base.cs
  Core/Core/Serialisation/BaseObjectSerializerV2.cs
  DesktopUI2/DesktopUI2/ViewModels/CollaboratorsViewModel.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(Core): CNX-8570, CNX-8393 Transporter exception cleanup and IsFatal(this Exception) function (#3114)
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.ObsoleteOperations.cs
  Core/Core/Api/GraphQL/Client.cs
  Core/Core/Api/Helpers.cs
  Core/Core/Api/Operations/Operations.Receive.cs
  Core/Core/Api/Operations/Operations.Send.cs
  Core/Core/Credentials/Account.cs
  Core/Core/Credentials/AccountManager.cs
  Core/Core/Credentials/StreamWrapper.cs
  Core/Core/Helpers/Constants.cs
  Core/Core/Helpers/Http.cs
  Core/Core/Helpers/Path.cs
  Core/Core/Kits/KitManager.cs
  Core/Core/Kits/Units.cs
  Core/Core/Logging/Analytics.cs
  Core/Core/Logging/ExceptionHelpers.cs
  Core/Core/Logging/SpeckleLog.cs
  Core/Core/Models/Base.cs
  Core/Core/Models/Blob.cs
  Core/Core/Models/Collection.cs
  Core/Core/Models/CommitObjectBuilder.cs
  Core/Core/Models/DynamicBase.cs
  Core/Core/Models/Extras.cs
  Core/Core/Models/GraphTraversal/DefaultTraversal.cs
  Core/Core/Models/Utilities.cs
  Core/Core/Serialisation/BaseObjectDeserializerV2.cs
  Core/Core/Serialisation/BaseObjectSerializerV2.cs
  Core/Core/Serialisation/BaseObjectSerialzerUtilities.cs
  Core/Core/Serialisation/DeserializationWorkerThreads.cs
  Core/Core/Transports/ITransport.cs
  Core/Core/Transports/Memory.cs
  Core/Core/Transports/SQLite.cs
  Core/Core/Transports/Server.cs
  Core/Core/Transports/ServerUtils/GzipContent.cs
  Core/Core/Transports/ServerUtils/ParallelServerAPI.cs
  Core/Core/Transports/ServerUtils/ServerAPI.cs
  Core/Core/Transports/ServerV2.cs
  Core/Tests/Kits/KitManagerTests.cs
  Core/Tests/Kits/TestKit.cs
  DesktopUI2/DesktopUI2/ViewModels/CollaboratorsViewModel.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Fixed slnf
  Automate/Speckle.Automate.Sdk/Speckle.Automate.Sdk.csproj
  Automate/Tests/Speckle.Automate.Sdk.Tests.Integration/Speckle.Automate.Sdk.Tests.Integration.csproj
  Automate/Tests/Speckle.Automate.Sdk.Tests.Integration/SpeckleAutomate.cs
  Core/Tests/Speckle.Core.Tests.Integration/Speckle.Core.Tests.Integration.csproj
  Core/Tests/Speckle.Core.Tests.Performance/Speckle.Core.Tests.Performance.csproj
  Core/Tests/Speckle.Core.Tests.Unit/Speckle.Core.Tests.Unit.csproj
  SDK.slnf
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Tests
  Core/Core.sln
  Core/Tests/Speckle.Core.Tests.Performance/Api/Operations/ReceiveFromSQLite.cs
  Core/Tests/Speckle.Core.Tests.Performance/Api/Operations/TraverseCommit.cs
  Core/Tests/Speckle.Core.Tests.Performance/Program.cs
  Core/Tests/Speckle.Core.Tests.Performance/RegressionTestConfig.cs
  Core/Tests/Speckle.Core.Tests.Performance/Serialisation/DeserializationWorkerThreads.cs
  Core/Tests/Speckle.Core.Tests.Performance/TestDataHelper.cs
  Core/Tests/Speckle.Core.Tests.Unit/Transports/TransportTests.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Updated CI to run tests from new folder structure
  .circleci/scripts/config-template.yml
Due: none

Fixed tests
  Core/Tests/Directory.Build.props
  Core/Tests/Speckle.Core.Tests.Unit/Models/SpeckleType.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix remaining general exception catches
  ConnectorCSI/ConnectorCSIShared/StreamStateManager/StreamStateManager.cs
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.ClientOperations.cs
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Recieve.cs
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Send.cs
  ConnectorCSI/ConnectorCSIShared/Util/ConnectorCSIUtils.cs
  ConnectorCSI/DriverCSharp/Program.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertArea.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Properties/Convert1DProperty.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

remove unnecessary suppression message
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Recieve.cs
Due: csi

set default units to units.none
  Objects/Objects/Geometry/ControlPoint.cs
  Objects/Objects/Geometry/Mesh.cs
  Objects/Objects/Geometry/Point.cs
  Objects/Objects/Geometry/Vector.cs
  Objects/Objects/Other/Block.cs
  Objects/Objects/Other/Transform.cs
  Objects/Objects/Structural/Geometry/Node.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Fixed connectors that use DiskTransport
  ConnectorArchicad/ConnectorArchicad.slnf
  ConnectorAutocadCivil/ConnectorAdvanceSteel.slnf
  ConnectorAutocadCivil/ConnectorAutocadCivil.slnf
  ConnectorBentley/ConnectorBentley.slnf
  ConnectorDynamo/ConnectorDynamo.slnf
  ConnectorDynamo/ConnectorDynamoFunctions/Developer/Transport.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Transports/Transports.Disk.cs
  ConnectorRevit/ConnectorRevit.slnf
  ConnectorRhino/ConnectorRhino.slnf
Due: rhino, revit, dynamo, autocadcivil, bentley, archicad

Path conditions:
  core: any of: Core/.*
  rhino: any of: (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.*
  revit: any of: (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.*
  dynamo: any of: (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.*
  autocadcivil: any of: (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.*
  csi: any of: (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.*
  bentley: any of: (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.*
  teklastructures: any of: (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.*
  archicad: any of: (Core|Objects|ConnectorArchicad)/.*
  navisworks: any of: (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.*
