Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.3.1
  python: circleci/python@2.0.3

jobs:
  setup:
    executor: python/default
    steps:
      - checkout # checkout code
      - when:
          condition:
            and:
              - not:
                  equal: [main, << pipeline.git.branch >>]
              - not:
                  matches:
                    pattern: ".*/?ci/.*"
                    value: << pipeline.git.branch >>
              - not:
                  matches:
                    pattern: ".*/all$"
                    value: << pipeline.git.tag >>
          steps:
            - run: git branch internal_circleci
            - path-filtering/set-parameters:
                mapping: |
                  Core/.* core true
                  (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.* rhino true
                  (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.* revit true
                  (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.* dynamo true
                  (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.* autocadcivil true
                  (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.* csi true
                  (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.* bentley true
                  (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.* teklastructures true
                  (Core|Objects|ConnectorArchicad)/.* archicad true
                  (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.* navisworks true
                base-revision: main
                output-path: .circleci/scripts/parameters.json
      - run: cat .circleci/scripts/parameters.json
      - run: pip install pyyaml
      - run: # run a command
          name: Generate config
          command: |
            python .circleci/scripts/config-generator.py -d ${CIRCLE_TAG:-none} -o .circleci/continuation-config.yml -e ${CIRCLE_PR_REPONAME:-none}
      - continuation/continue:
          configuration_path: .circleci/continuation-config.yml # use newly generated config to continue
workflows:
  setup:
    jobs:
      - setup:
          name: Build Setup
      - setup:
          name: Deploy Setup
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^(nugets\/)?([0-9]+)\.([0-9]+)\.([0-9]+)(?:-\w+)?(\/all)?$/

Fix total children count usage
  ConnectorDynamo/ConnectorDynamo/ReceiveNode/Receive.cs
  Core/Core/Api/GraphQL/Legacy/Client.GraphqlCleintOperations/Client.ObjectOperations.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix small mistake
  ConnectorDynamo/ConnectorDynamo/ReceiveNode/Receive.cs
Due: dynamo

Fix Ci (#3690)
  ConnectorDynamo/ConnectorDynamo/ReceiveNode/Receive.cs
  Core/Core/Api/GraphQL/Legacy/LegacyGraphQLModels.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Legacy/LegacyAPITests.cs
  Core/docker-compose.yml
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

hotfix(civil3d): always use civil units (#3685)
  ConnectorAutocadCivil/ConnectorAutocadCivil/Utils.cs
Due: autocadcivil

CNX 671 Local Axes of Structural Objects (#3648)
  Objects/Converters/ConverterCSI/ConverterCSIShared/Models/Element1DAnalyticalResultConverter.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Models/ResultsConverter.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertFrame.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertAnalyticalStick.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(sap): design orientation for sap members
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertFrame.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Remove DllConflictsDetected event
  ConnectorCore/DllConflictManagement/DllConflictManager.cs
  ConnectorCore/DllConflictManagement/DllConflictUserNotifier.cs
Due: none

Remove unused using
  ConnectorCore/DllConflictManagement/DllConflictManager.cs
Due: none

Chore(mixpanel): Remove DllConflictsDetected event (#3694)
  ConnectorCore/DllConflictManagement/DllConflictManager.cs
  ConnectorCore/DllConflictManagement/DllConflictUserNotifier.cs
Due: none

fix(revit): include gutters and other subcategories in everything export (#3615)
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Selection.cs
  ConnectorRevit/RevitSharedResources/Extensions/SpeckleExtensions/IRevitDocumentAggregateCacheExtensions.cs
Due: revit

style: fix formatting issue
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Selection.cs
Due: revit

Removed collaborator, comments, and one click send
  All.sln
  DesktopUI2/DesktopUI2/Models/ConfigManager.cs
  DesktopUI2/DesktopUI2/ViewModels/CollaboratorsViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/MainViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/OneClickViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  DesktopUI2/DesktopUI2/Views/Pages/CollaboratorsView.xaml.cs
  DesktopUI2/DesktopUI2/Views/Pages/HomeView.xaml
  DesktopUI2/DesktopUI2/Views/Pages/OneClickView.xaml.cs
  DesktopUI2/DesktopUI2/Views/Pages/StreamEditView.xaml
Due: none

Fix tests
  Core/Core/Api/GraphQL/Enums/ProjectVisibility.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/ProjectResourceTests.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Fixed tests
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/ProjectResourceExceptionalTests.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

First pass
  Core/Core/Api/GraphQL/Inputs/ProjectInputs.cs
  Core/Core/Api/GraphQL/Inputs/UserInputs.cs
  Core/Core/Api/GraphQL/Models/Workspace.cs
  Core/Core/Api/GraphQL/Resources/ActiveUserResource.cs
  Core/Core/Api/GraphQL/Resources/ProjectResource.cs
  Core/Core/Api/GraphQL/Resources/graphql.config.yml
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/WorkspaceViewModel.cs
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/NewStreamDialog.xaml
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/NewStreamDialog.xaml.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Removed collaborator, comments, and one click send (#3696)
  All.sln
  Core/Core/Api/GraphQL/Enums/ProjectVisibility.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/ProjectResourceExceptionalTests.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/ProjectResourceTests.cs
  DesktopUI2/DesktopUI2/Models/ConfigManager.cs
  DesktopUI2/DesktopUI2/ViewModels/CollaboratorsViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/MainViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/OneClickViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  DesktopUI2/DesktopUI2/Views/Pages/CollaboratorsView.xaml.cs
  DesktopUI2/DesktopUI2/Views/Pages/HomeView.xaml
  DesktopUI2/DesktopUI2/Views/Pages/OneClickView.xaml.cs
  DesktopUI2/DesktopUI2/Views/Pages/StreamEditView.xaml
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Fix build
  Core/Core/Api/GraphQL/Resources/ActiveUserResource.cs
  Core/Core/Api/GraphQL/Resources/ProjectResource.cs
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Top level try catch incase of unexpected errors
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/NewStreamDialog.xaml
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/NewStreamDialog.xaml.cs
Due: none

default selection
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/NewStreamDialog.xaml.cs
Due: none

empty ready message
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/NewStreamDialog.xaml
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/NewStreamDialog.xaml.cs
Due: none

fixed integration tests again
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/ModelResourceExceptionalTests.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(dui2): Add creation of workspace project (#3699)
  Core/Core/Api/GraphQL/Inputs/ProjectInputs.cs
  Core/Core/Api/GraphQL/Inputs/UserInputs.cs
  Core/Core/Api/GraphQL/Models/Workspace.cs
  Core/Core/Api/GraphQL/Resources/ActiveUserResource.cs
  Core/Core/Api/GraphQL/Resources/ProjectResource.cs
  Core/Core/Api/GraphQL/Resources/graphql.config.yml
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/ModelResourceExceptionalTests.cs
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/WorkspaceViewModel.cs
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/NewStreamDialog.xaml
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/NewStreamDialog.xaml.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Added permission checks for better error handling when creating models
  Core/Core/Api/GraphQL/Client.cs
  Core/Core/Api/GraphQL/Models/Workspace.cs
  Core/Core/Api/GraphQL/Resources/ProjectResource.cs
  Core/Core/Api/GraphQL/Resources/WorkspaceResource.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/NewStreamDialog.xaml.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Shim projects for workspace role checks
  Core/Core/Api/GraphQL/Legacy/Client.GraphqlCleintOperations/Client.StreamOperations.cs
  Core/Core/Api/GraphQL/Legacy/LegacyShimHelper.cs
  Core/Core/Api/GraphQL/Resources/ActiveUserResource.cs
  DesktopUI2/DesktopUI2/Models/StreamAccountWrapper.cs
  DesktopUI2/DesktopUI2/ViewModels/DesignViewModels/DesignHomeViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamSelectorViewModel.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Hide reviewers even for personal projects
  Core/Core/Api/GraphQL/Inputs/ProjectInputs.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamSelectorViewModel.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Reviewer only cards
  Core/Core/Api/GraphQL/Models/ModelExtensions.cs
  DesktopUI2/DesktopUI2/Models/StreamAccountWrapper.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  DesktopUI2/DesktopUI2/Views/Converters/RoleValueConverter.cs
  DesktopUI2/DesktopUI2/Views/Pages/HomeView.xaml
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Extra check on add via url
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
Due: none

Better set of greyed out parts
  DesktopUI2/DesktopUI2/Views/Converters/BoolToBrushConverter.cs
  DesktopUI2/DesktopUI2/Views/Converters/RoleCanReceiveValueConverter.cs
  DesktopUI2/DesktopUI2/Views/Pages/HomeView.xaml
  DesktopUI2/DesktopUI2/Views/Pages/StreamEditView.xaml
Due: none

feat(DUI): Give better error messaging r.e. workspace permissions when creating new models (#3700)
  Core/Core/Api/GraphQL/Client.cs
  Core/Core/Api/GraphQL/Models/Workspace.cs
  Core/Core/Api/GraphQL/Resources/ProjectResource.cs
  Core/Core/Api/GraphQL/Resources/WorkspaceResource.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/NewStreamDialog.xaml.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(dui2): Reviewer streams greyed out with better feedback to user (#3701)
  Core/Core/Api/GraphQL/Models/ModelExtensions.cs
  DesktopUI2/DesktopUI2/Models/StreamAccountWrapper.cs
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  DesktopUI2/DesktopUI2/Views/Converters/BoolToBrushConverter.cs
  DesktopUI2/DesktopUI2/Views/Converters/RoleCanReceiveValueConverter.cs
  DesktopUI2/DesktopUI2/Views/Converters/RoleValueConverter.cs
  DesktopUI2/DesktopUI2/Views/Pages/HomeView.xaml
  DesktopUI2/DesktopUI2/Views/Pages/StreamEditView.xaml
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Fixed failing integration tests (this one's on us!)
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/ModelResourceExceptionalTests.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/ProjectResourceExceptionalTests.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Fix integration tests
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/ModelResourceExceptionalTests.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/ProjectResourceExceptionalTests.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Tests(integration): Fixed failing integration tests due to changes in error responses from server (#3703)
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/ModelResourceExceptionalTests.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/ProjectResourceExceptionalTests.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Auto stash before checking out "origin/dev"
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertZone.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Revit 2025 build configuration was misconfugured
  All.sln
Due: none

fix(revit) #3615: include gutters and other subcategories in Revit connector sending "everything" (#3695)
  ConnectorRevit/RevitSharedResources/Extensions/SpeckleExtensions/IRevitDocumentAggregateCacheExtensions.cs
Due: revit

Loosened tests for server error response
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/ModelResourceExceptionalTests.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/ProjectResourceExceptionalTests.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(revit): Fix bug where Revit zones with null phase fail to convert (#3704)
  All.sln
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertZone.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fixed tests mistake
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/ModelResourceExceptionalTests.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Fixed bug with active user query failing with the wrong exception
  Core/Core/Api/GraphQL/Inputs/ProjectInputs.cs
  Core/Core/Api/GraphQL/Legacy/Client.GraphqlCleintOperations/Client.StreamOperations.cs
  Core/Core/Api/GraphQL/Resources/ActiveUserResource.cs
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/NewStreamDialog.xaml.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks
