Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

just give up on ducts...
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/DuctTests.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Core/update deps2 (#2564)
  ConnectorArchicad/ConnectorArchicad/ConnectorArchicad.csproj
  ConnectorRevit/ConnectorRevit2020/ConnectorRevit2020.csproj
  ConnectorRevit/ConnectorRevit2021/ConnectorRevit2021.csproj
  ConnectorRevit/ConnectorRevit2022/ConnectorRevit2022.csproj
  ConnectorRevit/ConnectorRevit2023/ConnectorRevit2023.csproj
  ConnectorRhino/ConnectorRhino7/ConnectorRhino7.csproj
  Core/Core/Api/GraphQL/Client.cs
  Core/Core/Api/GraphQL/Serializer/NewtonsoftJsonSerializer.cs
  Core/Core/Core.csproj
  DesktopUI2/AvaloniaHwndHost/AvaloniaHwndHost.csproj
  DesktopUI2/DesktopUI2.Launcher/DesktopUI2.Launcher.csproj
  DesktopUI2/DesktopUI2.WPF/DesktopUI2.WPF.csproj
  DesktopUI2/DesktopUI2/DesktopUI2.csproj
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

cleanup unused code
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/AdaptiveComponentTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/BeamTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/BrepTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/ColumnTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/ConverterRevitTestsShared.projitems
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/CurveTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/DirectShapeTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/DuctTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/FamilyInstanceTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/FloorTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/OpeningTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/PipeTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/RoofTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/RoomTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/ScheduleTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/SpeckleConversionFixture.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/TestCategories.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/WallTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/WireTests.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

generating code!
  All.sln
  ConnectorRevit/ConnectorRevitTests.slnf
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTests2021/ConverterRevitTests2021.csproj
  Objects/Converters/ConverterRevit/ConverterRevitTests/TestGenerator/Class1.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/TestGenerator/TestGenerator.csproj
  Objects/Converters/ConverterRevit/ConverterRevitTests/TestGeneratorTarget/Class1.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/TestGeneratorTarget/TestGeneratorTarget.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

removed revit specific type from connector converter proj
  All.sln
  ConnectorRevit/ConnectorRevit.slnf
  ConnectorRevit/ConnectorRevit/Storage/ConvertedObjectsCache.cs
  ConnectorRevit/ConnectorRevit/Storage/StreamStateCache.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Previews.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRevit/ConnectorRevit2020/ConnectorRevit2020.csproj
  ConnectorRevit/ConnectorRevit2021/ConnectorRevit2021.csproj
  ConnectorRevit/ConnectorRevit2022/ConnectorRevit2022.csproj
  ConnectorRevit/ConnectorRevit2023/ConnectorRevit2023.csproj
  ConnectorRevit/RevitSharedResources/Interfaces/IConvertedObjectsCache.cs
  ConnectorRevit/RevitSharedResources/Interfaces/IReceivedObjectIdCache.cs
  ConnectorRevit/RevitSharedResources/RevitSharedResources.csproj
  ConnectorRevit/RevitSharedResources/RevitSharedResources/Interfaces/IConvertedObjectsCache.cs
  ConnectorRevit/RevitSharedResources/RevitSharedResources/Interfaces/IReceivedObjectsCache.cs
  ConnectorRevit/RevitSharedResources/RevitSharedResources/RevitSharedResources.projitems
  ConnectorRevit/RevitSharedResources/RevitSharedResources/RevitSharedResources.shproj
  ConnectorRevit/RevitSharedResources/RevitSharedResources2020/RevitSharedResources2020.csproj
  ConnectorRevit/RevitSharedResources/RevitSharedResources2021/RevitSharedResources2021.csproj
  ConnectorRevit/RevitSharedResources/RevitSharedResources2022/RevitSharedResources2022.csproj
  ConnectorRevit/RevitSharedResources/RevitSharedResources2023/RevitSharedResources2023.csproj
  Objects/Converters/ConverterRevit/ConverterRevit2020/ConverterRevit2020.csproj
  Objects/Converters/ConverterRevit/ConverterRevit2021/ConverterRevit2021.csproj
  Objects/Converters/ConverterRevit/ConverterRevit2022/ConverterRevit2022.csproj
  Objects/Converters/ConverterRevit/ConverterRevit2023/ConverterRevit2023.csproj
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

rename cache to map and cleanup old implementation
  All.sln
  ConnectorRevit/ConnectorRevit/Storage/ConvertedObjectsCache.cs
  ConnectorRevit/ConnectorRevit/Storage/StreamStateCache.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Previews.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRevit/ConnectorRevit2020/ConnectorRevit2020.csproj
  ConnectorRevit/ConnectorRevit2021/ConnectorRevit2021.csproj
  ConnectorRevit/ConnectorRevit2022/ConnectorRevit2022.csproj
  ConnectorRevit/ConnectorRevit2023/ConnectorRevit2023.csproj
  ConnectorRevit/RevitSharedResources/Interfaces/IConvertedObjectsCache.cs
  ConnectorRevit/RevitSharedResources/Interfaces/IReceivedObjectIdMap.cs
  Objects/Converters/ConverterRevit/ConverterRevit2020/ConverterRevit2020.csproj
  Objects/Converters/ConverterRevit/ConverterRevit2021/ConverterRevit2021.csproj
  Objects/Converters/ConverterRevit/ConverterRevit2022/ConverterRevit2022.csproj
  Objects/Converters/ConverterRevit/ConverterRevit2023/ConverterRevit2023.csproj
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fixed connector.sln
  ConnectorRevit/ConnectorRevit.sln
Due: revit

fix dynamo
  ConnectorDynamo/ConnectorDynamo.sln
  Objects/Converters/ConverterDynamo/ConverterDynamoRevit/ConverterDynamoRevit.csproj
  Objects/Converters/ConverterDynamo/ConverterDynamoRevit2021/ConverterDynamoRevit2021.csproj
  Objects/Converters/ConverterDynamo/ConverterDynamoRevit2022/ConverterDynamoRevit2022.csproj
  Objects/Converters/ConverterDynamo/ConverterDynamoRevit2023/ConverterDynamoRevit2023.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

remove traces of revit specific projects
  All.sln
  ConnectorRevit/ConnectorRevit/Storage/StreamStateCache.cs
  ConnectorRevit/ConnectorRevitTests.slnf
Due: revit

generating beam test
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTests2021/ConverterRevitTests2021.csproj
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTests2021/Generated/REVIT2021/TestGenerator/TestGenerator.Generator/GeneratedTests.g.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/BeamTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/SpeckleConversionFixture.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/TestGenerator/Class1.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/TestGenerator/Generator.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/TestGenerator/TestTemplate.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

working on test gen
  All.sln
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTests2021/ConverterRevitTests2021.csproj
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTests2021/Generated/REVIT2021/TestGenerator/TestGenerator.Generator/GeneratedTests.g.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/TestGenerator/Categories.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/TestGenerator/Generator.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/TestGenerator/Globals.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/TestGenerator/TestGenerator.csproj
  Objects/Converters/ConverterRevit/ConverterRevitTests/TestGenerator/TestTemplate.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Add version for TopSolid Connector
  Core/Core/Kits/Applications.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Add version for TopSolid Connector (Core-kit) (#2607)
  Core/Core/Kits/Applications.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

FactorFromNative multiply each point property
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.ASGeometry.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

remove expected failure behavior
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTests2021/Generated/REVIT2021/TestGenerator/TestGenerator.Generator/GeneratedTests.g.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/AdaptiveComponentTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/AssertUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/BrepTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/ColumnTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/ConverterRevitTestsShared.projitems
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/CurveTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/DirectShapeTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/DuctTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/FamilyInstanceTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/FloorTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/OpeningTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/PipeTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/RoofTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/RoomTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/ScheduleTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/SpeckleConversionFixture.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/SpeckleConversionTest.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/TestCategories.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/WallTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/WireTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/TestGenerator/Categories.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/TestGenerator/Generator.cs
  Objects/Converters/ConverterRevit/TestModels/2021/Beam/Beam.ExpectedFailures.json
  Objects/Converters/ConverterRevit/TestModels/2021/Brep/Brep.ExpectedFailures.json
  Objects/Converters/ConverterRevit/TestModels/2021/Duct/Duct.ExpectedFailures.json
  Objects/Converters/ConverterRevit/TestModels/2021/FamilyInstance/FamilyInstance.ExpectedFailures.json
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fixed beam test
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertBeam.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/SpeckleConversionFixture.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/TestCategories.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

"fix" breps
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/BrepTests.cs
  Objects/Converters/ConverterRevit/TestModels/2021/Brep/Brep-Boat.json
  Objects/Converters/ConverterRevit/TestModels/2021/Brep/Brep-Plane.json
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

get rid of files
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/AdaptiveComponentTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/BeamTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/ColumnTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/CurveTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/DirectShapeTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/DuctTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/FamilyInstanceTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/FloorTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/OpeningTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/PipeTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/RoofTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/RoomTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/ScheduleTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/WallTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/WireTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/TestGenerator/Generator.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Structure and group
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.AdvanceSteel.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/Properties/StructureUtils.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivilShared.projitems
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix floors
  ConnectorRevit/ConnectorRevitTests.slnf
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFloor.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

don't save after close
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/SpeckleConversionFixture.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Cuts number in atomic element
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/Properties/PropertySets/AtomicElementProperties.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Path conditions:
  core: any of: Core/.*
  rhino: any of: (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.*
  revit: any of: (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.*
  dynamo: any of: (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.*
  autocadcivil: any of: (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.*
  csi: any of: (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.*
  bentley: any of: (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.*
  teklastructures: any of: (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.*
  archicad: any of: (Core|Objects|ConnectorArchicad)/.*
  navisworks: any of: (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.*
