Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.3.1
  python: circleci/python@2.0.3

jobs:
  setup:
    executor: python/default
    steps:
      - checkout # checkout code
      - path-filtering/set-parameters:
          mapping: |
            Core/.* run_core true
            (Core|Objects|ConnectorRhino|.*/ConverterRhinoGh)/.* rhino true
            (Core|Objects|ConnectorGrasshopper|.*/ConverterRhinoGh)/.* grasshopper true
            (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.* revit true
            (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.* dynamo true
            (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.* autocadcivil true
            (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.* csi true
            (Core|Objects|ConnectorMicroStation|.*/ConverterMicroStation)/.* microstation true
            (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.* teklastructures true
            (Core|Objects|ConnectorArchicad)/.* archicad true
          base-revision: main
          output-path: .circleci/scripts/parameters.json
      - run:
          name: LS scripts folders
          command: ls .circleci/scripts
      - run: cat .circleci/scripts/parameters.json
      - run: pip install pyyaml
      - run: # run a command
          name: Generate config
          command: |
            python .circleci/scripts/config-generator.py
      - continuation/continue:
          configuration_path: .circleci/continuation-config.yml # use newly generated config to continue

workflows:
  setup:
    jobs:
      - setup

a little reorg never hurt nobody
  ConnectorRevit/ConnectorRevit/ConnectorRevit.projitems
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Mappings.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Receive.cs
  DesktopUI2/DesktopUI2/ViewModels/MappingViewModel.cs
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/MappingView.xaml
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/MappingView.xaml.cs
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/MappingViewDialog.xaml
Due: revit

feat(core): adds additional props to UserInfoResponse
  Core/Core/Credentials/Responses.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Core/extra props (#1483)
  Core/Core/Credentials/Responses.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

typo
  README.md
Due: none

typo 2
  README.md
Due: none

minimal edit
  README.md
Due: none

readme typos (#1484)
  README.md
Due: none

comments updated
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertNetwork.cs
  Objects/Objects/Organization/Network.cs
  Objects/Objects/Organization/NetworkElement.cs
  Objects/Objects/Organization/NetworkLink.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

added brep and subd support to topography
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/BIMElements/BIMElementCommands.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/BIMElements/BIMElementFilter.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.BuiltElements.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Geometry.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

schema null error fix
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Format changed
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Remove now-redundant files
  .github/ISSUE_TEMPLATE/ISSUE_TEMPLATE.md
  .github/pull_request_template.md
Due: none

feat(rhino): add brep and subd support for rhino bim topography (#1487)
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/BIMElements/BIMElementCommands.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/BIMElements/BIMElementFilter.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.BuiltElements.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Geometry.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

forgot to delete deleted files from csproj file
  DesktopUI2/DesktopUI2/DesktopUI2.csproj
Due: none

continuing merging features into mappings
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Mappings.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Receive.cs
Due: revit

Cleaning up debug statements and unused code
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2 .Settings.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Mappings.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Receive.cs
  DesktopUI2/DesktopUI2/ConnectorBindings.cs
  DesktopUI2/DesktopUI2/ViewModels/MappingViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: revit

don't add types that are empty
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Mappings.cs
Due: revit

removed more stuff that I'm not using anymore
  DesktopUI2/DesktopUI2/DesktopUI2.csproj
  DesktopUI2/DesktopUI2/ViewModels/DesignViewModels/DesignMappingViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/SettingViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/SettingsPageViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  DesktopUI2/DesktopUI2/Views/Settings/ButtonSettingView.xaml
  DesktopUI2/DesktopUI2/Views/Settings/ButtonSettingView.xaml.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAnalyticalStick.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

just a one line formatting commit
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.cs
Due: revit

add default value for 'selection'
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2 .Settings.cs
  DesktopUI2/DesktopUI2/DummyBindings.cs
Due: revit

default value for multi-select box
  DesktopUI2/DesktopUI2/Models/Settings/MultiSelectBoxSetting.cs
Due: none

added binding to other connectors (should I do that)
  ConnectorArchicad/ConnectorArchicad/ConnectorBinding.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.cs
  ConnectorMicroStation/ConnectorMicroStationOpenShared/UI/Bindings2.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
Due: rhino, autocadcivil, csi, microstation, archicad

Revert "WIP for tekla structures mappings"
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/UI/ConnectorBindingsTeklaStructure.Settings.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/UI/ConnectorBindingsTeklaStructures.Receive.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/UI/ConnectorBindingsTeklaStructures.Selection.cs
Due: teklastructures

Implement binding for tekla structures
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/UI/ConnectorBindingsTeklaStructures.Selection.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/UI/ConnectorBindingsTeklaStructures.cs
Due: teklastructures

fix for receiving objects
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Recieve.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/UI/ConnectorBindingsTeklaStructures.Receive.cs
Due: csi, teklastructures

fix for receiving direct meshes from other softwares
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/ConverterTeklaStructures.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(gh): Manually create AppData/Roaming path from UserProfile
  Core/Core/Kits/KitManager.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix: Fixed wrong `AppData` user path on networked accounts + refactor
  ConnectorDynamo/ConnectorDynamoFunctions/Developer/Transport.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Transports/Transports.Sqlite.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/Plugin.cs
  Core/Core/Api/Helpers.cs
  Core/Core/Credentials/AccountManager.cs
  Core/Core/Kits/KitManager.cs
  Core/Core/Logging/Setup.cs
  Core/Core/Transports/SQLite.cs
  Core/Transports/DiskTransport/DiskTransport.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix: Fixed last refs to `ApplicationData` in favor of helper method
  Core/Tests/Fixtures.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.DxfImport.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

GitHub template update (#1488)
  .github/ISSUE_TEMPLATE/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE/PR_TEMPLATE.md
  .github/pull_request_template.md
  .github/workflows/close-issue.yml
  .github/workflows/open-issue.yml
  LICENSE
  SECURITY.md
Due: none

Update `release/2.8` from `main` (#1477)
  .github/ISSUE_TEMPLATE/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE/PR_TEMPLATE.md
  .github/pull_request_template.md
  .github/workflows/close-issue.yml
  .github/workflows/open-issue.yml
  ConnectorGrasshopper/ConnectorGrasshopper/Loader.cs
  ConnectorTeklaStructures/ConnectorTeklaStructures2020/Properties/AssemblyInfo.cs
  ConnectorTeklaStructures/ConnectorTeklaStructures2021/Properties/AssemblyInfo.cs
  LICENSE
  README.md
  SECURITY.md
Due: grasshopper, teklastructures

Revert "Update `release/2.8` from `main` (#1477)"
  .github/ISSUE_TEMPLATE/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE/PR_TEMPLATE.md
  .github/pull_request_template.md
  .github/workflows/close-issue.yml
  .github/workflows/open-issue.yml
  ConnectorGrasshopper/ConnectorGrasshopper/Loader.cs
  ConnectorTeklaStructures/ConnectorTeklaStructures2020/Properties/AssemblyInfo.cs
  ConnectorTeklaStructures/ConnectorTeklaStructures2021/Properties/AssemblyInfo.cs
  LICENSE
  README.md
  SECURITY.md
Due: grasshopper, teklastructures

Revert "Update `release/2.8` from `main`" (#1493)
  .github/ISSUE_TEMPLATE/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE/PR_TEMPLATE.md
  .github/pull_request_template.md
  .github/workflows/close-issue.yml
  .github/workflows/open-issue.yml
  ConnectorGrasshopper/ConnectorGrasshopper/Loader.cs
  ConnectorTeklaStructures/ConnectorTeklaStructures2020/Properties/AssemblyInfo.cs
  ConnectorTeklaStructures/ConnectorTeklaStructures2021/Properties/AssemblyInfo.cs
  LICENSE
  README.md
  SECURITY.md
Due: grasshopper, teklastructures

Archicad/dotnet5 (#1479)
  .circleci/scripts/config-template.yml
Due: none

Dui/connor/show default values (#1490)
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2 .Settings.cs
  DesktopUI2/DesktopUI2/DummyBindings.cs
  DesktopUI2/DesktopUI2/Models/Settings/MultiSelectBoxSetting.cs
Due: revit

Update `main` with changes from `release/2.7` (#1494)
  .circleci/scripts/config-template.yml
  ConnectorArchicad/ConnectorArchicad/ConnectorArchicad.csproj
Due: archicad

added missing import
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.cs
Due: csi

fix(gh): Same offset for output "Extract parameter" as for input behaviour, but to the right
  ConnectorGrasshopper/ConnectorGrasshopper/Extras/SpeckleStatefulParam.cs
Due: grasshopper

added progress bar and is progressing to preview
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  DesktopUI2/DesktopUI2/Controls/PreviewButton.xaml
  DesktopUI2/DesktopUI2/Controls/ReceiveButton.xaml
  DesktopUI2/DesktopUI2/Controls/SendButton.xaml
  DesktopUI2/DesktopUI2/ViewModels/ProgressViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: rhino

improved report object descriptors
  ConnectorRevit/ConnectorRevit/ConnectorRevitUtils.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Receive.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Send.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Utils.cs
  DesktopUI2/DesktopUI2/ViewModels/ApplicationObjectViewModel.cs
Due: rhino, revit
