Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fixes stored meshes when re-receiving the same commit with different settings
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.Receive.cs
Due: rhino

fixes null parameter values
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.BuiltElements.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Convert and bake objects for AutoCAD
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Bindings/ReceiveBinding.cs
  DUI3.sln
  DesktopUI3/DUI3/Models/DocumentModelStore.cs
  DesktopUI3/DUI3/Objects/ConversionContext.cs
  DesktopUI3/DUI3/Objects/ISpeckleHostObject.cs
  DesktopUI3/DUI3/Objects/ReportObject.cs
  DesktopUI3/DUI3/Objects/SpeckleHostObject.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/Converter.AutocadCivil.Utils.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Other.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(gh): fixes OutputChange bug in DSO that was forcing a param rebuild everytime
  ConnectorGrasshopper/ConnectorGrasshopperShared/Objects/DeconstructSpeckleObjectTaskComponent.cs
Due: rhino

fix(gh): Ensure params are sorted on every change, even single rename
  ConnectorGrasshopper/ConnectorGrasshopperShared/Objects/DeconstructSpeckleObjectTaskComponent.cs
Due: rhino

chore: adds missing csprojs to slns
  ConnectorAutocadCivil/ConnectorAutocadCivil.sln
  Objects/Objects.sln
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

chore: adds missing csprojs to slns (#2897)
  ConnectorAutocadCivil/ConnectorAutocadCivil.sln
  Objects/Objects.sln
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(gh): fixes OutputChange bug in DSO that was forcing a param rebuild everytime (#2895)
  ConnectorGrasshopper/ConnectorGrasshopperShared/Objects/DeconstructSpeckleObjectTaskComponent.cs
Due: rhino

no longer treats model collections as convertable
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.Receive.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Update ConnectorBindingsRhino.Receive.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.Receive.cs
Due: rhino

fix(rhino): various bugs when receiving (#2898)
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.Receive.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.BuiltElements.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fixes
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertBeam.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertColumn.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFloor.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRoof.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertWall.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Receive via Revit
  ConnectorRevit/RevitDUI3/Revit2020DUI3/Revit2020DUI3.csproj
  ConnectorRevit/RevitDUI3/Revit2023DUI3/Revit2023DUI3.csproj
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/Factory.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/ReceiveBinding.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/RevitDUI3Shared.projitems
  DUI3.sln
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertCurves.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertDirectShape.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

chore(revit): update some settings description and dialog message
  ConnectorRevit/ConnectorRevit/ConnectorRevit.projitems
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Settings.cs
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/MissingIncomingTypesDialog.xaml
Due: revit

Add baseline to Column
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/ColumnConverter.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertColumn.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Wording alignment between web and dui. Improved semantics
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/NewStreamDialog.xaml
Due: none

fix(DUI): Wording alignment between web and dui. Improved semantics. (#2901)
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/NewStreamDialog.xaml
Due: none

chore: exit text
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Settings.cs
Due: revit

chore(revit): update some settings description and dialog message (#2899)
  ConnectorRevit/ConnectorRevit/ConnectorRevit.projitems
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Settings.cs
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/MissingIncomingTypesDialog.xaml
Due: revit

dont bake mullions
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevitShared.projitems
  Objects/Converters/ConverterRevit/ConverterRevitShared/Extensions/CategoryExtensions.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertWall.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Fix(Revit) : dont bake standalone mullions or panels (#2902)
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevitShared.projitems
  Objects/Converters/ConverterRevit/ConverterRevitShared/Extensions/CategoryExtensions.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertWall.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

adds null check for category assignment in receive direct shape method
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertDirectShape.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRailing.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Pass model card id to UI to create version
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/SendBinding.cs
  DesktopUI3/DUI3/Bindings/ISendBinding.cs
  DesktopUI3/DUI3/Models/ModelCard.cs
Due: rhino

feat(Revit): Unnecessary Archicad levels created on receive to Revit (#2886)
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/ColumnConverter.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertBeam.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertColumn.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFloor.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertLevel.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRoof.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertWall.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(revit): creates a subsets of categories for Block > Family Instance mapping
  DesktopUI2/DesktopUI2/ViewModels/MappingTool/Schemas.cs
  Objects/Objects/BuiltElements/Revit/Enums.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

check for child elements in view instead of all elements in view
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertWall.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

rename variable
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertWall.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(rvt): Use RevitFamilyCategory on ConvertBlock logic
  Objects/Converters/ConverterRevit/ConverterRevitShared/Categories.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertBlock.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(revit): Category not assigned to Blocks>NewFamily (#2903)
  DesktopUI2/DesktopUI2/ViewModels/MappingTool/Schemas.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Categories.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertBlock.cs
  Objects/Objects/BuiltElements/Revit/Enums.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(rvt): Modified revit traversal to prevent traversing displayable objects
  Core/Core/Models/GraphTraversal/DefaultTraversal.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Revert Geometry to System.Numerics
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Geometry.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

adds category helper method to retrieve revit category from BIC
  Objects/Converters/ConverterRevit/ConverterRevitShared/Categories.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertBlock.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertDirectShape.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFreeformElement.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Import System.DoubleNumerics instead of System.Numerics
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Geometry.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(navis): no geometry sent (#2909)
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Geometry.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(revit): do not show map types dialog if DS falback set to always
  ConnectorRevit/ConnectorRevit/TypeMapping/ElementTypeMapper.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Settings.cs
Due: revit

chore: more info in tooltip
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Settings.cs
Due: revit

adds method to skip nested elements in the converter and uses it for curtain wall conversions
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertWall.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Update ConvertWall.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertWall.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Update ConnectorBindingsRevit.Receive.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
Due: revit

Path conditions:
  core: any of: Core/.*
  rhino: any of: (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.*
  revit: any of: (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.*
  dynamo: any of: (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.*
  autocadcivil: any of: (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.*
  csi: any of: (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.*
  bentley: any of: (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.*
  teklastructures: any of: (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.*
  archicad: any of: (Core|Objects|ConnectorArchicad)/.*
  navisworks: any of: (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.*
