Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.3.1
  python: circleci/python@2.0.3

jobs:
  setup:
    executor: python/default
    steps:
      - checkout # checkout code
      - when:
          condition:
            and:
              - not:
                  equal: [main, << pipeline.git.branch >>]
              - not:
                  matches:
                    pattern: ".*/?ci/.*"
                    value: << pipeline.git.branch >>
              - not:
                  matches:
                    pattern: ".*/all$"
                    value: << pipeline.git.tag >>
          steps:
            - run: git branch internal_circleci
            - path-filtering/set-parameters:
                mapping: |
                  Core/.* core true
                  (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.* rhino true
                  (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.* revit true
                  (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.* dynamo true
                  (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.* autocadcivil true
                  (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.* csi true
                  (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.* bentley true
                  (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.* teklastructures true
                  (Core|Objects|ConnectorArchicad)/.* archicad true
                  (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.* navisworks true
                base-revision: main
                output-path: .circleci/scripts/parameters.json
      - run: cat .circleci/scripts/parameters.json
      - run: pip install pyyaml
      - run: # run a command
          name: Generate config
          command: |
            python .circleci/scripts/config-generator.py -d ${CIRCLE_TAG:-none} -o .circleci/continuation-config.yml -e ${CIRCLE_PR_REPONAME:-none}
      - continuation/continue:
          configuration_path: .circleci/continuation-config.yml # use newly generated config to continue
workflows:
  setup:
    jobs:
      - setup:
          name: Build Setup
      - setup:
          name: Deploy Setup
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^(nugets\/)?([0-9]+)\.([0-9]+)\.([0-9]+)(?:-\w+)?(\/all)?$/

feat(core): Added InvalidPropName exception to DynamicBase (#2257)
  Core/Core/Models/DynamicBase.cs
  Core/Core/Models/InvalidPropNameException.cs
  Core/Tests/BaseTests.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

finishes collection receive functionality
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

chore: updates some dependencies
  Core/Core/Core.csproj
  Objects/Converters/ConverterDxf/ConverterDxf/ConverterDxf.csproj
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat: replaces material.avalonia with our own fork that does not reference newtonsoft.json
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Mappings.cs
  DesktopUI2/DesktopUI2/DesktopUI2.csproj
Due: revit

Shared coordinate support for linked models (#2229)
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Send.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAdaptiveComponent.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAnalyticalNode.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAnalyticalStick.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAnalyticalSurface.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertCurves.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertDirectShape.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertDuct.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFloor.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertGeometry.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertGridLine.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertLevel.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertLocation.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertMeshUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertModel.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertNetwork.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertOpening.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertPipe.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRailing.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRebar.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRoof.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertStair.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertView.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertWall.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertWire.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Use Speckle.Newtonsoft.Json in Arhicad Connector
  ConnectorArchicad/ConnectorArchicad/Communication/CommandRequest.cs
  ConnectorArchicad/ConnectorArchicad/Communication/CommandResponse.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_CreateBeam.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_CreateColumn.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_CreateDirectShape.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_CreateDoor.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_CreateFloor.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_CreateObject.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_CreateRoom.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_CreateWall.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_CreateWindow.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetBeamData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetColumnData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetDoorData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetElementIds.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetElementType.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetFloorData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetModelOfElements.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetObjectData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetProjectInfo.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetRoomData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetSubelementInfo.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetWallData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetWindowData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/HttpCommandExecutor.cs
  ConnectorArchicad/ConnectorArchicad/Model/MeshModel.cs
Due: archicad

Special Part speckle object Update ApplicationObject with AS type description
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Utils.cs
  Core/Core/Models/Extras.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.AdvanceSteel.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.DxfNames.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AdvanceSteelBolt.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AdvanceSteelSpecialPart.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Polycurve Validations
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Geometry.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(AdvanceSteel): Special Part To Speckle Object (#2261)
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Utils.cs
  Core/Core/Models/Extras.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.AdvanceSteel.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.DxfNames.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AdvanceSteelBolt.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AdvanceSteelSpecialPart.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(Autocad) - Polycurve Validations (#2262)
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Geometry.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(dui): tracks if isMultiplayer on receive
  All.sln
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
  ConnectorBentley/ConnectorBentleyShared/UI/Bindings.cs
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Recieve.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/SchemaBuilder/SchemaBuilderGen.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/UI/ConnectorBindingsTeklaStructures.Receive.cs
  DesktopUI2/DesktopUI2/Models/StreamState.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: rhino, revit, autocadcivil, csi, bentley, teklastructures

fix: updates sqlitepclraw.lib.e_sqlite3 version
  ConnectorGrasshopper/ConnectorGrasshopperShared/SchemaBuilder/SchemaBuilderGen.cs
  ConnectorRhino/ConnectorRhino7/ConnectorRhino7.csproj
Due: rhino

feat(dui2): Improved receive exception handling
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  ConnectorRhino/ConnectorRhino6/ConnectorRhino6.csproj
  Core/Core/Api/Operations/Operations.Receive.cs
  Core/Core/Core.csproj
  Core/Core/Kits/ISpeckleKit.cs
  Core/Core/Kits/KitDeclaration.cs
  Core/Core/Kits/KitManager.cs
  Core/Core/Models/Base.cs
  Core/IntegrationTests/Fixtures.cs
  DesktopUI2/DesktopUI2/ConnectorBindings.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  Objects/Objects/Objects.csproj
  Objects/Objects/ObjectsKit.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

added speckle specific utils
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/BrepTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/ConverterRevitTestsShared.projitems
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/SpeckleConversionFixture.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/SpeckleConversionTest.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/SpeckleUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

5 strategies for collection handling
  ConnectorNavisworks/ConnectorNavisworks.sln
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Selections.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Settings.cs
  ConnectorNavisworks/ConnectorNavisworks/Entry/SpeckleNavisworksCommand.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Properties.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToSpeckle.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Utils.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworksShared.projitems
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/Objects/ConverterNavisworks.Collections.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/Objects/ConverterNavisworks.Objects.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(core): fixed cancelation token exception handling in core
  ConnectorGrasshopper/ConnectorGrasshopperShared/BaseComponents/SelectKitAsyncComponentBase.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/BaseComponents/SelectKitTaskCapableComponentBase.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  Core/Core/Api/GraphQL/Client.cs
  Core/Core/Api/Helpers.cs
  Core/Core/Api/Operations/Operations.Receive.cs
  Core/Core/Api/Operations/Operations.Send.cs
  Core/Core/Credentials/Account.cs
  Core/Core/Helpers/Http.cs
  Core/Core/Logging/SpeckleException.cs
  Core/Core/Serialisation/BaseObjectDeserializerV2.cs
  Core/Core/Serialisation/BaseObjectSerializer.cs
  Core/Core/Serialisation/BaseObjectSerialzerUtilities.cs
  Core/IntegrationTests/Fixtures.cs
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

chore: Change `Material.Icons.Avalonia` for our own `Speckle.Material.Icons.Avalonia` package (#2260)
  ConnectorArchicad/ConnectorArchicad/Communication/CommandRequest.cs
  ConnectorArchicad/ConnectorArchicad/Communication/CommandResponse.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_CreateBeam.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_CreateColumn.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_CreateDirectShape.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_CreateDoor.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_CreateFloor.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_CreateObject.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_CreateRoom.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_CreateWall.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_CreateWindow.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetBeamData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetColumnData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetDoorData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetElementIds.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetElementType.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetFloorData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetModelOfElements.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetObjectData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetProjectInfo.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetRoomData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetSubelementInfo.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetWallData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetWindowData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/HttpCommandExecutor.cs
  ConnectorArchicad/ConnectorArchicad/Model/MeshModel.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/SchemaBuilder/SchemaBuilderGen.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Mappings.cs
  ConnectorRhino/ConnectorRhino7/ConnectorRhino7.csproj
  Core/Core/Core.csproj
  DesktopUI2/DesktopUI2/DesktopUI2.csproj
  Objects/Converters/ConverterDxf/ConverterDxf/ConverterDxf.csproj
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Cleanup
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  DesktopUI2/DesktopUI2/DummyBindings.cs
  DesktopUI2/DesktopUI2/ViewModels/OneClickViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/ProgressViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: rhino

More straightforward adoption of the Organization.Collections class
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Settings.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Properties.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToSpeckle.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Utils.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/Objects/ConverterNavisworks.Collections.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(gh): Extract parameter position is now consistent
  ConnectorGrasshopper/ConnectorGrasshopperShared/Extras/SpeckleStatefulParam.cs
Due: rhino

removed polysharp dependency for experimentation
  Core/Core/Core.csproj
  Objects/Objects/Objects.csproj
  Objects/Objects/ObjectsKit.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Reworked Object Tree routine and Connector>Converter loop
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Objects.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Selections.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Settings.cs
Due: navisworks

feat(dui): tracks if isMultiplayer on receive (#2263)
  All.sln
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
  ConnectorBentley/ConnectorBentleyShared/UI/Bindings.cs
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Recieve.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/UI/ConnectorBindingsTeklaStructures.Receive.cs
  DesktopUI2/DesktopUI2/Models/StreamState.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: rhino, revit, autocadcivil, csi, bentley, teklastructures

feat: forces the use of english names when grouping objects on send (#2256)
  ConnectorRevit/ConnectorRevit/ConnectorRevitUtils.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Send.cs
Due: revit

add xUnitRevit as submodule
  .gitmodules
Due: none

add refs to submodule
  ConnectorRevit/ConnectorRevit.sln
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTests2021/ConverterRevitTests2021.csproj
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTests2023/ConverterRevitTests2023.csproj
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/SpeckleConversionFixture.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(xUnit): don't close files if tests fail
  ConnectorRevit/ConnectorRevit.sln
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/AdaptiveComponentTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/BeamTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/BrepTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/ColumnTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/CurveTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/DirectShapeTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/DuctTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/FamilyInstanceTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/FloorTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/OpeningTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/PipeTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/RoofTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/RoomTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/SpeckleConversionFixture.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/SpeckleConversionTest.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/WallTests.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/WireTests.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Native AS Grating to Speckle
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.AdvanceSteel.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.DxfNames.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AdvanceSteelGrating.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

silence speckle connector
  ConnectorRevit/ConnectorRevit/Entry/App.cs
Due: revit

only run one test fixture at a time
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/SpeckleConversionFixture.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/SpeckleUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Specializing Polybeam structure
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/Converter.AutocadCivil.ASGeometry.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.AdvanceSteel.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Geometry.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivilShared.projitems
  Objects/Objects/BuiltElements/AdvanceSteel/AdvanceSteelPolyBeam.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AdvanceSteelStraightBeam.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Created CheckAdvanceSteelObject function
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Utils.cs
Due: autocadcivil

fix(rvt): Regenerate doc after creating freeform instance
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFaceWall.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(gh): Extract parameter position is now consistent (#2275)
  ConnectorGrasshopper/ConnectorGrasshopperShared/Extras/SpeckleStatefulParam.cs
Due: rhino
