Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.3.1
  python: circleci/python@2.0.3

jobs:
  setup:
    executor: python/default
    steps:
      - checkout # checkout code
      - when:
          condition:
            and:
              - not:
                  equal: [main, << pipeline.git.branch >>]
              - not:
                  matches:
                    pattern: ".*/?ci/.*"
                    value: << pipeline.git.branch >>
              - not:
                  matches:
                    pattern: ".*/all$"
                    value: << pipeline.git.tag >>
          steps:
            - run: git branch internal_circleci
            - path-filtering/set-parameters:
                mapping: |
                  Core/.* core true
                  (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.* rhino true
                  (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.* revit true
                  (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.* dynamo true
                  (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.* autocadcivil true
                  (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.* csi true
                  (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.* bentley true
                  (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.* teklastructures true
                  (Core|Objects|ConnectorArchicad)/.* archicad true
                  (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.* navisworks true
                base-revision: main
                output-path: .circleci/scripts/parameters.json
      - run: cat .circleci/scripts/parameters.json
      - run: pip install pyyaml
      - run: # run a command
          name: Generate config
          command: |
            python .circleci/scripts/config-generator.py -d ${CIRCLE_TAG:-none} -o .circleci/continuation-config.yml -e ${CIRCLE_PR_REPONAME:-none}
      - continuation/continue:
          configuration_path: .circleci/continuation-config.yml # use newly generated config to continue
workflows:
  setup:
    jobs:
      - setup:
          name: Build Setup
      - setup:
          name: Deploy Setup
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^(nugets\/)?([0-9]+)\.([0-9]+)\.([0-9]+)(?:-\w+)?(\/all)?$/

Card setting for receive
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/ReceiveBinding.cs
Due: rhino

Rename default to value for setting data
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/ReceiveBinding.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/SendBinding.cs
  DesktopUI3/DUI3/Settings/CardSetting.cs
Due: rhino

chore: Minor editorconfig changes.
  .editorconfig
Due: none

chore: Lower most Rider warnings to suggestions
  All.sln.DotSettings
Due: none

fix (navisworks): Handle calling Clash API and receiving nothing back (#3056)
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Filters.cs
  ConnectorNavisworks/ConnectorNavisworks/Entry/SpeckleNavisworksCommand.cs
Due: navisworks

chore!(core): Cleanup base object serializer v2
  Core/Core/Api/Operations/Operations.Send.cs
  Core/Core/Models/Base.cs
  Core/Core/Serialisation/BaseObjectSerializerV2.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

chore: Minor tweaks to warning settings (#3064)
  .editorconfig
  All.sln.DotSettings
Due: none

fix(core): Autofix for IDE0005 (#3060)
  .editorconfig
  Automate/Speckle.Automate.Sdk/AutomationContext.cs
  ConnectorCore/BatchUploader.OperationDriver/BatchUploader.OperationDriver.csproj
  ConnectorCore/BatchUploader.Sdk/BatchUploader.Sdk.csproj
  Core/Core/Api/GraphQL/Models.cs
  Core/Core/Api/Helpers.cs
  Core/Core/Credentials/Account.cs
  Core/Core/Credentials/AccountManager.cs
  Core/Core/Helpers/Http.cs
  Core/Core/Logging/CumulativeTimer.cs
  Core/Core/Models/CommitObjectBuilder.cs
  Core/Core/Models/DynamicBase.cs
  Core/Core/Serialisation/BaseObjectSerializer.cs
  Core/Core/Serialisation/BaseObjectSerializerV2.cs
  Directory.Build.props
  Objects/Objects/BuiltElements/AdvanceSteel/AsteelGrating.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AsteelPlate.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AsteelSlab.cs
  Objects/Objects/BuiltElements/Archicad/Classification.cs
  Objects/Objects/BuiltElements/Duct.cs
  Objects/Objects/BuiltElements/Featureline.cs
  Objects/Objects/BuiltElements/GridLine.cs
  Objects/Objects/BuiltElements/Rebar.cs
  Objects/Objects/BuiltElements/Revit/Interfaces/IHasMEPConnectors.cs
  Objects/Objects/BuiltElements/Revit/RevitCurtainWallPanel.cs
  Objects/Objects/BuiltElements/Revit/RevitMEPConnector.cs
  Objects/Objects/BuiltElements/Room.cs
  Objects/Objects/BuiltElements/Zone.cs
  Objects/Objects/GIS/GisTopography.cs
  Objects/Objects/GIS/PolygonElement.cs
  Objects/Objects/Geometry/PolylineExtensions.cs
  Objects/Objects/Organization/DataTable.cs
  Objects/Objects/Structural/ApplicationSpecific/ETABS/Geometry/CSIElement1D.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

chore: Silence Bentley and AdvanceSteel warnings on CI
  ConnectorAutocadCivil/AdvanceSteelAddinRegistrator/AdvanceSteelAddinRegistrator.csproj
  ConnectorAutocadCivil/ConnectorAdvanceSteel2023/ConnectorAdvanceSteel2023.csproj
  ConnectorAutocadCivil/ConnectorAdvanceSteel2024/ConnectorAdvanceSteel2024.csproj
  ConnectorBentley/ConnectorMicroStation/ConnectorMicroStation.csproj
  ConnectorBentley/ConnectorOpenBuildings/ConnectorOpenBuildings.csproj
  ConnectorBentley/ConnectorOpenRail/ConnectorOpenRail.csproj
  ConnectorBentley/ConnectorOpenRoads/ConnectorOpenRoads.csproj
  Objects/Converters/ConverterAutocadCivil/ConverterAdvanceSteel2023/ConverterAdvanceSteel2023.csproj
  Objects/Converters/ConverterAutocadCivil/ConverterAdvanceSteel2024/ConverterAdvanceSteel2024.csproj
  Objects/Converters/ConverterBentley/ConverterMicroStation/ConverterMicroStation.csproj
  Objects/Converters/ConverterBentley/ConverterOpenBuildings/ConverterOpenBuildings.csproj
  Objects/Converters/ConverterBentley/ConverterOpenRail/ConverterOpenRail.csproj
  Objects/Converters/ConverterBentley/ConverterOpenRoads/ConverterOpenRoads.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(tekla): Remove space from `Partial Classes` folder
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/ConverterTeklaStructuresShared.projitems
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/PartialClasses/ConvertBeam.cs
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/PartialClasses/ConvertBentPlate.cs
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/PartialClasses/ConvertBolts.cs
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/PartialClasses/ConvertBooleanPart.cs
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/PartialClasses/ConvertContourPlate.cs
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/PartialClasses/ConvertDirectShapeMesh.cs
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/PartialClasses/ConvertFitting.cs
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/PartialClasses/ConvertLoftedPlates.cs
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/PartialClasses/ConvertModel.cs
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/PartialClasses/ConvertPoint.cs
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/PartialClasses/ConvertPolyBeam.cs
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/PartialClasses/ConvertPolygonWelds.cs
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/PartialClasses/ConvertRebar.cs
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/PartialClasses/ConvertSpiralBeam.cs
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/PartialClasses/ConvertWelds.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(dyn): REVERT THIS AT THE END. Fix dynamo build on mac for cleanup
  ConnectorDynamo/ConnectorDynamo/ConnectorDynamo.csproj
  ConnectorDynamo/ConnectorDynamoFunctions/ConnectorDynamoFunctions.csproj
  Directory.Build.props
Due: dynamo

fix(IDE0022): Use block body for method
  ConnectorArchicad/ConnectorArchicad/Converters/ConverterArchicad.cs
  ConnectorArchicad/ConnectorArchicad/Model/MeshModel.cs
  ConnectorArchicad/ConnectorArchicad/Program.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Entry/App.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Entry/SpeckleAutocadCommand.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Utils.cs
  ConnectorBentley/ConnectorBentleyShared/Entry/SpeckleBentleyCommand.cs
  ConnectorBentley/ConnectorBentleyShared/UI/Bindings.cs
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.cs
  ConnectorCSI/ConnectorCSIShared/cPlugin.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Collections/GH_SpeckleCollection.cs
  ConnectorRevit/ConnectorRevit/Entry/SpeckleRevitCommand.cs
  ConnectorRevit/ConnectorRevit/TypeMapping/ElementTypeMapper.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.cs
  ConnectorRevit/RevitSharedResources/Models/APIContext.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/MainForm.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/UI/ConnectorBindingsTeklaStructures.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.cs
  Objects/Converters/ConverterBentley/ConverterBentleyShared/ConverterBentley.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSI.cs
  Objects/Converters/ConverterDxf/ConverterDxf/SpeckleDxfConverter.Geometry.cs
  Objects/Converters/ConverterDxf/ConverterDxf/SpeckleDxfConverter.Settings.cs
  Objects/Converters/ConverterDxf/ConverterDxf/SpeckleDxfConverter.cs
  Objects/Converters/ConverterDynamo/ConverterDynamoShared/ConverterDynamo.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.MeshBuildHelper.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/DirectContext3DServer.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertFitting.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/TestGenerator/TestTemplate.cs
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/ConverterTeklaStructures.cs
  Objects/Converters/StructuralUtilities/PolygonMesher/ClosedLoop.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Revert "fix(IDE0022): Use block body for method"
  ConnectorArchicad/ConnectorArchicad/Converters/ConverterArchicad.cs
  ConnectorArchicad/ConnectorArchicad/Model/MeshModel.cs
  ConnectorArchicad/ConnectorArchicad/Program.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Entry/App.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Entry/SpeckleAutocadCommand.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Utils.cs
  ConnectorBentley/ConnectorBentleyShared/Entry/SpeckleBentleyCommand.cs
  ConnectorBentley/ConnectorBentleyShared/UI/Bindings.cs
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.cs
  ConnectorCSI/ConnectorCSIShared/cPlugin.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Collections/GH_SpeckleCollection.cs
  ConnectorRevit/ConnectorRevit/Entry/SpeckleRevitCommand.cs
  ConnectorRevit/ConnectorRevit/TypeMapping/ElementTypeMapper.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.cs
  ConnectorRevit/RevitSharedResources/Models/APIContext.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/MainForm.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/UI/ConnectorBindingsTeklaStructures.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.cs
  Objects/Converters/ConverterBentley/ConverterBentleyShared/ConverterBentley.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSI.cs
  Objects/Converters/ConverterDxf/ConverterDxf/SpeckleDxfConverter.Geometry.cs
  Objects/Converters/ConverterDxf/ConverterDxf/SpeckleDxfConverter.Settings.cs
  Objects/Converters/ConverterDxf/ConverterDxf/SpeckleDxfConverter.cs
  Objects/Converters/ConverterDynamo/ConverterDynamoShared/ConverterDynamo.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.MeshBuildHelper.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/DirectContext3DServer.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertFitting.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/TestGenerator/TestTemplate.cs
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/ConverterTeklaStructures.cs
  Objects/Converters/StructuralUtilities/PolygonMesher/ClosedLoop.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat: Expression body for methods is suggestion now
  .editorconfig
Due: none

chore: Enforce husky setup on restore
  Core/Core/Core.csproj
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix: PEBKAC 🤦🏼‍♂️
  Core/Core/Core.csproj
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Warnings for our first set of warnings
  Directory.Build.props
Due: none

feat(ci): Enforce csharpier formatting
  .circleci/scripts/config-template.yml
Due: none

fix(ci): Wrong yaml indent and format
  .circleci/scripts/config-template.yml
Due: none

fix(tests): IsDesktopBuild passed to tests in core
  .circleci/scripts/config-template.yml
Due: none

fix(ci): Disable auto pre-commit hook install
  Core/Core/Core.csproj
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

removed accidental push of warning as error
  Directory.Build.props
Due: none

Revert "fix(dyn): REVERT THIS AT THE END. Fix dynamo build on mac for cleanup"
  ConnectorDynamo/ConnectorDynamo/ConnectorDynamo.csproj
  ConnectorDynamo/ConnectorDynamoFunctions/ConnectorDynamoFunctions.csproj
Due: dynamo

ci: Show all warnings on CI builds
  .circleci/scripts/config-template.yml
Due: none

fix(all): Do not allow IDE0005 on CI
  Directory.Build.props
Due: none

fix(ci): GenerateDocumentationFile is required for IDE0005 to run on CI
  Directory.Build.props
Due: none

fix(ci): Allow warnings on all CI jobs
  .circleci/scripts/config-template.yml
Due: none

fix(gh): IDE0005 for Grasshopper connector
  ConnectorGrasshopper/ConnectorGrasshopperShared/Collections/FlattenCollectionComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Objects/CreateSpeckleObjectTaskComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/SchemaBuilder/CreateSchemaObjectBase.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/SchemaBuilder/SchemaBuilderGen.tt
  ConnectorGrasshopper/ConnectorGrasshopperUtils/UserInterfaceUtils.cs
Due: rhino

fix(rhino): IDE0005 for Rhino connector
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/Plugin.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/SpeckleCommandMac.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/SpeckleCommandWin.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/SpeckleMappingsCommandMac.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/SpeckleMappingsCommandWin.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.Send.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.Settings.cs
Due: rhino

fix(rh/gh): IDE0005 for Rhino/Grasshopper shared converter
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Mappings.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Organization.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Structural.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(rhino/grasshopper): Fix IDE0005 Redundant Using Statements (#3072)
  ConnectorGrasshopper/ConnectorGrasshopperShared/Collections/FlattenCollectionComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Objects/CreateSpeckleObjectTaskComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/SchemaBuilder/CreateSchemaObjectBase.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/SchemaBuilder/SchemaBuilderGen.tt
  ConnectorGrasshopper/ConnectorGrasshopperUtils/UserInterfaceUtils.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/Plugin.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/SpeckleCommandMac.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/SpeckleCommandWin.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/SpeckleMappingsCommandMac.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/SpeckleMappingsCommandWin.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.Send.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.Settings.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Mappings.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Organization.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Structural.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks
