Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.3.1
  python: circleci/python@2.0.3

jobs:
  setup:
    executor: python/default
    steps:
      - checkout # checkout code
      - when:
          condition:
            and:
              - not:
                  equal: [main, << pipeline.git.branch >>]
              - not:
                  matches:
                    pattern: ".*/?ci/.*"
                    value: << pipeline.git.branch >>
              - not:
                  matches:
                    pattern: ".*/all$"
                    value: << pipeline.git.tag >>
          steps:
            - run: git branch internal_circleci
            - path-filtering/set-parameters:
                mapping: |
                  Core/.* core true
                  (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.* rhino true
                  (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.* revit true
                  (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.* dynamo true
                  (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.* autocadcivil true
                  (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.* csi true
                  (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.* bentley true
                  (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.* teklastructures true
                  (Core|Objects|ConnectorArchicad)/.* archicad true
                  (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.* navisworks true
                base-revision: main
                output-path: .circleci/scripts/parameters.json
      - run: cat .circleci/scripts/parameters.json
      - run: pip install pyyaml
      - run: # run a command
          name: Generate config
          command: |
            python .circleci/scripts/config-generator.py -d ${CIRCLE_TAG:-none} -o .circleci/continuation-config.yml -e ${CIRCLE_PR_REPONAME:-none}
      - continuation/continue:
          configuration_path: .circleci/continuation-config.yml # use newly generated config to continue
workflows:
  setup:
    jobs:
      - setup:
          name: Build Setup
      - setup:
          name: Deploy Setup
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^(nugets\/)?([0-9]+)\.([0-9]+)\.([0-9]+)(?:-\w+)?(\/all)?$/

Add UseWpf flag and correct csproj path
  ConnectorNavisworks/ConnectorNavisworks.slnf
  ConnectorNavisworks/ConnectorNavisworks2024/ConnectorNavisworks2024.csproj
Due: navisworks

refactor(repo): Minor tweaks to All.sln, props and editorconfig
  .editorconfig
  All.sln
  Directory.Build.props
Due: none

feat(dui): Upgraded launcher and wpf projects to net6.0
  DesktopUI2/DesktopUI2.Launcher/DesktopUI2.Launcher.csproj
  DesktopUI2/DesktopUI2.WPF/DesktopUI2.WPF.csproj
Due: none

fix(Navisworks): Adds <UseWpf> to projects to enable CICD builds on linux/mac (#2377)
  ConnectorNavisworks/ConnectorNavisworks2020/ConnectorNavisworks2020.csproj
  ConnectorNavisworks/ConnectorNavisworks2021/ConnectorNavisworks2021.csproj
  ConnectorNavisworks/ConnectorNavisworks2022/ConnectorNavisworks2022.csproj
  ConnectorNavisworks/ConnectorNavisworks2023/ConnectorNavisworks2023.csproj
Due: navisworks

cleanup(all): Minor changes in EditorConfig, All.sln, DUI and Props file (#2380)
  .editorconfig
  All.sln
  DesktopUI2/DesktopUI2.Launcher/DesktopUI2.Launcher.csproj
  DesktopUI2/DesktopUI2.WPF/DesktopUI2.WPF.csproj
  Directory.Build.props
Due: none

refactor(navis): Cleaned up 2024 converter project
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2024/ConverterNavisworks2024.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Adopt cleaner Converter project
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2020/ConverterNavisworks2020.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2021/ConverterNavisworks2021.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2022/ConverterNavisworks2022.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2023/ConverterNavisworks2023.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2024/ConverterNavisworks2024.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Correct build target configurations
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2020/ConverterNavisworks2020.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2021/ConverterNavisworks2021.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2022/ConverterNavisworks2022.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2023/ConverterNavisworks2023.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2024/ConverterNavisworks2024.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

build target corrected ... again
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2020/ConverterNavisworks2020.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2021/ConverterNavisworks2021.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2022/ConverterNavisworks2022.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2023/ConverterNavisworks2023.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2024/ConverterNavisworks2024.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

remove unused imports
  Objects/Objects/Organization/DataTable.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

optimized data storage
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertView.Schedule.cs
  Objects/Objects/Organization/DataTable.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Slab
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.AdvanceSteel.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.Bolts.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.DxfNames.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.Gratings.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.Plates.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.Slabs.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.SpecialParts.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivilShared.projitems
  Objects/Objects/BuiltElements/AdvanceSteel/AsteelSlab.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Use minimal version Rhino packages for ETO WebVeiw2 (7.16)
  ConnectorRhino/ConnectorRhino7/ConnectorRhino7.csproj
Due: rhino

feat(mapping): Added support for planar curve -> beam
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/MappingBindingsRhino.cs
Due: rhino

fix(mapping): Added tolerance based comparison between dobules
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/MappingBindingsRhino.cs
Due: rhino

fix(rhino/mapping): Added tolerance based comparison between dobules (#2385)
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/MappingBindingsRhino.cs
Due: rhino

adding simpler table
  Objects/Objects/Organization/DataTable.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(revit): DirectShape material now showing when sent from Rhino Mapping tool
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(mapping): Added support for planar curve -> beam (#2384)
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/MappingBindingsRhino.cs
Due: rhino

Revert "Fix(CSiBridge): remove objs ref (#2372)"
  ConnectorCSI/ConnectorCSIBridge/ConnectorCSIBridge.csproj
Due: csi

Civil2023 and AdvanceSteel2023 Converter projects added into solution filter Xcopy of Triangle.NET changed from ConverterAdvanceSteel2023
  ConnectorAutocadCivil/ConnectorAutocadCivil.slnf
  Objects/Converters/ConverterAutocadCivil/ConverterAdvanceSteel2023/ConverterAdvanceSteel2023.csproj
  Objects/Converters/StructuralUtilities/Triangle/Triangle.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Revert "Civil2023 and AdvanceSteel2023 Converter projects added into solution filter"
  ConnectorAutocadCivil/ConnectorAutocadCivil.slnf
  Objects/Converters/ConverterAutocadCivil/ConverterAdvanceSteel2023/ConverterAdvanceSteel2023.csproj
  Objects/Converters/StructuralUtilities/Triangle/Triangle.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Revert "Revert "Civil2023 and AdvanceSteel2023 Converter projects added into solution filter""
  ConnectorAutocadCivil/ConnectorAutocadCivil.slnf
  Objects/Converters/ConverterAutocadCivil/ConverterAdvanceSteel2023/ConverterAdvanceSteel2023.csproj
  Objects/Converters/StructuralUtilities/Triangle/Triangle.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

refactor(rvt): Moved swapping logic to it's own function
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(revit): SpeckleSchema logic for DirectShapes (#2387)
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(revit): DirectShape conversion is now capable of updating existing DS
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertDirectShape.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

refactor(revit): directshape refactor logic
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertBlock.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertDirectShape.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

changes to DataTable
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertView.Schedule.cs
  Objects/Objects/Organization/DataTable.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Adjustments for copying to Kit folder
  ConnectorAutocadCivil/ConnectorAdvanceSteel2023/ConnectorAdvanceSteel2023.csproj
  ConnectorAutocadCivil/ConnectorAutocadCivil.slnf
  Objects/Converters/ConverterAutocadCivil/ConverterAdvanceSteel2023/ConverterAdvanceSteel2023.csproj
  Objects/Converters/StructuralUtilities/Triangle/Triangle.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

New solution filter for AS Others Adjustments in Autocad filter
  ConnectorAutocadCivil/ConnectorAdvanceSteel.slnf
  ConnectorAutocadCivil/ConnectorAutocadCivil.slnf
Due: autocadcivil

x64 Platform
  ConnectorAutocadCivil/ConnectorAdvanceSteel2023/ConnectorAdvanceSteel2023.csproj
Due: autocadcivil

feat(rhino): Allow mapping of extrusions to DirectShapes
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/MappingBindingsRhino.cs
Due: rhino

feat(revit): DirectShape conversion is now capable of updating existing DS (#2391)
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertBlock.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertDirectShape.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Load fixed
  ConnectorAutocadCivil/ConnectorAutocadCivil/Entry/App.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Entry/SpeckleAutocadCommand.cs
Due: autocadcivil

Lock Autocad files removed
  ConnectorAutocadCivil/ConnectorAutocad2022/Drawing1.dwl
  ConnectorAutocadCivil/ConnectorAutocad2022/Drawing1.dwl2
Due: autocadcivil

feat(rhino): Allow mapping of extrusions to DirectShapes (#2393)
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/MappingBindingsRhino.cs
Due: rhino

fake change to trigger push action for CodeSee
  README.md
Due: none

PEBKAC
  .github/workflows/codesee-arch-diagram.yml
Due: none

feat: sample send in rhino
  ConnectorRevit/ConnectorRevit/WebUI/RevitWebUIBindings.cs
  ConnectorRevit/ConnectorRevit/WebUI/WebUIBindings.cs
  ConnectorRevit/ConnectorRevit/WebUI/WebUIPanel.xaml.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/WebUI/RhinoWebUIBindings.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/WebUI/WebUIBindings.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/WebUI/WebUIPanel.cs
  ConnectorRhino/ConnectorRhino7/ConnectorRhino7.csproj
Due: rhino, revit
