Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Refactor caching and retrying logic in ConnectorNavisworksBindings
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.cs
  ConnectorNavisworks/ConnectorNavisworks/Entry/Ribbon.xaml.cs
Due: navisworks

feat(Navisworks): Conversion Cache (#2682)
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Events.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.cs
  ConnectorNavisworks/ConnectorNavisworks/ConnectorNavisworks.Shared.projitems
  ConnectorNavisworks/ConnectorNavisworks/Entry/Commands.cs
  ConnectorNavisworks/ConnectorNavisworks/Entry/Ribbon.xaml
  ConnectorNavisworks/ConnectorNavisworks/Entry/Ribbon.xaml.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/Invokers.cs
  ConnectorNavisworks/ConnectorNavisworks/Resources/empty32.ico
Due: navisworks

fix(core): AccountManager.GetUserInfo was still using old user query (#2679)
  ConnectorGrasshopper/ConnectorGrasshopperShared/Accounts/Accounts.ServerAccount.cs
  Core/Core/Credentials/Account.cs
  Core/Core/Credentials/AccountManager.cs
  Core/Core/Credentials/Responses.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fixes display values for instances with modified geometry
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertMeshUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Fixes display values for instances with modified geometry
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertMeshUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

imh - injection refactor,
  All.sln
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Utils.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGhShared.projitems
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/Directory.Build.props
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/Utils/IRhinoDictionaryParser.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/Utils/IRhinoDocInfo.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/Utils/IRhinoObjectSchema.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/Utils/IRhinoUnits.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/Utils/IRhinoUserInfo.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/Utils/RhinoDictionaryParser.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/Utils/RhinoDocInfo.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/Utils/RhinoObjectSchema.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/Utils/RhinoUnits.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/Utils/RhinoUserInfo.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/WIP/IRhinoMaterialConverter.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/WIP/IRhinoObjectConverter.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/WIP/RhinoMaterialConverter.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/WIP/RhinoObjectConverter.cs
  Objects/Objects/ObjectsKit.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Update ConverterAutocadCivil.Civil.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(dui): check if stream exists (#2625)
  Core/Core/Api/Exceptions.cs
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.StreamOperations.cs
  Core/Core/Api/GraphQL/Client.cs
  Core/IntegrationTests/Api.cs
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

removed deprecated user query and use the new activeUser one
  Core/Core/Credentials/AccountManager.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(revit): areas mesh and profile (#2653)
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertArea.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertMeshUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(revit): exclude light source cones #2551
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertMeshUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(revit): exclude light source cones #2551 (#2685)
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertMeshUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(Core): Add `StreamWrapper` support for FE2 links (#2671)
  Core/Core/Credentials/StreamWrapper.cs
  Core/Tests/FE2WrapperTests.cs
  Core/Tests/TestsUnit.csproj
  global.json
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(core): Replace UserServerInfo response with active user one
  Core/Core/Credentials/AccountManager.cs
  Core/Core/Credentials/Responses.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

gergo/removeDeprecatedUserQueryAgain (#2684)
  Core/Core/Credentials/AccountManager.cs
  Core/Core/Credentials/Responses.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(revit): Make shared projects packable
  ConnectorRevit/RevitSharedResources2020/RevitSharedResources2020.csproj
  ConnectorRevit/RevitSharedResources2021/RevitSharedResources2021.csproj
  ConnectorRevit/RevitSharedResources2022/RevitSharedResources2022.csproj
  ConnectorRevit/RevitSharedResources2023/RevitSharedResources2023.csproj
  ConnectorRevit/RevitSharedResources2024/RevitSharedResources2024.csproj
Due: revit

feat(rvt): Refactored categories logic into shared project (#2656)
  All.sln
  ConnectorDynamo/ConnectorDynamo.sln
  ConnectorRevit/ConnectorRevit.sln
  ConnectorRevit/ConnectorRevit.slnf
  ConnectorRevit/ConnectorRevit/ConnectorRevitUtils.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Selection.cs
  ConnectorRevit/ConnectorRevit2020/ConnectorRevit2020.csproj
  ConnectorRevit/ConnectorRevit2021/ConnectorRevit2021.csproj
  ConnectorRevit/ConnectorRevit2022/ConnectorRevit2022.csproj
  ConnectorRevit/ConnectorRevit2023/ConnectorRevit2023.csproj
  ConnectorRevit/ConnectorRevit2024/ConnectorRevit2024.csproj
  ConnectorRevit/RevitSharedResources/Helpers/Categories.cs
  ConnectorRevit/RevitSharedResources/Helpers/Extensions.cs
  ConnectorRevit/RevitSharedResources/RevitSharedResources.csproj
  ConnectorRevit/RevitSharedResources/RevitSharedResources.projitems
  ConnectorRevit/RevitSharedResources/RevitSharedResources.shproj
  ConnectorRevit/RevitSharedResources2020/RevitSharedResources2020.csproj
  ConnectorRevit/RevitSharedResources2021/RevitSharedResources2021.csproj
  ConnectorRevit/RevitSharedResources2022/RevitSharedResources2022.csproj
  ConnectorRevit/RevitSharedResources2023/RevitSharedResources2023.csproj
  ConnectorRevit/RevitSharedResources2024/RevitSharedResources2024.csproj
  Directory.Build.props
  Objects/Converters/ConverterDynamo/ConverterDynamoRevit/ConverterDynamoRevit.csproj
  Objects/Converters/ConverterDynamo/ConverterDynamoRevit2021/ConverterDynamoRevit2021.csproj
  Objects/Converters/ConverterDynamo/ConverterDynamoRevit2022/ConverterDynamoRevit2022.csproj
  Objects/Converters/ConverterDynamo/ConverterDynamoRevit2023/ConverterDynamoRevit2023.csproj
  Objects/Converters/ConverterRevit/ConverterRevit2020/ConverterRevit2020.csproj
  Objects/Converters/ConverterRevit/ConverterRevit2021/ConverterRevit2021.csproj
  Objects/Converters/ConverterRevit/ConverterRevit2022/ConverterRevit2022.csproj
  Objects/Converters/ConverterRevit/ConverterRevit2023/ConverterRevit2023.csproj
  Objects/Converters/ConverterRevit/ConverterRevit2024/ConverterRevit2024.csproj
  Objects/Converters/ConverterRevit/ConverterRevitShared/Categories.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertLocation.cs
  Objects/Objects/BuiltElements/Revit/Enums.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Update Converter.AutocadCivil.Utils.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/Converter.AutocadCivil.Utils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

imh - making it work...
  Objects/Converters/ConverterRhinoGh/ConverterGrasshopper6/ConverterGrasshopper6.csproj
  Objects/Converters/ConverterRhinoGh/ConverterGrasshopper7/ConverterGrasshopper7.csproj
  Objects/Converters/ConverterRhinoGh/ConverterRhino6/ConverterRhino6.csproj
  Objects/Converters/ConverterRhinoGh/ConverterRhino7/ConverterRhino7.csproj
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.BuiltElements.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Geometry.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Organization.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGhShared.projitems
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/Utils/IRhinoDictionaryParser.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/Utils/IRhinoObjectSchema.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/Utils/IRhinoUnits.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/Utils/IRhinoUserInfo.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/Utils/RhinoDictionaryParser.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/Utils/RhinoDocInfo.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/Utils/RhinoObjectSchema.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/Utils/RhinoSpeckleConverterFactory.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/Utils/RhinoUnits.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/Utils/RhinoUserInfo.cs
  Objects/Objects/ObjectsKit.cs
  Objects/Objects/Utils/ISpeckleConverterFactory.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(all): Set IsDesktopBuild to `true`
  Directory.Build.props
Due: none

feat(revit): takes design options into account
  All.sln
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit .Settings.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Previews.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Selection.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Send.cs
Due: revit

fix(all): Set IsDesktopBuild to `true` (#2690)
  Directory.Build.props
Due: none

feat(revit): removes setting for design options
  All.sln
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit .Settings.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Selection.cs
Due: revit

feat(core): Allow for traversal context inheritance
  Core/Core/Models/GraphTraversal/GraphTraversal.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

finish resolving merge conflicts
  All.sln
  ConnectorRevit/ConnectorRevit/TypeMapping/ElementTypeMapper.cs
  ConnectorRevit/ConnectorRevit/TypeMapping/FamilyImporter.cs
  ConnectorRevit/RevitSharedResources/Helpers/Categories.cs
  ConnectorRevit/RevitSharedResources/Helpers/RevitCategoryInfo.cs
  ConnectorRevit/RevitSharedResources/Interfaces/IAllRevitCategories.cs
  ConnectorRevit/RevitSharedResources/Interfaces/IAllRevitCategoriesExposer.cs
  ConnectorRevit/RevitSharedResources/Interfaces/IRevitCategoryInfo.cs
  ConnectorRevit/RevitSharedResources/Interfaces/IRevitElementTypeRetriever.cs
  ConnectorRevit/RevitSharedResources/RevitSharedResources.projitems
  ConnectorRevit/RevitSharedResources2020/RevitSharedResources2020.csproj
  ConnectorRevit/RevitSharedResources2021/RevitSharedResources2021.csproj
  ConnectorRevit/RevitSharedResources2022/RevitSharedResources2022.csproj
  ConnectorRevit/RevitSharedResources2023/RevitSharedResources2023.csproj
  ConnectorRevit/RevitSharedResources2024/RevitSharedResources2024.csproj
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertLocation.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitCategoryInfo.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitElementTypeUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(core): Fixed issue with invalid auth tokens
  Core/Core/Api/GraphQL/Client.cs
  Core/Core/Credentials/Account.cs
  Core/Core/Credentials/AccountManager.cs
  Core/Core/Helpers/Http.cs
  Core/Core/Transports/Server.cs
  Core/Core/Transports/ServerUtils/ServerAPI.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Add NavisworksOptionsManager class with Autosave set/get
  ConnectorNavisworks/ConnectorNavisworks/ConnectorNavisworks.Shared.projitems
  ConnectorNavisworks/ConnectorNavisworks/NavisworksOptions/Autosave.cs
Due: navisworks

Adds Settings Options allowing to always show regardless of internal settings
  ConnectorNavisworks/ConnectorNavisworks/ConnectorNavisworks.Shared.projitems
  ConnectorNavisworks/ConnectorNavisworks/NavisworksOptions/Manager.cs
  ConnectorNavisworks/ConnectorNavisworks/NavisworksOptions/Properties.cs
Due: navisworks

add incoming families
  ConnectorRevit/ConnectorRevit/TypeMapping/ElementTypeMapper.cs
  ConnectorRevit/ConnectorRevit/TypeMapping/TypeMap.cs
  ConnectorRevit/RevitSharedResources/Helpers/Categories.cs
  ConnectorRevit/RevitSharedResources/Interfaces/IRevitElementTypeRetriever.cs
  DesktopUI2/DesktopUI2/Models/TypeMappingOnReceive/ISingleValueToMap.cs
  DesktopUI2/DesktopUI2/Models/TypeMappingOnReceive/ITypeMap.cs
  DesktopUI2/DesktopUI2/Models/TypeMappingOnReceive/MappingValue.cs
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/TypeMappingOnReceiveViewModel.cs
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/MappingViewDialog.xaml
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitCategoryInfo.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitElementTypeUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/Generated/REVIT2023/TestGenerator/TestGenerator.Generator/GeneratedTests.g.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

undo unwanted changes
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
Due: none

fixed incorrect gql auth headers
  Core/Core/Api/GraphQL/Client.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Add calls to Property names setting
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
Due: navisworks

traversal inheritance
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/ObjectConverter.cs
  Core/Core/Models/GraphTraversal/DefaultTraversal.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(gh): sort enum dropdown values alphabetically
  All.sln
  ConnectorGrasshopper/ConnectorGrasshopper7/ConnectorGrasshopper7.csproj
  ConnectorGrasshopper/ConnectorGrasshopperShared/SchemaBuilder/CreateSchemaObject.cs
Due: rhino

feat(revit-gh): adds pipe insulations and railings to supported categories, and adds railings to the GH direct shape categories
  ConnectorRevit/RevitSharedResources/Helpers/Categories.cs
  Objects/Objects/BuiltElements/Revit/Enums.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Update ConvertMeshUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertMeshUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

double scrollbar fix
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/MappingViewDialog.xaml
Due: none

use internal property names
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Properties.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Settings.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToSpeckle.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Refactor element name handling in ConverterNavisworks.ToSpeckle
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToSpeckle.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Path conditions:
  core: any of: Core/.*
  rhino: any of: (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.*
  revit: any of: (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.*
  dynamo: any of: (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.*
  autocadcivil: any of: (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.*
  csi: any of: (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.*
  bentley: any of: (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.*
  teklastructures: any of: (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.*
  archicad: any of: (Core|Objects|ConnectorArchicad)/.*
  navisworks: any of: (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.*
