Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

invalidate cache on family symbol import
  ConnectorRevit/ConnectorRevit/TypeMapping/FamilyImporter.cs
  ConnectorRevit/RevitSharedResources/Interfaces/IRevitElementTypeRetriever.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Cache/ConversionOperationCache.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Cache/SingleObjectCacheImplementation.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitElementTypeUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

refractor: revit tests (#2648)
  .gitmodules
  All.sln
  ConnectorRevit/ConnectorRevit.slnf
  ConnectorRevit/ConnectorRevitTests.slnf
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTests2021/ConverterRevitTests2021.csproj
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTests2023/ConverterRevitTests2023.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

removing mapping specific connector binding
  ConnectorArchicad/ConnectorArchicad/ConnectorBinding.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
  ConnectorBentley/ConnectorBentleyShared/UI/Bindings.cs
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Mapping.cs
  ConnectorNavisworks/ConnectorNavisworks/ConnectorNavisworks.Shared.projitems
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/UI/ConnectorBindingsTeklaStructures.cs
Due: rhino, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

add typeMapper init to try catch. Could
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
Due: revit

add support for Revit2024
  All.sln
  ConnectorRevit/ConnectorRevit.slnf
  ConnectorRevit/ConnectorRevit/ConnectorRevitUtils.cs
  ConnectorRevit/ConnectorRevit2024/ConnectorRevit2024.csproj
  ConnectorRevit/ConnectorRevit2024/Properties/launchSettings.json
  Objects/Converters/ConverterRevit/ConverterRevit2024/ConverterRevit2024.csproj
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertGeometry.cs
  Objects/Converters/ConverterRevit/Templates/2024/Generic Model - Imperial.rft
  Objects/Converters/ConverterRevit/Templates/2024/Generic Model - Metric.rft
  Objects/Converters/ConverterRevit/Templates/2024/Mass - Imperial.rft
  Objects/Converters/ConverterRevit/Templates/2024/Mass - Metric.rft
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

change sln
  ConnectorRevit/ConnectorRevit.sln
Due: revit

Improve progress bar functionality and add descriptive messages
  ConnectorNavisworks/ConnectorNavisworks/Other/SelectionBuilder.cs
Due: navisworks

Refactor code to handle saved viewpoints in Navisworks
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/SelectionBuilder.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToSpeckle.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Progress reporting to always conclude with 100%
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/SelectionBuilder.cs
Due: navisworks

Method descriptors
  ConnectorNavisworks/ConnectorNavisworks/Other/SelectionBuilder.cs
Due: navisworks

Removed unused code and commented out lines.
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToSpeckle.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

readd generated tests
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTests2021/ConverterRevitTests2021.csproj
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTests2022/ConverterRevitTests2022.csproj
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTests2023/ConverterRevitTests2023.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

State
  ConnectorArchicad/ConnectorArchicad/Helpers/Timer.cs
  Core/Core/Helpers/State.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Document ISpeckleConverter interface
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Other.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Properties.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Settings.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToNative.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToSpeckle.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Utilities.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

set cropped meshes mostly works
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Previews.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Selection.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Send.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertMeshUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix curtain panel retrieval method
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertWall.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

clean up curtain wall display mesh function a bit
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertWall.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(core): optimisation to traversal functions to remove traversing dynamic properties unnecessarily
  Core/Core/Models/GraphTraversal/DefaultTraversal.cs
  Core/Core/Models/GraphTraversal/ITraversalRule.cs
  Core/Core/Models/GraphTraversal/RuleBuilder.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

chore(connectors): replaced usages of deprecated members
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
  ConnectorBentley/ConnectorBentleyShared/UI/Bindings.cs
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Recieve.cs
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Send.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Previews.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Send.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/UI/ConnectorBindingsTeklaStructure.Send.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/UI/ConnectorBindingsTeklaStructures.Receive.cs
  DesktopUI2/DesktopUI2/ConnectorHelpers.cs
Due: rhino, revit, autocadcivil, csi, bentley, teklastructures, navisworks

Receive operation nice and static
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  DesktopUI2/DesktopUI2/Models/Interfaces/IProgressViewModel.cs
  DesktopUI2/DesktopUI2/Models/Interfaces/IStreamState.cs
  DesktopUI2/DesktopUI2/Models/StreamState.cs
  DesktopUI2/DesktopUI2/ViewModels/ProgressViewModel.cs
Due: revit

filling in IStreamState
  ConnectorRevit/ConnectorRevit/Storage/StreamStateCache.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  DesktopUI2/DesktopUI2/ConnectorHelpers.cs
  DesktopUI2/DesktopUI2/Models/Interfaces/IStreamState.cs
Due: revit

add revitInstance as mappable
  Objects/Converters/ConverterRevit/ConverterRevitShared/ElementTypeInfo.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitElementTypeUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

get rid of hard-coded object enums
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.cs
Due: revit

close dialogs when switching documents
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Events.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
Due: revit

added docs and simplified categories a bit
  ConnectorRevit/ConnectorRevit/TypeMapping/ElementTypeMapper.cs
  ConnectorRevit/ConnectorRevit/TypeMapping/FamilyImporter.cs
  ConnectorRevit/RevitSharedResources/Interfaces/IAllRevitCategories.cs
  ConnectorRevit/RevitSharedResources/Interfaces/IAllRevitCategoriesExposer.cs
  ConnectorRevit/RevitSharedResources/Interfaces/IElementTypeInfo.cs
  ConnectorRevit/RevitSharedResources/Interfaces/IElementTypeInfoExposer.cs
  ConnectorRevit/RevitSharedResources/Interfaces/IRevitCategoryInfo.cs
  ConnectorRevit/RevitSharedResources/Interfaces/IRevitElementTypeRetriever.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Categories.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevitShared.projitems
  Objects/Converters/ConverterRevit/ConverterRevitShared/ElementTypeInfo.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertLocation.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitCategoryInfo.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitElementTypeUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

add logging to family importer
  ConnectorRevit/ConnectorRevit/TypeMapping/ElementTypeMapper.cs
  ConnectorRevit/ConnectorRevit/TypeMapping/FamilyImporter.cs
  DesktopUI2/DesktopUI2/Models/TypeMappingOnReceive/MappingValue.cs
Due: revit

chore(revit): use our own nugets & set copy local to false
  ConnectorRevit/ConnectorRevit2024/ConnectorRevit2024.csproj
  Objects/Converters/ConverterRevit/ConverterRevit2024/ConverterRevit2024.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

add a couple more class descriptions
  Objects/Converters/ConverterRevit/ConverterRevitShared/Cache/ConversionOperationCache.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Cache/SingleObjectCacheImplementation.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Feat(Revit) : Add support for 2024 (#2649)
  All.sln
  ConnectorRevit/ConnectorRevit.sln
  ConnectorRevit/ConnectorRevit.slnf
  ConnectorRevit/ConnectorRevit/ConnectorRevitUtils.cs
  ConnectorRevit/ConnectorRevit2024/ConnectorRevit2024.csproj
  ConnectorRevit/ConnectorRevit2024/Properties/launchSettings.json
  Objects/Converters/ConverterRevit/ConverterRevit2024/ConverterRevit2024.csproj
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertGeometry.cs
  Objects/Converters/ConverterRevit/Templates/2024/Generic Model - Imperial.rft
  Objects/Converters/ConverterRevit/Templates/2024/Generic Model - Metric.rft
  Objects/Converters/ConverterRevit/Templates/2024/Mass - Imperial.rft
  Objects/Converters/ConverterRevit/Templates/2024/Mass - Metric.rft
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(revit): areas mesh and profile
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertArea.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertMeshUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

add comment
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Selection.cs
Due: revit

testable send and receive
  ConnectorRevit/ConnectorRevit/CommitReceiver.cs
  ConnectorRevit/ConnectorRevit/CommitSender.cs
  ConnectorRevit/ConnectorRevit/ConnectorRevit.projitems
  ConnectorRevit/ConnectorRevit/ICommitReceiver.cs
  ConnectorRevit/ConnectorRevit/ISpeckleObjectSender.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Previews.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Selection.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Send.cs
  DesktopUI2/DesktopUI2/ConnectorHelpers.cs
  DesktopUI2/DesktopUI2/Models/Interfaces/IStreamState.cs
  DesktopUI2/DesktopUI2/Models/StreamState.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/ConverterRevitTestsShared.projitems
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/DummyCommitReceiver.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/DummyStreamState.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/Generated/REVIT2023/TestGenerator/TestGenerator.Generator/GeneratedTests.g.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Materials extracted for MEPCurves
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertMaterialQuantities.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

error with null-operator solved
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertMaterialQuantities.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(rvt): Refactored categories into shared project
  All.sln
  ConnectorRevit/ConnectorRevit.slnf
  ConnectorRevit/ConnectorRevit/ConnectorRevitUtils.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Selection.cs
  ConnectorRevit/ConnectorRevit2020/ConnectorRevit2020.csproj
  ConnectorRevit/ConnectorRevit2021/ConnectorRevit2021.csproj
  ConnectorRevit/ConnectorRevit2022/ConnectorRevit2022.csproj
  ConnectorRevit/ConnectorRevit2023/ConnectorRevit2023.csproj
  ConnectorRevit/RevitSharedResources/Helpers/Categories.cs
  ConnectorRevit/RevitSharedResources/Helpers/Extensions.cs
  ConnectorRevit/RevitSharedResources/RevitSharedResources.csproj
  ConnectorRevit/RevitSharedResources/RevitSharedResources.projitems
  ConnectorRevit/RevitSharedResources/RevitSharedResources.shproj
  ConnectorRevit/RevitSharedResources2020/RevitSharedResources2020.csproj
  ConnectorRevit/RevitSharedResources2021/RevitSharedResources2021.csproj
  ConnectorRevit/RevitSharedResources2022/RevitSharedResources2022.csproj
  ConnectorRevit/RevitSharedResources2023/RevitSharedResources2023.csproj
  ConnectorRevit/temp/RevitSharedResources/Class1.cs
  Directory.Build.props
  Objects/Converters/ConverterDynamo/ConverterDynamoRevit/ConverterDynamoRevit.csproj
  Objects/Converters/ConverterDynamo/ConverterDynamoRevit2021/ConverterDynamoRevit2021.csproj
  Objects/Converters/ConverterDynamo/ConverterDynamoRevit2022/ConverterDynamoRevit2022.csproj
  Objects/Converters/ConverterDynamo/ConverterDynamoRevit2023/ConverterDynamoRevit2023.csproj
  Objects/Converters/ConverterRevit/ConverterRevit2020/ConverterRevit2020.csproj
  Objects/Converters/ConverterRevit/ConverterRevit2021/ConverterRevit2021.csproj
  Objects/Converters/ConverterRevit/ConverterRevit2022/ConverterRevit2022.csproj
  Objects/Converters/ConverterRevit/ConverterRevit2023/ConverterRevit2023.csproj
  Objects/Converters/ConverterRevit/ConverterRevitShared/Categories.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertLocation.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(rvt): Added shared project for Revit2024
  All.sln
  ConnectorRevit/ConnectorRevit.slnf
  ConnectorRevit/ConnectorRevit2024/ConnectorRevit2024.csproj
  ConnectorRevit/RevitSharedResources2024/RevitSharedResources2024.csproj
  Objects/Converters/ConverterRevit/ConverterRevit2024/ConverterRevit2024.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Path conditions:
  core: any of: Core/.*
  rhino: any of: (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.*
  revit: any of: (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.*
  dynamo: any of: (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.*
  autocadcivil: any of: (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.*
  csi: any of: (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.*
  bentley: any of: (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.*
  teklastructures: any of: (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.*
  archicad: any of: (Core|Objects|ConnectorArchicad)/.*
  navisworks: any of: (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.*
