Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat(dui): track comment opens
  DesktopUI2/DesktopUI2/ViewModels/CommentViewModel.cs
Due: none

fix(dui): do not reset the home view model
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/MainViewModel.cs
  DesktopUI2/DesktopUI2/Views/Pages/HomeView.xaml
Due: none

fix(revit): saves advanced settings wip
  DesktopUI2/DesktopUI2/Models/Filters/SelectionFilterConverter.cs
  DesktopUI2/DesktopUI2/Models/Settings/SettingsConverter.cs
  DesktopUI2/DesktopUI2/Models/StreamState.cs
  DesktopUI2/DesktopUI2/Views/Controls/SavedStreams.xaml
Due: none

if analytical model is updates, then update physical element
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAnalyticalStick.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

remove new props from generic revit element
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRevitElement.cs
  Objects/Objects/BuiltElements/Revit/RevitElement.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(dui): skips invalid settings
  DesktopUI2/DesktopUI2/Models/Settings/SettingsConverter.cs
Due: none

fix(revit): inizialization issue with dui and notifications
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: none

fix(dui): partly fixes the restoring on the multiselctbox setting
  DesktopUI2/DesktopUI2/Models/Settings/MultiSelectBoxSetting.cs
Due: none

chore: undodes unvoluntary changes
  DesktopUI2/DesktopUI2/Views/Pages/HomeView.xaml
Due: none

fix(dui): final touches
  DesktopUI2/DesktopUI2/Models/Settings/MultiSelectBoxSetting.cs
Due: none

Update AssemblyInfo.cs
  ConnectorTeklaStructures/ConnectorTeklaStructures2022/Properties/AssemblyInfo.cs
Due: teklastructures

chore(gh): Added GH6 project
  ConnectorGrasshopper/ConnectorGrasshopper6/ConnectorGrasshopper6.csproj
  ConnectorGrasshopper/ConnectorGrasshopper6/Properties/AssemblyInfo.cs
  ConnectorRhino/ConnectorRhino.sln
  ConnectorRhino/ConnectorRhino6/ConnectorRhino6.csproj
Due: rhino, grasshopper

feat(gh): Added headless document settings
  ConnectorGrasshopper/ConnectorGrasshopperShared/Loader.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/SpeckleGHSettings.cs
Due: grasshopper

feat(gh): Using utility GetCurrentDoc function instead
  ConnectorGrasshopper/ConnectorGrasshopperShared/BaseComponents/SelectKitAsyncComponentBase.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/BaseComponents/SelectKitComponentBase.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/BaseComponents/SelectKitTaskCapableComponentBase.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Extras/Utilities.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Loader.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Deprecated/Operations.ReceiveComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Deprecated/Operations.ReceiveComponentSync.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Deprecated/Operations.SendComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Deprecated/Operations.SendComponentSync.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Deprecated/Operations.VariableInputSendComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Operations.ReceiveLocalComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Operations.SendLocalComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Operations.SyncReceiveComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Operations.VariableInputReceiveComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Operations.VariableInputSendComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/SchemaBuilder/CreateSchemaObject.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/SchemaBuilder/CreateSchemaObjectBase.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat(revit): open comments in 3D view (#1811)
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Events.cs
  DesktopUI2/DesktopUI2/ConnectorBindings.cs
  DesktopUI2/DesktopUI2/DummyBindings.cs
  DesktopUI2/DesktopUI2/ViewModels/CommentViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  DesktopUI2/DesktopUI2/Views/Controls/StreamEditControls/Comments.xaml
  DesktopUI2/DesktopUI2/Views/MainUserControl.xaml.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertView.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat(gh): All nodes working in compute now (except the ones using Async components)
  ConnectorGrasshopper/ConnectorGrasshopperShared/Loader.cs
  ConnectorRhino/ConnectorRhino.sln
Due: rhino, grasshopper

fix(dui): advanced settings not preserved (#1813)
  DesktopUI2/DesktopUI2/Models/Filters/SelectionFilterConverter.cs
  DesktopUI2/DesktopUI2/Models/Settings/MultiSelectBoxSetting.cs
  DesktopUI2/DesktopUI2/Models/Settings/SettingsConverter.cs
  DesktopUI2/DesktopUI2/Models/StreamState.cs
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/MainViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  DesktopUI2/DesktopUI2/Views/Controls/SavedStreams.xaml
Due: none

feat(dui): stream added and removed notifications
  DesktopUI2/DesktopUI2/ViewModels/AccountViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
Due: none

fix(gh): Fail build on Rhino6
  ConnectorGrasshopper/ConnectorGrasshopper6/Properties/AssemblyInfo.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Loader.cs
Due: grasshopper

fix(ci): Added disctinct build version
  .circleci/scripts/config-template.yml
Due: none

migrate to sharedproject for MainPlugin
  ConnectorTeklaStructures/ConnectorTeklaStructures2020/ConnectorTeklaStructures2020.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructures2020/MainForm.Designer.cs
  ConnectorTeklaStructures/ConnectorTeklaStructures2020/MainForm.cs
  ConnectorTeklaStructures/ConnectorTeklaStructures2021/ConnectorTeklaStructures2021.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructures2021/MainForm.resx
  ConnectorTeklaStructures/ConnectorTeklaStructures2021/MainPlugin.cs
  ConnectorTeklaStructures/ConnectorTeklaStructures2022/ConnectorTeklaStructures2022.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructures2022/MainForm.Designer.cs
  ConnectorTeklaStructures/ConnectorTeklaStructures2022/MainForm.cs
  ConnectorTeklaStructures/ConnectorTeklaStructures2022/MainForm.resx
  ConnectorTeklaStructures/ConnectorTeklaStructures2022/MainPlugin.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/ConnectorTeklaStructuresShared.projitems
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/Util/MainForm.Designer.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/Util/MainForm.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/Util/MainForm.resx
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/Util/MainPlugin.cs
Due: teklastructures

fix(ci): Missing env var
  .circleci/scripts/config-template.yml
Due: none

fix(ci): Missing env var part II
  .circleci/scripts/config-template.yml
Due: none

fix(gh): Missing imports after merge
  ConnectorGrasshopper/ConnectorGrasshopperShared/Loader.cs
Due: grasshopper

fix(ci): Missing env var part III
  .circleci/scripts/config-template.yml
Due: none

feat(dui): adds subscriptions and some notifications for all major stream/branch/commit events
  DesktopUI2/DesktopUI2/Styles/NotificationCard.xaml
  DesktopUI2/DesktopUI2/Styles/NotificationManager.xaml
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/PopUpNotificationViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  DesktopUI2/DesktopUI2/Views/Controls/StreamEditControls/Receive.xaml
Due: none

Feature(Revit): Support sending fabrication parts from Revit
  All.sln
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevitShared.projitems
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFabricationPart.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertMeshUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRevitElement.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat(dui): adds subs for comments
  Core/Core/Api/GraphQL/Client.GraphqlClientOperations.cs
  Core/Core/Api/GraphQL/Client.Subscriptions.Stream.cs
  Core/Core/Api/GraphQL/Client.cs
  Core/Core/Api/GraphQL/Models.cs
  DesktopUI2/DesktopUI2/ViewModels/CommentViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  DesktopUI2/DesktopUI2/Views/Pages/StreamEditView.xaml
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat(dui): adds subscriptions and popup notifications (#1814)
  Core/Core/Api/GraphQL/Client.GraphqlClientOperations.cs
  Core/Core/Api/GraphQL/Client.Subscriptions.Stream.cs
  Core/Core/Api/GraphQL/Client.cs
  Core/Core/Api/GraphQL/Models.cs
  DesktopUI2/DesktopUI2/Styles/NotificationCard.xaml
  DesktopUI2/DesktopUI2/Styles/NotificationManager.xaml
  DesktopUI2/DesktopUI2/ViewModels/AccountViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/CommentViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/PopUpNotificationViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  DesktopUI2/DesktopUI2/Views/Controls/StreamEditControls/Receive.xaml
  DesktopUI2/DesktopUI2/Views/Pages/StreamEditView.xaml
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(dui): close notification button crashes the app
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: none

wip: rhino mappings in dui
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/ConnectorRhinoShared.projitems
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/Plugin.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/SpeckleCommandMac.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/SpeckleCommandWin.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/SpeckleMappingsCommandWin.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/DuiPanel.xaml
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/DuiPanel.xaml.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/MappingsPanel.xaml
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/MappingsPanel.xaml.cs
  DesktopUI2/DesktopUI2.sln
  DesktopUI2/DesktopUI2/App.xaml.cs
  DesktopUI2/DesktopUI2/DesktopUI2.csproj
  DesktopUI2/DesktopUI2/DummyMappingsBindings.cs
  DesktopUI2/DesktopUI2/MappingsBindings.cs
  DesktopUI2/DesktopUI2/Styles/ListBox.xaml
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/MappingsViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/RevitMappingViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamSelectorViewModel.cs
  DesktopUI2/DesktopUI2/Views/Controls/CollaboratorsControl.xaml
  DesktopUI2/DesktopUI2/Views/Controls/StreamSelector.xaml
  DesktopUI2/DesktopUI2/Views/Controls/StreamSelector.xaml.cs
  DesktopUI2/DesktopUI2/Views/MappingsControl.xaml
  DesktopUI2/DesktopUI2/Views/MappingsControl.xaml.cs
  DesktopUI2/DesktopUI2/Views/MappingsWindow.xaml
  DesktopUI2/DesktopUI2/Views/MappingsWindow.xaml.cs
Due: rhino

feat(gh): Added top-menu option for Rhino.Compute template file
  ConnectorGrasshopper/ConnectorGrasshopperShared/Loader.cs
Due: grasshopper

fix(gh): Solves RuntimeInfo conflict in mac
  ConnectorGrasshopper/ConnectorGrasshopper6/ConnectorGrasshopper6.csproj
  ConnectorGrasshopper/ConnectorGrasshopper7/ConnectorGrasshopper7.csproj
  ConnectorGrasshopper/ConnectorGrasshopperShared/Loader.cs
  ConnectorRhino/ConnectorRhino.sln
Due: rhino, grasshopper

feat(dui): load mapping panel in rhino
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/ConnectorRhinoShared.projitems
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/Plugin.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/SpeckleMappingsCommandWin.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/MappingBindingsRhino.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/MappingsPanel.xaml.cs
  DesktopUI2/DesktopUI2/ViewModels/MappingsViewModel.cs
Due: rhino

feat(mapping): pulls available types from schema builder
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/MappingBindingsRhino.cs
  DesktopUI2/DesktopUI2/App.xaml.cs
  DesktopUI2/DesktopUI2/DummyMappingsBindings.cs
  DesktopUI2/DesktopUI2/MappingsBindings.cs
  DesktopUI2/DesktopUI2/ViewModels/MappingTool/MappingComponents.cs
  DesktopUI2/DesktopUI2/ViewModels/MappingTool/MappingsViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/MappingTool/RevitMetadataViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/MappingsViewModel.cs
  DesktopUI2/DesktopUI2/Views/MappingsControl.xaml
  DesktopUI2/DesktopUI2/Views/MappingsControl.xaml.cs
  DesktopUI2/DesktopUI2/Views/MappingsWindow.xaml.cs
Due: rhino

fix(rhino): Removed duplicate nuget
  ConnectorRhino/ConnectorRhino6/ConnectorRhino6.csproj
  ConnectorRhino/ConnectorRhino7/ConnectorRhino7.csproj
Due: rhino

fix(gh): Disabled Compute template option for now. All runs will run with Rhino's default units.
  ConnectorGrasshopper/ConnectorGrasshopperShared/Loader.cs
Due: grasshopper

feat(gh): Ribbon will now be refreshed when tabs settings are changed
  ConnectorGrasshopper/ConnectorGrasshopperShared/Conversion/DeserialiseTaskCapableComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Conversion/SerialiseTaskCapableComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Conversion/ToNativeTaskCapableComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Conversion/ToSpeckleTaskCapableComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/SchemaBuilder/CreateSchemaObjectBase.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/SpeckleGHSettings.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Transports/SendReceiveTransport.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Transports/Transports.Disk.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Transports/Transports.Memory.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Transports/Transports.Sqlite.cs
Due: grasshopper

Path conditions:
  run_core: any of: Core/.*
  rhino: any of: (Core|Objects|ConnectorRhino|.*/ConverterRhinoGh)/.*
  grasshopper: any of: (Core|Objects|ConnectorGrasshopper|.*/ConverterRhinoGh)/.*
  revit: any of: (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.*
  dynamo: any of: (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.*
  autocadcivil: any of: (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.*
  csi: any of: (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.*
  microstation: any of: (Core|Objects|ConnectorMicroStation|.*/ConverterMicroStation)/.*
  teklastructures: any of: (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.*
  archicad: any of: (Core|Objects|ConnectorArchicad)/.*
