Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.3.1
  python: circleci/python@2.0.3

jobs:
  setup:
    executor: python/default
    steps:
      - checkout # checkout code
      - path-filtering/set-parameters:
          mapping: |
            Core/.* run_core true
            (Core|Objects|ConnectorRhino|.*/ConverterRhinoGh)/.* rhino true
            (Core|Objects|ConnectorGrasshopper|.*/ConverterRhinoGh)/.* grasshopper true
            (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.* revit true
            (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.* dynamo true
            (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.* autocadcivil true
            (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.* csi true
            (Core|Objects|ConnectorMicroStation|.*/ConverterMicroStation)/.* microstation true
            (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.* teklastructures true
            (Core|Objects|ConnectorArchicad)/.* archicad true
          base-revision: main
          output-path: .circleci/scripts/parameters.json
      - run:
          name: LS scripts folders
          command: ls .circleci/scripts
      - run: cat .circleci/scripts/parameters.json
      - run: pip install pyyaml
      - run: # run a command
          name: Generate config
          command: |
            python .circleci/scripts/config-generator.py
      - continuation/continue:
          configuration_path: .circleci/continuation-config.yml # use newly generated config to continue

workflows:
  setup:
    jobs:
      - setup

Reverse changes (#1847)
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/Plugin.cs
  ConnectorRhino/ConnectorRhino6/ConnectorRhino6.csproj
  ConnectorRhino/ConnectorRhino6/Properties/AssemblyInfo.cs
  ConnectorRhino/ConnectorRhino7/ConnectorRhino7.csproj
  ConnectorRhino/ConnectorRhino7/Properties/AssemblyInfo.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  DesktopUI2/README.md
  Objects/Converters/ConverterRhinoGh/ConverterGrasshopper7/ConverterGrasshopper7.csproj
  Objects/Converters/ConverterRhinoGh/ConverterGrasshopper7/Properties/AssemblyInfo.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhino6/Properties/launchSettings.json
  Objects/Converters/ConverterRhinoGh/ConverterRhino7/ConverterRhino7.csproj
  Objects/Converters/ConverterRhinoGh/ConverterRhino7/Properties/AssemblyInfo.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Null check for viewPhase in Rhino
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Events.cs
Due: revit

fix(rhino): do not build DUI launcher proj on release
  ConnectorRhino/ConnectorRhino.sln
Due: rhino

fix markup not correct
  DesktopUI2/DesktopUI2/App.xaml
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/ImportFamiliesDialog.xaml
Due: none

Revert "fix(dui): close notification button crashes the app (#1815)"
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: none

fix(rhino): attempts fixing resx issue on mac
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/ConnectorRhinoShared.projitems
Due: rhino

Implement open comments view to Rhino
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
Due: rhino

Revert "fix(rhino): attempts fixing resx issue on mac"
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/ConnectorRhinoShared.projitems
Due: rhino

we can preview geometry!
  ConnectorRevit/ConnectorRevit/ConnectorRevit.projitems
  ConnectorRevit/ConnectorRevit/Entry/App.cs
  ConnectorRevit/ConnectorRevit/Entry/TestCommand.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Previews.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Receive.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.Previews.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevitShared.projitems
  Objects/Converters/ConverterRevit/ConverterRevitShared/DirectContext3DServer.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(mapping): rhino mac now build but not loads
  ConnectorRhino/ConnectorRhino.sln
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/ConnectorRhinoShared.projitems
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/Plugin.cs
  ConnectorRhino/ConnectorRhino7/Properties/AssemblyInfo.cs
Due: rhino

some code cleanup
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Previews.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/DirectContext3DServer.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Fix(DUI): clean up incorrect syntax (#1849)
  DesktopUI2/DesktopUI2/App.xaml
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/ImportFamiliesDialog.xaml
Due: none

fix(rhino): prevents rhino nugets going in the bin folder
  ConnectorGrasshopper/ConnectorGrasshopper7/ConnectorGrasshopper7.csproj
  ConnectorRhino/ConnectorRhino7/ConnectorRhino7.csproj
Due: rhino, grasshopper

feat(mapping): show mapping tool in rhino mac
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/ConnectorRhinoShared.projitems
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/SpeckleMappingsCommandMac.cs
  DesktopUI2/DesktopUI2/App.xaml.cs
Due: rhino

Control existence of views to prevent duplications
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
Due: rhino

Merge remote-tracking branch 'origin/main' into release/2.10
  DesktopUI2/DesktopUI2/ViewModels/DesignViewModels/DesignSavedStreamsViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: none

Merge remote-tracking branch 'origin/main' into release/2.10 (#1853)
  DesktopUI2/DesktopUI2/ViewModels/DesignViewModels/DesignSavedStreamsViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: none

feat(rhino): re-adds the version fix
  ConnectorGrasshopper/ConnectorGrasshopper6/ConnectorGrasshopper6.csproj
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/Plugin.cs
  ConnectorRhino/ConnectorRhino6/ConnectorRhino6.csproj
  ConnectorRhino/ConnectorRhino6/Properties/AssemblyInfo.cs
  ConnectorRhino/ConnectorRhino7/ConnectorRhino7.csproj
  ConnectorRhino/ConnectorRhino7/Properties/AssemblyInfo.cs
  Objects/Converters/ConverterRhinoGh/ConverterGrasshopper7/ConverterGrasshopper7.csproj
  Objects/Converters/ConverterRhinoGh/ConverterGrasshopper7/Properties/AssemblyInfo.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhino6/Properties/launchSettings.json
  Objects/Converters/ConverterRhinoGh/ConverterRhino7/ConverterRhino7.csproj
  Objects/Converters/ConverterRhinoGh/ConverterRhino7/Properties/AssemblyInfo.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(rhino): rhino mac version
  ConnectorRhino/ConnectorRhino6/ConnectorRhino6.csproj
  ConnectorRhino/ConnectorRhino7/ConnectorRhino7.csproj
Due: rhino

feat(rhino): re-adds the version fix (#1854)
  ConnectorGrasshopper/ConnectorGrasshopper6/ConnectorGrasshopper6.csproj
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/Plugin.cs
  ConnectorRhino/ConnectorRhino6/ConnectorRhino6.csproj
  ConnectorRhino/ConnectorRhino6/Properties/AssemblyInfo.cs
  ConnectorRhino/ConnectorRhino7/ConnectorRhino7.csproj
  ConnectorRhino/ConnectorRhino7/Properties/AssemblyInfo.cs
  Objects/Converters/ConverterRhinoGh/ConverterGrasshopper7/ConverterGrasshopper7.csproj
  Objects/Converters/ConverterRhinoGh/ConverterGrasshopper7/Properties/AssemblyInfo.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhino6/Properties/launchSettings.json
  Objects/Converters/ConverterRhinoGh/ConverterRhino7/ConverterRhino7.csproj
  Objects/Converters/ConverterRhinoGh/ConverterRhino7/Properties/AssemblyInfo.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat(rhino): open comments in 3D view (#1851)
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Events.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
Due: rhino, revit

able to remove previews from revit view
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Previews.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Receive.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/DirectContext3DServer.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Allow check distance from owner point (#1846)
  Objects/Objects/Geometry/Point.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat(revit): fully removes revit 2019
  ConnectorRevit/ConnectorRevit.sln
  ConnectorRevit/ConnectorRevit/ConnectorRevit.projitems
  ConnectorRevit/ConnectorRevit/ConnectorRevitUtils.cs
  ConnectorRevit/ConnectorRevit/Entry/App.cs
  ConnectorRevit/ConnectorRevit/Entry/SchedulerCommand.cs
  ConnectorRevit/ConnectorRevit/Entry/SpeckleRevitCommand.cs
  ConnectorRevit/ConnectorRevit/Entry/SpeckleRevitCommand2.cs
  ConnectorRevit/ConnectorRevit/ExternalEventHandler.cs
  ConnectorRevit/ConnectorRevit/Storage/StreamStateManager.cs
  ConnectorRevit/ConnectorRevit/Storage/StreamStateManager2.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit .Settings.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.ClientOperations.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Events.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Mappings.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Selection.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Send.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Receive.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Selection.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Send.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.cs
  ConnectorRevit/ConnectorRevit2019/ConnectorRevit2019.csproj
  ConnectorRevit/ConnectorRevit2019/Properties/AssemblyInfo.cs
  ConnectorRevit/ConnectorRevit2020/ConnectorRevit2020.csproj
  ConnectorRevit/ConnectorRevit2020/Properties/AssemblyInfo.cs
  ConnectorRevit/ConnectorRevit2021/ConnectorRevit2021.csproj
  ConnectorRevit/ConnectorRevit2021/Properties/AssemblyInfo.cs
  ConnectorRevit/ConnectorRevit2022/ConnectorRevit2022.csproj
  ConnectorRevit/ConnectorRevit2022/Properties/AssemblyInfo.cs
  ConnectorRevit/ConnectorRevit2023/ConnectorRevit2023.csproj
  Core/Core/Kits/Applications.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Categories.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAnalyticalStick.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFloor.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertGeometry.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertTopography.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitVersionHelper.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

refactored network conversions
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertNetwork.cs
  Objects/Objects/BuiltElements/Fitting.cs
  Objects/Objects/BuiltElements/Network.cs
  Objects/Objects/BuiltElements/Revit/FamilyInstance.cs
  Objects/Objects/Organization/Network.cs
  Objects/Objects/Organization/NetworkElement.cs
  Objects/Objects/Organization/NetworkLink.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix wpf xaml missing
  DesktopUI2/DesktopUI2/Views/Pages/NotificationsView.xaml
  DesktopUI2/DesktopUI2/Views/Pages/OneClickView.xaml
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/ImportFamiliesDialog.xaml
Due: none

Update DesignHomeViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/DesignViewModels/DesignHomeViewModel.cs
Due: none

minor style refactors
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Revit/ConnectionPair.cs
  Objects/Objects/BuiltElements/Revit/FamilyInstance.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Fix binding value default (#1856)
  DesktopUI2/DesktopUI2/ViewModels/DesignViewModels/DesignHomeViewModel.cs
Due: none

feat(revit): fully removes revit 2019 (#1858)
  ConnectorRevit/ConnectorRevit.sln
  ConnectorRevit/ConnectorRevit/ConnectorRevit.projitems
  ConnectorRevit/ConnectorRevit/ConnectorRevitUtils.cs
  ConnectorRevit/ConnectorRevit/Entry/App.cs
  ConnectorRevit/ConnectorRevit/Entry/SchedulerCommand.cs
  ConnectorRevit/ConnectorRevit/Entry/SpeckleRevitCommand.cs
  ConnectorRevit/ConnectorRevit/Entry/SpeckleRevitCommand2.cs
  ConnectorRevit/ConnectorRevit/ExternalEventHandler.cs
  ConnectorRevit/ConnectorRevit/Storage/StreamStateManager.cs
  ConnectorRevit/ConnectorRevit/Storage/StreamStateManager2.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit .Settings.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.ClientOperations.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Events.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Mappings.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Selection.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Send.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Receive.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Selection.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Send.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.cs
  ConnectorRevit/ConnectorRevit2019/ConnectorRevit2019.csproj
  ConnectorRevit/ConnectorRevit2019/Properties/AssemblyInfo.cs
  ConnectorRevit/ConnectorRevit2020/ConnectorRevit2020.csproj
  ConnectorRevit/ConnectorRevit2020/Properties/AssemblyInfo.cs
  ConnectorRevit/ConnectorRevit2021/ConnectorRevit2021.csproj
  ConnectorRevit/ConnectorRevit2021/Properties/AssemblyInfo.cs
  ConnectorRevit/ConnectorRevit2022/ConnectorRevit2022.csproj
  ConnectorRevit/ConnectorRevit2022/Properties/AssemblyInfo.cs
  ConnectorRevit/ConnectorRevit2023/ConnectorRevit2023.csproj
  Core/Core/Kits/Applications.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Categories.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAnalyticalStick.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFloor.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertGeometry.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertTopography.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitVersionHelper.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

reformat with default dotnet formatter
  Core/Core/Api/GraphQL/Client.Subscriptions.Branch.cs
  Core/Core/Api/GraphQL/Client.Subscriptions.Commit.cs
  Core/Core/Api/Operations/Operations.Receive.cs
  Core/Core/Api/Operations/Operations.Send.cs
  Core/Core/Api/Operations/Operations.Serialize.cs
  Core/Core/Api/Operations/Operations.cs
  Core/Core/Kits/Attributes.cs
  Core/Core/Kits/ISpeckleKit.cs
  Core/Core/Logging/SpeckleException.cs
  Core/Core/Models/DynamicBase.cs
  Core/Core/Models/Extensions.cs
  Core/Core/Models/Extras.cs
  Core/Core/Models/Utilities.cs
  Core/Core/Serialisation/BaseObjectDeserializerV2.cs
  Core/Core/Serialisation/BaseObjectSerializer.cs
  Core/Core/Serialisation/BaseObjectSerialzerUtilities.cs
  Core/Core/Transports/Server.cs
  Core/Core/Transports/ServerUtils/IServerApi.cs
  Core/Core/Transports/ServerUtils/ParallelServerAPI.cs
  Core/Examples/Subscriptions.cs
  Core/IntegrationTests/Api.cs
  Core/IntegrationTests/Fixtures.cs
  Core/IntegrationTests/Subscriptions/Branches.cs
  Core/IntegrationTests/Subscriptions/Commits.cs
  Core/IntegrationTests/Subscriptions/Streams.cs
  Core/IntegrationTests/Usings.cs
  Core/Tests/Accounts.cs
  Core/Tests/BaseTests.cs
  Core/Tests/ClosureTests.cs
  Core/Tests/ExceptionTests.cs
  Core/Tests/Hashing.cs
  Core/Tests/Helpers.cs
  Core/Tests/Kits.cs
  Core/Tests/SendReceiveLocal.cs
  Core/Tests/SerializationTests.cs
  Core/Tests/TestKit.cs
  Core/Tests/TraversalTests.cs
  Core/Tests/Wrapper.cs
  Core/Transports/DiskTransport/DiskTransport.cs
  Core/Transports/MongoDBTransport/MongoDB.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

refactor path helpers into SpecklePathProvider
  Core/Core/Credentials/AccountManager.cs
  Core/Core/Credentials/StreamWrapper.cs
  Core/Core/Helpers/Path.cs
  Core/Core/Kits/KitManager.cs
  Core/Core/Transports/ServerV2.cs
  Core/Tests/Path.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Obsolete old path helper methods
  Core/Core/Api/Helpers.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

core internals visible for unittesting
  Core/Core/Core.csproj
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

sqlite transport is now an IBlobCapableTransport
  Core/Core/Transports/ITransport.cs
  Core/Core/Transports/SQLite.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

add original path to Blobs, to be able to copy data into cache on send
  Core/Core/Models/Base.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

add tests for blob send and receive
  Core/IntegrationTests/ServerTransportTests.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix 2 space
  DesktopUI2/DesktopUI2/Views/Pages/NotificationsView.xaml
  DesktopUI2/DesktopUI2/Views/Pages/OneClickView.xaml
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/ImportFamiliesDialog.xaml
Due: none

fix failing test cases
  Core/Core/Helpers/Path.cs
  Core/IntegrationTests/ServerTransportTests.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad
