Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.3.1
  python: circleci/python@2.0.3

jobs:
  setup:
    executor: python/default
    steps:
      - checkout # checkout code
      - when:
          condition:
            and:
              - not:
                  equal: [main, << pipeline.git.branch >>]
              - not:
                  matches:
                    pattern: ".*/?ci/.*"
                    value: << pipeline.git.branch >>
              - not:
                  matches:
                    pattern: ".*/all$"
                    value: << pipeline.git.tag >>
          steps:
            - run: git branch internal_circleci
            - path-filtering/set-parameters:
                mapping: |
                  Core/.* core true
                  (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.* rhino true
                  (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.* revit true
                  (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.* dynamo true
                  (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.* autocadcivil true
                  (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.* csi true
                  (Core|Objects|ConnectorMicroStation|.*/ConverterMicroStation)/.* microstation true
                  (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.* teklastructures true
                  (Core|Objects|ConnectorArchicad)/.* archicad true
                  (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.* navisworks true
                base-revision: main
                output-path: .circleci/scripts/parameters.json
      - run: cat .circleci/scripts/parameters.json
      - run: pip install pyyaml
      - run: # run a command
          name: Generate config
          command: |
            python .circleci/scripts/config-generator.py -d ${CIRCLE_TAG:-none} -o .circleci/continuation-config.yml
      - continuation/continue:
          configuration_path: .circleci/continuation-config.yml # use newly generated config to continue
workflows:
  setup:
    jobs:
      - setup:
          name: Build Setup
      - setup:
          name: Deploy Setup
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^(nugets\/)?([0-9]+)\.([0-9]+)\.([0-9]+)(?:-\w+)?(\/all)?$/

fix(logging): remove span creation
  Core/Core/Logging/SpeckleLog.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

fix(logging): remove redundant using
  Core/Core/Logging/SpeckleLog.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

add operating system related data to log messages
  Core/Core/Logging/SpeckleLog.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

Matteo/polly (#2102)
  Core/Core/Core.csproj
  Core/Core/Helpers/Http.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

fix(dui2): use the new OtherUserGet client operation
  DesktopUI2/DesktopUI2/Utils.cs
Due: none

fix(autocadcivil): handles null corridor surfaces on send (#2079)
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

enhancement (dui): Adds two forms of text entry for Advanced Settings - Text and Numeric (#2090)
  DesktopUI2/DesktopUI2/DesktopUI2.csproj
  DesktopUI2/DesktopUI2/Models/Settings/NumericSetting.cs
  DesktopUI2/DesktopUI2/Models/Settings/SettingsConverter.cs
  DesktopUI2/DesktopUI2/Models/Settings/TextBoxSetting.cs
  DesktopUI2/DesktopUI2/Views/Settings/NumericSettingView.xaml
  DesktopUI2/DesktopUI2/Views/Settings/NumericSettingView.xaml.cs
  DesktopUI2/DesktopUI2/Views/Settings/TextBoxSettingView.xaml
  DesktopUI2/DesktopUI2/Views/Settings/TextBoxSettingView.xaml.cs
Due: none

feature (DUI): TreeViewFilter to allow SelectionMode Binding (#2096)
  DesktopUI2/DesktopUI2/Models/Filters/TreeSelectionFilter.cs
  DesktopUI2/DesktopUI2/Views/Filters/TreeFilterView.xaml
  DesktopUI2/DesktopUI2/Views/Filters/TreeFilterView.xaml.cs
Due: none

gergo/loggingExtras (#2103)
  Core/Core/Logging/SpeckleLog.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

Autocad: traversal refactor (#2092)
  ConnectorAutocadCivil/ConnectorAutocad2023/ConnectorAutocad2023.csproj
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Utils.cs
  Core/Core/Models/GraphTraversal/RuleBuilder.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

feat(rhino): receive parameters as user strings (#2061)
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
Due: rhino

fix(dui): refactor to new StreamUpdatePermission client operation
  Core/Core/Api/GraphQL/Client.cs
  DesktopUI/DesktopUI/Streams/Dialogs/ShareStreamDialogViewModel.cs
  DesktopUI/DesktopUI/Streams/StreamCreateDialogViewModel.cs
  DesktopUI/DesktopUI/Streams/StreamUpdateObjectsDialogViewModel.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

fix(core): fix nullable error messages
  Core/Core/Api/Exceptions.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

feat(core gql client): add graphql error message and extensions to logged data
  Core/Core/Api/GraphQL/Client.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

ci: discord nofitication
  .circleci/scripts/config-generator.py
  .circleci/scripts/config-template.yml
Due: none

revit instance to native method added
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertBlock.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

SavedView implementation scaffold
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Filters.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Objects.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Settings.cs
  ConnectorNavisworks/ConnectorNavisworks/ConnectorNavisworks.Shared.projitems
  ConnectorNavisworks/ConnectorNavisworks/Other/Utils.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/ViewProxy.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Settings.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToSpeckle.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

test: First mockup of Account from token node
  ConnectorGrasshopper/ConnectorGrasshopperShared/Accounts/AccountFromToken.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/ConnectorGrasshopperShared.projitems
Due: rhino

feat: Adds new account and stream nodes to authenticate dynamically using Rhino.Compute
  ConnectorGrasshopper/ConnectorGrasshopperShared/Accounts/AccountFromToken.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Accounts/Accounts.GetAccountToken.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/ComponentCategories.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/ConnectorGrasshopperShared.projitems
  ConnectorGrasshopper/ConnectorGrasshopperShared/Properties/Resources.Designer.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Properties/Resources.resx
  ConnectorGrasshopper/ConnectorGrasshopperShared/Resources/AccountToken.png
  ConnectorGrasshopper/ConnectorGrasshopperShared/Resources/StreamGetWithToken.png
  ConnectorGrasshopper/ConnectorGrasshopperShared/Streams/StreamGetWithTokenComponent.cs
  Core/Core/Credentials/StreamWrapper.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

ignore duplicate objects on flatten and receive
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

fix conversion for 2d analytical elements
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAnalyticalSurface.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

feat(core): add detailed logging to the add account flow in core
  Core/Core/Credentials/AccountManager.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

gergo/errorLoggingInAddAcount (#2111)
  Core/Core/Credentials/AccountManager.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

updates decompose method in transform class
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
  Objects/Objects/Other/Transform.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

fix(core): move away from the test seq api key
  Core/Core/Logging/SpeckleLog.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

fix(gitguardian): update to the new key
  .gitguardian.yml
Due: none

caches familytype conversions for instances
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

gergo/switchSeqKey (#2113)
  .gitguardian.yml
  Core/Core/Logging/SpeckleLog.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

performance issues and added settings for including analysis results
  ConnectorCSI/ConnectorCSIShared/ConnectorCSIShared.projitems
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.ClientOperations.cs
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Settings.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSI.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSIUtils.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Geometry/ConvertFrame.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Results/ConvertResultNodes.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Results/ConvertResultSet1D.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Results/ConvertResultSet2D.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Results/ConvertResults.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/Units.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

ignore analytical results when traversing commit
  Core/Core/Models/GraphTraversal/DefaultTraversal.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

get rid of resultsetall hack
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

Implemented Commit Views and Views as Object Source
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Events.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Filters.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Objects.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
  DesktopUI2/DesktopUI2/Models/Filters/TreeSelectionFilter.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Geometry.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Settings.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToSpeckle.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Utils.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

include open viewport views in Project Info when sending
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Utils.cs
Due: rhino

add floor prop to revitFloors
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFloor.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

Fix(Revit): add family to RevitFloors (#2119)
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFloor.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

undo flipping of Iyy and Izz
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAnalyticalStick.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

Add more properties to speckle material objects on upload
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertMaterial.cs
  Objects/Objects/Other/Material.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

update current Materials properties from the recieved commit
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertMaterial.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

edit floor depth when type is updated
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAnalyticalSurface.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks
