Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

chore(civil3d): changes property sets and parts data to be a `Base` (#3584)
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Send.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Utils.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

correctly assign isReadOnly parameter
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertView.Schedule.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

chore(send operation): print correlation ID in error & success messages (#3583)
  Core/Core/Api/Operations/Operations.Send.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

AdjustedElevation is now a double? type
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
  Objects/Objects/BuiltElements/Civil/CivilAppliedAssembly.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Update ConverterAutocadCivil.Civil.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Fix: AppliedAssembly.AdjustedElevation error, and Single Point Featureline error (#3578)
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
  Objects/Objects/BuiltElements/Civil/CivilAppliedAssembly.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

GS::ObjectState::Add interprets C string as char array rather than string in Xcode - explicit string conversion is applied to prevent this
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetDataCommand.cpp
Due: archicad

Fix: Corrects serialised data from Archicad (macOS) (#3587)
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetDataCommand.cpp
Due: archicad

Support shared parameter in schedules (#3585)
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertView.Schedule.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Use new Open functions to get Process.Start for all platforms correct
  ConnectorDynamo/ConnectorDynamo/CreateStreamNode/CreateStreamViewCustomization.cs
  ConnectorDynamo/ConnectorDynamo/ReceiveNode/ReceiveViewCustomization.cs
  ConnectorDynamo/ConnectorDynamo/SendNode/SendViewCustomization.cs
  ConnectorDynamo/ConnectorDynamo/ViewNode/View.cs
  ConnectorDynamo/ConnectorDynamoExtension/SpeckleWatchHandler.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Accounts/Accounts.ListAccounts.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Loader.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Deprecated/Operations.ReceiveComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Deprecated/Operations.SendComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Deprecated/Operations.SendComponentSync.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Deprecated/Operations.VariableInputSendComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Operations.SyncSendComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Operations.VariableInputReceiveComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Operations.VariableInputSendComponent.cs
  ConnectorNavisworks/ConnectorNavisworks/Entry/Ribbon.xaml.cs
  ConnectorRevit/ConnectorRevit/Entry/App.cs
  ConnectorRevit/ConnectorRevit/Entry/HelpCommand.cs
  Core/Core/Credentials/AccountManager.cs
  Core/Core/Helpers/Http.cs
  Core/Core/Helpers/Open.cs
  Core/Core/Logging/SpeckleLog.cs
  DesktopUI2/DesktopUI2/DummyBindings.cs
  DesktopUI2/DesktopUI2/Utils.cs
  DesktopUI2/DesktopUI2/ViewModels/CommentViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/MappingTool/MappingsViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/NotificationViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/OneClickViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/ProgressViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.Beams.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fmt
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Deprecated/Operations.ReceiveComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Operations.VariableInputReceiveComponent.cs
  Core/Core/Helpers/Http.cs
  Core/Core/Helpers/Open.cs
  DesktopUI2/DesktopUI2/ViewModels/ProgressViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Build fixes
  Core/Core/Api/Operations/Operations.Send.Obsolete.cs
  Core/Core/Credentials/AccountManager.cs
  Core/Core/Helpers/Open.cs
  Core/Core/Transports/Server.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

remove extra usings
  ConnectorGrasshopper/ConnectorGrasshopperShared/Accounts/Accounts.ListAccounts.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Loader.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Deprecated/Operations.ReceiveComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Deprecated/Operations.SendComponentSync.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Operations.SyncSendComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Operations.VariableInputReceiveComponent.cs
Due: rhino

remove even more usings
  ConnectorDynamo/ConnectorDynamo/ViewNode/View.cs
  ConnectorNavisworks/ConnectorNavisworks/Entry/Ribbon.xaml.cs
  ConnectorRevit/ConnectorRevit/Entry/App.cs
  ConnectorRevit/ConnectorRevit/Entry/HelpCommand.cs
Due: revit, dynamo, navisworks

even even more usings
  DesktopUI2/DesktopUI2/DummyBindings.cs
  DesktopUI2/DesktopUI2/ViewModels/CommentViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/DialogViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/MappingTool/MappingsViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/NotificationViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/OneClickViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/ProgressViewModel.cs
Due: none

Get rid of the catch just in case
  Core/Core/Helpers/Open.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Remove sentry
  Core/Core/Core.csproj
  Core/Core/Logging/SpeckleException.cs
  Core/Core/Logging/SpeckleLog.cs
  DesktopUI2/DesktopUI2/ConnectorBindings.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/Properties/ASBaseProperties.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

added units to civil classes missing them
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
  Objects/Objects/BuiltElements/Baseline.cs
  Objects/Objects/BuiltElements/Civil/CivilAppliedSubassembly.cs
  Objects/Objects/BuiltElements/Civil/CivilBaselineRegion.cs
  Objects/Objects/BuiltElements/Civil/CivilCalculatedLink.cs
  Objects/Objects/BuiltElements/Civil/CivilCalculatedPoint.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

retry fixes
  Core/Core/Api/GraphQL/Client.cs
  Core/Core/Helpers/Http.cs
  Core/Core/Transports/ServerUtils/ServerAPI.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix
  Core/Core/Transports/ServerUtils/ServerAPI.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(civil3d): added units to civil classes missing them (#3591)
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
  Objects/Objects/BuiltElements/Baseline.cs
  Objects/Objects/BuiltElements/Civil/CivilAppliedSubassembly.cs
  Objects/Objects/BuiltElements/Civil/CivilBaselineRegion.cs
  Objects/Objects/BuiltElements/Civil/CivilCalculatedLink.cs
  Objects/Objects/BuiltElements/Civil/CivilCalculatedPoint.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Retry Fixes (#3592)
  Core/Core/Api/GraphQL/Client.cs
  Core/Core/Helpers/Http.cs
  Core/Core/Transports/ServerUtils/ServerAPI.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

bug(civil3d) : fixes pipe base curve conversion bc civil3d api sucks (#3593)
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Implements displayValue to be the Area outline as there is no method to retrieve or generate a displayMesh
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertArea.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AsteelPlate.cs
  Objects/Objects/BuiltElements/AdvanceSteel/AsteelSlab.cs
  Objects/Objects/BuiltElements/Area.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Meshify version held in reserve
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertArea.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

duplicating attribute receive functionality from GisPolygon to GisFeature
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertPolygonElement.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

QGIS attributes in Revit (#3595)
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertPolygonElement.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

formatting
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertPolygonElement.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

formatting (#3596)
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertPolygonElement.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fixes receiving prop sets & changes name to definition name
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Receive.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Utils.cs
Due: autocadcivil

fix(civil3d): prop sets & changes name to definition name (#3598)
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Receive.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Utils.cs
Due: autocadcivil

Remove sentry (#3590)
  Core/Core/Core.csproj
  Core/Core/Logging/SpeckleException.cs
  Core/Core/Logging/SpeckleLog.cs
  DesktopUI2/DesktopUI2/ConnectorBindings.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/Properties/ASBaseProperties.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Cnx 9910 v2 needs better open uri handling (#3588)
  ConnectorDynamo/ConnectorDynamo/CreateStreamNode/CreateStreamViewCustomization.cs
  ConnectorDynamo/ConnectorDynamo/ReceiveNode/ReceiveViewCustomization.cs
  ConnectorDynamo/ConnectorDynamo/SendNode/SendViewCustomization.cs
  ConnectorDynamo/ConnectorDynamo/ViewNode/View.cs
  ConnectorDynamo/ConnectorDynamoExtension/SpeckleWatchHandler.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Accounts/Accounts.ListAccounts.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Loader.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Deprecated/Operations.ReceiveComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Deprecated/Operations.SendComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Deprecated/Operations.SendComponentSync.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Deprecated/Operations.VariableInputSendComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Operations.SyncSendComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Operations.VariableInputReceiveComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Operations.VariableInputSendComponent.cs
  ConnectorNavisworks/ConnectorNavisworks/Entry/Ribbon.xaml.cs
  ConnectorRevit/ConnectorRevit/Entry/App.cs
  ConnectorRevit/ConnectorRevit/Entry/HelpCommand.cs
  Core/Core/Api/Operations/Operations.Send.Obsolete.cs
  Core/Core/Credentials/AccountManager.cs
  Core/Core/Helpers/Open.cs
  Core/Core/Logging/SpeckleLog.cs
  Core/Core/Transports/Server.cs
  DesktopUI2/DesktopUI2/DummyBindings.cs
  DesktopUI2/DesktopUI2/Utils.cs
  DesktopUI2/DesktopUI2/ViewModels/CommentViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/DialogViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/MappingTool/MappingsViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/NotificationViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/OneClickViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/ProgressViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/AdvanceSteel/ConverterAutocadCivil.Beams.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Change handling of non-polyline openings to throw SpeckleException rather than nulling object refs (which throws an exception terminating the receive)
  ConnectorArchicad/ConnectorArchicad/Converters/ModelConverter.cs
Due: archicad

Formatted with csharpier
  ConnectorArchicad/ConnectorArchicad/Converters/ModelConverter.cs
Due: archicad

Fix: Throw SpeckleException on unhandled elements (#3599)
  ConnectorArchicad/ConnectorArchicad/Converters/ModelConverter.cs
Due: archicad

need full match on tag
  .circleci/scripts/config-template.yml
Due: none

Fix circle regex (#3600)
  .circleci/scripts/config-template.yml
Due: none

Changed Installer url
  .circleci/scripts/config-template.yml
Due: none

Path conditions:
  core: any of: Core/.*
  rhino: any of: (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.*
  revit: any of: (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.*
  dynamo: any of: (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.*
  autocadcivil: any of: (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.*
  csi: any of: (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.*
  bentley: any of: (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.*
  teklastructures: any of: (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.*
  archicad: any of: (Core|Objects|ConnectorArchicad)/.*
  navisworks: any of: (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.*
