Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.3.1
  python: circleci/python@2.0.3

jobs:
  setup:
    executor: python/default
    steps:
      - checkout # checkout code
      - when:
          condition:
            and:
              - not:
                  equal: [main, << pipeline.git.branch >>]
              - not:
                  matches:
                    pattern: ".*/?ci/.*"
                    value: << pipeline.git.branch >>
              - not:
                  matches:
                    pattern: ".*/all$"
                    value: << pipeline.git.tag >>
          steps:
            - run: git branch internal_circleci
            - path-filtering/set-parameters:
                mapping: |
                  Core/.* core true
                  (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.* rhino true
                  (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.* revit true
                  (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.* dynamo true
                  (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.* autocadcivil true
                  (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.* csi true
                  (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.* bentley true
                  (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.* teklastructures true
                  (Core|Objects|ConnectorArchicad)/.* archicad true
                  (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.* navisworks true
                base-revision: main
                output-path: .circleci/scripts/parameters.json
      - run: cat .circleci/scripts/parameters.json
      - run: pip install pyyaml
      - run: # run a command
          name: Generate config
          command: |
            python .circleci/scripts/config-generator.py -d ${CIRCLE_TAG:-none} -o .circleci/continuation-config.yml -e ${CIRCLE_PR_REPONAME:-none}
      - continuation/continue:
          configuration_path: .circleci/continuation-config.yml # use newly generated config to continue
workflows:
  setup:
    jobs:
      - setup:
          name: Build Setup
      - setup:
          name: Deploy Setup
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^(nugets\/)?([0-9]+)\.([0-9]+)\.([0-9]+)(?:-\w+)?(\/all)?$/

fix:(tekla): CNX-8391 Handle warnings CA1031 (#3118)
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/MainForm.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/StreamStateManager/StreamStateManager.cs
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/ConverterTeklaStructureUtils.cs
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/PartialClasses/ConvertDirectShapeMesh.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Build targert test project
  All.sln
  Core/Tests/Directory.Build.props
  Core/Tests/Speckle.Core.Tests.Integration/Speckle.Core.Tests.Integration.csproj
  Core/Tests/Speckle.Core.Tests.Performance/Speckle.Core.Tests.Performance.csproj
  Core/Tests/Speckle.Core.Tests.Unit/Speckle.Core.Tests.Unit.csproj
  Directory.Build.targets
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

CNX-8392 Handle CA1031 warnings in ArchiCAD projects
  ConnectorArchicad/ConnectorArchicad/Communication/AsyncCommandProcessor.cs
  ConnectorArchicad/ConnectorArchicad/ConnectorBinding.cs
  ConnectorArchicad/ConnectorArchicad/Converters/ElementConverterManagerReceive.cs
Due: archicad

Update Fenestration.cs
  Objects/Objects/BuiltElements/Archicad/Fenestration.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

remove unused imports
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Recieve.cs
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Send.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertArea.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

formatting fixes
  ConnectorCSI/ConnectorCSIShared/StreamStateManager/StreamStateManager.cs
  ConnectorCSI/DriverCSharp/Program.cs
Due: csi

Cnx 8390 handle ca1031 warnings in csi projects (#3124)
  ConnectorCSI/ConnectorCSIShared/StreamStateManager/StreamStateManager.cs
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.ClientOperations.cs
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Recieve.cs
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Selection.cs
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Send.cs
  ConnectorCSI/ConnectorCSIShared/Util/ConnectorCSIUtils.cs
  ConnectorCSI/DriverCSharp/Program.cs
  Core/Core/Logging/ExceptionHelpers.cs
  DesktopUI2/DesktopUI2/Models/Filters/TreeSelectionFilter.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSIUtils.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Analysis/ConvertModel.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertArea.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertFrame.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Materials/ConvertMaterials.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Properties/Convert1DProperty.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(rhino): Added use of `IsFatal` in converter
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(rhino): Added use of `IsFatal` in connector
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/SpeckleCommandWin.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/SpeckleMappingsCommandWin.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/DuiPanel.xaml.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/MappingBindingsRhino.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/MappingsPanel.xaml.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Utils.cs
Due: rhino

fix(rhino): Missing newline
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Utils.cs
Due: rhino

SerializerV1 Deprecation
  Core/Core/Api/Operations/Operations.cs
  Core/Core/Models/ApplicationObject.cs
  Core/Core/Models/Base.cs
  Core/Core/Models/CommitObjectBuilder.cs
  Core/Core/Models/Extras.cs
  Core/Core/Models/Utilities.cs
  Core/Core/Serialisation/BaseObjectSerializer.cs
  Core/Core/Serialisation/BaseObjectSerializerV2.cs
  Core/Core/Serialisation/BaseObjectSerialzerUtilities.cs
  Core/Core/Transports/Server.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(rhino): Wrapped all generic exceptions with isFatal handling
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/Plugin.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/SpeckleCommandMac.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/SpeckleMappingsCommandMac.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/MappingBindingsRhino.cs
Due: rhino

fix(rhino): Typo in isFatal handling
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/Plugin.cs
Due: rhino

Deprecated more serializerv1 functions
  Core/Core/Api/Operations/Operations.Serialize.cs
  Core/Core/Kits/Units.cs
  Core/Core/Models/Base.cs
  Core/Core/Models/CommitObjectBuilder.cs
  Core/Core/Models/Extensions/BaseExtensions.cs
  Core/Core/Models/Extras.cs
  Core/Core/Models/GraphTraversal/DefaultTraversal.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Deprecated SerialzierV1 overloads of Operations.Receive
  .editorconfig
  Core/Core/Api/Operations/Operations.Receive.cs
  Core/Core/Api/Operations/Operations.Send.cs
  Core/Core/Api/Operations/Operations.Serialize.cs
  Core/Core/Api/Operations/Operations.cs
  Core/Core/Models/Base.cs
  Core/Core/Serialisation/BaseObjectSerialzerUtilities.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Operations.Receive
  Core/Core/Api/Operations/Operations.Receive.cs
  Core/Core/Api/Operations/Operations.Serialize.cs
  Core/Core/Api/Operations/Operations.cs
  Core/Core/Serialisation/BaseObjectDeserializerV2.cs
  Core/Core/Serialisation/BaseObjectSerializerV2.cs
  Core/Core/Serialisation/SerialiserException.cs
  Core/IntegrationTests/ServerTransportTests.cs
  Core/Tests/SerializationTests.cs
  Core/TestsPerformance/Api/Operations/ReceiveFromSQLite.cs
  Core/TestsPerformance/TestDataHelper.cs
  DesktopUI2/DesktopUI2/ConnectorHelpers.cs
  DesktopUI2/DesktopUI2/ViewModels/MappingTool/MappingsViewModel.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Fixed unit tests
  Core/Tests/Speckle.Core.Tests.Unit/Serialisation/SerializerBreakingChanges.cs
  DesktopUI2/DesktopUI2/ConnectorHelpers.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Lick of Polish
  Core/Core/Api/Operations/Operations.Receive.cs
  Core/Tests/Speckle.Core.Tests.Unit/Api/Operations/SendReceiveLocal.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

minor fixes per alan's comments
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/SpeckleConversionTest.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Operations.Receive Tests
  .editorconfig
  Core/Core/Api/Operations/Operations.Receive.cs
  Core/Core/Serialisation/BaseObjectDeserializerV2.cs
  Core/Core/Transports/Memory.cs
  Core/Core/Transports/SQLite.cs
  Core/Core/Transports/TransportHelpers.cs
  Core/Tests/Speckle.Core.Tests.Unit/Api/Operations/OperationsReceiveTests.Exceptional.cs
  Core/Tests/Speckle.Core.Tests.Unit/Api/Operations/OperationsReceiveTests.cs
  Core/Tests/Speckle.Core.Tests.Unit/Api/Operations/SendReceiveLocal.cs
  Core/Tests/Speckle.Core.Tests.Unit/Transports/TransportTests.cs
  Core/Transports/DiskTransport/DiskTransport.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Un-obsoleted a couple functions that are needed for V2 serializer
  Core/Core/Api/Helpers.cs
  Core/Core/Api/Operations/Operations.Receive.cs
  Core/Core/Api/Operations/Operations.Serialize.cs
  Core/Core/Logging/Setup.cs
  Core/Core/Models/GraphTraversal/TraversalContexts.cs
  Core/Core/Serialisation/BaseObjectSerialzerUtilities.cs
  Core/Transports/DiskTransport/DiskTransport.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

add exceptions to log
  ConnectorArchicad/ConnectorArchicad/Communication/AsyncCommandProcessor.cs
  ConnectorArchicad/ConnectorArchicad/Converters/ElementConverterManagerReceive.cs
Due: archicad

simplify
  ConnectorArchicad/ConnectorArchicad/Communication/AsyncCommandProcessor.cs
  ConnectorArchicad/ConnectorArchicad/Converters/ElementConverterManagerReceive.cs
Due: archicad

fix(rhino): CNX-8388 handle ca1031 warnings in rhino connector (#3110)
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/Plugin.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/SpeckleCommandMac.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/SpeckleCommandWin.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/SpeckleMappingsCommandMac.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/SpeckleMappingsCommandWin.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.Previews.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.Receive.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.Selection.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/DuiPanel.xaml.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/MappingBindingsRhino.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/MappingsPanel.xaml.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Utils.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Utils.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(Archicad): CNX-8392 Handle CA1031 warnings in ArchiCAD projects (#3122)
  ConnectorArchicad/ConnectorArchicad/Communication/AsyncCommandProcessor.cs
  ConnectorArchicad/ConnectorArchicad/ConnectorBinding.cs
  ConnectorArchicad/ConnectorArchicad/Converters/ElementConverterManagerReceive.cs
Due: archicad

fixes units and domain changes
  Objects/Objects/BuiltElements/Archicad/ElementShape.cs
  Objects/Objects/GIS/GisTopography.cs
  Objects/Objects/GIS/PolygonElement.cs
  Objects/Objects/Geometry/Arc.cs
  Objects/Objects/Geometry/Brep.cs
  Objects/Objects/Geometry/BrepEdge.cs
  Objects/Objects/Geometry/BrepTrim.cs
  Objects/Objects/Geometry/Circle.cs
  Objects/Objects/Geometry/Curve.cs
  Objects/Objects/Geometry/Ellipse.cs
  Objects/Objects/Geometry/Line.cs
  Objects/Objects/Geometry/Mesh.cs
  Objects/Objects/Geometry/Point.cs
  Objects/Objects/Geometry/Polycurve.cs
  Objects/Objects/Geometry/Polyline.cs
  Objects/Objects/Interfaces.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

add warnings to transaction manager temporary transaction
  ConnectorRevit/RevitSharedResources/Models/TransactionManager.cs
Due: revit

updates room level nullability
  Objects/Objects/BuiltElements/Room.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

whitespace
  ConnectorAutocadCivil/ConnectorAutocadCivil/Entry/App.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Utils.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(grasshopper): Added Rhino8 grasshopper projects
  All.sln
  ConnectorGrasshopper/ConnectorGrasshopper8/ConnectorGrasshopper8.csproj
  ConnectorGrasshopper/ConnectorGrasshopperShared/Loader.cs
  ConnectorGrasshopper/ConnectorGrasshopperUtils/ConnectorGrasshopperUtils.csproj
  ConnectorRhino/ConnectorRhino.slnf
  ConnectorRhino/ConnectorRhino8/ConnectorRhino8.csproj
  Objects/Converters/ConverterRhinoGh/ConverterGrasshopper8/ConverterGrasshopper8.csproj
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

chore(rhino): Added RHINOX_OR_GREATER compile-time constants
  ConnectorGrasshopper/ConnectorGrasshopper6/ConnectorGrasshopper6.csproj
  ConnectorGrasshopper/ConnectorGrasshopper7/ConnectorGrasshopper7.csproj
  ConnectorGrasshopper/ConnectorGrasshopper8/ConnectorGrasshopper8.csproj
  ConnectorRhino/ConnectorRhino6/ConnectorRhino6.csproj
  ConnectorRhino/ConnectorRhino7/ConnectorRhino7.csproj
  ConnectorRhino/ConnectorRhino8/ConnectorRhino8.csproj
  Objects/Converters/ConverterRhinoGh/ConverterGrasshopper6/ConverterGrasshopper6.csproj
  Objects/Converters/ConverterRhinoGh/ConverterGrasshopper7/ConverterGrasshopper7.csproj
  Objects/Converters/ConverterRhinoGh/ConverterGrasshopper8/ConverterGrasshopper8.csproj
  Objects/Converters/ConverterRhinoGh/ConverterRhino6/ConverterRhino6.csproj
  Objects/Converters/ConverterRhinoGh/ConverterRhino7/ConverterRhino7.csproj
  Objects/Converters/ConverterRhinoGh/ConverterRhino8/ConverterRhino8.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(rhino): Changed preprocessor directives to use RHINOX_OR_GREATER instead of OR conditions
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/BrepEncoder.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Geometry.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(rhino): EnableWindowsTargetting for Rhino8 project
  ConnectorRhino/ConnectorRhino8/ConnectorRhino8.csproj
Due: rhino

fix(gh): EnableWindowsTargetting for Grasshopper8 project
  ConnectorGrasshopper/ConnectorGrasshopper8/ConnectorGrasshopper8.csproj
Due: rhino

pr fixes
  Objects/Objects/BuiltElements/Archicad/ComponentProperties.cs
  Objects/Objects/BuiltElements/Archicad/Property.cs
  Objects/Objects/BuiltElements/Archicad/PropertyGroup.cs
  Objects/Objects/BuiltElements/Room.cs
  Objects/Objects/Geometry/Arc.cs
  Objects/Objects/Geometry/Line.cs
  Objects/Objects/Geometry/Point.cs
  Objects/Objects/Geometry/Polycurve.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Update Network.cs
  Objects/Objects/BuiltElements/Network.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(rhino): Do not build rhino8 for mac for now
  All.sln
Due: none

fix(rhino/gh): Disable `EnableWindowsTargeting` and removed unnecessary using
  ConnectorGrasshopper/ConnectorGrasshopperShared/Loader.cs
  ConnectorRhino/ConnectorRhino8/ConnectorRhino8.csproj
Due: rhino
