Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.3.1
  python: circleci/python@2.0.3

jobs:
  setup:
    executor: python/default
    steps:
      - checkout # checkout code
      - when:
          condition:
            and:
              - not:
                  equal: [main, << pipeline.git.branch >>]
              - not:
                  matches:
                    pattern: ".*/?ci/.*"
                    value: << pipeline.git.branch >>
              - not:
                  matches:
                    pattern: ".*/all$"
                    value: << pipeline.git.tag >>
          steps:
            - run: git branch internal_circleci
            - path-filtering/set-parameters:
                mapping: |
                  Core/.* core true
                  (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.* rhino true
                  (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.* revit true
                  (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.* dynamo true
                  (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.* autocadcivil true
                  (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.* csi true
                  (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.* bentley true
                  (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.* teklastructures true
                  (Core|Objects|ConnectorArchicad)/.* archicad true
                  (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.* navisworks true
                base-revision: main
                output-path: .circleci/scripts/parameters.json
      - run: cat .circleci/scripts/parameters.json
      - run: pip install pyyaml
      - run: # run a command
          name: Generate config
          command: |
            python .circleci/scripts/config-generator.py -d ${CIRCLE_TAG:-none} -o .circleci/continuation-config.yml -e ${CIRCLE_PR_REPONAME:-none}
      - continuation/continue:
          configuration_path: .circleci/continuation-config.yml # use newly generated config to continue
workflows:
  setup:
    jobs:
      - setup:
          name: Build Setup
      - setup:
          name: Deploy Setup
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^(nugets\/)?([0-9]+)\.([0-9]+)\.([0-9]+)(?:-\w+)?(\/all)?$/

formatting
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Features/GeometryToSpeckleBase.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Features/GisFeatureToSpeckleConverter.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Geometry/GeometryUtils.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Layers/VectorLayerToSpeckleConverter.cs
Due: none

simplify parameter conversion to Speckle
  DUI3-DX/Converters/Revit/Speckle.Converters.Revit2023.DependencyInjection/AutofacRevitConverterModule.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Helpers/ParameterValueExtractor.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Raw/LevelConversionToSpeckle.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Raw/ParameterConversionToSpeckle.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Services/CachingService.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Services/ICachingService.cs
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Speckle.Converters.RevitShared.projitems
Due: none

fix build
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Speckle.Converters.RevitShared.projitems
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertPolygonElement.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

adds spline and polyline converters
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/Extensions/ListExtensions.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/Speckle.Converters.AutocadShared.projitems
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToSpeckle/Geometry/PolyfaceMeshToSpeckleConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToSpeckle/Geometry/Polyline2dToSpeckleConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToSpeckle/Geometry/Polyline3dToSpeckleConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToSpeckle/Geometry/PolylineToSpeckleConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToSpeckle/Geometry/SplineToSpeckleConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToSpeckle/Geometry/SubDMeshToSpeckleConverter.cs
  Objects/Objects/Geometry/Autocad/AutocadPolycurve.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

add back deprecated polygonElement class
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertPolygonElement.cs
  Objects/Objects/GIS/PolygonElement.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

remove line
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

more specific reason
  Objects/Objects/GIS/PolygonElement.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

basis for Raster send
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Features/GisRasterToSpeckleConverter.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/GlobalUsings.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Layers/RasterLayerToSpeckleConverter.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Layers/VectorLayerToSpeckleConverter.cs
  Objects/Objects/GIS/RasterElement.cs
  Objects/Objects/GIS/RasterLayer.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Remove unused context and add POC comment
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToHost/Geometry/PointToHostConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToHost/Raw/PolycurveToHostSplineRawConverter.cs
Due: none

Get Account by id improvement
  Core/Core/Credentials/Account.cs
  Core/Core/Credentials/AccountManager.cs
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Operations/Send/RootObjectSender.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Bindings/AutocadSendBinding.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Operations/Send/RootObjectSender.cs
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/Operations/Send/RootObjectSender.cs
  DUI3-DX/Sdk/Speckle.Connectors.Utils/Operations/ReceiveOperation.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

ReceiveOperation tweaks
  DUI3-DX/Sdk/Speckle.Connectors.Utils/Operations/ReceiveOperation.cs
Due: none

fix warnings
  DUI3-DX/Sdk/Speckle.Connectors.Utils/Operations/ReceiveOperation.cs
Due: none

Fix warnings
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Operations/Send/RootObjectSender.cs
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/Operations/Send/RootObjectSender.cs
  DUI3-DX/Sdk/Speckle.Connectors.Utils/Operations/ReceiveOperation.cs
Due: none

chore(dui3): adds poc comment
  DUI3-DX/DUI3/Speckle.Connectors.DUI/Bindings/ConfigBinding.cs
Due: none

Added unit test
  Core/Tests/Speckle.Core.Tests.Unit/Credentials/Accounts.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

POC: syncing to main thread
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Bindings/AutocadReceiveBinding.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/DependencyInjection/AutofacAutocadModule.cs
  DUI3-DX/DUI3/Speckle.Connectors.DUI/Bridge/SyncToUIThread.cs
  DUI3-DX/Sdk/Speckle.Connectors.Utils/Operations/ISyncToMainThread.cs
  DUI3-DX/Sdk/Speckle.Connectors.Utils/Operations/ReceiveOperation.cs
Due: none

Rhino bindings
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Bindings/AutocadReceiveBinding.cs
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/DependencyInjection/AutofacRhinoModule.cs
Due: none

Jedds fixes (#3287)
  Core/Core/Transports/SQLite.cs
  Core/Tests/Speckle.Core.Tests.Unit/Transports/SQLiteTransportTests.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Bindings/AutocadReceiveBinding.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/DependencyInjection/AutofacAutocadModule.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/HostApp/AutocadSettings.cs
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/DependencyInjection/AutofacRhinoModule.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.Autocad2023.DependencyInjection/Speckle.Converters.Autocad2023.DependencyInjection.csproj
  DUI3-DX/DUI3/Speckle.Connectors.DUI/Bridge/SyncToUIThread.cs
  DUI3-DX/Sdk/Speckle.Connectors.Utils/Operations/ISyncToMainThread.cs
  DUI3-DX/Sdk/Speckle.Connectors.Utils/Operations/ReceiveOperation.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Fix Revit connector build (#3288)
  DUI3-DX/Converters/Revit/Speckle.Converters.RevitShared/Speckle.Converters.RevitShared.projitems
  Objects/Objects/GIS/PolygonElement.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(dui3): removes unnecessary using statement
  DUI3-DX/DUI3/Speckle.Connectors.DUI/Bindings/ConfigBinding.cs
Due: none

Fix file path
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/Speckle.Converters.AutocadShared.projitems
Due: none

Remove file on locally exists
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToHost/Geometry/CircleToHostDBCircleConverter.cs
Due: none

Remove POC comment for random crash
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToHost/Geometry/MeshToHostConverter.cs
Due: none

feat: More receive conversions
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/Raw/SpeckleICurveRawToHostConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/Raw/SpecklePolyCurveRawToHostConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/Raw/SpeckleSurfaceRawToHostConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/TopLevel/SpeckleBrepToHostBrepConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/TopLevel/SpeckleNurbsCurveToHostNurbsCurveConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/TopLevel/SpecklePolycurveToHostPolycurveConversion.cs
Due: none

feat: Ellipse conversion + other minor tweaks
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/Raw/SpeckleEllipseRawToHostConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/Raw/SpeckleICurveRawToHostConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/Raw/SpecklePolylineRawToHostConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/Raw/SpeckleSpiralRawToHostConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/Raw/SpeckleSurfaceRawToHostConversion.cs
Due: none

feat: Top-level ellipse conversion + nameandrank for arcs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/Raw/SpeckleBrepRawToHostConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/TopLevel/SpeckleArcToHostArcCurveConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/TopLevel/SpeckleEllipseToHostNurbsCurveConversion.cs
Due: none

raster (placeholder for Mesh)
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Features/GisRasterToSpeckleConverter.cs
  DUI3-DX/Converters/ArcGIS/Speckle.Converters.ArcGIS3/Layers/RasterLayerToSpeckleConverter.cs
Due: none

MOVE TO SELECTION FILTER
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Operations/Send/RootObjectBuilder.cs
Due: none

feat: PointCloud top-level conversion + IReadOnlyList tweaks
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/Raw/FlatPointListRawToHostConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/Raw/SpeckleMeshRawToHostConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/Raw/SpecklePointCloudRawToHostConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/Raw/SpecklePolylineRawToHostConversion.cs
  DUI3-DX/Converters/Rhino/Speckle.Converters.Rhino7/ToHost/TopLevel/SpecklePointCloudToHostPointCloudConversion.cs
Due: none

feat: Exclude obvious non-convertible items (for now) from flattened list
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/Operations/Receive/RhinoHostObjectBuilder.cs
Due: none

Get Account by id improvement (#3290)
  Core/Core/Credentials/Account.cs
  Core/Core/Credentials/AccountManager.cs
  Core/Tests/Speckle.Core.Tests.Unit/Credentials/Accounts.cs
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Operations/Send/RootObjectSender.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Bindings/AutocadSendBinding.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Operations/Send/RootObjectSender.cs
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/Operations/Send/RootObjectSender.cs
  DUI3-DX/Sdk/Speckle.Connectors.Utils/Operations/ReceiveOperation.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Added comments to the binaryformatter front matter
  Core/Core/Helpers/BinaryFormatter.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

add metrics through events
  ConnectorCore/DllConflictManagement/Analytics/AnalyticsWithoutDependencies.cs
  ConnectorCore/DllConflictManagement/AssemblyConflictInfo.cs
  ConnectorCore/DllConflictManagement/ConflictManagementOptions/DllConflictManagmentOptions.cs
  ConnectorCore/DllConflictManagement/ConflictManagementOptions/DllConflictManagmentOptionsLoader.cs
  ConnectorCore/DllConflictManagement/DllConflictManager.cs
  ConnectorCore/DllConflictManagement/DllConflictUserNotifier.cs
  ConnectorCore/DllConflictManagement/EventEmitter/ActionEventArgs.cs
  ConnectorCore/DllConflictManagement/EventEmitter/DllConflictEventEmitter.cs
  ConnectorCore/DllConflictManagement/EventEmitter/LoggingEventArgs.cs
  ConnectorCore/DllConflictManagement/Serialization/ISerializer.cs
  ConnectorCore/DllConflictManagement/Serialization/SystemTextJsonSerializer.cs
  ConnectorRevit/ConnectorRevit/Entry/App.cs
  ConnectorRevit/ConnectorRevit/Entry/RevitDllConflictUserNotifier.cs
Due: revit

Extend selection info
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Bindings/AutocadSelectionBinding.cs
Due: none

Use Location for Assembly
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/HostApp/AutocadSettings.cs
Due: none

Send Polyline
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/Speckle.Converters.AutocadShared.projitems
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToSpeckle/Geometry/Polyline2dToSpeckleConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToSpeckle/Geometry/PolylineToSpeckleConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToSpeckle/Raw/CircularArc3dToSpeckleConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToSpeckle/Raw/LineSegment3dToSpeckleRawConverter.cs
  DUI3-DX/Converters/Autocad/Speckle.Converters.AutocadShared/ToSpeckle/Raw/PlaneToSpeckleRawConverter.cs
Due: none

per JR-Morgan's comments
  Core/Core/Helpers/BinaryFormatter.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

more comprehensive tests that trigger every byte of string length, as well as clarification of a magic number in the formatter.
  Core/Core/Helpers/BinaryFormatter.cs
  Core/Tests/Speckle.Core.Tests.Unit/Helpers/BinaryFormatter.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

you guys must love this circleCI guy they're a real hoot
  Core/Tests/Speckle.Core.Tests.Unit/Helpers/BinaryFormatter.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

a real hoot
  Core/Core/Helpers/BinaryFormatter.cs
  Core/Tests/Speckle.Core.Tests.Unit/Helpers/BinaryFormatter.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks
