Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(rvt): Minor fixes and refactor in DisplayableObject conversion
  Core/Core/Models/Extensions.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertDisplayableObject.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

hack(rvt): Temporary modification of DirectMesh receive logic
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

CIVIL2024 re-inserted
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/Converter.AutocadCivil.Utils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

wip(dui3): figures out proper polymorphic deserialization for UI bound types
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/BasicConnectorBindingRhino.cs
  DesktopUI3/DUI3/Bindings/ConfigBinding.cs
  DesktopUI3/DUI3/Bindings/IBasicConnectorBinding.cs
  DesktopUI3/DUI3/Bindings/ISelectionBinding.cs
  DesktopUI3/DUI3/Bridge.cs
  DesktopUI3/DUI3/DUI3.csproj
  DesktopUI3/DUI3/Models.cs
  DesktopUI3/DUI3/Utils/DiscriminatedObject.cs
  DesktopUI3/DUI3/Utils/DiscriminatedObjectConverter.cs
  DesktopUI3/DUI3/Utils/Serialization.cs
Due: rhino

fix mesh gathering performance
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertBeam.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertColumn.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

throttle send
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Send.cs
Due: revit

modifies traversal and adds secondary conversion routine for failed conversion
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.Receive.cs
  Core/Core/Models/GraphTraversal/DefaultTraversal.cs
  Core/Core/Models/GraphTraversal/GraphTraversal.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Update ConnectorBindingsRevit.Receive.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
Due: revit

speed up param retrieval
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Send.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/Units.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitVersionHelper.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

custom apiContext exposer
  ConnectorRevit/ConnectorRevit/Entry/App.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Send.cs
  ConnectorRevit/RevitSharedResources/Models/APIContext.cs
  ConnectorRevit/RevitSharedResources/RevitSharedResources.projitems
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

adds setting modification to retry conversion
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  Core/Core/Models/GraphTraversal/GraphTraversal.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

refactored settings
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
Due: revit

adds displayable check for failed conversion
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
Due: revit

Update ConnectorBindingsRevit.Previews.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Previews.cs
Due: revit

refactored to handle nulls
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
Due: revit

temp: Added instance logic in DisplayableObjectToNative
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertDisplayableObject.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(objects): Missing renderMaterial for meshes transformTo
  Objects/Objects/Geometry/Mesh.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

chore: track if the user accepts the mapping dialog or not
  ConnectorRevit/ConnectorRevit/TypeMapping/ElementTypeMapper.cs
Due: revit

better scaling caching and more reusable methods
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/Units.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitCommitObjectBuilder.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitVersionHelper.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix tests
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Send.cs
  ConnectorRevit/RevitSharedResources/Models/APIContext.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/AssertUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/SpeckleConversionTest.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/SpeckleUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

remove all traces of revitAsync
  ConnectorRevit/ConnectorRevit/TypeMapping/FamilyImporter.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Events.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Previews.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Send.cs
  ConnectorRevit/ConnectorRevit2020/ConnectorRevit2020.csproj
  ConnectorRevit/ConnectorRevit2021/ConnectorRevit2021.csproj
  ConnectorRevit/ConnectorRevit2022/ConnectorRevit2022.csproj
  ConnectorRevit/ConnectorRevit2023/ConnectorRevit2023.csproj
  ConnectorRevit/ConnectorRevit2024/ConnectorRevit2024.csproj
  ConnectorRevit/RevitSharedResources/Models/APIContext.cs
Due: revit

delete unused extensions
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitVersionHelper.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

remove RevitAsync from tests
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTests2021/ConverterRevitTests2021.csproj
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTests2022/ConverterRevitTests2022.csproj
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTests2023/ConverterRevitTests2023.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(dui3): document state progress + filters wip implementations (rhino bound)
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/BasicConnectorBindingRhino.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/Filters.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/SelectionBinding.cs
  DesktopUI2/DesktopUI2/Models/Filters/ListSelectionFilter.cs
  DesktopUI3/DUI3/Bindings/ConfigBinding.cs
  DesktopUI3/DUI3/Bindings/IBasicConnectorBinding.cs
  DesktopUI3/DUI3/Bindings/ISelectionBinding.cs
  DesktopUI3/DUI3/Bridge.cs
  DesktopUI3/DUI3/Models.cs
  DesktopUI3/DUI3/Models/DocumentInfo.cs
  DesktopUI3/DUI3/Models/DocumentState.cs
  DesktopUI3/DUI3/Models/Filters.cs
  DesktopUI3/DUI3/Models/ModelCard.cs
  DesktopUI3/DUI3/Models/SendSettings.cs
  DesktopUI3/DUI3/Utils/DiscriminatedObject.cs
  DesktopUI3/DUI3/Utils/DiscriminatedObjectConverter.cs
  DesktopUI3/DUI3/Utils/SerializationSettingsFactory.cs
Due: rhino

Dim/dui3 wip serialisation (#2824)
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/BasicConnectorBindingRhino.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/Filters.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/SelectionBinding.cs
  ConnectorRhino/ConnectorRhinoWebUI/SpeckleWebUiPanelWebView2.xaml.cs
  DesktopUI2/DesktopUI2/Models/Filters/ListSelectionFilter.cs
  DesktopUI3/DUI3/Bindings/ConfigBinding.cs
  DesktopUI3/DUI3/Bindings/IBasicConnectorBinding.cs
  DesktopUI3/DUI3/Bindings/ISelectionBinding.cs
  DesktopUI3/DUI3/Bridge.cs
  DesktopUI3/DUI3/DUI3.csproj
  DesktopUI3/DUI3/Filters/ISendFilter.cs
  DesktopUI3/DUI3/Models.cs
  DesktopUI3/DUI3/Models/DocumentInfo.cs
  DesktopUI3/DUI3/Models/DocumentState.cs
  DesktopUI3/DUI3/Models/Filters.cs
  DesktopUI3/DUI3/Models/ModelCard.cs
  DesktopUI3/DUI3/Models/SendSettings.cs
  DesktopUI3/DUI3/Utils/DiscriminatedObject.cs
  DesktopUI3/DUI3/Utils/DiscriminatedObjectConverter.cs
  DesktopUI3/DUI3/Utils/SerializationSettingsFactory.cs
Due: rhino

fix(core): Adjust TryGetDisplayValue's incorrect assumptions
  Core/Core/Models/Extensions.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

use semaphore in case multiple apicontext calls at the same time
  ConnectorRevit/RevitSharedResources/Models/APIContext.cs
Due: revit

feat(dui3): null handling catch
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/SelectionBinding.cs
  DesktopUI3/DUI3/Utils/DiscriminatedObjectConverter.cs
  DesktopUI3/DUI3/Utils/SerializationSettingsFactory.cs
Due: rhino

changes traversal back to original revit traversal and adds current host element setting
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  Core/Core/Models/GraphTraversal/DefaultTraversal.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Consolidate parameter dictionaries
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Path conditions:
  core: any of: Core/.*
  rhino: any of: (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.*
  revit: any of: (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.*
  dynamo: any of: (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.*
  autocadcivil: any of: (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.*
  csi: any of: (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.*
  bentley: any of: (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.*
  teklastructures: any of: (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.*
  archicad: any of: (Core|Objects|ConnectorArchicad)/.*
  navisworks: any of: (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.*
