Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.3.1
  python: circleci/python@2.0.3

jobs:
  setup:
    executor: python/default
    steps:
      - checkout # checkout code
      - when:
          condition:
            and:
              - not:
                  equal: [main, << pipeline.git.branch >>]
              - not:
                  matches:
                    pattern: ".*/?ci/.*"
                    value: << pipeline.git.branch >>
              - not:
                  matches:
                    pattern: ".*/all$"
                    value: << pipeline.git.tag >>
          steps:
            - run: git branch internal_circleci
            - path-filtering/set-parameters:
                mapping: |
                  Core/.* core true
                  (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.* rhino true
                  (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.* revit true
                  (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.* dynamo true
                  (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.* autocadcivil true
                  (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.* csi true
                  (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.* bentley true
                  (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.* teklastructures true
                  (Core|Objects|ConnectorArchicad)/.* archicad true
                  (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.* navisworks true
                base-revision: main
                output-path: .circleci/scripts/parameters.json
      - run: cat .circleci/scripts/parameters.json
      - run: pip install pyyaml
      - run: # run a command
          name: Generate config
          command: |
            python .circleci/scripts/config-generator.py -d ${CIRCLE_TAG:-none} -o .circleci/continuation-config.yml -e ${CIRCLE_PR_REPONAME:-none}
      - continuation/continue:
          configuration_path: .circleci/continuation-config.yml # use newly generated config to continue
workflows:
  setup:
    jobs:
      - setup:
          name: Build Setup
      - setup:
          name: Deploy Setup
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^(nugets\/)?([0-9]+)\.([0-9]+)\.([0-9]+)(?:-\w+)?(\/all)?$/

refactor: Cleaned up Navisworks projects
  ConnectorNavisworks/ConnectorNavisworks2020/ConnectorNavisworks2020.csproj
  ConnectorNavisworks/ConnectorNavisworks2021/ConnectorNavisworks2021.csproj
  ConnectorNavisworks/ConnectorNavisworks2022/ConnectorNavisworks2022.csproj
  ConnectorNavisworks/ConnectorNavisworks2023/ConnectorNavisworks2023.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2020/ConverterNavisworks2020.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2021/ConverterNavisworks2021.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2022/ConverterNavisworks2022.csproj
  Objects/Converters/ConverterNavisworks/ConverterNavisworks2023/ConverterNavisworks2023.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

refactor(rvt): Only copy templates for each converter revit version
  Objects/Converters/ConverterRevit/ConverterRevit2020/ConverterRevit2020.csproj
  Objects/Converters/ConverterRevit/ConverterRevit2021/ConverterRevit2021.csproj
  Objects/Converters/ConverterRevit/ConverterRevit2022/ConverterRevit2022.csproj
  Objects/Converters/ConverterRevit/ConverterRevit2023/ConverterRevit2023.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

refactor: Use 'HHmm' time as version build number if no version is provided
  Directory.Build.props
  Directory.Build.targets
Due: none

refactor(dyn): Updates in Dynamo projects to build windows stuff on linux
  ConnectorDynamo/ConnectorDynamo/ConnectorDynamo.csproj
  ConnectorDynamo/ConnectorDynamoExtension/ConnectorDynamoExtension.csproj
  ConnectorDynamo/ConnectorDynamoFunctions/ConnectorDynamoFunctions.csproj
Due: dynamo

refactor: Enabled VSCode omnisharp editorconfig and analyzers in monorepo
  .vscode/settings.json
Due: none

refactor(acad): Added ACAD/Civil solution filter
  ConnectorAutocadCivil/ConnectorAutocadCivil.slnf
Due: autocadcivil

refactor: Moved filters from .solution-filters to final location
  .solution-filters/Revit.slnf
  .solution-filters/Rhinoceros.slnf
  ConnectorNavisworks/ConnectorNavisworks.slnf
  SDK.slnf
Due: navisworks

fix capital file extensions
  Directory.Build.props
  Directory.Build.targets
Due: none

refactor: Cleaned up CSI converter projects
  Objects/Converters/ConverterCSI/ConverterCSIBridge/ConverterCSIBridge.csproj
  Objects/Converters/ConverterCSI/ConverterETABS/ConverterETABS.csproj
  Objects/Converters/ConverterCSI/ConverterSAFE/ConverterSAFE.csproj
  Objects/Converters/ConverterCSI/ConverterSAP2000/ConverterSAP2000.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

refactor: Fixes in rhino/grasshopper connector projects
  ConnectorGrasshopper/ConnectorGrasshopper6/ConnectorGrasshopper6.csproj
  ConnectorGrasshopper/ConnectorGrasshopper7/ConnectorGrasshopper7.csproj
  ConnectorRhino/ConnectorRhino6/ConnectorRhino6.csproj
  ConnectorRhino/ConnectorRhino7/ConnectorRhino7.csproj
Due: rhino

refactor(rvt): Updated Revit connector to SDK style
  ConnectorRevit/ConnectorRevit2020/ConnectorRevit2020.csproj
  ConnectorRevit/ConnectorRevit2020/Properties/AssemblyInfo.cs
  ConnectorRevit/ConnectorRevit2021/ConnectorRevit2021.csproj
  ConnectorRevit/ConnectorRevit2021/Properties/AssemblyInfo.cs
  ConnectorRevit/ConnectorRevit2022/ConnectorRevit2022.csproj
  ConnectorRevit/ConnectorRevit2022/Properties/AssemblyInfo.cs
  ConnectorRevit/ConnectorRevit2023/ConnectorRevit2023.csproj
  ConnectorRevit/ConnectorRevit2023/Properties/AssemblyInfo.cs
Due: revit

refactor: Made SDK.slnf the default VSCode startup solution (for speed)
  .vscode/settings.json
  SDK.slnf
Due: none

refactor: Updated CopyToKitFolder target, Revit and Acad converters
  Directory.Build.Props
  Directory.Build.Targets
  Objects/Converters/ConverterAutocadCivil/ConverterAutocad2022/ConverterAutocad2022.csproj
  Objects/Converters/ConverterRevit/ConverterRevit2020/ConverterRevit2020.csproj
  Objects/Converters/ConverterRevit/ConverterRevit2021/ConverterRevit2021.csproj
  Objects/Converters/ConverterRevit/ConverterRevit2022/ConverterRevit2022.csproj
  Objects/Converters/ConverterRevit/ConverterRevit2023/ConverterRevit2023.csproj
  Objects/Converters/ConverterRhinoGh/ConverterRhino7/ConverterRhino7.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

refactor: Cleaned up Autocad/Civil converters
  Directory.Build.Props
  Directory.Build.Targets
  Objects/Converters/ConverterAutocadCivil/ConverterAutocad2021/ConverterAutocad2021.csproj
  Objects/Converters/ConverterAutocadCivil/ConverterAutocad2022/ConverterAutocad2022.csproj
  Objects/Converters/ConverterAutocadCivil/ConverterAutocad2023/ConverterAutocad2023.csproj
  Objects/Converters/ConverterAutocadCivil/ConverterCivil2021/ConverterCivil2021.csproj
  Objects/Converters/ConverterAutocadCivil/ConverterCivil2022/ConverterCivil2022.csproj
  Objects/Converters/ConverterAutocadCivil/ConverterCivil2023/ConverterCivil2023.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

refactor: Cleaned Revit converter projects
  Objects/Converters/ConverterRevit/ConverterRevit2020/ConverterRevit2020.csproj
  Objects/Converters/ConverterRevit/ConverterRevit2021/ConverterRevit2021.csproj
  Objects/Converters/ConverterRevit/ConverterRevit2022/ConverterRevit2022.csproj
  Objects/Converters/ConverterRevit/ConverterRevit2023/ConverterRevit2023.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

refactor(dyn): Updated Dynamo connector to SDK style
  ConnectorDynamo/ConnectorDynamo/ConnectorDynamo.csproj
  ConnectorDynamo/ConnectorDynamo/Properties/AssemblyInfo.cs
  ConnectorDynamo/ConnectorDynamoExtension/ConnectorDynamoExtension.csproj
  ConnectorDynamo/ConnectorDynamoExtension/Properties/AssemblyInfo.cs
  ConnectorDynamo/ConnectorDynamoFunctions/ConnectorDynamoFunctions.csproj
  ConnectorDynamo/ConnectorDynamoFunctions/Properties/AssemblyInfo.cs
Due: dynamo

refactor(tekla): tekla projects cleanup refactor
  ConnectorTeklaStructures/ConnectorTeklaStructures2020/ConnectorTeklaStructures2020.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructures2020/Properties/AssemblyInfo.cs
  ConnectorTeklaStructures/ConnectorTeklaStructures2021/ConnectorTeklaStructures2021.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructures2021/Properties/AssemblyInfo.cs
  ConnectorTeklaStructures/ConnectorTeklaStructures2022/ConnectorTeklaStructures2022.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructures2022/Properties/AssemblyInfo.cs
Due: teklastructures

refactor: Solution filters for Dynamo, Revit and Rhino in their own folders
  ConnectorDynamo/ConnectorDynamo.slnf
  ConnectorRevit/ConnectorRevit.slnf
  ConnectorRhino/ConnectorRhino.slnf
Due: rhino, revit, dynamo

refactor: Initial Solution filters
  .solution-filters/Rhinoceros.slnf
  .solution-filters/SDK.slnf
  .vscode/settings.json
  All.sln
Due: none

Navisworks solution filter
  .solution-filters/Navisworks.slnf
  ConnectorNavisworks/ConnectorNavisworks2020/Properties/launchSettings.json
Due: navisworks

refactor(autocad): Cleanup of AutocadCivil projects
  All.sln
  ConnectorAutocadCivil/ConnectorAutocad2021/ConnectorAutocad2021.csproj
  ConnectorAutocadCivil/ConnectorAutocad2021/Properties/AssemblyInfo.cs
  ConnectorAutocadCivil/ConnectorAutocad2022/ConnectorAutocad2022.csproj
  ConnectorAutocadCivil/ConnectorAutocad2022/Properties/AssemblyInfo.cs
  ConnectorAutocadCivil/ConnectorAutocad2023/ConnectorAutocad2023.csproj
  ConnectorAutocadCivil/ConnectorAutocad2023/Properties/AssemblyInfo.cs
  ConnectorAutocadCivil/ConnectorCivil2021/ConnectorCivil2021.csproj
  ConnectorAutocadCivil/ConnectorCivil2021/Properties/AssemblyInfo.cs
  ConnectorAutocadCivil/ConnectorCivil2022/ConnectorCivil2022.csproj
  ConnectorAutocadCivil/ConnectorCivil2022/Properties/AssemblyInfo.cs
  ConnectorAutocadCivil/ConnectorCivil2023/ConnectorCivil2023.csproj
  ConnectorAutocadCivil/ConnectorCivil2023/Properties/AssemblyInfo.cs
Due: autocadcivil

fix(autocad): AppendTargetFrameworkToOutputPath = false
  ConnectorAutocadCivil/ConnectorAutocad2021/ConnectorAutocad2021.csproj
  ConnectorAutocadCivil/ConnectorAutocad2022/ConnectorAutocad2022.csproj
  ConnectorAutocadCivil/ConnectorAutocad2023/ConnectorAutocad2023.csproj
  ConnectorAutocadCivil/ConnectorCivil2021/ConnectorCivil2021.csproj
  ConnectorAutocadCivil/ConnectorCivil2022/ConnectorCivil2022.csproj
  ConnectorAutocadCivil/ConnectorCivil2023/ConnectorCivil2023.csproj
Due: autocadcivil

feat: add Revit solution filter
  .solution-filters/Revit.slnf
  All.sln
Due: none

refactor: Added FileVersion and AssemblyVersion props
  Directory.Build.Props
Due: none

refactor: Solution filter for CSI connector
  ConnectorCSI/ConnectorCSI.slnf
Due: csi

refactor: Solution filter for Tekla + cleaned converter tekla projects
  All.sln
  ConnectorTeklaStructures/ConnectorTeklaStructures.slnf
  ConnectorTeklaStructures/ConnectorTeklaStructures2022/Properties/AssemblyInfo.cs
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructures2020/ConverterTeklaStructures2020.csproj
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructures2021/ConverterTeklaStructures2021.csproj
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructures2022/ConverterTeklaStructures2022.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Monorepo cleanup/csi (#2364)
  ConnectorCSI/ConnectorCSIBridge/ConnectorCSIBridge.csproj
  ConnectorCSI/ConnectorCSIBridge/Properties/AssemblyInfo.cs
  ConnectorCSI/ConnectorETABS/ConnectorETABS.csproj
  ConnectorCSI/ConnectorETABS/Properties/AssemblyInfo.cs
  ConnectorCSI/ConnectorSAFE/ConnectorSAFE.csproj
  ConnectorCSI/ConnectorSAFE/Properties/AssemblyInfo.cs
  ConnectorCSI/ConnectorSAP2000/ConnectorSAP2000.csproj
  ConnectorCSI/ConnectorSAP2000/Properties/AssemblyInfo.cs
  ConnectorCSI/DriverCSharp/DriverCSharp.csproj
  ConnectorCSI/DriverCSharp/Properties/AssemblyInfo.cs
  ConnectorCSI/DriverPluginCSharp/DriverPluginCSharp.csproj
  ConnectorCSI/DriverPluginCSharp/Properties/AssemblyInfo.cs
Due: csi

CSI connector project build objects
  All.sln
Due: none

refactor(bentley): Updated Bentley sln projects to SDK style
  ConnectorBentley/ConnectorMicroStation/ConnectorMicroStation.csproj
  ConnectorBentley/ConnectorMicroStation/Properties/AssemblyInfo.cs
  ConnectorBentley/ConnectorOpenBuildings/ConnectorOpenBuildings.csproj
  ConnectorBentley/ConnectorOpenBuildings/Properties/AssemblyInfo.cs
  ConnectorBentley/ConnectorOpenRail/ConnectorOpenRail.csproj
  ConnectorBentley/ConnectorOpenRail/Properties/AssemblyInfo.cs
  ConnectorBentley/ConnectorOpenRoads/ConnectorOpenRoads.csproj
  ConnectorBentley/ConnectorOpenRoads/Properties/AssemblyInfo.cs
Due: bentley

open rail post build
  ConnectorBentley/ConnectorOpenRail/ConnectorOpenRail.csproj
Due: bentley

fixed missing tekla csproj update
  ConnectorTeklaStructures/ConnectorTeklaStructures2023/ConnectorTeklaStructures2023.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructures2023/Properties/AssemblyInfo.cs
Due: teklastructures

fixes linked doc transforms
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Advanced steel!
  All.sln
  ConnectorAutocadCivil/AdvanceSteelAddinRegistrator/AdvanceSteelAddinRegistrator.csproj
  ConnectorAutocadCivil/AdvanceSteelAddinRegistrator/Properties/AssemblyInfo.cs
  ConnectorAutocadCivil/ConnectorAdvanceSteel2023/ConnectorAdvanceSteel2023.csproj
  ConnectorAutocadCivil/ConnectorAdvanceSteel2023/Properties/AssemblyInfo.cs
  ConnectorAutocadCivil/ConnectorAutocad2021/Properties/AssemblyInfo.cs
  ConnectorAutocadCivil/ConnectorAutocad2022/Properties/AssemblyInfo.cs
  ConnectorAutocadCivil/ConnectorAutocad2023/Properties/AssemblyInfo.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil.slnf
  ConnectorAutocadCivil/ConnectorCivil2021/Properties/AssemblyInfo.cs
  ConnectorAutocadCivil/ConnectorCivil2022/Properties/AssemblyInfo.cs
Due: autocadcivil

advanced steel uncomment
  ConnectorAutocadCivil/ConnectorAdvanceSteel2023/ConnectorAdvanceSteel2023.csproj
Due: autocadcivil

some changes
  All.sln
  ConnectorCSI/ConnectorETABS/ConnectorETABS.csproj
  ConnectorCSI/ConnectorSAFE/ConnectorSAFE.csproj
  ConnectorCSI/DriverCSharp/DriverCSharp.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructures2020/ConnectorTeklaStructures2020.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructures2020/Properties/AssemblyInfo.cs
  ConnectorTeklaStructures/ConnectorTeklaStructures2021/ConnectorTeklaStructures2021.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructures2021/Properties/AssemblyInfo.cs
  ConnectorTeklaStructures/ConnectorTeklaStructures2022/ConnectorTeklaStructures2022.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructures2022/Properties/AssemblyInfo.cs
  DesktopUI2/DesktopUI2/DesktopUI2.csproj
Due: csi, teklastructures

revamped datatable class
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertView.Schedule.cs
  Objects/Objects/Organization/DataTable.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

don't build test projects in release mode
  ConnectorRevit/ConnectorRevit.sln
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/Globals.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

refactor(archicad): Cleaned up Archicad connector
  ConnectorArchicad/ConnectorArchicad/ConnectorArchicad.csproj
Due: archicad

refactor(repo): Added solution filters for all connectors
  All.sln
  ConnectorArchicad/ConnectorArchicad.slnf
  ConnectorAutocadCivil/ConnectorAutocadCivil.slnf
  ConnectorBentley/ConnectorBentley.slnf
  ConnectorCSI/ConnectorCSI.slnf
  ConnectorDynamo/ConnectorDynamo.slnf
  ConnectorNavisworks/ConnectorNavisworks.slnf
  ConnectorRevit/ConnectorRevit.slnf
  ConnectorRhino/ConnectorRhino.slnf
  ConnectorTeklaStructures/ConnectorTeklaStructures.slnf
  SDK.slnf
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks
