Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

temp: ⚠️ Disable CI pipeline dependencies to get some speed
  .circleci/scripts/config-generator.py
Due: none

fix: CI copy action had wrong source folder
  .circleci/scripts/config-template.yml
Due: none

Fix(rhino): restores previous collection to native method and no longer disposes created layer in connector (#3184)
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Utils.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Organization.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix: Incorrect path in KSP set step
  .circleci/scripts/config-template.yml
Due: none

Update BaseObjectSerializerV2.cs (#3182)
  Core/Core/Serialisation/BaseObjectSerializerV2.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Update Http.cs (#3181)
  Core/Core/Helpers/Http.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

CNX-8978: Civil3d missing elements due to unhandled exception (#3179)
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(Archicad): Sending "Skylights" element type throws null reference (#3183)
  ConnectorArchicad/ConnectorArchicad/Converters/ElementConverterManager.cs
Due: archicad

ci: Added verification step
  .circleci/scripts/config-template.yml
Due: none

uses MakeValidPath method for cleaning layer paths on receive
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Utils.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Organization.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

ci: Added installer for digicert sign tools
  .circleci/scripts/config-template.yml
Due: none

ci: Moved some things around
  .circleci/scripts/config-template.yml
Due: none

feat(dui3): acad builds, not tested, various other stuff not implemented + other changes
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Bindings/BasicConnectorBindingAutocad.cs
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Bindings/ReceiveBinding.cs
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Bindings/SendBinding.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/BasicConnectorBinding.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/ReceiveBinding.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/SendBinding.cs
  DesktopUI3/DUI3/Bindings/IBasicConnectorBinding.cs
  DesktopUI3/DUI3/Bindings/IReceiveBinding.cs
  DesktopUI3/DUI3/Bindings/ISendBinding.cs
  DesktopUI3/DUI3/Operations/Operations.cs
  DesktopUI3/DUI3/Utils/Notification.cs
  DesktopUI3/DUI3/Utils/Progress.cs
Due: rhino, autocadcivil

feat(dui3): revit sender build
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/BasicConnectorBindingRevit.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/SendBinding.cs
Due: revit

ci: Added sync certs
  .circleci/scripts/config-template.yml
Due: none

Fix(Revit) : getting project info can throw and kills conversion (#3177)
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertProjectInfo.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(dui3): revit receiver builds
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/ReceiveBinding.cs
Due: revit

feat(dui3): minor
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/ReceiveBinding.cs
Due: revit

fix(rhino): uses correct method for cleaning layer paths on receive (#3186)
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Utils.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Organization.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(dui3): DUI3 project copy paste merge
  DesktopUI3/DUI3/Bindings/IBasicConnectorBinding.cs
  DesktopUI3/DUI3/Bindings/IReceiveBinding.cs
  DesktopUI3/DUI3/Bindings/ISendBinding.cs
  DesktopUI3/DUI3/BridgeV2.cs
  DesktopUI3/DUI3/Models/Card/ModelCardError.cs
  DesktopUI3/DUI3/Models/Card/ModelCardNotification.cs
  DesktopUI3/DUI3/Models/Card/ModelCardProgress.cs
  DesktopUI3/DUI3/Models/ConversionReport.cs
  DesktopUI3/DUI3/Models/DocumentModelStore.cs
  DesktopUI3/DUI3/Models/ModelCard.cs
  DesktopUI3/DUI3/Models/NotificationLevel.cs
  DesktopUI3/DUI3/Operations/CancellationManager.cs
  DesktopUI3/DUI3/Operations/Operations.cs
  DesktopUI3/DUI3/Utils/DiscriminatedObjectConverter.cs
  DesktopUI3/DUI3/Utils/Notification.cs
  DesktopUI3/DUI3/Utils/Progress.cs
  DesktopUI3/DUI3/Utils/Traversal.cs
Due: none

feat(dui3): DUI3 Connectors project copy paste merge
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Bindings/BasicConnectorBindingAutocad.cs
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Bindings/ReceiveBinding.cs
  ConnectorAutocadCivil/AutocadCivilDUI3/AutocadCivilDUI3Shared/Bindings/SendBinding.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/BasicConnectorBindingRevit.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/ReceiveBinding.cs
  ConnectorRevit/RevitDUI3/RevitDUI3Shared/Bindings/SendBinding.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/BasicConnectorBinding.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/Filters.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/ReceiveBinding.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/SendBinding.cs
  ConnectorRhino/ConnectorRhinoWebUI/Utils/RhinoIdleManager.cs
Due: rhino, revit, autocadcivil

ci: Minor revit sign tweaks
  .circleci/scripts/config-template.yml
  .vscode/settings.json
Due: none

expect empty strings
  Core/Core/Kits/Units.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Revert "temp: ⚠️ Disable CI pipeline dependencies to get some speed"
  .circleci/scripts/config-generator.py
Due: none

Fix(Core) : expect empty strings in "GetUnitsFromString" (#3189)
  Core/Core/Kits/Units.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(dui3): highlighting an empty model sender card throws an error
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/BasicConnectorBinding.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/SendBinding.cs
Due: rhino

ci: Added test context to all jobs
  .circleci/scripts/connector-jobs.yml
Due: none

ci: Moved cert config to after external PR check
  .circleci/scripts/config-template.yml
Due: none

ci: Removed innosetup context
  .circleci/scripts/connector-jobs.yml
Due: none

ci: Added signing only on tagged builds
  .circleci/scripts/config-template.yml
Due: none

feat(dui3): quite a few fixes, do sync with with dui3 web
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/BasicConnectorBinding.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/ReceiveBinding.cs
  DesktopUI3/DUI3/Bindings/IBasicConnectorBinding.cs
  DesktopUI3/DUI3/BridgeV2.cs
  DesktopUI3/DUI3/Operations/Operations.cs
Due: rhino

fix for CNX-9031
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/BeamConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/ColumnConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/FloorConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/RoofConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/RoomConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/Utils.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/WallConverter.cs
Due: archicad

CNX-9040 Layer import fix
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/CreateCommand.cpp
Due: archicad

fixes regression of updating dui saved streams when saved streams is 0
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Events.cs
Due: autocadcivil

Update ConnectorBindingsAutocadCivil.Events.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Events.cs
Due: autocadcivil

fix(autocadcivil): Cnx 9042 creating a new file doesnt update DUI saved streams (#3192)
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Events.cs
Due: autocadcivil

Fixed issue with stream state resetting to main
  Core/Core/Credentials/StreamWrapper.cs
  DesktopUI2/DesktopUI2/Models/StreamState.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

logical branches
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: none

includes setting application id when converting instances
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Utils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

adds comments with minor refactor
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: none

Path conditions:
  core: any of: Core/.*
  rhino: any of: (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.*
  revit: any of: (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.*
  dynamo: any of: (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.*
  autocadcivil: any of: (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.*
  csi: any of: (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.*
  bentley: any of: (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.*
  teklastructures: any of: (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.*
  archicad: any of: (Core|Objects|ConnectorArchicad)/.*
  navisworks: any of: (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.*
