Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.3.1
  python: circleci/python@2.0.3

jobs:
  setup:
    executor: python/default
    steps:
      - checkout # checkout code
      - path-filtering/set-parameters:
          mapping: |
            Core/.* run_core true
            (Core|Objects|ConnectorRhino|.*/ConverterRhinoGh)/.* rhino true
            (Core|Objects|ConnectorGrasshopper|.*/ConverterRhinoGh)/.* grasshopper true
            (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.* revit true
            (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.* dynamo true
            (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.* autocadcivil true
            (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.* csi true
            (Core|Objects|ConnectorMicroStation|.*/ConverterMicroStation)/.* microstation true
            (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.* teklastructures true
            (Core|Objects|ConnectorArchicad)/.* archicad true
          base-revision: main
          output-path: .circleci/scripts/parameters.json
      - run:
          name: LS scripts folders
          command: ls .circleci/scripts
      - run: cat .circleci/scripts/parameters.json
      - run: pip install pyyaml
      - run: # run a command
          name: Generate config
          command: |
            python .circleci/scripts/config-generator.py
      - continuation/continue:
          configuration_path: .circleci/continuation-config.yml # use newly generated config to continue

workflows:
  setup:
    jobs:
      - setup

added rhino dimension conversions
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Other.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Utils.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

better text positioning
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Other.cs
  Objects/Converters/ConverterAutocadCivil/ConverterCivil2021/ConverterCivil2021.csproj
  Objects/Converters/ConverterAutocadCivil/ConverterCivil2022/ConverterCivil2022.csproj
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

added name prop to rhino objs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
Due: rhino

Better autocad dimension to native conversion
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Other.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

improved ordinate dimension conversions
  DesktopUI2/AvaloniaHwndHost/AvaloniaHwndHost.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Geometry.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Other.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
  Objects/Objects/Other/Dimension.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

minor block fixes
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Other.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fixed ambiguous class ref
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat(rhino): Add dimension conversions (#1418)
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  Core/Core/Models/Utilities.cs
  DesktopUI2/AvaloniaHwndHost/AvaloniaHwndHost.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/Converter.AutocadCivil.Utils.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Geometry.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Other.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.cs
  Objects/Converters/ConverterAutocadCivil/ConverterCivil2021/ConverterCivil2021.csproj
  Objects/Converters/ConverterAutocadCivil/ConverterCivil2022/ConverterCivil2022.csproj
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Utils.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
  Objects/Objects/Other/Dimension.cs
  Objects/Objects/Other/Text.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

added categories to mappings
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2 .Settings.cs
  DesktopUI2/DesktopUI2/ConnectorBindings.cs
  DesktopUI2/DesktopUI2/DummyBindings.cs
  DesktopUI2/DesktopUI2/Models/Settings/ButtonSetting.cs
  DesktopUI2/DesktopUI2/ViewModels/DesignViewModels/DesignMappingViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/MappingViewModel.cs
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/MappingView.xaml
Due: revit

fix merge
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2 .Settings.cs
Due: revit

(fix) Fixing Tekla Structures 2020 and 2021 plugin callback - winforms
  ConnectorTeklaStructures/ConnectorTeklaStructures2020/MainForm.Designer.cs
  ConnectorTeklaStructures/ConnectorTeklaStructures2020/MainForm.cs
  ConnectorTeklaStructures/ConnectorTeklaStructures2021/MainForm.Designer.cs
  ConnectorTeklaStructures/ConnectorTeklaStructures2021/MainForm.cs
  ConnectorTeklaStructures/ConnectorTeklaStructures2021/MainPlugin.cs
Due: teklastructures

fix(dui): avatars can also be base64strings (#1412)
  DesktopUI2/DesktopUI2/ViewModels/AccountViewModel.cs
Due: none

fix(TeklaStructures + CSI) Selection Object Fix for Tekla Structures and CSI (#1415)
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/UI/ConnectorBindingsTeklaStructures.cs
Due: csi, teklastructures

feat(Tekla Structures + Revit) Tekla structures mesh conversion revit (#1421)
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2 .Settings.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Receive.cs
  ConnectorTeklaStructures/ConnectorTeklaStructures2021/ConnectorTeklaStructures2021.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructures2021/Manifest.xml
  ConnectorTeklaStructures/ConnectorTeklaStructures2021/ManifestGenerator.tt
  ConnectorTeklaStructures/ConnectorTeklaStructures2021/ManifestGenerator.xml
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/ConnectorTeklaStructuresShared.projitems
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/UI/ConnectorBindingsTeklaStructure.Send.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/UI/ConnectorBindingsTeklaStructure.Settings.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/UI/ConnectorBindingsTeklaStructures.Receive.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/Util/ConnectorTeklaStructuresUtils.cs
  ConnectorTeklaStructures/Manifest.xml
  ConnectorTeklaStructures/logo.png
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevitShared.projitems
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertDirectTeklaMeshElements.cs
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/ConverterTeklaStructures.cs
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/ConverterTeklaStructuresShared.projitems
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/Partial Classes/ConvertDirectShapeMesh.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat(objects/revit): organization classes (#1402)
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Send.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevitShared.projitems
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertModel.cs
  Objects/Objects/BuiltElements/Revit/ProjectInfo.cs
  Objects/Objects/Organization/Container.cs
  Objects/Objects/Organization/Model.cs
  Objects/Objects/Other/Transform.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix for merge
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/UI/ConnectorBindingsTeklaStructures.cs
Due: teklastructures

(fix Tekla Structures) PluginCallback Small fixes (#1395)
  ConnectorTeklaStructures/ConnectorTeklaStructures2020/MainForm.Designer.cs
  ConnectorTeklaStructures/ConnectorTeklaStructures2020/MainForm.cs
  ConnectorTeklaStructures/ConnectorTeklaStructures2020/MainPlugin.cs
  ConnectorTeklaStructures/ConnectorTeklaStructures2021/MainForm.Designer.cs
  ConnectorTeklaStructures/ConnectorTeklaStructures2021/MainForm.cs
  ConnectorTeklaStructures/ConnectorTeklaStructures2021/MainForm.resx
  ConnectorTeklaStructures/ConnectorTeklaStructures2021/MainPlugin.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/UI/ConnectorBindingsTeklaStructures.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertBeam.cs
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/Partial Classes/ConvertBeam.cs
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/Partial Classes/ConvertContourPlate.cs
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/Partial Classes/ConvertPolyBeam.cs
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/Partial Classes/ConvertSpiralBeam.cs
  Objects/Objects/BuiltElements/Beam.cs
  Objects/Objects/BuiltElements/TeklaStructures/TeklaContourPlate.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

updating base with categories now works
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2 .Settings.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Receive.cs
  DesktopUI2/DesktopUI2/Models/Settings/ButtonSetting.cs
  DesktopUI2/DesktopUI2/ViewModels/MappingViewModel.cs
Due: revit

changed mapping to popup during receive
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Receive.cs
  DesktopUI2/DesktopUI2/DesktopUI2.csproj
  DesktopUI2/DesktopUI2/Models/Settings/ButtonSetting.cs
  DesktopUI2/DesktopUI2/ViewModels/MainViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/MappingViewModel.cs
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/MappingViewDialog.xaml
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/MappingViewDialog.xaml.cs
Due: revit

better ui and working on saving
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2 .Settings.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Receive.cs
  DesktopUI2/DesktopUI2/ViewModels/MappingViewModel.cs
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/MappingViewDialog.xaml
Due: revit

feat(revit): adds missing categories #1308 #1416
  ConnectorRevit/ConnectorRevit/ConnectorRevitUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Categories.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

ci: Added necessary changes for our new Feed cli tool to work
  .circleci/scripts/config-generator.py
  .circleci/scripts/config-template.yml
Due: none

ci: Should have validated the config before pushing
  .circleci/scripts/config-template.yml
Due: none

ci: Test removing old connectors job?
  .circleci/scripts/config-generator.py
Due: none

Revert "ci: Test removing old connectors job?"
  .circleci/scripts/config-generator.py
Due: none

ci: Added tag filter to new deploy jobs
  .circleci/scripts/config-generator.py
Due: none

ci: Named deploy jobs
  .circleci/scripts/config-generator.py
Due: none

ci: Add dotnet install step + removed old deploy step as requirement
  .circleci/scripts/config-generator.py
  .circleci/scripts/config-template.yml
Due: none

ci: Re-added old deploy connectors
  .circleci/scripts/config-generator.py
Due: none

ci: Fixed dotnet executable path
  .circleci/scripts/config-template.yml
Due: none

ci: Proper tools path
  .circleci/scripts/config-template.yml
Due: none

Run only gh
  .circleci/scripts/parameters.json
Due: none

ci: Run only rhino
  .circleci/scripts/parameters.json
Due: none

fixed directshape default family assignment
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/BIMElements/BIMElementCommands.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.BuiltElements.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Update ConverterRhinoGh.Utils.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Utils.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(rhino): directshape schema default assignment (#1426)
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/BIMElements/BIMElementCommands.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.BuiltElements.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Utils.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

deleted throw message so loop would continue
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertLevel.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

only hosted elements allowed on faces of walls
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

made mappingValue class serializable
  DesktopUI2/DesktopUI2/ConnectorBindings.cs
  DesktopUI2/DesktopUI2/ViewModels/MappingViewModel.cs
Due: none

(fix) ~ displayMesh change to displayValues
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/Partial Classes/ConvertBeam.cs
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/Partial Classes/ConvertBolts.cs
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/Partial Classes/ConvertContourPlate.cs
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/Partial Classes/ConvertPolyBeam.cs
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/Partial Classes/ConvertPolygonWelds.cs
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/Partial Classes/ConvertRebar.cs
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/Partial Classes/ConvertSpiralBeam.cs
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/Partial Classes/ConvertWelds.cs
  Objects/Objects/BuiltElements/TeklaStructures/Bolts.cs
  Objects/Objects/BuiltElements/TeklaStructures/TeklaContourPlate.cs
  Objects/Objects/BuiltElements/TeklaStructures/Welds.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad
