Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

fix: Use deploy var for real...
  .circleci/scripts/config-generator.py
Due: none

fix: Cached checkout
  .circleci/scripts/config-template.yml
Due: none

test(ci): Cached-checkout command
  .circleci/scripts/config-template.yml
Due: none

Use application id
  ConnectorArchicad/ConnectorArchicad/Converters/ElementConverterManager.cs
Due: archicad

adds us survey feet support to units
  ConnectorAutocadCivil/ConnectorAutocadCivil/Utils.cs
  Core/Core/Kits/Units.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Geometry.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

feat(core http): add http client handler with retry policies
  Core/Core/Core.csproj
  Core/Core/Helpers/Http.cs
  Core/Core/Transports/SQLite.cs
  Core/Core/Transports/Server.cs
  Core/Core/Transports/ServerUtils/ServerAPI.cs
  Core/Examples/Program.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

Discord (#2199)
  .circleci/scripts/config-generator.py
  .circleci/scripts/config-template.yml
Due: none

Feature: Added OpenRoads/Rail Profiles (#2167)
  Objects/Converters/ConverterBentley/ConverterBentleyShared/ConverterBentley.Civil.cs
  Objects/Converters/ConverterBentley/ConverterBentleyShared/ConverterBentley.Geometry.cs
  Objects/Converters/ConverterBentley/ConverterOpenRoads/Properties/launchSettings.json
  Objects/Objects/BuiltElements/Alignment.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

fix(archicad): Use application id (#2206)
  ConnectorArchicad/ConnectorArchicad/Converters/ElementConverterManager.cs
Due: archicad

ci: Testing allowing external builds
  .circleci/config.yml
  .circleci/scripts/config-generator.py
  .circleci/scripts/config-template.yml
Due: none

fix(ci): Add default value to python config generator
  .circleci/config.yml
Due: none

ci: FAKE changes to trigger CI
  ConnectorRhino/README.md
Due: rhino

fix(ci): Jobs is a list not a dict
  .circleci/scripts/config-generator.py
Due: none

ci: Use bash to halt jobs
  .circleci/scripts/config-template.yml
Due: none

ci: try with default fake values for graphisoft build
  .circleci/scripts/config-template.yml
Due: none

ci: Try with numeric value
  .circleci/scripts/config-template.yml
Due: none

ci: Use 00 as default value
  .circleci/scripts/config-template.yml
Due: none

ci: Add default values to archicad mac build
  .circleci/scripts/config-template.yml
Due: none

feat(core): adds us survey feet support to units (#2208)
  ConnectorAutocadCivil/ConnectorAutocadCivil/Utils.cs
  Core/Core/Kits/Units.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Geometry.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

test(objects): Refactored out a bit the new instance classes
  Objects/Objects/Other/Instance.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

fix(ci): Added single 0 for mac build
  .circleci/scripts/config-template.yml
Due: none

fix(ci): Testing random numbers
  .circleci/scripts/config-template.yml
Due: none

phasedem
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

fix(ci): Changed default graphisoft env var values to 1
  .circleci/scripts/config-template.yml
Due: none

feat(core http client): add configurable retry delays
  Core/Core/Helpers/Http.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

fix(core): integral types will fallback to Double if fail to cast to long
  Core/Core/Serialisation/BaseObjectDeserializerV2.cs
  Core/Core/Serialisation/BaseObjectSerializerV2.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

fix(core): deserialize as big int when long fails (#2202)
  Core/Core/Serialisation/BaseObjectDeserializerV2.cs
  Core/Core/Serialisation/BaseObjectSerializerV2.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

test(core): Serializer breaking changes tests
  Core/Tests/SerializerNonBreakingChanges.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

Update `main` into `dev` (#2219)
  Core/Core/Serialisation/BaseObjectDeserializerV2.cs
  Core/Core/Serialisation/BaseObjectSerializerV2.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

feat(ci): Allow external PRs to build (#2213)
  .circleci/config.yml
  .circleci/scripts/config-generator.py
  .circleci/scripts/config-template.yml
Due: none

feat(objects): Adds Rhino converter unit test project (#1844)
  ConnectorRhino/ConnectorRhino.sln
  Objects/Converters/ConverterRhinoGhTests/ConverterRhinoGhTests.csproj
  Objects/Converters/ConverterRhinoGhTests/Geometry/BrepTests.cs
  Objects/Converters/ConverterRhinoGhTests/Geometry/MeshTest.cs
  Objects/Converters/ConverterRhinoGhTests/RhinoTestFixture.cs
  Objects/Objects.sln
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

refactors RevitElementType class and uses it for revit instance definitions
  DesktopUI2/DesktopUI2/ViewModels/MappingTool/MappingsViewModel.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertProjectInfo.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRevitElement.cs
  Objects/Objects/BuiltElements/Revit/FamilyInstance.cs
  Objects/Objects/BuiltElements/Revit/RevitElementType.cs
  Objects/Objects/Other/Instance.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

feat(core): Adds http retry policy (#2209)
  Core/Core/Core.csproj
  Core/Core/Helpers/Http.cs
  Core/Core/Transports/SQLite.cs
  Core/Core/Transports/Server.cs
  Core/Core/Transports/ServerUtils/ServerAPI.cs
  Core/Examples/Program.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

fixes null cast
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRevitElement.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

fix(objects): Instances review with claire
  Objects/Objects/Other/Instance.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

deprecates GetInsertionPoint from block instances
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
  Objects/Objects/BuiltElements/Revit/RevitElementType.cs
  Objects/Objects/Other/Instance.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

implements GetTransformedGeometry() for RevitInstance
  Objects/Objects/Other/Instance.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

Update Instance.cs
  Objects/Objects/Other/Instance.cs
Due: rhino, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad, navisworks

Path conditions:
  core: any of: Core/.*
  rhino: any of: (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.*
  revit: any of: (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.*
  dynamo: any of: (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.*
  autocadcivil: any of: (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.*
  csi: any of: (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.*
  microstation: any of: (Core|Objects|ConnectorMicroStation|.*/ConverterMicroStation)/.*
  teklastructures: any of: (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.*
  archicad: any of: (Core|Objects|ConnectorArchicad)/.*
  navisworks: any of: (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.*
