Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(acadcivil): add 2024 support for autocad and civil3d (#2702)
  All.sln
  ConnectorAutocadCivil/ConnectorAutocad2024/ConnectorAutocad2024.csproj
  ConnectorAutocadCivil/ConnectorAutocadCivil.sln
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Utils.cs
  ConnectorAutocadCivil/ConnectorCivil2024/ConnectorCivil2024.csproj
  Objects/Converters/ConverterAutocadCivil/ConverterAutocad2024/ConverterAutocad2024.csproj
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/Converter.AutocadCivil.Utils.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.cs
  Objects/Converters/ConverterAutocadCivil/ConverterCivil2024/ConverterCivil2024.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

break up GetSelectionFilterObjects in several methods
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Selection.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Send.cs
Due: revit

check if design options exist before trying to filter them out
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Selection.cs
Due: revit

Refactor camera variables and add error handling for null focal distance
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToSpeckle.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Extend Invocation of SavedViewpoint to Current
  ConnectorNavisworks/ConnectorNavisworks/Other/SelectionBuilder.cs
Due: navisworks

Refactor error handling for Navisworks converter
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToSpeckle.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(Navisworks): Handle Incomplete Viewpoint Definitions (#2706)
  ConnectorNavisworks/ConnectorNavisworks/Other/SelectionBuilder.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToSpeckle.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(revit): set phases on rooms when sending to speckle
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRoom.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fixed issue with layer path caching
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Utils.cs
Due: rhino

fix(rhino): places objects from layers with invalid chars on correct layers (#2709)
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Utils.cs
Due: rhino

Feat(Revit) : design option support (#2705)
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Previews.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Selection.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Send.cs
Due: revit

fix tekla installer behavior
  All.sln
  ConnectorTeklaStructures/ConnectorTeklaStructures.slnf
  ConnectorTeklaStructures/ConnectorTeklaStructures2020/ConnectorTeklaStructures2020.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructures2021/ConnectorTeklaStructures2021.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructures2022/ConnectorTeklaStructures2022.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructures2023/ConnectorTeklaStructures2023.csproj
Due: teklastructures

fix formatting
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRoom.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(revit): set phases on rooms when sending to speckle (#2708)
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRoom.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Fix(Tekla) : installer location fix (#2711)
  All.sln
  ConnectorTeklaStructures/ConnectorTeklaStructures.slnf
  ConnectorTeklaStructures/ConnectorTeklaStructures2020/ConnectorTeklaStructures2020.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructures2021/ConnectorTeklaStructures2021.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructures2022/ConnectorTeklaStructures2022.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructures2023/ConnectorTeklaStructures2023.csproj
Due: teklastructures

fix(gh): StreamUpdate now uses nullable boolean
  ConnectorGrasshopper/ConnectorGrasshopperShared/Streams/StreamUpdateComponentV2.cs
Due: rhino

fix(gh): StreamUpdate now uses nullable boolean (#2712)
  ConnectorGrasshopper/ConnectorGrasshopperShared/Streams/StreamUpdateComponentV2.cs
Due: rhino

fix false positive for new types
  ConnectorRevit/ConnectorRevit/TypeMapping/ElementTypeMapper.cs
Due: revit

add polygon mesher dependency
  ConnectorCSI/ConnectorCSI.sln
  ConnectorCSI/ConnectorCSIShared/ConnectorCSIShared.projitems
  ConnectorCSI/ConnectorCSIShared/UnusedClass.cs
  ConnectorCSI/ConnectorETABS/ConnectorETABS.csproj
  ConnectorCSI/ConnectorSAFE/ConnectorSAFE.csproj
  ConnectorCSI/DriverCSharp/DriverCSharp.csproj
Due: csi

CurtainWalls and Railings material quantities modifed
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertMaterialQuantities.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertWall.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

tests and material quantities
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertMaterialQuantities.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertWall.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

formatting
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertWall.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Fix(Revit) : new incoming types false positive (#2713)
  ConnectorRevit/ConnectorRevit/TypeMapping/ElementTypeMapper.cs
Due: revit

Fix(CSi) : add polygon mesher (#2714)
  ConnectorCSI/ConnectorCSI.sln
  ConnectorCSI/ConnectorCSIShared/ConnectorCSIShared.projitems
  ConnectorCSI/ConnectorCSIShared/UnusedClass.cs
  ConnectorCSI/ConnectorETABS/ConnectorETABS.csproj
  ConnectorCSI/ConnectorSAFE/ConnectorSAFE.csproj
  ConnectorCSI/DriverCSharp/DriverCSharp.csproj
Due: csi

CUrtain walls as nested elements
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertWall.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(Revit): Fixed issue with traversal of displayValues
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/ObjectConverter.cs
  Core/Core/Models/GraphTraversal/DefaultTraversal.cs
  Core/Core/Models/GraphTraversal/GraphTraversal.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

add revit air terminal category
  ConnectorRevit/RevitSharedResources/Helpers/Categories.cs
Due: revit

Removed debug line
  Core/Core/Models/GraphTraversal/GraphTraversal.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Fix(Revit): Fixed issue with revit traversal of displayValues (#2718)
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/ObjectConverter.cs
  Core/Core/Models/GraphTraversal/DefaultTraversal.cs
  Core/Core/Models/GraphTraversal/GraphTraversal.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

initialize logger in tekla
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/MainForm.cs
Due: teklastructures

create polygonmesher dependency
  ConnectorTeklaStructures/ConnectorTeklaStructures.sln
  ConnectorTeklaStructures/ConnectorTeklaStructures2020/ConnectorTeklaStructures2020.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructures2021/ConnectorTeklaStructures2021.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructures2022/ConnectorTeklaStructures2022.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/ConnectorTeklaStructuresShared.projitems
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/PolygonMesherReferencer.cs
Due: teklastructures

use different method for wall creation
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertWall.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

experiment(dui3): totally WIP cefsharp based panel with a stub of a binding class
  All.sln
  ConnectorRhino/ConnectorRhino.slnf
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/ConnectorRhinoShared.projitems
  ConnectorRhino/ConnectorRhinoWebUI/ConnectorRhinoWebUI.csproj
  ConnectorRhino/ConnectorRhinoWebUI/ConnectorRhinoWebUIPlugin.cs
  ConnectorRhino/ConnectorRhinoWebUI/EmbeddedResources/plugin-utility.ico
  ConnectorRhino/ConnectorRhinoWebUI/Properties/AssemblyInfo.cs
  ConnectorRhino/ConnectorRhinoWebUI/SpeckleRhinoWebUI.cs
  ConnectorRhino/ConnectorRhinoWebUI/SpeckleWebUIPanel.xaml
  ConnectorRhino/ConnectorRhinoWebUI/SpeckleWebUIPanel.xaml.cs
  ConnectorRhino/ConnectorRhinoWebUI/WebUIBinding.cs
Due: rhino

add support wall opening
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertWall.cs
  Objects/Objects/BuiltElements/Wall.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Add property stack to geometry node
  ConnectorNavisworks/ConnectorNavisworks/Other/Elements.cs
Due: navisworks

Removes the unnecessary assignment of a default value to the zoomValue variable.
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToSpeckle.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Refactor BuildNestedObjectHierarchy method to accept a new dictionary structure and add logic for handling GeometryNode types.
  ConnectorNavisworks/ConnectorNavisworks/Other/Elements.cs
Due: navisworks

Change ConversionState enum access modifier to public
  ConnectorNavisworks/ConnectorNavisworks/Other/Constants.cs
Due: navisworks

Refactor code for building a family tree in ConnectorNavisworksBindings.Send.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
Due: navisworks

Map propertyStack back to properties
  ConnectorNavisworks/ConnectorNavisworks/Other/Elements.cs
Due: navisworks

Path conditions:
  core: any of: Core/.*
  rhino: any of: (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.*
  revit: any of: (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.*
  dynamo: any of: (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.*
  autocadcivil: any of: (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.*
  csi: any of: (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.*
  bentley: any of: (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.*
  teklastructures: any of: (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.*
  archicad: any of: (Core|Objects|ConnectorArchicad)/.*
  navisworks: any of: (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.*
