Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Fix(dui2): Fixed error handling of workspaces query on non-workspace servers (#3705)
  Core/Core/Api/GraphQL/Inputs/ProjectInputs.cs
  Core/Core/Api/GraphQL/Legacy/Client.GraphqlCleintOperations/Client.StreamOperations.cs
  Core/Core/Api/GraphQL/Resources/ActiveUserResource.cs
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/NewStreamDialog.xaml.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Sync certs using windows certsysnc
  .circleci/scripts/config-template.yml
Due: none

Fix(CI): Fixed broken digicert windows cert syncing (#3707)
  .circleci/scripts/config-template.yml
Due: none

fix: frame loads on receive
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Geometry/ConvertFrame.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Loading/Loading1DElements.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Update SECURITY.md
  SECURITY.md
Due: none

Update SECURITY.md (#3709)
  SECURITY.md
Due: none

Rhino registers plugin command as legacy
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/Plugin.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/SpeckleCommandMac.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/SpeckleCommandWin.cs
Due: rhino

Update command for autocad civil
  ConnectorAutocadCivil/ConnectorAutocadCivil/Entry/SpeckleAutocadCommand.cs
Due: autocadcivil

feat(Rhino): Rename rhino command to avoid conflict with v3 (#3711)
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/Plugin.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/SpeckleCommandMac.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Entry/SpeckleCommandWin.cs
Due: rhino

feat(Rhino): Rename AutoCAD/Civil3d command to avoid conflict with v3 (#3712)
  ConnectorAutocadCivil/ConnectorAutocadCivil/Entry/SpeckleAutocadCommand.cs
Due: autocadcivil

Style only with classes
  DesktopUI2/DesktopUI2/Views/Converters/BoolToBrushConverter.cs
  DesktopUI2/DesktopUI2/Views/Pages/HomeView.xaml
Due: none

Add call to action button for project create
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/NewStreamDialog.xaml
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/NewStreamDialog.xaml.cs
Due: none

cancellation
  DesktopUI2/DesktopUI2/Views/Windows/Dialogs/NewStreamDialog.xaml.cs
Due: none

Autocad Ribbon
  ConnectorAutocadCivil/ConnectorAutocadCivil/Entry/App.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Entry/SpeckleAutocadCommand.cs
Due: autocadcivil

Added Workspace project visibility
  Core/Core/Api/GraphQL/Enums/ProjectVisibility.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Unlisted is obsolete
  Core/Core/Api/GraphQL/Enums/ProjectVisibility.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/ProjectResourceTests.cs
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Format
  Core/Core/Api/GraphQL/Enums/ProjectVisibility.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Fixed tests hopefully
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/ProjectInviteResourceTests.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

NO more unlisted tests
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/ProjectResourceTests.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Added Workspace project visibility (#3718)
  Core/Core/Api/GraphQL/Enums/ProjectVisibility.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/ProjectInviteResourceTests.cs
  Core/Tests/Speckle.Core.Tests.Integration/Api/GraphQL/Resources/ProjectResourceTests.cs
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

replace v2 logos with legacy logo
  ConnectorRevit/ConnectorRevit/Assets/logo.png
  ConnectorRevit/ConnectorRevit/Assets/logo16.png
  ConnectorRevit/ConnectorRevit/Assets/logo16_fade.png
  ConnectorRevit/ConnectorRevit/Assets/logo32.png
  ConnectorRevit/ConnectorRevit/Assets/logo32_fade.png
  DesktopUI2/DesktopUI2/Assets/icon.ico
Due: revit

rename buttons and panels in Revit
  ConnectorRevit/ConnectorRevit/Entry/App.cs
Due: revit

rename revit dockable pane
  ConnectorRevit/ConnectorRevit/Entry/SpeckleRevitCommand.cs
Due: revit

legacy button icons acad/c3d
  ConnectorAutocadCivil/ConnectorAutocadCivil/Resources/logo.png
  ConnectorAutocadCivil/ConnectorAutocadCivil/Resources/logo16.png
  ConnectorAutocadCivil/ConnectorAutocadCivil/Resources/logo16_fade.png
  ConnectorAutocadCivil/ConnectorAutocadCivil/Resources/logo32.png
  ConnectorAutocadCivil/ConnectorAutocadCivil/Resources/logo32_fade.png
Due: autocadcivil

rename button panel to Speckle Legacy
  ConnectorAutocadCivil/ConnectorAutocadCivil/Entry/App.cs
Due: autocadcivil

rename button to Speckle Legacy acad/c3d
  ConnectorAutocadCivil/ConnectorAutocadCivil/Entry/App.cs
Due: autocadcivil

rename button panel to Speckle Legacy acad/c3d
  ConnectorAutocadCivil/ConnectorAutocadCivil/Entry/App.cs
Due: autocadcivil

navis legacy logos
  ConnectorNavisworks/ConnectorNavisworks/Resources/logo16.ico
  ConnectorNavisworks/ConnectorNavisworks/Resources/logo32.ico
Due: navisworks

navis buttons and panels
  ConnectorNavisworks/ConnectorNavisworks/Entry/Ribbon.xaml
  ConnectorNavisworks/ConnectorNavisworks/Entry/Ribbon.xaml.cs
  ConnectorNavisworks/ConnectorNavisworks/Entry/SpeckleNavisworksCommand.cs
Due: navisworks

gh menu to legacy
  ConnectorGrasshopper/ConnectorGrasshopperShared/Loader.cs
Due: rhino

dynamo logos
  ConnectorDynamo/ConnectorDynamo/Assets/logo.png
  ConnectorDynamo/ConnectorDynamo/Assets/logo128.png
  ConnectorDynamo/ConnectorDynamo/Assets/logo16.png
  ConnectorDynamo/ConnectorDynamo/Assets/logo32.png
Due: dynamo

dynamo rename category to speckle (legacy)
  ConnectorDynamo/ConnectorDynamo/AccountsNode/Accounts.cs
  ConnectorDynamo/ConnectorDynamo/CreateStreamNode/CreateStream.cs
  ConnectorDynamo/ConnectorDynamo/ReceiveNode/Receive.cs
  ConnectorDynamo/ConnectorDynamo/SendNode/Send.cs
  ConnectorDynamo/ConnectorDynamo/ViewNode/View.cs
  ConnectorDynamo/ConnectorDynamoFunctions/SpeckleConnectorDynamoFunctions_DynamoCustomization.xml
  logo.png
Due: dynamo

rename buttons, window title, addon title to speckle legacy
  ConnectorArchicad/AddOn/Sources/AddOnResources/RFIX/Images/AddOnIconWin_18x18.svg
  ConnectorArchicad/AddOn/Sources/AddOnResources/RINT/AddOn.grc
  DesktopUI2/DesktopUI2/Assets/icon.ico
  DesktopUI2/DesktopUI2/ViewModels/MainViewModel.cs
Due: archicad

chore (archicad) rename buttons, window title, addon title to speckle legacy (#3720)
  ConnectorArchicad/AddOn/Sources/AddOnResources/RFIX/Images/AddOnIconWin_18x18.svg
  ConnectorArchicad/AddOn/Sources/AddOnResources/RINT/AddOn.grc
  DesktopUI2/DesktopUI2/Assets/icon.ico
  DesktopUI2/DesktopUI2/ViewModels/MainViewModel.cs
Due: archicad

Bilal/cnx 1794 connectors rename buttons and commands (#3719)
  ConnectorAutocadCivil/ConnectorAutocadCivil/Entry/App.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Resources/logo.png
  ConnectorAutocadCivil/ConnectorAutocadCivil/Resources/logo16.png
  ConnectorAutocadCivil/ConnectorAutocadCivil/Resources/logo16_fade.png
  ConnectorAutocadCivil/ConnectorAutocadCivil/Resources/logo32.png
  ConnectorAutocadCivil/ConnectorAutocadCivil/Resources/logo32_fade.png
  ConnectorDynamo/ConnectorDynamo/AccountsNode/Accounts.cs
  ConnectorDynamo/ConnectorDynamo/Assets/logo.png
  ConnectorDynamo/ConnectorDynamo/Assets/logo128.png
  ConnectorDynamo/ConnectorDynamo/Assets/logo16.png
  ConnectorDynamo/ConnectorDynamo/Assets/logo32.png
  ConnectorDynamo/ConnectorDynamo/CreateStreamNode/CreateStream.cs
  ConnectorDynamo/ConnectorDynamo/ReceiveNode/Receive.cs
  ConnectorDynamo/ConnectorDynamo/SendNode/Send.cs
  ConnectorDynamo/ConnectorDynamo/ViewNode/View.cs
  ConnectorDynamo/ConnectorDynamoFunctions/SpeckleConnectorDynamoFunctions_DynamoCustomization.xml
  ConnectorGrasshopper/ConnectorGrasshopperShared/Loader.cs
  ConnectorNavisworks/ConnectorNavisworks/Entry/Ribbon.xaml
  ConnectorNavisworks/ConnectorNavisworks/Entry/Ribbon.xaml.cs
  ConnectorNavisworks/ConnectorNavisworks/Entry/SpeckleNavisworksCommand.cs
  ConnectorNavisworks/ConnectorNavisworks/Resources/logo16.ico
  ConnectorNavisworks/ConnectorNavisworks/Resources/logo32.ico
  ConnectorRevit/ConnectorRevit/Assets/logo.png
  ConnectorRevit/ConnectorRevit/Assets/logo16.png
  ConnectorRevit/ConnectorRevit/Assets/logo16_fade.png
  ConnectorRevit/ConnectorRevit/Assets/logo32.png
  ConnectorRevit/ConnectorRevit/Assets/logo32_fade.png
  ConnectorRevit/ConnectorRevit/Entry/App.cs
  ConnectorRevit/ConnectorRevit/Entry/SpeckleRevitCommand.cs
  DesktopUI2/DesktopUI2/Assets/icon.ico
  logo.png
Due: rhino, revit, dynamo, autocadcivil, navisworks

adds legacy
  ConnectorTeklaStructures/ConnectorTeklaStructures2022/ConnectorTeklaStructures2022.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructures2023/ConnectorTeklaStructures2023.csproj
  ConnectorTeklaStructures/ConnectorTeklaStructures2023/Properties/launchSettings.json
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/ConnectorTeklaStructuresShared.projitems
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/MainPlugin.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/et_element_Speckle.ConnectorTeklaStructures.bmp
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/et_element_Speckle.ConnectorTeklaStructures_Legacy.bmp
Due: teklastructures

Path conditions:
  core: any of: Core/.*
  rhino: any of: (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.*
  revit: any of: (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.*
  dynamo: any of: (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.*
  autocadcivil: any of: (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.*
  csi: any of: (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.*
  bentley: any of: (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.*
  teklastructures: any of: (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.*
  archicad: any of: (Core|Objects|ConnectorArchicad)/.*
  navisworks: any of: (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.*
