Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Fix warnings in Archicad project
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_CreateObject.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_FinishReceiveTransaction.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetBeamData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetColumnData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetDataBase.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetDoorData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetElementIds.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetElementType.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetFloorData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetGridElementData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetObjectData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetRoofData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetRoomData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetShellData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetSkylightData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetWallData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetWindowData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_SelectElements.cs
  ConnectorArchicad/ConnectorArchicad/ConnectorBinding.cs
  ConnectorArchicad/ConnectorArchicad/Converters/ConversionOptions.cs
  ConnectorArchicad/ConnectorArchicad/Converters/ConverterArchicad.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/DirectShapeConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/DoorConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/IElementConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/ObjectConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/RoofConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/RoomConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/SkylightConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/Utils.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/WallConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/WindowConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/ElementConverterManager.cs
  ConnectorArchicad/ConnectorArchicad/Converters/ElementTypeProvider.cs
  ConnectorArchicad/ConnectorArchicad/Elements/Object.cs
  ConnectorArchicad/ConnectorArchicad/UI/ConnectorBinding.Selection.cs
  ConnectorArchicad/ConnectorArchicad/UI/ConnectorBinding.Settings.cs
Due: archicad

Fixed Formatting
  ConnectorArchicad/ConnectorArchicad/UI/ConnectorBinding.Settings.cs
Due: archicad

Enforce all Level 1 warnings that don't already have violations
  Directory.Build.props
Due: none

chore(archicad): CNX-8304 fix ide0005 in archicad (#3150)
  .circleci/scripts/config-template.yml
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_CreateObject.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_FinishReceiveTransaction.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetBeamData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetColumnData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetDataBase.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetDoorData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetElementIds.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetElementType.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetFloorData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetGridElementData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetObjectData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetRoofData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetRoomData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetShellData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetSkylightData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetWallData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_GetWindowData.cs
  ConnectorArchicad/ConnectorArchicad/Communication/Commands/Command_SelectElements.cs
  ConnectorArchicad/ConnectorArchicad/ConnectorBinding.cs
  ConnectorArchicad/ConnectorArchicad/Converters/ConversionOptions.cs
  ConnectorArchicad/ConnectorArchicad/Converters/ConverterArchicad.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/DirectShapeConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/DoorConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/IElementConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/ObjectConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/RoofConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/RoomConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/SkylightConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/Utils.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/WallConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/Converters/WindowConverter.cs
  ConnectorArchicad/ConnectorArchicad/Converters/ElementConverterManager.cs
  ConnectorArchicad/ConnectorArchicad/Converters/ElementTypeProvider.cs
  ConnectorArchicad/ConnectorArchicad/Elements/Object.cs
  ConnectorArchicad/ConnectorArchicad/UI/ConnectorBinding.Selection.cs
  ConnectorArchicad/ConnectorArchicad/UI/ConnectorBinding.Settings.cs
  Directory.Build.props
Due: archicad

feat(dui): adds support for updating stream cards to FE2
  DesktopUI2/DesktopUI2/Models/StreamState.cs
Due: none

feat(core): adds upgrade account method in account manager
  Core/Core/Credentials/AccountManager.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Core/upgrade account (#3152)
  Core/Core/Credentials/AccountManager.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix: var name
  Core/Core/Credentials/AccountManager.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

do not merge this pr
  ConnectorArchicad/AddOn/Sources/AddOn/AddOnMain.cpp
Due: archicad

Bump System.Threading.Tasks.Dataflow to version 6
  DesktopUI3/DUI3/DUI3.csproj
Due: none

Init ArcGIS project template for DUI3
  All.sln
  ConnectorArcGIS/Bindings/BasicConnectorBinding.cs
  ConnectorArcGIS/Bindings/Factory.cs
  ConnectorArcGIS/Config.daml
  ConnectorArcGIS/ConnectorArcGIS.csproj
  ConnectorArcGIS/ConnectorArcGIS.sln
  ConnectorArcGIS/DarkImages/AddInDesktop16.png
  ConnectorArcGIS/DarkImages/AddInDesktop32.png
  ConnectorArcGIS/Images/AddInDesktop16.png
  ConnectorArcGIS/Images/AddInDesktop32.png
  ConnectorArcGIS/Properties/AssemblyInfo.cs
  ConnectorArcGIS/Properties/launchSettings.json
  ConnectorArcGIS/SpeckleDUI3.xaml
  ConnectorArcGIS/SpeckleDUI3.xaml.cs
  ConnectorArcGIS/SpeckleDUI3ViewModel.cs
  ConnectorArcGIS/SpeckleModule.cs
  ConnectorArcGIS/Utils/ArcGisDocumentStore.cs
  ConnectorArcGIS/app.config
  DUI3.slnf
Due: none

Receive slowed down in Archicad 26
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetBeamData.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetColumnData.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/LibpartImportManager.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Utility.cpp
Due: archicad

First pass for resource implementation
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.BranchOperations.cs
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.CommitOperations.cs
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.StreamOperations.cs
  Core/Core/Api/GraphQL/Client.cs
  Core/Core/Api/GraphQL/Enums/ProjectVisibility.cs
  Core/Core/Api/GraphQL/IClient.cs
  Core/Core/Api/GraphQL/Inputs/ModelInputs.cs
  Core/Core/Api/GraphQL/Inputs/ProjectInputs.cs
  Core/Core/Api/GraphQL/Inputs/VersionInputs.cs
  Core/Core/Api/GraphQL/Models.cs
  Core/Core/Api/GraphQL/Models/Collections.cs
  Core/Core/Api/GraphQL/Models/Comment.cs
  Core/Core/Api/GraphQL/Models/FileUpload.cs
  Core/Core/Api/GraphQL/Models/Model.cs
  Core/Core/Api/GraphQL/Models/ModelsTreeItem.cs
  Core/Core/Api/GraphQL/Models/Project.cs
  Core/Core/Api/GraphQL/Models/ProjectCollaborator.cs
  Core/Core/Api/GraphQL/Models/Responses.cs
  Core/Core/Api/GraphQL/Models/Version.cs
  Core/Core/Api/GraphQL/Models/ViewerResourceGroup.cs
  Core/Core/Api/GraphQL/Models/ViewerResourceItem.cs
  Core/Core/Api/GraphQL/Resources/ModelResource.cs
  Core/Core/Api/GraphQL/Resources/ProjectInviteResource.cs
  Core/Core/Api/GraphQL/Resources/ProjectResource.cs
  Core/Core/Api/GraphQL/Resources/VersionResource.cs
  Core/Core/Api/GraphQL/Resources/graphql.config.yml
  Core/Core/SharpResources.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

parking for now
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.BranchOperations.cs
  Core/Core/Api/GraphQL/Inputs/ProjectInputs.cs
  Core/Core/Api/GraphQL/Models/Responses.cs
  Core/Core/Api/GraphQL/Models/User.cs
  Core/Core/Api/GraphQL/Resources/ActiveUserResource.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(Archicad): Receive slowed down in Archicad 26 (#3154)
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetBeamData.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Commands/GetColumnData.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/LibpartImportManager.cpp
  ConnectorArchicad/AddOn/Sources/AddOn/Utility.cpp
Due: archicad

Fix warnings as much as possible
  ConnectorArcGIS/Config.daml
  ConnectorArcGIS/Properties/AssemblyInfo.cs
  ConnectorArcGIS/SpeckleDUI3ViewModel.cs
  ConnectorArcGIS/SpeckleModule.cs
Due: none

Feat (DUI3): ArcGIS POC (#3156)
  All.sln
  ConnectorArcGIS/Bindings/BasicConnectorBinding.cs
  ConnectorArcGIS/Bindings/Factory.cs
  ConnectorArcGIS/Config.daml
  ConnectorArcGIS/ConnectorArcGIS.csproj
  ConnectorArcGIS/ConnectorArcGIS.sln
  ConnectorArcGIS/DarkImages/AddInDesktop16.png
  ConnectorArcGIS/DarkImages/AddInDesktop32.png
  ConnectorArcGIS/Images/AddInDesktop16.png
  ConnectorArcGIS/Images/AddInDesktop32.png
  ConnectorArcGIS/Properties/AssemblyInfo.cs
  ConnectorArcGIS/Properties/launchSettings.json
  ConnectorArcGIS/SpeckleDUI3.xaml
  ConnectorArcGIS/SpeckleDUI3.xaml.cs
  ConnectorArcGIS/SpeckleDUI3ViewModel.cs
  ConnectorArcGIS/SpeckleModule.cs
  ConnectorArcGIS/Utils/ArcGisDocumentStore.cs
  ConnectorArcGIS/app.config
  DUI3.slnf
  DesktopUI3/DUI3/DUI3.csproj
Due: none

Update Directory.Build.props
  Directory.Build.props
Due: none

Frontend2 bool now set on ServerInfo request
  Core/Core/Credentials/Account.cs
  Core/Core/Credentials/AccountManager.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(core): FE2 support in StreamWrapper.ToString
  Core/Core/Credentials/StreamWrapper.cs
  Core/Tests/Speckle.Core.Tests.Unit/Credentials/StreamWrapperTests.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Chore(build) Lowered several XML warnings from errors (#3157)
  Directory.Build.props
Due: none

Fixed tests
  Core/Core/Credentials/AccountManager.cs
  Core/Tests/Speckle.Core.Tests.Integration/Credentials/UserServerInfoTests.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Later version of System.Text.Json conflicts
  ConnectorCore/BatchUploader.Sdk/BatchUploader.Sdk.csproj
Due: none

UserServerInfo
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Operations.VariableInputReceiveComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Streams/StreamGetWithTokenComponent.cs
  Core/Core/Api/GraphQL/Models.cs
  Core/Core/Credentials/AccountManager.cs
  Core/Tests/Speckle.Core.Tests.Integration/Credentials/UserServerInfoTests.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

trailing /
  Core/Core/Credentials/AccountManager.cs
  Core/Tests/Speckle.Core.Tests.Integration/Credentials/UserServerInfoTests.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

polish
  Core/Core/Api/GraphQL/Models.cs
  Core/Core/Credentials/AccountManager.cs
  Core/Core/Credentials/graphql.config.yml
  Core/Tests/Speckle.Core.Tests.Integration/Credentials/UserServerInfoTests.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(core): Remove async return from non async tests
  Core/Tests/Speckle.Core.Tests.Unit/Credentials/StreamWrapperTests.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Update GisTopography.cs
  Objects/Objects/GIS/GisTopography.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix
  ConnectorArchicad/AddOn/Sources/AddOn/TypeNameTables.cpp
Due: archicad

build fix
  ConnectorArchicad/AddOn/Sources/AddOn/TypeNameTables.cpp
Due: archicad

Get header from front end
  Core/Core/Credentials/AccountManager.cs
  Core/Tests/Speckle.Core.Tests.Integration/Credentials/UserServerInfoTests.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(Archicad): Crash when sending columns with "subtract from zone" relation (#3163)
  ConnectorArchicad/AddOn/Sources/AddOn/TypeNameTables.cpp
Due: archicad

CNX-8753-Downgrade-Text.Json (#3160)
  ConnectorCore/BatchUploader.Sdk/BatchUploader.Sdk.csproj
Due: none

Made changes
  Core/Core/Credentials/AccountManager.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Fix (FE2): CNX-8776 get header from front end (#3164)
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Operations.VariableInputReceiveComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Streams/StreamGetWithTokenComponent.cs
  Core/Core/Api/GraphQL/Models.cs
  Core/Core/Credentials/Account.cs
  Core/Core/Credentials/AccountManager.cs
  Core/Core/Credentials/graphql.config.yml
  Core/Tests/Speckle.Core.Tests.Integration/Credentials/UserServerInfoTests.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

feat(dui3): various
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/BasicConnectorBinding.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/Filters.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/SendBinding.cs
  ConnectorRhino/ConnectorRhinoWebUI/Utils/RhinoDocumentStore.cs
  ConnectorRhino/ConnectorRhinoWebUI/Utils/RhinoIdleManager.cs
  DesktopUI3/DUI3/Bindings/ISendBinding.cs
  DesktopUI3/DUI3/BridgeV2.cs
  DesktopUI3/DUI3/Models/ModelCard.cs
  DesktopUI3/DUI3/Operations/Operations.cs
  DesktopUI3/DUI3/Utils/Progress.cs
Due: rhino

fix(core): CNX-8841 Fix StreamWrapper.ToString() so that it is not FE1 hardcoded (#3159)
  Core/Core/Credentials/StreamWrapper.cs
  Core/Tests/Speckle.Core.Tests.Unit/Credentials/StreamWrapperTests.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(gh): Variable input send and stream list FE2 fixes
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Operations.VariableInputSendComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Streams/StreamListComponentV2.cs
Due: rhino

Update RevitRebar.cs
  Objects/Objects/BuiltElements/Revit/RevitRebar.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix: enforce the minimum 1 objectId is in the automate result case
  Automate/Speckle.Automate.Sdk/AutomationContext.cs
Due: none

Path conditions:
  core: any of: Core/.*
  rhino: any of: (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.*
  revit: any of: (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.*
  dynamo: any of: (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.*
  autocadcivil: any of: (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.*
  csi: any of: (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.*
  bentley: any of: (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.*
  teklastructures: any of: (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.*
  archicad: any of: (Core|Objects|ConnectorArchicad)/.*
  navisworks: any of: (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.*
