Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.3.1
  python: circleci/python@2.0.3

jobs:
  setup:
    executor: python/default
    steps:
      - checkout # checkout code
      - when:
          condition:
            and:
              - not:
                  equal: [main, << pipeline.git.branch >>]
              - not:
                  matches:
                    pattern: ".*/?ci/.*"
                    value: << pipeline.git.branch >>
              - not:
                  matches:
                    pattern: ".*/all$"
                    value: << pipeline.git.tag >>
          steps:
            - run: git branch internal_circleci
            - path-filtering/set-parameters:
                mapping: |
                  Core/.* core true
                  (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.* rhino true
                  (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.* revit true
                  (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.* dynamo true
                  (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.* autocadcivil true
                  (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.* csi true
                  (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.* bentley true
                  (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.* teklastructures true
                  (Core|Objects|ConnectorArchicad)/.* archicad true
                  (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.* navisworks true
                base-revision: main
                output-path: .circleci/scripts/parameters.json
      - run: cat .circleci/scripts/parameters.json
      - run: pip install pyyaml
      - run: # run a command
          name: Generate config
          command: |
            python .circleci/scripts/config-generator.py -d ${CIRCLE_TAG:-none} -o .circleci/continuation-config.yml -e ${CIRCLE_PR_REPONAME:-none}
      - continuation/continue:
          configuration_path: .circleci/continuation-config.yml # use newly generated config to continue
workflows:
  setup:
    jobs:
      - setup:
          name: Build Setup
      - setup:
          name: Deploy Setup
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^(nugets\/)?([0-9]+)\.([0-9]+)\.([0-9]+)(?:-\w+)?(\/all)?$/

fix connectors :(
  Build/Consts.cs
Due: none

fix autocad
  Build/Consts.cs
Due: none

updates civil usings and constants
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Receive.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Send.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Utils.cs
  ConnectorAutocadCivil/ConnectorCivil2021/ConnectorCivil2021.csproj
  ConnectorAutocadCivil/ConnectorCivil2022/ConnectorCivil2022.csproj
  ConnectorAutocadCivil/ConnectorCivil2023/ConnectorCivil2023.csproj
  ConnectorAutocadCivil/ConnectorCivil2024/ConnectorCivil2024.csproj
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/Converter.AutocadCivil.Utils.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.cs
  Objects/Converters/ConverterAutocadCivil/ConverterCivil2021/ConverterCivil2021.csproj
  Objects/Converters/ConverterAutocadCivil/ConverterCivil2022/ConverterCivil2022.csproj
  Objects/Converters/ConverterAutocadCivil/ConverterCivil2023/ConverterCivil2023.csproj
  Objects/Converters/ConverterAutocadCivil/ConverterCivil2024/ConverterCivil2024.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Remover BatchUploader references from revit projects
  ConnectorRevit/ConnectorRevit2020/ConnectorRevit2020.csproj
  ConnectorRevit/ConnectorRevit2021/ConnectorRevit2021.csproj
  ConnectorRevit/ConnectorRevit2022/ConnectorRevit2022.csproj
  ConnectorRevit/ConnectorRevit2023/ConnectorRevit2023.csproj
  ConnectorRevit/ConnectorRevit2024/ConnectorRevit2024.csproj
  ConnectorRevit/ConnectorRevit2025/ConnectorRevit2025.csproj
Due: revit

Kill BatchUploader 👋🏼
  ConnectorCore/BatchUploader.OperationDriver/BatchUploadOperationDriver.cs
  ConnectorCore/BatchUploader.OperationDriver/BatchUploader.OperationDriver.csproj
  ConnectorCore/BatchUploader.Sdk/BatchUploader.Sdk.csproj
  ConnectorCore/BatchUploader.Sdk/BatchUploaderClient.cs
  ConnectorCore/BatchUploader.Sdk/CommunicationModels/Models.cs
  ConnectorCore/BatchUploader.Sdk/Interfaces/IApplicationFunctionalityController.cs
Due: none

Nuke leftovers of BatchUploader in Revit and other sln/slnf files
  All.sln
  ConnectorRevit/ConnectorRevit.sln
  ConnectorRevit/ConnectorRevit.slnf
  ConnectorRevit/ConnectorRevit/ConnectorRevit.projitems
  ConnectorRevit/ConnectorRevit/RevitApplicationFunctionalityController.cs
  SDK.slnf
Due: revit

feat(dui3): last bits and bobs for auto saving stream cards (arcgis scaffold)
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/DependencyInjection/AutofacArcGISModule.cs
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Utils/ArcGisDocumentStore.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/HostApp/RevitDocumentStore.cs
  DUI3-DX/DUI3/Speckle.Connectors.DUI/Models/DocumentModelStore.cs
Due: none

Chore(Revit): remove batch uploader from running in the background (#3411)
  All.sln
  ConnectorCore/BatchUploader.OperationDriver/BatchUploadOperationDriver.cs
  ConnectorCore/BatchUploader.OperationDriver/BatchUploader.OperationDriver.csproj
  ConnectorCore/BatchUploader.Sdk/BatchUploader.Sdk.csproj
  ConnectorCore/BatchUploader.Sdk/BatchUploaderClient.cs
  ConnectorCore/BatchUploader.Sdk/CommunicationModels/Models.cs
  ConnectorCore/BatchUploader.Sdk/Interfaces/IApplicationFunctionalityController.cs
  ConnectorRevit/ConnectorRevit.sln
  ConnectorRevit/ConnectorRevit.slnf
  ConnectorRevit/ConnectorRevit/ConnectorRevit.projitems
  ConnectorRevit/ConnectorRevit/Entry/App.cs
  ConnectorRevit/ConnectorRevit/RevitApplicationFunctionalityController.cs
  ConnectorRevit/ConnectorRevit2020/ConnectorRevit2020.csproj
  ConnectorRevit/ConnectorRevit2021/ConnectorRevit2021.csproj
  ConnectorRevit/ConnectorRevit2022/ConnectorRevit2022.csproj
  ConnectorRevit/ConnectorRevit2023/ConnectorRevit2023.csproj
  ConnectorRevit/ConnectorRevit2024/ConnectorRevit2024.csproj
  ConnectorRevit/ConnectorRevit2025/ConnectorRevit2025.csproj
  SDK.slnf
Due: revit

chore(dui3): removed unnecessary using statement
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/HostApp/RevitDocumentStore.cs
Due: none

Do not mess existing metadata
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Utils/ArcGisDocumentStore.cs
Due: none

first pass of triggering action with upload/download
  .github/workflows/dotnet.yml
  Build/Github.cs
  Build/Program.cs
Due: none

Octokit doesn't have dispatch event we want?
  Build/Build.csproj
  Build/Github.cs
  Build/packages.lock.json
Due: none

fix(dui3): potential fix for the revit mouse dragged window issue, thx 2 ogu for the inspiration!!!
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/HostApp/RevitDocumentStore.cs
Due: none

CNX-9499 Save model cards into metadata and read/write on map init/switch (#3412)
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Utils/ArcGisDocumentStore.cs
Due: none

adds civil3d 2025 solutions
  All.sln
  ConnectorAutocadCivil/ConnectorAutocadCivil.slnf
  ConnectorAutocadCivil/ConnectorCivil2025/ConnectorCivil2025.csproj
  Objects/Converters/ConverterAutocadCivil/ConverterCivil2025/ConverterCivil2025.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Align ArcGIS
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Utils/ArcGisDocumentStore.cs
Due: none

removes implicit usings
  ConnectorAutocadCivil/ConnectorCivil2025/ConnectorCivil2025.csproj
  Objects/Converters/ConverterAutocadCivil/ConverterCivil2025/ConverterCivil2025.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

remove steps to better try secrets
  .github/workflows/dotnet.yml
Due: none

fix: Add civil 2025 to Objects.sln
  Objects/Objects.sln
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

chore(dui3): cleanup revit unused func as per review
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/HostApp/RevitDocumentStore.cs
Due: none

try another way to get the secret
  .github/workflows/dotnet.yml
  Build/Program.cs
Due: none

removes implicit using from autocad converter
  Objects/Converters/ConverterAutocadCivil/ConverterAutocad2025/ConverterAutocad2025.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(dui3): revert unrelated unneeded changes
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/DependencyInjection/AutofacRhinoModule.cs
Due: none

fix(dui3): removes unnecessary using
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Utils/ArcGisDocumentStore.cs
Due: none

trying more with secrets
  .github/workflows/dotnet.yml
  Build/Program.cs
Due: none

Cnx 9487 persist model card state to host file on any change of model card state (#3407)
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Bindings/ArcGISSendBinding.cs
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Bindings/BasicConnectorBinding.cs
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/DependencyInjection/AutofacArcGISModule.cs
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Utils/ArcGisDocumentStore.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Bindings/AutocadBasicConnectorBinding.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/Bindings/AutocadSendBinding.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/DependencyInjection/AutofacAutocadModule.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/HostApp/AutocadDocumentModelStore.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Bindings/BasicConnectorBindingRevit.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/Bindings/SendBinding.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/DependencyInjection/AutofacUIModule.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/HostApp/RevitDocumentStore.cs
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/Bindings/RhinoBasicConnectorBinding.cs
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/Bindings/RhinoSendBinding.cs
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/DependencyInjection/AutofacRhinoModule.cs
  DUI3-DX/Connectors/Rhino/Speckle.Connectors.Rhino7/HostApp/RhinoDocumentStore.cs
  DUI3-DX/DUI3/Speckle.Connectors.DUI/Models/DocumentModelStore.cs
Due: none

parse env files
  Build/EnvFile.cs
  Build/Program.cs
Due: none

will it work? who knows?
  Build/Github.cs
Due: none

print a secret?
  Build/Build.csproj
  Build/EnvFile.cs
  Build/Github.cs
  Build/Program.cs
Due: none

feat(autocad): CNX-9237 CNX-9238 Add support for Autocad and Civil3D 2025 (#3413)
  All.sln
  ConnectorAutocadCivil/ConnectorAutocad2025/ConnectorAutocad2025.csproj
  ConnectorAutocadCivil/ConnectorAutocadCivil.sln
  ConnectorAutocadCivil/ConnectorAutocadCivil.slnf
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Receive.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.Send.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Utils.cs
  ConnectorAutocadCivil/ConnectorCivil2021/ConnectorCivil2021.csproj
  ConnectorAutocadCivil/ConnectorCivil2022/ConnectorCivil2022.csproj
  ConnectorAutocadCivil/ConnectorCivil2023/ConnectorCivil2023.csproj
  ConnectorAutocadCivil/ConnectorCivil2024/ConnectorCivil2024.csproj
  ConnectorAutocadCivil/ConnectorCivil2025/ConnectorCivil2025.csproj
  Objects/Converters/ConverterAutocadCivil/ConverterAutocad2025/ConverterAutocad2025.csproj
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/Converter.AutocadCivil.Utils.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.cs
  Objects/Converters/ConverterAutocadCivil/ConverterCivil2021/ConverterCivil2021.csproj
  Objects/Converters/ConverterAutocadCivil/ConverterCivil2022/ConverterCivil2022.csproj
  Objects/Converters/ConverterAutocadCivil/ConverterCivil2023/ConverterCivil2023.csproj
  Objects/Converters/ConverterAutocadCivil/ConverterCivil2024/ConverterCivil2024.csproj
  Objects/Converters/ConverterAutocadCivil/ConverterCivil2025/ConverterCivil2025.csproj
  Objects/Objects.sln
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

maybe fixed token usage
  Build/Github.cs
  Build/Program.cs
Due: none

use PAT?
  .github/workflows/dotnet.yml
  Build/Github.cs
Due: none

don't use env file
  .github/workflows/dotnet.yml
  Build/Program.cs
Due: none

add message to error
  Build/Github.cs
Due: none

add useragent
  Build/Github.cs
Due: none

merge fixes
  DUI3-DX/Connectors/ArcGIS/Speckle.Connectors.ArcGIS3/Utils/ArcGisDocumentStore.cs
  DUI3-DX/Connectors/Autocad/Speckle.Connectors.AutocadShared/HostApp/AutocadDocumentModelStore.cs
  DUI3-DX/Connectors/Revit/Speckle.Connectors.RevitShared/HostApp/RevitDocumentStore.cs
  DUI3-DX/DUI3/Speckle.Connectors.DUI/Models/DocumentModelStore.cs
Due: none

try token again
  .github/workflows/dotnet.yml
  Build/Github.cs
Due: none

docs say GH token is bearer
  Build/Github.cs
Due: none

ugh forgot to post
  Build/Github.cs
Due: none

error changed....try putting accept
  Build/Github.cs
Due: none
