Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

adds recursive conversion logic for nested elements
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
Due: revit

best guess for possible mesh fixes
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertMeshUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

set current host in converter
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertWall.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Update ConvertWall.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertWall.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Update ConnectorBindingsRevit.Receive.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
Due: revit

fixes nesting logic
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
Due: revit

deprecates sethostedelements in converter
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertBeam.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertCeiling.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertColumn.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFaceWall.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFloor.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertProfileWall.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertRoof.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fixed host bugs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit .Settings.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Send.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Update ConvertDirectShape.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertDirectShape.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Update ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

elements can have no mesh, thats fine (I think)
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertMeshUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

remove commented code
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertMeshUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Fix: Adds material quantities to MEP elements (#2655)
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertMaterialQuantities.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix: Do not pack Revit TestGenerator
  Objects/Converters/ConverterRevit/ConverterRevitTests/TestGenerator/TestGenerator.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix: Do not pack Revit TestGenerator (#2831)
  Objects/Converters/ConverterRevit/ConverterRevitTests/TestGenerator/TestGenerator.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

minor tweak
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.cs
Due: navisworks

feat(dui3): fully reverts helper projects, and cleans up init logic in rhino
  All.sln
  ConnectorRhino/ConnectorRhino.slnf
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/Factory.cs
  ConnectorRhino/ConnectorRhinoWebUI/Commands.cs
  ConnectorRhino/ConnectorRhinoWebUI/ConnectorRhinoWebUI.csproj
  ConnectorRhino/ConnectorRhinoWebUI/PanelHosts.cs
  ConnectorRhino/ConnectorRhinoWebUI/Plugin.cs
  ConnectorRhino/ConnectorRhinoWebUI/SpeckleWebUIPanelCef.xaml
  ConnectorRhino/ConnectorRhinoWebUI/SpeckleWebUIPanelCef.xaml.cs
  ConnectorRhino/ConnectorRhinoWebUI/WebUIPanelCef.xaml
  ConnectorRhino/ConnectorRhinoWebUI/WebUIPanelCef.xaml.cs
  ConnectorRhino/ConnectorRhinoWebUI/WebUIPanelWebView2.xaml
  ConnectorRhino/ConnectorRhinoWebUI/WebUIPanelWebView2.xaml.cs
  DesktopUI3/DUI3CefSharp65/DUI3CefSharp65.csproj
  DesktopUI3/DUI3CefSharp65/Properties/AssemblyInfo.cs
  DesktopUI3/DUI3CefSharp65/packages.config
  DesktopUI3/DUI3CefSharpHelper/CefSharpHelper.cs
  DesktopUI3/DUI3CefSharpHelper/CefSharpUserControl.xaml
  DesktopUI3/DUI3CefSharpHelper/CefSharpUserControl.xaml.cs
  DesktopUI3/DUI3CefSharpHelper/DUI3CefSharpHelper.projitems
  DesktopUI3/DUI3CefSharpHelper/DUI3CefSharpHelper.shproj
  DesktopUI3/DUI3WebView2Helper/DUI3WebView2Helper/DUI3WebView2Helper.csproj
  DesktopUI3/DUI3WebView2Helper/DUI3WebView2Helper/Properties/AssemblyInfo.cs
  DesktopUI3/DUI3WebView2Helper/DUI3WebView2Helper/WebView2Helper.cs
  DesktopUI3/DUI3WebView2Helper/DUI3WebView2Helper/WebView2UserControl.xaml.cs
  DesktopUI3/DUI3WebView2Helper/DUI3WebView2Helper/packages.config
Due: rhino

feat(dui3): implementation of some basic filters, etc.
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/BasicConnectorBinding.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/BasicConnectorBindingRhino.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/Factory.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/Filters.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/SendBinding.cs
  ConnectorRhino/ConnectorRhinoWebUI/Commands.cs
  DesktopUI3/DUI3/Bindings/IBasicConnectorBinding.cs
  DesktopUI3/DUI3/Bindings/ISendBinding.cs
  DesktopUI3/DUI3/Models/DocumentModelStore.cs
  DesktopUI3/DUI3/Models/Filters.cs
  DesktopUI3/DUI3/Models/Form.cs
  DesktopUI3/DUI3/Models/ModelCard.cs
  DesktopUI3/DUI3/Models/SendSettings.cs
  DesktopUI3/DUI3/Utils/DiscriminatedObjectConverter.cs
  DesktopUI3/DUI3/Utils/SerializationSettingsFactory.cs
Due: rhino

Some binding reworks and models (#2832)
  All.sln
  ConnectorRhino/ConnectorRhino.slnf
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/BasicConnectorBinding.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/BasicConnectorBindingRhino.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/Factory.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/Filters.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/SelectionBinding.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/SendBinding.cs
  ConnectorRhino/ConnectorRhinoWebUI/Commands.cs
  ConnectorRhino/ConnectorRhinoWebUI/ConnectorRhinoWebUI.csproj
  ConnectorRhino/ConnectorRhinoWebUI/ConnectorRhinoWebUIPlugin.cs
  ConnectorRhino/ConnectorRhinoWebUI/PanelHosts.cs
  ConnectorRhino/ConnectorRhinoWebUI/Plugin.cs
  ConnectorRhino/ConnectorRhinoWebUI/SpeckleRhinoWebUICefCommand.cs
  ConnectorRhino/ConnectorRhinoWebUI/SpeckleWebUIPanelCef.xaml
  ConnectorRhino/ConnectorRhinoWebUI/SpeckleWebUIPanelCef.xaml.cs
  ConnectorRhino/ConnectorRhinoWebUI/SpeckleWebUIWebView2PanelHost.cs
  ConnectorRhino/ConnectorRhinoWebUI/SpeckleWebUiPanelWebView2.xaml
  ConnectorRhino/ConnectorRhinoWebUI/SpeckleWebUiPanelWebView2.xaml.cs
  ConnectorRhino/ConnectorRhinoWebUI/WebUIPanelCef.xaml
  ConnectorRhino/ConnectorRhinoWebUI/WebUIPanelCef.xaml.cs
  ConnectorRhino/ConnectorRhinoWebUI/WebUIPanelWebView2.xaml
  ConnectorRhino/ConnectorRhinoWebUI/WebUIPanelWebView2.xaml.cs
  Core/Core/Models/GraphTraversal/DefaultTraversal.cs
  DesktopUI3/DUI3/Bindings/AccountBinding.cs
  DesktopUI3/DUI3/Bindings/ConfigBinding.cs
  DesktopUI3/DUI3/Bindings/IBasicConnectorBinding.cs
  DesktopUI3/DUI3/Bindings/ISendBinding.cs
  DesktopUI3/DUI3/Models/DocumentModelStore.cs
  DesktopUI3/DUI3/Models/DocumentState.cs
  DesktopUI3/DUI3/Models/Filters.cs
  DesktopUI3/DUI3/Models/Form.cs
  DesktopUI3/DUI3/Models/ModelCard.cs
  DesktopUI3/DUI3/Models/SendSettings.cs
  DesktopUI3/DUI3/Utils/DiscriminatedObjectConverter.cs
  DesktopUI3/DUI3/Utils/SerializationSettingsFactory.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(revit): prevents linked model error with views filter (does not solve it yet) #2829
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Selection.cs
Due: revit

fix(revit): replaces the hardcoded list of categories with a check by categoryType
  ConnectorRevit/ConnectorRevit/ConnectorRevitUtils.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Selection.cs
  ConnectorRevit/RevitSharedResources/Extensions/SpeckleExtensions/IRevitDocumentAggregateCacheExtensions.cs
  ConnectorRevit/RevitSharedResources/Helpers/Categories.cs
  ConnectorRevit/RevitSharedResources/Helpers/Extensions.cs
Due: revit

feat(revit): adds internal categoryType
  ConnectorRevit/ConnectorRevit/ConnectorRevitUtils.cs
  ConnectorRevit/RevitSharedResources/Extensions/SpeckleExtensions/IRevitDocumentAggregateCacheExtensions.cs
  ConnectorRevit/RevitSharedResources/Helpers/Extensions.cs
Due: revit

docs
  ConnectorRevit/RevitSharedResources/Helpers/Extensions.cs
Due: revit

feat: adds support for grids
  ConnectorRevit/RevitSharedResources/Helpers/Extensions.cs
Due: revit

fix(revit): extension method
  ConnectorRevit/RevitSharedResources/Extensions/SpeckleExtensions/IRevitDocumentAggregateCacheExtensions.cs
Due: revit

fix(gh): null check on CSI node
  Objects/Objects/Structural/ApplicationSpecific/ETABS/Geometry/CSINode.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

get curve for mep fittings
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertMEPFamilyInstance.cs
  Objects/Objects/BuiltElements/Revit/MEPFamilyInstance.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Update project references in solution
  All.sln
Due: none

try catch the set area method
  ConnectorCSI/ConnectorCSI.sln
  Objects/Converters/ConverterCSI/ConverterCSIShared/Partial Classes/Geometry/ConvertArea.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Self destructive onIdle for selection
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/SelectionBinding.cs
Due: rhino

Self destructive onIdle for send
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/SelectionBinding.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/SendBinding.cs
Due: rhino

Destruct onIdle after first use for Plugin
  ConnectorRhino/ConnectorRhinoWebUI/Plugin.cs
Due: rhino

Note to TBD for Doc references
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/SendBinding.cs
Due: rhino

feat(revit): replaces hardcoded list of categoris with a check by CategoryType (#2833)
  ConnectorRevit/ConnectorRevit/ConnectorRevitUtils.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Selection.cs
  ConnectorRevit/RevitSharedResources/Extensions/SpeckleExtensions/IRevitDocumentAggregateCacheExtensions.cs
  ConnectorRevit/RevitSharedResources/Helpers/Categories.cs
  ConnectorRevit/RevitSharedResources/Helpers/Extensions.cs
Due: revit

Fix(Revit) : add curves for mep fitting (#2837)
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertMEPFamilyInstance.cs
  Objects/Objects/BuiltElements/Revit/MEPFamilyInstance.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Introduce RhinoIdleManager
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/SelectionBinding.cs
  ConnectorRhino/ConnectorRhinoWebUI/Bindings/SendBinding.cs
  ConnectorRhino/ConnectorRhinoWebUI/Plugin.cs
  ConnectorRhino/ConnectorRhinoWebUI/Utils/RhinoIdleManager.cs
Due: rhino

Prevent multiple subscribtions with hasSubscribed
  ConnectorRhino/ConnectorRhinoWebUI/Utils/RhinoIdleManager.cs
Due: rhino

feat(dui3): adds solution for all dui3 stuff
  DUI3.sln
Due: none

Fix(Revit) : fix incorrect instance assumptions (#2830)
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertMeshUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Path conditions:
  core: any of: Core/.*
  rhino: any of: (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.*
  revit: any of: (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.*
  dynamo: any of: (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.*
  autocadcivil: any of: (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.*
  csi: any of: (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.*
  bentley: any of: (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.*
  teklastructures: any of: (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.*
  archicad: any of: (Core|Objects|ConnectorArchicad)/.*
  navisworks: any of: (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.*
