Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.3.1
  python: circleci/python@2.0.3

jobs:
  setup:
    executor: python/default
    steps:
      - checkout # checkout code
      - when:
          condition:
            and:
              - not:
                  equal: [main, << pipeline.git.branch >>]
              - not:
                  matches:
                    pattern: ".*/?ci/.*"
                    value: << pipeline.git.branch >>
              - not:
                  matches:
                    pattern: ".*/all$"
                    value: << pipeline.git.tag >>
          steps:
            - run: git branch internal_circleci
            - path-filtering/set-parameters:
                mapping: |
                  Core/.* core true
                  (Core|Objects|ConnectorRhino|ConnectorGrasshopper|.*/ConverterRhinoGh)/.* rhino true
                  (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.* revit true
                  (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.* dynamo true
                  (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.* autocadcivil true
                  (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.* csi true
                  (Core|Objects|ConnectorBentley|.*/ConverterBentley)/.* bentley true
                  (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.* teklastructures true
                  (Core|Objects|ConnectorArchicad)/.* archicad true
                  (Core|Objects|ConnectorNavisworks|.*/ConverterNavisworks)/.* navisworks true
                base-revision: main
                output-path: .circleci/scripts/parameters.json
      - run: cat .circleci/scripts/parameters.json
      - run: pip install pyyaml
      - run: # run a command
          name: Generate config
          command: |
            python .circleci/scripts/config-generator.py -d ${CIRCLE_TAG:-none} -o .circleci/continuation-config.yml -e ${CIRCLE_PR_REPONAME:-none}
      - continuation/continue:
          configuration_path: .circleci/continuation-config.yml # use newly generated config to continue
workflows:
  setup:
    jobs:
      - setup:
          name: Build Setup
      - setup:
          name: Deploy Setup
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^(nugets\/)?([0-9]+)\.([0-9]+)\.([0-9]+)(?:-\w+)?(\/all)?$/

adds rhino8 converter to objects sln
  Objects/Objects.sln
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Stream wrapper fe2
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.BranchOperations.cs
  Core/Core/Api/GraphQL/Client.GraphqlCleintOperations/Client.ModelOperations.cs
  Core/Core/Credentials/StreamWrapper.cs
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

switches connector and converter framework to 7.0
  ConnectorRhino/ConnectorRhino8/ConnectorRhino8.csproj
  Objects/Converters/ConverterRhinoGh/ConverterRhino8/ConverterRhino8.csproj
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

manually copies assemblies
  ConnectorRhino/ConnectorRhino8/ConnectorRhino8.csproj
Due: rhino

adds connector 8 and converter 8 to rhino connector sln
  ConnectorRhino/ConnectorRhino.sln
Due: rhino

fix formatting
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertProjectInfo.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Send nolonger accepts null transport
  Core/Core/Api/Operations/Operations.Send.cs
  Core/Tests/SendReceiveLocal.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

chore(core): Added net runtime version info to global logging (#3099)
  Core/Core/Logging/SpeckleLog.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Integration tests
  Core/Core/Credentials/StreamWrapper.cs
  Core/IntegrationTests/StreamWrapper/StreamWrapperFE2Models.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Feat(Revit): CNX-7577 project info custom props (#3100)
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertProjectInfo.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(dui): Formatting and unnecessary using
  DesktopUI2/DesktopUI2/ViewModels/OneClickViewModel.cs
Due: none

build fix
  ConnectorArchicad/AddOn/Sources/AddOn/PropertyExportManager.hpp
Due: archicad

return
  ConnectorArchicad/AddOn/Sources/AddOn/PropertyExportManager.cpp
Due: archicad

fix(dui): broken fe2 url when in oneclick mode (#3098)
  DesktopUI2/DesktopUI2/ViewModels/OneClickViewModel.cs
Due: none

AC25 build fix
  ConnectorArchicad/AddOn/Sources/AddOn/PropertyExportManager.hpp
Due: archicad

formatting
  ConnectorArchicad/ConnectorArchicad/Converters/ElementConverterManager.cs
  Objects/Objects/BuiltElements/Room.cs
  Objects/Objects/BuiltElements/Wall.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

wip
  All.sln
  ConnectorRevit/ConnectorRevit/Entry/App.cs
  ConnectorRevit/ConnectorRevit/Entry/SpeckleRevitCommand.cs
  ConnectorRevit/ConnectorRevit/TypeMapping/ElementTypeMapper.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Events.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRevit/RevitSharedResources/Extensions/SpeckleExtensions/ILoggerExtensions.cs
  ConnectorRevit/RevitSharedResources/Helpers/Extensions.cs
  ConnectorRevit/RevitSharedResources/Models/APIContext.cs
  ConnectorRevit/RevitSharedResources/Models/TransactionManager.cs
  ConnectorRevit/RevitSharedResources/RevitSharedResources.projitems
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.DxfImport.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/DirectContext3DServer.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertAdaptiveComponent.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertBeam.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertBlock.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertCeiling.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertColumn.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertConnector.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertCurves.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertDirectShape.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertFaceWall.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertFloor.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertFreeformElement.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertGeometry.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertGridLine.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertLevel.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertMEPFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitVersionHelper.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/SpeckleUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

braces
  Objects/Objects/BuiltElements/Archicad/Property.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Simplify methods consistently using lambda expressions
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Events.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.File.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Receive.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Selections.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.cs
  ConnectorNavisworks/ConnectorNavisworks/Entry/Ribbon.xaml.cs
  ConnectorNavisworks/ConnectorNavisworks/Entry/SpeckleHostPane.xaml.cs
  ConnectorNavisworks/ConnectorNavisworks/Entry/SpeckleNavisworksCommand.cs
  ConnectorNavisworks/ConnectorNavisworks/NavisworksOptions/Autosave.cs
  ConnectorNavisworks/ConnectorNavisworks/NavisworksOptions/Properties.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/Elements.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/Invokers.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/SelectionBuilder.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/Utilities.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Geometry.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Other.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Properties.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToNative.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToSpeckle.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Utilities.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Remove commented out code for model collection change event
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Events.cs
Due: navisworks

fix(all): Minor changes as per Ian's review
  ConnectorDynamo/ConnectorDynamoFunctions/BatchConverter.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertFaceWall.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Fixed tests
  Core/Core/Credentials/StreamWrapper.cs
  Core/Tests/FE2WrapperTests.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

wip cont
  ConnectorRevit/ConnectorRevit/Entry/App.cs
  ConnectorRevit/ConnectorRevit/Entry/SpeckleRevitCommand.cs
  ConnectorRevit/ConnectorRevit/Storage/StreamStateManager.cs
  ConnectorRevit/ConnectorRevit/TypeMapping/ElementTypeMapper.cs
  ConnectorRevit/ConnectorRevit/TypeMapping/FamilyImporter.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Events.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Previews.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Receive.cs
  ConnectorRevit/RevitSharedResources/Models/ErrorEater.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.Previews.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/DirectContext3DServer.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertCurves.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertFamilyInstance.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertOpening.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertRebar.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertRoof.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertStructuralModel.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertWall.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/SpeckleConversionTest.cs
  Objects/Converters/ConverterRevit/ConverterRevitTests/ConverterRevitTestsShared/SpeckleUtils.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

remove unused import
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Events.cs
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit.Previews.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertCeiling.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertFloor.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

add back all.sln
  All.sln
Due: none

fix all.sln take 2
  All.sln
Due: none

add simple null check
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertBeam.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Fix for gh
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Operations.VariableInputReceiveComponent.cs
Due: rhino

Set or reset the IsUpright flag for model orientation
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Geometry.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToSpeckle.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Update ConverterNavisworks.Geometry.cs to use a constant for the target units in BoxToSpeckle method.
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Geometry.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Refactor geometry path comparison logic
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Geometry.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(all): CNX-7446 - ⚠️ CA1806 Fix (#3090)
  ConnectorCSI/ConnectorCSIShared/Util/ConnectorCSIUtils.cs
  ConnectorDynamo/ConnectorDynamoFunctions/BatchConverter.cs
  Directory.Build.props
  Objects/Converters/ConverterCSI/ConverterCSIShared/PartialClasses/Analysis/ConvertModel.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertFaceWall.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertGeometry.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/PartialClasses/ConvertRebar.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/RevitVersionHelper.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.Other.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
  Objects/Objects/BuiltElements/Wall.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

Modify global event handlers for Navisworks document events
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Events.cs
Due: navisworks

chore(navisworks): Simplify methods to consistently using lambda expressions (#3105)
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Events.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.File.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Receive.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Selections.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Send.cs
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.cs
  ConnectorNavisworks/ConnectorNavisworks/Entry/Ribbon.xaml.cs
  ConnectorNavisworks/ConnectorNavisworks/Entry/SpeckleHostPane.xaml.cs
  ConnectorNavisworks/ConnectorNavisworks/Entry/SpeckleNavisworksCommand.cs
  ConnectorNavisworks/ConnectorNavisworks/NavisworksOptions/Autosave.cs
  ConnectorNavisworks/ConnectorNavisworks/NavisworksOptions/Properties.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/Elements.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/Invokers.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/SelectionBuilder.cs
  ConnectorNavisworks/ConnectorNavisworks/Other/Utilities.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Geometry.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Other.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Properties.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToNative.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.ToSpeckle.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.Utilities.cs
  Objects/Converters/ConverterNavisworks/ConverterNavisworks/ConverterNavisworks.cs
Due: rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(sln): Added postProject build dependencies for missing connector
  All.sln
Due: none

feat(Core): CNX-8352 operations.send (#3094)
  Automate/Speckle.Automate.Sdk/AutomationContext.cs
  Automate/Tests/Speckle.Automate.Sdk.Tests.Integration/SpeckleAutomate.cs
  ConnectorDynamo/ConnectorDynamoFunctions/Developer/Local.cs
  ConnectorDynamo/ConnectorDynamoFunctions/Functions.cs
  ConnectorGrasshopper/ConnectorGrasshopperShared/Ops/Operations.SendLocalComponent.cs
  Core/Core/Api/Helpers.cs
  Core/Core/Api/Operations/Operations.Send.cs
  Core/Core/Api/Operations/Operations.Serialize.cs
  Core/Core/Api/Operations/Operations.cs
  Core/Core/Kits/Applications.cs
  Core/Core/Serialisation/BaseObjectSerializerV2.cs
  Core/Core/Transports/Exceptions.cs
  Core/Core/Transports/ITransport.cs
  Core/Core/Transports/Memory.cs
  Core/Core/Transports/SQLite.cs
  Core/IntegrationTests/Api.cs
  Core/IntegrationTests/ServerTransportTests.cs
  Core/IntegrationTests/Subscriptions/Commits.cs
  Core/Tests/ClosureTests.cs
  Core/Tests/SendReceiveLocal.cs
  Core/Transports/DiskTransport/DiskTransport.cs
  DesktopUI2/DesktopUI2/ConnectorHelpers.cs
  Directory.Build.props
Due: core, rhino, revit, dynamo, autocadcivil, csi, bentley, teklastructures, archicad, navisworks

fix(sln): Added postProject build dependencies for missing connector (#3108)
  All.sln
Due: none

whitespace
  ConnectorNavisworks/ConnectorNavisworks/Bindings/ConnectorNavisworksBindings.Events.cs
Due: navisworks
