Repository specklesystems/speckle-sharp: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

# the path-filtering orb is required to continue a pipeline based on
# the path of an updated fileset
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.3.1
  python: circleci/python@2.0.3

jobs:
  setup:
    executor: python/default
    steps:
      - checkout # checkout code
      - path-filtering/set-parameters:
          mapping: |
            Core/.* run_core true
            (Core|Objects|ConnectorRhino|.*/ConverterRhinoGh)/.* rhino true
            (Core|Objects|ConnectorGrasshopper|.*/ConverterRhinoGh)/.* grasshopper true
            (Core|Objects|ConnectorRevit|.*/ConverterRevit)/.* revit true
            (Core|Objects|ConnectorDynamo|.*/ConverterDynamo)/.* dynamo true
            (Core|Objects|ConnectorAutocadCivil|.*/ConverterAutocadCivil)/.* autocadcivil true
            (Core|Objects|ConnectorCSI|.*/ConverterCSI)/.* csi true
            (Core|Objects|ConnectorMicroStation|.*/ConverterMicroStation)/.* microstation true
            (Core|Objects|ConnectorTeklaStructures|.*/ConverterTeklaStructures)/.* teklastructures true
            (Core|Objects|ConnectorArchicad)/.* archicad true
          base-revision: main
          output-path: .circleci/scripts/parameters.json
      - run:
          name: LS scripts folders
          command: ls .circleci/scripts
      - run: cat .circleci/scripts/parameters.json
      - run: pip install pyyaml
      - run: # run a command
          name: Generate config
          command: |
            python .circleci/scripts/config-generator.py
      - continuation/continue:
          configuration_path: .circleci/continuation-config.yml # use newly generated config to continue

workflows:
  setup:
    jobs:
      - setup

convert curves file reorg
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertCurves.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

assign appId to braces and element1D
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAnalyticalStick.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertBrace.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

add reference station to alignment to native method
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat(dyn): Receiver now tolerates conversion errors
  ConnectorDynamo/ConnectorDynamo/ReceiveNode/Receive.cs
  ConnectorDynamo/ConnectorDynamoFunctions/BatchConverter.cs
  ConnectorDynamo/ConnectorDynamoFunctions/Functions.cs
Due: dynamo

feat(dyn): MeshToNative uses `TriangulateMesh` now
  Objects/Converters/ConverterDynamo/ConverterDynamoShared/ConverterDynamo.Geometry.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(dyn): `::` is not supported on Dynamo dictionary keys
  ConnectorDynamo/ConnectorDynamoFunctions/BatchConverter.cs
Due: dynamo

feat(dyn): Added BatchConverter error handling to Local send/receive
  ConnectorDynamo/ConnectorDynamoFunctions/Developer/Local.cs
Due: dynamo

feat(dyn): Added BatchConverter error handling to Conversion nodes
  ConnectorDynamo/ConnectorDynamoFunctions/Developer/Conversion.cs
Due: dynamo

feat(dyn): Added BatchConverter error handling to Send node
  ConnectorDynamo/ConnectorDynamo/SendNode/Send.cs
  ConnectorDynamo/ConnectorDynamoFunctions/BatchConverter.cs
  ConnectorDynamo/ConnectorDynamoFunctions/Functions.cs
Due: dynamo

feat(objects): Added XML doc comments to Geometry types
  Core/Core/Kits/ISpeckleKit.cs
  Objects/Objects/Geometry/Arc.cs
  Objects/Objects/Geometry/Box.cs
  Objects/Objects/Geometry/Brep.cs
  Objects/Objects/Geometry/Point.cs
  Objects/Objects/Geometry/Vector.cs
  Objects/Objects/Interfaces.cs
  Objects/Objects/ObjectsKit.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Fix(Revit): Structural objects not updating (creating duplicates) (#1648)
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertAnalyticalStick.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertBrace.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

handles offset aligments
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Utils.cs
  Core/Core/Models/Extras.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/Converter.AutocadCivil.Utils.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.cs
  Objects/Objects/BuiltElements/Alignment.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Set Phase_created on receive
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fixed bake bug for already baked objs
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
Due: autocadcivil

switch default added
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Try set phase
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(dyn): Minor changes in error reporting for send/receive
  ConnectorDynamo/ConnectorDynamo/ReceiveNode/Receive.cs
  ConnectorDynamo/ConnectorDynamo/SendNode/Send.cs
Due: dynamo

fix(dyn): BatchConverter now remembers Kit to pick types from
  ConnectorDynamo/ConnectorDynamoFunctions/BatchConverter.cs
Due: dynamo

fix(core): Disable sentry log in StreamWrapper validation
  Core/Core/Credentials/StreamWrapper.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(core): Modified error message for dynamic setting of props
  Core/Core/Models/DynamicBase.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(core): `CountDescendants` was still counting obsolete and jsonignored attrs
  Core/Core/Models/Base.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

added obsolete alignment basecurve prop back for now
  Objects/Objects/BuiltElements/Alignment.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

Dui/improvements (#1627)
  Core/Core/Api/GraphQL/Models.cs
  Core/Core/Api/Helpers.cs
  DesktopUI2/DesktopUI2/DesktopUI2.csproj
  DesktopUI2/DesktopUI2/Styles/Button.xaml
  DesktopUI2/DesktopUI2/Styles/Text.xaml
  DesktopUI2/DesktopUI2/ViewModels/AccountViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/HomeViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/Share/CollaboratorsViewModel.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  DesktopUI2/DesktopUI2/Views/Converters/RoleCanShareValueConverter.cs
  DesktopUI2/DesktopUI2/Views/Converters/RoleValueConverter.cs
  DesktopUI2/DesktopUI2/Views/Pages/HomeControls/SavedStreams.xaml
  DesktopUI2/DesktopUI2/Views/Pages/HomeView.xaml
  DesktopUI2/DesktopUI2/Views/Pages/ShareControls/ChangeRoleDialog.xaml
  DesktopUI2/DesktopUI2/Views/Pages/ShareControls/ChangeRoleDialog.xaml.cs
  DesktopUI2/DesktopUI2/Views/Pages/ShareControls/CollaboratorsView.xaml
  DesktopUI2/DesktopUI2/Views/Pages/StreamEditControls/Report.xaml
  DesktopUI2/DesktopUI2/Views/Pages/StreamEditView.xaml
  DesktopUI2/DesktopUI2/Views/Scheduler.xaml
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

updates
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertNetwork.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertPipe.cs
  Objects/Objects/Organization/NetworkElement.cs
  Objects/Objects/Organization/NetworkLink.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(dyn): Refactored DictionaryToBase for dyn dictionaries
  ConnectorDynamo/ConnectorDynamoFunctions/BatchConverter.cs
Due: dynamo

feat(objects): Removed all traces of `displayMesh`
  All.sln
  Objects/Objects/BuiltElements/Area.cs
  Objects/Objects/BuiltElements/Beam.cs
  Objects/Objects/BuiltElements/Brace.cs
  Objects/Objects/BuiltElements/Ceiling.cs
  Objects/Objects/BuiltElements/Column.cs
  Objects/Objects/BuiltElements/Duct.cs
  Objects/Objects/BuiltElements/Floor.cs
  Objects/Objects/BuiltElements/Pipe.cs
  Objects/Objects/BuiltElements/Rebar.cs
  Objects/Objects/BuiltElements/Revit/AdaptiveComponent.cs
  Objects/Objects/BuiltElements/Revit/BuildingPad.cs
  Objects/Objects/BuiltElements/Revit/DirectShape.cs
  Objects/Objects/BuiltElements/Revit/FamilyInstance.cs
  Objects/Objects/BuiltElements/Revit/FreeformElement.cs
  Objects/Objects/BuiltElements/Revit/RevitElement.cs
  Objects/Objects/BuiltElements/Revit/RevitRailing.cs
  Objects/Objects/BuiltElements/Revit/RevitStair.cs
  Objects/Objects/BuiltElements/Roof.cs
  Objects/Objects/BuiltElements/Room.cs
  Objects/Objects/BuiltElements/Space.cs
  Objects/Objects/BuiltElements/Structure.cs
  Objects/Objects/BuiltElements/Topography.cs
  Objects/Objects/BuiltElements/Wall.cs
  Objects/Objects/Geometry/Brep.cs
  Objects/Objects/Interfaces.cs
  Objects/Objects/Structural/Geometry/Element1D.cs
  Objects/Objects/Structural/Geometry/Element2D.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat(civil3d): update alignments on receive (#1652)
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Utils.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  Core/Core/Models/Extras.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/Converter.AutocadCivil.Utils.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.Civil.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.cs
  Objects/Objects/BuiltElements/Alignment.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

removed displaymesh related comments
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(dyn): Removed lingering `displayMesh` ref
  Objects/Converters/ConverterDynamo/ConverterDynamoShared/ConverterDynamo.Geometry.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat: Removed condition for `displayMesh` in Microstation and Archicad connectors
  ConnectorArchicad/ConnectorArchicad/Converters/ElementConverterManager.cs
  ConnectorMicroStation/ConnectorMicroStationOpenShared/UI/Bindings2.cs
Due: microstation, archicad

Fix(Revit): update different forms of polylines coming into Revit from other applications (#1647)
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConversionUtils.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/Partial Classes/ConvertCurves.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat(Objects): Adds XML comments to some geometry classes + minor cleanup (#1650)
  Core/Core/Kits/ISpeckleKit.cs
  Objects/Converters/ConverterDynamo/ConverterDynamoRevit/ConverterDynamoRevit.csproj
  Objects/Converters/ConverterRevit/ConverterRevit2019/ConverterRevit2019.csproj
  Objects/Converters/ConverterRevit/ConverterRevit2020/ConverterRevit2020.csproj
  Objects/Converters/ConverterRevit/ConverterRevit2021/ConverterRevit2021.csproj
  Objects/Converters/ConverterRevit/ConverterRevit2022/ConverterRevit2022.csproj
  Objects/Objects/Geometry/Arc.cs
  Objects/Objects/Geometry/Box.cs
  Objects/Objects/Geometry/Brep.cs
  Objects/Objects/Geometry/Point.cs
  Objects/Objects/Geometry/Vector.cs
  Objects/Objects/Interfaces.cs
  Objects/Objects/ObjectsKit.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat(revit): keep track of what sourceApp it's receiving from
  ConnectorRevit/ConnectorRevit/UI/ConnectorBindingsRevit2/ConnectorBindingsRevit2.Receive.cs
  DesktopUI2/DesktopUI2/Models/StreamState.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
Due: revit

feat(objects): Completely removes `IDisplayMesh` and all it's implementations (#1654)
  All.sln
  ConnectorArchicad/ConnectorArchicad/Converters/ElementConverterManager.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
  ConnectorMicroStation/ConnectorMicroStationOpenShared/UI/Bindings2.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.cs
  Objects/Converters/ConverterDynamo/ConverterDynamoShared/ConverterDynamo.Geometry.cs
  Objects/Objects/BuiltElements/Area.cs
  Objects/Objects/BuiltElements/Beam.cs
  Objects/Objects/BuiltElements/Brace.cs
  Objects/Objects/BuiltElements/Ceiling.cs
  Objects/Objects/BuiltElements/Column.cs
  Objects/Objects/BuiltElements/Duct.cs
  Objects/Objects/BuiltElements/Floor.cs
  Objects/Objects/BuiltElements/Pipe.cs
  Objects/Objects/BuiltElements/Rebar.cs
  Objects/Objects/BuiltElements/Revit/AdaptiveComponent.cs
  Objects/Objects/BuiltElements/Revit/BuildingPad.cs
  Objects/Objects/BuiltElements/Revit/DirectShape.cs
  Objects/Objects/BuiltElements/Revit/FamilyInstance.cs
  Objects/Objects/BuiltElements/Revit/FreeformElement.cs
  Objects/Objects/BuiltElements/Revit/RevitElement.cs
  Objects/Objects/BuiltElements/Revit/RevitRailing.cs
  Objects/Objects/BuiltElements/Revit/RevitStair.cs
  Objects/Objects/BuiltElements/Roof.cs
  Objects/Objects/BuiltElements/Room.cs
  Objects/Objects/BuiltElements/Space.cs
  Objects/Objects/BuiltElements/Structure.cs
  Objects/Objects/BuiltElements/Topography.cs
  Objects/Objects/BuiltElements/Wall.cs
  Objects/Objects/Geometry/Brep.cs
  Objects/Objects/Interfaces.cs
  Objects/Objects/Structural/Geometry/Element1D.cs
  Objects/Objects/Structural/Geometry/Element2D.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(objects): Removed non IDisplayMesh `displayMesh` properties
  Objects/Objects/BuiltElements/TeklaStructures/Bolts.cs
  Objects/Objects/BuiltElements/TeklaStructures/TeklaContourPlate.cs
  Objects/Objects/BuiltElements/TeklaStructures/Welds.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

fix(objects): Removed non IDisplayMesh `displayMesh` properties (#1657)
  Objects/Objects/BuiltElements/TeklaStructures/Bolts.cs
  Objects/Objects/BuiltElements/TeklaStructures/TeklaContourPlate.cs
  Objects/Objects/BuiltElements/TeklaStructures/Welds.cs
Due: rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat(all): tracks sourceApps on receive and refractors the HostApplications class
  All.sln
  ConnectorAutocadCivil/ConnectorAutocadCivil/UI/ConnectorBindingsAutocadCivil.cs
  ConnectorAutocadCivil/ConnectorAutocadCivil/Utils.cs
  ConnectorCSI/ConnectorCSIShared/UI/ConnectorBindingsCSI.Recieve.cs
  ConnectorDynamo/ConnectorDynamoExtension/SpeckleExtension.cs
  ConnectorDynamo/ConnectorDynamoFunctions/Functions.cs
  ConnectorDynamo/ConnectorDynamoFunctions/Utils.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Extras/Utilities.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Loader.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Ops/Deprecated/Operations.ReceiveComponentSync.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Ops/Operations.SyncReceiveComponent.cs
  ConnectorGrasshopper/ConnectorGrasshopper/Ops/Operations.VariableInputReceiveComponent.cs
  ConnectorMicroStation/ConnectorMicroStationOpenShared/UI/Bindings2.cs
  ConnectorMicroStation/ConnectorMicroStationOpenShared/Utils.cs
  ConnectorRevit/ConnectorRevit/ConnectorRevitUtils.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/UI/ConnectorBindingsRhino.cs
  ConnectorRhino/ConnectorRhino/ConnectorRhinoShared/Utils.cs
  ConnectorTeklaStructures/ConnectorTeklaStructures2020/Properties/AssemblyInfo.cs
  ConnectorTeklaStructures/ConnectorTeklaStructures2021/Properties/AssemblyInfo.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/UI/ConnectorBindingsTeklaStructures.Receive.cs
  ConnectorTeklaStructures/ConnectorTeklaStructuresShared/Util/ConnectorTeklaStructuresUtils.cs
  Core/Core/Api/Helpers.cs
  Core/Core/Kits/Applications.cs
  Core/Core/Logging/Setup.cs
  DesktopUI2/DesktopUI2/ViewModels/StreamViewModel.cs
  Objects/Converters/ConverterAutocadCivil/ConverterAutocadCivilShared/ConverterAutocadCivil.cs
  Objects/Converters/ConverterCSI/ConverterCSIShared/ConverterCSI.cs
  Objects/Converters/ConverterDxf/ConverterDxf/SpeckleDxfConverter.cs
  Objects/Converters/ConverterDynamo/ConverterDynamoShared/ConverterDynamo.cs
  Objects/Converters/ConverterMicroStation/ConverterMicroStationOpenShared/ConverterMicroStationOpen.cs
  Objects/Converters/ConverterRevit/ConverterRevitShared/ConverterRevit.cs
  Objects/Converters/ConverterRhinoGh/ConverterRhinoGhShared/ConverterRhinoGh.cs
  Objects/Converters/ConverterTeklaStructures/ConverterTeklaStructuresShared/ConverterTeklaStructures.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat(core): adds missing host apps
  Core/Core/Kits/Applications.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

no message
  Core/Core/Kits/Applications.cs
Due: run_core, rhino, grasshopper, revit, dynamo, autocadcivil, csi, microstation, teklastructures, archicad

feat(archicad): appname
  ConnectorArchicad/ConnectorArchicad/ConnectorBinding.cs
Due: archicad
